n8n/workflows/f03-score-founder.json
{
 "name": "f03-score-founder",
 "nodes": [
  {
   "parameters": {
    "httpMethod": "POST",
    "path": "f03-score-founder",
    "responseMode": "lastNode",
    "options": {}
   },
   "id": "5bb07c83-9f8f-4b91-9472-665dcf085abf",
   "name": "Webhook Trigger",
   "type": "n8n-nodes-base.webhook",
   "typeVersion": 2.1,
   "position": [
    -460,
    -140
   ],
   "webhookId": "93f59ca6-59b1-4de1-887c-85730561b20b"
  },
  {
   "parameters": {},
   "id": "94eca2d2-2901-428e-b6a9-b7f791f68499",
   "name": "Execute Workflow Trigger",
   "type": "n8n-nodes-base.executeWorkflowTrigger",
   "typeVersion": 1,
   "position": [
    -460,
    140
   ]
  },
  {
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "// Webhook body carries { founder_id }. application_id is deliberately NOT an input --\n// design.md SS4/SS9: 03 scores the PERSON, not an application.\nconst item = $input.first().json;\nconst body = item.body || {};\nconst founder_id = body.founder_id || item.founder_id;\nif (!founder_id) throw new Error('f03-score-founder: founder_id is required');\nreturn [{ json: { founder_id } }];\n"
   },
   "id": "171170f1-1a17-44e5-bbb9-71c0ce0dff97",
   "name": "Normalize Webhook Input",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    -180,
    -140
   ]
  },
  {
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "// Called by 02 (radar) / 08 (intake) as a sub-workflow with { founder_id }.\nconst item = $input.first().json || {};\nconst founder_id = item.founder_id;\nif (!founder_id) throw new Error('f03-score-founder: founder_id is required');\nreturn [{ json: { founder_id } }];\n"
   },
   "id": "f3ab7240-57f3-4737-83a3-936f92a213f7",
   "name": "Normalize Sub-workflow Input",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    -180,
    140
   ]
  },
  {
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "// One UUID per run of f03-score-founder (design.md SS4.9) -- echoed into every\n// ai_runs.output_json below so the four ledger rows join to the components.\n// require('crypto') is allow-listed in infra/n8n/docker-compose.yml\n// (NODE_FUNCTION_ALLOW_BUILTIN=crypto,url), shared with feature 04.\nconst { randomUUID } = require('crypto');\nconst inp = $input.first().json;\nreturn [{ json: { founder_id: inp.founder_id, run_id: randomUUID() } }];\n"
   },
   "id": "8fec4515-a70d-4f11-9302-da6d52393105",
   "name": "Generate run_id",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    60,
    0
   ]
  },
  {
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "const SB = String($env.SUPABASE_URL || '').replace(/\\/rest\\/v1\\/?$/, ''), KEY = $env.SUPABASE_SERVICE_ROLE_KEY;\nasync function pgGet(path) {\n  return await this.helpers.httpRequest({\n    method: 'GET', url: SB + '/rest/v1/' + path,\n    headers: { apikey: KEY, Authorization: 'Bearer ' + KEY }, json: true,\n  });\n}\nconst inp = $input.first().json;\nconst founders = await pgGet.call(this,\n  'founders?id=eq.' + inp.founder_id + '&select=id,full_name,headline,location_country');\nconst founder = founders[0] || { id: inp.founder_id, full_name: null, headline: null, location_country: null };\n\n// founder_company.is_current is the mechanism (design.md 01 SS5.3) by which the score\n// follows a person across companies -- 'current company' means is_current=true.\nconst fc = await pgGet.call(this,\n  'founder_company?founder_id=eq.' + inp.founder_id +\n  '&is_current=eq.true&select=companies(name,one_liner,category,stage)&limit=1');\nconst company = (fc[0] && fc[0].companies) ||\n  { name: null, one_liner: null, category: null, stage: null };\n\nreturn [{ json: { ...inp, founder, company } }];\n"
   },
   "id": "ab858823-741e-424e-91c0-d14c7f7b4709",
   "name": "Fetch founder + company",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    340,
    0
   ]
  },
  {
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "const SB = String($env.SUPABASE_URL || '').replace(/\\/rest\\/v1\\/?$/, ''), KEY = $env.SUPABASE_SERVICE_ROLE_KEY;\nasync function pgGet(path) {\n  return await this.helpers.httpRequest({\n    method: 'GET', url: SB + '/rest/v1/' + path,\n    headers: { apikey: KEY, Authorization: 'Bearer ' + KEY }, json: true,\n  });\n}\nconst inp = $input.first().json;\n// design.md SS4.1: claims JOIN cards (WHERE cards.founder_id = $1) LEFT JOIN evidence\n// LEFT JOIN raw_signals. PostgREST resource embedding does this in one request:\n//  - cards!inner(founder_id) + cards.founder_id=eq.<id> filters through the join\n//    (the '!inner' hint is required for PostgREST to let a top-level filter reference\n//    an embedded resource).\n//  - evidence(...) embeds the one-to-many child rows as an array per claim -- \"a claim\n//    may have MULTIPLE evidence rows\" (task brief) falls out of this for free.\n//  - raw_signals(source) is nested INSIDE each evidence row via evidence.raw_signal_id;\n//    PostgREST returns `raw_signals: null` when that FK is null (verified live against\n//    the fixture DB before wiring this in), giving the required\n//    \"evidence.source must be the JOINED raw_signals.source, null when raw_signal_id is\n//    null\" without a second round trip.\nconst select = 'id,topic,text_verbatim,source_kind,created_at,cards!inner(founder_id),' +\n  'evidence(id,tier,quote_verbatim,source_url,raw_signal_id,raw_signals(source))';\nconst claims = await pgGet.call(this,\n  'claims?select=' + select + '&cards.founder_id=eq.' + inp.founder_id);\nreturn [{ json: { ...inp, claims } }];\n"
   },
   "id": "9bd3fbcd-b321-41fb-8204-622fb4cdeac5",
   "name": "Fetch claims + cards + evidence + raw_signals",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    620,
    0
   ]
  },
  {
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "const SB = String($env.SUPABASE_URL || '').replace(/\\/rest\\/v1\\/?$/, ''), KEY = $env.SUPABASE_SERVICE_ROLE_KEY;\nasync function pgGet(path) {\n  return await this.helpers.httpRequest({\n    method: 'GET', url: SB + '/rest/v1/' + path,\n    headers: { apikey: KEY, Authorization: 'Bearer ' + KEY }, json: true,\n  });\n}\nconst inp = $input.first().json;\nconst rows = await pgGet.call(this,\n  'score_formulas?axis=eq.founder_score&active=eq.true&select=version,config&limit=1');\nif (!rows || !rows.length) {\n  throw new Error('f03-score-founder: no active score_formulas row for axis=founder_score');\n}\n// scoring.js's trend guard (SS4.5) compares config.version against the previous scores\n// row's formula_version -- but `version` lives OUTSIDE `config` in score_formulas\n// (schema.sql). Fold it into the config object here, once, for every downstream reader\n// (GATE, AGGREGATE, the scores-row write, the output contract) to share.\nconst formula_config = { ...rows[0].config, version: rows[0].version };\nreturn [{ json: { ...inp, formula_config } }];\n"
   },
   "id": "11284a1d-0581-4aa8-b6fa-987bcc61bbe1",
   "name": "Load active score_formulas",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    900,
    0
   ]
  },
  {
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "// design.md SS4.7: route each claim by claims.topic PREFIX into its sub-scorer's pack;\n// red-flags always gets the union of every claim (cross-cutting visibility to spot\n// contradictions). A claim matching no prefix is never dropped -- plan.md task C1:\n// \"unmatched topic -> union pack (never dropped)\" -- broadcast into EVERY positive\n// sub-scorer's pack (not just red-flags), because a claim silently invisible to every\n// scored criterion is exactly the starvation SS4.7 warns against; red-flags already sees\n// it unconditionally either way.\nconst TIER_RANK = { documented: 3, discovered: 2, inferred: 1, missing: 0 };\nfunction bestTierRank(claim) {\n  var best = -1;\n  (claim.evidence || []).forEach(function (e) {\n    var r = TIER_RANK.hasOwnProperty(e.tier) ? TIER_RANK[e.tier] : -1;\n    if (r > best) best = r;\n  });\n  return best;\n}\n\nconst inp = $input.first().json;\nconst cfg = inp.formula_config || {};\nconst routing = cfg.topic_routing || {};\nconst prefixMap = routing.prefix_map || {};\nconst cap = cfg.max_claims_per_agent || 40;\n\n// Normalize into gate.js's contextPacks claim shape, pre-joining raw_signals.source onto\n// each evidence entry (design SS4.1 -- \"PRE-JOINED by the caller -- gate.js does no DB\n// access\", per lib/f03/gate.js's own header contract).\nconst normClaims = (inp.claims || []).map(function (c) {\n  return {\n    claim_id: c.id,\n    text_verbatim: c.text_verbatim,\n    topic: c.topic,\n    source_kind: c.source_kind,\n    created_at: c.created_at,\n    evidence: (c.evidence || []).map(function (e) {\n      return {\n        tier: e.tier,\n        quote_verbatim: e.quote_verbatim,\n        source_url: e.source_url,\n        raw_signal_id: e.raw_signal_id || null,\n        source: (e.raw_signals && e.raw_signals.source) || null,\n      };\n    }),\n  };\n});\n\nconst positiveNames = ['execution-signals', 'expertise-signals', 'leadership-sales-proxies'];\nconst buckets = { 'execution-signals': [], 'expertise-signals': [], 'leadership-sales-proxies': [] };\nconst unmatched = [];\nnormClaims.forEach(function (c) {\n  var routed = null;\n  Object.keys(prefixMap).some(function (prefix) {\n    if (c.topic && c.topic.indexOf(prefix) === 0) { routed = prefixMap[prefix]; return true; }\n    return false;\n  });\n  if (routed && buckets[routed]) buckets[routed].push(c);\n  else unmatched.push(c);\n});\n\n// Cap: max_claims_per_agent, ordered by evidence.tier (documented -> discovered ->\n// inferred) then claims.created_at desc (design SS4.7).\nfunction sortAndCap(list) {\n  var sorted = list.slice().sort(function (a, b) {\n    var rb = bestTierRank(b) - bestTierRank(a);\n    if (rb !== 0) return rb;\n    return new Date(b.created_at) - new Date(a.created_at);\n  });\n  return sorted.slice(0, cap);\n}\n\nconst packs = {};\npositiveNames.forEach(function (name) {\n  var combined = sortAndCap(buckets[name].concat(unmatched));\n  packs[name] = { claim_ids: combined.map(function (c) { return c.claim_id; }), claims: combined };\n});\nvar redFlagCombined = sortAndCap(normClaims); // union of ALL claims, uncapped concern removed by cap\npacks['red-flags'] = {\n  claim_ids: redFlagCombined.map(function (c) { return c.claim_id; }),\n  claims: redFlagCombined,\n};\n\nreturn [{ json: { ...inp, packs } }];\n"
   },
   "id": "a2f272aa-b54d-4d16-9650-204f5189c20f",
   "name": "Build 4 routed context packs",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    1180,
    0
   ]
  },
  {
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "// SOURCE OF TRUTH: docs/backlog/03-founder-score/agents/execution-signals.md -- system prompt and\n// JSON schema pasted verbatim. Edit there and re-run n8n/build-f03-workflow.py, not here.\nconst SYS = \"<prompt>\\n<title># FOUNDER EXECUTION-SIGNAL ASSESSOR</title>\\n\\n<description>\\nYOU ARE A FORENSIC ASSESSOR OF ENGINEERING EXECUTION, EMBEDDED IN AN EARLY-STAGE VENTURE CAPITAL\\nSYSTEM. YOU EVALUATE FOUNDERS AT THE PRE-SEED STAGE WHO TYPICALLY HAVE NO TRACK RECORD, NO REVENUE,\\nAND NO FUNDING HISTORY. YOUR SOLE JOB IS TO DECIDE, FOR EACH OF FIVE FIXED CRITERIA, WHETHER THE\\nSUPPLIED EVIDENCE SUPPORTS IT \\u2014 AND TO CITE THE EXACT CLAIM THAT DECIDED IT.\\n\\nYOU ARE NOT WRITING FOR A HUMAN. Your output is consumed by a deterministic backend that computes\\nthe score. You never produce a number, a ranking, or a recommendation.\\n\\nCRITICAL CONTEXT ABOUT 2026: A working demo is now nearly costless to produce. AI coding assistants\\nmean that \\\"there is a prototype\\\" no longer distinguishes a capable founder from an incapable one.\\nThe signal has moved OUT of the artifact and INTO the trail around it: what was reviewed, what was\\ncorrected, what survived contact with real users, and whether the person kept showing up. You judge\\nthat trail.\\n</description>\\n\\n<instructions>\\n## INSTRUCTIONS\\n\\n<validation>\\n1. Read the context pack. If it contains zero claims, return every criterion as \\\"cannot_assess\\\"\\n   with an appropriate \\\"what_would_close_it\\\". Do not invent claims. Do not reason from the\\n   founder's name, company name, or location.\\n</validation>\\n\\n<processing>\\n2. For EACH of the five criteria (E1, E3, E4, E5, E7), independently:\\n   2.1. Search the claims for evidence bearing on that criterion specifically.\\n   2.2. Write your reasoning FIRST, naming which claims you examined.\\n   2.3. Only then select a verdict from the four allowed values.\\n   2.4. If the verdict is \\\"met\\\" or \\\"self_asserted\\\", list the deciding claim_ids and copy one\\n        EXACT substring from a cited claim's text_verbatim or one of its evidence quote_verbatim\\n        values into quote_verbatim.\\n   2.5. If the verdict is \\\"cannot_assess\\\", write what specific artifact or data would settle it.\\n3. Judge each criterion ONLY against its own definition. Do not let a strong E4 raise E1.\\n4. Judge content, not language or formatting. A terse, unformatted, non-English claim is worth\\n   exactly as much as a polished English one.\\n</processing>\\n\\n<formatting>\\n5. Return valid JSON only, matching the output schema. No markdown fence, no preamble, no commentary.\\n</formatting>\\n</instructions>\\n\\n<criteria>\\n## THE FIVE CRITERIA \\u2014 ANCHORED DEFINITIONS\\n\\n### E1 \\u2014 Merged pull request into a repository the founder does not own, within 12 months\\n- \\\"met\\\" \\u2014 evidence of a PR authored by the founder and MERGED into a repo owned by someone else.\\n- NOT met by: PRs to their own repos; opened-but-unmerged PRs; forks; stars given.\\n- Why it matters: contributing to someone else's codebase means passing someone else's review.\\n  That is a capability signal that cannot be self-issued.\\n\\n### E3 \\u2014 Sustained commit cadence: activity present in at least 8 of the last 12 weeks\\n- \\\"met\\\" \\u2014 evidence of activity spread across most weeks in the recent window.\\n- NOT met by: a single large burst; a one-weekend project; total commit COUNT however large.\\n- Explicitly ignore: total number of commits, lines of code, contribution-graph appearance.\\n  These are volume metrics and are trivially manufactured. You are judging CONSISTENCY only.\\n\\n### E4 \\u2014 A live production URL responds \\u2014 not merely a repository\\n- \\\"met\\\" \\u2014 evidence that a deployed, reachable product exists at a URL (uptime, a working demo, a\\n  live service), distinct from source code being published.\\n- NOT met by: a GitHub repo alone; a README with screenshots; \\\"coming soon\\\"; a design mockup.\\n- Why: shipping to production is the boundary between building and delivering.\\n\\n### E5 \\u2014 Measured external usage: forks, dependents, downloads, transactions, or real users\\n- \\\"met\\\" \\u2014 evidence of OTHER PEOPLE actually using the thing: dependent packages, download counts,\\n  transaction volume, named users.\\n- NOT met by: GitHub stars. Stars are a bookmark, not usage, and are purchasable. Also not met by\\n  follower counts, upvotes, or press mentions.\\n- Why: distribution is the scarce signal in 2026; build capability is not.\\n\\n### E7 \\u2014 Provenance is clean\\n- \\\"met\\\" \\u2014 evidence consistent with the founder genuinely having authored their flagship work:\\n  first-commit date compatible with the account's age, no earlier external source for the same\\n  content, coherent authorship history.\\n- \\\"not_met\\\" \\u2014 evidence of copied, backdated, or misattributed work.\\n- If the pack contains no provenance information at all, this is \\\"cannot_assess\\\", NOT \\\"met\\\".\\n  Absence of evidence of fraud is not evidence of clean provenance.\\n</criteria>\\n\\n<verdicts>\\n## THE FOUR VERDICTS \\u2014 choose exactly one per criterion\\n\\n- \\\"met\\\" \\u2014 a claim in the pack, corroborated by evidence, supports the criterion.\\n- \\\"self_asserted\\\" \\u2014 the founder (or their materials) CLAIMS this, but nothing independent\\n  corroborates it. Use this whenever the only support is the founder's own word.\\n- \\\"not_met\\\" \\u2014 you have evidence from a competent source showing the criterion is NOT satisfied.\\n  Use this only when absence was actually OBSERVED, not merely unmentioned.\\n- \\\"cannot_assess\\\" \\u2014 the pack contains nothing that bears on this criterion.\\n\\n\\\"cannot_assess\\\" IS A CORRECT AND VALUABLE ANSWER. It is not a failure and it is not penalised.\\nA founder we know nothing about must produce honest silence, never a low judgement. Choosing\\n\\\"not_met\\\" when you simply did not find anything is the single most damaging error you can make in\\nthis system \\u2014 it converts \\\"we did not look\\\" into \\\"this person lacks the capability\\\".\\n</verdicts>\\n\\n<chain_of_thoughts>\\n## CHAIN OF THOUGHTS\\n1. Inventory: list which claims exist and what each is about.\\n2. Per criterion, in order E1, E3, E4, E5, E7:\\n   2.1. Which claims are relevant to THIS criterion?\\n   2.2. Is the support corroborated by evidence, or only asserted by the founder?\\n   2.3. If nothing is relevant \\u2014 is that because absence was observed, or because nobody looked?\\n        Observed absence \\u2192 \\\"not_met\\\". Nobody looked \\u2192 \\\"cannot_assess\\\".\\n   2.4. Select the verdict. Identify the deciding claim_ids.\\n   2.5. Copy an exact quote. Verify character-for-character that it appears in the cited claim.\\n3. Self-check before emitting: did any criterion's verdict get influenced by another criterion?\\n   If so, re-judge it alone.\\n</chain_of_thoughts>\\n\\n<restrictions>\\n## WHAT NOT TO DO\\n- NEVER return \\\"met\\\" without at least one claim_id. An uncited \\\"met\\\" is discarded by the backend.\\n- NEVER paraphrase inside quote_verbatim. It must be a character-exact substring of a cited claim's\\n  text or evidence quote. Paraphrase belongs in \\\"rationale\\\". This separation exists because LLM\\n  paraphrase systematically re-centres unusual language toward the median \\u2014 and unusual is exactly\\n  what an early-stage investor is hunting for.\\n- NEVER use \\\"not_met\\\" as a synonym for \\\"I did not find it\\\". That is \\\"cannot_assess\\\".\\n- NEVER score GitHub stars, follower counts, upvotes, or total commit volume as positive evidence.\\n- NEVER reward the founder for prestigious employers, elite universities, or prior funding. Those\\n  signals are excluded from this system by design; they empirically predict UNDERPERFORMING\\n  investments and reproduce survivorship bias.\\n- NEVER infer capability from the founder's name, gender, nationality, age, or photograph. None of\\n  these should be in the pack; if you encounter them, ignore them entirely.\\n- NEVER assign an evidence tier, a credit, a weight, or any number. The backend owns all arithmetic.\\n- NEVER output anything but the JSON object \\u2014 no markdown fence, no explanation before or after.\\n- NEVER let a well-written claim outrank a badly-written one on the same underlying fact.\\n</restrictions>\\n\\n<output_format>\\n## OUTPUT FORMAT\\nReturn valid JSON only:\\n{\\n  \\\"subscorer\\\": \\\"execution-signals\\\",\\n  \\\"verdicts\\\": [\\n    {\\n      \\\"criterion_id\\\": \\\"E1\\\",\\n      \\\"reasoning\\\": \\\"string \\u2014 your analysis, written BEFORE you chose the verdict\\\",\\n      \\\"verdict\\\": \\\"met\\\" | \\\"self_asserted\\\" | \\\"not_met\\\" | \\\"cannot_assess\\\",\\n      \\\"claim_ids\\\": [\\\"uuid\\\", ...],\\n      \\\"quote_verbatim\\\": \\\"string \\u2014 exact substring of a cited claim, or null\\\",\\n      \\\"rationale\\\": \\\"string \\u2014 your interpretation, kept separate from the quote\\\",\\n      \\\"what_would_close_it\\\": \\\"string \\u2014 required when cannot_assess, else null\\\"\\n    }\\n  ]\\n}\\nExactly five objects, one per criterion, in the order E1, E3, E4, E5, E7.\\n</output_format>\\n\\n<examples>\\n## FEW-SHOT EXAMPLES\\n(All examples are invented. They deliberately do not describe any real person \\u2014 pattern-matching\\non real founders is how survivorship bias enters a scoring system.)\\n\\nDesired Example 1 \\u2014 corroborated positive\\nClaims: [{claim_id: \\\"a1\\\", topic: \\\"founder.execution.merged_prs\\\", text_verbatim: \\\"Authored 7 pull\\nrequests merged into the upstream `datafuse` repository between March and October 2026.\\\",\\nsource_kind: \\\"public\\\", raw_signal_source: \\\"github_api\\\", evidence: [{tier: \\\"documented\\\",\\nquote_verbatim: \\\"7 pull requests merged into the upstream `datafuse` repository\\\", source_url:\\n\\\"https://github.com/...\\\"}]}]\\nOutput for E1:\\n{\\\"criterion_id\\\":\\\"E1\\\",\\\"reasoning\\\":\\\"Claim a1 reports merged PRs into an upstream repository the\\nfounder does not own, sourced from the GitHub API and carrying documented evidence. Merged, not\\nmerely opened; foreign repo, not their own. This is exactly what E1 asks for.\\\",\\\"verdict\\\":\\\"met\\\",\\n\\\"claim_ids\\\":[\\\"a1\\\"],\\\"quote_verbatim\\\":\\\"7 pull requests merged into the upstream `datafuse`\\nrepository\\\",\\\"rationale\\\":\\\"Sustained upstream contribution over ~8 months implies the founder's code\\nrepeatedly passed external review.\\\",\\\"what_would_close_it\\\":null}\\nWhy: corroborated by a documented source, quote is character-exact, reasoning precedes verdict.\\n\\nDesired Example 2 \\u2014 the honest gap\\nClaims: (pack contains only claims about a personal website and a pitch deck; nothing about\\ndeployment or uptime)\\nOutput for E4:\\n{\\\"criterion_id\\\":\\\"E4\\\",\\\"reasoning\\\":\\\"No claim in the pack refers to a deployed product, a live URL,\\nuptime, or a reachable service. The website claims describe a marketing page, not a running\\nproduct. Nothing here observes the absence of a deployment either \\u2014 the question simply was not\\ninvestigated.\\\",\\\"verdict\\\":\\\"cannot_assess\\\",\\\"claim_ids\\\":[],\\\"quote_verbatim\\\":null,\\\"rationale\\\":null,\\n\\\"what_would_close_it\\\":\\\"An HTTP check against a product URL, or any claim evidencing a deployed\\nenvironment (status page, changelog, live demo link).\\\"}\\nWhy: nothing was found AND nothing observed the absence \\u2192 cannot_assess, with a concrete action\\nthat would settle it. This costs the founder confidence, never score.\\n\\nDesired Example 3 \\u2014 uncorroborated founder claim\\nClaims: [{claim_id: \\\"c9\\\", topic: \\\"founder.execution.usage\\\", text_verbatim: \\\"Our tool is used daily\\nby over 400 engineers.\\\", source_kind: \\\"self_reported\\\", raw_signal_source: \\\"deck_parse\\\",\\nevidence: [{tier: \\\"inferred\\\", quote_verbatim: \\\"used daily by over 400 engineers\\\", source_url:\\n\\\"deck.pdf\\\"}]}]\\nOutput for E5:\\n{\\\"criterion_id\\\":\\\"E5\\\",\\\"reasoning\\\":\\\"Claim c9 asserts 400 daily users, but the only evidence is the\\nfounder's own pitch deck. No download count, dependent repository, transaction record or named\\ncustomer corroborates it. The claim is plausible but unverified.\\\",\\\"verdict\\\":\\\"self_asserted\\\",\\n\\\"claim_ids\\\":[\\\"c9\\\"],\\\"quote_verbatim\\\":\\\"used daily by over 400 engineers\\\",\\\"rationale\\\":\\\"Usage is\\nclaimed at a meaningful scale but rests entirely on self-report; independent confirmation is\\nneeded before this counts as measured adoption.\\\",\\\"what_would_close_it\\\":null}\\nWhy: the distinction between \\\"claimed\\\" and \\\"corroborated\\\" is the whole point of this verdict.\\n\\nUndesired Example 1 \\u2014 the cardinal error\\nClaims: (no GitHub data of any kind in the pack)\\nOutput for E1:\\n{\\\"criterion_id\\\":\\\"E1\\\",\\\"verdict\\\":\\\"not_met\\\",\\\"reasoning\\\":\\\"No merged pull requests found.\\\",...}\\nWhy this is wrong: nothing in the pack OBSERVED the absence of merged PRs \\u2014 GitHub was simply\\nnever consulted. \\\"not_met\\\" asserts a fact about the founder; \\\"cannot_assess\\\" reports a fact about\\nour data. Confusing them punishes a founder for our own missing crawl, which this system exists to\\nprevent. Correct answer: \\\"cannot_assess\\\".\\n\\nUndesired Example 2 \\u2014 vanity metric and paraphrase\\nClaims: [{claim_id: \\\"b2\\\", text_verbatim: \\\"The repository has 3,200 stars.\\\", ...}]\\nOutput for E5:\\n{\\\"criterion_id\\\":\\\"E5\\\",\\\"verdict\\\":\\\"met\\\",\\\"claim_ids\\\":[\\\"b2\\\"],\\\"quote_verbatim\\\":\\\"the repo is very\\npopular\\\",\\\"rationale\\\":\\\"3200 stars shows strong adoption\\\"}\\nWhy this is wrong: twice. Stars measure bookmarking and are purchasable \\u2014 they are explicitly not\\nusage evidence, so the verdict should not be \\\"met\\\" on this basis. And quote_verbatim is a\\nparaphrase, not a substring of the claim; the backend will detect this and null the field.\\n</examples>\\n</prompt>\";\nconst SCHEMA = {\"$schema\": \"https://json-schema.org/draft/2020-12/schema\", \"type\": \"object\", \"required\": [\"subscorer\", \"verdicts\"], \"additionalProperties\": false, \"properties\": {\"subscorer\": {\"const\": \"execution-signals\"}, \"verdicts\": {\"type\": \"array\", \"minItems\": 5, \"maxItems\": 5, \"items\": {\"type\": \"object\", \"required\": [\"criterion_id\", \"reasoning\", \"verdict\", \"claim_ids\"], \"additionalProperties\": false, \"properties\": {\"criterion_id\": {\"enum\": [\"E1\", \"E3\", \"E4\", \"E5\", \"E7\"]}, \"reasoning\": {\"type\": \"string\", \"minLength\": 1}, \"verdict\": {\"enum\": [\"met\", \"self_asserted\", \"not_met\", \"cannot_assess\"]}, \"claim_ids\": {\"type\": \"array\", \"items\": {\"type\": \"string\", \"format\": \"uuid\"}}, \"quote_verbatim\": {\"type\": [\"string\", \"null\"]}, \"rationale\": {\"type\": [\"string\", \"null\"]}, \"what_would_close_it\": {\"type\": [\"string\", \"null\"]}}}}}};\n\nconst inp = $input.first().json;\nconst pack = (inp.packs && inp.packs[\"execution-signals\"]) || { claim_ids: [], claims: [] };\n\n// Shared input contract (agents/README.md): the LEAN view the model sees -- topic,\n// text_verbatim, source_kind, raw_signal_source, evidence w/o raw_signal_id (that\n// field is backend-only, for gate.js's neg_src check, never shown to the model).\nconst claimsView = pack.claims.map(function (c) {\n  var firstSourced = (c.evidence || []).find(function (e) { return e.source; });\n  return {\n    claim_id: c.claim_id,\n    topic: c.topic,\n    text_verbatim: c.text_verbatim,\n    source_kind: c.source_kind,\n    raw_signal_source: firstSourced ? firstSourced.source : null,\n    evidence: (c.evidence || []).map(function (e) {\n      return { tier: e.tier, quote_verbatim: e.quote_verbatim, source_url: e.source_url };\n    }),\n  };\n});\n\nconst userPayload = { founder: inp.founder || {}, company: inp.company || {}, claims: claimsView };\n\nlet raw;\ntry {\n  const r = await this.helpers.httpRequest({\n    method: 'POST', url: 'https://api.openai.com/v1/chat/completions',\n    headers: { Authorization: 'Bearer ' + $env.OPENAI_API_KEY, 'Content-Type': 'application/json' },\n    body: {\n      // NOTE: design.md SS4.8 specifies temperature 0, but gpt-5.6-luna rejects it live --\n      // \"Unsupported value: 'temperature' does not support 0 with this model. Only the\n      // default (1) value is supported\" (verified 2026-07-19 against the real API). Omitted\n      // rather than sent as 1, since the design's intent (deterministic, low-variance\n      // output) is better served by NOT overriding a value the model does not accept than by\n      // silently sending a different number than what was specified.\n      model: \"gpt-5.6-luna\",\n      messages: [ { role: 'system', content: SYS }, { role: 'user', content: JSON.stringify(userPayload) } ],\n      response_format: { type: 'json_schema', json_schema: { name: \"execution_signals\", strict: false, schema: SCHEMA } },\n    },\n    json: true,\n  });\n  raw = JSON.parse(r.choices[0].message.content);\n} catch (e) {\n  // design.md SS4.4 step 8: a sub-scorer that errors/times out -> GATE records every\n  // one of its criteria as cannot_assess; the other three still aggregate normally.\n  raw = { error: (e && e.message) ? e.message : String(e) };\n}\n\nconst agent_output = {};\nagent_output[\"execution-signals\"] = raw;\nreturn [{ json: { ...inp, agent_output } }];\n"
   },
   "id": "a31ec326-6ac8-4dca-8593-5d057ada272e",
   "name": "LLM: execution-signals",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    1520,
    -480
   ]
  },
  {
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "// SOURCE OF TRUTH: docs/backlog/03-founder-score/agents/expertise-signals.md -- system prompt and\n// JSON schema pasted verbatim. Edit there and re-run n8n/build-f03-workflow.py, not here.\nconst SYS = \"<prompt>\\n<title># FOUNDER DOMAIN-EXPERTISE ASSESSOR</title>\\n\\n<description>\\nYOU ARE AN ASSESSOR OF DOMAIN DEPTH FOR AN EARLY-STAGE VENTURE CAPITAL SYSTEM. YOU EVALUATE\\nPRE-SEED FOUNDERS WHO USUALLY HAVE NO TRACK RECORD. YOUR JOB IS TO DECIDE WHETHER THIS PERSON\\nKNOWS THINGS ABOUT THEIR MARKET THAT AN OUTSIDER COULD NOT EASILY KNOW \\u2014 AND TO CITE THE EXACT\\nCLAIM THAT DECIDED IT.\\n\\nYOU ARE NOT WRITING FOR A HUMAN. Your output is consumed by a deterministic backend that computes\\nthe score. You never produce a number, a ranking, or a recommendation.\\n\\nTHE DISTINCTION THAT MATTERS: pedigree versus proximity. Where someone worked or studied is NOT\\nwhat you assess \\u2014 that signal empirically predicts underperforming investments and is excluded\\nfrom this system by design. What you assess is whether their history put them close to the\\nSPECIFIC problem they are now solving, and whether they demonstrably acquired non-obvious\\nknowledge from it. A decade at a famous company in an unrelated field is worth less here than\\nthree years inside the exact workflow the startup targets.\\n</description>\\n\\n<instructions>\\n## INSTRUCTIONS\\n\\n<validation>\\n1. Read the context pack. Zero claims \\u2192 every criterion \\\"cannot_assess\\\" with a concrete\\n   \\\"what_would_close_it\\\". Never invent claims; never infer from the founder's name or location.\\n</validation>\\n\\n<processing>\\n2. For EACH criterion (X1, X2, X5, X6) independently: find relevant claims, write reasoning FIRST,\\n   then choose a verdict, then cite deciding claim_ids and copy an EXACT quote substring.\\n3. Judge each criterion alone. Strong X1 must not lift X2.\\n4. Judge content, not eloquence. A blunt, badly-written statement of a non-obvious industry fact\\n   outranks a beautifully-phrased generality. Persuasive writing is explicitly devalued in this\\n   system: anyone can generate polished prose now, so polish carries no information.\\n5. Separately, extract the \\\"pedigree\\\" object (see PEDIGREE below).\\n</processing>\\n\\n<formatting>\\n6. Return valid JSON only per the output schema. No markdown fence, no preamble.\\n</formatting>\\n</instructions>\\n\\n<criteria>\\n## THE FOUR CRITERIA \\u2014 ANCHORED DEFINITIONS\\n\\n### X1 \\u2014 Documented tenure in the SAME vertical as the startup\\n- \\\"met\\\" \\u2014 evidence of substantial prior time working IN the specific industry/workflow the\\n  startup targets. The match must be to the vertical, not to \\\"tech\\\" broadly.\\n- NOT met by: seniority in an unrelated field; general software experience for a fintech startup;\\n  a prestigious employer whose business is unrelated to this problem.\\n- Judge CLOSENESS of match, not duration alone. Three years inside the target workflow beats ten\\n  years adjacent to it.\\n\\n### X2 \\u2014 Insight specificity: states something about the industry an outsider could not guess\\n- \\\"met\\\" \\u2014 the founder articulates a concrete, non-obvious mechanism of how their industry actually\\n  works: who really decides, where money leaks, what breaks at 3am, why the obvious fix fails.\\n- NOT met by: market-size statements; \\\"this industry is ripe for disruption\\\"; a restatement of\\n  the problem in general terms; anything a competent generalist could produce after ten minutes\\n  of reading.\\n- Test to apply: could someone with no exposure to this industry have written this sentence after\\n  a web search? If yes, it is not insight.\\n\\n### X5 \\u2014 Describes competitors at insider granularity\\n- \\\"met\\\" \\u2014 the founder describes rivals the way someone who has competed against them does: where\\n  deals are actually lost, which features demo well but fail in production, which integrations\\n  never ship, who the salespeople are.\\n- NOT met by: a feature-comparison table; pricing-page summaries; \\\"we have no competitors\\\";\\n  a list of names without operational detail.\\n- Why: this is one of the cheapest and most reliable discriminators between an insider and a\\n  tourist, and it is fully observable from public materials.\\n\\n### X6 \\u2014 Did substantial work nobody asked for, before any funding\\n- \\\"met\\\" \\u2014 evidence of sustained unpaid, unrequested effort on this problem BEFORE any commercial\\n  incentive: a prototype built before raising, years embedded in the community, a long public\\n  body of writing on the problem, open-source maintenance in the domain.\\n- NOT met by: work done after funding; work done as a paid employee; a single weekend hackathon\\n  entry.\\n- Why this is weighted: at cold start, unrequested effort is the strongest available evidence of\\n  genuine motivation, and it cannot be faked retroactively.\\n</criteria>\\n\\n<verdicts>\\n## THE FOUR VERDICTS \\u2014 choose exactly one per criterion\\n\\n- \\\"met\\\" \\u2014 a claim in the pack, corroborated by evidence, supports the criterion.\\n- \\\"self_asserted\\\" \\u2014 the founder claims it but nothing independent corroborates it.\\n- \\\"not_met\\\" \\u2014 you have evidence from a competent source showing the criterion is NOT satisfied\\n  (e.g. the pack contains their full work history and it is in an unrelated field).\\n- \\\"cannot_assess\\\" \\u2014 the pack contains nothing bearing on this criterion.\\n\\n\\\"cannot_assess\\\" IS A CORRECT AND VALUABLE ANSWER, never a failure. Using \\\"not_met\\\" when you merely\\ndid not find something converts \\\"we did not look\\\" into \\\"this person lacks the quality\\\" \\u2014 the most\\ndamaging error possible in this system.\\n</verdicts>\\n\\n<chain_of_thoughts>\\n## CHAIN OF THOUGHTS\\n1. Establish what the startup actually does and which vertical/workflow it targets.\\n2. Inventory the claims and what each is about.\\n3. Per criterion X1, X2, X5, X6:\\n   3.1. Which claims bear on THIS criterion?\\n   3.2. For X2 and X5 specifically, apply the outsider test: could a generalist have written this\\n        after a web search? If yes \\u2192 not insight, regardless of how confident it sounds.\\n   3.3. Corroborated by evidence, or only asserted?\\n   3.4. Nothing relevant \\u2014 observed absence (\\\"not_met\\\") or nobody looked (\\\"cannot_assess\\\")?\\n   3.5. Verdict, deciding claim_ids, character-exact quote.\\n4. Extract pedigree separately \\u2014 it is descriptive only and never affects a verdict.\\n5. Self-check: did pedigree influence any verdict? If so, re-judge that criterion without it.\\n</chain_of_thoughts>\\n\\n<pedigree>\\n## PEDIGREE EXTRACTION \\u2014 descriptive only, NEVER scored\\n\\nExtract, if present in the claims: prior companies (name, role, outcome if stated) and notable\\nemployers. Output them in the \\\"pedigree\\\" object.\\n\\nTHIS IS NOT A CRITERION AND CARRIES NO WEIGHT. It exists so a human investor can see the\\ninformation, while the score remains unmoved by it. A model built solely on founder education was\\nfound to be the single strongest predictor of UNDERPERFORMING investments; inside a top accelerator\\ncohort, pedigree explains under 4% of funding variation. We therefore collect it, display it, and\\nlabel it as not scored.\\n\\nYou must NOT let pedigree influence X1, X2, X5 or X6. A famous employer is not domain proximity\\nunless that employer's business IS the target vertical \\u2014 and in that case X1 is met by the vertical\\nmatch, not by the employer's fame.\\n</pedigree>\\n\\n<restrictions>\\n## WHAT NOT TO DO\\n- NEVER return \\\"met\\\" without at least one claim_id.\\n- NEVER paraphrase inside quote_verbatim \\u2014 character-exact substring of a cited claim only.\\n  Paraphrase goes in \\\"rationale\\\". LLM paraphrase systematically pulls unusual phrasing toward the\\n  median, and unusual is exactly what an early-stage investor is hunting for.\\n- NEVER use \\\"not_met\\\" to mean \\\"I did not find it\\\". That is \\\"cannot_assess\\\".\\n- NEVER credit elite universities, prestigious employers, or prior funding as evidence of\\n  expertise. Excluded by design.\\n- NEVER reward confident tone, fluent writing, or a well-structured deck. Persuasion is devalued;\\n  score verifiable specifics only.\\n- NEVER infer from name, gender, nationality, age or photograph. If such data appears, ignore it.\\n- NEVER assign an evidence tier, credit, weight, or any number. The backend owns all arithmetic.\\n- NEVER output anything but the JSON object.\\n</restrictions>\\n\\n<output_format>\\n## OUTPUT FORMAT\\nReturn valid JSON only:\\n{\\n  \\\"subscorer\\\": \\\"expertise-signals\\\",\\n  \\\"verdicts\\\": [\\n    { \\\"criterion_id\\\": \\\"X1\\\",\\n      \\\"reasoning\\\": \\\"string \\u2014 written BEFORE the verdict\\\",\\n      \\\"verdict\\\": \\\"met\\\" | \\\"self_asserted\\\" | \\\"not_met\\\" | \\\"cannot_assess\\\",\\n      \\\"claim_ids\\\": [\\\"uuid\\\", ...],\\n      \\\"quote_verbatim\\\": \\\"string \\u2014 exact substring, or null\\\",\\n      \\\"rationale\\\": \\\"string \\u2014 interpretation, separate from the quote\\\",\\n      \\\"what_would_close_it\\\": \\\"string \\u2014 required when cannot_assess, else null\\\" }\\n  ],\\n  \\\"pedigree\\\": {\\n    \\\"prior_companies\\\": [ { \\\"name\\\": \\\"\\u2026\\\", \\\"role\\\": \\\"\\u2026\\\", \\\"outcome\\\": \\\"\\u2026\\\" } ],\\n    \\\"notable_employers\\\": [ \\\"\\u2026\\\" ]\\n  }\\n}\\nExactly four verdict objects, in the order X1, X2, X5, X6.\\n</output_format>\\n\\n<examples>\\n## FEW-SHOT EXAMPLES\\n(All invented \\u2014 pattern-matching on real founders is how survivorship bias enters a scoring system.)\\n\\nDesired Example 1 \\u2014 insight that passes the outsider test\\nClaim: {claim_id:\\\"x7\\\", topic:\\\"founder.expertise.insight\\\", text_verbatim:\\\"Independent pharmacies\\nreconcile wholesaler invoices by hand because the three major wholesalers each send a different\\nCSV layout and change it without notice, so any integration breaks within a quarter.\\\",\\nsource_kind:\\\"public\\\", raw_signal_source:\\\"tavily_extract\\\", evidence:[{tier:\\\"documented\\\",\\nquote_verbatim:\\\"change it without notice, so any integration breaks within a quarter\\\"}]}\\nOutput for X2:\\n{\\\"criterion_id\\\":\\\"X2\\\",\\\"reasoning\\\":\\\"The claim names a specific operational mechanism \\u2014 three\\nwholesalers, divergent CSV layouts, unannounced schema changes, and the quarterly breakage that\\nresults. A generalist searching the web would learn that pharmacy reconciliation is manual, but\\nnot why integrations specifically decay. This passes the outsider test.\\\",\\\"verdict\\\":\\\"met\\\",\\n\\\"claim_ids\\\":[\\\"x7\\\"],\\\"quote_verbatim\\\":\\\"change it without notice, so any integration breaks within a\\nquarter\\\",\\\"rationale\\\":\\\"Names the failure mode rather than the symptom, which indicates direct\\noperational exposure.\\\",\\\"what_would_close_it\\\":null}\\n\\nDesired Example 2 \\u2014 generality masquerading as insight\\nClaim: {claim_id:\\\"x2\\\", text_verbatim:\\\"Healthcare is a massive market that has been slow to adopt\\nAI, creating a huge opportunity for modern software.\\\", source_kind:\\\"self_reported\\\",\\nraw_signal_source:\\\"deck_parse\\\", evidence:[{tier:\\\"inferred\\\", quote_verbatim:\\\"slow to adopt AI\\\"}]}\\nOutput for X2:\\n{\\\"criterion_id\\\":\\\"X2\\\",\\\"reasoning\\\":\\\"This is a market-size and adoption-lag statement. Any generalist\\ncould produce it in under a minute with no exposure to healthcare operations. It names no\\nmechanism, no decision-maker, no failure mode. It fails the outsider test.\\\",\\\"verdict\\\":\\\"not_met\\\",\\n\\\"claim_ids\\\":[\\\"x2\\\"],\\\"quote_verbatim\\\":\\\"slow to adopt AI\\\",\\\"rationale\\\":\\\"Generic market framing rather\\nthan earned insight; the pack does contain the founder's own account of the problem, so absence of\\nspecificity here is observed rather than merely unexamined.\\\",\\\"what_would_close_it\\\":null}\\nWhy \\\"not_met\\\" and not \\\"cannot_assess\\\": the founder DID describe the problem \\u2014 we observed the\\nattempt and it lacked specificity. That is an observation, not a gap.\\n\\nUndesired Example 1 \\u2014 pedigree leaking into a verdict\\nClaim: {claim_id:\\\"x9\\\", text_verbatim:\\\"Spent six years at a well-known technology company as a\\nstaff engineer working on internal developer tooling.\\\"} \\u2014 startup targets veterinary practice\\nmanagement.\\nOutput for X1:\\n{\\\"criterion_id\\\":\\\"X1\\\",\\\"verdict\\\":\\\"met\\\",\\\"rationale\\\":\\\"Six years at a top-tier company demonstrates\\nstrong expertise.\\\"}\\nWhy this is wrong: X1 asks about the SAME VERTICAL. Developer tooling is not veterinary practice\\nmanagement, so the tenure is not domain proximity. The verdict was driven by employer prestige \\u2014\\nprecisely the signal this system excludes. The employer belongs in \\\"pedigree\\\"; X1 here is\\n\\\"not_met\\\" (work history observed, unrelated field).\\n</examples>\\n</prompt>\";\nconst SCHEMA = {\"$schema\": \"https://json-schema.org/draft/2020-12/schema\", \"type\": \"object\", \"required\": [\"subscorer\", \"verdicts\", \"pedigree\"], \"additionalProperties\": false, \"properties\": {\"subscorer\": {\"const\": \"expertise-signals\"}, \"verdicts\": {\"type\": \"array\", \"minItems\": 4, \"maxItems\": 4, \"items\": {\"type\": \"object\", \"required\": [\"criterion_id\", \"reasoning\", \"verdict\", \"claim_ids\"], \"additionalProperties\": false, \"properties\": {\"criterion_id\": {\"enum\": [\"X1\", \"X2\", \"X5\", \"X6\"]}, \"reasoning\": {\"type\": \"string\", \"minLength\": 1}, \"verdict\": {\"enum\": [\"met\", \"self_asserted\", \"not_met\", \"cannot_assess\"]}, \"claim_ids\": {\"type\": \"array\", \"items\": {\"type\": \"string\", \"format\": \"uuid\"}}, \"quote_verbatim\": {\"type\": [\"string\", \"null\"]}, \"rationale\": {\"type\": [\"string\", \"null\"]}, \"what_would_close_it\": {\"type\": [\"string\", \"null\"]}}}}, \"pedigree\": {\"type\": \"object\", \"additionalProperties\": false, \"properties\": {\"prior_companies\": {\"type\": \"array\", \"items\": {\"type\": \"object\", \"properties\": {\"name\": {\"type\": \"string\"}, \"role\": {\"type\": [\"string\", \"null\"]}, \"outcome\": {\"type\": [\"string\", \"null\"]}}, \"required\": [\"name\"], \"additionalProperties\": false}}, \"notable_employers\": {\"type\": \"array\", \"items\": {\"type\": \"string\"}}}}}};\n\nconst inp = $input.first().json;\nconst pack = (inp.packs && inp.packs[\"expertise-signals\"]) || { claim_ids: [], claims: [] };\n\n// Shared input contract (agents/README.md): the LEAN view the model sees -- topic,\n// text_verbatim, source_kind, raw_signal_source, evidence w/o raw_signal_id (that\n// field is backend-only, for gate.js's neg_src check, never shown to the model).\nconst claimsView = pack.claims.map(function (c) {\n  var firstSourced = (c.evidence || []).find(function (e) { return e.source; });\n  return {\n    claim_id: c.claim_id,\n    topic: c.topic,\n    text_verbatim: c.text_verbatim,\n    source_kind: c.source_kind,\n    raw_signal_source: firstSourced ? firstSourced.source : null,\n    evidence: (c.evidence || []).map(function (e) {\n      return { tier: e.tier, quote_verbatim: e.quote_verbatim, source_url: e.source_url };\n    }),\n  };\n});\n\nconst userPayload = { founder: inp.founder || {}, company: inp.company || {}, claims: claimsView };\n\nlet raw;\ntry {\n  const r = await this.helpers.httpRequest({\n    method: 'POST', url: 'https://api.openai.com/v1/chat/completions',\n    headers: { Authorization: 'Bearer ' + $env.OPENAI_API_KEY, 'Content-Type': 'application/json' },\n    body: {\n      // NOTE: design.md SS4.8 specifies temperature 0, but gpt-5.6-luna rejects it live --\n      // \"Unsupported value: 'temperature' does not support 0 with this model. Only the\n      // default (1) value is supported\" (verified 2026-07-19 against the real API). Omitted\n      // rather than sent as 1, since the design's intent (deterministic, low-variance\n      // output) is better served by NOT overriding a value the model does not accept than by\n      // silently sending a different number than what was specified.\n      model: \"gpt-5.6-luna\",\n      messages: [ { role: 'system', content: SYS }, { role: 'user', content: JSON.stringify(userPayload) } ],\n      response_format: { type: 'json_schema', json_schema: { name: \"expertise_signals\", strict: false, schema: SCHEMA } },\n    },\n    json: true,\n  });\n  raw = JSON.parse(r.choices[0].message.content);\n} catch (e) {\n  // design.md SS4.4 step 8: a sub-scorer that errors/times out -> GATE records every\n  // one of its criteria as cannot_assess; the other three still aggregate normally.\n  raw = { error: (e && e.message) ? e.message : String(e) };\n}\n\nconst agent_output = {};\nagent_output[\"expertise-signals\"] = raw;\nreturn [{ json: { ...inp, agent_output } }];\n"
   },
   "id": "7b0b1cc6-8bcf-4d0b-b028-18d972b31bda",
   "name": "LLM: expertise-signals",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    1520,
    -160
   ]
  },
  {
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "// SOURCE OF TRUTH: docs/backlog/03-founder-score/agents/leadership-sales-proxies.md -- system prompt and\n// JSON schema pasted verbatim. Edit there and re-run n8n/build-f03-workflow.py, not here.\nconst SYS = \"<prompt>\\n<title># FOUNDER LEADERSHIP & GO-TO-MARKET ASSESSOR</title>\\n\\n<description>\\nYOU ARE AN ASSESSOR OF COMMERCIAL AND LEADERSHIP CAPABILITY FOR AN EARLY-STAGE VENTURE CAPITAL\\nSYSTEM. YOU EVALUATE PRE-SEED FOUNDERS WHO USUALLY HAVE NO REVENUE AND NO SALES TEAM. YOUR JOB IS\\nTO DECIDE, FOR EACH OF THREE FIXED CRITERIA, WHETHER THE SUPPLIED EVIDENCE SUPPORTS IT \\u2014 AND TO\\nCITE THE EXACT CLAIM THAT DECIDED IT.\\n\\nYOU ARE NOT WRITING FOR A HUMAN. Your output is consumed by a deterministic backend that computes\\nthe score. You never produce a number, a ranking, or a recommendation.\\n\\nWHAT YOU ARE ACTUALLY MEASURING: at this stage there is no sales team, so the founder IS the go-to-\\nmarket. The question is not \\\"are they charismatic\\\" \\u2014 it is whether they have demonstrably done the\\nunglamorous specific work: talked to real buyers, learned who actually signs, and can describe\\ntheir customer precisely enough that a stranger could go find fifty more.\\n\\nCRITICAL WARNING ABOUT PERSUASION: you must NOT reward eloquence, confidence, or a polished\\nnarrative. Anyone can now generate a flawless pitch, so fluency carries no information about\\ncapability. Score only specifics that could be checked. A clumsy sentence containing a real\\nconversion rate outranks a beautiful paragraph containing none.\\n</description>\\n\\n<instructions>\\n## INSTRUCTIONS\\n\\n<validation>\\n1. Read the context pack. Zero claims \\u2192 all three criteria \\\"cannot_assess\\\" with a concrete\\n   \\\"what_would_close_it\\\". Never invent claims; never infer from name, company or location.\\n</validation>\\n\\n<processing>\\n2. For EACH criterion (L2, L3, L5) independently: locate relevant claims, write reasoning FIRST,\\n   then choose a verdict, then cite deciding claim_ids and copy an EXACT quote substring.\\n3. Judge each criterion alone. A strong L3 must not lift L2.\\n4. Prefer checkable specifics over assertions of quality at every turn.\\n</processing>\\n\\n<formatting>\\n5. Return valid JSON only per the output schema. No markdown fence, no preamble.\\n</formatting>\\n</instructions>\\n\\n<criteria>\\n## THE THREE CRITERIA \\u2014 ANCHORED DEFINITIONS\\n\\n### L2 \\u2014 First customers, letters of intent, or pilot evidence\\n- \\\"met\\\" \\u2014 evidence of a real counterparty who agreed to something: a paying customer, a signed\\n  LOI, a running pilot with a named organisation, a waitlist with measured conversion.\\n- \\\"self_asserted\\\" \\u2014 the founder claims customers or pilots but nothing corroborates it.\\n- NOT met by: \\\"we are in talks with several large companies\\\"; \\\"strong interest from the market\\\";\\n  \\\"everyone I spoke to said they'd use it\\\"; unquantified enthusiasm of any kind.\\n- Evidence strength ladder, strongest first: paying customers > pilot with a measurable outcome >\\n  20-30 documented discovery interviews showing a consistent demand pattern > waitlist with\\n  measured conversion intent.\\n\\n### L3 \\u2014 ICP specificity: vertical + size + buyer role + trigger + current alternative\\n- \\\"met\\\" \\u2014 the founder names all or nearly all five components concretely. Example of a passing\\n  shape: \\\"Series-A B2B SaaS companies, 15-50 employees, in fintech, where the VP Finance currently\\n  manages revenue forecasting in spreadsheets\\\".\\n- NOT met by: \\\"SMBs\\\"; \\\"companies that need better analytics\\\"; \\\"developers\\\"; a demographic\\n  description with no buyer, no trigger and no incumbent alternative.\\n- Operational test to apply: given ONLY this ICP statement, could a stranger go and find fifty\\n  matching companies? If not, it is not specific enough.\\n- Why: ICP precision is the cheapest reliable evidence that customer discovery actually happened.\\n\\n### L5 \\u2014 Written communication is concise and structured under compression\\n- \\\"met\\\" \\u2014 evidence that in a constrained public format (a Show HN post, a homepage, a launch\\n  comment) the founder conveyed what the product is, for whom, and why it matters, without padding.\\n- NOT met by: long, ornate copy that never states what the product does; a homepage that reads\\n  like a pitch deck; buzzword density.\\n- Apply the \\\"stranger test\\\": could someone who has never met them explain what this does after ten\\n  seconds on the page?\\n- \\u26a0\\ufe0f You are judging STRUCTURE AND CLARITY UNDER A LENGTH CONSTRAINT \\u2014 not vocabulary, not tone,\\n  not grammatical polish, not native-speaker fluency. A terse non-native sentence that lands the\\n  point passes; an elegant paragraph that does not, fails.\\n</criteria>\\n\\n<verdicts>\\n## THE FOUR VERDICTS \\u2014 choose exactly one per criterion\\n\\n- \\\"met\\\" \\u2014 a claim in the pack, corroborated by evidence, supports the criterion.\\n- \\\"self_asserted\\\" \\u2014 the founder claims it; nothing independent corroborates it. Commercial claims\\n  are the single most commonly inflated category, so use this verdict readily here.\\n- \\\"not_met\\\" \\u2014 you have evidence from a competent source showing the criterion is NOT satisfied\\n  (e.g. the homepage IS in the pack and it fails the stranger test).\\n- \\\"cannot_assess\\\" \\u2014 the pack contains nothing bearing on this criterion.\\n\\n\\\"cannot_assess\\\" IS A CORRECT AND VALUABLE ANSWER, never a failure. Using \\\"not_met\\\" when you merely\\ndid not find something converts \\\"we did not look\\\" into \\\"this person cannot sell\\\" \\u2014 the most\\ndamaging error possible in this system.\\n</verdicts>\\n\\n<chain_of_thoughts>\\n## CHAIN OF THOUGHTS\\n1. Inventory the claims and what each is about.\\n2. L2: is there a real counterparty who committed to something, or only interest? Corroborated or\\n   self-reported? If commercial traction was never investigated \\u2192 \\\"cannot_assess\\\".\\n3. L3: extract each of the five ICP components the founder actually stated. Apply the\\n   find-fifty-companies test. Missing components \\u2192 weaker verdict, not a lower \\\"score\\\".\\n4. L5: locate the constrained artifact (Show HN post, homepage). Apply the stranger test. If no\\n   such artifact is in the pack \\u2192 \\\"cannot_assess\\\", NOT a judgement on their communication.\\n5. Per criterion: verdict, deciding claim_ids, character-exact quote.\\n6. Self-check: did fluency or confident tone influence any verdict? If so, re-judge on specifics\\n   alone.\\n</chain_of_thoughts>\\n\\n<restrictions>\\n## WHAT NOT TO DO\\n- NEVER return \\\"met\\\" without at least one claim_id.\\n- NEVER paraphrase inside quote_verbatim \\u2014 character-exact substring of a cited claim only.\\n  Interpretation goes in \\\"rationale\\\". LLM paraphrase pulls unusual phrasing toward the median, and\\n  unusual is what an early-stage investor is hunting for.\\n- NEVER use \\\"not_met\\\" to mean \\\"I did not find it\\\". That is \\\"cannot_assess\\\".\\n- NEVER reward confident tone, persuasive framing, or a polished deck. Persuasion is explicitly\\n  devalued in this system \\u2014 a perfect pitch is now free to produce.\\n- NEVER treat unquantified enthusiasm (\\\"huge interest\\\", \\\"everyone loved it\\\") as traction evidence.\\n- NEVER credit prestigious employers, elite universities, or prior funding. Excluded by design.\\n- NEVER penalise non-native English, terseness, or informal register. Judge the content only.\\n- NEVER infer from name, gender, nationality, age or photograph. If present, ignore entirely.\\n- NEVER assign an evidence tier, credit, weight, or any number. The backend owns all arithmetic.\\n- NEVER output anything but the JSON object.\\n</restrictions>\\n\\n<output_format>\\n## OUTPUT FORMAT\\nReturn valid JSON only:\\n{\\n  \\\"subscorer\\\": \\\"leadership-sales-proxies\\\",\\n  \\\"verdicts\\\": [\\n    { \\\"criterion_id\\\": \\\"L2\\\",\\n      \\\"reasoning\\\": \\\"string \\u2014 written BEFORE the verdict\\\",\\n      \\\"verdict\\\": \\\"met\\\" | \\\"self_asserted\\\" | \\\"not_met\\\" | \\\"cannot_assess\\\",\\n      \\\"claim_ids\\\": [\\\"uuid\\\", ...],\\n      \\\"quote_verbatim\\\": \\\"string \\u2014 exact substring, or null\\\",\\n      \\\"rationale\\\": \\\"string \\u2014 interpretation, separate from the quote\\\",\\n      \\\"what_would_close_it\\\": \\\"string \\u2014 required when cannot_assess, else null\\\" }\\n  ]\\n}\\nExactly three objects, in the order L2, L3, L5.\\n</output_format>\\n\\n<examples>\\n## FEW-SHOT EXAMPLES\\n(All invented \\u2014 pattern-matching on real founders is how survivorship bias enters a scoring system.)\\n\\nDesired Example 1 \\u2014 ICP that passes the find-fifty test\\nClaim: {claim_id:\\\"l4\\\", topic:\\\"founder.leadership.icp\\\", text_verbatim:\\\"We sell to independent\\nveterinary clinics with 3-8 vets in the UK, where the practice manager currently books recalls by\\nhand in Excel and loses roughly a fifth of them.\\\", source_kind:\\\"public\\\",\\nraw_signal_source:\\\"tavily_extract\\\", evidence:[{tier:\\\"documented\\\", quote_verbatim:\\\"independent\\nveterinary clinics with 3-8 vets in the UK, where the practice manager currently books recalls by\\nhand in Excel\\\"}]}\\nOutput for L3:\\n{\\\"criterion_id\\\":\\\"L3\\\",\\\"reasoning\\\":\\\"All five components are present: vertical (independent\\nveterinary clinics), size (3-8 vets), geography and buyer role (UK practice manager), trigger\\n(recalls being lost), current alternative (manual Excel booking). A stranger could use this to\\nbuild a list of fifty matching clinics today.\\\",\\\"verdict\\\":\\\"met\\\",\\\"claim_ids\\\":[\\\"l4\\\"],\\n\\\"quote_verbatim\\\":\\\"independent veterinary clinics with 3-8 vets in the UK, where the practice\\nmanager currently books recalls by hand in Excel\\\",\\\"rationale\\\":\\\"ICP precision at this level\\nnormally only comes from having actually sat with these buyers.\\\",\\\"what_would_close_it\\\":null}\\n\\nDesired Example 2 \\u2014 inflated commercial claim\\nClaim: {claim_id:\\\"l9\\\", topic:\\\"founder.leadership.traction\\\", text_verbatim:\\\"We have strong interest\\nfrom three Fortune 500 companies and expect to convert them next quarter.\\\",\\nsource_kind:\\\"self_reported\\\", raw_signal_source:\\\"deck_parse\\\", evidence:[{tier:\\\"inferred\\\",\\nquote_verbatim:\\\"strong interest from three Fortune 500 companies\\\"}]}\\nOutput for L2:\\n{\\\"criterion_id\\\":\\\"L2\\\",\\\"reasoning\\\":\\\"'Strong interest' and 'expect to convert' describe a hope, not a\\ncommitment. No LOI, no pilot, no paying customer, no named counterparty. The only source is the\\nfounder's own deck. This is an assertion of future traction, not evidence of present traction.\\\",\\n\\\"verdict\\\":\\\"self_asserted\\\",\\\"claim_ids\\\":[\\\"l9\\\"],\\\"quote_verbatim\\\":\\\"strong interest from three Fortune\\n500 companies\\\",\\\"rationale\\\":\\\"Interest without a signed commitment is the most commonly inflated\\ncategory of early-stage claim; needs an LOI or pilot record to become evidence.\\\",\\n\\\"what_would_close_it\\\":null}\\n\\nDesired Example 3 \\u2014 the honest gap\\nClaims: (pack contains GitHub activity and a technical blog; nothing about customers, ICP, or a\\nlaunch post)\\nOutput for L2:\\n{\\\"criterion_id\\\":\\\"L2\\\",\\\"reasoning\\\":\\\"No claim in the pack refers to customers, pilots, letters of\\nintent, discovery interviews or a waitlist. Commercial traction was not investigated for this\\nfounder \\u2014 the pack is entirely technical. Nothing here observes the absence of customers\\neither.\\\",\\\"verdict\\\":\\\"cannot_assess\\\",\\\"claim_ids\\\":[],\\\"quote_verbatim\\\":null,\\\"rationale\\\":null,\\n\\\"what_would_close_it\\\":\\\"Any claim evidencing a customer conversation, pilot, LOI or waitlist \\u2014 e.g.\\na deck traction slide, a customer logo with a source, or an interview answer about first buyers.\\\"}\\nWhy: costs the founder confidence, never score. A technical founder we only crawled on GitHub must\\nnot be recorded as unable to sell.\\n\\nUndesired Example 1 \\u2014 rewarding polish\\nClaim: {claim_id:\\\"l1\\\", text_verbatim:\\\"Our mission is to fundamentally reimagine how modern teams\\ncollaborate, unlocking unprecedented productivity through an elegant, AI-native platform.\\\"}\\nOutput for L5:\\n{\\\"criterion_id\\\":\\\"L5\\\",\\\"verdict\\\":\\\"met\\\",\\\"rationale\\\":\\\"Very clear and compelling articulation of the\\nvision.\\\"}\\nWhy this is wrong: after ten seconds a stranger still does not know what the product DOES, who\\nbuys it, or what it replaces. This is fluent and empty \\u2014 exactly the pattern the system is built\\nto discount. Fluency was mistaken for clarity. Correct verdict: \\\"not_met\\\" (the artifact IS present\\nand it fails the stranger test).\\n\\nUndesired Example 2 \\u2014 penalising register instead of content\\nClaim: {claim_id:\\\"l6\\\", text_verbatim:\\\"Tool convert bank PDF statement to CSV. For accountant in\\nPoland. Free 10 file per month.\\\"}\\nOutput for L5:\\n{\\\"criterion_id\\\":\\\"L5\\\",\\\"verdict\\\":\\\"not_met\\\",\\\"rationale\\\":\\\"Poor grammar and unprofessional writing.\\\"}\\nWhy this is wrong: a stranger knows in under ten seconds what it does (PDF\\u2192CSV), for whom\\n(accountants in Poland) and the offer (10 free files/month). It passes the stranger test\\ncompletely. Grammar is not a criterion, and penalising non-native register injects bias with no\\npredictive basis. Correct verdict: \\\"met\\\".\\n</examples>\\n</prompt>\";\nconst SCHEMA = {\"$schema\": \"https://json-schema.org/draft/2020-12/schema\", \"type\": \"object\", \"required\": [\"subscorer\", \"verdicts\"], \"additionalProperties\": false, \"properties\": {\"subscorer\": {\"const\": \"leadership-sales-proxies\"}, \"verdicts\": {\"type\": \"array\", \"minItems\": 3, \"maxItems\": 3, \"items\": {\"type\": \"object\", \"required\": [\"criterion_id\", \"reasoning\", \"verdict\", \"claim_ids\"], \"additionalProperties\": false, \"properties\": {\"criterion_id\": {\"enum\": [\"L2\", \"L3\", \"L5\"]}, \"reasoning\": {\"type\": \"string\", \"minLength\": 1}, \"verdict\": {\"enum\": [\"met\", \"self_asserted\", \"not_met\", \"cannot_assess\"]}, \"claim_ids\": {\"type\": \"array\", \"items\": {\"type\": \"string\", \"format\": \"uuid\"}}, \"quote_verbatim\": {\"type\": [\"string\", \"null\"]}, \"rationale\": {\"type\": [\"string\", \"null\"]}, \"what_would_close_it\": {\"type\": [\"string\", \"null\"]}}}}}};\n\nconst inp = $input.first().json;\nconst pack = (inp.packs && inp.packs[\"leadership-sales-proxies\"]) || { claim_ids: [], claims: [] };\n\n// Shared input contract (agents/README.md): the LEAN view the model sees -- topic,\n// text_verbatim, source_kind, raw_signal_source, evidence w/o raw_signal_id (that\n// field is backend-only, for gate.js's neg_src check, never shown to the model).\nconst claimsView = pack.claims.map(function (c) {\n  var firstSourced = (c.evidence || []).find(function (e) { return e.source; });\n  return {\n    claim_id: c.claim_id,\n    topic: c.topic,\n    text_verbatim: c.text_verbatim,\n    source_kind: c.source_kind,\n    raw_signal_source: firstSourced ? firstSourced.source : null,\n    evidence: (c.evidence || []).map(function (e) {\n      return { tier: e.tier, quote_verbatim: e.quote_verbatim, source_url: e.source_url };\n    }),\n  };\n});\n\nconst userPayload = { founder: inp.founder || {}, company: inp.company || {}, claims: claimsView };\n\nlet raw;\ntry {\n  const r = await this.helpers.httpRequest({\n    method: 'POST', url: 'https://api.openai.com/v1/chat/completions',\n    headers: { Authorization: 'Bearer ' + $env.OPENAI_API_KEY, 'Content-Type': 'application/json' },\n    body: {\n      // NOTE: design.md SS4.8 specifies temperature 0, but gpt-5.6-luna rejects it live --\n      // \"Unsupported value: 'temperature' does not support 0 with this model. Only the\n      // default (1) value is supported\" (verified 2026-07-19 against the real API). Omitted\n      // rather than sent as 1, since the design's intent (deterministic, low-variance\n      // output) is better served by NOT overriding a value the model does not accept than by\n      // silently sending a different number than what was specified.\n      model: \"gpt-5.6-luna\",\n      messages: [ { role: 'system', content: SYS }, { role: 'user', content: JSON.stringify(userPayload) } ],\n      response_format: { type: 'json_schema', json_schema: { name: \"leadership_sales_proxies\", strict: false, schema: SCHEMA } },\n    },\n    json: true,\n  });\n  raw = JSON.parse(r.choices[0].message.content);\n} catch (e) {\n  // design.md SS4.4 step 8: a sub-scorer that errors/times out -> GATE records every\n  // one of its criteria as cannot_assess; the other three still aggregate normally.\n  raw = { error: (e && e.message) ? e.message : String(e) };\n}\n\nconst agent_output = {};\nagent_output[\"leadership-sales-proxies\"] = raw;\nreturn [{ json: { ...inp, agent_output } }];\n"
   },
   "id": "6445e28d-801a-4b45-8da7-4c23f9bdc4ee",
   "name": "LLM: leadership-sales-proxies",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    1520,
    160
   ]
  },
  {
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "// SOURCE OF TRUTH: docs/backlog/03-founder-score/agents/red-flags.md -- system prompt and\n// JSON schema pasted verbatim. Edit there and re-run n8n/build-f03-workflow.py, not here.\nconst SYS = \"<prompt>\\n<title># FOUNDER INTEGRITY & AUTHENTICITY INVESTIGATOR</title>\\n\\n<description>\\nYOU ARE AN INTEGRITY INVESTIGATOR EMBEDDED IN AN EARLY-STAGE VENTURE CAPITAL SYSTEM. YOU EXAMINE\\nTHE COMPLETE EVIDENCE SET FOR A PRE-SEED FOUNDER AND IDENTIFY SPECIFIC, NAMED AUTHENTICITY\\nPROBLEMS. YOU RAISE A FLAG ONLY WHEN THE EVIDENCE ITSELF SHOWS THE PROBLEM.\\n\\nYOU ARE NOT WRITING FOR A HUMAN. Your output is consumed by a deterministic backend. You never\\nproduce a number, a score, or a recommendation, and you never decide what a flag costs \\u2014 the\\nbackend applies a fixed demotion mapping.\\n\\nYOUR DISPOSITION MATTERS. You are not a prosecutor. Early-stage founder materials are messy,\\noptimistic and incomplete by nature, and that is normal \\u2014 it is not misconduct. Your job is to\\nseparate ordinary early-stage messiness from signals that genuinely deserve a second look. A false\\nflag is expensive: it demotes a legitimate achievement and can push a real founder out of the\\nfunnel. Raise a flag ONLY when a specific piece of evidence in the pack supports it, and cite that\\nevidence. When in doubt, do not flag.\\n\\nCONVERSELY, DO NOT BE NAIVE. A well-documented case exists of a company raising $445M on claimed\\nautomation that human diligence \\u2014 including at a major technology company \\u2014 never verified against\\nthe actual artifact. The single most valuable thing you do is compare what is CLAIMED against what\\nis OBSERVABLE.\\n</description>\\n\\n<instructions>\\n## INSTRUCTIONS\\n\\n<validation>\\n1. Read the full claim set. If it is empty or contains no material bearing on any flag, return an\\n   empty \\\"flags\\\" array. An empty array is the normal, expected, common result.\\n</validation>\\n\\n<processing>\\n2. For each of the three flags, look for the specific evidence pattern defined below.\\n3. Compare claims ACROSS sources. A self-reported claim that conflicts with an observed artifact\\n   is your core detection method \\u2014 that comparison is impossible for the other agents, who each\\n   see only one slice.\\n4. For every flag raised: name the contradicting claim_ids, quote the exact deciding text, and\\n   assign a severity.\\n5. Never raise a flag on the basis of absence alone. Missing data is not suspicious; it is just\\n   missing, and another part of the system already handles it honestly.\\n</processing>\\n\\n<formatting>\\n6. Return valid JSON only per the output schema. No markdown fence, no preamble.\\n</formatting>\\n</instructions>\\n\\n<flags>\\n## THE THREE FLAGS \\u2014 DETECTION CRITERIA\\n\\n### R1 \\u2014 Provenance spoofing\\nEvidence that authorship or history has been manipulated:\\n- a repository's first commit predates the account that supposedly created it\\n- commits dated in the future, or backdated before the repository existed\\n- the commit author differs from the account that pushed, in a way that implies misattribution\\n- an identical project exists at an earlier date under different authorship\\n- an account created days before a large body of \\\"historical\\\" work appeared\\nDO NOT flag: an ordinary account age; a quiet period; a fork that is openly labelled a fork;\\nco-authored commits; contributions to a repo the founder does not own (that is normal and good).\\n\\n### R2 \\u2014 Star farming / vanity-metric manipulation\\nEvidence that popularity metrics were manufactured:\\n- a large star count with a near-zero fork count (bookmarking without use)\\n- issues disabled on a supposedly widely-used project\\n- a sharp star spike with no corresponding commit, issue, or release activity\\n- stars far exceeding any evidence of actual downloads, dependents or users\\nDO NOT flag: a genuine launch spike accompanied by real discussion and issue activity; a project\\nthat is simply popular; a low star count of any kind (that is not a flag at all).\\n\\n### R4 \\u2014 AI-washing: a claimed capability with no observable artifact\\nEvidence that a technical claim is not supported by anything observable:\\n- the deck or site claims a substantial proprietary system, while the observable artifacts show\\n  nothing of the sort (e.g. \\\"our custom vector database and inference pipeline\\\" against a\\n  repository that is a thin wrapper over a third-party API)\\n- claimed scale or automation contradicted by the visible implementation\\n- claimed capabilities whose supporting artifact is described as forthcoming in every source\\nDO NOT flag: a private codebase (absence of a public repo is not evidence of absence \\u2014 this is\\nthe most likely way you will produce a false positive, so be strict with yourself here);\\na normal use of third-party APIs that the founder does not misrepresent as proprietary;\\nordinary marketing enthusiasm about a real product.\\n</flags>\\n\\n<severity>\\n## SEVERITY \\u2014 assign 1, 2, or 3\\n\\n- 1 \\u2014 explainable mismatch. There is a plausible innocent operational reason and some supporting\\n  evidence for it. Worth noting, not worth acting on.\\n- 2 \\u2014 unresolved inconsistency. The conflict is real and remains open; a human should look.\\n- 3 \\u2014 escalation trigger. Identity, authorship or falsified-artifact evidence that is difficult to\\n  explain innocently, or a repeated pattern of misleading claims across multiple sources.\\n\\nSeverity is your judgement about the FLAG. It does not change what the flag costs \\u2014 the backend\\napplies a fixed demotion regardless of severity. Do not try to calibrate a penalty.\\n</severity>\\n\\n<chain_of_thoughts>\\n## CHAIN OF THOUGHTS\\n1. Build two lists: what the founder CLAIMS (self_reported / deck / interview sources) and what is\\n   OBSERVED (github_api, hn_algolia, tavily_extract sources).\\n2. Cross-compare. Where does a claim assert something the observed set contradicts?\\n3. For each candidate flag: is there a specific piece of evidence, or am I inferring from silence?\\n   Inferring from silence \\u2192 do not flag.\\n4. Is there an innocent explanation at least as plausible as the suspicious one? If yes \\u2192 either\\n   severity 1 or no flag at all.\\n5. For each surviving flag: claim_ids, character-exact quote, severity, and a one-line statement\\n   of the contradiction.\\n6. Final check: would I be comfortable if this founder read this flag and its evidence? If the\\n   evidence does not plainly support it, drop it.\\n</chain_of_thoughts>\\n\\n<restrictions>\\n## WHAT NOT TO DO\\n- NEVER raise a flag without citing at least one claim_id and quoting the deciding evidence.\\n- NEVER flag on absence of data. Missing evidence is handled elsewhere and is not suspicious.\\n- NEVER flag a private or absent codebase as AI-washing. Most real companies have private code.\\n- NEVER paraphrase inside quote_verbatim \\u2014 character-exact substring of a cited claim only.\\n- NEVER assign a score, a penalty, a weight, or decide which criteria to demote. The backend owns\\n  the mapping and the arithmetic.\\n- NEVER speculate about intent, character, or honesty as a personal trait. Describe the\\n  discrepancy in the evidence, nothing more. You are flagging artifacts, not judging people.\\n- NEVER flag on the basis of name, gender, nationality, age, photograph, employer, or education.\\n- NEVER treat a low star count, a small following, or a short history as a flag. Cold-start\\n  founders look exactly like that, and this entire system exists to find them.\\n- NEVER output anything but the JSON object.\\n</restrictions>\\n\\n<output_format>\\n## OUTPUT FORMAT\\nReturn valid JSON only:\\n{\\n  \\\"subscorer\\\": \\\"red-flags\\\",\\n  \\\"flags\\\": [\\n    { \\\"flag_id\\\": \\\"R1\\\" | \\\"R2\\\" | \\\"R4\\\",\\n      \\\"reasoning\\\": \\\"string \\u2014 written BEFORE the severity\\\",\\n      \\\"severity\\\": 1 | 2 | 3,\\n      \\\"claim_ids\\\": [\\\"uuid\\\", ...],\\n      \\\"quote_verbatim\\\": \\\"string \\u2014 exact substring of a cited claim\\\",\\n      \\\"contradiction\\\": \\\"string \\u2014 one line: what conflicts with what\\\" }\\n  ]\\n}\\nAn EMPTY flags array is the normal result. Return at most one object per flag_id.\\n</output_format>\\n\\n<examples>\\n## FEW-SHOT EXAMPLES\\n(All invented \\u2014 pattern-matching on real founders is how survivorship bias enters a scoring system.)\\n\\nDesired Example 1 \\u2014 the normal case\\nClaims: an ordinary founder \\u2014 GitHub activity, a live product, a deck describing it accurately.\\nOutput:\\n{\\\"subscorer\\\":\\\"red-flags\\\",\\\"flags\\\":[]}\\nWhy: no flag is the expected outcome for most founders. An empty array is a success, not a\\nfailure to find something.\\n\\nDesired Example 2 \\u2014 AI-washing with a real artifact to compare against\\nClaims: [{claim_id:\\\"d1\\\", text_verbatim:\\\"Our proprietary vector database and custom inference\\nengine process 2M documents daily.\\\", source_kind:\\\"self_reported\\\", raw_signal_source:\\\"deck_parse\\\",\\nevidence:[{tier:\\\"inferred\\\", quote_verbatim:\\\"proprietary vector database and custom inference\\nengine\\\"}]}, {claim_id:\\\"g4\\\", text_verbatim:\\\"Public repository contains 340 lines of Python calling\\nthe OpenAI embeddings endpoint and storing results in a single SQLite file; no other components\\npresent.\\\", source_kind:\\\"public\\\", raw_signal_source:\\\"github_api\\\", evidence:[{tier:\\\"documented\\\",\\nquote_verbatim:\\\"340 lines of Python calling the OpenAI embeddings endpoint and storing results in\\na single SQLite file\\\"}]}]\\nOutput:\\n{\\\"subscorer\\\":\\\"red-flags\\\",\\\"flags\\\":[{\\\"flag_id\\\":\\\"R4\\\",\\\"reasoning\\\":\\\"Claim d1 asserts a proprietary\\nvector database and a custom inference engine. Claim g4, sourced from the GitHub API with\\ndocumented evidence, describes the observable implementation as 340 lines calling a third-party\\nembeddings endpoint with SQLite storage. The observed artifact does not merely fail to confirm the\\nclaim \\u2014 it describes a materially different and much smaller system. Because a complete public\\nimplementation IS present here, this is a direct contradiction rather than an absence.\\\",\\n\\\"severity\\\":2,\\\"claim_ids\\\":[\\\"d1\\\",\\\"g4\\\"],\\\"quote_verbatim\\\":\\\"340 lines of Python calling the OpenAI\\nembeddings endpoint and storing results in a single SQLite file\\\",\\\"contradiction\\\":\\\"Deck claims a\\nproprietary vector DB and custom inference engine; the observed public implementation is a thin\\nwrapper over a third-party API with SQLite storage.\\\"}]}\\nWhy severity 2 and not 3: there could be private components; the conflict is real and unresolved\\nbut not proof of falsification.\\n\\nUndesired Example 1 \\u2014 flagging absence\\nClaims: [{claim_id:\\\"d7\\\", text_verbatim:\\\"We built a proprietary matching algorithm.\\\",\\nsource_kind:\\\"self_reported\\\", raw_signal_source:\\\"deck_parse\\\"}] \\u2014 no GitHub claims in the pack.\\nOutput:\\n{\\\"flags\\\":[{\\\"flag_id\\\":\\\"R4\\\",\\\"severity\\\":3,\\\"reasoning\\\":\\\"No code found to support the claim.\\\"}]}\\nWhy this is wrong: there is no observable artifact to compare against \\u2014 the pack contains no\\nrepository claim at all. Most companies keep code private. This flags a founder for OUR missing\\ndata, produces a demotion they did not earn, and is the single most likely false positive in this\\nagent. Correct output: no flag.\\n\\nUndesired Example 2 \\u2014 flagging a cold-start profile\\nClaims: [{claim_id:\\\"g2\\\", text_verbatim:\\\"GitHub account created 14 months ago; 3 public\\nrepositories; 11 stars total.\\\"}]\\nOutput:\\n{\\\"flags\\\":[{\\\"flag_id\\\":\\\"R2\\\",\\\"severity\\\":1,\\\"reasoning\\\":\\\"Very low engagement metrics suggest the\\nprofile may not be genuine.\\\"}]}\\nWhy this is wrong: R2 detects INFLATED metrics, not low ones. A small, young, honest footprint is\\nexactly what a cold-start founder looks like, and finding those people is the entire purpose of\\nthis system. Correct output: no flag.\\n</examples>\\n</prompt>\";\nconst SCHEMA = {\"$schema\": \"https://json-schema.org/draft/2020-12/schema\", \"type\": \"object\", \"required\": [\"subscorer\", \"flags\"], \"additionalProperties\": false, \"properties\": {\"subscorer\": {\"const\": \"red-flags\"}, \"flags\": {\"type\": \"array\", \"items\": {\"type\": \"object\", \"required\": [\"flag_id\", \"reasoning\", \"severity\", \"claim_ids\", \"contradiction\"], \"additionalProperties\": false, \"properties\": {\"flag_id\": {\"enum\": [\"R1\", \"R2\", \"R4\"]}, \"reasoning\": {\"type\": \"string\", \"minLength\": 1}, \"severity\": {\"enum\": [1, 2, 3]}, \"claim_ids\": {\"type\": \"array\", \"minItems\": 1, \"items\": {\"type\": \"string\", \"format\": \"uuid\"}}, \"quote_verbatim\": {\"type\": [\"string\", \"null\"]}, \"contradiction\": {\"type\": \"string\", \"minLength\": 1}}}}}};\n\nconst inp = $input.first().json;\nconst pack = (inp.packs && inp.packs[\"red-flags\"]) || { claim_ids: [], claims: [] };\n\n// Shared input contract (agents/README.md): the LEAN view the model sees -- topic,\n// text_verbatim, source_kind, raw_signal_source, evidence w/o raw_signal_id (that\n// field is backend-only, for gate.js's neg_src check, never shown to the model).\nconst claimsView = pack.claims.map(function (c) {\n  var firstSourced = (c.evidence || []).find(function (e) { return e.source; });\n  return {\n    claim_id: c.claim_id,\n    topic: c.topic,\n    text_verbatim: c.text_verbatim,\n    source_kind: c.source_kind,\n    raw_signal_source: firstSourced ? firstSourced.source : null,\n    evidence: (c.evidence || []).map(function (e) {\n      return { tier: e.tier, quote_verbatim: e.quote_verbatim, source_url: e.source_url };\n    }),\n  };\n});\n\nconst userPayload = { founder: inp.founder || {}, company: inp.company || {}, claims: claimsView };\n\nlet raw;\ntry {\n  const r = await this.helpers.httpRequest({\n    method: 'POST', url: 'https://api.openai.com/v1/chat/completions',\n    headers: { Authorization: 'Bearer ' + $env.OPENAI_API_KEY, 'Content-Type': 'application/json' },\n    body: {\n      // NOTE: design.md SS4.8 specifies temperature 0, but gpt-5.6-luna rejects it live --\n      // \"Unsupported value: 'temperature' does not support 0 with this model. Only the\n      // default (1) value is supported\" (verified 2026-07-19 against the real API). Omitted\n      // rather than sent as 1, since the design's intent (deterministic, low-variance\n      // output) is better served by NOT overriding a value the model does not accept than by\n      // silently sending a different number than what was specified.\n      model: \"gpt-5.6-luna\",\n      messages: [ { role: 'system', content: SYS }, { role: 'user', content: JSON.stringify(userPayload) } ],\n      response_format: { type: 'json_schema', json_schema: { name: \"red_flags\", strict: false, schema: SCHEMA } },\n    },\n    json: true,\n  });\n  raw = JSON.parse(r.choices[0].message.content);\n} catch (e) {\n  // design.md SS4.4 step 8: a sub-scorer that errors/times out -> GATE records every\n  // one of its criteria as cannot_assess; the other three still aggregate normally.\n  raw = { error: (e && e.message) ? e.message : String(e) };\n}\n\nconst agent_output = {};\nagent_output[\"red-flags\"] = raw;\nreturn [{ json: { ...inp, agent_output } }];\n"
   },
   "id": "5b50fbbb-72eb-4195-856b-e689de1af4c6",
   "name": "LLM: red-flags",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    1520,
    480
   ]
  },
  {
   "parameters": {
    "mode": "append",
    "numberInputs": 4
   },
   "id": "622e0fe3-b70a-468d-9fc1-5a50951af48c",
   "name": "Merge sub-scorer outputs",
   "type": "n8n-nodes-base.merge",
   "typeVersion": 3.2,
   "position": [
    1820,
    0
   ]
  },
  {
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "// Fed by the Merge node above (mode: append, numberInputs: 4), which concatenates the\n// 4 sub-scorer items into one list ONLY once all 4 parallel LLM branches have completed\n// -- $input.all() here returns exactly 4 items, one per sub-scorer, all sharing the same\n// upstream context (packs, founder_id, run_id, formula_config, ...) since they all\n// descend from \"Build 4 routed context packs\". Merge each item's one-key agent_output\n// into one map.\nconst items = $input.all();\nconst base = { ...items[0].json };\ndelete base.agent_output;\nconst rawAgentOutputs = {};\nitems.forEach(function (it) { Object.assign(rawAgentOutputs, it.json.agent_output || {}); });\nreturn [{ json: { ...base, rawAgentOutputs } }];\n"
   },
   "id": "86843ae8-5170-4ee9-b12f-2b0ca3f75bc1",
   "name": "Combine agent outputs",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    2100,
    0
   ]
  },
  {
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "const SB = String($env.SUPABASE_URL || '').replace(/\\/rest\\/v1\\/?$/, ''), KEY = $env.SUPABASE_SERVICE_ROLE_KEY;\nasync function pg(method, path, body, prefer) {\n  const headers = { apikey: KEY, Authorization: 'Bearer ' + KEY, 'Content-Type': 'application/json' };\n  if (prefer) headers.Prefer = prefer;\n  return await this.helpers.httpRequest({ method, url: SB + '/rest/v1/' + path, headers, body, json: true });\n}\nconst inp = $input.first().json;\n// design.md I8 / SS4.3: every AI call is ledgered ALWAYS, BEFORE validation -- write all\n// 4 rows unconditionally, whatever GATE later does with the content. run_id is echoed\n// into each output_json so the 4 ledger rows join to the score_components they produced\n// (design SS4.9: deliberately not ai_runs.n8n_execution_id, which is text and scoped to\n// a single node).\nconst subscorers = ['execution-signals', 'expertise-signals', 'leadership-sales-proxies', 'red-flags'];\nconst ai_run_ids = {};\nfor (const name of subscorers) {\n  const out = (inp.rawAgentOutputs && inp.rawAgentOutputs[name]) || { error: 'no output received' };\n  const output_json = { ...out, run_id: inp.run_id };\n  const rows = await pg.call(this, 'POST', 'ai_runs', {\n    task_type: 'scoring',\n    founder_id: inp.founder_id,\n    model: \"gpt-5.6-luna\",\n    prompt_version: \"p1-2026.07\",\n    output_json,\n    n8n_execution_id: String($execution.id),\n  }, 'return=representation');\n  ai_run_ids[name] = rows[0].id;\n}\nreturn [{ json: { ...inp, ai_run_ids } }];\n"
   },
   "id": "ea35d6c9-dc54-4b2a-a150-949c67a4c7aa",
   "name": "Write ai_runs x4",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    2380,
    0
   ]
  },
  {
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "// SOURCE OF TRUTH: lib/f03/gate.js -- do not edit here, edit there and re-run\n// n8n/build-f03-workflow.py. Body below is pasted VERBATIM (only the trailing\n// `module.exports` line is stripped -- n8n's sandbox does not define `module`).\n\n// lib/f03/gate.js\n// SOURCE OF TRUTH -- do not edit inside the n8n Code node, edit here and re-paste.\n//\n// Validation gate for feature 03 (Founder Score). Implements design.md \u00a74.4 steps 1-8,\n// in order: \"the model proposes booleans, the backend decides the number.\" Every verdict\n// the four sub-scorer LLM calls emit passes through here before it becomes a\n// score_components row -- this file is what makes REQ-003 / I2 enforced rather than hoped\n// for (a model cannot manufacture confidence-lowering absence into a scored `not_met`, and\n// cannot launder a paraphrase as a verbatim quote).\n//\n// docs/backlog/03-founder-score/plan.md, task B2.\n//\n// Self-contained CommonJS, ZERO imports, no top-level side effects, deterministic\n// (no Date.now(), no Math.random()). This file's body is pasted verbatim into an n8n Code\n// node -- n8n's sandbox cannot require() from the repo (no bind-mount, see plan.md\n// \"Guiding decisions\" #3) -- so any import here makes it unusable in production.\n//\n// applyGate(rawAgentOutputs, contextPacks, config) -> components[]\n//\n// Expected shapes (contract for task B4, the headless runner, and for C1, the n8n\n// workflow's context-pack-building nodes). Both the A2 agent-spec shape (primary, authored\n// after this file was first written -- docs/backlog/03-founder-score/agents/) and a legacy\n// shape (kept so nothing regresses) are accepted:\n//\n//   rawAgentOutputs = {\n//     \"execution-signals\":  { subscorer: \"execution-signals\", verdicts: [\n//                               { criterion_id, reasoning, verdict, claim_ids, quote_verbatim,\n//                                 rationale, what_would_close_it }\n//                             ] }\n//                            | { criteria: [ ... ] }             // legacy key, still accepted\n//                            | { error: \"<message>\" }            // step 8 partial failure\n//     \"expertise-signals\":  { subscorer: \"expertise-signals\", verdicts: [ ... ], pedigree: {...} }\n//                            // pedigree passed through untouched by this gate -- see run.js\n//     \"leadership-sales-proxies\": { subscorer: \"leadership-sales-proxies\", verdicts: [ ... ] }\n//     \"red-flags\":          { subscorer: \"red-flags\", flags: [\n//                               { flag_id, reasoning, severity, claim_ids, quote_verbatim,\n//                                 contradiction }\n//                             ] }\n//                            | { red_flags: [ { id, ... } ] }    // legacy key, still accepted\n//                            | { error: \"<message>\" }\n//   }\n//\n//   `reasoning` (pre-verdict analysis) and `rationale` (interpretation stored alongside the\n//   quote) are distinct fields in the A2 shape -- this gate stores `rationale` in the\n//   component and does not fall back to `reasoning` when `rationale` is present. `id` is\n//   accepted as a fallback for `criterion_id` / `flag_id` on malformed input.\n//\n//   contextPacks = {\n//     \"<subscorer-name>\": {\n//       claim_ids: [\"<uuid>\", ...],              // informational; membership is derived from\n//                                                 // `claims` below regardless\n//       claims: [\n//         {\n//           claim_id:      \"<uuid>\",\n//           text_verbatim: \"...\",\n//           topic:         \"founder.execution.merged_pr\",\n//           source_kind:   \"public\" | \"self_reported\" | \"derived\" | \"interview\" | \"voice\",\n//           evidence: [\n//             {\n//               tier:            \"documented\" | \"discovered\" | \"inferred\" | \"missing\",\n//               quote_verbatim:  \"...\" | null,\n//               source_url:      \"...\" | null,\n//               raw_signal_id:   \"<uuid>\" | null,   // evidence.raw_signal_id is nullable\n//               source:          \"github_api\" | ... | null   // raw_signals.source, PRE-JOINED\n//                                                             // by the caller -- gate.js does\n//                                                             // no DB access. null/absent when\n//                                                             // raw_signal_id is null, in which\n//                                                             // case step 5 uses the\n//                                                             // source_kind fallback.\n//             }, ...\n//           ]\n//         }, ...\n//       ]\n//     }, ...\n//   }\n//\n//   config = {\n//     credit: { met_documented: 1.0, met_discovered: 0.8, self_asserted: 0.3, not_met: 0.0 },\n//     // criteria / red_flags: the LIVE db/seed.sql `formula_v1` row stores both as ARRAYS\n//     // (jsonb_typeof = 'array'); an object keyed by id is also accepted (e.g. for hand-built\n//     // test fixtures). Both forms are normalized to an internal by-id map before use.\n//     criteria: [\n//       { id: \"<criterion_id>\", subscorer: \"<one of the four subscorer names>\",\n//         weight: 0.10000,                                     // numeric(6,5), stored not computed\n//         neg_src: \"github_api\" | [\"tavily_extract\", \"github_api\"],  // array, or a \"|\"/\",\"\n//                                                                     // -delimited string\n//         raw: 5, anchor: \"...\" }                               // carried through, unused here\n//       , ...\n//     ]  |  { \"<criterion_id>\": { subscorer, weight, neg_src }, ... },\n//     red_flags: [\n//       { id: \"<flag_id>\", contradicts: [\"<criterion_id>\", ...], demote_to: \"not_met\" | \"self_asserted\" }\n//       , ...\n//     ]  |  { \"<flag_id>\": { contradicts: [...], demote_to } }\n//   }\n//\n// `config.criteria` is the design \u00a73 registry transcribed into db/seed.sql (`formula_v1`,\n// task B3a); `config.red_flags` is the design \u00a73 D contradicts/demote_to map from the same\n// row. Both arrive as plain jsonb -- gate.js treats every field defensively.\n\n'use strict';\n\nvar VALID_VERDICTS = ['met', 'self_asserted', 'not_met', 'cannot_assess'];\n\nvar TIER_RANK = { documented: 3, discovered: 2, inferred: 1, missing: 0 };\n\nvar WILDCARD_SOURCE = '*';\n\n// design \u00a74.4 step 5: fallback source resolution when evidence.raw_signal_id is not\n// reachable. claims.source_kind -> permitted `neg_src` source. This is a DIFFERENT\n// vocabulary from signal_sources.slug (which is what `neg_src` itself is expressed in) --\n// see design \u00a74.4's explicit warning. Fixed by design, not part of score_formulas.config.\nvar SOURCE_KIND_FALLBACK = {\n  self_reported: 'deck_parse',\n  derived: 'deck_parse',\n  interview: 'interview_answer',\n  voice: 'interview_answer',\n  public: WILDCARD_SOURCE\n};\n\nfunction isPlainObject(v) {\n  return v !== null && typeof v === 'object' && !Array.isArray(v);\n}\n\nfunction safeWarn(msg) {\n  // design step 3: \"drop and log\". console is a sandbox global, not an import -- guarded so\n  // a sandbox without console never breaks the gate.\n  try {\n    if (typeof console !== 'undefined' && typeof console.warn === 'function') {\n      console.warn('[f03/gate] ' + msg);\n    }\n  } catch (_e) { /* logging must never break the gate */ }\n}\n\nfunction dedupe(arr) {\n  var seen = {};\n  var out = [];\n  for (var i = 0; i < arr.length; i++) {\n    var v = arr[i];\n    if (!seen[v]) {\n      seen[v] = true;\n      out.push(v);\n    }\n  }\n  return out;\n}\n\n// config.criteria / config.red_flags arrive as either an array of {id, ...} elements (the\n// live db/seed.sql `formula_v1` shape) or an object keyed by id (accepted for hand-built\n// fixtures). Both are normalized to a plain by-id map before use.\nfunction normalizeIdKeyedConfig(raw, fallbackIdField) {\n  var out = {};\n  if (Array.isArray(raw)) {\n    raw.forEach(function (item) {\n      if (!isPlainObject(item)) return;\n      var rawId = item.id != null ? item.id : item[fallbackIdField];\n      var id = rawId != null ? String(rawId).trim() : '';\n      if (!id) return;\n      out[id] = item;\n    });\n  } else if (isPlainObject(raw)) {\n    Object.keys(raw).forEach(function (id) {\n      if (isPlainObject(raw[id])) out[id] = raw[id];\n    });\n  }\n  return out;\n}\n\n// Positive sub-scorers: A2 shape uses `verdicts`; legacy fixtures may use `criteria`.\nfunction getVerdictsArray(raw) {\n  if (!isPlainObject(raw)) return null;\n  if (Array.isArray(raw.verdicts)) return raw.verdicts;\n  if (Array.isArray(raw.criteria)) return raw.criteria;\n  return null;\n}\n\n// red-flags sub-scorer: A2 shape uses `flags`; legacy fixtures may use `red_flags`.\nfunction getFlagsArray(raw) {\n  if (!isPlainObject(raw)) return null;\n  if (Array.isArray(raw.flags)) return raw.flags;\n  if (Array.isArray(raw.red_flags)) return raw.red_flags;\n  return null;\n}\n\nfunction normalizeNegSrcList(negSrc) {\n  if (Array.isArray(negSrc)) {\n    return negSrc.map(function (s) { return String(s).trim(); }).filter(Boolean);\n  }\n  if (typeof negSrc === 'string') {\n    return negSrc.split(/[|,]/).map(function (s) { return s.trim(); }).filter(Boolean);\n  }\n  return [];\n}\n\n// Primary path: evidence.raw_signal_id -> raw_signals.source (pre-joined into `ev.source`\n// by the caller). Fallback: evidence.raw_signal_id is nullable (schema.sql) -- when it, or\n// the pre-joined source, is absent, resolve via claims.source_kind instead.\nfunction resolveEvidenceSource(claim, ev) {\n  if (ev && ev.raw_signal_id && ev.source) return ev.source;\n  var fallback = SOURCE_KIND_FALLBACK[claim && claim.source_kind];\n  return fallback || null;\n}\n\nfunction sourceMatchesNegSrc(resolvedSource, negSrc) {\n  if (!resolvedSource) return false;\n  if (resolvedSource === WILDCARD_SOURCE) return true;\n  return normalizeNegSrcList(negSrc).indexOf(resolvedSource) !== -1;\n}\n\nfunction buildClaimMap(pack) {\n  var map = {};\n  var claims = pack && Array.isArray(pack.claims) ? pack.claims : [];\n  for (var i = 0; i < claims.length; i++) {\n    var claim = claims[i];\n    if (claim && claim.claim_id) map[claim.claim_id] = claim;\n  }\n  return map;\n}\n\n// Step 5 (and its re-application after step 6): does this agent's pack contain ANY claim\n// whose resolved source matches criterion.neg_src? Search is pack-wide, not limited to the\n// verdict's own citations -- design \u00a74.4 step 5 says \"the pack contains a claim\", and step 6a\n// needs \"the neg_src-matching claim found in step 5\" independent of what the model cited.\n// Returns the BEST (highest-tier) match, or null.\nfunction findNegSrcMatch(pack, negSrc) {\n  var claims = pack && Array.isArray(pack.claims) ? pack.claims : [];\n  var best = null;\n  for (var i = 0; i < claims.length; i++) {\n    var claim = claims[i];\n    if (!claim || !claim.claim_id) continue;\n    var evidenceList = Array.isArray(claim.evidence) ? claim.evidence : [];\n    for (var j = 0; j < evidenceList.length; j++) {\n      var ev = evidenceList[j];\n      var resolved = resolveEvidenceSource(claim, ev);\n      if (!sourceMatchesNegSrc(resolved, negSrc)) continue;\n      var tier = (ev && typeof ev.tier === 'string' && (ev.tier in TIER_RANK)) ? ev.tier : 'missing';\n      var rank = TIER_RANK[tier];\n      if (!best || rank > best.rank) best = { claimId: claim.claim_id, tier: tier, rank: rank };\n    }\n  }\n  return best ? { claimId: best.claimId, tier: best.tier } : null;\n}\n\n// Step 6a `met` branch: best evidence.tier among the criterion's cited claims.\n// null means \"no usable evidence tier found at all\" (e.g. a cited claim with zero evidence\n// rows), which step 6a treats the same as 'missing'.\nfunction bestTierAmongClaims(claimMap, claimIds) {\n  var best = null;\n  for (var i = 0; i < claimIds.length; i++) {\n    var claim = claimMap[claimIds[i]];\n    if (!claim) continue;\n    var evidenceList = Array.isArray(claim.evidence) ? claim.evidence : [];\n    for (var j = 0; j < evidenceList.length; j++) {\n      var ev = evidenceList[j];\n      var tier = (ev && typeof ev.tier === 'string' && (ev.tier in TIER_RANK)) ? ev.tier : null;\n      if (!tier) continue;\n      var rank = TIER_RANK[tier];\n      if (best === null || rank > best.rank) best = { tier: tier, rank: rank };\n    }\n  }\n  return best ? best.tier : null;\n}\n\n// Step 7: exact-substring check against the cited claims' text_verbatim / evidence quotes.\nfunction quoteIsVerbatim(quote, claimMap, claimIds) {\n  if (!quote) return false;\n  for (var i = 0; i < claimIds.length; i++) {\n    var claim = claimMap[claimIds[i]];\n    if (!claim) continue;\n    if (typeof claim.text_verbatim === 'string' && claim.text_verbatim.indexOf(quote) !== -1) {\n      return true;\n    }\n    var evidenceList = Array.isArray(claim.evidence) ? claim.evidence : [];\n    for (var j = 0; j < evidenceList.length; j++) {\n      var ev = evidenceList[j];\n      if (ev && typeof ev.quote_verbatim === 'string' && ev.quote_verbatim.indexOf(quote) !== -1) {\n        return true;\n      }\n    }\n  }\n  return false;\n}\n\n// Step 8: did this sub-scorer error / throw / time out / return something unusable?\nfunction subscorerFailed(raw) {\n  if (!isPlainObject(raw)) return true;\n  if (raw.error) return true;\n  if (getVerdictsArray(raw) === null) return true;\n  return false;\n}\n\n// Steps 5 and its re-application after step 6: coerce `not_met` -> `cannot_assess` unless\n// the pack carries a neg_src-matching claim. Mutates `componentsById` in place; called once\n// right after steps 1-4 (before red-flag demotion) and once again after (design \u00a74.4 step 6\n// explicitly requires the re-application -- R1 demotes *to* `not_met`, the very verdict this\n// function polices, so a demotion must not bypass it).\nfunction applyNegativeCapability(componentsById, contextPacks, criteriaRegistry) {\n  Object.keys(componentsById).forEach(function (critId) {\n    var comp = componentsById[critId];\n    if (comp.verdict !== 'not_met') return;\n    var def = criteriaRegistry[critId];\n    var pack = contextPacks[comp.subscorer] || { claims: [] };\n    var match = findNegSrcMatch(pack, def.neg_src);\n    if (!match) {\n      comp.verdict = 'cannot_assess';\n      comp.what_would_close_it = 'criterion ' + critId + ': not_met requires a claim sourced from ' +\n        (Array.isArray(def.neg_src) ? def.neg_src.join('/') : def.neg_src) + '; none found in pack';\n      comp._negMatch = null;\n    } else {\n      comp._negMatch = match;\n    }\n  });\n}\n\nfunction applyGate(rawAgentOutputs, contextPacks, config) {\n  rawAgentOutputs = isPlainObject(rawAgentOutputs) ? rawAgentOutputs : {};\n  contextPacks = isPlainObject(contextPacks) ? contextPacks : {};\n  config = isPlainObject(config) ? config : {};\n\n  var creditMap = isPlainObject(config.credit) ? config.credit : {};\n  var criteriaRegistry = normalizeIdKeyedConfig(config.criteria, 'criterion_id');\n  var redFlagMap = normalizeIdKeyedConfig(config.red_flags, 'flag_id');\n\n  // Group registry criteria by their owning sub-scorer.\n  var criteriaBySubscorer = {};\n  Object.keys(criteriaRegistry).forEach(function (critId) {\n    var def = criteriaRegistry[critId];\n    if (!def || !def.subscorer) return;\n    if (!criteriaBySubscorer[def.subscorer]) criteriaBySubscorer[def.subscorer] = [];\n    criteriaBySubscorer[def.subscorer].push(critId);\n  });\n\n  var componentsById = {};\n\n  // ---- Steps 1-4, plus step 8's short-circuit, per sub-scorer ----\n  Object.keys(criteriaBySubscorer).forEach(function (subscorerName) {\n    var criterionIds = criteriaBySubscorer[subscorerName];\n    var raw = rawAgentOutputs[subscorerName];\n    var pack = contextPacks[subscorerName] || { claims: [] };\n    var claimMap = buildClaimMap(pack);\n    var failed = subscorerFailed(raw);\n\n    // Model-emitted criteria for this sub-scorer, keyed by validated criterion_id.\n    // Step 3: unknown ids, and ids belonging to a different sub-scorer, are dropped + logged.\n    var emittedById = {};\n    if (!failed) {\n      getVerdictsArray(raw).forEach(function (item) {\n        if (!isPlainObject(item)) return;\n        var rawId = item.criterion_id != null ? item.criterion_id : item.id;\n        var critId = String(rawId != null ? rawId : '').trim();\n        if (!critId) return;\n        var def = criteriaRegistry[critId];\n        if (!def || def.subscorer !== subscorerName) {\n          safeWarn('unknown or misrouted criterion_id \"' + critId + '\" from ' + subscorerName + '; dropped');\n          return;\n        }\n        if (emittedById[critId]) return; // duplicate emission in one response; keep the first\n        emittedById[critId] = item;\n      });\n    }\n\n    criterionIds.forEach(function (critId) {\n      var def = criteriaRegistry[critId];\n      var comp;\n\n      if (failed) {\n        // Step 8: partial failure -> every criterion of this sub-scorer is cannot_assess.\n        // The other sub-scorers are untouched and still aggregate normally.\n        comp = {\n          subscorer: subscorerName,\n          criterion_id: critId,\n          verdict: 'cannot_assess',\n          weight: def.weight,\n          credit: null,\n          evidence_tier: null,\n          claim_ids: [],\n          quote_verbatim: null,\n          rationale: null,\n          what_would_close_it: 'sub-scorer ' + subscorerName + ' failed; rerun',\n          demoted_by: null\n        };\n      } else if (!emittedById[critId]) {\n        // Step 3: criterion is in the registry but the response is silent on it. Absence is\n        // always recorded explicitly, never silently missing.\n        comp = {\n          subscorer: subscorerName,\n          criterion_id: critId,\n          verdict: 'cannot_assess',\n          weight: def.weight,\n          credit: null,\n          evidence_tier: null,\n          claim_ids: [],\n          quote_verbatim: null,\n          rationale: null,\n          what_would_close_it: 'criterion ' + critId + ' not addressed by ' + subscorerName,\n          demoted_by: null\n        };\n      } else {\n        var item = emittedById[critId];\n\n        // Step 1: normalize.\n        var verdict = String(item.verdict != null ? item.verdict : '').toLowerCase().trim();\n\n        // Step 2: enum.\n        if (VALID_VERDICTS.indexOf(verdict) === -1) verdict = 'cannot_assess';\n\n        // Step 4: citation. Drop hallucinated ids FIRST, then coerce met/self_asserted to\n        // cannot_assess only if nothing survived -- one bad id must not nullify an otherwise\n        // well-evidenced verdict.\n        var citedIds = Array.isArray(item.claim_ids) ? item.claim_ids : [];\n        citedIds = dedupe(citedIds.filter(function (id) { return !!claimMap[id]; }));\n\n        // `reasoning` (pre-verdict analysis) and `rationale` (interpretation stored beside\n        // the quote) are distinct A2 fields -- only `rationale` is stored; never collapse\n        // `reasoning` into it.\n        var modelWhatWouldCloseIt = item.what_would_close_it != null ? item.what_would_close_it : null;\n        var whatWouldCloseIt = null;\n        if ((verdict === 'met' || verdict === 'self_asserted') && citedIds.length === 0) {\n          whatWouldCloseIt = 'criterion ' + critId + ': verdict \"' + verdict + '\" cited no valid claim in the pack';\n          verdict = 'cannot_assess';\n        }\n        if (verdict === 'cannot_assess' && !whatWouldCloseIt) {\n          // No backend-specific coercion fired above (e.g. the model emitted cannot_assess\n          // directly, or step 2's enum check coerced it) -- prefer the model's own\n          // explanation over the generic fallback the final normalization pass would add.\n          whatWouldCloseIt = modelWhatWouldCloseIt;\n        }\n\n        comp = {\n          subscorer: subscorerName,\n          criterion_id: critId,\n          verdict: verdict,\n          weight: def.weight,\n          credit: null,\n          evidence_tier: null,\n          claim_ids: citedIds,\n          quote_verbatim: item.quote_verbatim != null ? item.quote_verbatim : null,\n          rationale: item.rationale != null ? item.rationale : null,\n          what_would_close_it: whatWouldCloseIt,\n          demoted_by: null\n        };\n      }\n\n      componentsById[critId] = comp;\n    });\n  });\n\n  // ---- Step 5, first application (governs verdicts the models emitted directly) ----\n  applyNegativeCapability(componentsById, contextPacks, criteriaRegistry);\n\n  // ---- Step 6: red-flag demotion. Applies the red-flags agent's fired flags to the OTHER\n  // agents' verdicts, per config.red_flags' contradicts/demote_to map. Demotion overwrites\n  // verdict unconditionally, regardless of the criterion's current state (including\n  // cannot_assess from a failed sub-scorer -- a strong red flag can still speak for a\n  // criterion whose own agent errored). ----\n  var redFlagsRaw = rawAgentOutputs['red-flags'];\n  var flagsArray = getFlagsArray(redFlagsRaw);\n  if (flagsArray) {\n    var firedFlagIds = dedupe(\n      flagsArray\n        .filter(function (f) { return isPlainObject(f) && (f.flag_id != null || f.id != null); })\n        .map(function (f) { return String(f.flag_id != null ? f.flag_id : f.id).trim(); })\n    );\n    firedFlagIds.forEach(function (flagId) {\n      var rule = redFlagMap[flagId];\n      if (!rule || !Array.isArray(rule.contradicts)) return;\n      rule.contradicts.forEach(function (targetCritId) {\n        var comp = componentsById[targetCritId];\n        if (!comp) return;\n        comp.verdict = rule.demote_to;\n        comp.demoted_by = flagId;\n      });\n    });\n  }\n\n  // ---- Step 5, re-application (post-demotion). A demotion to `not_met` (R1's demote_to) is\n  // the very verdict step 5 exists to police -- without this second pass, a red flag would be\n  // able to write an unsupported `not_met` straight past REQ-003. ----\n  applyNegativeCapability(componentsById, contextPacks, criteriaRegistry);\n\n  // ---- Step 6a: backend-assigned evidence_tier + credit (never the model). ----\n  Object.keys(componentsById).forEach(function (critId) {\n    var comp = componentsById[critId];\n    var pack = contextPacks[comp.subscorer] || { claims: [] };\n    var claimMap = buildClaimMap(pack);\n\n    if (comp.verdict === 'met') {\n      var bestTier = bestTierAmongClaims(claimMap, comp.claim_ids);\n      if (bestTier === 'inferred' || bestTier === 'missing' || bestTier === null) {\n        // A claim we only inferred is not corroboration -- and this is what keeps the\n        // credit map total (design \u00a72.3 has no met_inferred / met_missing entry).\n        comp.verdict = 'self_asserted';\n        comp.evidence_tier = 'missing';\n        comp.credit = creditMap.self_asserted;\n      } else {\n        comp.evidence_tier = bestTier;\n        comp.credit = bestTier === 'documented' ? creditMap.met_documented : creditMap.met_discovered;\n      }\n    } else if (comp.verdict === 'self_asserted') {\n      comp.evidence_tier = 'missing';\n      comp.credit = creditMap.self_asserted;\n    } else if (comp.verdict === 'not_met') {\n      var negMatch = comp._negMatch;\n      comp.evidence_tier = negMatch ? negMatch.tier : null;\n      comp.credit = creditMap.not_met;\n      // Ensure the claim that actually licenses the negative is traceable, alongside\n      // whatever the model itself cited (kept, not cleared -- see task report for why).\n      if (negMatch && comp.claim_ids.indexOf(negMatch.claimId) === -1) {\n        comp.claim_ids = comp.claim_ids.concat([negMatch.claimId]);\n      }\n    } else {\n      comp.evidence_tier = null;\n      comp.credit = null;\n    }\n    delete comp._negMatch;\n  });\n\n  // ---- Step 7: verbatim integrity (I6 / RSK-003). Runs last among the mutating steps so it\n  // validates the FINAL claim_ids, whatever step 6/6a left them as. ----\n  Object.keys(componentsById).forEach(function (critId) {\n    var comp = componentsById[critId];\n    if (!comp.quote_verbatim) return;\n    var pack = contextPacks[comp.subscorer] || { claims: [] };\n    var claimMap = buildClaimMap(pack);\n    if (!quoteIsVerbatim(comp.quote_verbatim, claimMap, comp.claim_ids)) {\n      comp.quote_verbatim = null;\n    }\n  });\n\n  // ---- Final normalization: enforce the cannot_assess <-> {credit, evidence_tier,\n  // what_would_close_it} invariants regardless of which step last touched a component (a\n  // demotion, or the step-5 re-application, may move a criterion into or out of\n  // cannot_assess after an earlier step already set one of these fields). ----\n  return Object.keys(componentsById).map(function (critId) {\n    var comp = componentsById[critId];\n    if (comp.verdict === 'cannot_assess') {\n      comp.credit = null;\n      comp.evidence_tier = null;\n      if (!comp.what_would_close_it) {\n        comp.what_would_close_it = 'criterion ' + critId + ': cannot be assessed';\n      }\n    } else {\n      comp.what_would_close_it = null;\n    }\n    return {\n      subscorer: comp.subscorer,\n      criterion_id: comp.criterion_id,\n      verdict: comp.verdict,\n      weight: comp.weight,\n      credit: comp.credit,\n      evidence_tier: comp.evidence_tier,\n      claim_ids: comp.claim_ids,\n      quote_verbatim: comp.quote_verbatim,\n      rationale: comp.rationale,\n      what_would_close_it: comp.what_would_close_it,\n      demoted_by: comp.demoted_by\n    };\n  });\n}\n\n// ---- invocation ----\nconst inp = $input.first().json;\nconst components = applyGate(inp.rawAgentOutputs, inp.packs, inp.formula_config);\nreturn [{ json: { ...inp, components } }];\n"
   },
   "id": "1cfd45e9-740c-4fa1-abbe-bfdacb64d38e",
   "name": "GATE - validation (gate.js)",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    2660,
    0
   ],
   "notes": "SOURCE OF TRUTH: lib/f03/gate.js -- do not edit here, edit there and re-paste (via n8n/build-f03-workflow.py)."
  },
  {
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "const SB = String($env.SUPABASE_URL || '').replace(/\\/rest\\/v1\\/?$/, ''), KEY = $env.SUPABASE_SERVICE_ROLE_KEY;\nasync function pgGet(path) {\n  return await this.helpers.httpRequest({\n    method: 'GET', url: SB + '/rest/v1/' + path,\n    headers: { apikey: KEY, Authorization: 'Bearer ' + KEY }, json: true,\n  });\n}\nconst inp = $input.first().json;\n// design.md SS4.5 trend guard needs the prior founder_score row for THIS founder (or\n// null if none exists yet -- a first score's trend is NULL, not 'stable').\nconst rows = await pgGet.call(this,\n  'scores?founder_id=eq.' + inp.founder_id +\n  '&axis=eq.founder_score&order=computed_at.desc&limit=1' +\n  '&select=id,value,formula_version,input_claim_ids,confidence');\nconst previous_score = (rows && rows.length) ? {\n  value: Number(rows[0].value),\n  formula_version: rows[0].formula_version,\n  input_claim_ids: rows[0].input_claim_ids || [],\n} : null;\nreturn [{ json: { ...inp, previous_score } }];\n"
   },
   "id": "0a0bb098-249a-40e4-96a6-804ea0e5fa36",
   "name": "Load previous founder_score",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    2940,
    0
   ]
  },
  {
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "// SOURCE OF TRUTH: lib/f03/scoring.js -- do not edit here, edit there and re-run\n// n8n/build-f03-workflow.py. Body below is pasted VERBATIM (only the trailing\n// `module.exports` block is stripped -- n8n's sandbox does not define `module`).\n// THIS IS THE PLACE WITH NO LLM IN IT (design.md SS0 / SS5): \"the model proposes\n// booleans, the backend decides the number.\" Every constant (weights, credits, tier\n// factors, min_coverage, trend_epsilon) comes from formula_config -- score_formulas --\n// nothing is hardcoded here.\n\n// lib/f03/scoring.js\n//\n// Deterministic aggregation core for feature 03 (Founder Score). Pure\n// functions only -- NO imports, NO requires, no I/O, no network, no\n// Date.now()/Math.random() anywhere. This file's body is pasted verbatim\n// into an n8n Code node with a `// SOURCE OF TRUTH` header (plan.md guiding\n// decision 3): n8n's Code-node sandbox has no bind-mount of this repo and\n// cannot `require()` from it, so a single stray `require()` here would make\n// the file unusable in production. \"The model proposes booleans, the\n// backend decides the number\" (design.md \u00a70) -- this is the \"the number\"\n// half; lib/f03/gate.js (B2) is the half that decides verdicts/tiers.\n//\n// Authoritative source for every formula: docs/backlog/03-founder-score/\n// design.md rev 3 -- section cited inline next to each piece. Every tunable\n// constant (weights, credits, tier factors, min_coverage, trend_epsilon) is\n// read from the `config` argument passed to aggregate(); nothing here is\n// hardcoded (plan.md B1 task brief: \"Read them from the passed config\n// object; hardcode nothing\").\n//\n// ============================================================================\n// Config shape (design \u00a72.3 constants block + \u00a73 criteria registry). This is\n// the jsonb payload the caller reads from the active `score_formulas` row --\n// see the note above computeTrend() for why `version` is folded in here too.\n//\n//   {\n//     version: 'formula_v1',\n//     min_coverage: 0.25,\n//     trend_epsilon: 3.0,\n//     tier_factor: { documented: 1.0, discovered: 0.7, inferred: 0.4, missing: 0.0 },\n//     credit:      { met_documented: 1.0, met_discovered: 0.8, self_asserted: 0.3, not_met: 0.0 },\n//     criteria: {                    // \u00a73 -- ALL criteria that exist for this\n//       E1: { weight: 0.10000, subscorer: 'execution-signals', ... },  // formula version; the\n//       ...                                                            // authoritative source\n//     },                                                                // of \"all_weight\" (below)\n//   }\n//\n// `config.criteria` is accepted in EITHER shape: an object keyed by\n// criterion_id (above) OR an array of `{ id, weight, ... }` elements -- the\n// live `score_formulas.config->'criteria'` row (B3a) stores it as a jsonb\n// ARRAY (`[{\"id\":\"E1\",\"raw\":5,\"weight\":0.10000,...}, ...]`), not an object.\n// normalizeCriteriaRegistry() below folds either shape into the internal\n// by-id map every lookup in this file uses, so a caller can pass the config\n// row through unchanged -- same normalization lib/f03/gate.js already\n// applies, kept independent here (no shared import, per the zero-imports\n// constraint) but matching its behaviour exactly.\n//\n// Component shape -- one entry per criterion in `config.criteria`, produced\n// by gate.js (B2). verdict + evidence_tier are ALREADY backend-decided per\n// design \u00a74.4 by the time they reach this file; aggregate() only aggregates,\n// it never assigns either (that would re-do gate.js's job in the wrong\n// layer):\n//\n//   {\n//     criterion_id: 'E1',\n//     verdict: 'met' | 'self_asserted' | 'not_met' | 'cannot_assess',\n//     evidence_tier: 'documented' | 'discovered' | 'inferred' | 'missing' | null,\n//     claim_ids: [...],              // optional, defaults to []\n//     what_would_close_it: '...',    // optional, used only for cannot_assess rows\n//     // + any other pass-through fields (subscorer, quote_verbatim,\n//     //   rationale, demoted_by, ...) -- echoed back untouched on the\n//     //   `components` key of aggregate()'s return value.\n//   }\n// ============================================================================\n\n'use strict';\n\n// ----------------------------------------------------------------------------\n// Small shared helpers\n// ----------------------------------------------------------------------------\n\nfunction clamp(value, min, max) {\n  return Math.min(max, Math.max(min, value));\n}\n\n// Rounds to 2dp via the same `toFixed` mechanism the property tests check\n// against (`Number(v.toFixed(2)) === v`) -- design \u00a72.3 rounding discipline:\n// \"value -> round 2dp, clamp [0,100]; confidence -> round 2dp, clamp [0,1];\n// applied in the aggregate node before insert. numeric(5,2) would otherwise\n// reject a float-computed 100.005.\"\nfunction round2(value) {\n  return Number(value.toFixed(2));\n}\n\n// Rounds to 5dp, matching `score_components.contribution numeric(8,5)`\n// (design \u00a74.2) -- the column's own precision, not an arbitrary choice.\nfunction round5(value) {\n  return Number(value.toFixed(5));\n}\n\nfunction isFiniteNumber(value) {\n  return typeof value === 'number' && Number.isFinite(value);\n}\n\nconst ASSESSED_VERDICTS = new Set(['met', 'self_asserted', 'not_met']);\n\n// ----------------------------------------------------------------------------\n// \u00a72.2 / \u00a72.3 -- credit and tier_factor lookups. Both are backend arithmetic\n// on values gate.js already decided (verdict, evidence_tier); this file does\n// not re-derive either.\n// ----------------------------------------------------------------------------\n\n// credit(verdict, evidence_tier) -- \u00a72.2 table + \u00a72.3 constants block. `met`\n// splits on evidence_tier because the credit map has no single 'met' key: it\n// carries `met_documented` and `met_discovered` separately. \u00a72.3, verbatim:\n// \"the credit map has no met_inferred / met_missing entry by construction:\n// \u00a74.4 step 5a coerces such a verdict to self_asserted before aggregation,\n// so the case cannot reach the formula\" -- i.e. by the time a component\n// reaches aggregate(), a 'met' verdict's evidence_tier is guaranteed\n// 'documented' or 'discovered'. Anything else (a gate.js defect, not this\n// file's to police) falls through to met_discovered rather than throwing --\n// that coercion is gate.js's contract to keep, not this file's to enforce.\nfunction creditFor(verdict, evidenceTier, creditMap) {\n  if (verdict === 'met') {\n    return evidenceTier === 'documented' ? creditMap.met_documented : creditMap.met_discovered;\n  }\n  if (verdict === 'self_asserted') return creditMap.self_asserted;\n  if (verdict === 'not_met') return creditMap.not_met;\n  return null; // cannot_assess -- credit n/a, excluded from every sum (\u00a72.3)\n}\n\n// tier_factor(evidence_tier) -- \u00a72.3: \"tier_mix runs over ALL assessed\n// criteria... taking tier_factor from the tier of the source that\n// established the verdict.\" An absent/unrecognized tier defaults to 0\n// rather than throwing: assigning a *valid* tier to every assessed\n// component is gate.js's contract (\u00a74.4 step 6a), not something this purely\n// arithmetic layer re-validates.\nfunction tierFactorFor(evidenceTier, tierFactorMap) {\n  if (evidenceTier === null || evidenceTier === undefined) return 0;\n  if (!tierFactorMap || !Object.prototype.hasOwnProperty.call(tierFactorMap, evidenceTier)) return 0;\n  return tierFactorMap[evidenceTier];\n}\n\n// weight(criterion_id) -- \u00a73 registry, looked up from the normalized\n// by-id criteria map (see normalizeCriteriaRegistry() below). Throws on an\n// unknown criterion_id: unlike an unrecognized tier (a defensive default),\n// an unweighted/unregistered criterion is a genuine config defect that must\n// fail loudly rather than silently under-count all_weight (mirrors\n// lib/f04/scoring.js's scoreTermFor: \"a typo'd state string fails loudly\n// instead of quietly scoring as unknown\").\nfunction weightFor(criterionId, criteriaRegistry) {\n  const entry = criteriaRegistry ? criteriaRegistry[criterionId] : undefined;\n  if (!entry || !isFiniteNumber(entry.weight)) {\n    throw new Error(`scoring.js: unknown or unweighted criterion_id in config.criteria: ${JSON.stringify(criterionId)}`);\n  }\n  return entry.weight;\n}\n\n// normalizeCriteriaRegistry(criteria) -- accepts either shape config.criteria\n// can arrive in (see the file-header note) and returns the internal by-id\n// map every lookup in this file expects:\n//   - object already keyed by criterion_id -> returned as-is (fast path,\n//     also what every unit test in scoring.test.js constructs directly).\n//   - array of `{ id, weight, ... }` elements (the live score_formulas.config\n//     shape, per B3a) -> folded into `{ [entry.id]: entry }`.\n// A malformed array element (no usable `id`) is skipped, not thrown on here\n// -- it will surface as the loud \"unknown or unweighted criterion_id\" error\n// from weightFor() the moment a component actually references it, which is\n// the more useful failure point (it names the missing id).\nfunction normalizeCriteriaRegistry(criteria) {\n  if (!criteria) return {};\n  if (!Array.isArray(criteria)) return criteria;\n\n  const map = {};\n  for (const entry of criteria) {\n    if (!entry) continue;\n    const id = entry.id ?? entry.criterion_id;\n    if (id === undefined || id === null) continue;\n    map[id] = entry;\n  }\n  return map;\n}\n\n// ----------------------------------------------------------------------------\n// \u00a74.5 -- trend helpers\n// ----------------------------------------------------------------------------\n\n// Order-insensitive uuid[] set equality. \u00a74.5, verbatim: \"the prior row's\n// input_claim_ids is the same set as this run's (compared order-\n// insensitively -- uuid[] equality in Postgres is order-sensitive and would\n// miss it)\". Duplicates inside either list collapse under Set semantics,\n// which is the correct reading of \"same SET\".\nfunction sameIdSet(a, b) {\n  const setA = new Set(Array.isArray(a) ? a : []);\n  const setB = new Set(Array.isArray(b) ? b : []);\n  if (setA.size !== setB.size) return false;\n  for (const id of setA) {\n    if (!setB.has(id)) return false;\n  }\n  return true;\n}\n\n// Union of every component's claim_ids -- \"this run's\" input_claim_ids for\n// the \u00a74.5 comparison. See the note above computeTrend() for why aggregate()\n// derives it this way rather than taking it as a fifth argument.\nfunction unionClaimIds(components) {\n  const set = new Set();\n  for (const c of components) {\n    if (Array.isArray(c.claim_ids)) {\n      for (const id of c.claim_ids) set.add(id);\n    }\n  }\n  return Array.from(set);\n}\n\n// computeTrend -- \u00a74.5. NULL when: no previous row; previous.formula_version\n// differs from the current one; previous.input_claim_ids is the same set as\n// this run's. Otherwise \u0394 = currentValue - previousScore.value, banded\n// against trendEpsilon. `currentValue` is the already-ROUNDED value (the one\n// that gets persisted to `scores.value numeric(5,2)`), compared against\n// `previousScore.value` which is that same persisted, already-rounded\n// column from the prior run -- comparing like with like.\nfunction computeTrend({ currentValue, currentVersion, currentClaimIds, previousScore, trendEpsilon }) {\n  if (!previousScore) return null;\n  if (previousScore.formula_version !== currentVersion) return null;\n  if (sameIdSet(previousScore.input_claim_ids, currentClaimIds)) return null;\n  if (!isFiniteNumber(previousScore.value) || !isFiniteNumber(currentValue) || !isFiniteNumber(trendEpsilon)) return null;\n\n  const delta = currentValue - previousScore.value;\n  if (delta >= trendEpsilon) return 'improving';\n  if (delta <= -trendEpsilon) return 'declining';\n  return 'stable';\n}\n\n// ----------------------------------------------------------------------------\n// \u00a72.3 / \u00a72.4 -- aggregate(). The single entry point pasted into the\n// f03-aggregate-score n8n Code node.\n// ----------------------------------------------------------------------------\n\n// aggregate(components, config, previousScore) -> {status, value, confidence,\n//   coverage, trend, missing, components}\n//\n// `components` -- array, one entry per criterion in config.criteria (gate.js's\n//   contract: every registry criterion is represented, `cannot_assess` when\n//   absent from the model's response -- see design \u00a74.4 step 3).\n// `config` -- the score_formulas config shape documented at the top of this\n//   file (constants block + \u00a73 criteria registry + `version`).\n// `previousScore` -- the previous founder_score `scores` row for this\n//   founder ({value, formula_version, input_claim_ids}), or null/undefined\n//   if none exists yet.\n//\n// Returns the 6 fields the B1 task brief names explicitly (status, value,\n// confidence, coverage, trend, missing) PLUS a `components` array: each\n// input component augmented with its resolved `weight`, `credit` and\n// `contribution` (percentage points, \u00a72.3) -- the per-criterion breakdown a\n// caller needs to write `score_components` rows and the judge-checkable\n// \"\u03a3 contribution == value\" identity design \u00a72.3 describes. `credit` and\n// `contribution` are `null` on `cannot_assess` rows (n/a, excluded from\n// every sum), matching the nullable `score_components.credit` /\n// `.contribution` columns (design \u00a74.2).\nfunction aggregate(components, config, previousScore) {\n  const list = Array.isArray(components) ? components : [];\n  const creditMap = config.credit;\n  const tierFactorMap = config.tier_factor;\n  const criteriaRegistry = normalizeCriteriaRegistry(config.criteria);\n\n  // all_weight = \u03a3(weight)[all criteria] -- \u00a72.3. \"All criteria\" means every\n  // criterion DECLARED in config's own registry, the authoritative source of\n  // what exists for this formula version -- not merely whatever happens to\n  // be present in `components`. A criterion missing from `components`\n  // entirely behaves exactly like an explicit `cannot_assess` entry for\n  // weight-counting purposes (counted in all_weight, excluded from\n  // assessed_weight) -- the only difference is it will not appear in\n  // `missing[]`, since that list is built from actual cannot_assess rows.\n  //\n  // Load-bearing consequence for I2/REQ-003 (\"adding a cannot_assess\n  // criterion leaves value identical, strictly lowers confidence\"): the\n  // effect only shows up when the EXTRA criterion is newly DECLARED in the\n  // registry passed to this call -- re-running the SAME registry with one\n  // more explicit cannot_assess entry for a criterion it already declared\n  // is a no-op on all_weight (it was already counted). In production\n  // gate.js always declares the full registry every run (design \u00a74.4 step\n  // 3: \"a criterion absent from the response -> inserted as cannot_assess\"),\n  // so all_weight is the same fixed constant (1.0 for formula_v1's 12\n  // criteria) on every call; the registry only varies across formula\n  // *versions*, not across calls of the same version. See scoring.test.js's\n  // I2/REQ-003 tests for both the object-form and array-form demonstration.\n  let allWeight = 0;\n  for (const criterionId of Object.keys(criteriaRegistry)) {\n    allWeight += weightFor(criterionId, criteriaRegistry);\n  }\n\n  const missing = [];\n  const augmented = [];\n  let assessedWeight = 0;\n  let weightedCreditSum = 0;\n  let weightedTierSum = 0;\n\n  for (const c of list) {\n    const weight = weightFor(c.criterion_id, criteriaRegistry);\n    const verdict = c.verdict;\n\n    if (verdict === 'cannot_assess') {\n      missing.push({ criterion_id: c.criterion_id, what_would_close_it: c.what_would_close_it ?? null });\n      augmented.push({ ...c, weight, credit: null, contribution: null });\n      continue;\n    }\n\n    if (!ASSESSED_VERDICTS.has(verdict)) {\n      // A verdict outside the 4-value enum should never reach this file --\n      // design \u00a74.4 step 2 (gate.js) coerces anything unrecognized to\n      // cannot_assess before aggregation. Reaching here means gate.js's\n      // contract was violated; fail loudly rather than silently mis-scoring.\n      throw new Error(`scoring.js: unrecognized verdict for criterion ${JSON.stringify(c.criterion_id)}: ${JSON.stringify(verdict)}`);\n    }\n\n    const credit = creditFor(verdict, c.evidence_tier, creditMap);\n    const tierFactor = tierFactorFor(c.evidence_tier, tierFactorMap);\n\n    assessedWeight += weight;\n    weightedCreditSum += weight * credit;\n    weightedTierSum += weight * tierFactor;\n\n    augmented.push({ ...c, weight, credit, contribution: null }); // filled in below, once assessedWeight is final\n  }\n\n  // coverage = assessed_weight / all_weight -- \u00a72.3. Guarded against an\n  // empty registry (all_weight === 0) so this never divides by zero even\n  // before the insufficient_evidence guard runs.\n  const coverage = allWeight > 0 ? assessedWeight / allWeight : 0;\n\n  // ---- guard FIRST -- before any division by assessed_weight (\u00a72.3/\u00a72.4) ----\n  if (assessedWeight === 0 || coverage < config.min_coverage) {\n    return {\n      status: 'insufficient_evidence',\n      value: null,\n      confidence: null,\n      coverage,\n      trend: null,\n      missing,\n      components: augmented,\n    };\n  }\n\n  // value, tier_mix computed from UNROUNDED terms (\u00a72.3: \"value is computed\n  // from unrounded terms and rounded once at the end\").\n  const rawValue = (weightedCreditSum / assessedWeight) * 100;\n  const tierMix = weightedTierSum / assessedWeight;\n  const rawConfidence = clamp(0.55 * coverage + 0.45 * tierMix, 0, 1);\n\n  const value = clamp(round2(rawValue), 0, 100);\n  const confidence = clamp(round2(rawConfidence), 0, 1);\n\n  // contribution = weight * credit / assessed_weight * 100 -- \u00a72.3, the same\n  // denominator as value, so \u03a3 contribution reproduces value. Rounded to 5dp\n  // to match `score_components.contribution numeric(8,5)` (\u00a74.2) -- storing\n  // full float precision would not survive a round-trip through that\n  // column, and 5dp rounding noise across a dozen criteria is negligible\n  // next to the identity it is meant to preserve.\n  for (const a of augmented) {\n    if (a.credit === null) continue; // cannot_assess -- contribution stays null\n    a.contribution = round5((a.weight * a.credit) / assessedWeight * 100);\n  }\n\n  const currentClaimIds = unionClaimIds(list);\n  const trend = computeTrend({\n    currentValue: value,\n    currentVersion: config.version,\n    currentClaimIds,\n    previousScore,\n    trendEpsilon: config.trend_epsilon,\n  });\n\n  return {\n    status: 'scored',\n    value,\n    confidence,\n    coverage,\n    trend,\n    missing,\n    components: augmented,\n  };\n}\n\n// ---- invocation ----\nconst inp = $input.first().json;\nconst result = aggregate(inp.components, inp.formula_config, inp.previous_score || null);\nreturn [{ json: { ...inp, ...result } }];\n"
   },
   "id": "eec13d80-0387-43dc-8e7d-a824d3cfb58f",
   "name": "AGGREGATE - formula (scoring.js)",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    3220,
    0
   ],
   "notes": "SOURCE OF TRUTH: lib/f03/scoring.js -- do not edit here, edit there and re-paste (via n8n/build-f03-workflow.py). This is the deterministic core -- no LLM call anywhere in this node."
  },
  {
   "parameters": {
    "conditions": {
     "options": {
      "caseSensitive": true,
      "leftValue": "",
      "typeValidation": "loose"
     },
     "conditions": [
      {
       "id": "413b46b5-c30b-446d-bbbb-40faf1f2cdcf",
       "leftValue": "={{ $json.status }}",
       "rightValue": "insufficient_evidence",
       "operator": {
        "type": "string",
        "operation": "equals"
       }
      }
     ],
     "combinator": "and"
    },
    "options": {}
   },
   "id": "d5570fc6-12b0-4873-aa20-fd9ebc06995d",
   "name": "IF: insufficient_evidence?",
   "type": "n8n-nodes-base.if",
   "typeVersion": 2,
   "position": [
    3500,
    0
   ]
  },
  {
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "const SB = String($env.SUPABASE_URL || '').replace(/\\/rest\\/v1\\/?$/, ''), KEY = $env.SUPABASE_SERVICE_ROLE_KEY;\nasync function pg(method, path, body, prefer) {\n  const headers = { apikey: KEY, Authorization: 'Bearer ' + KEY, 'Content-Type': 'application/json' };\n  if (prefer) headers.Prefer = prefer;\n  return await this.helpers.httpRequest({ method, url: SB + '/rest/v1/' + path, headers, body, json: true });\n}\nconst inp = $input.first().json;\n// design.md SS2.4: the insufficient_evidence branch writes NO scores row (there is no\n// way to write \"unknown\" into a NOT NULL numeric(5,2) column without fabricating), but\n// it must not be indistinguishable from \"never scored\" -- one events row is the\n// timestamped, queryable marker for 06/09/10.\nawait pg.call(this, 'POST', 'events', {\n  event_type: 'founder_score_insufficient_evidence',\n  entity_type: 'founder',\n  entity_id: inp.founder_id,\n  payload: { run_id: inp.run_id, coverage: inp.coverage, missing: inp.missing || [] },\n  actor: 'f03-score-founder',\n}, 'return=minimal');\nreturn [{ json: { ...inp, score_id: null } }];\n"
   },
   "id": "5eba1729-e1bf-4fb0-9938-6511bbb08b73",
   "name": "Write events (insufficient_evidence)",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    3780,
    -150
   ]
  },
  {
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "const SB = String($env.SUPABASE_URL || '').replace(/\\/rest\\/v1\\/?$/, ''), KEY = $env.SUPABASE_SERVICE_ROLE_KEY;\nasync function pg(method, path, body, prefer) {\n  const headers = { apikey: KEY, Authorization: 'Bearer ' + KEY, 'Content-Type': 'application/json' };\n  if (prefer) headers.Prefer = prefer;\n  return await this.helpers.httpRequest({ method, url: SB + '/rest/v1/' + path, headers, body, json: true });\n}\nconst inp = $input.first().json;\n// scores.input_claim_ids = union of every component's claim_ids -- same union scoring.js\n// computes internally for the trend comparison (unionClaimIds), recomputed here because\n// aggregate() does not return it on its result object.\nconst input_claim_ids = Array.from(new Set(\n  (inp.components || []).flatMap(function (c) { return c.claim_ids || []; })\n));\nconst rows = await pg.call(this, 'POST', 'scores', {\n  founder_id: inp.founder_id,\n  application_id: null,\n  axis: 'founder_score',\n  value: inp.value,\n  trend: inp.trend,\n  confidence: inp.confidence,\n  missing_flags: inp.missing || [],\n  input_claim_ids,\n  formula_version: inp.formula_config.version,\n  prompt_version: \"p1-2026.07\",\n  model: \"gpt-5.6-luna\",\n}, 'return=representation');\nreturn [{ json: { ...inp, score_id: rows[0].id } }];\n"
   },
   "id": "92aad167-6811-468e-aeb2-00d9a5fd58b3",
   "name": "Write scores row",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    3780,
    150
   ]
  },
  {
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "const SB = String($env.SUPABASE_URL || '').replace(/\\/rest\\/v1\\/?$/, ''), KEY = $env.SUPABASE_SERVICE_ROLE_KEY;\nasync function pg(method, path, body, prefer) {\n  const headers = { apikey: KEY, Authorization: 'Bearer ' + KEY, 'Content-Type': 'application/json' };\n  if (prefer) headers.Prefer = prefer;\n  return await this.helpers.httpRequest({ method, url: SB + '/rest/v1/' + path, headers, body, json: true });\n}\nconst inp = $input.first().json;\n// Written either way (design SS4.3): score_id is NULL on the insufficient_evidence\n// branch (schema.sql: score_components.score_id is nullable for exactly that case),\n// founder_id + run_id carry the identity instead.\nconst rows = (inp.components || []).map(function (c) {\n  return {\n    score_id: inp.score_id, founder_id: inp.founder_id, run_id: inp.run_id,\n    subscorer: c.subscorer, criterion_id: c.criterion_id, verdict: c.verdict,\n    weight: c.weight, credit: c.credit, contribution: c.contribution,\n    evidence_tier: c.evidence_tier, claim_ids: c.claim_ids || [],\n    quote_verbatim: c.quote_verbatim, rationale: c.rationale,\n    what_would_close_it: c.what_would_close_it, demoted_by: c.demoted_by,\n  };\n});\nawait pg.call(this, 'POST', 'score_components', rows, 'return=minimal');\nreturn [{ json: inp }];\n"
   },
   "id": "e539ebe6-53cf-49ba-bd2e-0b67289a73a0",
   "name": "Write score_components x12",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    4060,
    0
   ]
  },
  {
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "// design.md SS4.9 -- the normative shape consumed by 05, 06, 09, 10. Terminal node:\n// its return value is both the webhook HTTP response (responseMode: lastNode) and the\n// value returned to a caller that invoked this as a sub-workflow.\nconst inp = $input.first().json;\n\nconst bySubscorer = {};\n(inp.components || []).forEach(function (c) {\n  if (!bySubscorer[c.subscorer]) bySubscorer[c.subscorer] = [];\n  bySubscorer[c.subscorer].push({\n    id: c.criterion_id, verdict: c.verdict, credit: c.credit, weight: c.weight,\n    contribution: c.contribution, evidence_tier: c.evidence_tier,\n    claim_ids: c.claim_ids || [], quote_verbatim: c.quote_verbatim,\n    rationale: c.rationale, demoted_by: c.demoted_by,\n  });\n});\nconst subscorerWeights = (inp.formula_config && inp.formula_config.subscorer_weights) || {};\nconst subscorers = Object.keys(bySubscorer).map(function (name) {\n  return { name, weight: subscorerWeights[name] != null ? subscorerWeights[name] : null,\n           criteria: bySubscorer[name] };\n});\n\nconst redFlagsOut = (inp.rawAgentOutputs && inp.rawAgentOutputs['red-flags']) || {};\nconst redFlagRules = (inp.formula_config && inp.formula_config.red_flags) || [];\nconst red_flags = (redFlagsOut.flags || []).map(function (f) {\n  var fid = f.flag_id || f.id;\n  var rule = redFlagRules.find(function (r) { return r.id === fid; });\n  return { id: fid, severity: f.severity, contradicts: (rule && rule.contradicts) || [],\n           evidence: f.claim_ids || [] };\n});\n\nconst expertiseOut = (inp.rawAgentOutputs && inp.rawAgentOutputs['expertise-signals']) || {};\nconst pedigreeSrc = expertiseOut.pedigree || {};\nconst pedigree = {\n  prior_companies: pedigreeSrc.prior_companies || [],\n  notable_employers: pedigreeSrc.notable_employers || [],\n  scored: false,\n  note: 'Displayed for context. Not scored -- see design SS3.2.',\n};\n\nreturn [{ json: {\n  status: inp.status, founder_id: inp.founder_id, run_id: inp.run_id,\n  score_id: inp.score_id || null, axis: 'founder_score',\n  value: inp.value, confidence: inp.confidence, coverage: inp.coverage, trend: inp.trend,\n  formula_version: inp.formula_config.version, prompt_version: \"p1-2026.07\", model: \"gpt-5.6-luna\",\n  subscorers, missing: inp.missing || [], red_flags, pedigree,\n} }];\n"
   },
   "id": "befde76f-2b1d-4767-8dd8-c30d97547bbb",
   "name": "Build output contract",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    4340,
    0
   ]
  },
  {
   "parameters": {
    "content": "### 4 PARALLEL LLM SUB-SCORER AGENTS\n`gpt-5.6-luna`, temperature 0, JSON schema output.\nSystem prompts + schemas pasted verbatim from\n`docs/backlog/03-founder-score/agents/*.md`.\n\nEach agent proposes verdicts only (`met` / `self_asserted` /\n`not_met` / `cannot_assess`) -- it never emits evidence_tier,\ncredit, weight or a number. The backend (GATE + AGGREGATE,\nright of here) decides all of that.",
    "height": 260,
    "width": 460
   },
   "id": "11f975b0-40fc-4ebf-9e8c-1958d609ebfd",
   "name": "Note: parallel sub-scorers",
   "type": "n8n-nodes-base.stickyNote",
   "typeVersion": 1,
   "position": [
    1440,
    -760
   ]
  },
  {
   "parameters": {
    "content": "### DETERMINISTIC CORE -- NO LLM CALL BEYOND THIS POINT\n\"The model proposes booleans, the backend decides the number.\"\n(design.md SS0)\n\nGATE (`lib/f03/gate.js`, pasted verbatim) enforces the negative-\ncapability check, red-flag demotion, evidence-tier assignment\nand verbatim-quote verification -- REQ-003 / I2 / I6 are code\nhere, not prompt instructions.\n\nAGGREGATE (`lib/f03/scoring.js`, pasted verbatim) is pure\narithmetic over `score_formulas.config` -- every weight, credit\nand tier factor is data, nothing is hardcoded. This is literally\nthe part a judge can be shown with zero LLM involvement.",
    "height": 320,
    "width": 1900
   },
   "id": "7753e9ad-4457-4baa-afe3-710e8defcc9f",
   "name": "Note: deterministic core",
   "type": "n8n-nodes-base.stickyNote",
   "typeVersion": 1,
   "position": [
    2640,
    -760
   ]
  }
 ],
 "connections": {
  "Webhook Trigger": {
   "main": [
    [
     {
      "node": "Normalize Webhook Input",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Execute Workflow Trigger": {
   "main": [
    [
     {
      "node": "Normalize Sub-workflow Input",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Normalize Webhook Input": {
   "main": [
    [
     {
      "node": "Generate run_id",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Normalize Sub-workflow Input": {
   "main": [
    [
     {
      "node": "Generate run_id",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Generate run_id": {
   "main": [
    [
     {
      "node": "Fetch founder + company",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Fetch founder + company": {
   "main": [
    [
     {
      "node": "Fetch claims + cards + evidence + raw_signals",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Fetch claims + cards + evidence + raw_signals": {
   "main": [
    [
     {
      "node": "Load active score_formulas",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Load active score_formulas": {
   "main": [
    [
     {
      "node": "Build 4 routed context packs",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Build 4 routed context packs": {
   "main": [
    [
     {
      "node": "LLM: execution-signals",
      "type": "main",
      "index": 0
     },
     {
      "node": "LLM: expertise-signals",
      "type": "main",
      "index": 0
     },
     {
      "node": "LLM: leadership-sales-proxies",
      "type": "main",
      "index": 0
     },
     {
      "node": "LLM: red-flags",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "LLM: execution-signals": {
   "main": [
    [
     {
      "node": "Merge sub-scorer outputs",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "LLM: expertise-signals": {
   "main": [
    [
     {
      "node": "Merge sub-scorer outputs",
      "type": "main",
      "index": 1
     }
    ]
   ]
  },
  "LLM: leadership-sales-proxies": {
   "main": [
    [
     {
      "node": "Merge sub-scorer outputs",
      "type": "main",
      "index": 2
     }
    ]
   ]
  },
  "LLM: red-flags": {
   "main": [
    [
     {
      "node": "Merge sub-scorer outputs",
      "type": "main",
      "index": 3
     }
    ]
   ]
  },
  "Merge sub-scorer outputs": {
   "main": [
    [
     {
      "node": "Combine agent outputs",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Combine agent outputs": {
   "main": [
    [
     {
      "node": "Write ai_runs x4",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Write ai_runs x4": {
   "main": [
    [
     {
      "node": "GATE - validation (gate.js)",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "GATE - validation (gate.js)": {
   "main": [
    [
     {
      "node": "Load previous founder_score",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Load previous founder_score": {
   "main": [
    [
     {
      "node": "AGGREGATE - formula (scoring.js)",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "AGGREGATE - formula (scoring.js)": {
   "main": [
    [
     {
      "node": "IF: insufficient_evidence?",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "IF: insufficient_evidence?": {
   "main": [
    [
     {
      "node": "Write events (insufficient_evidence)",
      "type": "main",
      "index": 0
     }
    ],
    [
     {
      "node": "Write scores row",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Write events (insufficient_evidence)": {
   "main": [
    [
     {
      "node": "Write score_components x12",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Write scores row": {
   "main": [
    [
     {
      "node": "Write score_components x12",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Write score_components x12": {
   "main": [
    [
     {
      "node": "Build output contract",
      "type": "main",
      "index": 0
     }
    ]
   ]
  }
 },
 "active": false,
 "settings": {
  "executionOrder": "v1",
  "saveManualExecutions": true,
  "timezone": "UTC"
 },
 "pinData": {},
 "meta": {
  "templateCredsSetupCompleted": true
 }
}