n8n/workflows/f04-market-intel.json
{
 "name": "f04-market-intel",
 "nodes": [
  {
   "parameters": {},
   "id": "trigger",
   "name": "Manual Trigger",
   "type": "n8n-nodes-base.manualTrigger",
   "typeVersion": 1,
   "position": [
    0,
    0
   ]
  },
  {
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "\n// \u00a74 preflight. end_date is PINNED: without it the same scoring run returns different evidence\n// tomorrow, so the judge sees one thing on the demo video and another in the repo.\nconst SB=$env.SUPABASE_URL, KEY=$env.SUPABASE_SERVICE_ROLE_KEY;\nconst pg=async(p)=>await this.helpers.httpRequest({method:'GET',url:SB+'/rest/v1/'+p,\n  headers:{apikey:KEY,Authorization:'Bearer '+KEY},json:true});\nconst inp=$input.first().json;\nconst appId=inp.application_id; if(!appId) throw new Error('application_id required');\nconst app=(await pg(`applications?id=eq.${appId}&select=id,company_id,thesis_id,kind,deck_storage_path`))[0];\nif(!app) throw new Error('application not found: '+appId);\nconst co=(await pg(`companies?id=eq.${app.company_id}&select=id,name,domain,one_liner,category,stage`))[0];\nlet thesis=null;\nif(app.thesis_id) thesis=(await pg(`theses?id=eq.${app.thesis_id}&select=config`))[0]||null;\nconst cards=await pg(`cards?application_id=eq.${appId}&card_type=eq.company&select=id&order=created_at.asc&limit=1`);\nlet deckClaims=[];\nif(cards.length) deckClaims=await pg(`claims?card_id=eq.${cards[0].id}&source_kind=eq.self_reported&select=topic,text_verbatim,value&limit=50`);\nconst geos=(thesis&&thesis.config&&thesis.config.geos)||null;\nreturn [{json:{application_id:appId, company_id:app.company_id, thesis_id:app.thesis_id||null,\n  company:co, deck_claims:deckClaims, deck_present:!!app.deck_storage_path,\n  geography: geos? (Array.isArray(geos)?geos.join(', '):String(geos)) : 'global',\n  no_thesis_geography: !geos,\n  end_date: inp.end_date || new Date().toISOString().slice(0,10)}}];\n"
   },
   "id": "preflight-load-application",
   "name": "Preflight: load application",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    200,
    0
   ]
  },
  {
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "\n// market-categorizer (gpt-5.6-luna). Its buyer_concentration is a NON-AUTHORITATIVE hint:\n// \u00a76.2 derives the real value from the sizer's evidence-backed buyer_count, because that field\n// swings implied_exit by 5x and may not rest on a pre-search opinion.\nconst inp=$input.first().json;\nconst SYS=\"<prompt>\\n\\n<title>\\n# MARKET CATEGORY & BUYER-UNIT CLASSIFIER\\n</title>\\n\\n<description>\\nYOU ARE A PRE-SEED VENTURE ANALYST WHO HAS SPENT A DECADE READING FIRST-TIME\\nFOUNDERS' ONE-LINERS AND DECIDING WHAT MARKET THEY ARE ACTUALLY IN \\u2014 BEFORE ANY\\nRESEARCH HAS BEEN DONE. YOUR JUDGEMENT IS TRUSTED FOR ONE REASON: YOU HAVE NEVER\\nONCE FORCED A NOVEL COMPANY INTO A LEGACY BUCKET TO MAKE YOUR OWN JOB EASIER, AND\\nYOU SAY \\\"I DO NOT KNOW\\\" OUT LOUD, IN WRITING, WITHOUT EMBARRASSMENT.\\n\\nYou are the FIRST step of an automated investment-screening pipeline. Nothing has\\nbeen searched yet. You see only what the company said about itself. Everything you\\nemit becomes a search query that the rest of the pipeline runs \\u2014 a wrong buyer unit\\nsends five web searches down the wrong road and the whole run is wasted, while an\\nhonest \\\"unknown\\\" costs the pipeline nothing but a flag.\\n\\nYour worldview: at pre-seed there is no track record to lean on. The category label\\nIS the analysis at this stage. A synonym zoo (\\\"AI Infra\\\" / \\\"LLM Infrastructure\\\" /\\n\\\"Artificial Intelligence Backend\\\" as three separate markets) makes the whole database\\nuseless, and a fixed legacy taxonomy makes every genuinely new company invisible. You\\nhold both fields \\u2014 what they said, and what it normalises to \\u2014 and you never collapse\\nthem into one.\\n</description>\\n\\n<instructions>\\n## INSTRUCTIONS\\n\\n### INSTRUCTION 1: INPUT VALIDATION (ALWAYS FIRST)\\n<validation>\\n- If `company_name` is empty AND `one_liner` is empty AND `founder_self_reported_claims`\\n  is empty or `[]` \\u2192 return `status.code = \\\"insufficient_input\\\"`, `ok: false`, and a\\n  `data` block whose every field is `null` / `\\\"unknown\\\"` / `[]`. Do not proceed.\\n- If `company_name` is present but `one_liner`, `existing_category_label` and\\n  `founder_self_reported_claims` are ALL empty \\u2192 there is nothing to classify from.\\n  Return `status.code = \\\"abstained\\\"`, `ok: true`, all category fields `null`,\\n  `buyer_concentration: \\\"unknown\\\"`, and a `gaps[]` entry with\\n  `reason_code: \\\"no_product_description\\\"`. THIS IS A CORRECT ANSWER, NOT A FAILURE.\\n- If the input parses but the description is pure marketing with no product content\\n  (\\\"we are building the future of work\\\", \\\"AI-powered synergy platform\\\") \\u2192 treat it as\\n  the previous case. Abstain. Do not invent a category from a slogan.\\n- Otherwise \\u2192 proceed to Instruction 2.\\n</validation>\\n\\n### INSTRUCTION 2: EXTRACT THE RAW CATEGORY\\n<processing>\\nWrite `raw` as the category label the company uses for ITSELF, in its own words,\\nlifted from the one_liner / deck claims. Do not tidy it, do not translate it into\\nindustry-speak, do not expand acronyms it did not expand. If the company never names\\na category, compose the shortest faithful description of what the product is, and say\\nso in `gaps[]` with `reason_code: \\\"category_not_self_declared\\\"`.\\n</processing>\\n\\n### INSTRUCTION 3: NORMALISE TO A CANONICAL CATEGORY\\n<processing>\\n`canonical` is the deduplication key for the whole database.\\n1. Read `known_canonical_categories` \\u2014 every category already in the system.\\n2. If `raw` is a synonym, abbreviation, or narrower phrasing of one of them, reuse\\n   that existing string EXACTLY, character for character.\\n3. If `raw` is genuinely a different market, MINT A NEW canonical label. Do not\\n   squeeze a novel company into the nearest legacy bucket \\u2014 forcing novel,\\n   ill-defined startups into generic legacy buckets is a known failure of this\\n   pipeline and destroys the analysis downstream.\\n4. New labels: 2-4 words, lower-case-with-spaces, buyer-facing not technology-facing\\n   (`developer observability`, not `AI-powered observability platform for devs`).\\n5. If you cannot decide between reusing and minting, REUSE, and record the doubt in\\n   `gaps[]` with `reason_code: \\\"canonical_ambiguous\\\"`.\\n</processing>\\n\\n### INSTRUCTION 4: ADJACENT CATEGORIES\\n<processing>\\n`adjacent[]` = 0-4 neighbouring markets whose incumbents could plausibly serve the\\nsame buyer. These become competitor-discovery searches downstream, so each one must\\nbe a market you could name a real company in \\u2014 not an abstract theme. Empty array is\\na valid answer. Never pad.\\n</processing>\\n\\n### INSTRUCTION 5: ICP AND BUYER UNIT \\u2014 THE TWO FIELDS THAT DRIVE THE SEARCHES\\n<processing>\\n`icp` \\u2014 one sentence: who pays, with the qualifier that makes them a buyer\\n(\\\"Series B-and-later fintechs with an in-house compliance team\\\", not \\\"businesses\\\").\\n\\n`buyer_unit` \\u2014 THE SINGLE COUNTABLE NOUN that a statistics office, trade association\\nor government registry would count. This is the literal noun that goes into the\\nquery template `how many {buyer_unit} in {geography}`.\\n- GOOD: `community banks`, `licensed pharmacies`, `Shopify merchants`,\\n  `professional football clubs`, `independent podcasters`\\n- BAD: `enterprises`, `businesses`, `users`, `teams`, `SMBs`, `developers`\\n  \\u2014 nobody publishes a defensible count of these, so the downstream search returns\\n  nothing and the run is wasted.\\n- If you cannot name a countable noun that someone plausibly counts, set\\n  `buyer_unit: null` and add a `gaps[]` entry with\\n  `reason_code: \\\"no_countable_buyer_unit\\\"`. A null here is far better than a vague\\n  noun that silently poisons two searches.\\n</processing>\\n\\n### INSTRUCTION 6: buyer_concentration \\u2014 A QUERY HINT ONLY, NEVER AN ANSWER\\n<processing>\\nREAD THIS TWICE. `buyer_concentration` is the ONE field you emit that looks\\nquantitative, and it is NOT AUTHORITATIVE.\\n\\n- The value you emit here is a NON-BINDING QUERY HINT used only to shape search\\n  phrasing before any evidence exists.\\n- The AUTHORITATIVE value is computed later, deterministically, from an\\n  evidence-backed buyer count found on the open web. If your hint disagrees with\\n  that derived value, YOUR HINT IS DISCARDED and the disagreement is logged.\\n- Therefore: do not agonise, do not argue for it, do not treat it as a finding, and\\n  ABOVE ALL do not attach a number to it. You have no evidence. You have not searched\\n  anything. You are guessing the order of magnitude of a buyer population from a\\n  one-liner, and the pipeline knows it.\\n- Bands (buyer population, addressable, in the relevant geography):\\n  `concentrated` < 10k buyers \\u00b7 `mid_market` 10k-500k \\u00b7 `long_tail` > 500k \\u00b7\\n  `unknown` = you genuinely cannot tell.\\n- `unknown` IS THE CORRECT ANSWER whenever `buyer_unit` is null, or whenever the\\n  product could plausibly sit in two bands. Choosing `unknown` costs the pipeline\\n  nothing; a confident wrong hint costs it a search.\\n- NEVER emit a buyer count, market size, revenue figure, growth rate or any other\\n  number anywhere in your output. You have no sources, and in this pipeline a number\\n  without a resolvable source URL is a fabrication. You will not be the one who\\n  introduces the first one.\\n</processing>\\n\\n### INSTRUCTION 7: DECLARE EVERY GAP EXPLICITLY (MANDATORY)\\n<processing>\\nEvery field you left `null` or set to `\\\"unknown\\\"` MUST have a matching entry in\\n`gaps[]`. Silence about what you do not know is the single behaviour this pipeline\\npunishes hardest \\u2014 the product is scored on honesty about its own ignorance, and a\\ndownstream validator turns each of your gap entries into a visible, first-class\\n\\\"not established\\\" marker for the investor. An unexplained null is a defect; a\\ndeclared gap is a correct output.\\nUse ONLY these `reason_code` values:\\n  `no_product_description` \\u00b7 `category_not_self_declared` \\u00b7 `canonical_ambiguous` \\u00b7\\n  `no_countable_buyer_unit` \\u00b7 `icp_not_determinable` \\u00b7 `concentration_not_determinable`\\n</processing>\\n\\n### INSTRUCTION 8: OUTPUT\\n<formatting>\\nReturn ONLY the JSON object defined in OUTPUT FORMAT. No markdown fences, no\\npreamble, no commentary, no trailing text.\\n</formatting>\\n</instructions>\\n\\n<output_format>\\n## OUTPUT FORMAT\\n\\nValid JSON only. `data.category` is written verbatim into a database record, so its\\nsix keys must appear exactly as named, in every response, including abstentions.\\n\\n{\\n  \\\"status\\\": {\\n    \\\"code\\\": \\\"success | abstained | insufficient_input | processing_error\\\",\\n    \\\"ok\\\": true,\\n    \\\"message\\\": \\\"\\\"\\n  },\\n  \\\"data\\\": {\\n    \\\"category\\\": {\\n      \\\"canonical\\\": \\\"developer observability\\\",\\n      \\\"raw\\\": \\\"LLM observability for agent teams\\\",\\n      \\\"adjacent\\\": [\\\"apm\\\", \\\"llm evaluation tooling\\\"],\\n      \\\"icp\\\": \\\"Engineering teams running LLM agents in production with an on-call rotation\\\",\\n      \\\"buyer_unit\\\": \\\"software companies running LLM agents in production\\\",\\n      \\\"buyer_concentration\\\": \\\"mid_market\\\"\\n    },\\n    \\\"gaps\\\": [\\n      { \\\"field\\\": \\\"buyer_concentration\\\", \\\"reason_code\\\": \\\"concentration_not_determinable\\\", \\\"note\\\": \\\"\\\" }\\n    ]\\n  }\\n}\\n\\n`status.ok` is `true` for BOTH `success` AND `abstained`. Abstention is a completed\\njob, not an error. `ok` is `false` only for `insufficient_input` and\\n`processing_error`.\\n</output_format>\\n\\n<chain_of_thoughts>\\n## CHAIN OF THOUGHTS\\nFollow these steps in strict order.\\n\\n1. Validate the input.\\n   1.1. Is there any product description at all (one_liner, deck claims, existing label)?\\n   1.2. If none \\u2192 emit the abstention shape and STOP.\\n   1.3. If the description is a slogan with no product content \\u2192 abstain and STOP.\\n\\n2. Understand the product before naming it.\\n   2.1. What does the thing DO, mechanically?\\n   2.2. Who hands over money for it, and what job does it remove for them?\\n   2.3. What did they do before this product existed?\\n\\n3. Raw category.\\n   3.1. Quote the company's own label if it gave one.\\n   3.2. Otherwise compose the shortest faithful description and flag the gap.\\n\\n4. Canonical category.\\n   4.1. Scan `known_canonical_categories` for a synonym or superset.\\n   4.2. Match \\u2192 reuse the existing string character for character.\\n   4.3. No match \\u2192 is this genuinely a different market, or am I about to force a fit?\\n   4.4. Genuinely different \\u2192 mint a 2-4 word buyer-facing label.\\n   4.5. Undecidable \\u2192 reuse, and log `canonical_ambiguous`.\\n\\n5. Adjacent categories.\\n   5.1. For each candidate, can I name a real company in it? No \\u2192 drop it.\\n   5.2. Cap at 4. Empty is fine.\\n\\n6. ICP and buyer unit.\\n   6.1. Write the ICP with the qualifier that makes them a buyer.\\n   6.2. Propose a buyer_unit, then test it: would a statistics office, trade\\n        association or registry publish a count of this noun?\\n   6.3. Test fails \\u2192 `null` + `no_countable_buyer_unit`. Do not soften a vague noun\\n        into a slightly-less-vague one to pass the test.\\n\\n7. buyer_concentration hint.\\n   7.1. Is `buyer_unit` null? \\u2192 `unknown`. Stop.\\n   7.2. Could this product plausibly sit in two bands? \\u2192 `unknown`. Stop.\\n   7.3. Otherwise pick the band, remembering it is a hint that a later\\n        evidence-backed derivation will overrule.\\n\\n8. Gap sweep (do not skip).\\n   8.1. List every field that ended `null` or `\\\"unknown\\\"`.\\n   8.2. Confirm each has a `gaps[]` entry with a valid `reason_code`.\\n   8.3. Confirm no number of any kind appears anywhere in the output.\\n\\n9. Emit JSON only.\\n</chain_of_thoughts>\\n\\n<restrictions>\\n## WHAT NOT TO DO \\u2014 OBEY ABSOLUTELY\\n\\n- NEVER EMIT ANY NUMBER \\u2014 no buyer counts, market sizes, revenues, growth rates,\\n  percentages, headcounts, funding amounts. You have performed no search and hold no\\n  source URL; in this pipeline an unsourced number is a fabrication and is dropped.\\n- NEVER TREAT `buyer_concentration` AS A FINDING. It is a discardable query hint; a\\n  later deterministic step derives the authoritative value from evidence and overrides\\n  you. Never phrase it, in any field, as something you established.\\n- NEVER FORCE A NOVEL COMPANY INTO THE NEAREST EXISTING CATEGORY just to avoid\\n  minting a new one. Legacy-bucket coercion is a named failure mode of this system.\\n- NEVER MINT A NEW CANONICAL LABEL that is a synonym of one already in\\n  `known_canonical_categories`. The synonym zoo is the other named failure mode.\\n- NEVER RETURN A VAGUE `buyer_unit` \\u2014 `businesses`, `enterprises`, `users`, `teams`,\\n  `companies`, `SMBs`, `developers`, `professionals`. Null beats vague, always.\\n- NEVER LEAVE A NULL OR `\\\"unknown\\\"` FIELD UNDECLARED IN `gaps[]`.\\n- NEVER INVENT A `reason_code` OUTSIDE THE ENUMERATED LIST.\\n- NEVER TREAT ABSTENTION AS FAILURE, and never pad a thin answer to look complete.\\n  \\\"Insufficient evidence\\\" is a valid, correct, expected output of this agent.\\n- NEVER SUPPRESS A GAP. Do not write \\\"no information found\\\" as prose and move on \\u2014\\n  write it as a structured `gaps[]` entry. This pipeline is scored on declaring what\\n  it does not know, which is the exact opposite of the usual instruction to stay\\n  silent about missing information.\\n- NEVER OUTPUT MARKDOWN, CODE FENCES, EXPLANATIONS OR ANY TEXT OUTSIDE THE JSON.\\n- NEVER INFER OR RECORD anything about founders as people \\u2014 age, gender, nationality,\\n  photographs, health, beliefs. Only the professional capability to build the product\\n  is in scope for this system.\\n</restrictions>\\n\\n<examples>\\n## FEW-SHOT EXAMPLES\\n\\n--------------------------------------------------------------------------------\\nDESIRED EXAMPLE 1 \\u2014 clear product, reuse of an existing canonical label\\n--------------------------------------------------------------------------------\\nInput:\\n  name: Ledgerly\\n  one_liner: \\\"Automated month-end close for US community banks \\u2014 we replace the\\n              spreadsheet reconciliation their controllers do by hand.\\\"\\n  known_canonical_categories: [\\\"fintech infrastructure\\\", \\\"developer observability\\\",\\n              \\\"vertical accounting software\\\"]\\n  deck_claims: [{\\\"topic\\\":\\\"traction.pilots\\\",\\\"text_verbatim\\\":\\\"3 paid pilots with\\n              banks under $2B in assets\\\"}]\\n\\nOutput:\\n{\\n  \\\"status\\\": { \\\"code\\\": \\\"success\\\", \\\"ok\\\": true, \\\"message\\\": \\\"\\\" },\\n  \\\"data\\\": {\\n    \\\"category\\\": {\\n      \\\"canonical\\\": \\\"vertical accounting software\\\",\\n      \\\"raw\\\": \\\"automated month-end close for community banks\\\",\\n      \\\"adjacent\\\": [\\\"fintech infrastructure\\\", \\\"regulatory reporting software\\\"],\\n      \\\"icp\\\": \\\"US community banks under $2B in assets with an in-house controller\\\",\\n      \\\"buyer_unit\\\": \\\"US community banks\\\",\\n      \\\"buyer_concentration\\\": \\\"concentrated\\\"\\n    },\\n    \\\"gaps\\\": []\\n  }\\n}\\n\\nWhy: `raw` keeps the company's own framing; `canonical` reuses an existing label\\ncharacter for character instead of minting \\\"bank accounting automation\\\" and starting\\na synonym zoo. `buyer_unit` is a noun the FDIC actually publishes a count of, so the\\ndownstream buyer-count search has somewhere to land. `concentrated` is a defensible\\nhint \\u2014 and it stays a hint. Empty `gaps[]` is honest here because nothing was left\\nunknown.\\n\\n--------------------------------------------------------------------------------\\nDESIRED EXAMPLE 2 \\u2014 CORRECT ABSTENTION ON THIN EVIDENCE (the behaviour that matters)\\n--------------------------------------------------------------------------------\\nInput:\\n  name: Northwind Labs\\n  domain: northwind.dev\\n  one_liner: \\\"We're building the future of work with AI.\\\"\\n  existing_category_label: null\\n  known_canonical_categories: [\\\"developer observability\\\", \\\"vertical accounting software\\\"]\\n  deck_claims: []          // radar-activated entry, no deck exists yet\\n\\nOutput:\\n{\\n  \\\"status\\\": { \\\"code\\\": \\\"abstained\\\", \\\"ok\\\": true, \\\"message\\\": \\\"No product description; slogan only.\\\" },\\n  \\\"data\\\": {\\n    \\\"category\\\": {\\n      \\\"canonical\\\": null,\\n      \\\"raw\\\": null,\\n      \\\"adjacent\\\": [],\\n      \\\"icp\\\": null,\\n      \\\"buyer_unit\\\": null,\\n      \\\"buyer_concentration\\\": \\\"unknown\\\"\\n    },\\n    \\\"gaps\\\": [\\n      { \\\"field\\\": \\\"raw\\\", \\\"reason_code\\\": \\\"no_product_description\\\",\\n        \\\"note\\\": \\\"One-liner is a slogan with no product content; no deck claims present.\\\" },\\n      { \\\"field\\\": \\\"canonical\\\", \\\"reason_code\\\": \\\"no_product_description\\\", \\\"note\\\": \\\"\\\" },\\n      { \\\"field\\\": \\\"icp\\\", \\\"reason_code\\\": \\\"icp_not_determinable\\\", \\\"note\\\": \\\"\\\" },\\n      { \\\"field\\\": \\\"buyer_unit\\\", \\\"reason_code\\\": \\\"no_countable_buyer_unit\\\", \\\"note\\\": \\\"\\\" },\\n      { \\\"field\\\": \\\"buyer_concentration\\\", \\\"reason_code\\\": \\\"concentration_not_determinable\\\",\\n        \\\"note\\\": \\\"No buyer unit established, so no band can be hinted.\\\" }\\n    ]\\n  }\\n}\\n\\nWhy: THIS IS A CORRECT, COMPLETE, SUCCESSFUL RESPONSE \\u2014 note `ok: true`. \\\"AI\\\" plus\\n\\\"future of work\\\" is not a market. Guessing `productivity software` here would have\\nsent five web searches into a category the company may have nothing to do with, and\\nevery number they returned would have been laundered into the investor's memo as if\\nresearched. Every null carries a declared gap; the downstream validator turns each\\none into a visible \\\"not established\\\" marker rather than a silent hole.\\n\\n--------------------------------------------------------------------------------\\nDESIRED EXAMPLE 3 \\u2014 novel market: mint a new label rather than coerce a legacy one\\n--------------------------------------------------------------------------------\\nInput:\\n  name: Reef\\n  one_liner: \\\"Continuous permit-compliance monitoring for offshore aquaculture\\n              operators \\u2014 we watch the sensor feed and file the regulator's forms.\\\"\\n  known_canonical_categories: [\\\"vertical accounting software\\\", \\\"developer observability\\\",\\n              \\\"fintech infrastructure\\\"]\\n\\nOutput:\\n{\\n  \\\"status\\\": { \\\"code\\\": \\\"success\\\", \\\"ok\\\": true, \\\"message\\\": \\\"\\\" },\\n  \\\"data\\\": {\\n    \\\"category\\\": {\\n      \\\"canonical\\\": \\\"aquaculture compliance software\\\",\\n      \\\"raw\\\": \\\"continuous permit-compliance monitoring for offshore aquaculture\\\",\\n      \\\"adjacent\\\": [\\\"environmental monitoring hardware\\\", \\\"regulatory reporting software\\\"],\\n      \\\"icp\\\": \\\"Licensed offshore aquaculture operators subject to continuous discharge permits\\\",\\n      \\\"buyer_unit\\\": \\\"licensed offshore aquaculture operations\\\",\\n      \\\"buyer_concentration\\\": \\\"concentrated\\\"\\n    },\\n    \\\"gaps\\\": []\\n  }\\n}\\n\\nWhy: none of the three known categories fits, and squeezing this into \\\"vertical\\naccounting software\\\" because it involves filing forms would have made the company\\ninvisible to every downstream query. A new label is minted \\u2014 buyer-facing, four\\nwords. `buyer_unit` is a licensed population a regulator maintains a register of.\\n\\n--------------------------------------------------------------------------------\\nUNDESIRED EXAMPLE 1 \\u2014 the four failure modes at once\\n--------------------------------------------------------------------------------\\nInput: same as Desired Example 2 (Northwind Labs, slogan only, no deck).\\n\\nOutput (WRONG \\u2014 do not do this):\\n{\\n  \\\"status\\\": { \\\"code\\\": \\\"success\\\", \\\"ok\\\": true, \\\"message\\\": \\\"\\\" },\\n  \\\"data\\\": {\\n    \\\"category\\\": {\\n      \\\"canonical\\\": \\\"developer observability\\\",\\n      \\\"raw\\\": \\\"AI productivity platform\\\",\\n      \\\"adjacent\\\": [\\\"enterprise software\\\", \\\"artificial intelligence\\\"],\\n      \\\"icp\\\": \\\"Businesses looking to improve productivity with AI\\\",\\n      \\\"buyer_unit\\\": \\\"enterprises\\\",\\n      \\\"buyer_concentration\\\": \\\"long_tail\\\"\\n    },\\n    \\\"gaps\\\": []\\n  }\\n}\\n\\nWhy this is wrong, item by item:\\n1. It invented a category from a slogan and reported `success`, when the honest\\n   answer was `abstained`. The pipeline now searches a market nobody established.\\n2. `canonical: \\\"developer observability\\\"` coerces the company into the nearest\\n   existing bucket purely because minting felt like more work \\u2014 the exact legacy-bucket\\n   failure this agent exists to prevent.\\n3. `buyer_unit: \\\"enterprises\\\"` is uncountable. No statistics office publishes it, so\\n   the buyer-count search returns report-mill pages and the whole TAM chain rots from\\n   the anchor up.\\n4. `buyer_concentration: \\\"long_tail\\\"` is presented as a finding on zero evidence, and\\n   it swings the downstream reachability test by 5\\u00d7.\\n5. `gaps: []` claims nothing was unknown when in fact NOTHING was known. This is the\\n   single worst line in the response: it converts total ignorance into apparent\\n   completeness, which is precisely the dishonesty this system is built to detect in\\n   other people's analysis.\\n\\n--------------------------------------------------------------------------------\\nUNDESIRED EXAMPLE 2 \\u2014 smuggling a number in\\n--------------------------------------------------------------------------------\\nOutput (WRONG \\u2014 do not do this):\\n{\\n  \\\"status\\\": { \\\"code\\\": \\\"success\\\", \\\"ok\\\": true, \\\"message\\\": \\\"\\\" },\\n  \\\"data\\\": {\\n    \\\"category\\\": {\\n      \\\"canonical\\\": \\\"vertical accounting software\\\",\\n      \\\"raw\\\": \\\"automated month-end close for community banks\\\",\\n      \\\"adjacent\\\": [\\\"fintech infrastructure\\\"],\\n      \\\"icp\\\": \\\"There are roughly 4,000 US community banks, a $2.4B addressable market\\\",\\n      \\\"buyer_unit\\\": \\\"US community banks\\\",\\n      \\\"buyer_concentration\\\": \\\"concentrated\\\"\\n    },\\n    \\\"gaps\\\": []\\n  }\\n}\\n\\nWhy this is wrong: \\\"roughly 4,000\\\" and \\\"$2.4B\\\" are recalled from training data, carry\\nno source URL, and cannot be checked. You performed no search. Numbers introduced\\nhere look researched to everything downstream, get quoted in an investment memo, and\\nare exactly the mechanism by which a fabricated figure enters a system and comes back\\nout wearing a citation. The ICP field describes WHO BUYS. It never contains a\\nquantity.\\n</examples>\\n\\n</prompt>\";\nconst SCHEMA={\"$schema\": \"https://json-schema.org/draft/2020-12/schema\", \"$id\": \"https://the-vc-brain.local/schemas/f04/market-categorizer.output.json\", \"title\": \"market-categorizer output\", \"description\": \"Output of the f04 market-categorizer agent (gpt-5.6-luna). data.category is written verbatim as the value JSONB of the market.category claim (design.md 3.2). No field in this schema may contain a numeric quantity: this agent runs before any web search and therefore holds no source_url for any number (design.md 9).\", \"type\": \"object\", \"additionalProperties\": false, \"required\": [\"status\", \"data\"], \"properties\": {\"status\": {\"type\": \"object\", \"additionalProperties\": false, \"required\": [\"code\", \"ok\", \"message\"], \"properties\": {\"code\": {\"type\": \"string\", \"enum\": [\"success\", \"abstained\", \"insufficient_input\", \"processing_error\"], \"description\": \"Finite set; the agent may not invent codes. 'abstained' is a COMPLETED job, not a failure (design.md 9: abstention is explicitly permitted).\"}, \"ok\": {\"type\": \"boolean\", \"description\": \"true for both 'success' and 'abstained'; false for 'insufficient_input' and 'processing_error'. Consumer: the n8n IF node that routes to the gap-claim writer vs the error branch (design.md 4).\"}, \"message\": {\"type\": \"string\", \"maxLength\": 300, \"description\": \"Human-readable. Required non-empty for 'abstained', 'insufficient_input' and 'processing_error'; empty string for 'success'.\"}}}, \"data\": {\"type\": \"object\", \"additionalProperties\": false, \"required\": [\"category\", \"gaps\"], \"properties\": {\"category\": {\"type\": \"object\", \"additionalProperties\": false, \"required\": [\"canonical\", \"raw\", \"adjacent\", \"icp\", \"buyer_unit\", \"buyer_concentration\"], \"description\": \"Written verbatim as claims.value for topic 'market.category', axis 'market' (design.md 3.2). All six keys present in every response, including abstentions.\", \"properties\": {\"canonical\": {\"type\": [\"string\", \"null\"], \"minLength\": 2, \"maxLength\": 60, \"description\": \"Normalised category label, reused character-for-character from known_categories when a synonym exists, otherwise newly minted (design.md 9). Consumers: query templates Q2/Q3/Q5 (design.md 4), companies.category normalisation, memo category chip (design.md 11 / feature 06), dashboard Market tab chip (feature 09). null only when the agent abstained.\"}, \"raw\": {\"type\": [\"string\", \"null\"], \"minLength\": 2, \"maxLength\": 200, \"description\": \"The company's own category words, untidied. Kept alongside canonical because a fixed taxonomy alone forces novel startups into legacy buckets (design.md 9). Consumers: memo (feature 06), dashboard (feature 09).\"}, \"adjacent\": {\"type\": \"array\", \"maxItems\": 4, \"items\": {\"type\": \"string\", \"minLength\": 2, \"maxLength\": 60}, \"description\": \"Neighbouring markets whose incumbents could serve the same buyer. Consumer: the adjacent-entrant discovery searches in f04-competition-intel (design.md 8). Empty array is valid; padding is a defect.\"}, \"icp\": {\"type\": [\"string\", \"null\"], \"maxLength\": 300, \"description\": \"One sentence naming who pays and what qualifies them as a buyer. MUST NOT contain a quantity. Consumers: memo Company snapshot / Market sizing narrative (feature 06).\"}, \"buyer_unit\": {\"type\": [\"string\", \"null\"], \"minLength\": 3, \"maxLength\": 80, \"description\": \"The countable noun a statistics office, trade association or registry would publish a count of. Consumer: query templates Q1 ('how many {buyer_unit} in {geography}') and Q2 ('{category} pricing per {buyer_unit} annual cost'), design.md 4. null when no countable noun is defensible; the query builder then SKIPS Q1/Q2 rather than substituting a generic noun, and the TAM band ends UNKNOWN (design.md 6.0/6.1).\"}, \"buyer_concentration\": {\"type\": \"string\", \"enum\": [\"concentrated\", \"mid_market\", \"long_tail\", \"unknown\"], \"description\": \"NON-AUTHORITATIVE QUERY HINT ONLY. The AUTHORITATIVE value is derived deterministically in the validator from the sizer's evidence-backed buyer_count using the < 10k / 10k-500k / > 500k tiers (design.md 6.2). On disagreement the derived value wins and missing_flags.concentration_revised = true. Never consumed as a finding; never used to set share_assumption directly. Emitted here only to shape pre-search query phrasing. 'unknown' is the correct value whenever buyer_unit is null or two bands are plausible.\"}}}, \"gaps\": {\"type\": \"array\", \"description\": \"MANDATORY explicit gap declaration (design.md 9 \\u2014 the deliberate inversion of company-research-agent's 'never mention no information found'). Every null or 'unknown' field above MUST have a matching entry. Consumers: the *.gap claim writer (design.md 3.2, verification_status='missing') and scores.missing_flags (design.md 3.7).\", \"items\": {\"type\": \"object\", \"additionalProperties\": false, \"required\": [\"field\", \"reason_code\"], \"properties\": {\"field\": {\"type\": \"string\", \"enum\": [\"canonical\", \"raw\", \"adjacent\", \"icp\", \"buyer_unit\", \"buyer_concentration\"]}, \"reason_code\": {\"type\": \"string\", \"enum\": [\"no_product_description\", \"category_not_self_declared\", \"canonical_ambiguous\", \"no_countable_buyer_unit\", \"icp_not_determinable\", \"concentration_not_determinable\"], \"description\": \"Closed vocabulary so the validator can map gaps to missing_flags keys deterministically. The agent may not invent codes.\"}, \"note\": {\"type\": \"string\", \"maxLength\": 300, \"description\": \"Optional free text explaining the gap. Rendered in the memo's honest-omission section (feature 06).\"}}}}}}}, \"examples\": [{\"status\": {\"code\": \"success\", \"ok\": true, \"message\": \"\"}, \"data\": {\"category\": {\"canonical\": \"vertical accounting software\", \"raw\": \"automated month-end close for community banks\", \"adjacent\": [\"fintech infrastructure\", \"regulatory reporting software\"], \"icp\": \"US community banks under $2B in assets with an in-house controller\", \"buyer_unit\": \"US community banks\", \"buyer_concentration\": \"concentrated\"}, \"gaps\": []}}, {\"status\": {\"code\": \"abstained\", \"ok\": true, \"message\": \"No product description; one-liner is a slogan with no product content.\"}, \"data\": {\"category\": {\"canonical\": null, \"raw\": null, \"adjacent\": [], \"icp\": null, \"buyer_unit\": null, \"buyer_concentration\": \"unknown\"}, \"gaps\": [{\"field\": \"raw\", \"reason_code\": \"no_product_description\", \"note\": \"Slogan only; no deck claims present (radar_activated entry).\"}, {\"field\": \"canonical\", \"reason_code\": \"no_product_description\", \"note\": \"\"}, {\"field\": \"icp\", \"reason_code\": \"icp_not_determinable\", \"note\": \"\"}, {\"field\": \"buyer_unit\", \"reason_code\": \"no_countable_buyer_unit\", \"note\": \"\"}, {\"field\": \"buyer_concentration\", \"reason_code\": \"concentration_not_determinable\", \"note\": \"No buyer unit established, so no band can be hinted.\"}]}}, {\"status\": {\"code\": \"insufficient_input\", \"ok\": false, \"message\": \"company_name, one_liner and deck_claims all empty.\"}, \"data\": {\"category\": {\"canonical\": null, \"raw\": null, \"adjacent\": [], \"icp\": null, \"buyer_unit\": null, \"buyer_concentration\": \"unknown\"}, \"gaps\": [{\"field\": \"raw\", \"reason_code\": \"no_product_description\", \"note\": \"Empty input payload.\"}]}}]};\nconst user=`<company>\\nname: ${inp.company.name}\\ndomain: ${inp.company.domain||''}\\n`+\n `one_liner: ${inp.company.one_liner||''}\\nexisting_category_label: ${inp.company.category||''}\\n`+\n `stage: ${inp.company.stage}\\n</company>\\n\\n<founder_self_reported_claims>\\n`+\n (inp.deck_claims.map(c=>`- ${c.topic}: ${c.text_verbatim}`).join('\\n')||'(none provided)')+\n `\\n</founder_self_reported_claims>\\n\\n<thesis_geography>\\n${inp.geography}\\n</thesis_geography>`;\nconst r=await this.helpers.httpRequest({method:'POST',url:'https://api.openai.com/v1/chat/completions',\n headers:{Authorization:'Bearer '+$env.OPENAI_API_KEY,'Content-Type':'application/json'},\n body:{model:'gpt-5.6-luna',messages:[{role:'system',content:SYS},{role:'user',content:user}],\n   response_format:{type:'json_schema',json_schema:{name:'market_category',strict:false,schema:SCHEMA}}},json:true});\nconst parsed=JSON.parse(r.choices[0].message.content);\nconst cat=(parsed.data&&parsed.data.category)||{};\nreturn [{json:{...inp, categorizer_raw:parsed,\n  category_canonical:cat.canonical||null, category_raw:cat.raw||null,\n  adjacent:cat.adjacent||[], icp:cat.icp||null, buyer_unit:cat.buyer_unit||null,\n  concentration_hint:cat.buyer_concentration||'unknown',\n  categorizer_gaps:parsed.gaps||[]}}];\n"
   },
   "id": "categorize-market",
   "name": "Categorize market",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    400,
    0
   ]
  },
  {
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "\n// \u00a74's five deterministic queries. Buyer-count and pricing anchors come FIRST because those are\n// the two inputs bottom-up sizing actually needs. Q5 uses topic=news \u2014 the only Tavily mode that\n// returns published_date, which is what makes the \u00a75 momentum histogram computable at all.\n// exclude_domains carries the report-mill blocklist (\u00a73.4); end_date is pinned for reproducibility.\nconst inp=$input.first().json;\nconst BLOCK=[\"grandviewresearch.com\", \"mordorintelligence.com\", \"marketsandmarkets.com\", \"precedenceresearch.com\", \"alliedmarketresearch.com\", \"fortunebusinessinsights.com\", \"futuremarketinsights.com\", \"technavio.com\", \"imarcgroup.com\", \"marketresearchfuture.com\", \"verifiedmarketresearch.com\", \"zionmarketresearch.com\", \"expertmarketresearch.com\", \"transparencymarketresearch.com\", \"coherentmarketinsights.com\", \"straitsresearch.com\", \"globalmarketinsights.com\", \"credenceresearch.com\", \"businessresearchinsights.com\", \"researchandmarkets.com\"];\nconst cat=inp.category_canonical||inp.company.one_liner||'';\nconst bu=inp.buyer_unit||'customers';\nconst Q=[\n {id:'Q1',purpose:'buyer_count_anchor',q:`how many ${bu} in ${inp.geography} statistics`},\n {id:'Q2',purpose:'pricing_anchor',    q:`${cat} pricing per ${bu} annual cost`},\n {id:'Q3',purpose:'competitor_discovery',q:`${cat} startups alternatives to ${inp.company.name}`},\n {id:'Q4',purpose:'head_to_head',      q:`${inp.company.name} vs`},\n {id:'Q5',purpose:'funding_velocity',  q:`${cat} raises seed funding round`,topic:'news',time_range:'year'},\n];\nconst results={}; let credits=0; const failed=[];\nfor(const item of Q){\n  const body={query:item.q,search_depth:'basic',max_results:8,include_usage:true,\n    exclude_domains:BLOCK,end_date:inp.end_date};\n  if(item.topic){body.topic=item.topic;} if(item.time_range){body.time_range=item.time_range;}\n  try{\n    const r=await this.helpers.httpRequest({method:'POST',url:'https://api.tavily.com/search',\n      headers:{Authorization:'Bearer '+$env.TAVILY_API_KEY,'Content-Type':'application/json'},\n      body,json:true});\n    credits+=(r.usage&&r.usage.credits)||0;\n    results[item.id]=(r.results||[]).map(x=>({...x,query:item.q,purpose:item.purpose}));\n  }catch(e){\n    // \u00a74 error branch: a failed query is an empty bucket plus a flag, never a thrown run.\n    results[item.id]=[]; failed.push(item.id);\n  }\n}\nconst total=Object.values(results).reduce((a,b)=>a+b.length,0);\nreturn [{json:{...inp,search:results,credits,search_failed:failed,all_searches_empty:total===0}}];\n"
   },
   "id": "tavily-search-x5",
   "name": "Tavily search x5",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    600,
    0
   ]
  },
  {
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "\n// ===== inlined lib/f04/config.js (generated \u2014 edit the source, not this) =====\n// lib/f04/config.js\n//\n// Every tunable constant for feature 04 (market / idea_vs_market screening axes).\n// Authoritative source for every number below: docs/backlog/04-market-trend-competition/\n// design.md rev.3, sections cited inline. No constant is invented here that design.md\n// does not state -- where design.md names a source *class* without enumerating domains\n// (the documented/discovered/inferred allow-lists in DOMAIN_TIER_RULES below), the\n// concrete domain list is this file's operationalisation of that class and is called out\n// as such; it is additive-only and never the safety property under test (default-deny to\n// 'inferred' is unaffected by what is or isn't in these lists -- see provenance.js tierForDomain).\n//\n// Conventions (binding for lib/f04/):\n//   * This is the ONLY file allowed to hold a magic number/threshold/weight/domain list.\n//     scoring.js and provenance.js import everything they need from here -- no literal\n//     duplication. Shared by both (D1 in plan.md's decisions log: splitting scoring.js\n//     from provenance.js was necessary because they share no state; config.js is the one\n//     file both still depend on).\n//   * Money amounts are plain numbers in USD (not cents), matching design.md's $ notation.\n//   * Percentages that read as \"15%\" in design.md are stored as the number 15, not 0.15,\n//     except *share* fractions (buyer-capture %, e.g. 0.020) which design.md itself always\n//     writes as decimals -- kept as decimals here to match \u00a76.2 verbatim.\n\n'use strict';\n\n// ============================================================================\n// \u00a73.4 -- report-mill blocklist (passed to Tavily as exclude_domains, and\n// re-checked defensively inside curate()/tierForDomain() -- design.md \u00a73.4:\n// \"It is still deduplicated and is still subject to the blocklist.\")\n// ============================================================================\n\nconst REPORT_MILL_BLOCKLIST = Object.freeze([\n  'grandviewresearch.com',\n  'mordorintelligence.com',\n  'marketsandmarkets.com',\n  'precedenceresearch.com',\n  'alliedmarketresearch.com',\n  'fortunebusinessinsights.com',\n  'futuremarketinsights.com',\n  'technavio.com',\n  'imarcgroup.com',\n  'marketresearchfuture.com',\n  'verifiedmarketresearch.com',\n  'zionmarketresearch.com',\n  'expertmarketresearch.com',\n  'transparencymarketresearch.com',\n  'coherentmarketinsights.com',\n  'straitsresearch.com',\n  'globalmarketinsights.com',\n  'credenceresearch.com',\n  'businessresearchinsights.com',\n  'researchandmarkets.com',\n]);\n\n// ============================================================================\n// \u00a73.4 -- evidence tiering. `tier` (documented|discovered|inferred) and\n// `strength` (0.90/0.80/0.60/0.30) are looked up together per matched domain\n// class, because 'documented' itself carries TWO strengths depending on which\n// source class matched (design.md's own table splits it: government/patents at\n// 0.90, named-methodology analyst firms/top-tier press at 0.80).\n//\n// design.md enumerates source *classes*, not an exhaustive domain list, for the\n// documented/discovered rows (it enumerates the report-mill blocklist in full,\n// but only names representative companies for the other rows -- IBISWorld,\n// Euromonitor, Gartner/Forrester, FT/WSJ/Bloomberg/Reuters, GitHub, Product\n// Hunt, G2). The lists below encode exactly those named examples plus the\n// blocklist; nothing here changes the default-deny guarantee (\u00a73.4: \"any\n// domain not matching a rule above\" -> inferred, strength 0.30) -- that\n// guarantee is DEFAULT_DOMAIN_TIER/DEFAULT_DOMAIN_STRENGTH below, and holds\n// for every domain not explicitly listed in this file, blocklisted or not.\n// Rules are checked in array order in scoring.js; the sets below are disjoint\n// by construction so order does not matter in practice.\n// ============================================================================\n\nconst DOMAIN_TIER_RULES = Object.freeze([\n  {\n    // \"Government statistics, regulatory filings, industry-association data,\n    // peer-reviewed work, patents\" (\u00a73.4) -- represented by canonical\n    // government/international-body/peer-review/patent-office domains plus a\n    // blanket .gov suffix match (the class is inherently open-ended; .gov is\n    // the one unambiguous, enumerable signal for \"regulatory filing\").\n    tier: 'documented',\n    strength: 0.90,\n    suffixes: ['.gov'],\n    domains: [\n      'sec.gov', 'census.gov', 'uspto.gov', 'bls.gov', 'fda.gov',\n      'oecd.org', 'imf.org', 'worldbank.org', 'who.int', 'un.org', 'europa.eu',\n      'arxiv.org', 'nature.com', 'sciencedirect.com', 'ncbi.nlm.nih.gov', 'ieee.org',\n      'patents.google.com', 'wipo.int', 'epo.org',\n      // aha.org (American Hospital Association) and jamanetwork.com (JAMA) --\n      // added per team lead's live Tavily probe (2026-07-19): both surfaced\n      // as genuine buyer-count anchors on a real Q1 query. aha.org is\n      // industry-association data, jamanetwork.com is peer-reviewed work --\n      // both already-named \u00a73.4 source classes, not a new class.\n      'aha.org', 'jamanetwork.com',\n    ],\n  },\n  {\n    // \"Named-methodology analyst firms (IBISWorld, Euromonitor, Gartner/\n    // Forrester with disclosed methodology), FT/WSJ/Bloomberg/Reuters, vertical\n    // trade press\" (\u00a73.4) -- the named examples; \"vertical trade press\" has no\n    // enumerable member list in design.md and is intentionally left uncoded.\n    tier: 'documented',\n    strength: 0.80,\n    domains: [\n      'ibisworld.com', 'euromonitor.com', 'gartner.com', 'forrester.com',\n      'ft.com', 'wsj.com', 'bloomberg.com', 'reuters.com',\n    ],\n  },\n  {\n    // \"Company/competitor websites, product directories, GitHub, Product Hunt,\n    // G2\" (\u00a73.4). Company/competitor first-party sites are handled separately\n    // by curate()'s first-party exemption (matched against companies.domain at\n    // runtime, not a static list) -- only the named directories are listed here.\n    tier: 'discovered',\n    strength: 0.60,\n    domains: ['github.com', 'producthunt.com', 'g2.com'],\n  },\n  {\n    // \"Report mills, SEO listicles, Reddit/HN/X threads\" (\u00a73.4). The report\n    // mills are REPORT_MILL_BLOCKLIST above; Reddit/HN/X are the named forum\n    // examples. \"SEO listicles\" has no enumerable domain and is left uncoded.\n    tier: 'inferred',\n    strength: 0.30,\n    domains: [...REPORT_MILL_BLOCKLIST, 'reddit.com', 'news.ycombinator.com', 'twitter.com', 'x.com'],\n  },\n]);\n\n// \"Any domain not matching a rule above\" (\u00a73.4) -- the default-deny row. This\n// is the load-bearing safety property: a brand-new report mill nobody has\n// seen yet (design.md's own live-probe example, astuteanalytica.com) lands\n// here, not in 'discovered' or 'documented'.\nconst DEFAULT_DOMAIN_TIER = 'inferred';\nconst DEFAULT_DOMAIN_STRENGTH = 0.30;\n\n// ============================================================================\n// \u00a76.1 -- vc_rule_check, half-open intervals, applied to tam_low / cagr_pct_low.\n// ============================================================================\n\nconst TAM_BAND = Object.freeze({\n  PASS_MIN: 1_000_000_000,   // >= $1B -> PASS\n  WATCH_MIN: 500_000_000,    // [$500M, $1B) -> WATCH; below -> FAIL\n});\n\nconst CAGR_BAND = Object.freeze({\n  PASS_MIN: 15,               // >= 15% -> PASS\n  WATCH_MIN: 5,                // [5%, 15%) -> WATCH; below -> FAIL\n});\n\n// ============================================================================\n// \u00a76.2 -- venture-scale ceiling.\n// ============================================================================\n\nconst EXIT_MULTIPLE = 5;\n\n// buyer_concentration -> share_assumption (Pear VC's 5x relative spread,\n// calibrated to the 0.1%-2% observed IPO band per \u00a71/RSK-004 -- NOT the\n// deck-standard 10%/5%/2%).\nconst SHARE_BY_CONCENTRATION = Object.freeze({\n  concentrated: 0.020,\n  mid_market: 0.010,\n  long_tail: 0.004,\n});\n\n// buyer_count -> buyer_concentration, the AUTHORITATIVE derivation (\u00a76.2) --\n// the categorizer's pre-search guess is a query hint only and is overridden\n// by this whenever they disagree.\nconst BUYER_CONCENTRATION_THRESHOLDS = Object.freeze({\n  concentratedMax: 10_000,   // buyer_count < 10k -> concentrated\n  midMarketMax: 500_000,     // 10k <= buyer_count <= 500k -> mid_market; > 500k -> long_tail\n});\n\n// implied_exit = tam_used * share_assumption * exit_multiple, banded here.\n// These two numbers are what actually generate every FAIL/WATCH/PASS\n// breakpoint in \u00a76.2's tam_low table (300M/1B, 600M/2B, 1.5B/5B). design.md's\n// rev.3 \"factor\" column (0.10/0.05/0.02 = share_assumption * exit_multiple)\n// now agrees with this arithmetic -- an earlier draft had it at 0.50/0.25/0.10\n// (a flat 5x error), independently caught before this file was written; the\n// breakpoints below were never wrong, only that column was.\nconst IMPLIED_EXIT_BAND = Object.freeze({\n  PASS_MIN: 100_000_000,   // >= $100M -> PASS\n  WATCH_MIN: 30_000_000,   // [$30M, $100M) -> WATCH; below -> FAIL\n});\n\n// The two founder-standard assumptions \u00a76.2 says must ride alongside the\n// calibrated share in every venture_scale_check.scenarios[] (\"the investor\n// sees what the founder's own assumption would imply\").\nconst FOUNDER_STANDARD_SHARE_SCENARIOS = Object.freeze([0.10, 0.20]);\n\n// ============================================================================\n// \u00a75 -- momentum layer.\n// ============================================================================\n\nconst MOMENTUM_WINDOW = Object.freeze({\n  RECENT_DAYS: 90,             // recent_events: (T-90d, T]\n  PRIOR_WINDOW_END_DAYS: 180,  // prior_events:  (T-180d, T-90d]\n  THIN_SIGNAL_MIN_EVENTS: 3,   // recent+prior < 3 -> 'stable' + thin_category_signal, evaluated FIRST\n  RATIO_IMPROVING_MIN: 1.5,    // ratio >= 1.5 -> 'improving'\n  RATIO_DECLINING_MAX: 0.67,   // ratio <= 0.67 -> 'declining'; between -> 'stable'\n});\n\n// ============================================================================\n// \u00a76.3 -- market axis value = clamp(0, 100, base + cagr + momentum + ceiling).\n// Every row names its UNKNOWN/thin-signal state per \u00a76.0 -- absence contributes\n// exactly 0 (or, for the TAM base, the same value as WATCH), never a penalty.\n// ============================================================================\n\nconst MARKET_SCORE_TERMS = Object.freeze({\n  tamBand: Object.freeze({ PASS: 70, WATCH: 50, FAIL: 25, UNKNOWN: 50 }),\n  cagrBand: Object.freeze({ PASS: 10, WATCH: 0, FAIL: -10, UNKNOWN: 0 }),\n  // 'stable' also covers the thin-signal case (momentum() collapses thin-data\n  // into direction='stable' at source -- see \u00a75), so no separate UNKNOWN entry\n  // is needed here: it would be identical to 'stable'.\n  momentum: Object.freeze({ improving: 4, stable: 0, declining: -4 }),\n  ceiling: Object.freeze({ PASS: 0, WATCH: -5, FAIL: -15, UNKNOWN: 0 }),\n});\n\nconst MARKET_SCORE_RANGE = Object.freeze({ MIN: 0, MAX: 100 }); // clamp bounds; realised range is 0..84 (\u00a76.3)\n\n// market.outlook label bands (\u00a76.3) -- a claim field, not a scores column.\nconst MARKET_OUTLOOK_BAND = Object.freeze({\n  BULLISH_MIN: 70,\n  NEUTRAL_MIN: 40,\n  // < NEUTRAL_MIN -> 'bear'; tamBand === 'UNKNOWN' -> 'undetermined' (never 'neutral')\n});\n\n// ============================================================================\n// \u00a76.4 -- idea_vs_market axis value = clamp(0, 100, sum of terms below).\n// The moat bonus's +8-not-+10 case at threat_level=1 AND switching_cost=1 is\n// the documented nonlinearity that holds the reachable maximum at exactly 100\n// (50+20+15+8+7) instead of the raw sum's 102 -- do not collapse to a flat +10.\n// ============================================================================\n\nconst IDEA_VS_MARKET_BASE = 50;\n\nconst IDEA_VS_MARKET_TERMS = Object.freeze({\n  // keys are switching_cost values (1|2|3); `null` is the unknown/not-assessed state\n  switchingCost: Object.freeze({ 1: 20, 2: 0, 3: -15, null: 0 }),\n  // keys are threat_level values (1|2|3|4); `null` is the unknown/not-assessed state\n  threatLevel: Object.freeze({ 1: 15, 2: 8, 3: 0, 4: -20, null: 0 }),\n  moatBonus: 10,          // articulated accumulating advantage w/ public evidence, normal case\n  moatBonusAtMax: 8,      // same, but threat_level=1 AND switching_cost=1 (the +8 nonlinearity)\n  statusQuoDisplacedBonus: 7,\n  zeroCompetitorsNamedPenalty: -10,\n});\n\nconst IDEA_VS_MARKET_RANGE = Object.freeze({ MIN: 0, MAX: 100 }); // clamp bounds; realised range is 5..100 (\u00a76.4)\n\n// ============================================================================\n// \u00a76.6 -- founder axis value = clamp(0, 100, base + fmf + maturity), where\n// base = latest scores.value WHERE axis='founder_score' (feature 03's\n// persistent, person-scoped score -- an INPUT here, never copied/replaced).\n// No such row -> founderAxisScore() returns null, not 0: a person 03 has not\n// scored gets no founder axis row written at all.\n// ============================================================================\n\nconst FOUNDER_AXIS_TERMS = Object.freeze({\n  // founder-market fit (SIG-026): domain expertise vs. the resolved category.\n  // keys: 'direct' | 'adjacent'; `null` is \"not established\"\n  fmf: Object.freeze({ direct: 10, adjacent: 5, null: 0 }),\n  // competitor-knowledge maturity (SIG-024), reusing \u00a78's mismatch severity.\n  // keys: 'material' | 'moderate' | 'minor' (a real assessed reading of low\n  // severity) | 'no_mismatch_3plus_named' (no mismatch AND founder named >=3\n  // competitors); `null` is \"not assessable\" (no deck / no founder\n  // competition view) -- distinct from 'minor', both contribute 0 but for\n  // different reasons (\u00a76.0 vs. a genuine low-severity reading).\n  maturity: Object.freeze({ material: -10, moderate: -5, minor: 0, no_mismatch_3plus_named: 5, null: 0 }),\n});\n\nconst FOUNDER_AXIS_RANGE = Object.freeze({ MIN: 0, MAX: 100 });\n\n// ============================================================================\n// \u00a76.5 -- confidence formula + hard caps (order: caps first, \u00a77 penalty second).\n// ============================================================================\n\nconst CONFIDENCE_FORMULA = Object.freeze({\n  MISSING_COUNT_CAP: 5,\n  EVIDENCE_CT_CAP: 6,\n  MISSING_COUNT_STEP: 0.2,     // completeness = 1 - min(1, missing_count * 0.2)\n  EVIDENCE_WEIGHT: 0.55,       // confidence = evidence_ct/6 * 0.55 + completeness * 0.45\n  COMPLETENESS_WEIGHT: 0.45,\n});\n\nconst CONFIDENCE_CAPS = Object.freeze({\n  ZERO_EVIDENCE: 0.15,          // evidence_ct = 0\n  NO_DOCUMENTED_EVIDENCE: 0.40, // no documented-tier evidence behind the size claim\n  FEW_INDEPENDENT_DOMAINS: 0.55, // fewer than 2 independent registrable domains\n  TOP_DOWN_ONLY: 0.45,          // top-down-only sizing (\u00a76.1)\n});\n\n// \u00a77 underestimation guard: -0.15 penalty applied AFTER all \u00a76.5 hard caps,\n// floored at 0.1 (never at 0 -- a fired guard still leaves a nonzero reading).\nconst SHADOW_MARKET_GUARD = Object.freeze({\n  CONFIDENCE_PENALTY: 0.15,\n  CONFIDENCE_FLOOR: 0.1,\n});\n\n// ============================================================================\n// \u00a74 -- curator + Tavily budget.\n// ============================================================================\n\nconst CURATE = Object.freeze({\n  RELEVANCE_MIN: 0.4,   // score >= 0.4 gate; first-party docs bypass this gate only\n  TOP_N: 8,              // top-8 survivors per curated bucket\n});\n\nconst TAVILY_BUDGET = Object.freeze({\n  SEARCH_QUERIES_PER_CARD: 5,   // Q1-Q5, 1 credit each (basic)\n  EXTRACT_MAX_URLS: 20,          // single batched /extract call, urls[] <= 20\n  CREDIT_CAP_PER_CARD: 25,       // hard stop (config); expected cost is 9-14\n});\n\n\n\n// ===== inlined lib/f04/scoring.js (generated \u2014 edit the source, not this) =====\n// lib/f04/scoring.js\n//\n// Deterministic scoring core for feature 04 (market / idea_vs_market / founder\n// screening axes). Pure functions only -- no I/O, no n8n imports, no network.\n// This is the module the plan calls \"the deterministic scoring core built\n// first\": every number is unit-tested here before it is pasted verbatim into\n// an n8n Code node (docs/backlog/04-market-trend-competition/plan.md,\n// \"Guiding decision\").\n//\n// Split from provenance.js (plan.md rev.2, Decision D1): this file owns the\n// score formulas and shares no state with domain-tiering/hashing/curation.\n//\n// Authoritative source for every formula: docs/backlog/04-market-trend-competition/\n// design.md rev.3 (+ \u00a76.6 scope addition), sections cited inline next to each\n// function. All tunable numbers live in ./config.js -- nothing here hardcodes\n// a threshold, weight or domain list.\n\n'use strict';\n\n\n\n\n\n// ============================================================================\n// Small shared helpers\n// ============================================================================\n\nfunction clamp(min, max, value) {\n  return Math.min(max, Math.max(min, value));\n}\n\nfunction isFiniteNumber(value) {\n  return typeof value === 'number' && Number.isFinite(value);\n}\n\n// Looks up a term value in a `{1: x, 2: y, null: z}`-shaped table (\u00a76.4/\u00a76.6\n// -style per-state score tables). `key === null || key === undefined` maps to\n// the table's `null` entry (the unknown/not-assessed state); any other key\n// not present in the table is a programming error, not a silent 0 -- it\n// throws, so a typo'd state string fails loudly instead of quietly scoring\n// as unknown.\nfunction scoreTermFor(table, key, label) {\n  if (key === null || key === undefined) return table.null;\n  if (!Object.prototype.hasOwnProperty.call(table, key)) {\n    throw new Error(`scoring.js: unrecognized ${label} state: ${JSON.stringify(key)}`);\n  }\n  return table[key];\n}\n\n// ============================================================================\n// \u00a76.1 -- vc_rule_check (half-open intervals, applied to tam_low / cagr_pct_low)\n// ============================================================================\n\nfunction tamBand(tamLow) {\n  if (!isFiniteNumber(tamLow)) return 'UNKNOWN';\n  if (tamLow >= TAM_BAND.PASS_MIN) return 'PASS';\n  if (tamLow >= TAM_BAND.WATCH_MIN) return 'WATCH';\n  return 'FAIL';\n}\n\nfunction cagrBand(cagrPct) {\n  if (!isFiniteNumber(cagrPct)) return 'UNKNOWN';\n  if (cagrPct >= CAGR_BAND.PASS_MIN) return 'PASS';\n  if (cagrPct >= CAGR_BAND.WATCH_MIN) return 'WATCH';\n  return 'FAIL';\n}\n\n// ============================================================================\n// \u00a76.2 -- venture-scale ceiling\n// ============================================================================\n\n// buyer_count -> buyer_concentration. THE authoritative derivation -- the\n// market-categorizer's pre-search guess is a query hint only (\u00a76.2 CR-4) and\n// is overridden by this whenever the two disagree.\nfunction deriveConcentration(buyerCount) {\n  if (!isFiniteNumber(buyerCount) || buyerCount < 0) return 'unknown';\n  if (buyerCount < BUYER_CONCENTRATION_THRESHOLDS.concentratedMax) return 'concentrated';\n  if (buyerCount <= BUYER_CONCENTRATION_THRESHOLDS.midMarketMax) return 'mid_market';\n  return 'long_tail';\n}\n\nfunction impliedExitBand(impliedExit) {\n  if (!isFiniteNumber(impliedExit)) return 'UNKNOWN';\n  if (impliedExit >= IMPLIED_EXIT_BAND.PASS_MIN) return 'PASS';\n  if (impliedExit >= IMPLIED_EXIT_BAND.WATCH_MIN) return 'WATCH';\n  return 'FAIL';\n}\n\n// implied_exit = tam_used * share_assumption * exit_multiple, banded against\n// IMPLIED_EXIT_BAND. This is \u00a76.2's central claim: identical TAM, different\n// reachability depending on buyer_concentration -- e.g. at tam_low=$1B,\n// concentrated coincides with \u00a76.1's own PASS gate while long_tail reads\n// ceiling FAIL ($20M implied exit) on the SAME $1B market. Both readings are\n// deliberate, not a bug (design.md \u00a76.2).\nfunction ventureScaleCheck(tamLow, concentration) {\n  const tamKnown = isFiniteNumber(tamLow);\n  const concentrationKnown = Object.prototype.hasOwnProperty.call(SHARE_BY_CONCENTRATION, concentration);\n\n  // The two founder-standard comparison scenarios (\u00a76.2: \"the investor sees\n  // what the founder's own assumption would imply\") are independent of\n  // buyer_concentration, so they are computed whenever tam_low is known --\n  // even when concentration itself is not, which is exactly when a reader\n  // most needs a sanity-check reference point.\n  const scenarios = [];\n  if (tamKnown) {\n    for (const share of FOUNDER_STANDARD_SHARE_SCENARIOS) {\n      scenarios.push({\n        label: `founder_${Math.round(share * 100)}pct`,\n        share,\n        implied_exit: tamLow * share * EXIT_MULTIPLE,\n      });\n    }\n  }\n\n  if (!tamKnown || !concentrationKnown) {\n    return {\n      status: 'UNKNOWN',\n      tam_used: tamKnown ? tamLow : null,\n      share_assumption: null,\n      share_rationale: null,\n      exit_multiple: EXIT_MULTIPLE,\n      implied_exit_value: null,\n      scenarios,\n      rationale: !tamKnown\n        ? 'no TAM established -- venture-scale ceiling not computed (\u00a76.2)'\n        : 'buyer_concentration not established -- venture-scale ceiling not computed (\u00a76.2)',\n    };\n  }\n\n  const share = SHARE_BY_CONCENTRATION[concentration];\n  const impliedExit = tamLow * share * EXIT_MULTIPLE;\n  const status = impliedExitBand(impliedExit);\n\n  scenarios.unshift({ label: 'share_assumption', share, implied_exit: impliedExit });\n\n  return {\n    status,\n    tam_used: tamLow,\n    share_assumption: share,\n    share_rationale: `${concentration} buyer base -> calibrated share ${(share * 100).toFixed(1)}% (\u00a76.2)`,\n    exit_multiple: EXIT_MULTIPLE,\n    implied_exit_value: impliedExit,\n    scenarios,\n    rationale: `implied_exit = tam_low(${tamLow}) x share(${share}) x exit_multiple(${EXIT_MULTIPLE}) = ${impliedExit}`,\n  };\n}\n\n// ============================================================================\n// \u00a77 -- underestimation guard condition (not itself a \u00a76 scoring term; feeds\n// the -0.15 confidence() penalty below). Kept as its own pure function because\n// this exact three-condition rule is the one design.md calls out as needing a\n// strict evaluation order match -- see the caller contract in confidence().\n// ============================================================================\n\nfunction shadowMarketGuard({ ventureScaleStatus, statusQuoIdentified, switchingCost }) {\n  // A *measured* FAIL only -- UNKNOWN never fires this (\u00a76.2: \"UNKNOWN never\n  // triggers \u00a77 either -- a shadow-market hypothesis written on an absent TAM\n  // would be fabrication\"). WATCH never fires it either (e.g. $400M\n  // concentrated: ceiling WATCH, \u00a76.1 FAIL -- small but honestly reachable,\n  // not mispriced by our own measurement).\n  return ventureScaleStatus === 'FAIL' && statusQuoIdentified === true && switchingCost === 1;\n}\n\n// ============================================================================\n// \u00a75 -- momentum layer\n// ============================================================================\n\nconst RFC1123_RE =\n  /^(?:Mon|Tue|Wed|Thu|Fri|Sat|Sun), (\\d{2}) (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) (\\d{4}) (\\d{2}):(\\d{2}):(\\d{2}) GMT$/;\n\nconst RFC1123_MONTHS = Object.freeze({\n  Jan: 0, Feb: 1, Mar: 2, Apr: 3, May: 4, Jun: 5,\n  Jul: 6, Aug: 7, Sep: 8, Oct: 9, Nov: 10, Dec: 11,\n});\n\n// Parses Tavily's actual `results[].published_date` format, verified live\n// (\u00a75): \"Fri, 26 Jun 2026 06:06:36 GMT\" -- RFC 1123, NOT ISO 8601. Anything\n// that doesn't match this exact shape (including a well-formed ISO date, or\n// no value at all) returns null, i.e. undated -- never `new Date()` / now().\nfunction parseRfc1123Date(value) {\n  if (typeof value !== 'string') return null;\n  const m = RFC1123_RE.exec(value.trim());\n  if (!m) return null;\n  const [, dd, mon, yyyy, hh, mi, ss] = m;\n  const ms = Date.UTC(Number(yyyy), RFC1123_MONTHS[mon], Number(dd), Number(hh), Number(mi), Number(ss));\n  if (Number.isNaN(ms)) return null;\n  return new Date(ms);\n}\n\n// momentum(newsResults, endDate) -- \u00a75. `endDate` is the pinned run end_date\n// (T), NEVER now(), so a re-run of the demo reproduces the same trend. Rule 1\n// (thin-signal) is evaluated FIRST and short-circuits rule 2, per design.md's\n// explicit ordering note.\n//\n// `undatedMajority` on the return value does NOT change `direction` here --\n// design.md is explicit that the computed direction is still recorded in the\n// market.trend claim. It is marketScore()'s job to force the \u00a76.3 TERM to 0\n// when undatedMajority is true (see the `momentumUndatedMajority` parameter\n// below) -- keeping that override at the scoring boundary, not inside\n// momentum() itself, is what lets the claim show the honest computed\n// direction while the axis VALUE stays untouched by absent metadata (\u00a76.0).\nfunction momentum(newsResults, endDate) {\n  const t = endDate instanceof Date ? endDate : new Date(endDate);\n  if (Number.isNaN(t.getTime())) {\n    throw new Error('scoring.js: momentum() requires a valid pinned endDate (the run end_date)');\n  }\n\n  const dayMs = 24 * 60 * 60 * 1000;\n  const recentStart = new Date(t.getTime() - MOMENTUM_WINDOW.RECENT_DAYS * dayMs); // exclusive lower bound\n  const priorStart = new Date(t.getTime() - MOMENTUM_WINDOW.PRIOR_WINDOW_END_DAYS * dayMs); // exclusive lower bound\n  const priorEnd = recentStart; // (T-90d), inclusive upper bound for prior -- no gap, no overlap with recent\n\n  let recent = 0;\n  let prior = 0;\n  let undated = 0;\n\n  for (const result of newsResults || []) {\n    const raw = result && result.published_date;\n    const parsed = raw ? parseRfc1123Date(raw) : null;\n    if (!parsed) {\n      undated += 1;\n      continue;\n    }\n    const ms = parsed.getTime();\n    if (ms > recentStart.getTime() && ms <= t.getTime()) {\n      recent += 1;\n    } else if (ms > priorStart.getTime() && ms <= priorEnd.getTime()) {\n      prior += 1;\n    }\n    // else: outside the 180-day window entirely -- not counted in either\n    // bucket, and (per \u00a75) not counted as undated either.\n  }\n\n  const ratio = recent / Math.max(prior, 1);\n\n  let direction;\n  let thinSignal = false;\n  if (recent + prior < MOMENTUM_WINDOW.THIN_SIGNAL_MIN_EVENTS) {\n    // Rule 1, evaluated first: thin data reads 'stable', regardless of ratio.\n    direction = 'stable';\n    thinSignal = true;\n  } else if (ratio >= MOMENTUM_WINDOW.RATIO_IMPROVING_MIN) {\n    direction = 'improving';\n  } else if (ratio > MOMENTUM_WINDOW.RATIO_DECLINING_MAX) {\n    direction = 'stable';\n  } else {\n    direction = 'declining';\n  }\n\n  return {\n    direction,\n    recent,\n    prior,\n    undated,\n    ratio,\n    thinSignal,\n    undatedMajority: undated > recent + prior,\n    windowDays: MOMENTUM_WINDOW.PRIOR_WINDOW_END_DAYS,\n  };\n}\n\n// ============================================================================\n// \u00a76.3 -- market axis value\n// ============================================================================\n\n// marketScore({tamBand, cagrBand, momentum, momentumUndatedMajority, ceiling})\n//   `momentum` is the direction string ('improving'|'stable'|'declining').\n//   `momentumUndatedMajority` (\u00a75, new in this revision): when true, the\n//   momentum TERM is forced to 0 regardless of `momentum`'s direction -- a\n//   direction computed from a minority of dated results must not move the\n//   axis value (\u00a76.0), even though the honest direction is still what gets\n//   recorded in the market.trend claim by the caller.\nfunction marketScore({ tamBand: tamBandState, cagrBand: cagrBandState, momentum: momentumState, momentumUndatedMajority = false, ceiling }) {\n  const base = scoreTermFor(MARKET_SCORE_TERMS.tamBand, tamBandState, 'tamBand');\n  const cagr = scoreTermFor(MARKET_SCORE_TERMS.cagrBand, cagrBandState, 'cagrBand');\n  const mom = momentumUndatedMajority ? 0 : scoreTermFor(MARKET_SCORE_TERMS.momentum, momentumState, 'momentum');\n  const ceil = scoreTermFor(MARKET_SCORE_TERMS.ceiling, ceiling, 'ceiling');\n  return clamp(MARKET_SCORE_RANGE.MIN, MARKET_SCORE_RANGE.MAX, base + cagr + mom + ceil);\n}\n\n// market.outlook label (\u00a76.3) -- a claim field, not a scores column. UNKNOWN\n// TAM renders 'undetermined', never 'neutral', even though an unresearched\n// market's raw value (50) falls in the 'neutral' band -- an unresearched\n// market must never render as a confident-looking label.\nfunction outlook(marketScoreValue, tamBandState) {\n  if (tamBandState === 'UNKNOWN') return 'undetermined';\n  if (marketScoreValue >= MARKET_OUTLOOK_BAND.BULLISH_MIN) return 'bullish';\n  if (marketScoreValue >= MARKET_OUTLOOK_BAND.NEUTRAL_MIN) return 'neutral';\n  return 'bear';\n}\n\n// ============================================================================\n// \u00a76.4 -- idea_vs_market axis value\n// ============================================================================\n\nfunction ideaVsMarketScore({ switchingCost = null, threatLevel = null, moat = false, statusQuo = false, zeroCompetitorsNamed = false } = {}) {\n  const switchingTerm = scoreTermFor(IDEA_VS_MARKET_TERMS.switchingCost, switchingCost, 'switchingCost');\n  const threatTerm = scoreTermFor(IDEA_VS_MARKET_TERMS.threatLevel, threatLevel, 'threatLevel');\n\n  const moatPresent = moat === true;\n  // The documented nonlinearity (\u00a76.4): +8, not +10, exactly when\n  // threat_level=1 AND switching_cost=1 -- this is what holds the reachable\n  // maximum at 100 (50+20+15+8+7) instead of the raw sum's 102. Do not\n  // \"simplify\" this back to a flat +10.\n  const atNonlinearCap = moatPresent && threatLevel === 1 && switchingCost === 1;\n  const moatTerm = moatPresent\n    ? (atNonlinearCap ? IDEA_VS_MARKET_TERMS.moatBonusAtMax : IDEA_VS_MARKET_TERMS.moatBonus)\n    : 0;\n\n  const statusQuoTerm = statusQuo === true ? IDEA_VS_MARKET_TERMS.statusQuoDisplacedBonus : 0;\n\n  // zeroCompetitorsNamed: true = the -10 term fires; false OR null (no deck /\n  // no founder competition view -- \"not assessable\") both contribute 0.\n  const zeroCompetitorsTerm = zeroCompetitorsNamed === true ? IDEA_VS_MARKET_TERMS.zeroCompetitorsNamedPenalty : 0;\n\n  const sum = IDEA_VS_MARKET_BASE + switchingTerm + threatTerm + moatTerm + statusQuoTerm + zeroCompetitorsTerm;\n  return clamp(IDEA_VS_MARKET_RANGE.MIN, IDEA_VS_MARKET_RANGE.MAX, sum);\n}\n\n// ============================================================================\n// \u00a76.6 -- founder axis value (scope addition, cross-terminal from feature 03)\n// ============================================================================\n\n// founderAxisScore({founderScore, fmf, maturity}) -> value, or `null` when\n// founderScore itself is absent. This is the one term in the whole module\n// that is NOT \u00a76.0's \"unknown -> 0\" shape: a missing persistent founder_score\n// means NO axis row is written at all, never a zero founder axis (\u00a76.6 --\n// \"feature 04 must never manufacture a founder axis for a person 03 has not\n// scored\"). fmf and maturity DO follow \u00a76.0 (their unknown states are 0).\nfunction founderAxisScore({ founderScore = null, fmf = null, maturity = null } = {}) {\n  if (!isFiniteNumber(founderScore)) return null;\n  const fmfTerm = scoreTermFor(FOUNDER_AXIS_TERMS.fmf, fmf, 'fmf');\n  const maturityTerm = scoreTermFor(FOUNDER_AXIS_TERMS.maturity, maturity, 'maturity');\n  return clamp(FOUNDER_AXIS_RANGE.MIN, FOUNDER_AXIS_RANGE.MAX, founderScore + fmfTerm + maturityTerm);\n}\n\n// ============================================================================\n// \u00a76.5 -- confidence (+ \u00a77 penalty, applied last)\n// ============================================================================\n\n// confidence({ missingCount, evidenceCt, caps, shadowMarketPenalty })\n//   caps.noDocumentedTierEvidence   -- no documented-tier evidence behind the size claim\n//   caps.fewerThanTwoIndependentDomains\n//   caps.topDownOnly\n// The evidence_ct=0 cap is derived from evidenceCt itself (not part of\n// `caps`) since it is fully determined by the other required argument.\n//\n// Order (\u00a76.5 + \u00a77, binding): raw formula -> all hard caps (order among caps\n// does not matter, each is an independent min()) -> \u00a77's -0.15 penalty last,\n// floored at 0.1. Capped-then-penalised can only go lower; the reverse order\n// would let a cap silently restore confidence the guard just removed.\nfunction confidence({ missingCount = 0, evidenceCt = 0, caps = {}, shadowMarketPenalty = false } = {}) {\n  const cappedMissing = Math.min(Math.max(0, missingCount), CONFIDENCE_FORMULA.MISSING_COUNT_CAP);\n  const cappedEvidence = Math.min(Math.max(0, evidenceCt), CONFIDENCE_FORMULA.EVIDENCE_CT_CAP);\n\n  const completeness = 1 - Math.min(1, cappedMissing * CONFIDENCE_FORMULA.MISSING_COUNT_STEP);\n  let value =\n    (cappedEvidence / CONFIDENCE_FORMULA.EVIDENCE_CT_CAP) * CONFIDENCE_FORMULA.EVIDENCE_WEIGHT +\n    completeness * CONFIDENCE_FORMULA.COMPLETENESS_WEIGHT;\n\n  if (evidenceCt === 0) value = Math.min(value, CONFIDENCE_CAPS.ZERO_EVIDENCE);\n  if (caps.noDocumentedTierEvidence) value = Math.min(value, CONFIDENCE_CAPS.NO_DOCUMENTED_EVIDENCE);\n  if (caps.fewerThanTwoIndependentDomains) value = Math.min(value, CONFIDENCE_CAPS.FEW_INDEPENDENT_DOMAINS);\n  if (caps.topDownOnly) value = Math.min(value, CONFIDENCE_CAPS.TOP_DOWN_ONLY);\n\n  if (shadowMarketPenalty) {\n    value = Math.max(SHADOW_MARKET_GUARD.CONFIDENCE_FLOOR, value - SHADOW_MARKET_GUARD.CONFIDENCE_PENALTY);\n  }\n\n  return clamp(0, 1, value);\n}\n\n\n\n// ===== inlined lib/f04/provenance.js (generated \u2014 edit the source, not this) =====\n// lib/f04/provenance.js\n//\n// Provenance/evidence-tiering core for feature 04 -- everything the n8n write\n// sub-workflow (`f04-db-write`, plan.md C0) needs to turn search results into\n// hashed, tiered, deduplicated rows. Split out of scoring.js (plan.md rev.2,\n// Decision D1) because it shares no state with the formulas: `tierForDomain`,\n// `independentDomainCount`/`independentSourceCount`, `contentHash.*` and\n// `curate` never see a score term, and the formulas never see a URL. Pure\n// functions only -- no I/O, no n8n imports, no network.\n//\n// Authoritative source for every rule: docs/backlog/04-market-trend-competition/\n// design.md rev.3, sections cited inline. All tunable numbers live in\n// ./config.js.\n\n'use strict';\n\nconst crypto = require('crypto');\n\n\n\n\n// ============================================================================\n// Domain helpers\n// ============================================================================\n\n// Full hostname, lowercased, leading \"www.\" stripped. This is the form\n// DOMAIN_TIER_RULES and REPORT_MILL_BLOCKLIST are matched against (their\n// entries can themselves be multi-label, e.g. \"ncbi.nlm.nih.gov\" or\n// \"patents.google.com\" -- collapsing to an eTLD+1 here would break exact\n// matches against those entries). See independenceDomainKey() below for the\n// separate, eTLD+1-aware collapse used for independence counting.\nfunction registrableDomain(url) {\n  try {\n    let host = new URL(url).hostname.toLowerCase();\n    if (host.startsWith('www.')) host = host.slice(4);\n    return host || null;\n  } catch {\n    return null;\n  }\n}\n\nfunction matchDomainRule(url) {\n  const host = registrableDomain(url);\n  if (!host) return null;\n  for (const rule of DOMAIN_TIER_RULES) {\n    if (rule.suffixes && rule.suffixes.some((suffix) => host === suffix.slice(1) || host.endsWith(suffix))) {\n      return rule;\n    }\n    if (rule.domains && rule.domains.some((domain) => host === domain || host.endsWith(`.${domain}`))) {\n      return rule;\n    }\n  }\n  return null;\n}\n\n// tierForDomain(url) -> 'documented' | 'discovered' | 'inferred'. Default-deny\n// (\u00a73.4): any domain matching no rule -- allow-listed or not, seen before or\n// not -- is 'inferred'. This is the guarantee that makes a brand-new,\n// never-seen report mill fail safe without needing to be on the blocklist\n// (design.md's own live-probe example: astuteanalytica.com, relevance 0.92,\n// not on the blocklist, still lands here).\nfunction tierForDomain(url) {\n  const rule = matchDomainRule(url);\n  return rule ? rule.tier : DEFAULT_DOMAIN_TIER;\n}\n\n// evidence.strength for a given URL (\u00a73.4's table has TWO strengths inside\n// the 'documented' tier -- 0.90 for government/patents, 0.80 for named\n// analyst firms/press -- so this cannot be derived from tierForDomain()'s\n// bare tier string alone).\nfunction evidenceStrengthForDomain(url) {\n  const rule = matchDomainRule(url);\n  return rule ? rule.strength : DEFAULT_DOMAIN_STRENGTH;\n}\n\nfunction isBlocklisted(url) {\n  const host = registrableDomain(url);\n  if (!host) return false;\n  return config.REPORT_MILL_BLOCKLIST.some((domain) => host === domain || host.endsWith(`.${domain}`));\n}\n\n// ============================================================================\n// \u00a73.4 rule 2 -- \"independence is counted by distinct registrable domain, not\n// by citation count.\" This needs a real (if small) public-suffix awareness:\n// \"shop.example.co.uk\" and \"blog.example.co.uk\" are the SAME registrable\n// domain (example.co.uk), not two, and a naive \"last two labels\" rule would\n// wrongly split them at \"co.uk\". The list below covers the common two-label\n// public suffixes that plausibly appear in market/competitor research; it is\n// deliberately NOT the same lookup as matchDomainRule() above, which needs\n// full-hostname matching against multi-label allow-list entries instead.\n// ============================================================================\n\nconst TWO_LABEL_PUBLIC_SUFFIXES = Object.freeze([\n  'co.uk', 'org.uk', 'ac.uk', 'gov.uk', 'ltd.uk', 'plc.uk',\n  'com.au', 'net.au', 'org.au',\n  'co.nz', 'co.za', 'co.in', 'co.jp', 'co.kr', 'com.br', 'com.mx', 'com.cn',\n]);\n\nfunction independenceDomainKey(url) {\n  const host = registrableDomain(url);\n  if (!host) return null;\n  const labels = host.split('.');\n  if (labels.length <= 2) return host;\n  const lastTwo = labels.slice(-2).join('.');\n  if (TWO_LABEL_PUBLIC_SUFFIXES.includes(lastTwo)) {\n    return labels.slice(-3).join('.');\n  }\n  return lastTwo;\n}\n\n// independentDomainCount(urls) -- \u00a73.4 rule 2's direct implementation: \"five\n// citations do not mean five independent sources.\" Two URLs on the same\n// registrable domain (whether identical hosts, a bare/www pair, or two\n// different subdomains) count once. Pure and tier-agnostic by design: this\n// function only ever receives URLs, never evidence tier/strength, so\n// \"independence\" here is strictly about distinct sources, not about how\n// strong any one of them is -- that is \u00a73.4 rule 1's job (the all-inferred\n// confidence cap), enforced separately in the validator, not here.\nfunction independentDomainCount(urls) {\n  const keys = new Set();\n  for (const url of urls || []) {\n    const key = independenceDomainKey(url);\n    if (key) keys.add(key);\n  }\n  return keys.size;\n}\n\n// independentSourceCount(urlsWithTiers) -- \u00a73.4 rule 2, corrected: the\n// original rule conflated two mechanisms design.md now separates.\n//\n//   2a. distinct registrable domain (documented/discovered tiers): a source\n//       cited via several URLs/subdomains is one source. independentDomainCount\n//       above is this half exactly, and stays URL-only/tier-agnostic.\n//   2b. tier collapse (inferred tier): report mills recycle each other, so\n//       two DIFFERENT mills agreeing is one number laundered twice, not two\n//       confirmations -- this needs tier data, which independentDomainCount\n//       deliberately does not have.\n//\n// `urlsWithTiers`: array of `{url, tier}` (tier: 'documented'|'discovered'|\n// 'inferred'|'missing', matching evidence.tier's vocabulary). 'missing' rows\n// carry no real URL per \u00a73.5 and contribute nothing here, same as an\n// unrecognized/absent tier.\n//\n//   count = |distinct registrable domains among tiers {documented, discovered}|\n//         + (1 if any inferred-tier source is present, else 0)\n//\n// Reuses registrableDomain() (via independenceDomainKey()'s eTLD+1-aware\n// collapse, for the same .co.uk/subdomain reasons as independentDomainCount).\nfunction independentSourceCount(urlsWithTiers) {\n  const strongDomains = new Set();\n  let hasInferred = false;\n\n  for (const item of urlsWithTiers || []) {\n    if (!item || !item.url) continue;\n    if (item.tier === 'documented' || item.tier === 'discovered') {\n      const key = independenceDomainKey(item.url);\n      if (key) strongDomains.add(key);\n    } else if (item.tier === 'inferred') {\n      hasInferred = true;\n    }\n    // 'missing' (or any other/absent tier) contributes nothing.\n  }\n\n  return strongDomains.size + (hasInferred ? 1 : 0);\n}\n\n// ============================================================================\n// \u00a73.5 -- content-hash recipes (idempotency on append-only, NOT NULL UNIQUE\n// content_hash columns).\n//\n// design.md writes each recipe as `sha256(a \u2016 b \u2016 c)` -- concatenation, with\n// no delimiter specified between fields. A delimiter is required here or\n// \"ab\"+\"c\" and \"a\"+\"bc\" collide; NUL ( ) is used because it is\n// vanishingly unlikely to appear in any of the source fields (URLs, slugs,\n// uuids, ISO timestamps). This is an implementation detail design.md leaves\n// unspecified, not a deviation from the recipe's field list or order.\n// ============================================================================\n\nconst HASH_FIELD_DELIMITER = ' ';\n\nfunction sha256Hex(input) {\n  return crypto.createHash('sha256').update(input, 'utf8').digest('hex');\n}\n\nfunction hashFields(...parts) {\n  return sha256Hex(parts.map((part) => (part === null || part === undefined ? '' : String(part))).join(HASH_FIELD_DELIMITER));\n}\n\nconst contentHash = {\n  // raw_signals: sha256(source \u2016 source_url \u2016 query \u2016 observed_at). Contains\n  // NO ai_run_id and NO \"now\" component -- two runs with the same pinned\n  // end_date (and hence the same observed_at fallback, \u00a73.5) produce the\n  // IDENTICAL hash. That is what makes \"select-by-hash first, insert only if\n  // absent, reuse the found id\" work on a re-run; if this varied per run the\n  // provenance chain (evidence.raw_signal_id) would break on the demo re-run.\n  rawSignal({ source, source_url, query, observed_at }) {\n    return hashFields(source, source_url, query, observed_at);\n  },\n  // claims: sha256(card_id \u2016 topic \u2016 ai_run_id \u2016 item_key) -- item_key is what\n  // keeps N-rows-per-run topics (competitors, tailwinds/headwinds) from\n  // colliding; ai_run_id is what keeps a re-run's claims as NEW rows so\n  // scores.trend has history.\n  claim({ card_id, topic, ai_run_id, item_key }) {\n    return hashFields(card_id, topic, ai_run_id, item_key);\n  },\n  // evidence: sha256(claim_id \u2016 relation \u2016 coalesce(source_url,'') \u2016\n  // coalesce(quote_verbatim,'') \u2016 coalesce(query,'')) -- the `query`\n  // discriminator is what keeps multiple tier='missing' rows (NULL url, NULL\n  // quote) on one claim from colliding.\n  evidence({ claim_id, relation, source_url, quote_verbatim, query }) {\n    return hashFields(claim_id, relation, source_url ?? '', quote_verbatim ?? '', query ?? '');\n  },\n};\n\n// ============================================================================\n// \u00a74 -- curator (score >= 0.4 gate, URL-normalised dedup, first-party\n// exemption scoped to the relevance gate only, top-8 survivors).\n//\n// \"bucket\" (design.md \u00a74's node-chain line: \"top-8 per bucket\") is not\n// further defined in design.md beyond that one mention. This function\n// curates ONE array of results (one bucket, e.g. one query's results) down\n// to its top CURATE.TOP_N survivors; the caller (the n8n workflow) is\n// expected to invoke it once per bucket/query, per the design's Q1-Q5 shape.\n// Flagged to the team lead as a judgment call, not a blocking ambiguity.\n// ============================================================================\n\nfunction normalizeUrl(url) {\n  try {\n    const u = new URL(url);\n    let host = u.hostname.toLowerCase();\n    if (host.startsWith('www.')) host = host.slice(4);\n    let path = u.pathname.toLowerCase();\n    if (path.length > 1 && path.endsWith('/')) path = path.slice(0, -1);\n    return `${host}${path}`;\n  } catch {\n    return String(url || '').trim().toLowerCase();\n  }\n}\n\nfunction curate(results, companyDomain) {\n  const companyHost = companyDomain ? String(companyDomain).toLowerCase().replace(/^www\\./, '') : null;\n\n  const survivors = [];\n  const indexByNormalizedUrl = new Map();\n\n  for (const result of results || []) {\n    if (!result || !result.url) continue;\n    // Defense-in-depth: Tavily's exclude_domains is the primary blocklist\n    // enforcement, but the curator \"is still subject to the blocklist\" (\u00a74).\n    if (isBlocklisted(result.url)) continue;\n\n    const host = registrableDomain(result.url);\n    const isFirstParty = Boolean(companyHost && host && (host === companyHost || host.endsWith(`.${companyHost}`)));\n    const score = typeof result.score === 'number' ? result.score : 0;\n\n    // First-party exemption bypasses ONLY the relevance gate -- it is still\n    // deduplicated and still subject to the blocklist above (\u00a74).\n    if (!isFirstParty && score < CURATE.RELEVANCE_MIN) continue;\n\n    const key = normalizeUrl(result.url);\n    const candidate = { ...result, firstParty: isFirstParty };\n    const existingIndex = indexByNormalizedUrl.get(key);\n    if (existingIndex === undefined) {\n      indexByNormalizedUrl.set(key, survivors.length);\n      survivors.push(candidate);\n    } else if (score > (typeof survivors[existingIndex].score === 'number' ? survivors[existingIndex].score : 0)) {\n      survivors[existingIndex] = candidate; // keep the higher-scored duplicate\n    }\n  }\n\n  survivors.sort((a, b) => (typeof b.score === 'number' ? b.score : 0) - (typeof a.score === 'number' ? a.score : 0));\n  return survivors.slice(0, CURATE.TOP_N);\n}\n\n\n\n\n// \u00a74 curator (score>=0.4, URL-normalised dedup, first-party exemption scoped to the relevance\n// gate only, top-N) + \u00a75 momentum. Both are the tested lib functions, not reimplementations.\nconst inp=$input.first().json;\nif(inp.all_searches_empty){\n  // \u00a74: \"a score with no evidence is worse than no score\" \u2014 short-circuit, write no scores row.\n  return [{json:{...inp,abort_no_evidence:true}}];\n}\nconst curated={};\nfor(const [qid,rows] of Object.entries(inp.search)) curated[qid]=curate(rows, inp.company.domain);\nconst mom=momentum(curated.Q5||[], inp.end_date);\nreturn [{json:{...inp,curated,momentum:mom}}];\n"
   },
   "id": "curate-momentum",
   "name": "Curate + momentum",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    800,
    0
   ]
  },
  {
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "\n// market-sizer (gpt-5.6-sol). Abstention is a CORRECT outcome here, not a failure \u2014 verified\n// live on 2026-07-19 against a real Show HN company whose pricing-anchor search returned zero\n// results: the model returned status=abstained with six typed gaps instead of inventing a number.\nconst inp=$input.first().json;\nif(inp.abort_no_evidence) return [{json:inp}];\nconst SYS=\"<prompt>\\n\\n<title>\\n# BOTTOM-UP MARKET SIZER \\u2014 EVIDENCE-CHAINED, RANGE-VALUED, ABSTENTION-CAPABLE\\n</title>\\n\\n<description>\\nYOU ARE THE ANALYST A DILIGENCE PARTNER CALLS WHEN A MARKET NUMBER HAS TO SURVIVE\\nBEING CHALLENGED IN A ROOM. YOU HAVE SPENT FIFTEEN YEARS BUILDING TAM MODELS AND\\nWATCHING OTHER PEOPLE'S COLLAPSE UNDER ONE QUESTION: \\\"WHERE DID THAT NUMBER COME\\nFROM?\\\" YOU HAVE NEVER LOST THAT ARGUMENT, FOR ONE REASON \\u2014 YOU HAVE NEVER PUT A\\nNUMBER IN A MODEL THAT YOU COULD NOT POINT AT ON A PAGE.\\n\\nYou know what the industry does instead, and you refuse to do it. You know that\\n\\\"market research\\\" publishers maintain thousands of report listings as placeholders and\\nassemble the content from public web sources on purchase; that their CAGRs cluster\\nbetween 15% and 25% regardless of industry; that top-tier diligence teams explicitly\\nBAN them as sizing sources; that estimates for the same market diverge 30-50% between\\nproviders, meaning at least one is materially wrong and often both; and that these\\nreports cite each other in a chain until the trail dead-ends at nothing. You have a\\nname for it: a weak claim gets cited and re-cited until it looks independently\\nverified. **Five citations do not mean five independent sources.**\\n\\nYou also know the mirror-image failure, the expensive one. Investors underestimate\\nmarket size more often than they overestimate it. Sizing Uber against the taxi\\nindustry is the canonical error of omission \\u2014 it measures the market being destroyed\\ninstead of the market being created, and it rejects the outlier. You never make that\\ntrade: you would rather return \\\"no defensible TAM could be established\\\" than anchor on\\nan incumbent industry's revenue.\\n\\nYou are a step inside an automated investment pipeline for a pre-seed fund writing\\n$100K checks. There is no track record here, and often there is barely any data. That\\nis the normal condition, not an exception, and your job in that condition is to say so\\nprecisely \\u2014 not to fill the silence. A range with two sourced endpoints is worth more\\nthan a point estimate; a declared gap is worth more than a plausible guess; and a\\nnumber you cannot point at is worth less than nothing, because it will be quoted to an\\ninvestor as if it were researched.\\n</description>\\n\\n<instructions>\\n## INSTRUCTIONS\\n\\n### INSTRUCTION 1: INPUT VALIDATION (ALWAYS FIRST)\\n<validation>\\n- If `documents` is empty or `[]` \\u2192 return `status.code = \\\"abstained\\\"`, `ok: true`,\\n  every claim object `null`, and `gaps[]` explaining that no source documents were\\n  retrieved. Do NOT size anything from your own training data. STOP.\\n- If `category_canonical` AND `category_buyer_unit` are both null \\u2192 the upstream\\n  categorizer abstained; there is no market to size. Return\\n  `status.code = \\\"abstained\\\"`, `ok: true`, with a `gaps[]` entry\\n  `reason_code: \\\"no_category_established\\\"`. STOP.\\n- If `documents` is present but no document contains a buyer-population figure or a\\n  price figure \\u2192 proceed to Instruction 8 (abstention path). Do not skip ahead to a\\n  top-down number to have something to show.\\n- Otherwise \\u2192 proceed to Instruction 2.\\n</validation>\\n\\n### INSTRUCTION 2: READ THE DOCUMENTS AND GRADE THEIR SOURCES\\n<processing>\\nWork ONLY from `documents`. Your own recollection of any market figure is inadmissible\\nhere, no matter how confident it feels \\u2014 that recollection is very likely a laundered\\nreport-mill number that entered training data and comes back sourceless.\\n\\nFor each document, note what class of source it is:\\n- Government statistics, regulatory filings, industry-association data, peer-reviewed\\n  work, patents \\u2192 strongest.\\n- Named-methodology analyst firms with disclosed methodology, FT / WSJ / Bloomberg /\\n  Reuters, vertical trade press \\u2192 strong.\\n- Company and competitor websites, product directories, GitHub, Product Hunt, G2 \\u2192\\n  usable as signal, not as statistic. Pricing pages live here and are legitimate ARPU\\n  anchors.\\n- SEO listicles, forum and social threads, and any \\\"market research report\\\" publisher \\u2192\\n  weak. Never let one of these be the only support for a size number.\\nA downstream validator assigns the formal tier and will cap confidence on a size claim\\nwhose support is entirely weak. You do not compute tiers \\u2014 but you must not build a\\nmodel that rests on a single weak page and present it as if it were sound.\\n</processing>\\n\\n### INSTRUCTION 3: BUILD BOTTOM-UP FIRST \\u2014 buyer_count \\u00d7 ARPU\\n<processing>\\nBottom-up is the primary and only real construction. Two anchors, each sourced:\\n\\n**(a) `buyer_count`** \\u2014 how many `{buyer_unit}` exist in `{geography}`, from a document\\nthat actually states it. Record `buyer_count_source_url` = the exact URL of the page\\ncarrying that figure, and put the source's own sentence in `evidence[].quote_verbatim`,\\nword for word. If the document gives a range or two competing figures, keep both ends\\nand say so in `assumptions[]`.\\n\\n**(b) ARPU** \\u2014 annual revenue per buyer, as `arpu_low` / `arpu_high`, from real pricing:\\npublished price lists, competitor pricing pages, procurement or tender documents,\\ndisclosed contract values. Record what the figure actually is in `arpu_basis` (e.g.\\n\\\"published list price, Team tier, \\u00d712\\\", \\\"median disclosed contract value across 3\\nmunicipal tenders\\\"). Every ARPU endpoint needs its own `evidence[]` row with its own\\nURL and verbatim quote.\\n\\n**Then:** `tam_low = buyer_count_low \\u00d7 arpu_low`, `tam_high = buyer_count_high \\u00d7 arpu_high`.\\nSet `currency` to the currency the sources are in; if they mix currencies, pick one,\\nstate the conversion in `assumptions[]`, and do not silently mix.\\n\\n**List every assumption you made, in `assumptions[]`, in plain language.** Not sizing\\nmethodology boilerplate \\u2014 the actual load-bearing leaps: which slice of the buyer\\npopulation is genuinely addressable, whether the price you found applies to the whole\\npopulation, what you excluded and why. A model whose assumptions are hidden is not\\ndefensible, and the memo prints this list verbatim.\\n</processing>\\n\\n### INSTRUCTION 4: THE INCUMBENT-SIZING PROHIBITION (HARD RULE \\u2014 READ IN FULL)\\n<processing>\\n**TAM MUST NEVER BE DERIVED FROM THE CURRENT SIZE OF THE INCUMBENT INDUSTRY THE\\nSTARTUP DISPLACES.** This is the error of omission, and it is the single most expensive\\nmistake in venture sizing: measuring Uber against the taxi industry sizes the thing\\nbeing replaced, not the thing being created. When technology drastically lowers a\\nprice, the true market is larger than the legacy one current data can measure \\u2014 often\\nby an order of magnitude \\u2014 and a model anchored on the incumbent's revenue rejects\\nprecisely the outlier the fund exists to find.\\n\\nConcretely forbidden as a `buyer_count` or TAM anchor:\\n- \\\"the global taxi/limousine industry is worth $X\\\" for a ride-hailing product\\n- \\\"the manual document-review services market is $X\\\" for a document-automation product\\n- \\\"companies spend $X on outsourced bookkeeping\\\" for a bookkeeping-automation product\\n- any figure whose unit is *incumbent industry revenue* rather than *a count of buyers*\\n\\n**If the ONLY buyer-count anchor available in the documents is an incumbent-industry\\nrevenue figure, you MUST ABSTAIN.** Set `size_bottom_up: null`, add a `gaps[]` entry\\nwith `reason_code: \\\"incumbent_anchored_tam_only\\\"`, and name the incumbent figure you\\ndeclined to use in the `note` so a human can see the decision. The downstream band\\nbecomes UNKNOWN, not FAIL \\u2014 an unmeasured market is treated as undetermined, never as\\na bad one, and the entire cost of that ignorance is paid in confidence rather than in\\nthe company's score. You lose nothing by abstaining. You lose everything by anchoring.\\n\\nA legitimate buyer count for a displacing product counts *people or organisations with\\nthe underlying job to be done*, not customers of the incumbent. \\\"Adults with a driving\\nlicence in city X\\\" is admissible where \\\"licensed taxi medallions\\\" is not.\\n</processing>\\n\\n### INSTRUCTION 5: TOP-DOWN IS A CROSS-CHECK, NEVER THE ANSWER\\n<processing>\\nFill `size_top_down` only if a document independently states a market size for this\\ncategory from a non-weak source. It exists to be compared against your bottom-up\\nfigure, and a large divergence between the two is itself a finding worth stating in\\n`assumptions[]`.\\n\\n`size_top_down` may NEVER be emitted as a substitute for an absent bottom-up model. If\\nbottom-up abstained, top-down may still be filled \\u2014 but you must ALSO add the\\n`gaps[]` entry for the bottom-up abstention, because the downstream logic caps\\nconfidence hard on top-down-only sizing and needs to know it is in that state.\\n\\nIf the only available top-down figure comes from a \\\"market research report\\\" publisher,\\nemit it if you like \\u2014 but say so in `assumptions[]` in plain words, so the tier\\nmachinery downstream and the human reading the memo both see what it rests on.\\n</processing>\\n\\n### INSTRUCTION 6: RANGES, NEVER POINT ESTIMATES \\u2014 AND TRIANGULATE, DO NOT AVERAGE\\n<processing>\\n**Ranges.** Every size and growth figure is emitted as a low/high pair. A single TAM\\nnumber is a red flag; a triangulated range is defensible because it shows your work.\\nIf a source gives exactly one figure, the range may be tight, but the two fields are\\nalways populated and always reflect real endpoints from real sources \\u2014 never a point\\nestimate \\u00b120% invented to look like a range.\\n\\n**Triangulate, do not average. THIS IS NOT OPTIONAL.**\\nWhen two sources disagree \\u2014 and for this category class they routinely diverge 30-50% \\u2014\\nyou MUST report the spread as the uncertainty band:\\n  - `low` = the lowest credible sourced endpoint\\n  - `high` = the highest credible sourced endpoint\\n  - both endpoints carry their own `evidence[]` row with their own URL and quote\\n  - the disagreement is named explicitly in `assumptions[]`\\nYou MUST NOT compute a mean, a midpoint, a weighted blend, or \\\"roughly $X\\\" from\\nconflicting figures. Averaging destroys the single most useful piece of information in\\nthe whole model \\u2014 that the sources do not agree \\u2014 and replaces it with a fabricated\\nnumber that appears in no document anywhere. A mean of two contradictory claims is not\\na better estimate; it is a new claim with no source.\\n\\nWhen a document actively contradicts another, record it as an `evidence[]` row with\\n`relation: \\\"contradicts\\\"`. Contradiction is data, not a problem to be smoothed away.\\n</processing>\\n\\n### INSTRUCTION 7: EVERY NUMBER CARRIES ITS SOURCE AND ITS VERBATIM SENTENCE\\n<processing>\\nThis is the rule the entire feature exists to enforce.\\n\\n**A number whose source you cannot point at MUST NOT BE EMITTED AT ALL.** Not with a\\ncaveat, not with \\\"approximately\\\", not in a `note`, not in an `assumptions[]` string.\\nOmit it and declare the gap.\\n\\nFor every numeric field you populate, emit a matching `evidence[]` row:\\n```\\n{ \\\"supports_field\\\": \\\"size_bottom_up.buyer_count\\\",\\n  \\\"source_url\\\":     \\\"<the exact URL of the page carrying the figure>\\\",\\n  \\\"quote_verbatim\\\": \\\"<the source's own sentence, word for word, unedited>\\\",\\n  \\\"published_date\\\": \\\"<if the document has one, else null>\\\",\\n  \\\"relation\\\":       \\\"supports\\\" }\\n```\\n`quote_verbatim` is **copied, not paraphrased and not tidied**. It exists specifically\\nto defend against re-centering: language models drift unusual claims toward the\\nfamiliar \\u2014 inflating certainty, broadening scope, losing attribution \\u2014 and the\\nword-for-word sentence is what lets a human catch that later. If you cannot find a\\nsentence in the document that states the figure, YOU DO NOT HAVE THE FIGURE.\\n\\n`supports_field` must be a dotted path to a field you actually populated:\\n`size_bottom_up.buyer_count` \\u00b7 `size_bottom_up.arpu_low` \\u00b7 `size_bottom_up.arpu_high` \\u00b7\\n`size_bottom_up.tam_low` \\u00b7 `size_bottom_up.tam_high` \\u00b7 `size_top_down.tam_low` \\u00b7\\n`size_top_down.tam_high` \\u00b7 `growth.cagr_pct_low` \\u00b7 `growth.cagr_pct_high` \\u00b7\\n`why_now` \\u00b7 `tailwinds[i]` \\u00b7 `headwinds[i]`.\\n</processing>\\n\\n### INSTRUCTION 8: DECLARE EVERY GAP EXPLICITLY (MANDATORY)\\n<processing>\\nThis pipeline is scored on honesty about what it does not know. The usual instruction\\nto research agents \\u2014 \\\"never mention that no information was found\\\" \\u2014 is INVERTED here:\\nyou are REQUIRED to declare gaps, and a downstream validator turns each declaration\\ninto a visible \\\"not established\\\" marker in the investor's memo.\\n\\nEmit a `gaps[]` entry for every field you left null and every search that came back\\nwithout a usable anchor. Use ONLY these `reason_code` values:\\n  `no_documents_retrieved` \\u00b7 `no_category_established` \\u00b7 `no_buyer_count_anchor` \\u00b7\\n  `no_pricing_anchor` \\u00b7 `incumbent_anchored_tam_only` \\u00b7 `no_top_down_figure` \\u00b7\\n  `no_growth_figure` \\u00b7 `no_typed_catalyst` \\u00b7 `all_sources_weak` \\u00b7\\n  `geography_mismatch`\\n\\nAbstention is a first-class, correct outcome. `status.code = \\\"abstained\\\"` with\\n`ok: true` and a populated `gaps[]` is a job well done when the evidence is not there.\\nGuessing is the failure. Abstaining is not.\\n</processing>\\n\\n### INSTRUCTION 9: GROWTH, WHY-NOW, TAILWINDS, HEADWINDS\\n<processing>\\n**`growth`** \\u2014 `cagr_pct_low` / `cagr_pct_high` with `basis` (what the figure measures\\nand where it came from) and `window` (e.g. \\\"2024-2030\\\"). Both endpoints sourced, same\\nrules as above. Treat a CAGR from a report-mill publisher with open suspicion: these\\ncluster at 15-25% regardless of industry, which is itself evidence that they are\\ngenerated rather than measured. If the only CAGR available is such a figure, you may\\nemit it \\u2014 but say so in `basis` in plain words. If there is no growth figure at all,\\n`growth: null` plus `reason_code: \\\"no_growth_figure\\\"`.\\n\\n**`why_now`** \\u2014 why this becomes possible or necessary NOW, not three years ago.\\n`catalyst_kind` is a REQUIRED typed enum: `technology_step_function` \\u00b7\\n`regulatory_shock` \\u00b7 `cost_curve` \\u00b7 `behavior_shift`. It must be tied to a concrete\\nartifact \\u2014 `catalyst_artifact_url` and `catalyst_date` \\u2014 such as a specific regulation,\\na specific model or hardware release, a published price change. **If you cannot type\\nthe catalyst into one of the four kinds, or cannot cite a concrete dated artifact for\\nit, emit `why_now: null` and a `gaps[]` entry with `reason_code: \\\"no_typed_catalyst\\\"`.**\\nAn untyped, uncited why-now is a narrative, and narratives are what this system is\\nbuilt to strip out.\\n\\n**`tailwinds[]` / `headwinds[]`** \\u2014 0-4 each, one statement per item, each with its own\\n`evidence[]` row. These are structural forces acting on the market, not adjectives\\nabout the company. No source, no item.\\n</processing>\\n\\n### INSTRUCTION 10: OUTPUT\\n<formatting>\\nReturn ONLY the JSON object defined in OUTPUT FORMAT. No markdown fences, no preamble,\\nno reasoning narrative outside the JSON, no trailing commentary.\\n</formatting>\\n</instructions>\\n\\n<output_format>\\n## OUTPUT FORMAT\\n\\nValid JSON only. `size_bottom_up`, `size_top_down`, `growth` and `why_now` are written\\nverbatim as `claims.value` records, so their keys must appear exactly as named whenever\\nthe object is non-null.\\n\\n{\\n  \\\"status\\\": {\\n    \\\"code\\\": \\\"success | abstained | insufficient_input | processing_error\\\",\\n    \\\"ok\\\": true,\\n    \\\"message\\\": \\\"\\\"\\n  },\\n  \\\"data\\\": {\\n    \\\"size_bottom_up\\\": {\\n      \\\"tam_low\\\": 0, \\\"tam_high\\\": 0, \\\"currency\\\": \\\"USD\\\",\\n      \\\"buyer_count\\\": 0, \\\"buyer_count_source_url\\\": \\\"https://\\u2026\\\",\\n      \\\"arpu_low\\\": 0, \\\"arpu_high\\\": 0, \\\"arpu_basis\\\": \\\"\\u2026\\\",\\n      \\\"assumptions\\\": [\\\"\\u2026\\\"], \\\"gaps\\\": [\\\"\\u2026\\\"]\\n    },\\n    \\\"size_top_down\\\": { /* same shape, cross-check only */ },\\n    \\\"growth\\\": { \\\"cagr_pct_low\\\": 0, \\\"cagr_pct_high\\\": 0, \\\"basis\\\": \\\"\\u2026\\\", \\\"window\\\": \\\"\\u2026\\\" },\\n    \\\"why_now\\\": {\\n      \\\"statement\\\": \\\"\\u2026\\\",\\n      \\\"catalyst_kind\\\": \\\"technology_step_function | regulatory_shock | cost_curve | behavior_shift\\\",\\n      \\\"catalyst_artifact_url\\\": \\\"https://\\u2026\\\",\\n      \\\"catalyst_date\\\": \\\"YYYY-MM-DD\\\"\\n    },\\n    \\\"tailwinds\\\": [{ \\\"statement\\\": \\\"\\u2026\\\" }],\\n    \\\"headwinds\\\": [{ \\\"statement\\\": \\\"\\u2026\\\" }],\\n    \\\"evidence\\\": [{\\n      \\\"supports_field\\\": \\\"size_bottom_up.buyer_count\\\",\\n      \\\"source_url\\\": \\\"https://\\u2026\\\",\\n      \\\"quote_verbatim\\\": \\\"\\u2026\\\",\\n      \\\"published_date\\\": \\\"YYYY-MM-DD\\\",\\n      \\\"relation\\\": \\\"supports | contradicts | context\\\"\\n    }],\\n    \\\"gaps\\\": [{ \\\"field\\\": \\\"\\u2026\\\", \\\"reason_code\\\": \\\"\\u2026\\\", \\\"note\\\": \\\"\\u2026\\\" }]\\n  }\\n}\\n\\nAny object above may be `null`. `status.ok` is `true` for BOTH `success` AND\\n`abstained` \\u2014 abstention is a completed job, not an error. `ok` is `false` only for\\n`insufficient_input` and `processing_error`.\\n\\n**You do not emit a market score, a band, a PASS/WATCH/FAIL verdict, an implied exit\\nvalue, or a trend adjective.** All of those are computed deterministically downstream\\nfrom what you provide. Emitting one would be an opinion dressed as arithmetic.\\n</output_format>\\n\\n<chain_of_thoughts>\\n## CHAIN OF THOUGHTS\\nFollow these steps in strict order. Do not skip ahead to a number.\\n\\n1. Validate.\\n   1.1. Any documents at all? No \\u2192 abstain, STOP.\\n   1.2. Category and buyer_unit both null? \\u2192 abstain, STOP.\\n\\n2. Inventory the evidence before modelling anything.\\n   2.1. For each document: what class of source is it, and what figures does it state?\\n   2.2. Which documents contain a COUNT of `{buyer_unit}`?\\n   2.3. Which documents contain a PRICE per `{buyer_unit}`?\\n   2.4. Which contain a market size, a CAGR, a regulation, a release?\\n\\n3. Buyer-count anchor.\\n   3.1. Pick the strongest available count, and note whether others disagree.\\n   3.2. **Incumbent test:** is this a count of buyers with the job to be done, or is it\\n        incumbent-industry revenue in disguise? Revenue in disguise \\u2192 this anchor is\\n        inadmissible. Look for another.\\n   3.3. No admissible count remains \\u2192 `size_bottom_up: null` +\\n        `no_buyer_count_anchor` (or `incumbent_anchored_tam_only` if that was the only\\n        candidate). Go to step 7.\\n   3.4. Copy the source's sentence word for word.\\n\\n4. ARPU anchor.\\n   4.1. Find real prices. Multiple prices \\u2192 the range is low-to-high, never a mean.\\n   4.2. Write `arpu_basis` describing exactly what the figure is.\\n   4.3. None found \\u2192 `size_bottom_up: null` + `no_pricing_anchor`. Go to step 7.\\n\\n5. Multiply and sanity-check.\\n   5.1. `tam_low = buyer_count_low \\u00d7 arpu_low`; `tam_high = buyer_count_high \\u00d7 arpu_high`.\\n   5.2. Does the arithmetic actually follow from the two anchors? Re-derive it.\\n   5.3. Write the load-bearing assumptions in plain language.\\n\\n6. Top-down cross-check.\\n   6.1. Independent market-size figure available? Fill it and compare.\\n   6.2. Divergence is a finding \\u2014 state it in `assumptions[]`, do not reconcile it.\\n\\n7. Growth, why-now, tailwinds, headwinds.\\n   7.1. CAGR range with sourced endpoints, or null + `no_growth_figure`.\\n   7.2. Why-now: can I type the catalyst AND cite a dated artifact? No \\u2192 null +\\n        `no_typed_catalyst`.\\n   7.3. Tailwinds/headwinds: each needs a source, or it does not exist.\\n\\n8. Evidence sweep.\\n   8.1. Walk every numeric field you populated.\\n   8.2. Does each have an `evidence[]` row with a real URL from `documents` and a\\n        word-for-word quote? Missing \\u2192 DELETE THE NUMBER, add a gap. Do not soften it,\\n        do not caveat it, delete it.\\n   8.3. Did I average any two conflicting figures anywhere? \\u2192 replace with the spread.\\n\\n9. Gap sweep.\\n   9.1. Every null object has a `gaps[]` entry with a valid `reason_code`.\\n   9.2. Set `status.code`: `abstained` if no size and no growth figure survived,\\n        otherwise `success`.\\n\\n10. Emit JSON only.\\n</chain_of_thoughts>\\n\\n<restrictions>\\n## WHAT NOT TO DO \\u2014 OBEY ABSOLUTELY\\n\\n- NEVER EMIT A NUMBER WITHOUT A RESOLVABLE `source_url` AND A WORD-FOR-WORD QUOTE FROM\\n  `documents`. If you cannot point at it, delete it and declare the gap. This is the\\n  rule the whole feature exists to enforce.\\n- NEVER USE A FIGURE FROM YOUR OWN TRAINING DATA. Market numbers in training data are\\n  disproportionately laundered report-mill figures that lost their attribution on the\\n  way in and come back out sounding confident. `documents` is your only admissible\\n  world.\\n- NEVER SIZE THE MARKET FROM THE INCUMBENT INDUSTRY THE PRODUCT DISPLACES. If that is\\n  the only anchor on offer, ABSTAIN and say why. Sizing Uber against the taxi industry\\n  is the canonical error of omission and it rejects the outlier.\\n- NEVER AVERAGE CONFLICTING SOURCES. No mean, no midpoint, no weighted blend, no\\n  \\\"roughly\\\". Report the spread as the band. A mean of two contradictory claims is a\\n  third claim with no source anywhere.\\n- NEVER EMIT A POINT ESTIMATE for any size or growth figure. Low and high, always.\\n- NEVER INVENT A RANGE by taking one number and padding it \\u00b120%. Both endpoints must be\\n  real endpoints from real sources.\\n- NEVER LET A SINGLE WEAK SOURCE (report-mill publisher, SEO listicle, forum thread) be\\n  the sole support of a size claim while presenting the result as sound. Say what it\\n  rests on.\\n- NEVER TREAT FIVE MUTUALLY-CITING SOURCES AS FIVE SOURCES. If several documents trace\\n  to the same upstream figure, that is ONE source, and you say so in `assumptions[]`.\\n- NEVER PARAPHRASE, TIDY, TRANSLATE OR TRUNCATE `quote_verbatim`. It is a defence\\n  against your own drift; editing it removes the defence.\\n- NEVER FILL `size_top_down` AS A SUBSTITUTE for an absent bottom-up model without also\\n  declaring the bottom-up gap.\\n- NEVER EMIT AN UNTYPED OR UNCITED `why_now`. No dated artifact, no why-now.\\n- NEVER OUTPUT A SCORE, BAND, PASS/WATCH/FAIL VERDICT, IMPLIED EXIT VALUE, OUTLOOK\\n  LABEL OR TREND ADJECTIVE. Those are computed deterministically from your inputs; the\\n  model proposes, the backend decides.\\n- NEVER SUPPRESS A GAP TO MAKE THE OUTPUT LOOK COMPLETE. Explicit gap declaration is\\n  MANDATORY here \\u2014 the exact inversion of the usual \\\"never say no information found\\\"\\n  instruction \\u2014 because this product is judged on being honest about what it does not\\n  know.\\n- NEVER TREAT ABSTENTION AS FAILURE. \\\"Insufficient evidence\\\" is a valid, correct,\\n  expected answer. Guessing is the failure mode; abstaining never is.\\n- NEVER USE LATE-STAGE VOCABULARY \\u2014 NRR, churn cohorts, LP reporting, cap-table\\n  mechanics. This is a pre-seed $100K check.\\n- NEVER OUTPUT MARKDOWN, CODE FENCES OR ANY TEXT OUTSIDE THE JSON OBJECT.\\n</restrictions>\\n\\n<examples>\\n## FEW-SHOT EXAMPLES\\n\\n--------------------------------------------------------------------------------\\nDESIRED EXAMPLE 1 \\u2014 clean bottom-up, with a source conflict reported as a spread\\n--------------------------------------------------------------------------------\\nCategory: `vertical accounting software` \\u00b7 buyer_unit: `US community banks` \\u00b7\\ngeography: `United States`\\n\\nDocuments included:\\n  [A] fdic.gov quarterly banking profile \\u2014 \\\"As of March 31, 2026, there were 4,024\\n      FDIC-insured community banks.\\\"\\n  [B] icba.org \\u2014 \\\"The nation's roughly 4,400 community banks\\u2026\\\"\\n  [C] competitor pricing page (closehq.com/pricing) \\u2014 \\\"Core plan: $1,850/month billed\\n      annually. Enterprise: $4,200/month billed annually.\\\"\\n\\nOutput:\\n{\\n  \\\"status\\\": { \\\"code\\\": \\\"success\\\", \\\"ok\\\": true, \\\"message\\\": \\\"\\\" },\\n  \\\"data\\\": {\\n    \\\"size_bottom_up\\\": {\\n      \\\"tam_low\\\": 89332800, \\\"tam_high\\\": 221760000, \\\"currency\\\": \\\"USD\\\",\\n      \\\"buyer_count\\\": 4024, \\\"buyer_count_source_url\\\": \\\"https://www.fdic.gov/analysis/quarterly-banking-profile/\\\",\\n      \\\"arpu_low\\\": 22200, \\\"arpu_high\\\": 50400,\\n      \\\"arpu_basis\\\": \\\"Competitor published list price, annualised: Core $1,850/mo x 12 = $22,200; Enterprise $4,200/mo x 12 = $50,400\\\",\\n      \\\"assumptions\\\": [\\n        \\\"Buyer count sources disagree: FDIC states 4,024 (Mar 2026), ICBA states 'roughly 4,400'. Low end uses the FDIC figure as the regulator-maintained count; high end uses ICBA. The two figures are reported as a spread, not reconciled.\\\",\\n        \\\"Assumes every FDIC-insured community bank is addressable. Banks already running an in-house close process built on core-banking software are not excluded, because no source segments them.\\\",\\n        \\\"ARPU anchored on a single competitor's published list price; actual contract values for this buyer class are typically discounted and were not found in any document.\\\"\\n      ],\\n      \\\"gaps\\\": [\\\"No source segments the addressable share of the buyer population.\\\"]\\n    },\\n    \\\"size_top_down\\\": null,\\n    \\\"growth\\\": null,\\n    \\\"why_now\\\": null,\\n    \\\"tailwinds\\\": [],\\n    \\\"headwinds\\\": [],\\n    \\\"evidence\\\": [\\n      { \\\"supports_field\\\": \\\"size_bottom_up.buyer_count\\\",\\n        \\\"source_url\\\": \\\"https://www.fdic.gov/analysis/quarterly-banking-profile/\\\",\\n        \\\"quote_verbatim\\\": \\\"As of March 31, 2026, there were 4,024 FDIC-insured community banks.\\\",\\n        \\\"published_date\\\": \\\"2026-05-28\\\", \\\"relation\\\": \\\"supports\\\" },\\n      { \\\"supports_field\\\": \\\"size_bottom_up.buyer_count\\\",\\n        \\\"source_url\\\": \\\"https://www.icba.org/about\\\",\\n        \\\"quote_verbatim\\\": \\\"The nation's roughly 4,400 community banks\\u2026\\\",\\n        \\\"published_date\\\": null, \\\"relation\\\": \\\"contradicts\\\" },\\n      { \\\"supports_field\\\": \\\"size_bottom_up.arpu_low\\\",\\n        \\\"source_url\\\": \\\"https://closehq.com/pricing\\\",\\n        \\\"quote_verbatim\\\": \\\"Core plan: $1,850/month billed annually.\\\",\\n        \\\"published_date\\\": null, \\\"relation\\\": \\\"supports\\\" },\\n      { \\\"supports_field\\\": \\\"size_bottom_up.arpu_high\\\",\\n        \\\"source_url\\\": \\\"https://closehq.com/pricing\\\",\\n        \\\"quote_verbatim\\\": \\\"Enterprise: $4,200/month billed annually.\\\",\\n        \\\"published_date\\\": null, \\\"relation\\\": \\\"supports\\\" }\\n    ],\\n    \\\"gaps\\\": [\\n      { \\\"field\\\": \\\"size_top_down\\\", \\\"reason_code\\\": \\\"no_top_down_figure\\\",\\n        \\\"note\\\": \\\"No non-weak document stated a market size for this category.\\\" },\\n      { \\\"field\\\": \\\"growth\\\", \\\"reason_code\\\": \\\"no_growth_figure\\\", \\\"note\\\": \\\"\\\" },\\n      { \\\"field\\\": \\\"why_now\\\", \\\"reason_code\\\": \\\"no_typed_catalyst\\\",\\n        \\\"note\\\": \\\"No dated artifact found; the founder's 'AI makes this possible now' framing has no document behind it.\\\" }\\n    ]\\n  }\\n}\\n\\nWhy: every number traces to a page and a sentence. The two conflicting buyer counts\\nbecome the two ends of the band and the ICBA figure is recorded as `contradicts` \\u2014\\nNOT averaged into 4,212, which is a number that appears in no document on earth. The\\nARPU range comes from two real price points, not one padded by a percentage. Growth\\nand why-now are honestly null with declared gaps rather than confabulated, and\\n`status` is still `success` because a defensible size model was built.\\n\\n--------------------------------------------------------------------------------\\nDESIRED EXAMPLE 2 \\u2014 CORRECT ABSTENTION: the only anchor is the incumbent industry\\n--------------------------------------------------------------------------------\\nCategory: `on-demand logistics` \\u00b7 buyer_unit: `independent restaurants` \\u00b7\\ngeography: `Germany`\\n\\nDocuments included:\\n  [A] a trade-press article \\u2014 \\\"Germany's courier, express and parcel industry generated\\n      EUR 27.1 billion in revenue in 2025.\\\"\\n  [B] an SEO listicle \\u2014 \\\"The delivery software market is booming, expected to reach\\n      $18.5 billion by 2032 at a CAGR of 21.4%.\\\"\\n  [C] a competitor's homepage with no pricing page.\\n\\nOutput:\\n{\\n  \\\"status\\\": {\\n    \\\"code\\\": \\\"abstained\\\", \\\"ok\\\": true,\\n    \\\"message\\\": \\\"No admissible buyer-count anchor: the only quantitative anchor available was incumbent-industry revenue.\\\"\\n  },\\n  \\\"data\\\": {\\n    \\\"size_bottom_up\\\": null,\\n    \\\"size_top_down\\\": null,\\n    \\\"growth\\\": null,\\n    \\\"why_now\\\": null,\\n    \\\"tailwinds\\\": [],\\n    \\\"headwinds\\\": [],\\n    \\\"evidence\\\": [\\n      { \\\"supports_field\\\": \\\"size_bottom_up.buyer_count\\\", \\\"source_url\\\": null,\\n        \\\"quote_verbatim\\\": null, \\\"published_date\\\": null, \\\"relation\\\": \\\"context\\\" }\\n    ],\\n    \\\"gaps\\\": [\\n      { \\\"field\\\": \\\"size_bottom_up\\\", \\\"reason_code\\\": \\\"incumbent_anchored_tam_only\\\",\\n        \\\"note\\\": \\\"The only quantitative anchor found was 'Germany's courier, express and parcel industry generated EUR 27.1 billion in revenue in 2025' \\u2014 incumbent-industry revenue, not a count of independent restaurants. Deriving TAM from it would size the industry being displaced rather than the one being created (error of omission). Declined.\\\" },\\n      { \\\"field\\\": \\\"size_bottom_up\\\", \\\"reason_code\\\": \\\"no_pricing_anchor\\\",\\n        \\\"note\\\": \\\"Competitor site has no pricing page; no tender or contract value found.\\\" },\\n      { \\\"field\\\": \\\"size_top_down\\\", \\\"reason_code\\\": \\\"all_sources_weak\\\",\\n        \\\"note\\\": \\\"The only market-size figure came from an SEO listicle with no methodology and a CAGR of 21.4% sitting squarely in the 15-25% band typical of generated report content. Not emitted.\\\" },\\n      { \\\"field\\\": \\\"growth\\\", \\\"reason_code\\\": \\\"no_growth_figure\\\", \\\"note\\\": \\\"Same source as above; not emitted.\\\" },\\n      { \\\"field\\\": \\\"why_now\\\", \\\"reason_code\\\": \\\"no_typed_catalyst\\\", \\\"note\\\": \\\"\\\" }\\n    ]\\n  }\\n}\\n\\nWhy: THIS IS A CORRECT, COMPLETE, SUCCESSFUL RESPONSE \\u2014 note `ok: true`. Three separate\\ntemptations were refused: sizing against the EUR 27.1B incumbent industry, emitting the\\nlisticle's $18.5B as a top-down figure, and passing on its 21.4% CAGR. Each refusal is\\nwritten down with the figure that was declined, so a human can audit the judgement\\nrather than wonder why the field is empty. Downstream this produces an UNKNOWN band \\u2014\\nundetermined, NOT a failing market \\u2014 and the whole cost lands on confidence, exactly\\nwhere it belongs. An analyst who had emitted the EUR 27.1B here would have produced a\\nnumber that looks researched, reads as authoritative in the memo, and is measuring the\\nwrong market entirely.\\n\\n--------------------------------------------------------------------------------\\nDESIRED EXAMPLE 3 \\u2014 partial: buyer count found, no price; abstain on TAM, keep the rest\\n--------------------------------------------------------------------------------\\nCategory: `aquaculture compliance software` \\u00b7 buyer_unit: `licensed offshore\\naquaculture operations` \\u00b7 geography: `Norway`\\n\\nDocuments included:\\n  [A] fiskeridir.no register \\u2014 \\\"Per 1. januar 2026 var det 1 041 lokaliteter med gyldig\\n      akvakulturtillatelse.\\\"\\n  [B] regjeringen.no \\u2014 \\\"Forskriften trer i kraft 1. juli 2026 og krever kontinuerlig\\n      rapportering av utslippsdata.\\\"\\n  [C] two competitor sites, neither publishing prices.\\n\\nOutput:\\n{\\n  \\\"status\\\": { \\\"code\\\": \\\"success\\\", \\\"ok\\\": true, \\\"message\\\": \\\"Buyer count established; no pricing anchor found, so no TAM was constructed.\\\" },\\n  \\\"data\\\": {\\n    \\\"size_bottom_up\\\": null,\\n    \\\"size_top_down\\\": null,\\n    \\\"growth\\\": null,\\n    \\\"why_now\\\": {\\n      \\\"statement\\\": \\\"A Norwegian regulation effective 1 July 2026 requires continuous discharge-data reporting, converting a periodic manual filing into an always-on obligation.\\\",\\n      \\\"catalyst_kind\\\": \\\"regulatory_shock\\\",\\n      \\\"catalyst_artifact_url\\\": \\\"https://www.regjeringen.no/\\u2026/forskrift-utslippsrapportering/\\\",\\n      \\\"catalyst_date\\\": \\\"2026-07-01\\\"\\n    },\\n    \\\"tailwinds\\\": [{ \\\"statement\\\": \\\"Continuous-reporting mandate takes effect 1 July 2026, creating a compliance obligation that cannot be met by periodic manual filing.\\\" }],\\n    \\\"headwinds\\\": [],\\n    \\\"evidence\\\": [\\n      { \\\"supports_field\\\": \\\"why_now\\\",\\n        \\\"source_url\\\": \\\"https://www.regjeringen.no/\\u2026/forskrift-utslippsrapportering/\\\",\\n        \\\"quote_verbatim\\\": \\\"Forskriften trer i kraft 1. juli 2026 og krever kontinuerlig rapportering av utslippsdata.\\\",\\n        \\\"published_date\\\": \\\"2026-02-14\\\", \\\"relation\\\": \\\"supports\\\" },\\n      { \\\"supports_field\\\": \\\"tailwinds[0]\\\",\\n        \\\"source_url\\\": \\\"https://www.regjeringen.no/\\u2026/forskrift-utslippsrapportering/\\\",\\n        \\\"quote_verbatim\\\": \\\"Forskriften trer i kraft 1. juli 2026 og krever kontinuerlig rapportering av utslippsdata.\\\",\\n        \\\"published_date\\\": \\\"2026-02-14\\\", \\\"relation\\\": \\\"supports\\\" }\\n    ],\\n    \\\"gaps\\\": [\\n      { \\\"field\\\": \\\"size_bottom_up\\\", \\\"reason_code\\\": \\\"no_pricing_anchor\\\",\\n        \\\"note\\\": \\\"Buyer count IS established at 1,041 licensed sites (fiskeridir.no, 1 Jan 2026), but neither competitor publishes pricing and no tender document was retrieved. TAM not constructed rather than estimated from a guessed price.\\\" },\\n      { \\\"field\\\": \\\"size_top_down\\\", \\\"reason_code\\\": \\\"no_top_down_figure\\\", \\\"note\\\": \\\"\\\" },\\n      { \\\"field\\\": \\\"growth\\\", \\\"reason_code\\\": \\\"no_growth_figure\\\", \\\"note\\\": \\\"\\\" }\\n    ]\\n  }\\n}\\n\\nWhy: half the model was available and half was not, and the response says exactly\\nwhich half. The buyer count is deliberately NOT promoted into a TAM by assuming a\\nplausible price \\u2014 that assumed price would have become the load-bearing number in an\\ninvestment memo. The why-now is typed (`regulatory_shock`), dated, and tied to the\\nactual regulation, so it survives the \\\"how do you know?\\\" question. Note the verbatim\\nquote is kept in Norwegian, unedited and untranslated \\u2014 tidying it would remove the\\ndefence it exists to provide.\\n\\n--------------------------------------------------------------------------------\\nUNDESIRED EXAMPLE 1 \\u2014 every failure mode this agent exists to prevent\\n--------------------------------------------------------------------------------\\nInput: same documents as Desired Example 2 (Germany logistics \\u2014 incumbent revenue\\nfigure, one SEO listicle, no pricing page).\\n\\nOutput (WRONG \\u2014 do not do this):\\n{\\n  \\\"status\\\": { \\\"code\\\": \\\"success\\\", \\\"ok\\\": true, \\\"message\\\": \\\"\\\" },\\n  \\\"data\\\": {\\n    \\\"size_bottom_up\\\": {\\n      \\\"tam_low\\\": 2710000000, \\\"tam_high\\\": 2710000000, \\\"currency\\\": \\\"EUR\\\",\\n      \\\"buyer_count\\\": 65000, \\\"buyer_count_source_url\\\": null,\\n      \\\"arpu_low\\\": 3600, \\\"arpu_high\\\": 3600,\\n      \\\"arpu_basis\\\": \\\"Estimated typical SaaS pricing for this segment\\\",\\n      \\\"assumptions\\\": [\\\"Assumes 10% of the courier industry is addressable\\\"],\\n      \\\"gaps\\\": []\\n    },\\n    \\\"size_top_down\\\": {\\n      \\\"tam_low\\\": 18500000000, \\\"tam_high\\\": 18500000000, \\\"currency\\\": \\\"USD\\\",\\n      \\\"buyer_count\\\": null, \\\"buyer_count_source_url\\\": null,\\n      \\\"arpu_low\\\": null, \\\"arpu_high\\\": null, \\\"arpu_basis\\\": null,\\n      \\\"assumptions\\\": [], \\\"gaps\\\": []\\n    },\\n    \\\"growth\\\": { \\\"cagr_pct_low\\\": 21.4, \\\"cagr_pct_high\\\": 21.4, \\\"basis\\\": \\\"Industry reports\\\", \\\"window\\\": \\\"2025-2032\\\" },\\n    \\\"why_now\\\": { \\\"statement\\\": \\\"AI is transforming logistics\\\", \\\"catalyst_kind\\\": \\\"technology_step_function\\\", \\\"catalyst_artifact_url\\\": null, \\\"catalyst_date\\\": null },\\n    \\\"tailwinds\\\": [{ \\\"statement\\\": \\\"Strong growth in the delivery sector\\\" }],\\n    \\\"headwinds\\\": [],\\n    \\\"evidence\\\": [],\\n    \\\"gaps\\\": []\\n  }\\n}\\n\\nWhy this is wrong, line by line:\\n1. **`tam_low = tam_high = 2,710,000,000`** \\u2014 a point estimate wearing a range's\\n   clothing, derived as 10% of the incumbent courier industry. This is the error of\\n   omission committed on purpose: it sizes the industry being displaced.\\n2. **`buyer_count: 65000` with `buyer_count_source_url: null`** \\u2014 recalled from\\n   training data. No page, no sentence, unfalsifiable. This single field is how a\\n   fabricated number enters an investment memo.\\n3. **`arpu_basis: \\\"Estimated typical SaaS pricing\\\"`** \\u2014 an invention. The correct\\n   behaviour when no pricing document exists is to abstain from TAM entirely\\n   (Desired Example 3), not to supply a plausible price.\\n4. **`\\\"Assumes 10% of the courier industry is addressable\\\"`** \\u2014 the deck-standard 10%\\n   share assumption. Tech companies at IPO have typically attained 0.1%-2% of their\\n   addressable market. This assumption is not conservative, it is off by an order of\\n   magnitude, and it is doing all the work in the model.\\n5. **`size_top_down` filled from the SEO listicle**, unflagged, as though it\\n   corroborated the bottom-up figure. It corroborates nothing; it is a different\\n   fabricated number in a different currency.\\n6. **`cagr 21.4%` with `basis: \\\"Industry reports\\\"`** \\u2014 sitting exactly in the 15-25%\\n   band that generated report content clusters in, attributed to nothing nameable.\\n7. **`why_now`** is typed `technology_step_function` with a null artifact and null\\n   date. \\\"AI is transforming logistics\\\" is a sentence that could be written about any\\n   company in any year. It should have been null with `no_typed_catalyst`.\\n8. **`evidence: []` and `gaps: []`** \\u2014 the two most damning lines. Zero provenance and\\n   zero declared uncertainty, on a response in which literally every number was\\n   invented. The output is maximally confident and maximally wrong, and it would render\\n   in the memo indistinguishable from Desired Example 1.\\n\\nThe correct response to these documents is Desired Example 2: abstain, and write down\\nwhat you declined and why.\\n</examples>\\n\\n</prompt>\";\nconst SCHEMA={\"$schema\": \"https://json-schema.org/draft/2020-12/schema\", \"$id\": \"https://the-vc-brain.local/schemas/f04/market-sizer.output.json\", \"title\": \"market-sizer output\", \"description\": \"Output of the f04 market-sizer agent (gpt-5.6-sol). size_bottom_up, size_top_down, growth and why_now are written verbatim as claims.value records (design.md 3.2). Every numeric field requires a matching evidence[] row carrying source_url and a word-for-word quote_verbatim; a number without one must not be emitted at all (design.md 9). The agent emits no score, band, verdict, implied exit value, outlook label or trend adjective \\u2014 all of those are computed deterministically downstream (design.md 5, 6).\", \"type\": \"object\", \"additionalProperties\": false, \"required\": [\"status\", \"data\"], \"$defs\": {\"sizeRecord\": {\"type\": \"object\", \"additionalProperties\": false, \"required\": [\"tam_low\", \"tam_high\", \"currency\", \"buyer_count\", \"buyer_count_source_url\", \"arpu_low\", \"arpu_high\", \"arpu_basis\", \"assumptions\", \"gaps\"], \"description\": \"Shape of design.md 3.2 market.size_bottom_up / market.size_top_down claim values, field for field.\", \"properties\": {\"tam_low\": {\"type\": [\"number\", \"null\"], \"minimum\": 0, \"description\": \"Conservative end of the TAM range, in `currency` units (absolute, not millions). CONSUMER: vc_rule_check TAM band (design.md 6.1 \\u2014 applied to tam_low, NOT tam_high, because the generous end is what report-mill inflation attacks) and the venture-scale ceiling (design.md 6.2, tam_used = tam_low).\"}, \"tam_high\": {\"type\": [\"number\", \"null\"], \"minimum\": 0, \"description\": \"Generous end of the TAM range. CONSUMER: memo Market sizing section (feature 06) and the dashboard TAM range display (feature 09). Never a point estimate paired with tam_low: both endpoints must derive from real sourced anchors.\"}, \"currency\": {\"type\": [\"string\", \"null\"], \"pattern\": \"^[A-Z]{3}$\", \"description\": \"ISO 4217 of the source figures. Mixed-currency sources must be converted with the conversion stated in assumptions[], never silently mixed.\"}, \"buyer_count\": {\"type\": [\"number\", \"null\"], \"minimum\": 0, \"description\": \"Count of buyer_unit in geography, from a document that states it. CONSUMER: the AUTHORITATIVE buyer_concentration derivation in the validator (design.md 6.2): < 10000 -> concentrated, 10000-500000 -> mid_market, > 500000 -> long_tail. This overrides the market-categorizer's non-authoritative hint; disagreement sets missing_flags.concentration_revised = true. Must NEVER be an incumbent-industry revenue figure (design.md 6.4).\"}, \"buyer_count_source_url\": {\"type\": [\"string\", \"null\"], \"format\": \"uri\", \"description\": \"Exact URL of the page carrying the buyer_count figure. Non-null whenever buyer_count is non-null \\u2014 the validator drops numbers whose source does not resolve (design.md 9, REQ-004).\"}, \"arpu_low\": {\"type\": [\"number\", \"null\"], \"minimum\": 0, \"description\": \"Low end of annual revenue per buyer, from real pricing evidence.\"}, \"arpu_high\": {\"type\": [\"number\", \"null\"], \"minimum\": 0, \"description\": \"High end of annual revenue per buyer, from real pricing evidence.\"}, \"arpu_basis\": {\"type\": [\"string\", \"null\"], \"maxLength\": 500, \"description\": \"What the ARPU figure actually is, in plain language (e.g. 'published list price, Team tier, x12'). CONSUMER: memo Market sizing 'with stated assumptions' requirement (design.md 11 / feature 06).\"}, \"assumptions\": {\"type\": \"array\", \"items\": {\"type\": \"string\", \"maxLength\": 800}, \"description\": \"Load-bearing assumptions in plain language \\u2014 which slice of the buyer population is addressable, whether the price applies to all of it, what was excluded and why, and any disagreement between sources that was reported as a spread rather than reconciled. CONSUMER: the memo prints this list verbatim (design.md 11); the brief requires market sizing to carry stated assumptions.\"}, \"gaps\": {\"type\": \"array\", \"items\": {\"type\": \"string\", \"maxLength\": 500}, \"description\": \"Free-text description of what was missing within this size model specifically. Distinct from the top-level data.gaps[], which is the structured, reason-coded channel the validator maps onto missing_flags.\"}}}}, \"properties\": {\"status\": {\"type\": \"object\", \"additionalProperties\": false, \"required\": [\"code\", \"ok\", \"message\"], \"properties\": {\"code\": {\"type\": \"string\", \"enum\": [\"success\", \"abstained\", \"insufficient_input\", \"processing_error\"], \"description\": \"Finite set; the agent may not invent codes. 'abstained' is a COMPLETED job (design.md 9: abstention is explicitly permitted and produces a missing claim rather than a guess).\"}, \"ok\": {\"type\": \"boolean\", \"description\": \"true for both 'success' and 'abstained'; false for 'insufficient_input' and 'processing_error'. CONSUMER: the n8n IF node routing to the gap-claim writer vs the error branch (design.md 4).\"}, \"message\": {\"type\": \"string\", \"maxLength\": 400}}}, \"data\": {\"type\": \"object\", \"additionalProperties\": false, \"required\": [\"size_bottom_up\", \"size_top_down\", \"growth\", \"why_now\", \"tailwinds\", \"headwinds\", \"evidence\", \"gaps\"], \"properties\": {\"size_bottom_up\": {\"oneOf\": [{\"$ref\": \"#/$defs/sizeRecord\"}, {\"type\": \"null\"}], \"description\": \"PRIMARY construction: buyer_count x ARPU. CONSUMER: market.size_bottom_up claim (design.md 3.2). null = abstention, which yields TAM band UNKNOWN (design.md 6.0/6.1), never FAIL.\"}, \"size_top_down\": {\"oneOf\": [{\"$ref\": \"#/$defs/sizeRecord\"}, {\"type\": \"null\"}], \"description\": \"CROSS-CHECK ONLY, never the primary (design.md 3.2). CONSUMER: market.size_top_down claim; may set the TAM band only with missing_flags.top_down_only = true and the confidence cap <= 0.45 (design.md 6.1, 6.5).\"}, \"growth\": {\"oneOf\": [{\"type\": \"object\", \"additionalProperties\": false, \"required\": [\"cagr_pct_low\", \"cagr_pct_high\", \"basis\", \"window\"], \"properties\": {\"cagr_pct_low\": {\"type\": [\"number\", \"null\"], \"description\": \"Low end of the CAGR range, in percent (15.0 = 15%). CONSUMER: the CAGR band in vc_rule_check (design.md 6.1: PASS >= 15%, WATCH [5%,15%), FAIL < 5%, UNKNOWN when no growth figure was established).\"}, \"cagr_pct_high\": {\"type\": [\"number\", \"null\"], \"description\": \"High end of the CAGR range, in percent.\"}, \"basis\": {\"type\": [\"string\", \"null\"], \"maxLength\": 500, \"description\": \"What the figure measures and where it came from, in plain language, including an explicit note when the only available CAGR is report-mill-shaped (clustering in the 15-25% band). CONSUMER: memo (feature 06).\"}, \"window\": {\"type\": [\"string\", \"null\"], \"maxLength\": 60, \"description\": \"Period the CAGR covers, e.g. '2024-2030'.\"}}}, {\"type\": \"null\"}], \"description\": \"CONSUMER: market.growth claim (design.md 3.2).\"}, \"why_now\": {\"oneOf\": [{\"type\": \"object\", \"additionalProperties\": false, \"required\": [\"statement\", \"catalyst_kind\", \"catalyst_artifact_url\", \"catalyst_date\"], \"properties\": {\"statement\": {\"type\": \"string\", \"maxLength\": 600}, \"catalyst_kind\": {\"type\": \"string\", \"enum\": [\"technology_step_function\", \"regulatory_shock\", \"cost_curve\", \"behavior_shift\"], \"description\": \"REQUIRED typed enum (design.md 3.2). Untyped -> the whole why_now object is null and a gap is declared instead.\"}, \"catalyst_artifact_url\": {\"type\": \"string\", \"format\": \"uri\", \"description\": \"Concrete dated artifact \\u2014 a specific regulation, model/hardware release, published price change. Uncited -> why_now is null and written as missing instead (design.md 3.2).\"}, \"catalyst_date\": {\"type\": \"string\", \"pattern\": \"^\\\\d{4}-\\\\d{2}-\\\\d{2}$\"}}}, {\"type\": \"null\"}], \"description\": \"CONSUMER: market.why_now claim (design.md 3.2). Claim-only \\u2014 rendered in the memo (feature 06) and NOT an input to any design.md 6 formula. design.md 3.2 also specifies evidence_claim_ids[] on this claim value; that array is populated by the write node from the evidence rows this agent emits, not by the agent (it cannot know claim ids).\"}, \"tailwinds\": {\"type\": \"array\", \"maxItems\": 4, \"items\": {\"type\": \"object\", \"additionalProperties\": false, \"required\": [\"statement\"], \"properties\": {\"statement\": {\"type\": \"string\", \"maxLength\": 500}}}, \"description\": \"CONSUMER: one market.tailwind claim per item (design.md 3.2, value shape {statement}), item_key = sha256(statement) (design.md 3.5). Each item requires its own evidence[] row; unsourced items must not be emitted.\"}, \"headwinds\": {\"type\": \"array\", \"maxItems\": 4, \"items\": {\"type\": \"object\", \"additionalProperties\": false, \"required\": [\"statement\"], \"properties\": {\"statement\": {\"type\": \"string\", \"maxLength\": 500}}}, \"description\": \"CONSUMER: one market.headwind claim per item (design.md 3.2).\"}, \"evidence\": {\"type\": \"array\", \"description\": \"The provenance chain. CONSUMER: evidence rows (design.md 3.4/3.5). tier and strength are assigned by the validator from the deterministic domain map, never by this agent.\", \"items\": {\"type\": \"object\", \"additionalProperties\": false, \"required\": [\"supports_field\", \"source_url\", \"quote_verbatim\", \"published_date\", \"relation\"], \"properties\": {\"supports_field\": {\"type\": \"string\", \"description\": \"Dotted path to a field actually populated in data, e.g. 'size_bottom_up.buyer_count', 'growth.cagr_pct_low', 'why_now', 'tailwinds[0]'. CONSUMER: the write node uses it to attach the evidence row to the correct claim.\", \"pattern\": \"^(size_bottom_up|size_top_down)\\\\.(tam_low|tam_high|buyer_count|arpu_low|arpu_high)$|^growth\\\\.(cagr_pct_low|cagr_pct_high)$|^why_now$|^(tailwinds|headwinds)\\\\[\\\\d+\\\\]$\"}, \"source_url\": {\"type\": [\"string\", \"null\"], \"format\": \"uri\", \"description\": \"Exact URL of the page carrying the figure. null ONLY on a relation='context' row recording that a search was performed and returned nothing (design.md 3.5: tier='missing' rows use relation='context' and carry NULL url and NULL quote).\"}, \"quote_verbatim\": {\"type\": [\"string\", \"null\"], \"maxLength\": 1200, \"description\": \"The source's own sentence, WORD FOR WORD, unedited, untranslated, untidied. This is the RSK-003 verbatim layer against LLM re-centering of unusual claims (design.md 2, 3.2). null only on relation='context' rows.\"}, \"published_date\": {\"type\": [\"string\", \"null\"], \"pattern\": \"^\\\\d{4}-\\\\d{2}-\\\\d{2}$\", \"description\": \"From the document when present; null otherwise. Note: only topic='news' Tavily results carry published_date, so most rows here are null (design.md 3.5).\"}, \"relation\": {\"type\": \"string\", \"enum\": [\"supports\", \"contradicts\", \"context\"], \"description\": \"Matches the evidence table's relation column. 'contradicts' is how a disagreeing source is recorded \\u2014 a contradiction is data, not a flag, and it must never be smoothed into a mean (design.md 3.4 triangulate-don't-average, design.md 8). 'context' rows are EXCLUDED from the confidence evidence count (design.md 6.5).\"}}}}, \"gaps\": {\"type\": \"array\", \"description\": \"MANDATORY explicit gap declaration \\u2014 the deliberate inversion of company-research-agent's 'Never mention no information found' (design.md 9). CONSUMERS: *.gap claims with verification_status='missing' (design.md 3.2), scores.missing_flags (design.md 3.7), and missing_count in the confidence formula (design.md 6.5).\", \"items\": {\"type\": \"object\", \"additionalProperties\": false, \"required\": [\"field\", \"reason_code\"], \"properties\": {\"field\": {\"type\": \"string\", \"enum\": [\"size_bottom_up\", \"size_top_down\", \"growth\", \"why_now\", \"tailwinds\", \"headwinds\"]}, \"reason_code\": {\"type\": \"string\", \"enum\": [\"no_documents_retrieved\", \"no_category_established\", \"no_buyer_count_anchor\", \"no_pricing_anchor\", \"incumbent_anchored_tam_only\", \"no_top_down_figure\", \"no_growth_figure\", \"no_typed_catalyst\", \"all_sources_weak\", \"geography_mismatch\"], \"description\": \"Closed vocabulary so the validator maps gaps onto missing_flags deterministically. 'incumbent_anchored_tam_only' specifically sets missing_flags.incumbent_anchored_tam = true and forces the TAM band to UNKNOWN, never FAIL (design.md 6.4).\"}, \"note\": {\"type\": \"string\", \"maxLength\": 800, \"description\": \"Should name the figure that was declined, so a human can audit the abstention rather than wonder why the field is empty. Rendered in the memo's honest-omission section (feature 06).\"}}}}}}}, \"examples\": [{\"status\": {\"code\": \"success\", \"ok\": true, \"message\": \"\"}, \"data\": {\"size_bottom_up\": {\"tam_low\": 89332800, \"tam_high\": 221760000, \"currency\": \"USD\", \"buyer_count\": 4024, \"buyer_count_source_url\": \"https://www.fdic.gov/analysis/quarterly-banking-profile/\", \"arpu_low\": 22200, \"arpu_high\": 50400, \"arpu_basis\": \"Competitor published list price, annualised: Core $1,850/mo x 12; Enterprise $4,200/mo x 12\", \"assumptions\": [\"Buyer count sources disagree: FDIC states 4,024 (Mar 2026), ICBA states 'roughly 4,400'. Reported as a spread, not reconciled to a mean.\", \"ARPU anchored on a single competitor's list price; actual contract values are typically discounted and were not found in any document.\"], \"gaps\": [\"No source segments the addressable share of the buyer population.\"]}, \"size_top_down\": null, \"growth\": null, \"why_now\": null, \"tailwinds\": [], \"headwinds\": [], \"evidence\": [{\"supports_field\": \"size_bottom_up.buyer_count\", \"source_url\": \"https://www.fdic.gov/analysis/quarterly-banking-profile/\", \"quote_verbatim\": \"As of March 31, 2026, there were 4,024 FDIC-insured community banks.\", \"published_date\": \"2026-05-28\", \"relation\": \"supports\"}, {\"supports_field\": \"size_bottom_up.buyer_count\", \"source_url\": \"https://www.icba.org/about\", \"quote_verbatim\": \"The nation's roughly 4,400 community banks\\u2026\", \"published_date\": null, \"relation\": \"contradicts\"}, {\"supports_field\": \"size_bottom_up.arpu_low\", \"source_url\": \"https://closehq.com/pricing\", \"quote_verbatim\": \"Core plan: $1,850/month billed annually.\", \"published_date\": null, \"relation\": \"supports\"}], \"gaps\": [{\"field\": \"size_top_down\", \"reason_code\": \"no_top_down_figure\", \"note\": \"No non-weak document stated a market size for this category.\"}, {\"field\": \"growth\", \"reason_code\": \"no_growth_figure\", \"note\": \"\"}, {\"field\": \"why_now\", \"reason_code\": \"no_typed_catalyst\", \"note\": \"No dated artifact found behind the founder's 'AI makes this possible now' framing.\"}]}}, {\"status\": {\"code\": \"abstained\", \"ok\": true, \"message\": \"No admissible buyer-count anchor: the only quantitative anchor available was incumbent-industry revenue.\"}, \"data\": {\"size_bottom_up\": null, \"size_top_down\": null, \"growth\": null, \"why_now\": null, \"tailwinds\": [], \"headwinds\": [], \"evidence\": [{\"supports_field\": \"size_bottom_up.buyer_count\", \"source_url\": null, \"quote_verbatim\": null, \"published_date\": null, \"relation\": \"context\"}], \"gaps\": [{\"field\": \"size_bottom_up\", \"reason_code\": \"incumbent_anchored_tam_only\", \"note\": \"Only quantitative anchor found was 'Germany's courier, express and parcel industry generated EUR 27.1 billion in revenue in 2025' \\u2014 incumbent-industry revenue, not a count of independent restaurants. Deriving TAM from it would size the industry being displaced (error of omission). Declined.\"}, {\"field\": \"size_top_down\", \"reason_code\": \"all_sources_weak\", \"note\": \"Only market-size figure came from an SEO listicle with no methodology and a 21.4% CAGR sitting in the 15-25% band typical of generated report content. Not emitted.\"}]}}]};\nconst docs=[].concat(inp.curated.Q1||[],inp.curated.Q2||[]);\nconst ev=docs.map(d=>`[${(d.score||0).toFixed(2)}] ${d.url}\\nTITLE: ${d.title||''}\\n${(d.content||'').slice(0,900)}`).join('\\n\\n');\nconst user=`<company>\\nname: ${inp.company.name}\\none_liner: ${inp.company.one_liner||''}\\n`+\n `category_canonical: ${inp.category_canonical||''}\\nbuyer_unit: ${inp.buyer_unit||''}\\n`+\n `geography: ${inp.geography}\\n</company>\\n\\n<curated_evidence>\\n${ev||'(no documents retrieved)'}\\n</curated_evidence>`;\nconst r=await this.helpers.httpRequest({method:'POST',url:'https://api.openai.com/v1/chat/completions',\n headers:{Authorization:'Bearer '+$env.OPENAI_API_KEY,'Content-Type':'application/json'},\n body:{model:'gpt-5.6-sol',messages:[{role:'system',content:SYS},{role:'user',content:user}],\n   response_format:{type:'json_schema',json_schema:{name:'market_size',strict:false,schema:SCHEMA}}},json:true});\nreturn [{json:{...inp,sizer_raw:JSON.parse(r.choices[0].message.content)}}];\n"
   },
   "id": "size-market-bottom-up",
   "name": "Size market (bottom-up)",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    1000,
    0
   ]
  },
  {
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "\n// ===== inlined lib/f04/config.js (generated \u2014 edit the source, not this) =====\n// lib/f04/config.js\n//\n// Every tunable constant for feature 04 (market / idea_vs_market screening axes).\n// Authoritative source for every number below: docs/backlog/04-market-trend-competition/\n// design.md rev.3, sections cited inline. No constant is invented here that design.md\n// does not state -- where design.md names a source *class* without enumerating domains\n// (the documented/discovered/inferred allow-lists in DOMAIN_TIER_RULES below), the\n// concrete domain list is this file's operationalisation of that class and is called out\n// as such; it is additive-only and never the safety property under test (default-deny to\n// 'inferred' is unaffected by what is or isn't in these lists -- see provenance.js tierForDomain).\n//\n// Conventions (binding for lib/f04/):\n//   * This is the ONLY file allowed to hold a magic number/threshold/weight/domain list.\n//     scoring.js and provenance.js import everything they need from here -- no literal\n//     duplication. Shared by both (D1 in plan.md's decisions log: splitting scoring.js\n//     from provenance.js was necessary because they share no state; config.js is the one\n//     file both still depend on).\n//   * Money amounts are plain numbers in USD (not cents), matching design.md's $ notation.\n//   * Percentages that read as \"15%\" in design.md are stored as the number 15, not 0.15,\n//     except *share* fractions (buyer-capture %, e.g. 0.020) which design.md itself always\n//     writes as decimals -- kept as decimals here to match \u00a76.2 verbatim.\n\n'use strict';\n\n// ============================================================================\n// \u00a73.4 -- report-mill blocklist (passed to Tavily as exclude_domains, and\n// re-checked defensively inside curate()/tierForDomain() -- design.md \u00a73.4:\n// \"It is still deduplicated and is still subject to the blocklist.\")\n// ============================================================================\n\nconst REPORT_MILL_BLOCKLIST = Object.freeze([\n  'grandviewresearch.com',\n  'mordorintelligence.com',\n  'marketsandmarkets.com',\n  'precedenceresearch.com',\n  'alliedmarketresearch.com',\n  'fortunebusinessinsights.com',\n  'futuremarketinsights.com',\n  'technavio.com',\n  'imarcgroup.com',\n  'marketresearchfuture.com',\n  'verifiedmarketresearch.com',\n  'zionmarketresearch.com',\n  'expertmarketresearch.com',\n  'transparencymarketresearch.com',\n  'coherentmarketinsights.com',\n  'straitsresearch.com',\n  'globalmarketinsights.com',\n  'credenceresearch.com',\n  'businessresearchinsights.com',\n  'researchandmarkets.com',\n]);\n\n// ============================================================================\n// \u00a73.4 -- evidence tiering. `tier` (documented|discovered|inferred) and\n// `strength` (0.90/0.80/0.60/0.30) are looked up together per matched domain\n// class, because 'documented' itself carries TWO strengths depending on which\n// source class matched (design.md's own table splits it: government/patents at\n// 0.90, named-methodology analyst firms/top-tier press at 0.80).\n//\n// design.md enumerates source *classes*, not an exhaustive domain list, for the\n// documented/discovered rows (it enumerates the report-mill blocklist in full,\n// but only names representative companies for the other rows -- IBISWorld,\n// Euromonitor, Gartner/Forrester, FT/WSJ/Bloomberg/Reuters, GitHub, Product\n// Hunt, G2). The lists below encode exactly those named examples plus the\n// blocklist; nothing here changes the default-deny guarantee (\u00a73.4: \"any\n// domain not matching a rule above\" -> inferred, strength 0.30) -- that\n// guarantee is DEFAULT_DOMAIN_TIER/DEFAULT_DOMAIN_STRENGTH below, and holds\n// for every domain not explicitly listed in this file, blocklisted or not.\n// Rules are checked in array order in scoring.js; the sets below are disjoint\n// by construction so order does not matter in practice.\n// ============================================================================\n\nconst DOMAIN_TIER_RULES = Object.freeze([\n  {\n    // \"Government statistics, regulatory filings, industry-association data,\n    // peer-reviewed work, patents\" (\u00a73.4) -- represented by canonical\n    // government/international-body/peer-review/patent-office domains plus a\n    // blanket .gov suffix match (the class is inherently open-ended; .gov is\n    // the one unambiguous, enumerable signal for \"regulatory filing\").\n    tier: 'documented',\n    strength: 0.90,\n    suffixes: ['.gov'],\n    domains: [\n      'sec.gov', 'census.gov', 'uspto.gov', 'bls.gov', 'fda.gov',\n      'oecd.org', 'imf.org', 'worldbank.org', 'who.int', 'un.org', 'europa.eu',\n      'arxiv.org', 'nature.com', 'sciencedirect.com', 'ncbi.nlm.nih.gov', 'ieee.org',\n      'patents.google.com', 'wipo.int', 'epo.org',\n      // aha.org (American Hospital Association) and jamanetwork.com (JAMA) --\n      // added per team lead's live Tavily probe (2026-07-19): both surfaced\n      // as genuine buyer-count anchors on a real Q1 query. aha.org is\n      // industry-association data, jamanetwork.com is peer-reviewed work --\n      // both already-named \u00a73.4 source classes, not a new class.\n      'aha.org', 'jamanetwork.com',\n    ],\n  },\n  {\n    // \"Named-methodology analyst firms (IBISWorld, Euromonitor, Gartner/\n    // Forrester with disclosed methodology), FT/WSJ/Bloomberg/Reuters, vertical\n    // trade press\" (\u00a73.4) -- the named examples; \"vertical trade press\" has no\n    // enumerable member list in design.md and is intentionally left uncoded.\n    tier: 'documented',\n    strength: 0.80,\n    domains: [\n      'ibisworld.com', 'euromonitor.com', 'gartner.com', 'forrester.com',\n      'ft.com', 'wsj.com', 'bloomberg.com', 'reuters.com',\n    ],\n  },\n  {\n    // \"Company/competitor websites, product directories, GitHub, Product Hunt,\n    // G2\" (\u00a73.4). Company/competitor first-party sites are handled separately\n    // by curate()'s first-party exemption (matched against companies.domain at\n    // runtime, not a static list) -- only the named directories are listed here.\n    tier: 'discovered',\n    strength: 0.60,\n    domains: ['github.com', 'producthunt.com', 'g2.com'],\n  },\n  {\n    // \"Report mills, SEO listicles, Reddit/HN/X threads\" (\u00a73.4). The report\n    // mills are REPORT_MILL_BLOCKLIST above; Reddit/HN/X are the named forum\n    // examples. \"SEO listicles\" has no enumerable domain and is left uncoded.\n    tier: 'inferred',\n    strength: 0.30,\n    domains: [...REPORT_MILL_BLOCKLIST, 'reddit.com', 'news.ycombinator.com', 'twitter.com', 'x.com'],\n  },\n]);\n\n// \"Any domain not matching a rule above\" (\u00a73.4) -- the default-deny row. This\n// is the load-bearing safety property: a brand-new report mill nobody has\n// seen yet (design.md's own live-probe example, astuteanalytica.com) lands\n// here, not in 'discovered' or 'documented'.\nconst DEFAULT_DOMAIN_TIER = 'inferred';\nconst DEFAULT_DOMAIN_STRENGTH = 0.30;\n\n// ============================================================================\n// \u00a76.1 -- vc_rule_check, half-open intervals, applied to tam_low / cagr_pct_low.\n// ============================================================================\n\nconst TAM_BAND = Object.freeze({\n  PASS_MIN: 1_000_000_000,   // >= $1B -> PASS\n  WATCH_MIN: 500_000_000,    // [$500M, $1B) -> WATCH; below -> FAIL\n});\n\nconst CAGR_BAND = Object.freeze({\n  PASS_MIN: 15,               // >= 15% -> PASS\n  WATCH_MIN: 5,                // [5%, 15%) -> WATCH; below -> FAIL\n});\n\n// ============================================================================\n// \u00a76.2 -- venture-scale ceiling.\n// ============================================================================\n\nconst EXIT_MULTIPLE = 5;\n\n// buyer_concentration -> share_assumption (Pear VC's 5x relative spread,\n// calibrated to the 0.1%-2% observed IPO band per \u00a71/RSK-004 -- NOT the\n// deck-standard 10%/5%/2%).\nconst SHARE_BY_CONCENTRATION = Object.freeze({\n  concentrated: 0.020,\n  mid_market: 0.010,\n  long_tail: 0.004,\n});\n\n// buyer_count -> buyer_concentration, the AUTHORITATIVE derivation (\u00a76.2) --\n// the categorizer's pre-search guess is a query hint only and is overridden\n// by this whenever they disagree.\nconst BUYER_CONCENTRATION_THRESHOLDS = Object.freeze({\n  concentratedMax: 10_000,   // buyer_count < 10k -> concentrated\n  midMarketMax: 500_000,     // 10k <= buyer_count <= 500k -> mid_market; > 500k -> long_tail\n});\n\n// implied_exit = tam_used * share_assumption * exit_multiple, banded here.\n// These two numbers are what actually generate every FAIL/WATCH/PASS\n// breakpoint in \u00a76.2's tam_low table (300M/1B, 600M/2B, 1.5B/5B). design.md's\n// rev.3 \"factor\" column (0.10/0.05/0.02 = share_assumption * exit_multiple)\n// now agrees with this arithmetic -- an earlier draft had it at 0.50/0.25/0.10\n// (a flat 5x error), independently caught before this file was written; the\n// breakpoints below were never wrong, only that column was.\nconst IMPLIED_EXIT_BAND = Object.freeze({\n  PASS_MIN: 100_000_000,   // >= $100M -> PASS\n  WATCH_MIN: 30_000_000,   // [$30M, $100M) -> WATCH; below -> FAIL\n});\n\n// The two founder-standard assumptions \u00a76.2 says must ride alongside the\n// calibrated share in every venture_scale_check.scenarios[] (\"the investor\n// sees what the founder's own assumption would imply\").\nconst FOUNDER_STANDARD_SHARE_SCENARIOS = Object.freeze([0.10, 0.20]);\n\n// ============================================================================\n// \u00a75 -- momentum layer.\n// ============================================================================\n\nconst MOMENTUM_WINDOW = Object.freeze({\n  RECENT_DAYS: 90,             // recent_events: (T-90d, T]\n  PRIOR_WINDOW_END_DAYS: 180,  // prior_events:  (T-180d, T-90d]\n  THIN_SIGNAL_MIN_EVENTS: 3,   // recent+prior < 3 -> 'stable' + thin_category_signal, evaluated FIRST\n  RATIO_IMPROVING_MIN: 1.5,    // ratio >= 1.5 -> 'improving'\n  RATIO_DECLINING_MAX: 0.67,   // ratio <= 0.67 -> 'declining'; between -> 'stable'\n});\n\n// ============================================================================\n// \u00a76.3 -- market axis value = clamp(0, 100, base + cagr + momentum + ceiling).\n// Every row names its UNKNOWN/thin-signal state per \u00a76.0 -- absence contributes\n// exactly 0 (or, for the TAM base, the same value as WATCH), never a penalty.\n// ============================================================================\n\nconst MARKET_SCORE_TERMS = Object.freeze({\n  tamBand: Object.freeze({ PASS: 70, WATCH: 50, FAIL: 25, UNKNOWN: 50 }),\n  cagrBand: Object.freeze({ PASS: 10, WATCH: 0, FAIL: -10, UNKNOWN: 0 }),\n  // 'stable' also covers the thin-signal case (momentum() collapses thin-data\n  // into direction='stable' at source -- see \u00a75), so no separate UNKNOWN entry\n  // is needed here: it would be identical to 'stable'.\n  momentum: Object.freeze({ improving: 4, stable: 0, declining: -4 }),\n  ceiling: Object.freeze({ PASS: 0, WATCH: -5, FAIL: -15, UNKNOWN: 0 }),\n});\n\nconst MARKET_SCORE_RANGE = Object.freeze({ MIN: 0, MAX: 100 }); // clamp bounds; realised range is 0..84 (\u00a76.3)\n\n// market.outlook label bands (\u00a76.3) -- a claim field, not a scores column.\nconst MARKET_OUTLOOK_BAND = Object.freeze({\n  BULLISH_MIN: 70,\n  NEUTRAL_MIN: 40,\n  // < NEUTRAL_MIN -> 'bear'; tamBand === 'UNKNOWN' -> 'undetermined' (never 'neutral')\n});\n\n// ============================================================================\n// \u00a76.4 -- idea_vs_market axis value = clamp(0, 100, sum of terms below).\n// The moat bonus's +8-not-+10 case at threat_level=1 AND switching_cost=1 is\n// the documented nonlinearity that holds the reachable maximum at exactly 100\n// (50+20+15+8+7) instead of the raw sum's 102 -- do not collapse to a flat +10.\n// ============================================================================\n\nconst IDEA_VS_MARKET_BASE = 50;\n\nconst IDEA_VS_MARKET_TERMS = Object.freeze({\n  // keys are switching_cost values (1|2|3); `null` is the unknown/not-assessed state\n  switchingCost: Object.freeze({ 1: 20, 2: 0, 3: -15, null: 0 }),\n  // keys are threat_level values (1|2|3|4); `null` is the unknown/not-assessed state\n  threatLevel: Object.freeze({ 1: 15, 2: 8, 3: 0, 4: -20, null: 0 }),\n  moatBonus: 10,          // articulated accumulating advantage w/ public evidence, normal case\n  moatBonusAtMax: 8,      // same, but threat_level=1 AND switching_cost=1 (the +8 nonlinearity)\n  statusQuoDisplacedBonus: 7,\n  zeroCompetitorsNamedPenalty: -10,\n});\n\nconst IDEA_VS_MARKET_RANGE = Object.freeze({ MIN: 0, MAX: 100 }); // clamp bounds; realised range is 5..100 (\u00a76.4)\n\n// ============================================================================\n// \u00a76.6 -- founder axis value = clamp(0, 100, base + fmf + maturity), where\n// base = latest scores.value WHERE axis='founder_score' (feature 03's\n// persistent, person-scoped score -- an INPUT here, never copied/replaced).\n// No such row -> founderAxisScore() returns null, not 0: a person 03 has not\n// scored gets no founder axis row written at all.\n// ============================================================================\n\nconst FOUNDER_AXIS_TERMS = Object.freeze({\n  // founder-market fit (SIG-026): domain expertise vs. the resolved category.\n  // keys: 'direct' | 'adjacent'; `null` is \"not established\"\n  fmf: Object.freeze({ direct: 10, adjacent: 5, null: 0 }),\n  // competitor-knowledge maturity (SIG-024), reusing \u00a78's mismatch severity.\n  // keys: 'material' | 'moderate' | 'minor' (a real assessed reading of low\n  // severity) | 'no_mismatch_3plus_named' (no mismatch AND founder named >=3\n  // competitors); `null` is \"not assessable\" (no deck / no founder\n  // competition view) -- distinct from 'minor', both contribute 0 but for\n  // different reasons (\u00a76.0 vs. a genuine low-severity reading).\n  maturity: Object.freeze({ material: -10, moderate: -5, minor: 0, no_mismatch_3plus_named: 5, null: 0 }),\n});\n\nconst FOUNDER_AXIS_RANGE = Object.freeze({ MIN: 0, MAX: 100 });\n\n// ============================================================================\n// \u00a76.5 -- confidence formula + hard caps (order: caps first, \u00a77 penalty second).\n// ============================================================================\n\nconst CONFIDENCE_FORMULA = Object.freeze({\n  MISSING_COUNT_CAP: 5,\n  EVIDENCE_CT_CAP: 6,\n  MISSING_COUNT_STEP: 0.2,     // completeness = 1 - min(1, missing_count * 0.2)\n  EVIDENCE_WEIGHT: 0.55,       // confidence = evidence_ct/6 * 0.55 + completeness * 0.45\n  COMPLETENESS_WEIGHT: 0.45,\n});\n\nconst CONFIDENCE_CAPS = Object.freeze({\n  ZERO_EVIDENCE: 0.15,          // evidence_ct = 0\n  NO_DOCUMENTED_EVIDENCE: 0.40, // no documented-tier evidence behind the size claim\n  FEW_INDEPENDENT_DOMAINS: 0.55, // fewer than 2 independent registrable domains\n  TOP_DOWN_ONLY: 0.45,          // top-down-only sizing (\u00a76.1)\n});\n\n// \u00a77 underestimation guard: -0.15 penalty applied AFTER all \u00a76.5 hard caps,\n// floored at 0.1 (never at 0 -- a fired guard still leaves a nonzero reading).\nconst SHADOW_MARKET_GUARD = Object.freeze({\n  CONFIDENCE_PENALTY: 0.15,\n  CONFIDENCE_FLOOR: 0.1,\n});\n\n// ============================================================================\n// \u00a74 -- curator + Tavily budget.\n// ============================================================================\n\nconst CURATE = Object.freeze({\n  RELEVANCE_MIN: 0.4,   // score >= 0.4 gate; first-party docs bypass this gate only\n  TOP_N: 8,              // top-8 survivors per curated bucket\n});\n\nconst TAVILY_BUDGET = Object.freeze({\n  SEARCH_QUERIES_PER_CARD: 5,   // Q1-Q5, 1 credit each (basic)\n  EXTRACT_MAX_URLS: 20,          // single batched /extract call, urls[] <= 20\n  CREDIT_CAP_PER_CARD: 25,       // hard stop (config); expected cost is 9-14\n});\n\n\n\n// ===== inlined lib/f04/scoring.js (generated \u2014 edit the source, not this) =====\n// lib/f04/scoring.js\n//\n// Deterministic scoring core for feature 04 (market / idea_vs_market / founder\n// screening axes). Pure functions only -- no I/O, no n8n imports, no network.\n// This is the module the plan calls \"the deterministic scoring core built\n// first\": every number is unit-tested here before it is pasted verbatim into\n// an n8n Code node (docs/backlog/04-market-trend-competition/plan.md,\n// \"Guiding decision\").\n//\n// Split from provenance.js (plan.md rev.2, Decision D1): this file owns the\n// score formulas and shares no state with domain-tiering/hashing/curation.\n//\n// Authoritative source for every formula: docs/backlog/04-market-trend-competition/\n// design.md rev.3 (+ \u00a76.6 scope addition), sections cited inline next to each\n// function. All tunable numbers live in ./config.js -- nothing here hardcodes\n// a threshold, weight or domain list.\n\n'use strict';\n\n\n\n\n\n// ============================================================================\n// Small shared helpers\n// ============================================================================\n\nfunction clamp(min, max, value) {\n  return Math.min(max, Math.max(min, value));\n}\n\nfunction isFiniteNumber(value) {\n  return typeof value === 'number' && Number.isFinite(value);\n}\n\n// Looks up a term value in a `{1: x, 2: y, null: z}`-shaped table (\u00a76.4/\u00a76.6\n// -style per-state score tables). `key === null || key === undefined` maps to\n// the table's `null` entry (the unknown/not-assessed state); any other key\n// not present in the table is a programming error, not a silent 0 -- it\n// throws, so a typo'd state string fails loudly instead of quietly scoring\n// as unknown.\nfunction scoreTermFor(table, key, label) {\n  if (key === null || key === undefined) return table.null;\n  if (!Object.prototype.hasOwnProperty.call(table, key)) {\n    throw new Error(`scoring.js: unrecognized ${label} state: ${JSON.stringify(key)}`);\n  }\n  return table[key];\n}\n\n// ============================================================================\n// \u00a76.1 -- vc_rule_check (half-open intervals, applied to tam_low / cagr_pct_low)\n// ============================================================================\n\nfunction tamBand(tamLow) {\n  if (!isFiniteNumber(tamLow)) return 'UNKNOWN';\n  if (tamLow >= TAM_BAND.PASS_MIN) return 'PASS';\n  if (tamLow >= TAM_BAND.WATCH_MIN) return 'WATCH';\n  return 'FAIL';\n}\n\nfunction cagrBand(cagrPct) {\n  if (!isFiniteNumber(cagrPct)) return 'UNKNOWN';\n  if (cagrPct >= CAGR_BAND.PASS_MIN) return 'PASS';\n  if (cagrPct >= CAGR_BAND.WATCH_MIN) return 'WATCH';\n  return 'FAIL';\n}\n\n// ============================================================================\n// \u00a76.2 -- venture-scale ceiling\n// ============================================================================\n\n// buyer_count -> buyer_concentration. THE authoritative derivation -- the\n// market-categorizer's pre-search guess is a query hint only (\u00a76.2 CR-4) and\n// is overridden by this whenever the two disagree.\nfunction deriveConcentration(buyerCount) {\n  if (!isFiniteNumber(buyerCount) || buyerCount < 0) return 'unknown';\n  if (buyerCount < BUYER_CONCENTRATION_THRESHOLDS.concentratedMax) return 'concentrated';\n  if (buyerCount <= BUYER_CONCENTRATION_THRESHOLDS.midMarketMax) return 'mid_market';\n  return 'long_tail';\n}\n\nfunction impliedExitBand(impliedExit) {\n  if (!isFiniteNumber(impliedExit)) return 'UNKNOWN';\n  if (impliedExit >= IMPLIED_EXIT_BAND.PASS_MIN) return 'PASS';\n  if (impliedExit >= IMPLIED_EXIT_BAND.WATCH_MIN) return 'WATCH';\n  return 'FAIL';\n}\n\n// implied_exit = tam_used * share_assumption * exit_multiple, banded against\n// IMPLIED_EXIT_BAND. This is \u00a76.2's central claim: identical TAM, different\n// reachability depending on buyer_concentration -- e.g. at tam_low=$1B,\n// concentrated coincides with \u00a76.1's own PASS gate while long_tail reads\n// ceiling FAIL ($20M implied exit) on the SAME $1B market. Both readings are\n// deliberate, not a bug (design.md \u00a76.2).\nfunction ventureScaleCheck(tamLow, concentration) {\n  const tamKnown = isFiniteNumber(tamLow);\n  const concentrationKnown = Object.prototype.hasOwnProperty.call(SHARE_BY_CONCENTRATION, concentration);\n\n  // The two founder-standard comparison scenarios (\u00a76.2: \"the investor sees\n  // what the founder's own assumption would imply\") are independent of\n  // buyer_concentration, so they are computed whenever tam_low is known --\n  // even when concentration itself is not, which is exactly when a reader\n  // most needs a sanity-check reference point.\n  const scenarios = [];\n  if (tamKnown) {\n    for (const share of FOUNDER_STANDARD_SHARE_SCENARIOS) {\n      scenarios.push({\n        label: `founder_${Math.round(share * 100)}pct`,\n        share,\n        implied_exit: tamLow * share * EXIT_MULTIPLE,\n      });\n    }\n  }\n\n  if (!tamKnown || !concentrationKnown) {\n    return {\n      status: 'UNKNOWN',\n      tam_used: tamKnown ? tamLow : null,\n      share_assumption: null,\n      share_rationale: null,\n      exit_multiple: EXIT_MULTIPLE,\n      implied_exit_value: null,\n      scenarios,\n      rationale: !tamKnown\n        ? 'no TAM established -- venture-scale ceiling not computed (\u00a76.2)'\n        : 'buyer_concentration not established -- venture-scale ceiling not computed (\u00a76.2)',\n    };\n  }\n\n  const share = SHARE_BY_CONCENTRATION[concentration];\n  const impliedExit = tamLow * share * EXIT_MULTIPLE;\n  const status = impliedExitBand(impliedExit);\n\n  scenarios.unshift({ label: 'share_assumption', share, implied_exit: impliedExit });\n\n  return {\n    status,\n    tam_used: tamLow,\n    share_assumption: share,\n    share_rationale: `${concentration} buyer base -> calibrated share ${(share * 100).toFixed(1)}% (\u00a76.2)`,\n    exit_multiple: EXIT_MULTIPLE,\n    implied_exit_value: impliedExit,\n    scenarios,\n    rationale: `implied_exit = tam_low(${tamLow}) x share(${share}) x exit_multiple(${EXIT_MULTIPLE}) = ${impliedExit}`,\n  };\n}\n\n// ============================================================================\n// \u00a77 -- underestimation guard condition (not itself a \u00a76 scoring term; feeds\n// the -0.15 confidence() penalty below). Kept as its own pure function because\n// this exact three-condition rule is the one design.md calls out as needing a\n// strict evaluation order match -- see the caller contract in confidence().\n// ============================================================================\n\nfunction shadowMarketGuard({ ventureScaleStatus, statusQuoIdentified, switchingCost }) {\n  // A *measured* FAIL only -- UNKNOWN never fires this (\u00a76.2: \"UNKNOWN never\n  // triggers \u00a77 either -- a shadow-market hypothesis written on an absent TAM\n  // would be fabrication\"). WATCH never fires it either (e.g. $400M\n  // concentrated: ceiling WATCH, \u00a76.1 FAIL -- small but honestly reachable,\n  // not mispriced by our own measurement).\n  return ventureScaleStatus === 'FAIL' && statusQuoIdentified === true && switchingCost === 1;\n}\n\n// ============================================================================\n// \u00a75 -- momentum layer\n// ============================================================================\n\nconst RFC1123_RE =\n  /^(?:Mon|Tue|Wed|Thu|Fri|Sat|Sun), (\\d{2}) (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) (\\d{4}) (\\d{2}):(\\d{2}):(\\d{2}) GMT$/;\n\nconst RFC1123_MONTHS = Object.freeze({\n  Jan: 0, Feb: 1, Mar: 2, Apr: 3, May: 4, Jun: 5,\n  Jul: 6, Aug: 7, Sep: 8, Oct: 9, Nov: 10, Dec: 11,\n});\n\n// Parses Tavily's actual `results[].published_date` format, verified live\n// (\u00a75): \"Fri, 26 Jun 2026 06:06:36 GMT\" -- RFC 1123, NOT ISO 8601. Anything\n// that doesn't match this exact shape (including a well-formed ISO date, or\n// no value at all) returns null, i.e. undated -- never `new Date()` / now().\nfunction parseRfc1123Date(value) {\n  if (typeof value !== 'string') return null;\n  const m = RFC1123_RE.exec(value.trim());\n  if (!m) return null;\n  const [, dd, mon, yyyy, hh, mi, ss] = m;\n  const ms = Date.UTC(Number(yyyy), RFC1123_MONTHS[mon], Number(dd), Number(hh), Number(mi), Number(ss));\n  if (Number.isNaN(ms)) return null;\n  return new Date(ms);\n}\n\n// momentum(newsResults, endDate) -- \u00a75. `endDate` is the pinned run end_date\n// (T), NEVER now(), so a re-run of the demo reproduces the same trend. Rule 1\n// (thin-signal) is evaluated FIRST and short-circuits rule 2, per design.md's\n// explicit ordering note.\n//\n// `undatedMajority` on the return value does NOT change `direction` here --\n// design.md is explicit that the computed direction is still recorded in the\n// market.trend claim. It is marketScore()'s job to force the \u00a76.3 TERM to 0\n// when undatedMajority is true (see the `momentumUndatedMajority` parameter\n// below) -- keeping that override at the scoring boundary, not inside\n// momentum() itself, is what lets the claim show the honest computed\n// direction while the axis VALUE stays untouched by absent metadata (\u00a76.0).\nfunction momentum(newsResults, endDate) {\n  const t = endDate instanceof Date ? endDate : new Date(endDate);\n  if (Number.isNaN(t.getTime())) {\n    throw new Error('scoring.js: momentum() requires a valid pinned endDate (the run end_date)');\n  }\n\n  const dayMs = 24 * 60 * 60 * 1000;\n  const recentStart = new Date(t.getTime() - MOMENTUM_WINDOW.RECENT_DAYS * dayMs); // exclusive lower bound\n  const priorStart = new Date(t.getTime() - MOMENTUM_WINDOW.PRIOR_WINDOW_END_DAYS * dayMs); // exclusive lower bound\n  const priorEnd = recentStart; // (T-90d), inclusive upper bound for prior -- no gap, no overlap with recent\n\n  let recent = 0;\n  let prior = 0;\n  let undated = 0;\n\n  for (const result of newsResults || []) {\n    const raw = result && result.published_date;\n    const parsed = raw ? parseRfc1123Date(raw) : null;\n    if (!parsed) {\n      undated += 1;\n      continue;\n    }\n    const ms = parsed.getTime();\n    if (ms > recentStart.getTime() && ms <= t.getTime()) {\n      recent += 1;\n    } else if (ms > priorStart.getTime() && ms <= priorEnd.getTime()) {\n      prior += 1;\n    }\n    // else: outside the 180-day window entirely -- not counted in either\n    // bucket, and (per \u00a75) not counted as undated either.\n  }\n\n  const ratio = recent / Math.max(prior, 1);\n\n  let direction;\n  let thinSignal = false;\n  if (recent + prior < MOMENTUM_WINDOW.THIN_SIGNAL_MIN_EVENTS) {\n    // Rule 1, evaluated first: thin data reads 'stable', regardless of ratio.\n    direction = 'stable';\n    thinSignal = true;\n  } else if (ratio >= MOMENTUM_WINDOW.RATIO_IMPROVING_MIN) {\n    direction = 'improving';\n  } else if (ratio > MOMENTUM_WINDOW.RATIO_DECLINING_MAX) {\n    direction = 'stable';\n  } else {\n    direction = 'declining';\n  }\n\n  return {\n    direction,\n    recent,\n    prior,\n    undated,\n    ratio,\n    thinSignal,\n    undatedMajority: undated > recent + prior,\n    windowDays: MOMENTUM_WINDOW.PRIOR_WINDOW_END_DAYS,\n  };\n}\n\n// ============================================================================\n// \u00a76.3 -- market axis value\n// ============================================================================\n\n// marketScore({tamBand, cagrBand, momentum, momentumUndatedMajority, ceiling})\n//   `momentum` is the direction string ('improving'|'stable'|'declining').\n//   `momentumUndatedMajority` (\u00a75, new in this revision): when true, the\n//   momentum TERM is forced to 0 regardless of `momentum`'s direction -- a\n//   direction computed from a minority of dated results must not move the\n//   axis value (\u00a76.0), even though the honest direction is still what gets\n//   recorded in the market.trend claim by the caller.\nfunction marketScore({ tamBand: tamBandState, cagrBand: cagrBandState, momentum: momentumState, momentumUndatedMajority = false, ceiling }) {\n  const base = scoreTermFor(MARKET_SCORE_TERMS.tamBand, tamBandState, 'tamBand');\n  const cagr = scoreTermFor(MARKET_SCORE_TERMS.cagrBand, cagrBandState, 'cagrBand');\n  const mom = momentumUndatedMajority ? 0 : scoreTermFor(MARKET_SCORE_TERMS.momentum, momentumState, 'momentum');\n  const ceil = scoreTermFor(MARKET_SCORE_TERMS.ceiling, ceiling, 'ceiling');\n  return clamp(MARKET_SCORE_RANGE.MIN, MARKET_SCORE_RANGE.MAX, base + cagr + mom + ceil);\n}\n\n// market.outlook label (\u00a76.3) -- a claim field, not a scores column. UNKNOWN\n// TAM renders 'undetermined', never 'neutral', even though an unresearched\n// market's raw value (50) falls in the 'neutral' band -- an unresearched\n// market must never render as a confident-looking label.\nfunction outlook(marketScoreValue, tamBandState) {\n  if (tamBandState === 'UNKNOWN') return 'undetermined';\n  if (marketScoreValue >= MARKET_OUTLOOK_BAND.BULLISH_MIN) return 'bullish';\n  if (marketScoreValue >= MARKET_OUTLOOK_BAND.NEUTRAL_MIN) return 'neutral';\n  return 'bear';\n}\n\n// ============================================================================\n// \u00a76.4 -- idea_vs_market axis value\n// ============================================================================\n\nfunction ideaVsMarketScore({ switchingCost = null, threatLevel = null, moat = false, statusQuo = false, zeroCompetitorsNamed = false } = {}) {\n  const switchingTerm = scoreTermFor(IDEA_VS_MARKET_TERMS.switchingCost, switchingCost, 'switchingCost');\n  const threatTerm = scoreTermFor(IDEA_VS_MARKET_TERMS.threatLevel, threatLevel, 'threatLevel');\n\n  const moatPresent = moat === true;\n  // The documented nonlinearity (\u00a76.4): +8, not +10, exactly when\n  // threat_level=1 AND switching_cost=1 -- this is what holds the reachable\n  // maximum at 100 (50+20+15+8+7) instead of the raw sum's 102. Do not\n  // \"simplify\" this back to a flat +10.\n  const atNonlinearCap = moatPresent && threatLevel === 1 && switchingCost === 1;\n  const moatTerm = moatPresent\n    ? (atNonlinearCap ? IDEA_VS_MARKET_TERMS.moatBonusAtMax : IDEA_VS_MARKET_TERMS.moatBonus)\n    : 0;\n\n  const statusQuoTerm = statusQuo === true ? IDEA_VS_MARKET_TERMS.statusQuoDisplacedBonus : 0;\n\n  // zeroCompetitorsNamed: true = the -10 term fires; false OR null (no deck /\n  // no founder competition view -- \"not assessable\") both contribute 0.\n  const zeroCompetitorsTerm = zeroCompetitorsNamed === true ? IDEA_VS_MARKET_TERMS.zeroCompetitorsNamedPenalty : 0;\n\n  const sum = IDEA_VS_MARKET_BASE + switchingTerm + threatTerm + moatTerm + statusQuoTerm + zeroCompetitorsTerm;\n  return clamp(IDEA_VS_MARKET_RANGE.MIN, IDEA_VS_MARKET_RANGE.MAX, sum);\n}\n\n// ============================================================================\n// \u00a76.6 -- founder axis value (scope addition, cross-terminal from feature 03)\n// ============================================================================\n\n// founderAxisScore({founderScore, fmf, maturity}) -> value, or `null` when\n// founderScore itself is absent. This is the one term in the whole module\n// that is NOT \u00a76.0's \"unknown -> 0\" shape: a missing persistent founder_score\n// means NO axis row is written at all, never a zero founder axis (\u00a76.6 --\n// \"feature 04 must never manufacture a founder axis for a person 03 has not\n// scored\"). fmf and maturity DO follow \u00a76.0 (their unknown states are 0).\nfunction founderAxisScore({ founderScore = null, fmf = null, maturity = null } = {}) {\n  if (!isFiniteNumber(founderScore)) return null;\n  const fmfTerm = scoreTermFor(FOUNDER_AXIS_TERMS.fmf, fmf, 'fmf');\n  const maturityTerm = scoreTermFor(FOUNDER_AXIS_TERMS.maturity, maturity, 'maturity');\n  return clamp(FOUNDER_AXIS_RANGE.MIN, FOUNDER_AXIS_RANGE.MAX, founderScore + fmfTerm + maturityTerm);\n}\n\n// ============================================================================\n// \u00a76.5 -- confidence (+ \u00a77 penalty, applied last)\n// ============================================================================\n\n// confidence({ missingCount, evidenceCt, caps, shadowMarketPenalty })\n//   caps.noDocumentedTierEvidence   -- no documented-tier evidence behind the size claim\n//   caps.fewerThanTwoIndependentDomains\n//   caps.topDownOnly\n// The evidence_ct=0 cap is derived from evidenceCt itself (not part of\n// `caps`) since it is fully determined by the other required argument.\n//\n// Order (\u00a76.5 + \u00a77, binding): raw formula -> all hard caps (order among caps\n// does not matter, each is an independent min()) -> \u00a77's -0.15 penalty last,\n// floored at 0.1. Capped-then-penalised can only go lower; the reverse order\n// would let a cap silently restore confidence the guard just removed.\nfunction confidence({ missingCount = 0, evidenceCt = 0, caps = {}, shadowMarketPenalty = false } = {}) {\n  const cappedMissing = Math.min(Math.max(0, missingCount), CONFIDENCE_FORMULA.MISSING_COUNT_CAP);\n  const cappedEvidence = Math.min(Math.max(0, evidenceCt), CONFIDENCE_FORMULA.EVIDENCE_CT_CAP);\n\n  const completeness = 1 - Math.min(1, cappedMissing * CONFIDENCE_FORMULA.MISSING_COUNT_STEP);\n  let value =\n    (cappedEvidence / CONFIDENCE_FORMULA.EVIDENCE_CT_CAP) * CONFIDENCE_FORMULA.EVIDENCE_WEIGHT +\n    completeness * CONFIDENCE_FORMULA.COMPLETENESS_WEIGHT;\n\n  if (evidenceCt === 0) value = Math.min(value, CONFIDENCE_CAPS.ZERO_EVIDENCE);\n  if (caps.noDocumentedTierEvidence) value = Math.min(value, CONFIDENCE_CAPS.NO_DOCUMENTED_EVIDENCE);\n  if (caps.fewerThanTwoIndependentDomains) value = Math.min(value, CONFIDENCE_CAPS.FEW_INDEPENDENT_DOMAINS);\n  if (caps.topDownOnly) value = Math.min(value, CONFIDENCE_CAPS.TOP_DOWN_ONLY);\n\n  if (shadowMarketPenalty) {\n    value = Math.max(SHADOW_MARKET_GUARD.CONFIDENCE_FLOOR, value - SHADOW_MARKET_GUARD.CONFIDENCE_PENALTY);\n  }\n\n  return clamp(0, 1, value);\n}\n\n\n\n// ===== inlined lib/f04/provenance.js (generated \u2014 edit the source, not this) =====\n// lib/f04/provenance.js\n//\n// Provenance/evidence-tiering core for feature 04 -- everything the n8n write\n// sub-workflow (`f04-db-write`, plan.md C0) needs to turn search results into\n// hashed, tiered, deduplicated rows. Split out of scoring.js (plan.md rev.2,\n// Decision D1) because it shares no state with the formulas: `tierForDomain`,\n// `independentDomainCount`/`independentSourceCount`, `contentHash.*` and\n// `curate` never see a score term, and the formulas never see a URL. Pure\n// functions only -- no I/O, no n8n imports, no network.\n//\n// Authoritative source for every rule: docs/backlog/04-market-trend-competition/\n// design.md rev.3, sections cited inline. All tunable numbers live in\n// ./config.js.\n\n'use strict';\n\nconst crypto = require('crypto');\n\n\n\n\n// ============================================================================\n// Domain helpers\n// ============================================================================\n\n// Full hostname, lowercased, leading \"www.\" stripped. This is the form\n// DOMAIN_TIER_RULES and REPORT_MILL_BLOCKLIST are matched against (their\n// entries can themselves be multi-label, e.g. \"ncbi.nlm.nih.gov\" or\n// \"patents.google.com\" -- collapsing to an eTLD+1 here would break exact\n// matches against those entries). See independenceDomainKey() below for the\n// separate, eTLD+1-aware collapse used for independence counting.\nfunction registrableDomain(url) {\n  try {\n    let host = new URL(url).hostname.toLowerCase();\n    if (host.startsWith('www.')) host = host.slice(4);\n    return host || null;\n  } catch {\n    return null;\n  }\n}\n\nfunction matchDomainRule(url) {\n  const host = registrableDomain(url);\n  if (!host) return null;\n  for (const rule of DOMAIN_TIER_RULES) {\n    if (rule.suffixes && rule.suffixes.some((suffix) => host === suffix.slice(1) || host.endsWith(suffix))) {\n      return rule;\n    }\n    if (rule.domains && rule.domains.some((domain) => host === domain || host.endsWith(`.${domain}`))) {\n      return rule;\n    }\n  }\n  return null;\n}\n\n// tierForDomain(url) -> 'documented' | 'discovered' | 'inferred'. Default-deny\n// (\u00a73.4): any domain matching no rule -- allow-listed or not, seen before or\n// not -- is 'inferred'. This is the guarantee that makes a brand-new,\n// never-seen report mill fail safe without needing to be on the blocklist\n// (design.md's own live-probe example: astuteanalytica.com, relevance 0.92,\n// not on the blocklist, still lands here).\nfunction tierForDomain(url) {\n  const rule = matchDomainRule(url);\n  return rule ? rule.tier : DEFAULT_DOMAIN_TIER;\n}\n\n// evidence.strength for a given URL (\u00a73.4's table has TWO strengths inside\n// the 'documented' tier -- 0.90 for government/patents, 0.80 for named\n// analyst firms/press -- so this cannot be derived from tierForDomain()'s\n// bare tier string alone).\nfunction evidenceStrengthForDomain(url) {\n  const rule = matchDomainRule(url);\n  return rule ? rule.strength : DEFAULT_DOMAIN_STRENGTH;\n}\n\nfunction isBlocklisted(url) {\n  const host = registrableDomain(url);\n  if (!host) return false;\n  return config.REPORT_MILL_BLOCKLIST.some((domain) => host === domain || host.endsWith(`.${domain}`));\n}\n\n// ============================================================================\n// \u00a73.4 rule 2 -- \"independence is counted by distinct registrable domain, not\n// by citation count.\" This needs a real (if small) public-suffix awareness:\n// \"shop.example.co.uk\" and \"blog.example.co.uk\" are the SAME registrable\n// domain (example.co.uk), not two, and a naive \"last two labels\" rule would\n// wrongly split them at \"co.uk\". The list below covers the common two-label\n// public suffixes that plausibly appear in market/competitor research; it is\n// deliberately NOT the same lookup as matchDomainRule() above, which needs\n// full-hostname matching against multi-label allow-list entries instead.\n// ============================================================================\n\nconst TWO_LABEL_PUBLIC_SUFFIXES = Object.freeze([\n  'co.uk', 'org.uk', 'ac.uk', 'gov.uk', 'ltd.uk', 'plc.uk',\n  'com.au', 'net.au', 'org.au',\n  'co.nz', 'co.za', 'co.in', 'co.jp', 'co.kr', 'com.br', 'com.mx', 'com.cn',\n]);\n\nfunction independenceDomainKey(url) {\n  const host = registrableDomain(url);\n  if (!host) return null;\n  const labels = host.split('.');\n  if (labels.length <= 2) return host;\n  const lastTwo = labels.slice(-2).join('.');\n  if (TWO_LABEL_PUBLIC_SUFFIXES.includes(lastTwo)) {\n    return labels.slice(-3).join('.');\n  }\n  return lastTwo;\n}\n\n// independentDomainCount(urls) -- \u00a73.4 rule 2's direct implementation: \"five\n// citations do not mean five independent sources.\" Two URLs on the same\n// registrable domain (whether identical hosts, a bare/www pair, or two\n// different subdomains) count once. Pure and tier-agnostic by design: this\n// function only ever receives URLs, never evidence tier/strength, so\n// \"independence\" here is strictly about distinct sources, not about how\n// strong any one of them is -- that is \u00a73.4 rule 1's job (the all-inferred\n// confidence cap), enforced separately in the validator, not here.\nfunction independentDomainCount(urls) {\n  const keys = new Set();\n  for (const url of urls || []) {\n    const key = independenceDomainKey(url);\n    if (key) keys.add(key);\n  }\n  return keys.size;\n}\n\n// independentSourceCount(urlsWithTiers) -- \u00a73.4 rule 2, corrected: the\n// original rule conflated two mechanisms design.md now separates.\n//\n//   2a. distinct registrable domain (documented/discovered tiers): a source\n//       cited via several URLs/subdomains is one source. independentDomainCount\n//       above is this half exactly, and stays URL-only/tier-agnostic.\n//   2b. tier collapse (inferred tier): report mills recycle each other, so\n//       two DIFFERENT mills agreeing is one number laundered twice, not two\n//       confirmations -- this needs tier data, which independentDomainCount\n//       deliberately does not have.\n//\n// `urlsWithTiers`: array of `{url, tier}` (tier: 'documented'|'discovered'|\n// 'inferred'|'missing', matching evidence.tier's vocabulary). 'missing' rows\n// carry no real URL per \u00a73.5 and contribute nothing here, same as an\n// unrecognized/absent tier.\n//\n//   count = |distinct registrable domains among tiers {documented, discovered}|\n//         + (1 if any inferred-tier source is present, else 0)\n//\n// Reuses registrableDomain() (via independenceDomainKey()'s eTLD+1-aware\n// collapse, for the same .co.uk/subdomain reasons as independentDomainCount).\nfunction independentSourceCount(urlsWithTiers) {\n  const strongDomains = new Set();\n  let hasInferred = false;\n\n  for (const item of urlsWithTiers || []) {\n    if (!item || !item.url) continue;\n    if (item.tier === 'documented' || item.tier === 'discovered') {\n      const key = independenceDomainKey(item.url);\n      if (key) strongDomains.add(key);\n    } else if (item.tier === 'inferred') {\n      hasInferred = true;\n    }\n    // 'missing' (or any other/absent tier) contributes nothing.\n  }\n\n  return strongDomains.size + (hasInferred ? 1 : 0);\n}\n\n// ============================================================================\n// \u00a73.5 -- content-hash recipes (idempotency on append-only, NOT NULL UNIQUE\n// content_hash columns).\n//\n// design.md writes each recipe as `sha256(a \u2016 b \u2016 c)` -- concatenation, with\n// no delimiter specified between fields. A delimiter is required here or\n// \"ab\"+\"c\" and \"a\"+\"bc\" collide; NUL ( ) is used because it is\n// vanishingly unlikely to appear in any of the source fields (URLs, slugs,\n// uuids, ISO timestamps). This is an implementation detail design.md leaves\n// unspecified, not a deviation from the recipe's field list or order.\n// ============================================================================\n\nconst HASH_FIELD_DELIMITER = ' ';\n\nfunction sha256Hex(input) {\n  return crypto.createHash('sha256').update(input, 'utf8').digest('hex');\n}\n\nfunction hashFields(...parts) {\n  return sha256Hex(parts.map((part) => (part === null || part === undefined ? '' : String(part))).join(HASH_FIELD_DELIMITER));\n}\n\nconst contentHash = {\n  // raw_signals: sha256(source \u2016 source_url \u2016 query \u2016 observed_at). Contains\n  // NO ai_run_id and NO \"now\" component -- two runs with the same pinned\n  // end_date (and hence the same observed_at fallback, \u00a73.5) produce the\n  // IDENTICAL hash. That is what makes \"select-by-hash first, insert only if\n  // absent, reuse the found id\" work on a re-run; if this varied per run the\n  // provenance chain (evidence.raw_signal_id) would break on the demo re-run.\n  rawSignal({ source, source_url, query, observed_at }) {\n    return hashFields(source, source_url, query, observed_at);\n  },\n  // claims: sha256(card_id \u2016 topic \u2016 ai_run_id \u2016 item_key) -- item_key is what\n  // keeps N-rows-per-run topics (competitors, tailwinds/headwinds) from\n  // colliding; ai_run_id is what keeps a re-run's claims as NEW rows so\n  // scores.trend has history.\n  claim({ card_id, topic, ai_run_id, item_key }) {\n    return hashFields(card_id, topic, ai_run_id, item_key);\n  },\n  // evidence: sha256(claim_id \u2016 relation \u2016 coalesce(source_url,'') \u2016\n  // coalesce(quote_verbatim,'') \u2016 coalesce(query,'')) -- the `query`\n  // discriminator is what keeps multiple tier='missing' rows (NULL url, NULL\n  // quote) on one claim from colliding.\n  evidence({ claim_id, relation, source_url, quote_verbatim, query }) {\n    return hashFields(claim_id, relation, source_url ?? '', quote_verbatim ?? '', query ?? '');\n  },\n};\n\n// ============================================================================\n// \u00a74 -- curator (score >= 0.4 gate, URL-normalised dedup, first-party\n// exemption scoped to the relevance gate only, top-8 survivors).\n//\n// \"bucket\" (design.md \u00a74's node-chain line: \"top-8 per bucket\") is not\n// further defined in design.md beyond that one mention. This function\n// curates ONE array of results (one bucket, e.g. one query's results) down\n// to its top CURATE.TOP_N survivors; the caller (the n8n workflow) is\n// expected to invoke it once per bucket/query, per the design's Q1-Q5 shape.\n// Flagged to the team lead as a judgment call, not a blocking ambiguity.\n// ============================================================================\n\nfunction normalizeUrl(url) {\n  try {\n    const u = new URL(url);\n    let host = u.hostname.toLowerCase();\n    if (host.startsWith('www.')) host = host.slice(4);\n    let path = u.pathname.toLowerCase();\n    if (path.length > 1 && path.endsWith('/')) path = path.slice(0, -1);\n    return `${host}${path}`;\n  } catch {\n    return String(url || '').trim().toLowerCase();\n  }\n}\n\nfunction curate(results, companyDomain) {\n  const companyHost = companyDomain ? String(companyDomain).toLowerCase().replace(/^www\\./, '') : null;\n\n  const survivors = [];\n  const indexByNormalizedUrl = new Map();\n\n  for (const result of results || []) {\n    if (!result || !result.url) continue;\n    // Defense-in-depth: Tavily's exclude_domains is the primary blocklist\n    // enforcement, but the curator \"is still subject to the blocklist\" (\u00a74).\n    if (isBlocklisted(result.url)) continue;\n\n    const host = registrableDomain(result.url);\n    const isFirstParty = Boolean(companyHost && host && (host === companyHost || host.endsWith(`.${companyHost}`)));\n    const score = typeof result.score === 'number' ? result.score : 0;\n\n    // First-party exemption bypasses ONLY the relevance gate -- it is still\n    // deduplicated and still subject to the blocklist above (\u00a74).\n    if (!isFirstParty && score < CURATE.RELEVANCE_MIN) continue;\n\n    const key = normalizeUrl(result.url);\n    const candidate = { ...result, firstParty: isFirstParty };\n    const existingIndex = indexByNormalizedUrl.get(key);\n    if (existingIndex === undefined) {\n      indexByNormalizedUrl.set(key, survivors.length);\n      survivors.push(candidate);\n    } else if (score > (typeof survivors[existingIndex].score === 'number' ? survivors[existingIndex].score : 0)) {\n      survivors[existingIndex] = candidate; // keep the higher-scored duplicate\n    }\n  }\n\n  survivors.sort((a, b) => (typeof b.score === 'number' ? b.score : 0) - (typeof a.score === 'number' ? a.score : 0));\n  return survivors.slice(0, CURATE.TOP_N);\n}\n\n\n\n\n// The validator \u2014 \"model proposes, backend decides\" (vantage pattern). The LLM never emits an\n// axis number; this node owns the formula and stamps formula_version on the row.\nconst inp=$input.first().json;\nif(inp.abort_no_evidence){\n  return [{json:{application_id:inp.application_id,thesis_id:inp.thesis_id,\n    ai_run:{task_type:'market_intel',model:'gpt-5.6-sol',prompt_version:'f04_market_v1',\n      output_json:{aborted:'all_searches_empty'},credits:inp.credits},\n    raw_signals:[],claims:[{ref:'gap',topic:'market.gap',text_verbatim:\n      'Category could not be researched: all five searches returned no results.',\n      axis:'market',source_kind:'derived',verification_status:'missing',value:{}}],\n    evidence:[],scores:[]}}];\n}\nconst sz=inp.sizer_raw||{}; const d=sz.data||{};\nconst bu=d.size_bottom_up||null;\nconst tamLow = bu && typeof bu.tam_low==='number' ? bu.tam_low : null;\nconst buyerCount = bu && typeof bu.buyer_count==='number' ? bu.buyer_count : null;\n// \u00a76.2: concentration is DERIVED from the evidence-backed buyer_count; the categorizer's value\n// is only a query hint. Disagreement is recorded in missing_flags, never silently resolved.\nconst conc = deriveConcentration(buyerCount);\nconst concentration_revised = conc!=='unknown' && inp.concentration_hint!=='unknown' && conc!==inp.concentration_hint;\nconst tb=tamBand(tamLow);\nconst growth=d.growth||{};\nconst cb=cagrBand(typeof growth.cagr_pct_low==='number'?growth.cagr_pct_low:null);\nconst vsc=ventureScaleCheck(tamLow,conc);\nconst mom=inp.momentum||{direction:'stable',undated_majority:false};\nconst mkt=marketScore({tamBand:tb,cagrBand:cb,momentum:mom.direction,\n  momentumUndatedMajority:!!mom.undated_majority,ceiling:vsc.status});\nconst label=outlook(mkt,tb);\nconst gaps=(d.gaps||[]).concat(inp.categorizer_gaps||[]);\nconst missing_flags={};\nif(inp.no_thesis_geography) missing_flags.no_thesis_geography=true;\nif(mom.thin_signal) missing_flags.thin_category_signal=true;\nif(mom.undated_majority) missing_flags.undated_majority=true;\nif(concentration_revised) missing_flags.concentration_revised=true;\nif(inp.search_failed&&inp.search_failed.length) missing_flags.search_failed=inp.search_failed;\nfor(const g of gaps) missing_flags[g.reason_code||g.field]=true;\nconst evList=d.evidence||[];\nconst conf=confidence({missingCount:gaps.length, evidenceCt:evList.length,\n  caps:{noDocumentedForSize:!evList.some(e=>e.tier==='documented'),\n        fewIndependentSources: independentSourceCount(\n          evList.map(e=>({url:e.source_url,tier:e.tier||tierForDomain(e.source_url)}))) < 2}});\nconst raw_signals=[],claims=[],evidence=[];\nlet ri=0;\nfor(const [qid,rows] of Object.entries(inp.curated||{})){\n  for(const r of rows){\n    const ref='rs'+(ri++);\n    raw_signals.push({ref,source: qid==='Q5'?'tavily_news':'tavily_search',\n      source_url:r.url,query:r.query,\n      observed_at:(r.published_date? new Date(r.published_date).toISOString() : inp.end_date+'T00:00:00Z'),\n      payload:{title:r.title,score:r.score,purpose:r.purpose}});\n  }\n}\nclaims.push({ref:'cat',topic:'market.category',axis:'market',source_kind:'derived',\n  text_verbatim:`Category: ${inp.category_canonical||'undetermined'}`,\n  value:{canonical:inp.category_canonical,raw:inp.category_raw,adjacent:inp.adjacent,\n    icp:inp.icp,buyer_unit:inp.buyer_unit,buyer_concentration:conc,\n    concentration_hint:inp.concentration_hint}});\nclaims.push({ref:'vsc',topic:'market.venture_scale_check',axis:'market',source_kind:'derived',\n  text_verbatim:`Venture-scale ceiling: ${vsc.status}`,value:vsc});\nclaims.push({ref:'trend',topic:'market.trend',axis:'market',source_kind:'derived',\n  text_verbatim:`Category trend: ${mom.direction}`,value:mom});\nclaims.push({ref:'outlook',topic:'market.outlook',axis:'market',source_kind:'derived',\n  text_verbatim:`Market outlook: ${label}`,value:{label,basis:{tamBand:tb,cagrBand:cb,score:mkt}}});\nif(bu){claims.push({ref:'size',topic:'market.size_bottom_up',axis:'market',source_kind:'derived',\n  text_verbatim:`Bottom-up TAM: ${bu.tam_low}-${bu.tam_high} ${bu.currency||'USD'}`,value:bu});}\nelse{claims.push({ref:'size',topic:'market.size_bottom_up',axis:'market',source_kind:'derived',\n  verification_status:'missing',text_verbatim:'Bottom-up TAM: not established.',value:{gaps}});}\nconst wn=d.why_now||null;\nif(wn&&wn.catalyst_kind&&wn.catalyst_artifact_url){\n  claims.push({ref:'whynow',topic:'market.why_now',axis:'market',source_kind:'derived',\n    text_verbatim:wn.statement,value:wn});\n}else{\n  // \u00a73.2: an untyped or uncited why-now is a narrative, not a timing thesis -> written `missing`.\n  claims.push({ref:'whynow',topic:'market.why_now',axis:'market',source_kind:'derived',\n    verification_status:'missing',text_verbatim:'Why-now: no typed, cited catalyst established.',value:{}});\n}\n(d.tailwinds||[]).forEach((t,i)=>claims.push({ref:'tw'+i,topic:'market.tailwind',axis:'market',\n  source_kind:'derived',item_key:String(t).slice(0,60),text_verbatim:String(t),value:{statement:t}}));\n(d.headwinds||[]).forEach((t,i)=>claims.push({ref:'hw'+i,topic:'market.headwind',axis:'market',\n  source_kind:'derived',item_key:String(t).slice(0,60),text_verbatim:String(t),value:{statement:t}}));\nfor(const e of evList){\n  evidence.push({claim_ref:'size',relation:'supports',tier:e.tier||tierForDomain(e.source_url),\n    source_url:e.source_url,quote_verbatim:e.quote_verbatim||null,query:e.query||null});\n}\nif(!evList.length){\n  // \"searched and found nothing\" is itself recorded, so the gap is a row rather than a silence.\n  evidence.push({claim_ref:'size',relation:'context',tier:'missing',query:'bottom-up size anchors'});\n}\nconst scores=[{axis:'market',value:mkt,trend:mom.direction,confidence:conf,\n  missing_flags,input_claim_refs:['cat','vsc','trend','size'],\n  formula_version:'f04_v1',prompt_version:'f04_market_v1',model:'gpt-5.6-sol'}];\nreturn [{json:{application_id:inp.application_id,thesis_id:inp.thesis_id,\n  ai_run:{task_type:'market_intel',model:'gpt-5.6-sol',prompt_version:'f04_market_v1',\n    output_json:{categorizer:inp.categorizer_raw,sizer:sz,momentum:mom,\n      venture_scale:vsc,market_score:mkt,outlook:label},\n    confidence:conf,credits:inp.credits,\n    config:{shares:SHARE_BY_CONCENTRATION,exit_multiple:EXIT_MULTIPLE,end_date:inp.end_date}},\n  raw_signals,claims,evidence,scores}}];\n"
   },
   "id": "validate-score",
   "name": "Validate + score",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    1200,
    0
   ]
  },
  {
   "parameters": {
    "workflowId": {
     "__rl": true,
     "value": "3tKU8GFFkmSOiJBG",
     "mode": "id"
    }
   },
   "id": "persist",
   "name": "Persist via f04-db-write",
   "type": "n8n-nodes-base.executeWorkflow",
   "typeVersion": 1.2,
   "position": [
    1400,
    0
   ]
  }
 ],
 "connections": {
  "Manual Trigger": {
   "main": [
    [
     {
      "node": "Preflight: load application",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Preflight: load application": {
   "main": [
    [
     {
      "node": "Categorize market",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Categorize market": {
   "main": [
    [
     {
      "node": "Tavily search x5",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Tavily search x5": {
   "main": [
    [
     {
      "node": "Curate + momentum",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Curate + momentum": {
   "main": [
    [
     {
      "node": "Size market (bottom-up)",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Size market (bottom-up)": {
   "main": [
    [
     {
      "node": "Validate + score",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Validate + score": {
   "main": [
    [
     {
      "node": "Persist via f04-db-write",
      "type": "main",
      "index": 0
     }
    ]
   ]
  }
 },
 "settings": {
  "executionOrder": "v1"
 }
}