n8n/workflows/f05-verify-claims.json
{
 "name": "f05-verify-claims",
 "nodes": [
  {
   "parameters": {
    "httpMethod": "POST",
    "path": "f05-verify-claims",
    "responseMode": "lastNode",
    "options": {}
   },
   "id": "84f9234f-d53a-4583-80ed-a11b22b488a1",
   "name": "Webhook Trigger",
   "type": "n8n-nodes-base.webhook",
   "typeVersion": 2.1,
   "position": [
    -460,
    -140
   ],
   "webhookId": "b5c36cef-cd44-4902-8c27-68d15c4776c1"
  },
  {
   "parameters": {},
   "id": "95848793-a732-458c-9aa7-1a54965d9735",
   "name": "Execute Workflow Trigger",
   "type": "n8n-nodes-base.executeWorkflowTrigger",
   "typeVersion": 1,
   "position": [
    -460,
    140
   ]
  },
  {
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "// Webhook body carries { application_id } -- same subject as f05-trust-rollup (design.md\n// SS8: 05 always operates at application scope, never bare card/claim scope, so the\n// SS8.1 scoping rule is applied identically by every f05 workflow).\nconst item = $input.first().json;\nconst body = item.body || {};\nconst application_id = body.application_id || item.application_id;\nif (!application_id) throw new Error('f05-verify-claims: application_id is required');\nreturn [{ json: { application_id } }];\n"
   },
   "id": "c9348aa8-ed6d-4262-a31c-65691a57ebf5",
   "name": "Normalize Webhook Input",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    -180,
    -140
   ]
  },
  {
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "// Called by 06/09/10 (or a manual test) as a sub-workflow with { application_id }.\nconst item = $input.first().json || {};\nconst application_id = item.application_id;\nif (!application_id) throw new Error('f05-verify-claims: application_id is required');\nreturn [{ json: { application_id } }];\n"
   },
   "id": "9f667950-25d2-4b05-b6b5-6f5e8e9dbb6f",
   "name": "Normalize Sub-workflow Input",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    -180,
    140
   ]
  },
  {
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "// One UUID per verification run -- echoed into every event payload below (design.md SS9's\n// audit trail). require('crypto') -- globalThis.crypto is undefined inside this n8n\n// build's actual Code-node VM sandbox (verified live 2026-07-19, restated in\n// n8n/workflows/README-f05.md), even though a bare `docker exec node -e` process on the\n// same container exposes it fine. Allow-listed via\n// infra/n8n/docker-compose.yml's NODE_FUNCTION_ALLOW_BUILTIN=crypto,url -- same proven\n// pattern as f03's and f05-trust-rollup's own Generate run_id nodes.\nconst { randomUUID } = require('crypto');\nconst inp = $input.first().json;\nreturn [{ json: { application_id: inp.application_id, run_id: randomUUID() } }];\n"
   },
   "id": "d591bfb9-ae56-4876-a7ff-d13d71805fbe",
   "name": "Generate run_id",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    60,
    0
   ]
  },
  {
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "const SB = String($env.SUPABASE_URL || '').replace(/\\/rest\\/v1\\/?$/, ''), KEY = $env.SUPABASE_SERVICE_ROLE_KEY;\nasync function pgGet(path) {\n  return await this.helpers.httpRequest({\n    method: 'GET', url: SB + '/rest/v1/' + path,\n    headers: { apikey: KEY, Authorization: 'Bearer ' + KEY }, json: true,\n  });\n}\nconst inp = $input.first().json;\nconst rows = await pgGet.call(this,\n  'applications?id=eq.' + inp.application_id + '&select=id,company_id');\nif (!rows || !rows.length) {\n  throw new Error('f05-verify-claims: no application found for id ' + inp.application_id);\n}\nreturn [{ json: { ...inp, company_id: rows[0].company_id } }];\n"
   },
   "id": "c081b242-920d-4fa7-8fe4-c0acfe71b182",
   "name": "Load application + company",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    340,
    0
   ]
  },
  {
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "const SB = String($env.SUPABASE_URL || '').replace(/\\/rest\\/v1\\/?$/, ''), KEY = $env.SUPABASE_SERVICE_ROLE_KEY;\nasync function pgGet(path) {\n  return await this.helpers.httpRequest({\n    method: 'GET', url: SB + '/rest/v1/' + path,\n    headers: { apikey: KEY, Authorization: 'Bearer ' + KEY }, json: true,\n  });\n}\nconst inp = $input.first().json;\n// design.md SS8.1 route 3's founderIds -- resolved by the caller with a single-table\n// lookup, matching f05-trust-rollup's identical node exactly (no shared import between\n// generators; independent copy, same convention every f05 workflow follows).\nconst rows = await pgGet.call(this,\n  'founder_company?company_id=eq.' + inp.company_id + '&select=founder_id');\nconst founder_ids = (rows || []).map(function (r) { return r.founder_id; }).filter(Boolean);\nreturn [{ json: { ...inp, founder_ids } }];\n"
   },
   "id": "56191fc4-0b81-422d-ad5f-255c02e0eb7c",
   "name": "Load founder_ids for company",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    620,
    0
   ]
  },
  {
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "const SB = String($env.SUPABASE_URL || '').replace(/\\/rest\\/v1\\/?$/, ''), KEY = $env.SUPABASE_SERVICE_ROLE_KEY;\nasync function pgGet(path) {\n  return await this.helpers.httpRequest({\n    method: 'GET', url: SB + '/rest/v1/' + path,\n    headers: { apikey: KEY, Authorization: 'Bearer ' + KEY }, json: true,\n  });\n}\nconst inp = $input.first().json;\nconst rows = await pgGet.call(this,\n  'score_formulas?axis=eq.trust&active=eq.true&select=version,config&limit=1');\nif (!rows || !rows.length) {\n  throw new Error(\"f05-verify-claims: no active score_formulas row for axis='trust'\");\n}\n// design.md SS4.1 -- the router prefix_map + default_class live in config.router; read\n// the live row here rather than a second hardcoded copy (this workflow's own instance of\n// the LEFT-JOIN + literal-fallback discipline SS7.5 states for the view). lib/f05/router.js\n// itself carries NO built-in prefix map for exactly this reason.\nconst router_config = (rows[0].config && rows[0].config.router) || { prefix_map: [], default_class: 'unverifiable' };\nreturn [{ json: { ...inp, router_config } }];\n"
   },
   "id": "30925305-929d-47ce-ab47-0fd342bc3416",
   "name": "Load active trust_v1 router config",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    900,
    0
   ]
  },
  {
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "const SB = String($env.SUPABASE_URL || '').replace(/\\/rest\\/v1\\/?$/, ''), KEY = $env.SUPABASE_SERVICE_ROLE_KEY;\nasync function pgGet(path) {\n  return await this.helpers.httpRequest({\n    method: 'GET', url: SB + '/rest/v1/' + path,\n    headers: { apikey: KEY, Authorization: 'Bearer ' + KEY }, json: true,\n  });\n}\nconst inp = $input.first().json;\n// design.md SS8.1's three OR'd routes, IDENTICAL query to f05-trust-rollup's own node of\n// the same name (independent copy, no shared import between generators) -- the\n// UNRESTRICTED superset; the company_id restriction on route 3 is applied downstream by\n// trust.js's own scopeClaimsToApplication(), inlined into the ROUTE node below.\nconst orParts = [\n  'application_id.eq.' + inp.application_id,\n  'company_id.eq.' + inp.company_id,\n];\nif (inp.founder_ids && inp.founder_ids.length) {\n  orParts.push('founder_id.in.(' + inp.founder_ids.join(',') + ')');\n}\nconst cards = await pgGet.call(this,\n  'cards?select=id,application_id,company_id,founder_id&or=(' + orParts.join(',') + ')');\nreturn [{ json: { ...inp, scope_cards: cards || [] } }];\n"
   },
   "id": "f6e1aa11-a053-4f01-9c19-b2a38fc4edc3",
   "name": "Load scope card ids",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    1180,
    0
   ]
  },
  {
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "const SB = String($env.SUPABASE_URL || '').replace(/\\/rest\\/v1\\/?$/, ''), KEY = $env.SUPABASE_SERVICE_ROLE_KEY;\nasync function pgGet(path) {\n  return await this.helpers.httpRequest({\n    method: 'GET', url: SB + '/rest/v1/' + path,\n    headers: { apikey: KEY, Authorization: 'Bearer ' + KEY }, json: true,\n  });\n}\nconst inp = $input.first().json;\nconst cardIds = (inp.scope_cards || []).map(function (c) { return c.id; });\nlet claimRows = [];\nif (cardIds.length) {\n  claimRows = await pgGet.call(this,\n    'claim_trust?select=claim_id,card_id,topic,text_verbatim,source_kind,verification_status,' +\n    'router_class,derived_status,n_supports,n_contradicts&card_id=in.(' + cardIds.join(',') + ')');\n}\n// Column-contract reconciliation (same term, same fix as B3's own tracker.md entry):\n// claim_trust exposes only card_id, not the three card FKs the SS8.1 scope predicate\n// needs -- merged in here from the cards rows the previous node already fetched. Also\n// carries text_verbatim/source_kind, which f05-trust-rollup's OWN version of this node\n// does not need (rollup math never reads a claim's text) but every SS5.1 check below does.\nconst cardsById = new Map((inp.scope_cards || []).map(function (c) { return [c.id, c]; }));\nconst rows = (claimRows || []).map(function (r) {\n  const card = cardsById.get(r.card_id) || {};\n  return {\n    claim_id: r.claim_id, card_id: r.card_id, topic: r.topic, text_verbatim: r.text_verbatim,\n    source_kind: r.source_kind, verification_status: r.verification_status,\n    class: r.router_class, derived_status: r.derived_status,\n    n_supports: r.n_supports, n_contradicts: r.n_contradicts,\n    card_application_id: card.application_id || null,\n    card_company_id: card.company_id || null,\n    card_founder_id: card.founder_id || null,\n  };\n});\nreturn [{ json: { ...inp, rows } }];\n"
   },
   "id": "bd21fe4d-21d4-4ed5-99b3-5bb0f2600264",
   "name": "Load claim_trust rows (scoped)",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    1460,
    0
   ]
  },
  {
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "// SOURCE OF TRUTH: lib/f05/trust.js + lib/f05/router.js -- pasted verbatim; edit there and\n// re-run n8n/build-f05-workflow.py.\n\n// SOURCE OF TRUTH: lib/f05/trust.js\n//\n// Application-level Trust rollup math for feature 05 (Truth-Gap Check & Trust\n// Score) -- docs/backlog/05-truth-gap-trust/plan.md task B1, design.md SS7-SS8.\n// Pure functions only -- NO imports, NO requires, no I/O, no network, no\n// Date.now()/Math.random(), no top-level side effects. This file's body is\n// pasted verbatim into an n8n Code node with the header above (design.md\n// SS11, plan.md's zero-imports rule for every Code-node-bound module): n8n's\n// Code-node sandbox has no bind-mount of this repo and cannot `require()`\n// from it.\n//\n// This module does NOT compute per-claim trust (that is the `claim_trust` SQL\n// view, design SS7 -- built by a different terminal, concurrently, off the\n// frozen column contract this file also reads). It only implements SS8: which\n// claims belong to an application (SS8.1) and how their already-computed\n// per-claim numbers roll up into one `scores(axis='trust')` row or one\n// `trust_rollup_insufficient_evidence` event (SS8.2).\n//\n// ============================================================================\n// Input claim-row contract this module expects\n// ============================================================================\n//\n// design.md never spells out claim_trust's literal column list -- SS7.1-SS7.5\n// describe the QUANTITIES the view computes, not a CREATE VIEW column order.\n// The field names below are this module's own naming, chosen to match\n// design.md's own formula variable names wherever one is given (`class`,\n// `derived_status`, `trust`, `independence_factor`); flagged back to the team\n// as an assumption a builder wiring the real query should confirm against.\n//\n//   {\n//     claim_id:             uuid,    // claims.id\n//     topic:                 string,  // claims.topic\n//     class:                 'factual_static' | 'factual_dynamic' | 'qualitative' |\n//                            'forecast' | 'unverifiable' | 'precomputed',\n//                            // the router class materialised into the view\n//                            // (SS7.1); named `class` to match the router\n//                            // table's own key (SS4.1's prefix_map entries\n//                            // are `{prefix, class, check}`).\n//     derived_status:        'verified' | 'contradicted' | 'partially_supported' |\n//                            'unverified' | 'missing',   // claim_trust.derived_status (SS7.4)\n//     trust:                 number 0..1 | null,   // per-claim trust (SS7.2's own `trust`)\n//     independence_factor:   number 0..1 | null,   // SS7.2/SS7.3, same name\n//     n_supports:            integer,   // count of `supports` evidence rows on this\n//                            // claim -- this module's own naming, SS8.2 does\n//                            // not name a variable for it.\n//     n_contradicts:         integer,   // count of `contradicts` evidence rows\n//     card_application_id:   uuid | null,   // cards.application_id for this claim's card\n//     card_company_id:       uuid | null,   // cards.company_id\n//     card_founder_id:       uuid | null,   // cards.founder_id\n//   }\n//\n// `ctx` shape (design SS8.1):\n//   {\n//     applicationId:  uuid,     // the application being rolled up\n//     companyId:      uuid,     // applications.company_id for applicationId\n//     founderIds:     uuid[],   // founder_company.founder_id for companyId --\n//                               // route 3's join, resolved by the caller with\n//                               // a single-table lookup, not re-derived here\n//     runId:          uuid?,    // optional; echoed into the insufficient-\n//                               // evidence event payload if provided\n//   }\n//\n// `config` shape (SS7.5 / SS8.2 -- the `score_formulas('trust_v1','trust')`\n// row, LEFT JOIN + literal fallback, same failure-mode discipline as the\n// view's own SS7.5 fallback -- never a second hardcoded copy of the whole\n// row, only the one constant this rollup itself needs):\n//   { version: 'trust_v1', min_coverage: 0.25 }\n\n'use strict';\n\n// ----------------------------------------------------------------------------\n// Small shared helpers (independent copies -- no shared import across lib/f05\n// modules by design; see lib/f03/scoring.js and lib/f04/scoring.js for the\n// identical precedent in this repo).\n// ----------------------------------------------------------------------------\n\nfunction clamp(value, min, max) {\n  return Math.min(max, Math.max(min, value));\n}\n\n// Rounds to 2dp -- matches `scores.value numeric(5,2)` / `scores.confidence\n// numeric(3,2)` (same rounding discipline as lib/f03/scoring.js's round2:\n// a float-computed 100.005 would otherwise be rejected by the numeric column).\nfunction round2(value) {\n  return Number(value.toFixed(2));\n}\n\nfunction isFiniteNumber(value) {\n  return typeof value === 'number' && Number.isFinite(value);\n}\n\n// Coerces a possibly-null/undefined per-claim number to 0 for summation --\n// an absent trust/independence_factor on a claim the caller says is\n// \"assessed\" is defensive-only (the view's own contract, SS7.2, always\n// produces a number once a claim carries any evidence); this module does not\n// re-validate that contract, only refuses to let a bad value corrupt a sum.\nfunction numOr0(value) {\n  return isFiniteNumber(value) ? value : 0;\n}\n\n// SS4, SS8.2 -- the six router classes partition into exactly these two sets.\n// `precomputed` counts as verdict-eligible (SS8.2, SS4 table's \"n/a\" row,\n// named explicitly so a builder does not go looking for a fifth branch).\nconst VERDICT_ELIGIBLE_CLASSES = new Set(['factual_static', 'factual_dynamic', 'precomputed']);\nconst NOT_ASSESSABLE_CLASSES = new Set(['qualitative', 'forecast', 'unverifiable']);\n\n// SS8.2: \"min_coverage starts at 0.25 (matching 03) but must be re-derived\n// against live data before being locked\" -- the literal fallback this module\n// falls back to when `config.min_coverage` is absent, per this task's\n// instruction to take constants from the passed config with literal\n// fallbacks rather than hardcoding a second copy of the config row.\nconst DEFAULT_MIN_COVERAGE = 0.25;\n\nconst DEFAULT_FORMULA_VERSION = 'trust_v1';\n\n// ----------------------------------------------------------------------------\n// SS8.1 -- scope: which claims belong to an application\n// ----------------------------------------------------------------------------\n//\n// design.md phrases SS8.1 as a SQL WHERE clause (three OR'd routes over\n// `claims c JOIN cards k ON k.id = c.card_id`). This module implements the\n// identical rule as a pure JS predicate over pre-joined rows, per this task's\n// \"pure functions, no DB access\" constraint -- a production caller may\n// additionally run the SQL directly for efficiency (fetching fewer rows over\n// the wire), but THIS predicate is what the acceptance tests exercise and is\n// the authoritative expression of the SS8.1 rule for anything that calls into\n// this module.\n//\n// Route 1: the card is directly tagged with this application.\n// Route 2: the card is tagged with the application's own company -- RESTRICTED\n//          to cards whose own `card_application_id` is either null or this\n//          same application. QA pass-1 finding 1 (qa-report-05.md) found this\n//          section's original assumption -- \"company cards ... are not\n//          attached to any specific application row\" -- false in the live\n//          corpus: feature 02's `radar_activated` flow creates several\n//          `applications` rows per company, only one of which is ever\n//          promoted to carry real `cards`, and a promoted card DOES carry a\n//          concrete `card_application_id` alongside its `card_company_id`.\n//          Without this restriction an unrestricted company match pulls that\n//          one company's cards -- and their entire claim set -- into every\n//          sibling application's rollup, each reporting a fully \"scored\"\n//          Trust row despite having done none of this feature's actual work\n//          (measured live: 104 of 308 applications, 34%, would leak this\n//          way). Route 3 already carried the analogous restriction; this\n//          route was missing it.\n// Route 3: the card belongs to a founder on this application's company --\n//          RESTRICTED to that founder's person-scoped claims (card_company_id\n//          IS NULL) or claims already scoped to this same company. Without\n//          this restriction a founder's OTHER startup's claims would leak in\n//          (SS8.1's load-bearing warning) -- feature 03's premise is that a\n//          founder persists across companies, so an unrestricted founder join\n//          is exactly the leak this route must not create.\nfunction isClaimInScope(row, ctx) {\n  if (row.card_application_id != null && row.card_application_id === ctx.applicationId) return true;\n  if (\n    row.card_company_id != null &&\n    row.card_company_id === ctx.companyId &&\n    (row.card_application_id == null || row.card_application_id === ctx.applicationId)\n  ) {\n    return true;\n  }\n\n  const founderIds = Array.isArray(ctx.founderIds) ? ctx.founderIds : [];\n  if (row.card_founder_id != null && founderIds.includes(row.card_founder_id)) {\n    if (row.card_company_id == null || row.card_company_id === ctx.companyId) return true;\n  }\n\n  return false;\n}\n\nfunction scopeClaimsToApplication(rows, ctx) {\n  const list = Array.isArray(rows) ? rows : [];\n  return list.filter((row) => isClaimInScope(row, ctx));\n}\n\n// ----------------------------------------------------------------------------\n// SS8.2 -- missing_flags\n// ----------------------------------------------------------------------------\n//\n// \"missing_flags = [ VERDICT-ELIGIBLE topics with derived_status missing or\n// unverified ] + { not_assessable_count: <count of qualitative/forecast/\n// unverifiable claims> }\". The gap list is scoped to VERDICT-ELIGIBLE claims\n// only and deduplicated by topic (not one entry per claim) -- SS8.2's own\n// warning: \"Without that scoping it would sweep in every qualitative claim...\n// producing a ~430-entry missing_flags array on every application... The\n// count of not-assessable claims is honest; the LIST of them is noise.\"\n// Deduplicating by topic keeps the gap list bounded by the ~49 distinct\n// topics in the router table (SS4.1), never by claim count.\n//\n// `coverage` also lives here (team-lead ruling, 2026-07-19, on this task's\n// own flag): `scores` has no `coverage` column, but SS14.1 makes coverage a\n// DISPLAY requirement -- \"wherever the rollup value appears, coverage must\n// appear beside it\". The `scores` row is a snapshot while `claim_trust` is\n// live, so a consumer recomputing coverage from the view later would drift\n// from the value it sits next to. Persisting it inside `missing_flags` keeps\n// value/confidence/coverage as one atomic, non-drifting snapshot. Optional\n// second argument so this function stays independently callable (e.g. in a\n// test) without first computing a rollup-level coverage number.\nfunction buildMissingFlags(scopedRows, coverage) {\n  const gapTopics = new Set();\n  let notAssessableCount = 0;\n\n  for (const row of scopedRows) {\n    if (VERDICT_ELIGIBLE_CLASSES.has(row.class)) {\n      if ((row.derived_status === 'missing' || row.derived_status === 'unverified') && row.topic) {\n        gapTopics.add(row.topic);\n      }\n    } else if (NOT_ASSESSABLE_CLASSES.has(row.class)) {\n      notAssessableCount += 1;\n    }\n  }\n\n  return {\n    topics: Array.from(gapTopics),\n    not_assessable_count: notAssessableCount,\n    coverage: isFiniteNumber(coverage) ? round2(coverage) : null,\n  };\n}\n\n// ----------------------------------------------------------------------------\n// SS8.2 -- the rollup itself\n// ----------------------------------------------------------------------------\n//\n// computeTrustRollup(rows, config, ctx) -> {\n//   status: 'scored' | 'insufficient_evidence',\n//   coverage, verdictEligibleCount, assessedCount, missingFlags,  // always present, for logging/diagnostics\n//   scoresRow: {...} | null,   // the ready-to-insert `scores` row, only on 'scored'\n//   event: {...} | null,       // the `trust_rollup_insufficient_evidence` event, only on 'insufficient_evidence'\n// }\n//\n// `rows` -- the FULL unscoped candidate set (every claim reachable by any of\n//   SS8.1's three routes before the company_id restriction is applied); this\n//   function does the scoping itself (calls scopeClaimsToApplication), so a\n//   caller may pass a superset and rely on this module for the restriction --\n//   this is what acceptance criterion 5 (a same-founder, different-company\n//   claim must be excluded) exercises directly.\n// `config` -- { version, min_coverage } from the active `score_formulas`\n//   row for axis='trust', with literal fallbacks applied here when either is\n//   absent (SS7.5's failure-mode discipline, restated for this rollup's own\n//   one constant).\n// `ctx` -- { applicationId, companyId, founderIds, runId? }, see the file\n//   header for the full shape.\nfunction computeTrustRollup(rows, config, ctx) {\n  const cfg = config || {};\n  const minCoverage = isFiniteNumber(cfg.min_coverage) ? cfg.min_coverage : DEFAULT_MIN_COVERAGE;\n  const formulaVersion = cfg.version || DEFAULT_FORMULA_VERSION;\n\n  const inScope = scopeClaimsToApplication(rows, ctx);\n\n  // verdict_eligible = claims whose router class in {factual_static,\n  // factual_dynamic, precomputed} -- SS8.2's denominator, NOT all in-scope claims.\n  const verdictEligible = inScope.filter((row) => VERDICT_ELIGIBLE_CLASSES.has(row.class));\n\n  // assessed = verdict-eligible claims carrying >=1 supports OR contradicts row.\n  const assessed = verdictEligible.filter((row) => numOr0(row.n_supports) + numOr0(row.n_contradicts) >= 1);\n\n  // coverage = assessed / verdict_eligible -- SS8.2, explicitly NOT / all\n  // in-scope claims (qualitative/forecast/unverifiable claims can never carry\n  // supports/contradicts by design, SS4.3/SS7.1, so counting them would make\n  // coverage structurally low for reasons that are not knowledge gaps).\n  const coverage = verdictEligible.length > 0 ? assessed.length / verdictEligible.length : 0;\n\n  const missingFlags = buildMissingFlags(inScope, coverage);\n\n  // ---- guard FIRST, before any division by assessed.length (SS8.2/SS2.3 pattern) ----\n  if (assessed.length === 0 || coverage < minCoverage) {\n    const event = {\n      event_type: 'trust_rollup_insufficient_evidence',\n      entity_type: 'application',\n      entity_id: ctx.applicationId,\n      payload: Object.assign(\n        {\n          application_id: ctx.applicationId,\n          coverage: round2(coverage),\n          min_coverage: minCoverage,\n          verdict_eligible_count: verdictEligible.length,\n          assessed_count: assessed.length,\n          missing_flags: missingFlags,\n        },\n        ctx.runId ? { run_id: ctx.runId } : {}\n      ),\n    };\n\n    return {\n      status: 'insufficient_evidence',\n      coverage,\n      verdictEligibleCount: verdictEligible.length,\n      assessedCount: assessed.length,\n      missingFlags,\n      scoresRow: null,\n      event,\n    };\n  }\n\n  // value = 100 x mean(trust) over ASSESSED claims only -- SS8.2: \"gaps never\n  // drag the value down\". A gap (unassessed, verdict-eligible) claim never\n  // enters this mean at all -- REQ-003's core invariant, enforced structurally\n  // by the denominator being `assessed.length`, not `verdictEligible.length`.\n  let trustSum = 0;\n  for (const row of assessed) trustSum += numOr0(row.trust);\n  const value = clamp(round2((trustSum / assessed.length) * 100), 0, 100);\n\n  // confidence = clamp(coverage x mean(independence_factor over assessed), 0, 1).\n  // `coverage` is what a gap actually lowers here -- adding unassessed\n  // verdict-eligible claims shrinks this ratio without touching `value` above.\n  let independenceSum = 0;\n  for (const row of assessed) independenceSum += numOr0(row.independence_factor);\n  const meanIndependence = independenceSum / assessed.length;\n  const confidence = clamp(round2(coverage * meanIndependence), 0, 1);\n\n  const scoresRow = {\n    axis: 'trust',\n    application_id: ctx.applicationId,\n    founder_id: null,\n    value,\n    confidence,\n    missing_flags: missingFlags,\n    input_claim_ids: assessed.map((row) => row.claim_id),\n    formula_version: formulaVersion,\n    model: null, // SS8.2: \"model NULL on the deterministic path\" -- no LLM in this rollup (SS6.0b)\n  };\n\n  return {\n    status: 'scored',\n    coverage,\n    verdictEligibleCount: verdictEligible.length,\n    assessedCount: assessed.length,\n    missingFlags,\n    scoresRow,\n    event: null,\n  };\n}\n\n// lib/f05/router.js\n// SOURCE OF TRUTH: lib/f05/router.js -- do not edit inside the n8n Code node, edit here and\n// re-paste.\n//\n// Claim router for feature 05 (Truth-Gap Check & Trust Score). Implements design.md \u00a74 /\n// \u00a74.1: \"every claim is assigned exactly one class before any verdict model runs\" -- the\n// decision \"this claim cannot honestly bear a verdict\" is made by an auditable table, not by\n// a model's softmax. This file is the table lookup; \u00a75's four verification branches and \u00a77.1's\n// view-level gate are what actually act on the class it returns.\n//\n// docs/backlog/05-truth-gap-trust/plan.md, task A2.\n//\n// Self-contained CommonJS, ZERO imports, no top-level side effects, deterministic (no\n// Date.now(), no Math.random()). This file's body is pasted verbatim into an n8n Code node --\n// n8n's sandbox cannot require() from the repo (no bind-mount, design \u00a711) -- so any import\n// here would make it unusable in production.\n//\n// ============================================================================\n// The module exports NO built-in prefix map. Design \u00a74.1: the authoritative copy lives in the\n// score_formulas('trust_v1','trust') seed row's config.router, so a second hardcoded copy here\n// would silently drift from it. The caller (the headless runner, or the n8n ROUTE Code node)\n// reads that row and passes it in as `routerConfig` below.\n//\n// routerConfig shape -- verbatim db/seed.sql `score_formulas.config.router` (design \u00a74.1):\n//\n//   {\n//     prefix_map: [\n//       { prefix: \"founder.execution.provenance\", class: \"factual_static\", check: \"gh_provenance\" },\n//       { prefix: \"founder.execution.\",           class: \"factual_static\" },   // no check hint\n//       ...\n//     ],\n//     default_class: \"unverifiable\"\n//   }\n//\n// `check` is optional per entry -- absent on catch-all rows and on classes design \u00a74 marks\n// \"n/a\" (e.g. precomputed). `default_class` is read from routerConfig, not hardcoded, so a\n// future revision of the seed row governs the fail-safe path too; the literal 'unverifiable'\n// below is only the same-shape fallback design \u00a77.5 uses elsewhere for a missing config row\n// (LEFT JOIN + literal fallback, not a second source of truth).\n// ============================================================================\n\n'use strict';\n\n// design \u00a74: \"Six class names, one vocabulary\". This is the fixed OUTPUT enum the design\n// itself defines (not routing data, so it does not carry the drift risk \u00a74.1 warns about --\n// unlike the prefix map, it cannot be re-seeded independently of a design revision). Used only\n// to reject a malformed prefix_map entry's `class`; matches lib/f03/gate.js's VALID_VERDICTS\n// pattern of validating against a design-fixed enum.\nvar VALID_CLASSES = [\n  'factual_static',\n  'factual_dynamic',\n  'qualitative',\n  'forecast',\n  'unverifiable',\n  'precomputed'\n];\n\nvar FALLBACK_DEFAULT_CLASS = 'unverifiable';\n\nfunction isPlainObject(v) {\n  return v !== null && typeof v === 'object' && !Array.isArray(v);\n}\n\nfunction safeWarn(msg) {\n  // Malformed prefix_map entries are dropped and logged, never allowed to silently misroute --\n  // console is a sandbox global, not an import (same guard as lib/f03/gate.js).\n  try {\n    if (typeof console !== 'undefined' && typeof console.warn === 'function') {\n      console.warn('[f05/router] ' + msg);\n    }\n  } catch (_e) { /* logging must never break the router */ }\n}\n\n// Longest-prefix match of `topic` against `routerConfig.prefix_map`. Ties (two entries of\n// equal, maximal prefix length) resolve to whichever appears first in the array -- the design's\n// table has no duplicate-length collisions among its own rows, so this only matters for a\n// malformed or hand-edited map.\nfunction findLongestMatch(topic, prefixMap) {\n  var best = null;\n  for (var i = 0; i < prefixMap.length; i++) {\n    var entry = prefixMap[i];\n    if (!isPlainObject(entry)) continue;\n    if (typeof entry.prefix !== 'string' || entry.prefix.length === 0) continue;\n    if (VALID_CLASSES.indexOf(entry.class) === -1) {\n      safeWarn('prefix_map entry \"' + entry.prefix + '\" has unknown class \"' + entry.class + '\"; skipped');\n      continue;\n    }\n    if (topic.indexOf(entry.prefix) !== 0) continue; // topic does not start with this prefix\n    if (!best || entry.prefix.length > best.prefix.length) best = entry;\n  }\n  return best;\n}\n\n// routeClaimTopic(topic, routerConfig) -> {\n//   class:          one of VALID_CLASSES,\n//   check:          the matched entry's check hint, or null,\n//   matched_prefix: the winning prefix string, or null when nothing matched,\n//   unmatched_topic: true when `topic` matched no prefix_map entry and default_class was used\n// }\n//\n// `unmatched_topic` is the fail-safe-not-fail-silent signal design \u00a74.1 requires: the router\n// itself does not write events (pure function, no I/O), but this flag is what the caller\n// (design \u00a79) uses to emit a `router_unmatched_topic` event -- without it an unrecognised\n// factual topic degrades into a permanent silent gap with no signal that the router simply\n// did not know it (design \u00a74.1's `founder.execution.tech` near-miss is exactly this failure\n// mode, one layer up: a topic that DOES match, but only via a catch-all, must not be confused\n// with one that matches nothing at all).\nfunction routeClaimTopic(topic, routerConfig) {\n  var topicStr = typeof topic === 'string' ? topic : '';\n  var cfg = isPlainObject(routerConfig) ? routerConfig : {};\n  var prefixMap = Array.isArray(cfg.prefix_map) ? cfg.prefix_map : [];\n  var defaultClass = (typeof cfg.default_class === 'string' && cfg.default_class)\n    ? cfg.default_class\n    : FALLBACK_DEFAULT_CLASS;\n\n  var match = topicStr ? findLongestMatch(topicStr, prefixMap) : null;\n\n  if (match) {\n    return {\n      class: match.class,\n      check: match.check != null ? match.check : null,\n      matched_prefix: match.prefix,\n      unmatched_topic: false\n    };\n  }\n\n  return {\n    class: defaultClass,\n    check: null,\n    matched_prefix: null,\n    unmatched_topic: true\n  };\n}\n\n// routeClaims(claims, routerConfig) -> [ { claim_id, topic, class, check, matched_prefix,\n//   unmatched_topic }, ... ]\n//\n// Convenience batch wrapper over routeClaimTopic for the n8n ROUTE Code node (design \u00a711:\n// \"card's claims -> ROUTE (Code node, deterministic table) -> 4 branches\"), which routes every\n// claim on a card in one pass. `claims` elements need only a `topic` field; `claim_id` is\n// echoed through when present so the caller can re-attach the routing decision without a\n// second join. Order is preserved; claims failing to normalize a topic still get a row (routed\n// via `unmatched_topic`), matching the \"fail-safe, not fail-silent\" rule -- no claim is ever\n// silently dropped from the routing pass.\nfunction routeClaims(claims, routerConfig) {\n  var list = Array.isArray(claims) ? claims : [];\n  return list.map(function (claim) {\n    var topic = (isPlainObject(claim) && typeof claim.topic === 'string') ? claim.topic : '';\n    var routed = routeClaimTopic(topic, routerConfig);\n    return {\n      claim_id: isPlainObject(claim) && claim.claim_id != null ? claim.claim_id : null,\n      topic: topic,\n      class: routed.class,\n      check: routed.check,\n      matched_prefix: routed.matched_prefix,\n      unmatched_topic: routed.unmatched_topic\n    };\n  });\n}\n\n// ---- invocation ----\nconst inp = $input.first().json;\nconst ctx = { applicationId: inp.application_id, companyId: inp.company_id, founderIds: inp.founder_ids || [] };\n// design.md SS8.1's company_id restriction on route 3 (trust.js's own\n// scopeClaimsToApplication()) -- the SAME restriction f05-trust-rollup applies before\n// rolling up, applied here BEFORE any check runs, so a founder's OTHER company's claims\n// are never checked or written to under THIS application's run (matching\n// lib/f05/run.js main() step 3's own ordering: \"restrict immediately... THIS restricted\n// set is 'claims in scope' for every count below\").\nconst scoped = scopeClaimsToApplication(inp.rows || [], ctx);\nconst scoped_rows = scoped.map(function (row) {\n  return Object.assign({}, row, { routing: routeClaimTopic(row.topic, inp.router_config) });\n});\nreturn [{ json: { ...inp, scoped_rows } }];\n"
   },
   "id": "36f2f76b-bf76-4197-aefd-02d6a6dc8c75",
   "name": "RESTRICT + ROUTE (trust.js + router.js)",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    1740,
    0
   ],
   "notes": "SOURCE OF TRUTH: lib/f05/trust.js (scopeClaimsToApplication) + lib/f05/router.js (routeClaimTopic) -- do not edit here, edit there and re-paste."
  },
  {
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "const SB = String($env.SUPABASE_URL || '').replace(/\\/rest\\/v1\\/?$/, ''), KEY = $env.SUPABASE_SERVICE_ROLE_KEY;\nasync function pgGet(path) {\n  return await this.helpers.httpRequest({\n    method: 'GET', url: SB + '/rest/v1/' + path,\n    headers: { apikey: KEY, Authorization: 'Bearer ' + KEY }, json: true,\n  });\n}\nconst inp = $input.first().json;\n// design.md SS5.1(b) -- raw_signals ALREADY in the database, grouped downstream so a\n// per-claim lookup is a JS map read, not an N+1 query. Only github_api (earliest commit\n// author date) and hn_algolia (Show HN submission date, the anchor the founder does not\n// control) matter to this check.\nconst companyIds = Array.from(new Set((inp.scoped_rows || []).map(function (r) { return r.card_company_id; }).filter(Boolean)));\nconst founderFilter = (inp.founder_ids && inp.founder_ids.length) ? 'founder_id.in.(' + inp.founder_ids.join(',') + ')' : null;\nconst effectiveCompanyIds = companyIds.length ? companyIds : [inp.company_id];\nconst companyFilter = effectiveCompanyIds.length ? 'company_id.in.(' + effectiveCompanyIds.join(',') + ')' : null;\nconst orParts = [founderFilter, companyFilter].filter(Boolean);\nlet rows = [];\nif (orParts.length) {\n  rows = await pgGet.call(this,\n    'raw_signals?source=in.(github_api,hn_algolia)&select=id,founder_id,company_id,source,source_url,payload' +\n    '&or=(' + orParts.join(',') + ')');\n}\nreturn [{ json: { ...inp, gh_raw_signals: rows || [] } }];\n"
   },
   "id": "25230f68-5028-4942-95f3-d9ad35bcef01",
   "name": "Load raw_signals for gh_provenance",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    2020,
    -220
   ]
  },
  {
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "const SB = String($env.SUPABASE_URL || '').replace(/\\/rest\\/v1\\/?$/, ''), KEY = $env.SUPABASE_SERVICE_ROLE_KEY;\nasync function pgGet(path) {\n  return await this.helpers.httpRequest({\n    method: 'GET', url: SB + '/rest/v1/' + path,\n    headers: { apikey: KEY, Authorization: 'Bearer ' + KEY }, json: true,\n  });\n}\nconst inp = $input.first().json;\nconst claimIds = (inp.scoped_rows || []).map(function (r) { return r.claim_id; });\nlet rows = [];\nif (claimIds.length) {\n  // design.md SS5.1(a) call-site measurement (A3): deck-sourced OR self-reported claims,\n  // carrying a quote. relation=eq.supports is load-bearing (lib/f05/run.js's own comment,\n  // preserved here verbatim): without it a claim whose only quote-bearing row is an\n  // UNRELATED contradicts row (planted by a different check) gets compared against that\n  // instead of its own cited support -- quote_guard's premise is \"does the claim overstate\n  // its OWN citation\", not a second pass over someone else's evidence.\n  rows = await pgGet.call(this,\n    'evidence?select=claim_id,quote_verbatim,source_url,raw_signal_id,created_at,' +\n    'raw_signals(source,payload,founder_id,company_id)' +\n    '&claim_id=in.(' + claimIds.join(',') + ')' +\n    '&relation=eq.supports&quote_verbatim=not.is.null' +\n    '&order=claim_id.asc,created_at.asc');\n}\nconst sourceKindByClaim = new Map((inp.scoped_rows || []).map(function (r) { return [r.claim_id, r.source_kind]; }));\nconst seen = new Set();\nconst candidates = [];\nfor (const row of (rows || [])) {\n  if (seen.has(row.claim_id)) continue; // ordered claim_id,created_at asc -> first row per claim wins (DISTINCT ON equivalent)\n  const rs = row.raw_signals || {};\n  const sourceKind = sourceKindByClaim.get(row.claim_id);\n  if (sourceKind !== 'self_reported' && rs.source !== 'deck_parse') continue;\n  seen.add(row.claim_id);\n  candidates.push(row);\n}\nreturn [{ json: { ...inp, quote_candidates: candidates } }];\n"
   },
   "id": "452322ae-a63a-48e0-9fd0-672256017bdc",
   "name": "Load quote_guard candidates",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    2020,
    0
   ]
  },
  {
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "const SB = String($env.SUPABASE_URL || '').replace(/\\/rest\\/v1\\/?$/, ''), KEY = $env.SUPABASE_SERVICE_ROLE_KEY;\nasync function pgGet(path) {\n  return await this.helpers.httpRequest({\n    method: 'GET', url: SB + '/rest/v1/' + path,\n    headers: { apikey: KEY, Authorization: 'Bearer ' + KEY }, json: true,\n  });\n}\nconst inp = $input.first().json;\n// Entity gate step 2 (registrable-domain match) + human-readable disambiguators for step 1\n// (design.md SS6) -- same lookup lib/f05/run.js's loadEntityContext performs.\nconst companyIds = Array.from(new Set((inp.scoped_rows || []).map(function (r) { return r.card_company_id; }).filter(Boolean)\n  .concat(inp.company_id ? [inp.company_id] : [])));\nconst founderIds = inp.founder_ids || [];\nconst founders = founderIds.length\n  ? await pgGet.call(this, 'founders?id=in.(' + founderIds.join(',') + ')&select=id,full_name') : [];\nconst companies = companyIds.length\n  ? await pgGet.call(this, 'companies?id=in.(' + companyIds.join(',') + ')&select=id,name,domain,aliases') : [];\nreturn [{ json: { ...inp, entity_founders: founders || [], entity_companies: companies || [] } }];\n"
   },
   "id": "45465a2a-ed2e-44a8-952b-0b7b95dd567b",
   "name": "Load entity context (founders + companies)",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    2020,
    220
   ]
  },
  {
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "// SOURCE OF TRUTH: lib/f05/verifiers.js + lib/f05/entity_gate.js + lib/f05/quote_guard.js --\n// pasted verbatim below; edit there and re-run n8n/build-f05-workflow.py. Orchestration\n// beneath the three pastes is a hand-port of lib/f05/run.js's runGithubProvenanceCheck /\n// runQuoteGuardCheck / buildEntityForRow / extractSourceText / main() steps 5-6 -- run.js\n// itself is a Node CLI (requires node:fs/node:crypto/node:child_process, shells out to\n// psql) and is not a zero-import Code-node module eligible for verbatim pasting, so this\n// reproduces its LOGIC faithfully rather than its literal source, cross-checked line by\n// line against the live, QA-verified reference implementation. design.md SS5.1: all four\n// checks here are zero-LLM, external cost NONE -- no network call below besides the\n// PostgREST reads already done upstream.\n\n// globalThis.crypto.subtle IS UNDEFINED inside this n8n build's actual Code-node VM\n// sandbox -- verified live 2026-07-19 while building THIS workflow (TypeError: Cannot\n// read properties of undefined (reading 'subtle'), thrown from lib/f05/verifiers.js's own\n// sha256Hex). This is the SAME class of gap as f05-trust-rollup's crypto.randomUUID\n// finding (README-f05.md), one level deeper: the sandbox exposes neither\n// globalThis.crypto NOR its .subtle property, even though design.md SS10.1 specifies\n// `globalThis.crypto.subtle.digest(...)` and verifiers.js is written exactly to that\n// spec. Rather than editing the frozen module (lib/f05/verifiers.js is out of scope for\n// this task), this line supplies Node's OWN WebCrypto implementation\n// (require('crypto').webcrypto) under the SAME globalThis.crypto name verifiers.js\n// already reads from -- confirmed live to expose an identical .subtle.digest() surface,\n// so evidenceContentHash()/sha256Hex() run completely unmodified. require('crypto') is\n// already allow-listed (infra/n8n/docker-compose.yml's\n// NODE_FUNCTION_ALLOW_BUILTIN=crypto,url).\nglobalThis.crypto = require('crypto').webcrypto;\n\n// lib/f05/verifiers.js\n// SOURCE OF TRUTH: lib/f05/verifiers.js\n//\n// Deterministic, zero-LLM verification checks for feature 05 (Truth-Gap\n// Check & Trust Score), design.md SS5.1(b), SS5.1(c) and SS10.1. Plus the\n// shared evidence-write helper both checks (and lib/f05/entity_gate.js's\n// step-4 downgrade, via lib/f05/run.js -- task B3 -- which wires the two\n// together) rely on to finalise an `evidence` row before it is inserted.\n//\n// Self-contained CommonJS. ZERO imports -- this file's body is pasted\n// verbatim into an n8n Code node; n8n's sandbox cannot require() from the\n// repo. No Date.now(), no Math.random(), no top-level side effects. SHA-256\n// therefore uses the Web Crypto global (`globalThis.crypto.subtle`),\n// available unflagged in Node 22 and in n8n's Code-node sandbox, never\n// `require('crypto')` -- every hashing function here is ASYNC; callers must\n// `await` it (same divergence lib/f02/normalize.js documents against\n// lib/f04/provenance.js and lib/f07/hashes.js, which predate this\n// constraint being confirmed live in an n8n Code node).\n//\n// docs/backlog/05-truth-gap-trust/plan.md, task B2.\n\n'use strict';\n\n// ============================================================================\n// Shared hash helpers -- SS10.1's content_hash recipe.\n//\n// design.md writes the recipe as `sha256(a || b || c || ...)`, concatenation\n// with no delimiter specified. A delimiter IS required (or \"ab\"+\"c\" and\n// \"a\"+\"bc\" collide). This file uses the NUL byte, matching\n// lib/f04/provenance.js's and lib/f07/hashes.js's own reasoning for the\n// identical situation (\"design.md leaves the join character unspecified\" --\n// SS10.1 here likewise never pins one): NUL is vanishingly unlikely to\n// appear in any of the recipe's fields (uuids, enum-like `relation`/\n// `check_id` strings, URLs, and free-text quotes/candidate keys, which --\n// like lib/f04/provenance.js's own `query` field -- are the reason a literal\n// space is not used as the delimiter here).\n// ============================================================================\n\nconst HASH_FIELD_DELIMITER = '\u0000';\n\nasync function sha256Hex(text) {\n  const bytes = new TextEncoder().encode(text);\n  const digest = await globalThis.crypto.subtle.digest('SHA-256', bytes);\n  return Array.from(new Uint8Array(digest))\n    .map((b) => b.toString(16).padStart(2, '0'))\n    .join('');\n}\n\nfunction joinFields(parts) {\n  return parts.map((part) => (part === null || part === undefined ? '' : String(part))).join(HASH_FIELD_DELIMITER);\n}\n\n// evidenceContentHash -- SS10.1's recipe, EXACTLY in this field order:\n//   sha256(claim_id || relation || coalesce(source_url,'') ||\n//          coalesce(quote,'') || check_id || candidate_key)\n//\n// `check_id` and `candidate_key` are the two discriminators SS10.1 adds\n// beyond the schema comment's naive 4-field recipe (claim_id + relation +\n// source_url + quote) -- the same pattern feature 04's provenance.js already\n// established (its own `query` discriminator, added for the identical\n// reason: several rows legitimately share NULL source_url/quote and would\n// otherwise collide on evidence.content_hash's NOT NULL UNIQUE constraint).\n//\n// \u26a0\ufe0f `run_id` must NEVER appear in this recipe (SS10.1, explicit warning):\n// it is unique per execution, so an at-least-once redelivery would produce a\n// NEW hash and a duplicate row -- and a duplicate `contradicts` row doubles\n// contradiction_penalty from 0.30 to 0.60, halving a claim's trust because a\n// webhook fired twice. Nothing below accepts or reads a run_id.\nasync function evidenceContentHash({ claimId, relation, sourceUrl, quote, checkId, candidateKey }) {\n  return sha256Hex(joinFields([claimId, relation, sourceUrl, quote, checkId, candidateKey]));\n}\n\n// ============================================================================\n// buildEvidenceRow -- the evidence-write helper. Takes the logical fields of\n// one `evidence` row and returns it ready for INSERT, snake_case matching\n// the table's own column names (db/schema.sql Task 6) so a caller can spread\n// the result directly into an insert statement.\n//\n// Fails LOUD (throws), not silently, on the two invariants that must never\n// slip through as a caller bug rather than a legitimate absence:\n//   - raw_signal_id is REQUIRED on every row 05 writes (design.md SS2.1):\n//     feature 03's negative-capability guard resolves a claim's source\n//     through evidence.raw_signal_id, falling back to claims.source_kind's\n//     wildcard when it is NULL -- a NULL here silently licenses a `not_met`\n//     verdict on a criterion the evidence says nothing about.\n//   - relation/tier must be one of evidence's own CHECK-constrained enum\n//     values (db/schema.sql), so a typo'd caller fails at construction time,\n//     not as an opaque Postgres 23514 several steps later.\n//\n// strength/quoteVerbatim/sourceUrl are nullable at the column level and stay\n// nullable here; captured_at/id/created_at are DB-assigned defaults and are\n// deliberately never set by this function (the \"no Date.now()\" rule extends\n// to not fabricating a timestamp the database already generates correctly).\n// ============================================================================\n\nconst VALID_RELATIONS = ['supports', 'contradicts', 'context'];\nconst VALID_TIERS = ['documented', 'discovered', 'inferred', 'missing'];\n\nasync function buildEvidenceRow(params) {\n  const p = params || {};\n  if (!p.claimId) throw new Error('buildEvidenceRow: claimId is required');\n  if (VALID_RELATIONS.indexOf(p.relation) === -1) {\n    throw new Error('buildEvidenceRow: relation must be one of ' + VALID_RELATIONS.join('/') + ', got: ' + p.relation);\n  }\n  if (VALID_TIERS.indexOf(p.tier) === -1) {\n    throw new Error('buildEvidenceRow: tier must be one of ' + VALID_TIERS.join('/') + ', got: ' + p.tier);\n  }\n  if (!p.rawSignalId) {\n    // Fail-closed by design (SS2.1) -- see file header. A caller that hits\n    // this has a bug upstream (an unresolved or unpersisted raw_signal),\n    // not a legitimate \"no source\" state: SS10.2 requires Tavily results to\n    // be written to raw_signals FIRST, before any evidence row cites them.\n    throw new Error('buildEvidenceRow: rawSignalId is required on every evidence row this feature writes (design.md SS2.1)');\n  }\n  if (!p.checkId) throw new Error('buildEvidenceRow: checkId is required (SS10.1 content_hash discriminator)');\n\n  // candidateKey defaults to checkId itself for single-candidate-per-claim\n  // checks (SS10.1: \"candidate_key is stable content: the check's own key,\n  // or for entity-gate-failure rows the candidate text itself\"). A check\n  // capable of finding MULTIPLE candidates on one claim (e.g. several\n  // entity-gate failures) must pass an explicit, distinguishing\n  // candidateKey, or the second candidate's insert collides on\n  // content_hash and is silently lost.\n  const candidateKey = p.candidateKey === null || p.candidateKey === undefined || p.candidateKey === '' ? p.checkId : p.candidateKey;\n\n  const contentHash = await evidenceContentHash({\n    claimId: p.claimId,\n    relation: p.relation,\n    sourceUrl: p.sourceUrl,\n    quote: p.quoteVerbatim,\n    checkId: p.checkId,\n    candidateKey: candidateKey,\n  });\n\n  return {\n    claim_id: p.claimId,\n    relation: p.relation,\n    tier: p.tier,\n    strength: p.strength === undefined ? null : p.strength,\n    quote_verbatim: p.quoteVerbatim === undefined ? null : p.quoteVerbatim,\n    source_url: p.sourceUrl === undefined ? null : p.sourceUrl,\n    raw_signal_id: p.rawSignalId,\n    content_hash: contentHash,\n  };\n}\n\n// ============================================================================\n// SS5.1(b) -- GitHub provenance vs. an independent anchor. MVP scope ruling\n// (design.md SS5.1(b)): \"MVP ships exactly one check: earliest commit author\n// date versus the Show HN submission date, both of which are already in\n// raw_signals -- zero new API calls.\"\n//\n// \u26a0\ufe0f Measured against the LIVE database 2026-07-19: no raw_signals row of\n// EITHER shape below is currently populated for the general corpus -- see\n// task report. extractEarliestCommitAuthorDate() is written against the\n// real, documented GitHub REST shape (`GET /repos/{owner}/{repo}/commits`)\n// PLUS the one simplified shape already live in this project's own fixture\n// data (db/fixtures/03-founder-score.sql's `first_commit_at`/\n// `author_account_created_at` \"provenance-spoofing bait\" row -- an unrelated\n// feature-03 red flag, not built by this file, but real proof the simplified\n// shape is a real possibility a future ingestion task might also choose).\n// Both shapes are supported so this check runs correctly the day either one\n// is actually ingested, without a second migration of this file.\n// ============================================================================\n\n// A \"commit object\" per the real GitHub REST commits shape: `{ commit: {\n// author: { date }, committer: { date } }, ... }`. Used only to disambiguate\n// a bare commits array (ONE payload, shape (a)) from a LIST of several\n// payloads passed together (see extractEarliestCommitAuthorDate below) --\n// inspecting the first element is what makes that call ambiguity-free.\nfunction looksLikeCommitObject(x) {\n  return Boolean(x) && typeof x === 'object' && !Array.isArray(x) && x.commit && typeof x.commit === 'object';\n}\n\n// extractEarliestCommitAuthorDate(payloads) -> ISO date string, or null.\n//\n// `payloads`: a raw_signals.payload value, or an array of them, from\n// github_api rows that may carry commit-author-date information, in EITHER\n// of two shapes:\n//   (a) the real GitHub REST commits response: an array of commit objects\n//       `{ commit: { author: { date }, committer: { date } }, ... }`\n//       (author date SURVIVES rebase; committer date does not -- SS5.1(b)).\n//   (b) a single object carrying `first_commit_at` directly (the simplified\n//       shape already live in this project's own fixture data, above).\n// Multiple payloads may be supplied (e.g. paginated commit pages, or several\n// repos); the EARLIEST author date found across ALL of them is returned,\n// matching design's \"earliest commit author date\" phrasing exactly.\n//\n// A bare shape-(a) array IS itself one payload, and a caller passing several\n// payloads together also does so as an array -- looksLikeCommitObject() on\n// the first element is what tells \"this array IS a commits list\" apart from\n// \"this array is a LIST OF payloads, one of which might itself be a commits\n// list\": a commits list's elements satisfy looksLikeCommitObject(); a list\n// of payloads' elements do not (they are themselves either commits arrays or\n// plain shape-(b) objects, never a bare `{ commit: {...} }` at that level).\nfunction extractEarliestCommitAuthorDate(payloads) {\n  let earliestMs = null;\n  let earliestIso = null;\n\n  function consider(dateStr) {\n    if (typeof dateStr !== 'string' || !dateStr) return;\n    const ms = Date.parse(dateStr);\n    if (!Number.isFinite(ms)) return;\n    if (earliestMs === null || ms < earliestMs) {\n      earliestMs = ms;\n      earliestIso = dateStr;\n    }\n  }\n\n  function process(payload) {\n    if (!payload) return;\n    if (Array.isArray(payload)) {\n      if (payload.length > 0 && looksLikeCommitObject(payload[0])) {\n        for (let j = 0; j < payload.length; j++) {\n          const commitObj = payload[j];\n          consider(commitObj && commitObj.commit && commitObj.commit.author && commitObj.commit.author.date);\n        }\n      } else {\n        for (let j = 0; j < payload.length; j++) process(payload[j]);\n      }\n    } else if (typeof payload === 'object') {\n      consider(payload.first_commit_at);\n    }\n  }\n\n  process(payloads);\n  return earliestIso;\n}\n\n// extractShowHnSubmittedAt(payload) -> ISO date string, or null.\n//\n// `payload`: ONE raw_signals.payload value from an hn_algolia row. The live\n// corpus (measured 2026-07-19) carries at least four distinct hn_algolia\n// shapes -- graceful degradation to null on all but the first is deliberate,\n// not a defect:\n//   - a real Algolia \"story\" hit tagged `show_hn` in `_tags`, carrying\n//     `created_at` (ISO) and `created_at_i` (unix seconds) -- the shape this\n//     function extracts from.\n//   - a comment hit (`comment_text`/`parent_item`) -- not a submission at\n//     all, returns null.\n//   - a synthesized stub row (`{ note, hn_username }` or\n//     `{ story_title, points }`) recorded when the identity was inferred\n//     rather than queried live via the Algolia API -- carries no submission\n//     timestamp, returns null.\nfunction extractShowHnSubmittedAt(payload) {\n  if (!payload || typeof payload !== 'object' || Array.isArray(payload)) return null;\n  const tags = Array.isArray(payload._tags) ? payload._tags : [];\n  if (tags.indexOf('show_hn') === -1) return null;\n  if (typeof payload.created_at === 'string' && payload.created_at) return payload.created_at;\n  if (typeof payload.created_at_i === 'number' && Number.isFinite(payload.created_at_i)) {\n    return new Date(payload.created_at_i * 1000).toISOString();\n  }\n  return null;\n}\n\n// \"Months\" (design.md SS5.1(b): \"a repository whose earliest commit\n// postdates the company's first public trace by MONTHS is the finding\") is\n// not pinned to an exact number anywhere in design.md. 60 days (~2 months)\n// is this file's own choice: conservative enough that ordinary noise (a\n// private repo made public a few weeks after its Show HN post, or a Show HN\n// post describing a private beta that predates the public repo) does not\n// trip it, while still catching a genuine multi-month gap. Configurable via\n// the `thresholdDays` param -- not re-litigated as a hardcoded assumption.\nconst GH_PROVENANCE_GAP_THRESHOLD_DAYS = 60;\n\nconst MS_PER_DAY = 24 * 60 * 60 * 1000;\n\n// checkGithubProvenance({ commitPayloads, hnPayloads, thresholdDays }) ->\n//   {\n//     checkId: 'gh_provenance',   -- matches design.md SS4.1's router\n//                                    prefix_map `check` value verbatim\n//     status: 'insufficient_data' | 'clean' | 'flagged',\n//     earliestCommitAuthorDate, showHnSubmittedAt: ISO string | null,\n//     gapDays: number | null,    -- earliest commit author date MINUS Show\n//                                   HN date, in days; positive = commit\n//                                   postdates the public trace (suspicious)\n//     relation: 'supports' | 'contradicts' | null,\n//     tier: 'documented' | null, -- Tier-1 per design.md SS6.0 (\"commits,\n//                                   direct codebase inspection\")\n//     summary: string | null,   -- quote_verbatim-ready sentence; contains\n//                                   the FIXED phrase verbatim when flagged\n//   }\n//\n// \u26a0\ufe0f Output phrasing is FIXED (team lead instruction, restating design.md\n// SS5.1(b)): \"consistent with a rewritten or imported history\" -- NEVER an\n// accusation. Both git timestamps are fully user-controlled\n// (`git commit --date`) and a squash performed before the first push is not\n// observable at all -- the honest phrasing is part of the product, not a\n// hedge. `status: 'clean'` produces relation:'supports' -- a repository\n// whose earliest commit genuinely predates its own public trace is real,\n// checkable confirmation of honest provenance, at the same Tier-1 strength\n// as a flagged finding would have been.\nfunction checkGithubProvenance(params) {\n  const p = params || {};\n  const thresholdDays = typeof p.thresholdDays === 'number' && p.thresholdDays >= 0 ? p.thresholdDays : GH_PROVENANCE_GAP_THRESHOLD_DAYS;\n\n  const earliestCommitAuthorDate = extractEarliestCommitAuthorDate(p.commitPayloads);\n\n  const hnList = Array.isArray(p.hnPayloads) ? p.hnPayloads : [p.hnPayloads];\n  let showHnSubmittedAt = null;\n  for (let i = 0; i < hnList.length; i++) {\n    const candidate = extractShowHnSubmittedAt(hnList[i]);\n    if (candidate && (showHnSubmittedAt === null || Date.parse(candidate) < Date.parse(showHnSubmittedAt))) {\n      showHnSubmittedAt = candidate;\n    }\n  }\n\n  if (!earliestCommitAuthorDate || !showHnSubmittedAt) {\n    // \"The check ran and found nothing definitive\" -- SS9's\n    // claim_verification_attempted event still needs to be written by the\n    // caller (task B3 owns that), this function only reports the fact.\n    return {\n      checkId: 'gh_provenance',\n      status: 'insufficient_data',\n      earliestCommitAuthorDate: earliestCommitAuthorDate,\n      showHnSubmittedAt: showHnSubmittedAt,\n      gapDays: null,\n      relation: null,\n      tier: null,\n      summary: null,\n    };\n  }\n\n  const gapDays = Math.round((Date.parse(earliestCommitAuthorDate) - Date.parse(showHnSubmittedAt)) / MS_PER_DAY);\n  const flagged = gapDays > thresholdDays;\n\n  const summary = flagged\n    ? 'Earliest commit author date (' + earliestCommitAuthorDate + ') is ' + gapDays +\n      \" day(s) after the company's earliest independent public trace (Show HN submission, \" + showHnSubmittedAt +\n      ') -- consistent with a rewritten or imported history.'\n    : 'Earliest commit author date (' + earliestCommitAuthorDate +\n      \") predates or closely precedes the company's earliest independent public trace (Show HN submission, \" +\n      showHnSubmittedAt + '); no rewritten-history signature detected.';\n\n  return {\n    checkId: 'gh_provenance',\n    status: flagged ? 'flagged' : 'clean',\n    earliestCommitAuthorDate: earliestCommitAuthorDate,\n    showHnSubmittedAt: showHnSubmittedAt,\n    gapDays: gapDays,\n    relation: flagged ? 'contradicts' : 'supports',\n    tier: 'documented',\n    summary: summary,\n  };\n}\n\n// ============================================================================\n// SS5.1(c) -- denominator extraction. The Presto/SEC lesson: \"95% without\n// intervention\" turned out to mean without intervention BY RESTAURANT\n// STAFF -- the number was real, the definition/denominator was misleading.\n// No denominator -> the claim cannot reach `verified`; it caps at\n// `unverified` and generates a deep-dive question. Deterministic, zero-LLM,\n// per design.md SS5.1's own \"all zero-LLM\" framing for this sub-check list.\n//\n// Scope, stated plainly (this is a text-pattern proxy, not semantic\n// understanding, and both limits below are deliberate rather than\n// oversights):\n//   - Only `%`-sign rate/percentage claims are covered. \"X per Y\" / \"X out\n//     of Y\" ratio phrasing without a % sign is not extracted (cut from MVP,\n//     same \"cut\" framing as SS5.1(d)'s vanity-metric check).\n//   - Exactly 0% and 100% are treated as BOUNDARY/absolute claims (\"100%\n//     offline\", \"100% private\", \"100% free\" -- all real, common phrasings in\n//     this project's own corpus, describing an architecture property, not a\n//     sampled rate) and are excluded from denominator-checking entirely.\n//     Only percentages strictly between 0 and 100 imply an underlying\n//     measured sample that could have a hidden denominator -- consistent\n//     with the Presto example itself (95%, strictly in range).\n//   - \"Has a denominator\" is approximated as \"a bare number (not itself\n//     followed by %) appears within a character window around the\n//     percentage\" -- e.g. \"40% of our 1,200 beta users\" finds \"1,200\";\n//     \"94% fraud-catch accuracy -- well above the roughly 70% typical of...\"\n//     finds NEITHER number a denominator for the other, because both are\n//     themselves %-attached. This heuristic can be fooled by an unrelated\n//     nearby number (a year, a dollar figure) -- a deliberate, documented\n//     simplicity-over-precision tradeoff for a zero-LLM check: an overly\n//     permissive match only means THIS gate does not additionally cap the\n//     claim -- every other REQ-004 guard (entity gate, tier requirements,\n//     router class gating, SS7.4's verdict table) still applies, so the\n//     blast radius of a false \"denominator found\" reading is bounded.\n// ============================================================================\n\nconst DENOMINATOR_WINDOW_CHARS = 200;\nconst DENOMINATOR_BOUNDARY_VALUES = Object.freeze([0, 100]);\n\n// A number NOT immediately followed by (optional whitespace +) '%'. The two\n// negative lookarounds -- (?<!\\d) before, (?![\\d.]) after -- prevent matching\n// a truncated PREFIX of a percentage's own digits (e.g. \"9\" out of \"94%\", or\n// \"0\" out of \"0.3%\") via quantifier backtracking; without them a percentage\n// figure would spuriously \"find\" a denominator inside itself.\nconst BARE_NUMBER_RE = /(?<!\\d)(\\d[\\d,]*(?:\\.\\d+)?)(?![\\d.])(?!\\s?%)/;\n\nfunction extractDenominator(text, options) {\n  const opts = options || {};\n  const windowChars = typeof opts.windowChars === 'number' ? opts.windowChars : DENOMINATOR_WINDOW_CHARS;\n  const boundaryValues = Array.isArray(opts.boundaryValues) ? opts.boundaryValues : DENOMINATOR_BOUNDARY_VALUES;\n  const source = typeof text === 'string' ? text : '';\n\n  const matches = [];\n  const percentRe = /(\\d+(?:\\.\\d+)?)\\s?%/g;\n  let m;\n  while ((m = percentRe.exec(source)) !== null) {\n    const raw = m[0];\n    const value = parseFloat(m[1]);\n    if (boundaryValues.indexOf(value) !== -1) continue; // boundary/absolute claim, not a sampled rate\n\n    const start = Math.max(0, m.index - windowChars);\n    const end = Math.min(source.length, m.index + raw.length + windowChars);\n    const window = source.slice(start, m.index) + source.slice(m.index + raw.length, end);\n\n    const bareMatch = BARE_NUMBER_RE.exec(window);\n    const hasDenominator = Boolean(bareMatch);\n\n    matches.push({\n      raw: raw,\n      value: value,\n      hasDenominator: hasDenominator,\n      denominatorExcerpt: hasDenominator ? bareMatch[0] : null,\n      deepDiveQuestion: hasDenominator\n        ? null\n        : 'What is the denominator behind \"' + raw + '\" -- ' + value + '% of what, measured against which sample size, population, or time window?',\n    });\n  }\n\n  return {\n    hasPercentageClaim: matches.length > 0,\n    matches: matches,\n    // A single denominator-less rate claim is enough to cap the WHOLE claim\n    // (design.md: \"the claim cannot reach verified\") -- this is a per-CLAIM\n    // (i.e. per claims.text_verbatim row) analysis, not per-number.\n    cappedAtUnverified: matches.some(function (x) { return !x.hasDenominator; }),\n    deepDiveQuestions: matches.filter(function (x) { return !x.hasDenominator; }).map(function (x) { return x.deepDiveQuestion; }),\n  };\n}\n\n// lib/f05/entity_gate.js\n// SOURCE OF TRUTH: lib/f05/entity_gate.js\n//\n// The entity-resolution gate for feature 05 (Truth-Gap Check & Trust Score),\n// design.md SS6 (all subsections). This is the structural guard against the\n// >80% false-contradiction rate REFNLI measured when evidence context does\n// not actually match the claim's subject (a deck claim checked against a\n// page about a similarly-named company): \"No `contradicted` verdict may be\n// written until the evidence is proven to be about this entity.\"\n//\n// Self-contained CommonJS. ZERO imports -- this file's body is pasted\n// verbatim into an n8n Code node (plan.md Wave T0's binding rule #3); n8n's\n// sandbox cannot require() from the repo (no bind-mount). No Date.now(), no\n// Math.random(), no top-level side effects -- every function here is a pure\n// function of its arguments except step 3's optional model hook, which is an\n// injected async callback the caller supplies.\n//\n// docs/backlog/05-truth-gap-trust/plan.md, task B2.\n//\n// ============================================================================\n// The four ordered, fail-closed steps (design.md SS6):\n//   1. evidence.raw_signal_id carries a founder_id/company_id FK matching the\n//      claim's own entity -> resolved by construction.\n//   2. else the source's registrable domain matches companies.domain or an\n//      entry in companies.aliases.\n//   3. else an injected model hook may return an explicit entity_match\n//      (verbatim quote + disambiguator) -- THIS STEP IS OWNED BY TASK C1b.\n//      applyEntityGate() only defines and validates the hook's CONTRACT; the\n//      hook itself is not implemented here and is optional (omit/undefined\n//      to skip step 3 entirely and fall straight through to step 4).\n//   4. else -> downgrade `contradicted` to `unverified` and produce an\n//      auditable `context` evidence row recording that a contradiction\n//      candidate failed the gate. The candidate is never silently dropped.\n//\n// Only CONTRADICTION candidates ever reach this gate. `supports` evidence\n// carries no false-accusation risk against a founder and is not gated here\n// (design.md SS6.0's entity hierarchy and SS6's >80%-false-contradiction\n// citation are both specifically about mistakenly REFUTING a claim against\n// the wrong entity -- corroborating the wrong entity is not the failure mode\n// this feature exists to prevent, and 04/07 already write unguarded\n// `supports` rows on their own claims). Callers must not route `supports`\n// candidates through this gate.\n//\n// ============================================================================\n// Integration contract with lib/f05/verifiers.js (deliberately NOT required\n// here -- both files must stay zero-import, per plan.md's binding rule):\n// on a step-4 downgrade, `contextRowFields` below is the set of fields\n// verifiers.buildEvidenceRow() needs to finalise (compute content_hash) and\n// insert. Fields are camelCase here to match buildEvidenceRow's own param\n// names; the caller (lib/f05/run.js, task B3, which MAY require() freely)\n// is what actually wires the two modules together:\n//\n//   const gate = await applyEntityGate({ claimId, candidate, rawSignal, entity });\n//   if (!gate.resolved) {\n//     const row = await verifiers.buildEvidenceRow(gate.contextRowFields);\n//     // ... INSERT row into `evidence` ...\n//   }\n// ============================================================================\n\n'use strict';\n\n// ============================================================================\n// Registrable-domain (eTLD+1) extraction -- step 2's \"registrable domain\"\n// comparison. Duplicated in this file rather than shared with\n// lib/f05/verifiers.js or any other feature's lib/*/normalize.js, because\n// every SOURCE-OF-TRUTH file in this repo must stay independently\n// zero-import (see lib/f07/hashes.js's header for the identical rationale\n// re: duplicating lib/f04/provenance.js's contentHash pattern instead of\n// requiring it).\n//\n// Accepts EITHER a full URL (\"https://blog.photoai.com/post\") or a bare\n// hostname (\"photoai.com\", the shape companies.domain and companies.aliases\n// entries are stored in per the live schema -- see design.md SS6, \"the\n// source's registrable domain matches companies.domain or an entry in\n// companies.aliases\"). Reduces to eTLD+1 so a subdomain (blog.photoai.com)\n// still matches the bare company domain (photoai.com).\n// ============================================================================\n\n// Common two-label public suffixes (co.uk, com.au, ...) where the\n// registrable domain is the LAST THREE labels, not the last two. Same short,\n// deliberately-not-exhaustive list as lib/f02/normalize.js's\n// TWO_LABEL_SUFFIX_SECOND_LEVEL / lib/f04/provenance.js's\n// TWO_LABEL_PUBLIC_SUFFIXES -- a full public-suffix-list dependency is out of\n// scope for a zero-import file, and this project's candidate pool (pre-seed\n// startups, `.example`/`.com`/`.ai`/`.io`-style domains) rarely needs more.\nconst TWO_LABEL_PUBLIC_SUFFIXES = Object.freeze([\n  'co.uk', 'org.uk', 'ac.uk', 'gov.uk',\n  'com.au', 'net.au', 'org.au',\n  'co.nz', 'co.za', 'co.in', 'co.jp', 'co.kr', 'com.br', 'com.mx',\n]);\n\nfunction hostFromUrlOrHost(urlOrHost) {\n  if (!urlOrHost) return null;\n  let raw = String(urlOrHost).trim().toLowerCase();\n  if (!raw) return null;\n  if (!raw.includes('://')) raw = 'http://' + raw;\n  let host;\n  try {\n    host = new URL(raw).hostname.toLowerCase();\n  } catch (_e) {\n    return null;\n  }\n  if (host.startsWith('www.')) host = host.slice(4);\n  return host || null;\n}\n\n// registrableDomain(urlOrHost) -> eTLD+1, or null for empty/unparseable\n// input or a bare host with no dot at all (e.g. \"localhost\").\nfunction registrableDomain(urlOrHost) {\n  const host = hostFromUrlOrHost(urlOrHost);\n  if (!host || !host.includes('.')) return null;\n  const labels = host.split('.');\n  if (labels.length >= 3) {\n    const lastTwo = labels.slice(-2).join('.');\n    if (TWO_LABEL_PUBLIC_SUFFIXES.indexOf(lastTwo) !== -1) {\n      return labels.slice(-3).join('.');\n    }\n  }\n  return labels.slice(-2).join('.');\n}\n\n// domainMatchesEntity(sourceUrl, entity) -> the matched registrable domain\n// string, or null. entity.companyDomain and each entry of\n// entity.companyAliases are themselves normalised through registrableDomain()\n// before comparing, so a domain stored with a stray \"www.\" or different\n// casing still matches.\nfunction domainMatchesEntity(sourceUrl, entity) {\n  const candidateDomain = registrableDomain(sourceUrl);\n  if (!candidateDomain) return null;\n\n  const companyDomain = registrableDomain(entity && entity.companyDomain);\n  if (companyDomain && companyDomain === candidateDomain) return companyDomain;\n\n  const aliases = entity && Array.isArray(entity.companyAliases) ? entity.companyAliases : [];\n  for (let i = 0; i < aliases.length; i++) {\n    const aliasDomain = registrableDomain(aliases[i]);\n    if (aliasDomain && aliasDomain === candidateDomain) return aliasDomain;\n  }\n  return null;\n}\n\n// ============================================================================\n// applyEntityGate -- the four ordered steps.\n//\n// Params:\n//   claimId:   uuid -- the claim the candidate contradicts, carried through\n//              into contextRowFields.claimId on a step-4 downgrade.\n//   candidate: {\n//     sourceUrl: string|null,  -- the contradicting evidence's own source_url\n//     quote:     string,       -- verbatim finding text (found_reality); also\n//                                 what becomes quote_verbatim on downgrade\n//     tier:      'documented'|'discovered'|'inferred'|'missing' -- the\n//                                 candidate's OWN evidence tier, passed\n//                                 through unchanged (the gate governs WHETHER\n//                                 a contradiction may stand, not what tier the\n//                                 underlying evidence carries)\n//   }\n//   rawSignal: { id, founderId, companyId } | null -- the raw_signals row the\n//              candidate evidence was resolved through via evidence\n//              .raw_signal_id (SS2.1). null when no raw_signal is reachable\n//              (step 1 then simply does not resolve; step 2 is still tried).\n//   entity:    {\n//     founderId:      uuid|null, -- the CLAIM's own founder (from its card)\n//     companyId:      uuid|null, -- the CLAIM's own company (from its card)\n//     founderName:    string|null (optional, for a human-readable disambiguator)\n//     companyName:    string|null (optional, ditto)\n//     companyDomain:  string|null,\n//     companyAliases: string[]|undefined,\n//   }\n//   matchWithLlm: optional async (candidate, entity) => { quote, disambiguator }\n//              | null -- step 3's hook. THIS IS THE C1b-OWNED INTERFACE: when\n//              omitted/undefined, step 3 is skipped entirely and the gate\n//              falls straight to step 4. When supplied, applyEntityGate only\n//              validates the STRUCTURAL shape of what it returns (both\n//              fields present and non-empty) -- verifying the quote is truly\n//              verbatim against the model's own source text is the agent's\n//              own constrained-generation responsibility (design.md SS11.1:\n//              \"may only answer from a supplied quote\"), not re-derived here\n//              because this module has no access to that source text.\n//\n// Returns (always synchronously-shaped, but the function itself is async\n// because step 3's hook may be):\n//   {\n//     resolved:        boolean,\n//     entityMatch:     { resolved_by, quote, disambiguator } | null,  -- \u00a76.1\n//     downgradedTo:    'unverified' | null,\n//     contextRowFields: null | {\n//       claimId, relation: 'context', tier, quoteVerbatim, sourceUrl,\n//       rawSignalId, checkId: 'entity_gate', candidateKey,\n//     },\n//   }\n// ============================================================================\n\nfunction resolvedResult(resolvedBy, quote, disambiguator) {\n  return {\n    resolved: true,\n    entityMatch: { resolved_by: resolvedBy, quote: quote, disambiguator: disambiguator },\n    downgradedTo: null,\n    contextRowFields: null,\n  };\n}\n\nasync function applyEntityGate(params) {\n  const claimId = params && params.claimId;\n  const candidate = (params && params.candidate) || {};\n  const rawSignal = (params && params.rawSignal) || null;\n  const entity = (params && params.entity) || {};\n  const matchWithLlm = params && params.matchWithLlm;\n\n  // ---- Step 1: raw_signal_id FK resolution -------------------------------\n  // Only an EXACT match resolves by construction. A raw_signal carrying a\n  // conflicting FK (present, but pointing at a DIFFERENT founder/company than\n  // this claim) does not fail the gate outright here -- it simply does not\n  // resolve at step 1, and falls through to step 2's domain check, which may\n  // still legitimately confirm the same entity by a different route. This is\n  // the conservative reading: design.md SS6 lists exactly one condition for\n  // step 1 to resolve (\"carries a founder_id/company_id FK\"), and does not\n  // specify an early-fail branch for a mismatching FK, so this file does not\n  // invent one.\n  if (rawSignal) {\n    if (rawSignal.founderId && entity.founderId && rawSignal.founderId === entity.founderId) {\n      return resolvedResult('raw_signal_fk', candidate.quote, entity.founderName || entity.founderId);\n    }\n    if (rawSignal.companyId && entity.companyId && rawSignal.companyId === entity.companyId) {\n      return resolvedResult('raw_signal_fk', candidate.quote, entity.companyName || entity.companyId);\n    }\n  }\n\n  // ---- Step 2: registrable-domain match -----------------------------------\n  const matchedDomain = domainMatchesEntity(candidate.sourceUrl, entity);\n  if (matchedDomain) {\n    return resolvedResult('domain', candidate.quote, matchedDomain);\n  }\n\n  // ---- Step 3: injected model hook (owned by task C1b; optional here) ----\n  if (typeof matchWithLlm === 'function') {\n    const llmResult = await matchWithLlm(candidate, entity);\n    if (\n      llmResult &&\n      typeof llmResult.quote === 'string' && llmResult.quote.trim() &&\n      typeof llmResult.disambiguator === 'string' && llmResult.disambiguator.trim()\n    ) {\n      return resolvedResult('llm_quote', llmResult.quote, llmResult.disambiguator);\n    }\n    // A hook that returned null/undefined/malformed output means \"the model\n    // could not resolve it\" -- falls through to step 4, same as no hook at\n    // all. This is NOT an error: an honest \"no match\" is exactly what step 4\n    // exists to record.\n  }\n\n  // ---- Step 4: downgrade + auditable context row -------------------------\n  // The candidate is never silently dropped -- contextRowFields carries the\n  // candidate's own text into quote_verbatim (SS10.1: \"for entity-gate-\n  // failure rows the candidate text itself, which also goes in\n  // quote_verbatim\"), so the attempt remains queryable even though it may\n  // never become a `contradicted` verdict.\n  return {\n    resolved: false,\n    entityMatch: null,\n    downgradedTo: 'unverified',\n    contextRowFields: {\n      claimId: claimId,\n      relation: 'context',\n      tier: candidate.tier,\n      quoteVerbatim: candidate.quote,\n      sourceUrl: candidate.sourceUrl == null ? null : candidate.sourceUrl,\n      rawSignalId: rawSignal ? rawSignal.id : null,\n      checkId: 'entity_gate',\n      // candidateKey is the candidate's own text (SS10.1) -- this is what\n      // keeps two DIFFERENT failed candidates on the SAME claim from\n      // colliding on content_hash once verifiers.buildEvidenceRow() hashes\n      // this row (claim_id + relation='context' + check_id='entity_gate'\n      // alone would be identical across every failed candidate on a claim).\n      candidateKey: candidate.quote,\n    },\n  };\n}\n\n// SOURCE OF TRUTH: lib/f05/quote_guard.js\n//\n// Deterministic quote-salience mismatch guard -- feature 05 (Truth-Gap Check\n// & Trust Score), design.md \u00a75.1(a) \"factual_static\" branch (a).\n//\n// JS port of `extract_salient_tokens` / `quote_salience_mismatches` from\n// internal/other-projects/due-diligence-agents/src/dd_agents/validation/\n// quote_guard.py -- Copyright the due-diligence-agents authors, licensed\n// Apache License 2.0 (see that project's LICENSE). Porting under Apache 2.0\n// requires attribution; a repo-root NOTICE covering this and the project's\n// other Apache-2.0-derived ports is handled by a separate task -- do not\n// remove this notice or the one below without updating that NOTICE too.\n//\n// Why this exists (design.md \u00a75.1(a)): fuzzy citation matching at ~0.85\n// similarity verifies a quote *roughly* appears in its source, but because it\n// scores the best-aligning substring window, it also waves through small but\n// MATERIAL adversarial edits -- \"90 days\" -> \"30 days\", \"$2,000,000\" ->\n// \"$5,000,000\", a flipped negation (\"shall indemnify\" -> \"shall not\n// indemnify\") -- all of which score 0.93-0.99 and pass. This module closes\n// that blind spot: extract the *salient* tokens (currency, durations,\n// percentages, negation) from a claim's quote and require each to be\n// supported by the cited source text. A salient token present in the quote\n// but unsupported by the source is a POSITIVE contradiction signature, not\n// merely a non-match.\n//\n// Ported choices, faithful to the Python original (design.md \u00a75.1(a), load-bearing):\n//   - +/-5% numeric tolerance for currency/percent (\"rounding and magnitude\n//     phrasing are not fabrication\")\n//   - +/-15% tolerance for durations specifically -- looser than the +/-5%\n//     numeric default because cross-unit conversion (month=~30d, year=~365d)\n//     is approximate, so e.g. \"4 weeks\" (28d) must not be flagged against\n//     \"1 month\" (30d)\n//   - directional, WINDOWED, POSITIVE-ASSERTION negation check -- flags only\n//     when the QUOTE asserts a negation whose predicate the source\n//     POSITIVELY RESTATES (not merely fails to echo) in the region aligned\n//     to that quote (+/-240 chars), never the reverse (source negates, quote\n//     doesn't). The positive-assertion requirement is a post-port tightening\n//     (Finding 2(b) above), not part of the original Python's rule\n//   - deliberately narrow strong-negation regex, excluding bare \"no\" so it\n//     does not fire on \"no later than\" / \"no less than\"\n//\n// All four branches from the Python original are ported: currency, duration,\n// percent, negation. (An earlier draft of this file scoped the duration\n// branch out per an unmeasured \"durations are rare in this corpus\" assumption\n// in design.md \u00a75.1(a) -- the team lead reversed that call 2026-07-19 after\n// this port's own STEP 0 measurement showed 44 live claims with quotes, and\n// because \"90 days\" -> \"30 days\" is the source module's own canonical\n// fabrication example. design.md is being updated to match.)\n//\n// Fixed while porting (not a load-bearing design choice, a plain parsing\n// bug): the Python `_currency_to_float` strips a currency suffix with\n// `re.sub(r\"(?:m|million)$\", \"\", s)` etc. -- for a two-letter \"MM\" suffix\n// (e.g. \"$50MM\") that regex's own alternation order only removes the single\n// trailing \"m\", leaving \"50m\", so `float(\"50m\")` throws and the amount\n// silently drops out of the comparison. `currencyToFloat` below strips the\n// matched suffix as one unit (longest alternative first) so \"MM\" resolves to\n// the same $50,000,000 as \"$50M\" / \"$50 million\".\n//\n// Fixed post-port, 2026-07-19, per QA pass Finding 2(a) (not a load-bearing\n// design choice, a plain parsing bug): the single-value CURRENCY_RE /\n// DURATION_RE / PERCENT_RE below only bind a unit/suffix to the number\n// immediately adjacent to it, so a range like \"$1-2 million\" tokenized as a\n// bare, unit-less \"$1\" (the \"million\" belongs to the SECOND number) while\n// \"12-18 months\" tokenized as a bare \"12\" plus a unit-bound \"18 months\" --\n// silently discarding the TRUE point figure a source reports inside that\n// range as an unsupported, contradiction-flagged fabrication. Fixed by\n// matching a range as one token first (CURRENCY_RANGE_RE / DURATION_RANGE_RE\n// / PERCENT_RANGE_RE below), recording its span so the single-value regexes\n// never re-tokenize its low/high numbers as bare values, and treating the\n// claim as supported when the source's point value falls inside\n// [low, high] (each edge still getting the type's usual tolerance).\n//\n// Fixed post-port, 2026-07-19, per QA pass Finding 2(b) (a real behavioural\n// divergence from the Python original, not a load-bearing design choice):\n// the negation check originally fired whenever the source window simply\n// failed to RESTATE the quote's negation -- which is the normal case, since\n// an independently-collected source rarely repeats a claim's exact wording,\n// let alone its negative phrasing. That fired on ordinary, true, pre-seed\n// disclosures (\"The company does not currently generate revenue\") the\n// instant the (correct, unrelated) source didn't happen to say the same\n// thing. Tightened to require a POSITIVE assertion: the quote's negation\n// predicate (e.g. \"indemnify\" in \"shall not indemnify\") must appear in some\n// sentence of the aligned source window WITHOUT a negation cue of its own --\n// i.e. the source itself asserts the opposite -- before it is flagged. See\n// `negationPredicateWords` below.\n//\n// Zero imports -- this file is inlined verbatim into an n8n Code node by\n// n8n/build-f05-workflow.py (n8n cannot `require()` from this repo, no\n// bind-mount). Self-contained CommonJS, no `require()`, no `Date.now()`, no\n// `Math.random()`, no top-level side effects. Pure functions only.\n\n'use strict';\n\n// ============================================================================\n// Tunables\n// ============================================================================\n\n// Relative tolerance for numeric/currency/percent support (rounding !=\n// fabrication).\nconst NUMERIC_TOLERANCE = 0.05;\n\n// Cross-unit duration comparison (month=~30d, year=~365d) is approximate, so\n// durations use a looser tolerance than exact currency/percent figures --\n// \"4 weeks\" (28d) must not be flagged against \"1 month\" (30d).\nconst DURATION_TOLERANCE = 0.15;\n\n// Currency like $1,200,000 / $1.2M / $904K / $3 billion / $50MM. The\n// magnitude suffix requires a trailing word boundary so it never swallows\n// the leading letter of a following word (e.g. the \"m\" of \"monthly\" must NOT\n// inflate $50,000 to $50B).\nconst CURRENCY_RE = /\\$\\s*[\\d,]+(?:\\.\\d+)?(?:\\s*(?:m|b|k|mm|million|billion|thousand)\\b)?/gi;\n\n// Durations like \"90 days\", \"12 months\", \"3 years\", \"6 weeks\".\nconst DURATION_RE = /\\b(\\d+)\\s+(day|days|month|months|year|years|week|weeks)\\b/gi;\n\n// Percentages like \"15%\" or \"15 %\".\nconst PERCENT_RE = /\\b(\\d+(?:\\.\\d+)?)\\s*%/g;\n\n// Numeric ranges -- \"$1-2 million\", \"10-15%\", \"12-18 months\" -- matched as a\n// SINGLE token, low and high sharing one trailing unit/suffix. See the file\n// header's Finding 2(a) divergence note: without these, the single-value\n// regexes above mis-tokenize a range's low bound as bare and unit-less.\n// Matched BEFORE (and its span excluded from) the single-value regexes.\nconst CURRENCY_RANGE_RE = /\\$\\s*([\\d,]+(?:\\.\\d+)?)\\s*[-\u2013]\\s*([\\d,]+(?:\\.\\d+)?)(?:\\s*(m|b|k|mm|million|billion|thousand)\\b)?/gi;\nconst DURATION_RANGE_RE = /\\b(\\d+)\\s*[-\u2013]\\s*(\\d+)\\s+(day|days|month|months|year|years|week|weeks)\\b/gi;\nconst PERCENT_RANGE_RE = /\\b(\\d+(?:\\.\\d+)?)\\s*[-\u2013]\\s*(\\d+(?:\\.\\d+)?)\\s*%/g;\n\n// STRONG negation / liability-flip cues only. Deliberately EXCLUDES bare \"no\"\n// (which fires on innocuous comparison phrases like \"no later than\", \"no\n// less than\", \"at no additional cost\") and \"without\"/\"except\"/\"none\". Flags a\n// negation mismatch ONLY when the quote asserts one of these strong\n// negations that appears NOWHERE in the cited source -- a near-certain\n// fabrication signal with effectively zero false positives.\nconst NEGATION_RE = new RegExp(\n  '(?:\\\\b(?:shall|will|would|may|can|must|does|do|is|are|was|were|has|have)\\\\s+not\\\\b'\n  + \"|\\\\b(?:cannot|won't|can't|shan't|isn't|aren't|wasn't|weren't|doesn't|don't|didn't|hasn't|haven't|wouldn't|couldn't|shouldn't)\\\\b\"\n  + '|\\\\bno\\\\s+(?:obligation|liability|liabilities|right|rights|warrant(?:y|ies)|refund|indemnit)'\n  + '|\\\\bnot\\\\s+(?:liable|entitled|obligated|responsible|permitted|required|bound)\\\\b'\n  + '|\\\\bnever\\\\b)',\n  'i',\n);\n\n// ============================================================================\n// Normalization\n// ============================================================================\n\n// NFKC-normalize, collapse whitespace, fold curly apostrophes, lowercase.\n// Curly apostrophes (U+2019 RIGHT SINGLE QUOTATION MARK, U+02BC MODIFIER\n// LETTER APOSTROPHE) are folded to ASCII \"'\" so contraction-based negations\n// (\"won't\", \"isn't\") match regardless of the document's typography.\nfunction normalize(text) {\n  const nfkc = String(text).normalize('NFKC');\n  const foldedApostrophes = nfkc.replace(/\u2019/g, \"'\").replace(/\u02bc/g, \"'\");\n  return foldedApostrophes.replace(/\\s+/g, ' ').trim().toLowerCase();\n}\n\n// ============================================================================\n// Currency parsing\n// ============================================================================\n\n// Parse a currency match (e.g. \"$1.2M\", \"$50MM\") to a float dollar value.\n// Longest-alternative-first ('mm'/'million' checked before bare 'm', etc.) so\n// a multi-letter suffix is stripped as one unit -- see the file header note\n// on the Python original's single-character-strip bug this avoids.\nfunction currencyToFloat(raw) {\n  let s = raw.toLowerCase().replace(/\\$/g, '').replace(/,/g, '').trim();\n  let multiplier = 1.0;\n  if (/(?:mm|million)$/.test(s)) {\n    s = s.replace(/(?:mm|million)$/, '').trim();\n    multiplier = 1_000_000.0;\n  } else if (s.endsWith('m')) {\n    s = s.slice(0, -1).trim();\n    multiplier = 1_000_000.0;\n  } else if (s.endsWith('billion')) {\n    s = s.replace(/billion$/, '').trim();\n    multiplier = 1_000_000_000.0;\n  } else if (s.endsWith('b')) {\n    s = s.slice(0, -1).trim();\n    multiplier = 1_000_000_000.0;\n  } else if (s.endsWith('thousand')) {\n    s = s.replace(/thousand$/, '').trim();\n    multiplier = 1_000.0;\n  } else if (s.endsWith('k')) {\n    s = s.slice(0, -1).trim();\n    multiplier = 1_000.0;\n  }\n  if (!/^\\d+(?:\\.\\d+)?$/.test(s)) return null;\n  return parseFloat(s) * multiplier;\n}\n\n// Canonical key for a currency token: \"$<number>\" with no separators or\n// magnitude suffix, so \"$1.2M\" and \"$1200000\" collapse to the same key.\n// (Python's original branches on `value.is_integer()` to avoid a trailing\n// \".0\" -- unnecessary here, since JS's own number-to-string coercion already\n// renders an integer-valued float without one.)\nfunction canonicalCurrency(raw) {\n  const value = currencyToFloat(raw);\n  if (value === null) return raw.trim();\n  return `$${value}`;\n}\n\n// ============================================================================\n// Duration parsing\n// ============================================================================\n\n// Day-equivalent factor per unit stem. Shared by durationValue() (single\n// tokens) and the range extraction in extractSalientTokens() below, so\n// \"12-18 months\" and a bare \"12 months\" convert with identical arithmetic.\nconst DURATION_FACTORS = { day: 1.0, week: 7.0, month: 30.0, year: 365.0 };\n\n// Normalize a duration unit to its plural canonical form (day -> days).\nfunction singularUnit(unit) {\n  const u = unit.toLowerCase().replace(/s$/, '');\n  return `${u}s`;\n}\n\n// Convert a canonical duration token (\"90 days\") to a comparable day count.\nfunction durationValue(token) {\n  const m = /^(\\d+)\\s+(day|month|year|week)s?$/.exec(token);\n  if (!m) return null;\n  return parseFloat(m[1]) * DURATION_FACTORS[m[2]];\n}\n\n// ============================================================================\n// Salient-token extraction\n// ============================================================================\n\n// True if `index` falls inside any [start, end) span. Used to keep the\n// single-value regexes below from re-tokenizing a range's low/high number as\n// an untethered bare value (file header, Finding 2(a)).\nfunction withinSpan(index, spans) {\n  return spans.some(([start, end]) => index >= start && index < end);\n}\n\n// Extract the material tokens (currency, duration, percent, negation) from\n// `text`. Returns { currency: Set<string>, duration: Set<string>,\n// percent: Set<string>, negation: boolean, currencyRanges: {low,high}[],\n// durationRanges: {low,high}[] (bounds in days), percentRanges: {low,high}[]\n// }. Ranges are extracted first so their spans can be excluded from the\n// single-value Sets.\nfunction extractSalientTokens(text) {\n  const norm = normalize(text);\n\n  const currencyRanges = [];\n  const currencyRangeSpans = [];\n  for (const match of norm.matchAll(CURRENCY_RANGE_RE)) {\n    currencyRangeSpans.push([match.index, match.index + match[0].length]);\n    const suffix = match[3] || '';\n    const low = currencyToFloat(`$${match[1]}${suffix}`);\n    const high = currencyToFloat(`$${match[2]}${suffix}`);\n    if (low !== null && high !== null) currencyRanges.push({ low, high });\n  }\n\n  const durationRanges = [];\n  const durationRangeSpans = [];\n  for (const match of norm.matchAll(DURATION_RANGE_RE)) {\n    durationRangeSpans.push([match.index, match.index + match[0].length]);\n    const factor = DURATION_FACTORS[match[3].toLowerCase().replace(/s$/, '')];\n    durationRanges.push({ low: parseFloat(match[1]) * factor, high: parseFloat(match[2]) * factor });\n  }\n\n  const percentRanges = [];\n  const percentRangeSpans = [];\n  for (const match of norm.matchAll(PERCENT_RANGE_RE)) {\n    percentRangeSpans.push([match.index, match.index + match[0].length]);\n    percentRanges.push({ low: parseFloat(match[1]), high: parseFloat(match[2]) });\n  }\n\n  const currency = new Set();\n  for (const match of norm.matchAll(CURRENCY_RE)) {\n    if (withinSpan(match.index, currencyRangeSpans)) continue;\n    currency.add(canonicalCurrency(match[0]));\n  }\n\n  const duration = new Set();\n  for (const match of norm.matchAll(DURATION_RE)) {\n    if (withinSpan(match.index, durationRangeSpans)) continue;\n    duration.add(`${match[1]} ${singularUnit(match[2])}`);\n  }\n\n  const percent = new Set();\n  for (const match of norm.matchAll(PERCENT_RE)) {\n    if (withinSpan(match.index, percentRangeSpans)) continue;\n    percent.add(`${match[1]}%`);\n  }\n\n  const negation = NEGATION_RE.test(norm);\n\n  return {\n    currency, duration, percent, negation, currencyRanges, durationRanges, percentRanges,\n  };\n}\n\n// ============================================================================\n// Numeric support check\n// ============================================================================\n\n// True if `value` matches any candidate within `tolerance` (0 matches 0).\nfunction numericSupported(value, candidates, tolerance = NUMERIC_TOLERANCE) {\n  for (const c of candidates) {\n    if (c === 0 && value === 0) return true;\n    if (c !== 0 && Math.abs(value - c) / Math.abs(c) <= tolerance) return true;\n  }\n  return false;\n}\n\n// ============================================================================\n// Range support (file header, Finding 2(a))\n// ============================================================================\n\n// True if `value` falls inside [low, high], each bound loosened by\n// `tolerance` -- the same relative tolerance a bare value already gets, so a\n// source figure at the very edge of a quoted range isn't penalized for\n// ordinary rounding.\nfunction valueInRange(value, low, high, tolerance) {\n  const loLimit = low - Math.abs(low) * tolerance;\n  const hiLimit = high + Math.abs(high) * tolerance;\n  return value >= loLimit && value <= hiLimit;\n}\n\n// True if two (tolerance-loosened) ranges overlap.\nfunction rangesOverlap(a, b, tolerance) {\n  const aLo = a.low - Math.abs(a.low) * tolerance;\n  const aHi = a.high + Math.abs(a.high) * tolerance;\n  const bLo = b.low - Math.abs(b.low) * tolerance;\n  const bHi = b.high + Math.abs(b.high) * tolerance;\n  return aLo <= bHi && bLo <= aHi;\n}\n\n// A bare quoted value is supported if it matches a bare source value\n// (existing tolerance rule) OR falls inside a source-stated range.\nfunction scalarSupported(value, sourceScalars, sourceRanges, tolerance) {\n  if (numericSupported(value, sourceScalars, tolerance)) return true;\n  for (const r of sourceRanges) {\n    if (valueInRange(value, r.low, r.high, tolerance)) return true;\n  }\n  return false;\n}\n\n// A quoted range (\"$1-2 million\") is supported if the source's point figure\n// falls inside it, or a source-stated range overlaps it. Without this, only\n// the range's high bound would survive as a bare token (see file header) and\n// a true point figure inside the range would be flagged as unsupported.\nfunction rangeSupported(range, sourceScalars, sourceRanges, tolerance) {\n  for (const v of sourceScalars) {\n    if (valueInRange(v, range.low, range.high, tolerance)) return true;\n  }\n  for (const r of sourceRanges) {\n    if (rangesOverlap(range, r, tolerance)) return true;\n  }\n  return false;\n}\n\n// ============================================================================\n// Negation window alignment\n// ============================================================================\n\n// Return the slice of `source` aligned to `quote`, for local negation checks.\n//\n// Anchors on the quote's longest run of content words and returns that\n// region of the source +/- `margin` chars. When no anchor is found (the\n// quote's content is not in the source at all), returns the whole\n// (normalized) source so a genuinely unsupported negated quote is still\n// evaluated. Pure string work -- no deps.\nfunction alignedWindow(quote, source, margin = 240) {\n  const nSource = normalize(source);\n  const nQuote = normalize(quote);\n  if (!nQuote || !nSource) return source;\n\n  const words = nQuote.split(' ');\n  const maxSpan = Math.min(words.length, 12);\n  // Mirrors Python's `range(min(len(words), 12), 2, -1)`: tries progressively\n  // shorter leading word-runs, stopping once span would drop to 2 or below.\n  for (let span = maxSpan; span > 2; span -= 1) {\n    const probe = words.slice(0, span).join(' ');\n    const idx = nSource.indexOf(probe);\n    if (idx !== -1) {\n      const start = Math.max(0, idx - margin);\n      const end = Math.min(nSource.length, idx + probe.length + margin);\n      return nSource.slice(start, end);\n    }\n  }\n  // No alignment anchor -> evaluate against the full source (conservative).\n  return nSource;\n}\n\n// ============================================================================\n// Negation predicate extraction (file header, Finding 2(b))\n// ============================================================================\n\n// Function words and the negation cue words themselves -- excluded when\n// deriving a negation's \"predicate\" below, so the predicate is always\n// genuine content (e.g. \"indemnify\", \"liable\", \"obligation\"), never a piece\n// of the negation machinery around it.\nconst NEGATION_SKIP_WORDS = new Set([\n  'shall', 'will', 'would', 'may', 'can', 'must', 'does', 'do', 'is', 'are', 'was', 'were', 'has', 'have',\n  'not', 'no', 'never',\n  'cannot', \"won't\", \"can't\", \"shan't\", \"isn't\", \"aren't\", \"wasn't\", \"weren't\",\n  \"doesn't\", \"don't\", \"didn't\", \"hasn't\", \"haven't\", \"wouldn't\", \"couldn't\", \"shouldn't\",\n  'the', 'a', 'an', 'to', 'of', 'for', 'in', 'on', 'at', 'and', 'or', 'this', 'that',\n  'with', 'by', 'it', 'its', 'as', 'than', 'be', 'been', 'being',\n]);\n\nfunction escapeRegExp(s) {\n  return s.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n}\n\n// Split into rough sentence-like chunks on terminal punctuation. Coarse on\n// purpose -- just enough so a positive assertion of the predicate elsewhere\n// in a long, unrelated clause of the window isn't credited to the negation\n// being checked.\nfunction splitSentences(text) {\n  return text.split(/[.!?;]+/).map((s) => s.trim()).filter(Boolean);\n}\n\n// From a NEGATION_RE match on the (normalized) quote, derive up to 4 content\n// words the negation attaches to -- combining the match's own last word(s)\n// (carries the predicate for the \"no <noun>\" / \"not <adjective>\" cues, e.g.\n// \"obligation\" in \"no obligation\") with the words immediately following the\n// match (carries the predicate for the modal/contraction/\"never\" cues, e.g.\n// \"indemnify\" in \"shall not indemnify\"). Returns [] when nothing but\n// function/cue words follow -- callers treat that as \"cannot check\", not\n// \"mismatch\" (see the false-negative bias note on the call site).\nfunction negationPredicateWords(normQuote, match) {\n  const matchWords = match[0].split(/[^a-z0-9']+/i).filter(Boolean);\n  const after = normQuote.slice(match.index + match[0].length)\n    .split(/[^a-z0-9']+/i).filter(Boolean).slice(0, 8);\n  const predicate = [];\n  for (const w of [...matchWords, ...after]) {\n    if (predicate.length >= 4) break;\n    if (w.length < 3 || NEGATION_SKIP_WORDS.has(w)) continue;\n    predicate.push(w);\n  }\n  return predicate;\n}\n\n// ============================================================================\n// Main guard\n// ============================================================================\n\n// Return human-readable mismatches where `quote`'s salient tokens lack\n// support in `source`.\n//\n// Returns an empty array when the source supports every salient token in the\n// quote (within numeric tolerance), or when either input is empty (absence\n// of source is handled upstream as non-blocking, not as a contradiction\n// here).\nfunction quoteSalienceMismatches(quote, source) {\n  if (!String(quote).trim() || !String(source).trim()) return [];\n\n  const q = extractSalientTokens(quote);\n  const s = extractSalientTokens(source);\n  const mismatches = [];\n\n  // Currency: every quoted amount (bare or ranged) must be supported\n  // (+/-tolerance) by the source, and vice versa for a quoted range -- see\n  // the file header's Finding 2(a) note.\n  const sourceAmounts = new Set();\n  for (const raw of s.currency) {\n    const v = currencyToFloat(raw);\n    if (v !== null) sourceAmounts.add(v);\n  }\n  for (const raw of q.currency) {\n    const val = currencyToFloat(raw);\n    if (val !== null && !scalarSupported(val, sourceAmounts, s.currencyRanges, NUMERIC_TOLERANCE)) {\n      mismatches.push(`currency ${raw} in quote not supported by source`);\n    }\n  }\n  for (const range of q.currencyRanges) {\n    if (!rangeSupported(range, sourceAmounts, s.currencyRanges, NUMERIC_TOLERANCE)) {\n      mismatches.push(`currency range $${range.low}-$${range.high} in quote not supported by source`);\n    }\n  }\n\n  // Durations: compared in normalized days, with a looser tolerance because\n  // cross-unit conversion (month=~30d, year=~365d) is approximate.\n  const sourceDays = new Set();\n  for (const tok of s.duration) {\n    const v = durationValue(tok);\n    if (v !== null) sourceDays.add(v);\n  }\n  for (const tok of q.duration) {\n    const val = durationValue(tok);\n    if (val !== null && !scalarSupported(val, sourceDays, s.durationRanges, DURATION_TOLERANCE)) {\n      mismatches.push(`duration '${tok}' in quote not supported by source`);\n    }\n  }\n  for (const range of q.durationRanges) {\n    if (!rangeSupported(range, sourceDays, s.durationRanges, DURATION_TOLERANCE)) {\n      mismatches.push(`duration range ${range.low}-${range.high} days in quote not supported by source`);\n    }\n  }\n\n  // Percentages: exact numeric support (+/-tolerance).\n  const sourcePcts = new Set();\n  for (const p of s.percent) sourcePcts.add(parseFloat(p.slice(0, -1)));\n  for (const p of q.percent) {\n    const val = parseFloat(p.slice(0, -1));\n    if (!scalarSupported(val, sourcePcts, s.percentRanges, NUMERIC_TOLERANCE)) {\n      mismatches.push(`percentage ${p} in quote not supported by source`);\n    }\n  }\n  for (const range of q.percentRanges) {\n    if (!rangeSupported(range, sourcePcts, s.percentRanges, NUMERIC_TOLERANCE)) {\n      mismatches.push(`percentage range ${range.low}%-${range.high}% in quote not supported by source`);\n    }\n  }\n\n  // Negation -- DIRECTIONAL, WINDOWED, and requires a POSITIVE ASSERTION, not\n  // merely an absence of restatement (file header, Finding 2(b)): we derive\n  // the negation's predicate from the quote (e.g. \"indemnify\" in \"shall not\n  // indemnify\"), then flag only when some sentence of the region of the\n  // source aligned to the quote contains that SAME predicate WITHOUT a\n  // negation cue of its own -- i.e. the source itself positively asserts the\n  // opposite. We never flag the reverse (source negates, quote doesn't) --\n  // that is not a fabrication by the quote. If no predicate can be derived,\n  // or no positive sentence is found, we do NOT flag: biased hard toward\n  // false negatives on purpose, because missing a real fabrication costs one\n  // finding, while a false accusation against a true founder claim breaks\n  // REQ-004 -- the invariant this whole check exists to protect.\n  if (q.negation) {\n    const normQuote = normalize(quote);\n    const negMatch = NEGATION_RE.exec(normQuote);\n    const predicate = negMatch ? negationPredicateWords(normQuote, negMatch) : [];\n    if (predicate.length > 0) {\n      const sentences = splitSentences(alignedWindow(quote, source));\n      const flipped = predicate.some((word) => {\n        const wordRe = new RegExp(`\\\\b${escapeRegExp(word)}\\\\b`, 'i');\n        return sentences.some((sentence) => wordRe.test(sentence) && !NEGATION_RE.test(sentence));\n      });\n      if (flipped) {\n        mismatches.push('negation mismatch: source positively asserts the opposite of a negation in the quote');\n      }\n    }\n  }\n\n  return mismatches;\n}\n\n// ---- shared helpers (mirrors lib/f05/run.js's own, same names) ----\nfunction buildEntityForRow(row, founderById, companyById) {\n  const founder = row.card_founder_id ? founderById.get(row.card_founder_id) : null;\n  const company = row.card_company_id ? companyById.get(row.card_company_id) : null;\n  return {\n    founderId: row.card_founder_id || null, companyId: row.card_company_id || null,\n    founderName: founder ? founder.full_name : null, companyName: company ? company.name : null,\n    companyDomain: company ? company.domain : null, companyAliases: company ? company.aliases : [],\n  };\n}\n\nfunction extractSourceText(payload) {\n  if (!payload || typeof payload !== 'object') return '';\n  const keys = ['text', 'extracted_text', 'story_text', 'readme_excerpt', 'answer'];\n  for (const key of keys) {\n    if (typeof payload[key] === 'string' && payload[key]) return payload[key];\n  }\n  return '';\n}\n\n// design.md SS6: \"Only CONTRADICTION candidates ever reach [the entity] gate\" -- both\n// checks below call applyEntityGate() ONLY on their own 'flagged'/mismatch branch, with\n// NO matchWithLlm hook (step 3 is never invoked from this zero-LLM workflow -- owned by\n// f05-contradiction-scan, matching lib/f05/run.js's own explicit choice). A candidate that\n// fails steps 1-2 here is downgraded (step 4) and recorded as an auditable context row,\n// never silently dropped and never escalated to an LLM from this workflow.\nasync function runGithubProvenanceCheck(row, bucket, founderById, companyById) {\n  const result = checkGithubProvenance({ commitPayloads: bucket.commitPayloads, hnPayloads: bucket.hnPayloads });\n\n  if (result.status === 'insufficient_data') {\n    if (!bucket.githubSignal) {\n      return { evidenceRow: null, contradiction: null, checkRan: bucket.commitPayloads.length > 0 || bucket.hnPayloads.length > 0 };\n    }\n    const evidenceRow = await buildEvidenceRow({\n      claimId: row.claim_id, relation: 'context', tier: 'missing', quoteVerbatim: null, sourceUrl: null,\n      rawSignalId: bucket.githubSignal, checkId: 'gh_provenance', candidateKey: 'insufficient_data',\n    });\n    return { evidenceRow, contradiction: null, checkRan: true };\n  }\n\n  if (result.status === 'clean') {\n    const evidenceRow = await buildEvidenceRow({\n      claimId: row.claim_id, relation: 'supports', tier: 'documented', quoteVerbatim: result.summary,\n      sourceUrl: bucket.githubSourceUrl || null, rawSignalId: bucket.githubSignal,\n      checkId: 'gh_provenance', candidateKey: result.earliestCommitAuthorDate,\n    });\n    return { evidenceRow, contradiction: null, checkRan: true };\n  }\n\n  // status === 'flagged' -- a CONTRADICTION CANDIDATE; must pass the entity gate.\n  const entity = buildEntityForRow(row, founderById, companyById);\n  const gate = await applyEntityGate({\n    claimId: row.claim_id,\n    candidate: { sourceUrl: bucket.githubSourceUrl || null, quote: result.summary, tier: 'documented' },\n    rawSignal: { id: bucket.githubSignal, founderId: bucket.rsFounderId, companyId: bucket.rsCompanyId },\n    entity,\n  });\n\n  if (gate.resolved) {\n    const evidenceRow = await buildEvidenceRow({\n      claimId: row.claim_id, relation: 'contradicts', tier: 'documented', quoteVerbatim: result.summary,\n      sourceUrl: bucket.githubSourceUrl || null, rawSignalId: bucket.githubSignal,\n      checkId: 'gh_provenance', candidateKey: result.earliestCommitAuthorDate,\n    });\n    return {\n      evidenceRow,\n      contradiction: {\n        sourceUrl: bucket.githubSourceUrl || null, nature: 'temporal', severity: 'material',\n        foundReality: result.summary,\n        question: 'Can you walk us through the development history of this repository -- specifically why the earliest ' +\n          'commit postdates your own earliest public trace by ' + result.gapDays + ' day(s)?',\n        entityMatch: gate.entityMatch,\n      },\n      checkRan: true,\n    };\n  }\n\n  const contextRow = await buildEvidenceRow({\n    claimId: gate.contextRowFields.claimId, relation: gate.contextRowFields.relation, tier: gate.contextRowFields.tier,\n    quoteVerbatim: gate.contextRowFields.quoteVerbatim, sourceUrl: gate.contextRowFields.sourceUrl,\n    rawSignalId: gate.contextRowFields.rawSignalId, checkId: gate.contextRowFields.checkId,\n    candidateKey: gate.contextRowFields.candidateKey,\n  });\n  return { evidenceRow: contextRow, contradiction: null, checkRan: true };\n}\n\nasync function runQuoteGuardCheck(row, candidate, founderById, companyById) {\n  const sourceText = extractSourceText(candidate.raw_signals && candidate.raw_signals.payload);\n  const mismatches = quoteSalienceMismatches(row.text_verbatim, sourceText);\n  if (!mismatches.length) return { evidenceRow: null, contradiction: null };\n\n  const foundReality = mismatches.join('; ');\n  const entity = buildEntityForRow(row, founderById, companyById);\n  const rs = candidate.raw_signals || {};\n  const gate = await applyEntityGate({\n    claimId: row.claim_id,\n    candidate: { sourceUrl: candidate.source_url || null, quote: foundReality, tier: 'documented' },\n    rawSignal: { id: candidate.raw_signal_id, founderId: rs.founder_id, companyId: rs.company_id },\n    entity,\n  });\n\n  if (gate.resolved) {\n    const evidenceRow = await buildEvidenceRow({\n      claimId: row.claim_id, relation: 'contradicts', tier: 'documented', quoteVerbatim: foundReality,\n      sourceUrl: candidate.source_url || null, rawSignalId: candidate.raw_signal_id,\n      checkId: 'quote_guard', candidateKey: foundReality,\n    });\n    return {\n      evidenceRow,\n      contradiction: {\n        sourceUrl: candidate.source_url || null, nature: 'factual', severity: 'material', foundReality,\n        question: 'Can you walk us through the figure(s) behind this claim -- our review of the cited source found: ' + foundReality,\n        entityMatch: gate.entityMatch,\n      },\n    };\n  }\n\n  const contextRow = await buildEvidenceRow({\n    claimId: gate.contextRowFields.claimId, relation: gate.contextRowFields.relation, tier: gate.contextRowFields.tier,\n    quoteVerbatim: gate.contextRowFields.quoteVerbatim, sourceUrl: gate.contextRowFields.sourceUrl,\n    rawSignalId: gate.contextRowFields.rawSignalId, checkId: gate.contextRowFields.checkId,\n    candidateKey: gate.contextRowFields.candidateKey,\n  });\n  return { evidenceRow: contextRow, contradiction: null };\n}\n\n// ---- invocation: mirrors lib/f05/run.js main() steps 5-6 ----\nconst inp = $input.first().json;\nconst scopedRows = inp.scoped_rows || [];\n\nconst rawSignalsByEntity = new Map();\nfor (const rs of (inp.gh_raw_signals || [])) {\n  const key = rs.founder_id || rs.company_id;\n  if (!key) continue;\n  if (!rawSignalsByEntity.has(key)) {\n    rawSignalsByEntity.set(key, { commitPayloads: [], hnPayloads: [], githubSignal: null, githubSourceUrl: null, rsFounderId: null, rsCompanyId: null });\n  }\n  const bucket = rawSignalsByEntity.get(key);\n  if (rs.source === 'github_api') {\n    bucket.commitPayloads.push(rs.payload);\n    if (!bucket.githubSignal) {\n      bucket.githubSignal = rs.id; bucket.githubSourceUrl = rs.source_url;\n      bucket.rsFounderId = rs.founder_id; bucket.rsCompanyId = rs.company_id;\n    }\n  } else if (rs.source === 'hn_algolia') {\n    bucket.hnPayloads.push(rs.payload);\n  }\n}\n\nconst quoteCandidateByClaim = new Map((inp.quote_candidates || []).map(function (c) { return [c.claim_id, c]; }));\nconst founderById = new Map((inp.entity_founders || []).map(function (f) { return [f.id, f]; }));\nconst companyById = new Map((inp.entity_companies || []).map(function (c) { return [c.id, c]; }));\n\nconst evidenceRows = [];\nconst contradictionByClaim = {};\nlet ghProvenanceRan = 0, ghProvenanceInsufficientData = 0, quoteGuardRan = 0, quoteGuardMismatches = 0;\nconst denominatorFindingsByClaim = {};\n\nfor (const row of scopedRows) {\n  const routing = row.routing;\n\n  if (routing.check === 'gh_provenance') {\n    const key = row.card_founder_id || row.card_company_id;\n    const bucket = rawSignalsByEntity.get(key) || { commitPayloads: [], hnPayloads: [], githubSignal: null };\n    const outcome = await runGithubProvenanceCheck(row, bucket, founderById, companyById);\n    if (outcome.checkRan) {\n      ghProvenanceRan += 1;\n      if (outcome.evidenceRow && outcome.evidenceRow.tier === 'missing') ghProvenanceInsufficientData += 1;\n    }\n    if (outcome.evidenceRow) evidenceRows.push(outcome.evidenceRow);\n    if (outcome.contradiction) contradictionByClaim[row.claim_id] = outcome.contradiction;\n  }\n\n  const quoteCandidate = quoteCandidateByClaim.get(row.claim_id);\n  if (quoteCandidate) {\n    quoteGuardRan += 1;\n    const outcome = await runQuoteGuardCheck(row, quoteCandidate, founderById, companyById);\n    if (outcome.evidenceRow) { quoteGuardMismatches += 1; evidenceRows.push(outcome.evidenceRow); }\n    if (outcome.contradiction && !contradictionByClaim[row.claim_id]) contradictionByClaim[row.claim_id] = outcome.contradiction;\n  }\n\n  // design.md SS5.1(c) -- denominator extraction, advisory only (B2 ruling: no evidence\n  // row -- it analyses the claim's own text and has no raw_signal_id to attach); folded\n  // into this claim's attempted-event payload as deep_dive_questions below.\n  const denom = extractDenominator(row.text_verbatim);\n  if (denom.hasPercentageClaim && denom.cappedAtUnverified) {\n    denominatorFindingsByClaim[row.claim_id] = denom.deepDiveQuestions;\n  }\n}\n\nreturn [{ json: {\n  ...inp, evidence_rows: evidenceRows, contradiction_by_claim: contradictionByClaim,\n  denominator_findings_by_claim: denominatorFindingsByClaim,\n  check_summary: {\n    scoped_claims: scopedRows.length, gh_provenance_checks_run: ghProvenanceRan,\n    gh_provenance_insufficient_data: ghProvenanceInsufficientData,\n    quote_guard_checks_run: quoteGuardRan, quote_guard_mismatches: quoteGuardMismatches,\n  },\n} }];\n"
   },
   "id": "8c04d6c2-4b0d-4edb-b60b-f766e29deac6",
   "name": "CHECKS - dispatch (verifiers.js + entity_gate.js + quote_guard.js)",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    2300,
    0
   ],
   "notes": "SOURCE OF TRUTH: lib/f05/verifiers.js + lib/f05/entity_gate.js + lib/f05/quote_guard.js -- do not edit here, edit there and re-paste. Zero LLM, zero network call beyond the DB reads already done upstream."
  },
  {
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "const SB = String($env.SUPABASE_URL || '').replace(/\\/rest\\/v1\\/?$/, ''), KEY = $env.SUPABASE_SERVICE_ROLE_KEY;\nasync function pg(method, path, body, prefer) {\n  const headers = { apikey: KEY, Authorization: 'Bearer ' + KEY, 'Content-Type': 'application/json' };\n  if (prefer) headers.Prefer = prefer;\n  return await this.helpers.httpRequest({ method, url: SB + '/rest/v1/' + path, headers, body, json: true });\n}\nconst inp = $input.first().json;\nconst rows = inp.evidence_rows || [];\n// design.md SS10.1 -- evidence.content_hash is NOT NULL UNIQUE; the PostgREST upsert\n// idiom (on_conflict= + Prefer: resolution=ignore-duplicates) is this workflow's\n// equivalent of lib/f05/run.js's own `INSERT ... ON CONFLICT (content_hash) DO NOTHING`\n// (run.js shells out to psql and can use raw SQL directly; this workflow only has\n// PostgREST, whose documented upsert mechanism is exactly this header+query-param pair) --\n// re-running this workflow against the same application inserts zero duplicate rows.\nif (rows.length) {\n  await pg.call(this, 'POST', 'evidence?on_conflict=content_hash', rows, 'resolution=ignore-duplicates,return=minimal');\n}\nreturn [{ json: { ...inp, evidence_written: rows.length } }];\n"
   },
   "id": "5659d37b-9706-4462-9517-b105eb8b23bc",
   "name": "Write evidence rows",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    2580,
    -140
   ]
  },
  {
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "const SB = String($env.SUPABASE_URL || '').replace(/\\/rest\\/v1\\/?$/, ''), KEY = $env.SUPABASE_SERVICE_ROLE_KEY;\nasync function pgGet(path) {\n  return await this.helpers.httpRequest({\n    method: 'GET', url: SB + '/rest/v1/' + path,\n    headers: { apikey: KEY, Authorization: 'Bearer ' + KEY }, json: true,\n  });\n}\nconst inp = $input.first().json;\n// design.md SS9's events need verdict_before/verdict_after -- 'after' can only be known\n// once the evidence just written has landed, so claim_trust (the live view) is re-read\n// here, matching lib/f05/run.js main() step 7's own re-read of the SAME rows post-write.\nconst cardIds = (inp.scope_cards || []).map(function (c) { return c.id; });\nlet rows = [];\nif (cardIds.length) {\n  rows = await pgGet.call(this, 'claim_trust?select=claim_id,derived_status&card_id=in.(' + cardIds.join(',') + ')');\n}\nconst derived_status_after = {};\n(rows || []).forEach(function (r) { derived_status_after[r.claim_id] = r.derived_status; });\nreturn [{ json: { ...inp, derived_status_after } }];\n"
   },
   "id": "4bc1a777-d539-4d26-a292-9a8eb92e7d0d",
   "name": "Reload claim_trust rows (post-write)",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    2580,
    140
   ]
  },
  {
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "// Hand-port of lib/f05/run.js's entityForClaim/buildAttemptedEventRow/\n// buildUnmatchedTopicEventRow/buildVerifiedEventRow/buildContradictedEventRow -- run.js\n// itself is a Node CLI, not a zero-import Code-node module, so this reproduces its LOGIC,\n// not its literal source. design.md SS9: claim_verification_attempted is MANDATORY, one\n// per scoped (routed) claim -- the ONLY trace distinguishing \"we looked and found\n// nothing\" from \"never routed\". SS14: a documented/discovered-tier contradiction on a\n// QUALITATIVE claim still gets its own claim_contradicted event even though the verdict\n// itself stays pinned to 'unverified' by the view's class gate (SS7.1/SS7.4 row 1) --\n// otherwise the finding reaches neither memo (06) nor dashboard (09).\nfunction entityForClaim(row, applicationId) {\n  if (row.card_founder_id) return { entityType: 'founder', entityId: row.card_founder_id };\n  return { entityType: 'application', entityId: applicationId };\n}\n\nconst inp = $input.first().json;\nconst scopedRows = inp.scoped_rows || [];\nconst afterByClaim = inp.derived_status_after || {};\nconst contradictionByClaim = inp.contradiction_by_claim || {};\nconst denominatorFindingsByClaim = inp.denominator_findings_by_claim || {};\nconst checkedAt = new Date().toISOString();\nconst ACTOR = 'f05-verify-claims';\n\nconst eventRows = [];\nfor (const row of scopedRows) {\n  const routing = row.routing;\n  const verdictBefore = row.derived_status;\n  const verdictAfter = afterByClaim[row.claim_id] != null ? afterByClaim[row.claim_id] : verdictBefore;\n  const contradiction = contradictionByClaim[row.claim_id];\n  const ent = entityForClaim(row, inp.application_id);\n\n  const attemptedPayload = {\n    claim_id: row.claim_id, class: row.class, check: routing.check,\n    verdict_before: verdictBefore, verdict_after: verdictAfter, checked_at: checkedAt, run_id: inp.run_id,\n  };\n  if (denominatorFindingsByClaim[row.claim_id]) attemptedPayload.deep_dive_questions = denominatorFindingsByClaim[row.claim_id];\n  eventRows.push({ event_type: 'claim_verification_attempted', entity_type: ent.entityType, entity_id: ent.entityId, payload: attemptedPayload, actor: ACTOR });\n\n  if (routing.unmatched_topic) {\n    eventRows.push({\n      event_type: 'router_unmatched_topic', entity_type: ent.entityType, entity_id: ent.entityId,\n      payload: { claim_id: row.claim_id, topic: row.topic, run_id: inp.run_id, checked_at: checkedAt }, actor: ACTOR,\n    });\n  }\n\n  if (verdictBefore !== verdictAfter && verdictAfter === 'verified') {\n    eventRows.push({\n      event_type: 'claim_verified', entity_type: ent.entityType, entity_id: ent.entityId,\n      payload: {\n        claim_id: row.claim_id, class: row.class, check: routing.check,\n        verdict_before: verdictBefore, verdict_after: verdictAfter,\n        source_url: contradiction ? contradiction.sourceUrl : null, checked_at: checkedAt, run_id: inp.run_id,\n      }, actor: ACTOR,\n    });\n  }\n\n  if (contradiction) {\n    const base = {\n      claim_id: row.claim_id, class: row.class, check: routing.check,\n      verdict_before: verdictBefore, verdict_after: verdictAfter,\n      source_url: contradiction.sourceUrl || null, checked_at: checkedAt, run_id: inp.run_id,\n      nature: contradiction.nature, severity: contradiction.severity,\n      found_reality: contradiction.foundReality, question: contradiction.question,\n    };\n    // design.md SS9 -- on the entity_type='application' fallback (no resolvable founder on\n    // this claim's card), the payload OMITS founder_claim and entity_match.quote: the\n    // 'carries no personal data' argument that makes an unpurgeable event acceptable must\n    // be TRUE, not assumed. Built PER BRANCH, never inside the shared `base` object -- a\n    // real bug B3 caught and fixed in lib/f05/run.js's own build (tracker.md): sharing the\n    // object let the quote leak through the application-fallback path silently.\n    const payload = ent.entityType === 'application'\n      ? Object.assign({}, base, {\n          entity_match: contradiction.entityMatch\n            ? { resolved_by: contradiction.entityMatch.resolved_by, disambiguator: contradiction.entityMatch.disambiguator }\n            : null,\n        })\n      : Object.assign({ founder_claim: row.text_verbatim }, base, { entity_match: contradiction.entityMatch });\n    eventRows.push({ event_type: 'claim_contradicted', entity_type: ent.entityType, entity_id: ent.entityId, payload, actor: ACTOR });\n  }\n}\n\nreturn [{ json: { ...inp, event_rows: eventRows } }];\n"
   },
   "id": "c8ed289e-5f43-43ba-b538-cb657168b0c2",
   "name": "BUILD EVENTS (claim_verification_attempted / verified / contradicted)",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    2860,
    0
   ]
  },
  {
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "const SB = String($env.SUPABASE_URL || '').replace(/\\/rest\\/v1\\/?$/, ''), KEY = $env.SUPABASE_SERVICE_ROLE_KEY;\nasync function pg(method, path, body, prefer) {\n  const headers = { apikey: KEY, Authorization: 'Bearer ' + KEY, 'Content-Type': 'application/json' };\n  if (prefer) headers.Prefer = prefer;\n  return await this.helpers.httpRequest({ method, url: SB + '/rest/v1/' + path, headers, body, json: true });\n}\nconst inp = $input.first().json;\n// events is append-only (no uniqueness of its own, project-wide convention) -- no\n// on_conflict here, a re-run legitimately appends a fresh batch.\nconst rows = inp.event_rows || [];\nif (rows.length) {\n  await pg.call(this, 'POST', 'events', rows, 'return=minimal');\n}\nreturn [{ json: { ...inp, events_written: rows.length } }];\n"
   },
   "id": "4c6a0d6c-5688-4548-9af3-bc6ed06327f6",
   "name": "Write events",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    3140,
    -140
   ]
  },
  {
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "const SB = String($env.SUPABASE_URL || '').replace(/\\/rest\\/v1\\/?$/, ''), KEY = $env.SUPABASE_SERVICE_ROLE_KEY;\nasync function pg(method, path, body, prefer) {\n  const headers = { apikey: KEY, Authorization: 'Bearer ' + KEY, 'Content-Type': 'application/json' };\n  if (prefer) headers.Prefer = prefer;\n  return await this.helpers.httpRequest({ method, url: SB + '/rest/v1/' + path, headers, body, json: true });\n}\nconst inp = $input.first().json;\n// design.md SS6.0b -- confidence is a literal SQL NULL, never read from output_json. This\n// workflow runs zero LLM calls (all SS5.1 checks are deterministic); this row is still the\n// ledger proving a verification run happened at all, same 'ai_runs even when zero-LLM'\n// pattern lib/f05/run.js's own step 10 uses (model: 'deterministic:f05_run' there).\nawait pg.call(this, 'POST', 'ai_runs', {\n  task_type: 'verification', application_id: inp.application_id, founder_id: null, company_id: inp.company_id,\n  model: 'deterministic:f05_verify_claims',\n  output_json: Object.assign({ run_id: inp.run_id }, inp.check_summary || {}),\n}, 'return=minimal');\nreturn [{ json: inp }];\n"
   },
   "id": "e9a86c87-784b-4824-a8a0-db9a90bb391c",
   "name": "Write ai_runs (ledger)",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    3140,
    140
   ]
  },
  {
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "// Terminal node: its return value is both the webhook HTTP response (responseMode:\n// lastNode) and the value returned to a caller invoking this as a sub-workflow (06/09/10).\nconst inp = $input.first().json;\nreturn [{ json: {\n  application_id: inp.application_id, run_id: inp.run_id, status: 'checked',\n  scoped_claim_count: (inp.scoped_rows || []).length,\n  evidence_written: inp.evidence_written || 0, events_written: inp.events_written || 0,\n  check_summary: inp.check_summary,\n} }];\n"
   },
   "id": "b34fa533-0e8d-439c-8c2f-cb40a8f6f775",
   "name": "Build output contract",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    3420,
    0
   ]
  },
  {
   "parameters": {
    "content": "### ZERO LLM, ZERO EXTERNAL NETWORK CALL (design.md SS5.1)\ngh_provenance + quote_guard + denominator extraction are all\ndeterministic. Any contradiction CANDIDATE they find still\npasses the entity gate (steps 1-2 only, design SS6) before it\nmay become a `contradicts` row -- but the LLM hook (step 3) is\nNEVER called from this workflow. That call lives only in\nf05-contradiction-scan, matching lib/f05/run.js's own explicit\nchoice ('step 3 is omitted, owned by C1b').",
    "height": 260,
    "width": 700
   },
   "id": "57ada8ef-123e-4967-8447-b85860edb6b0",
   "name": "Note: zero-LLM, wraps run.js",
   "type": "n8n-nodes-base.stickyNote",
   "typeVersion": 1,
   "position": [
    1700,
    -520
   ]
  },
  {
   "parameters": {
    "content": "### THE LLM CONTRADICTION QUEUE IS NOT THREADED THROUGH HERE\ndesign.md SS11.1 describes 'the narrow queue f05-verify-claims\nroutes to' f05-contradiction-scan. This generator keeps the two\nworkflows independently callable/testable instead (matching\nf05-trust-rollup's own precedent of being a separate,\nindependently-invoked sub-workflow rather than an automatic\ncontinuation) -- f05-contradiction-scan builds its OWN narrow\nqueue from { application_id } by the identical eligibility rule\n(self_reported / deck-sourced claims). Open decision, documented\nrather than silently made -- see n8n/workflows/README-f05.md.",
    "height": 300,
    "width": 900
   },
   "id": "b801ba54-ca93-4016-bff7-e308f0972b0c",
   "name": "Note: narrow queue lives in contradiction-scan",
   "type": "n8n-nodes-base.stickyNote",
   "typeVersion": 1,
   "position": [
    2400,
    -520
   ]
  }
 ],
 "connections": {
  "Webhook Trigger": {
   "main": [
    [
     {
      "node": "Normalize Webhook Input",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Execute Workflow Trigger": {
   "main": [
    [
     {
      "node": "Normalize Sub-workflow Input",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Normalize Webhook Input": {
   "main": [
    [
     {
      "node": "Generate run_id",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Normalize Sub-workflow Input": {
   "main": [
    [
     {
      "node": "Generate run_id",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Generate run_id": {
   "main": [
    [
     {
      "node": "Load application + company",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Load application + company": {
   "main": [
    [
     {
      "node": "Load founder_ids for company",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Load founder_ids for company": {
   "main": [
    [
     {
      "node": "Load active trust_v1 router config",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Load active trust_v1 router config": {
   "main": [
    [
     {
      "node": "Load scope card ids",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Load scope card ids": {
   "main": [
    [
     {
      "node": "Load claim_trust rows (scoped)",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Load claim_trust rows (scoped)": {
   "main": [
    [
     {
      "node": "RESTRICT + ROUTE (trust.js + router.js)",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "RESTRICT + ROUTE (trust.js + router.js)": {
   "main": [
    [
     {
      "node": "Load raw_signals for gh_provenance",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Load raw_signals for gh_provenance": {
   "main": [
    [
     {
      "node": "Load quote_guard candidates",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Load quote_guard candidates": {
   "main": [
    [
     {
      "node": "Load entity context (founders + companies)",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Load entity context (founders + companies)": {
   "main": [
    [
     {
      "node": "CHECKS - dispatch (verifiers.js + entity_gate.js + quote_guard.js)",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "CHECKS - dispatch (verifiers.js + entity_gate.js + quote_guard.js)": {
   "main": [
    [
     {
      "node": "Write evidence rows",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Write evidence rows": {
   "main": [
    [
     {
      "node": "Reload claim_trust rows (post-write)",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Reload claim_trust rows (post-write)": {
   "main": [
    [
     {
      "node": "BUILD EVENTS (claim_verification_attempted / verified / contradicted)",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "BUILD EVENTS (claim_verification_attempted / verified / contradicted)": {
   "main": [
    [
     {
      "node": "Write events",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Write events": {
   "main": [
    [
     {
      "node": "Write ai_runs (ledger)",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Write ai_runs (ledger)": {
   "main": [
    [
     {
      "node": "Build output contract",
      "type": "main",
      "index": 0
     }
    ]
   ]
  }
 },
 "active": false,
 "settings": {
  "executionOrder": "v1",
  "saveManualExecutions": true,
  "timezone": "UTC"
 },
 "pinData": {},
 "meta": {
  "templateCredsSetupCompleted": true
 }
}