n8n/workflows/f05-trust-rollup.json
{
 "name": "f05-trust-rollup",
 "nodes": [
  {
   "parameters": {
    "httpMethod": "POST",
    "path": "f05-trust-rollup",
    "responseMode": "lastNode",
    "options": {}
   },
   "id": "dab65b6e-9ad6-4c9a-8e03-8d21838d8d58",
   "name": "Webhook Trigger",
   "type": "n8n-nodes-base.webhook",
   "typeVersion": 2.1,
   "position": [
    -460,
    -140
   ],
   "webhookId": "31e6fa72-5c33-4c2b-a1de-b2f20b6f920c"
  },
  {
   "parameters": {},
   "id": "c8a94bb5-1232-4e17-a188-1600b49c84a1",
   "name": "Execute Workflow Trigger",
   "type": "n8n-nodes-base.executeWorkflowTrigger",
   "typeVersion": 1,
   "position": [
    -460,
    140
   ]
  },
  {
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "// Webhook body carries { application_id }. design.md SS8: 05's rollup scores the\n// APPLICATION, not the founder -- 03 already owns founder_id-keyed scores.\nconst item = $input.first().json;\nconst body = item.body || {};\nconst application_id = body.application_id || item.application_id;\nif (!application_id) throw new Error('f05-trust-rollup: application_id is required');\nreturn [{ json: { application_id } }];\n"
   },
   "id": "41485fe8-2aa7-4e14-a985-ba2e417ca992",
   "name": "Normalize Webhook Input",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    -180,
    -140
   ]
  },
  {
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "// Called by 06/09/10 as a sub-workflow with { application_id }.\nconst item = $input.first().json || {};\nconst application_id = item.application_id;\nif (!application_id) throw new Error('f05-trust-rollup: application_id is required');\nreturn [{ json: { application_id } }];\n"
   },
   "id": "540fe981-a82d-4a91-9a79-ff5d0801c371",
   "name": "Normalize Sub-workflow Input",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    -180,
    140
   ]
  },
  {
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "// One UUID per rollup run -- echoed into the trust_rollup_insufficient_evidence\n// event's payload when the coverage gate fails (lib/f05/trust.js's ctx.runId,\n// design.md SS8.2). globalThis.crypto is undefined inside this n8n build's actual\n// Code-node VM sandbox (verified live 2026-07-19 -- a plain `docker exec node -e`\n// process exposes it, the task-runner's sandbox does not), so require('crypto') is\n// used instead -- allow-listed in infra/n8n/docker-compose.yml\n// (NODE_FUNCTION_ALLOW_BUILTIN=crypto,url), same proven pattern as f03's own\n// gen_run_id node.\nconst { randomUUID } = require('crypto');\nconst inp = $input.first().json;\nreturn [{ json: { application_id: inp.application_id, run_id: randomUUID() } }];\n"
   },
   "id": "8a228c2b-83c3-4717-b102-3a1c3b3767f5",
   "name": "Generate run_id",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    60,
    0
   ]
  },
  {
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "const SB = String($env.SUPABASE_URL || '').replace(/\\/rest\\/v1\\/?$/, ''), KEY = $env.SUPABASE_SERVICE_ROLE_KEY;\nasync function pgGet(path) {\n  return await this.helpers.httpRequest({\n    method: 'GET', url: SB + '/rest/v1/' + path,\n    headers: { apikey: KEY, Authorization: 'Bearer ' + KEY }, json: true,\n  });\n}\nconst inp = $input.first().json;\nconst rows = await pgGet.call(this,\n  'applications?id=eq.' + inp.application_id + '&select=id,company_id');\nif (!rows || !rows.length) {\n  throw new Error('f05-trust-rollup: no application found for id ' + inp.application_id);\n}\nreturn [{ json: { ...inp, company_id: rows[0].company_id } }];\n"
   },
   "id": "c53fa138-b2c1-4d1a-a830-4731959aa22d",
   "name": "Load application + company",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    340,
    0
   ]
  },
  {
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "const SB = String($env.SUPABASE_URL || '').replace(/\\/rest\\/v1\\/?$/, ''), KEY = $env.SUPABASE_SERVICE_ROLE_KEY;\nasync function pgGet(path) {\n  return await this.helpers.httpRequest({\n    method: 'GET', url: SB + '/rest/v1/' + path,\n    headers: { apikey: KEY, Authorization: 'Bearer ' + KEY }, json: true,\n  });\n}\nconst inp = $input.first().json;\n// design.md SS8.1 route 3's founderIds -- \"resolved by the caller with a\n// single-table lookup, not re-derived\" inside trust.js (lib/f05/trust.js's own file\n// header contract).\nconst rows = await pgGet.call(this,\n  'founder_company?company_id=eq.' + inp.company_id + '&select=founder_id');\nconst founder_ids = (rows || []).map(function (r) { return r.founder_id; }).filter(Boolean);\nreturn [{ json: { ...inp, founder_ids } }];\n"
   },
   "id": "319529b7-9198-4d2d-8c9d-20f4d996e33b",
   "name": "Load founder_ids for company",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    620,
    0
   ]
  },
  {
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "const SB = String($env.SUPABASE_URL || '').replace(/\\/rest\\/v1\\/?$/, ''), KEY = $env.SUPABASE_SERVICE_ROLE_KEY;\nasync function pgGet(path) {\n  return await this.helpers.httpRequest({\n    method: 'GET', url: SB + '/rest/v1/' + path,\n    headers: { apikey: KEY, Authorization: 'Bearer ' + KEY }, json: true,\n  });\n}\nconst inp = $input.first().json;\nconst rows = await pgGet.call(this,\n  'score_formulas?axis=eq.trust&active=eq.true&select=version,config&limit=1');\nif (!rows || !rows.length) {\n  throw new Error(\"f05-trust-rollup: no active score_formulas row for axis='trust'\");\n}\n// lib/f05/trust.js's own config shape -- { version, min_coverage } (SS7.5/SS8.2's\n// LEFT JOIN + literal-fallback discipline: read the live row here rather than a\n// second hardcoded copy; computeTrustRollup applies its OWN literal fallback if\n// config.rollup is entirely absent, e.g. a fresh clone before seed.sql has run).\nconst rollup_cfg = rows[0].config && rows[0].config.rollup;\nconst rollup_config = { version: rows[0].version, min_coverage: rollup_cfg && rollup_cfg.min_coverage };\nreturn [{ json: { ...inp, rollup_config } }];\n"
   },
   "id": "300826d3-80eb-4f08-8624-2675b087abed",
   "name": "Load active trust_v1 formula",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    900,
    0
   ]
  },
  {
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "const SB = String($env.SUPABASE_URL || '').replace(/\\/rest\\/v1\\/?$/, ''), KEY = $env.SUPABASE_SERVICE_ROLE_KEY;\nasync function pgGet(path) {\n  return await this.helpers.httpRequest({\n    method: 'GET', url: SB + '/rest/v1/' + path,\n    headers: { apikey: KEY, Authorization: 'Bearer ' + KEY }, json: true,\n  });\n}\nconst inp = $input.first().json;\n// design.md SS8.1 -- the same three OR'd routes lib/f05/trust.js's own\n// isClaimInScope() applies in JS, expressed here as a PostgREST 'or' filter over\n// `cards`. claim_trust is a VIEW with no FK metadata PostgREST can embed through, so\n// the join happens as two round trips -- cards first (this node), then claim_trust\n// filtered by card_id (next node), merged back together there. This query is the\n// UNRESTRICTED superset (route 3 with no company_id restriction) -- lib/f05/trust.js's\n// own scopeClaimsToApplication() applies that restriction inside the ROLLUP node\n// below, exactly as its file header documents (\"a caller may pass a superset and\n// rely on this module for the restriction\").\nconst orParts = [\n  'application_id.eq.' + inp.application_id,\n  'company_id.eq.' + inp.company_id,\n];\nif (inp.founder_ids && inp.founder_ids.length) {\n  orParts.push('founder_id.in.(' + inp.founder_ids.join(',') + ')');\n}\nconst cards = await pgGet.call(this,\n  'cards?select=id,application_id,company_id,founder_id&or=(' + orParts.join(',') + ')');\nreturn [{ json: { ...inp, scope_cards: cards || [] } }];\n"
   },
   "id": "cca99652-9ab7-4577-a65b-f9961b0d0856",
   "name": "Load scope card ids",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    1180,
    0
   ]
  },
  {
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "const SB = String($env.SUPABASE_URL || '').replace(/\\/rest\\/v1\\/?$/, ''), KEY = $env.SUPABASE_SERVICE_ROLE_KEY;\nasync function pgGet(path) {\n  return await this.helpers.httpRequest({\n    method: 'GET', url: SB + '/rest/v1/' + path,\n    headers: { apikey: KEY, Authorization: 'Bearer ' + KEY }, json: true,\n  });\n}\nconst inp = $input.first().json;\nconst cardIds = (inp.scope_cards || []).map(function (c) { return c.id; });\nlet claimRows = [];\nif (cardIds.length) {\n  claimRows = await pgGet.call(this,\n    'claim_trust?select=claim_id,card_id,topic,router_class,derived_status,trust,' +\n    'independence_factor,n_supports,n_contradicts&card_id=in.(' + cardIds.join(',') + ')');\n}\n\n// Column-contract reconciliation (lib/f05/run.js's own term for this same step):\n// claim_trust exposes only card_id, not the three card FKs lib/f05/trust.js's row\n// shape needs (card_application_id/card_company_id/card_founder_id) -- merged in here\n// from the cards rows fetched by the previous node, keyed by card_id.\nconst cardsById = new Map((inp.scope_cards || []).map(function (c) { return [c.id, c]; }));\nconst rows = (claimRows || []).map(function (r) {\n  const card = cardsById.get(r.card_id) || {};\n  return {\n    claim_id: r.claim_id,\n    topic: r.topic,\n    class: r.router_class,\n    derived_status: r.derived_status,\n    trust: r.trust,\n    independence_factor: r.independence_factor,\n    n_supports: r.n_supports,\n    n_contradicts: r.n_contradicts,\n    card_application_id: card.application_id || null,\n    card_company_id: card.company_id || null,\n    card_founder_id: card.founder_id || null,\n  };\n});\nreturn [{ json: { ...inp, rows } }];\n"
   },
   "id": "31661f18-6604-4af7-9a2e-ec02639d2b9a",
   "name": "Load claim_trust rows (scoped)",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    1460,
    0
   ]
  },
  {
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "// SOURCE OF TRUTH: lib/f05/trust.js -- do not edit here, edit there and re-run\n// n8n/build-f05-workflow.py. Body below is pasted VERBATIM (only the trailing\n// `module.exports` block is stripped -- n8n's sandbox does not define `module`).\n// Zero LLM: pure arithmetic over score_formulas.config -- design.md SS8.2's whole\n// point is that the rollup is a SELECT, never a model call (SS6.0b: \"confidence in\n// this feature is computed from evidence structure, never reported by a model\").\n\n// SOURCE OF TRUTH: lib/f05/trust.js\n//\n// Application-level Trust rollup math for feature 05 (Truth-Gap Check & Trust\n// Score) -- docs/backlog/05-truth-gap-trust/plan.md task B1, design.md SS7-SS8.\n// Pure functions only -- NO imports, NO requires, no I/O, no network, no\n// Date.now()/Math.random(), no top-level side effects. This file's body is\n// pasted verbatim into an n8n Code node with the header above (design.md\n// SS11, plan.md's zero-imports rule for every Code-node-bound module): n8n's\n// Code-node sandbox has no bind-mount of this repo and cannot `require()`\n// from it.\n//\n// This module does NOT compute per-claim trust (that is the `claim_trust` SQL\n// view, design SS7 -- built by a different terminal, concurrently, off the\n// frozen column contract this file also reads). It only implements SS8: which\n// claims belong to an application (SS8.1) and how their already-computed\n// per-claim numbers roll up into one `scores(axis='trust')` row or one\n// `trust_rollup_insufficient_evidence` event (SS8.2).\n//\n// ============================================================================\n// Input claim-row contract this module expects\n// ============================================================================\n//\n// design.md never spells out claim_trust's literal column list -- SS7.1-SS7.5\n// describe the QUANTITIES the view computes, not a CREATE VIEW column order.\n// The field names below are this module's own naming, chosen to match\n// design.md's own formula variable names wherever one is given (`class`,\n// `derived_status`, `trust`, `independence_factor`); flagged back to the team\n// as an assumption a builder wiring the real query should confirm against.\n//\n//   {\n//     claim_id:             uuid,    // claims.id\n//     topic:                 string,  // claims.topic\n//     class:                 'factual_static' | 'factual_dynamic' | 'qualitative' |\n//                            'forecast' | 'unverifiable' | 'precomputed',\n//                            // the router class materialised into the view\n//                            // (SS7.1); named `class` to match the router\n//                            // table's own key (SS4.1's prefix_map entries\n//                            // are `{prefix, class, check}`).\n//     derived_status:        'verified' | 'contradicted' | 'partially_supported' |\n//                            'unverified' | 'missing',   // claim_trust.derived_status (SS7.4)\n//     trust:                 number 0..1 | null,   // per-claim trust (SS7.2's own `trust`)\n//     independence_factor:   number 0..1 | null,   // SS7.2/SS7.3, same name\n//     n_supports:            integer,   // count of `supports` evidence rows on this\n//                            // claim -- this module's own naming, SS8.2 does\n//                            // not name a variable for it.\n//     n_contradicts:         integer,   // count of `contradicts` evidence rows\n//     card_application_id:   uuid | null,   // cards.application_id for this claim's card\n//     card_company_id:       uuid | null,   // cards.company_id\n//     card_founder_id:       uuid | null,   // cards.founder_id\n//   }\n//\n// `ctx` shape (design SS8.1):\n//   {\n//     applicationId:  uuid,     // the application being rolled up\n//     companyId:      uuid,     // applications.company_id for applicationId\n//     founderIds:     uuid[],   // founder_company.founder_id for companyId --\n//                               // route 3's join, resolved by the caller with\n//                               // a single-table lookup, not re-derived here\n//     runId:          uuid?,    // optional; echoed into the insufficient-\n//                               // evidence event payload if provided\n//   }\n//\n// `config` shape (SS7.5 / SS8.2 -- the `score_formulas('trust_v1','trust')`\n// row, LEFT JOIN + literal fallback, same failure-mode discipline as the\n// view's own SS7.5 fallback -- never a second hardcoded copy of the whole\n// row, only the one constant this rollup itself needs):\n//   { version: 'trust_v1', min_coverage: 0.25 }\n\n'use strict';\n\n// ----------------------------------------------------------------------------\n// Small shared helpers (independent copies -- no shared import across lib/f05\n// modules by design; see lib/f03/scoring.js and lib/f04/scoring.js for the\n// identical precedent in this repo).\n// ----------------------------------------------------------------------------\n\nfunction clamp(value, min, max) {\n  return Math.min(max, Math.max(min, value));\n}\n\n// Rounds to 2dp -- matches `scores.value numeric(5,2)` / `scores.confidence\n// numeric(3,2)` (same rounding discipline as lib/f03/scoring.js's round2:\n// a float-computed 100.005 would otherwise be rejected by the numeric column).\nfunction round2(value) {\n  return Number(value.toFixed(2));\n}\n\nfunction isFiniteNumber(value) {\n  return typeof value === 'number' && Number.isFinite(value);\n}\n\n// Coerces a possibly-null/undefined per-claim number to 0 for summation --\n// an absent trust/independence_factor on a claim the caller says is\n// \"assessed\" is defensive-only (the view's own contract, SS7.2, always\n// produces a number once a claim carries any evidence); this module does not\n// re-validate that contract, only refuses to let a bad value corrupt a sum.\nfunction numOr0(value) {\n  return isFiniteNumber(value) ? value : 0;\n}\n\n// SS4, SS8.2 -- the six router classes partition into exactly these two sets.\n// `precomputed` counts as verdict-eligible (SS8.2, SS4 table's \"n/a\" row,\n// named explicitly so a builder does not go looking for a fifth branch).\nconst VERDICT_ELIGIBLE_CLASSES = new Set(['factual_static', 'factual_dynamic', 'precomputed']);\nconst NOT_ASSESSABLE_CLASSES = new Set(['qualitative', 'forecast', 'unverifiable']);\n\n// SS8.2: \"min_coverage starts at 0.25 (matching 03) but must be re-derived\n// against live data before being locked\" -- the literal fallback this module\n// falls back to when `config.min_coverage` is absent, per this task's\n// instruction to take constants from the passed config with literal\n// fallbacks rather than hardcoding a second copy of the config row.\nconst DEFAULT_MIN_COVERAGE = 0.25;\n\nconst DEFAULT_FORMULA_VERSION = 'trust_v1';\n\n// ----------------------------------------------------------------------------\n// SS8.1 -- scope: which claims belong to an application\n// ----------------------------------------------------------------------------\n//\n// design.md phrases SS8.1 as a SQL WHERE clause (three OR'd routes over\n// `claims c JOIN cards k ON k.id = c.card_id`). This module implements the\n// identical rule as a pure JS predicate over pre-joined rows, per this task's\n// \"pure functions, no DB access\" constraint -- a production caller may\n// additionally run the SQL directly for efficiency (fetching fewer rows over\n// the wire), but THIS predicate is what the acceptance tests exercise and is\n// the authoritative expression of the SS8.1 rule for anything that calls into\n// this module.\n//\n// Route 1: the card is directly tagged with this application.\n// Route 2: the card is tagged with the application's own company -- RESTRICTED\n//          to cards whose own `card_application_id` is either null or this\n//          same application. QA pass-1 finding 1 (qa-report-05.md) found this\n//          section's original assumption -- \"company cards ... are not\n//          attached to any specific application row\" -- false in the live\n//          corpus: feature 02's `radar_activated` flow creates several\n//          `applications` rows per company, only one of which is ever\n//          promoted to carry real `cards`, and a promoted card DOES carry a\n//          concrete `card_application_id` alongside its `card_company_id`.\n//          Without this restriction an unrestricted company match pulls that\n//          one company's cards -- and their entire claim set -- into every\n//          sibling application's rollup, each reporting a fully \"scored\"\n//          Trust row despite having done none of this feature's actual work\n//          (measured live: 104 of 308 applications, 34%, would leak this\n//          way). Route 3 already carried the analogous restriction; this\n//          route was missing it.\n// Route 3: the card belongs to a founder on this application's company --\n//          RESTRICTED to that founder's person-scoped claims (card_company_id\n//          IS NULL) or claims already scoped to this same company. Without\n//          this restriction a founder's OTHER startup's claims would leak in\n//          (SS8.1's load-bearing warning) -- feature 03's premise is that a\n//          founder persists across companies, so an unrestricted founder join\n//          is exactly the leak this route must not create.\nfunction isClaimInScope(row, ctx) {\n  if (row.card_application_id != null && row.card_application_id === ctx.applicationId) return true;\n  if (\n    row.card_company_id != null &&\n    row.card_company_id === ctx.companyId &&\n    (row.card_application_id == null || row.card_application_id === ctx.applicationId)\n  ) {\n    return true;\n  }\n\n  const founderIds = Array.isArray(ctx.founderIds) ? ctx.founderIds : [];\n  if (row.card_founder_id != null && founderIds.includes(row.card_founder_id)) {\n    if (row.card_company_id == null || row.card_company_id === ctx.companyId) return true;\n  }\n\n  return false;\n}\n\nfunction scopeClaimsToApplication(rows, ctx) {\n  const list = Array.isArray(rows) ? rows : [];\n  return list.filter((row) => isClaimInScope(row, ctx));\n}\n\n// ----------------------------------------------------------------------------\n// SS8.2 -- missing_flags\n// ----------------------------------------------------------------------------\n//\n// \"missing_flags = [ VERDICT-ELIGIBLE topics with derived_status missing or\n// unverified ] + { not_assessable_count: <count of qualitative/forecast/\n// unverifiable claims> }\". The gap list is scoped to VERDICT-ELIGIBLE claims\n// only and deduplicated by topic (not one entry per claim) -- SS8.2's own\n// warning: \"Without that scoping it would sweep in every qualitative claim...\n// producing a ~430-entry missing_flags array on every application... The\n// count of not-assessable claims is honest; the LIST of them is noise.\"\n// Deduplicating by topic keeps the gap list bounded by the ~49 distinct\n// topics in the router table (SS4.1), never by claim count.\n//\n// `coverage` also lives here (team-lead ruling, 2026-07-19, on this task's\n// own flag): `scores` has no `coverage` column, but SS14.1 makes coverage a\n// DISPLAY requirement -- \"wherever the rollup value appears, coverage must\n// appear beside it\". The `scores` row is a snapshot while `claim_trust` is\n// live, so a consumer recomputing coverage from the view later would drift\n// from the value it sits next to. Persisting it inside `missing_flags` keeps\n// value/confidence/coverage as one atomic, non-drifting snapshot. Optional\n// second argument so this function stays independently callable (e.g. in a\n// test) without first computing a rollup-level coverage number.\nfunction buildMissingFlags(scopedRows, coverage) {\n  const gapTopics = new Set();\n  let notAssessableCount = 0;\n\n  for (const row of scopedRows) {\n    if (VERDICT_ELIGIBLE_CLASSES.has(row.class)) {\n      if ((row.derived_status === 'missing' || row.derived_status === 'unverified') && row.topic) {\n        gapTopics.add(row.topic);\n      }\n    } else if (NOT_ASSESSABLE_CLASSES.has(row.class)) {\n      notAssessableCount += 1;\n    }\n  }\n\n  return {\n    topics: Array.from(gapTopics),\n    not_assessable_count: notAssessableCount,\n    coverage: isFiniteNumber(coverage) ? round2(coverage) : null,\n  };\n}\n\n// ----------------------------------------------------------------------------\n// SS8.2 -- the rollup itself\n// ----------------------------------------------------------------------------\n//\n// computeTrustRollup(rows, config, ctx) -> {\n//   status: 'scored' | 'insufficient_evidence',\n//   coverage, verdictEligibleCount, assessedCount, missingFlags,  // always present, for logging/diagnostics\n//   scoresRow: {...} | null,   // the ready-to-insert `scores` row, only on 'scored'\n//   event: {...} | null,       // the `trust_rollup_insufficient_evidence` event, only on 'insufficient_evidence'\n// }\n//\n// `rows` -- the FULL unscoped candidate set (every claim reachable by any of\n//   SS8.1's three routes before the company_id restriction is applied); this\n//   function does the scoping itself (calls scopeClaimsToApplication), so a\n//   caller may pass a superset and rely on this module for the restriction --\n//   this is what acceptance criterion 5 (a same-founder, different-company\n//   claim must be excluded) exercises directly.\n// `config` -- { version, min_coverage } from the active `score_formulas`\n//   row for axis='trust', with literal fallbacks applied here when either is\n//   absent (SS7.5's failure-mode discipline, restated for this rollup's own\n//   one constant).\n// `ctx` -- { applicationId, companyId, founderIds, runId? }, see the file\n//   header for the full shape.\nfunction computeTrustRollup(rows, config, ctx) {\n  const cfg = config || {};\n  const minCoverage = isFiniteNumber(cfg.min_coverage) ? cfg.min_coverage : DEFAULT_MIN_COVERAGE;\n  const formulaVersion = cfg.version || DEFAULT_FORMULA_VERSION;\n\n  const inScope = scopeClaimsToApplication(rows, ctx);\n\n  // verdict_eligible = claims whose router class in {factual_static,\n  // factual_dynamic, precomputed} -- SS8.2's denominator, NOT all in-scope claims.\n  const verdictEligible = inScope.filter((row) => VERDICT_ELIGIBLE_CLASSES.has(row.class));\n\n  // assessed = verdict-eligible claims carrying >=1 supports OR contradicts row.\n  const assessed = verdictEligible.filter((row) => numOr0(row.n_supports) + numOr0(row.n_contradicts) >= 1);\n\n  // coverage = assessed / verdict_eligible -- SS8.2, explicitly NOT / all\n  // in-scope claims (qualitative/forecast/unverifiable claims can never carry\n  // supports/contradicts by design, SS4.3/SS7.1, so counting them would make\n  // coverage structurally low for reasons that are not knowledge gaps).\n  const coverage = verdictEligible.length > 0 ? assessed.length / verdictEligible.length : 0;\n\n  const missingFlags = buildMissingFlags(inScope, coverage);\n\n  // ---- guard FIRST, before any division by assessed.length (SS8.2/SS2.3 pattern) ----\n  if (assessed.length === 0 || coverage < minCoverage) {\n    const event = {\n      event_type: 'trust_rollup_insufficient_evidence',\n      entity_type: 'application',\n      entity_id: ctx.applicationId,\n      payload: Object.assign(\n        {\n          application_id: ctx.applicationId,\n          coverage: round2(coverage),\n          min_coverage: minCoverage,\n          verdict_eligible_count: verdictEligible.length,\n          assessed_count: assessed.length,\n          missing_flags: missingFlags,\n        },\n        ctx.runId ? { run_id: ctx.runId } : {}\n      ),\n    };\n\n    return {\n      status: 'insufficient_evidence',\n      coverage,\n      verdictEligibleCount: verdictEligible.length,\n      assessedCount: assessed.length,\n      missingFlags,\n      scoresRow: null,\n      event,\n    };\n  }\n\n  // value = 100 x mean(trust) over ASSESSED claims only -- SS8.2: \"gaps never\n  // drag the value down\". A gap (unassessed, verdict-eligible) claim never\n  // enters this mean at all -- REQ-003's core invariant, enforced structurally\n  // by the denominator being `assessed.length`, not `verdictEligible.length`.\n  let trustSum = 0;\n  for (const row of assessed) trustSum += numOr0(row.trust);\n  const value = clamp(round2((trustSum / assessed.length) * 100), 0, 100);\n\n  // confidence = clamp(coverage x mean(independence_factor over assessed), 0, 1).\n  // `coverage` is what a gap actually lowers here -- adding unassessed\n  // verdict-eligible claims shrinks this ratio without touching `value` above.\n  let independenceSum = 0;\n  for (const row of assessed) independenceSum += numOr0(row.independence_factor);\n  const meanIndependence = independenceSum / assessed.length;\n  const confidence = clamp(round2(coverage * meanIndependence), 0, 1);\n\n  const scoresRow = {\n    axis: 'trust',\n    application_id: ctx.applicationId,\n    founder_id: null,\n    value,\n    confidence,\n    missing_flags: missingFlags,\n    input_claim_ids: assessed.map((row) => row.claim_id),\n    formula_version: formulaVersion,\n    model: null, // SS8.2: \"model NULL on the deterministic path\" -- no LLM in this rollup (SS6.0b)\n  };\n\n  return {\n    status: 'scored',\n    coverage,\n    verdictEligibleCount: verdictEligible.length,\n    assessedCount: assessed.length,\n    missingFlags,\n    scoresRow,\n    event: null,\n  };\n}\n\n// ---- invocation ----\nconst inp = $input.first().json;\nconst ctx = {\n  applicationId: inp.application_id,\n  companyId: inp.company_id,\n  founderIds: inp.founder_ids || [],\n  runId: inp.run_id,\n};\nconst rollup = computeTrustRollup(inp.rows || [], inp.rollup_config || {}, ctx);\nreturn [{ json: { ...inp, rollup } }];\n"
   },
   "id": "9fcf88c3-1e7e-4261-a78c-f5783145b46d",
   "name": "ROLLUP - trust.js (computeTrustRollup)",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    1740,
    0
   ],
   "notes": "SOURCE OF TRUTH: lib/f05/trust.js -- do not edit here, edit there and re-paste (via n8n/build-f05-workflow.py). No LLM call anywhere in this node."
  },
  {
   "parameters": {
    "conditions": {
     "options": {
      "caseSensitive": true,
      "leftValue": "",
      "typeValidation": "loose"
     },
     "conditions": [
      {
       "id": "1c0ec50e-0a09-4e52-aef9-286b8a59ac39",
       "leftValue": "={{ $json.rollup.status }}",
       "rightValue": "insufficient_evidence",
       "operator": {
        "type": "string",
        "operation": "equals"
       }
      }
     ],
     "combinator": "and"
    },
    "options": {}
   },
   "id": "8e9490d7-05be-4567-ae78-7dd320999e62",
   "name": "IF: insufficient_evidence?",
   "type": "n8n-nodes-base.if",
   "typeVersion": 2,
   "position": [
    2020,
    0
   ]
  },
  {
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "const SB = String($env.SUPABASE_URL || '').replace(/\\/rest\\/v1\\/?$/, ''), KEY = $env.SUPABASE_SERVICE_ROLE_KEY;\nasync function pg(method, path, body, prefer) {\n  const headers = { apikey: KEY, Authorization: 'Bearer ' + KEY, 'Content-Type': 'application/json' };\n  if (prefer) headers.Prefer = prefer;\n  return await this.helpers.httpRequest({ method, url: SB + '/rest/v1/' + path, headers, body, json: true });\n}\nconst inp = $input.first().json;\n// design.md SS8.2/SS8.3 -- coverage below min_coverage writes NO scores row (there is\n// no honest number to persist into a NOT NULL numeric(5,2) column without\n// fabricating); one events row is the queryable, timestamped marker so 'not assessed'\n// is never confused with a silent zero (SS14: \"an absent scores(axis='trust') row\n// means not assessed... it must never render as zero\"). rollup.event is already the\n// full { event_type, entity_type, entity_id, payload } shape lib/f05/trust.js builds --\n// written here verbatim, no reshaping.\nawait pg.call(this, 'POST', 'events', {\n  event_type: inp.rollup.event.event_type,\n  entity_type: inp.rollup.event.entity_type,\n  entity_id: inp.rollup.event.entity_id,\n  payload: inp.rollup.event.payload,\n  actor: 'f05-trust-rollup',\n}, 'return=minimal');\nreturn [{ json: { ...inp, score_id: null } }];\n"
   },
   "id": "ca75ef6c-b380-4897-86b0-cc07789ac4be",
   "name": "Write event (insufficient_evidence)",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    2300,
    -150
   ]
  },
  {
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "const SB = String($env.SUPABASE_URL || '').replace(/\\/rest\\/v1\\/?$/, ''), KEY = $env.SUPABASE_SERVICE_ROLE_KEY;\nasync function pg(method, path, body, prefer) {\n  const headers = { apikey: KEY, Authorization: 'Bearer ' + KEY, 'Content-Type': 'application/json' };\n  if (prefer) headers.Prefer = prefer;\n  return await this.helpers.httpRequest({ method, url: SB + '/rest/v1/' + path, headers, body, json: true });\n}\nconst inp = $input.first().json;\n// design.md SS8.2/SS8.3 -- no idempotency guard by design (\"accept duplicates under\n// append-only semantics... resolve current by max(computed_at)\"), matching scores'\n// own project-wide write convention (e.g. lib/f03/run.js's writeScored).\nconst sr = inp.rollup.scoresRow;\nconst rows = await pg.call(this, 'POST', 'scores', {\n  application_id: sr.application_id,\n  founder_id: null,\n  axis: 'trust',\n  value: sr.value,\n  confidence: sr.confidence,\n  missing_flags: sr.missing_flags,\n  input_claim_ids: sr.input_claim_ids,\n  formula_version: sr.formula_version,\n  model: null,\n}, 'return=representation');\nreturn [{ json: { ...inp, score_id: rows[0].id } }];\n"
   },
   "id": "18e40430-ea3b-417a-9fa4-56aa1d33aa07",
   "name": "Write scores row (trust)",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    2300,
    150
   ]
  },
  {
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "// design.md SS8.2's summary contract -- terminal node: its return value is both the\n// webhook HTTP response (responseMode: lastNode) and the value returned to a caller\n// invoking this as a sub-workflow (06/09/10).\nconst inp = $input.first().json;\nconst rollup = inp.rollup;\nreturn [{ json: {\n  application_id: inp.application_id, run_id: inp.run_id,\n  status: rollup.status, score_id: inp.score_id || null, axis: 'trust',\n  coverage: rollup.coverage, verdict_eligible_count: rollup.verdictEligibleCount,\n  assessed_count: rollup.assessedCount, missing_flags: rollup.missingFlags,\n  scores_row: rollup.scoresRow, formula_version: inp.rollup_config.version,\n} }];\n"
   },
   "id": "0f56efb5-c985-4f73-a951-2937840e9893",
   "name": "Build output contract",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    2580,
    0
   ]
  },
  {
   "parameters": {
    "content": "### SCOPE = SS8.1's THREE OR'D ROUTES\n`cards` matching application_id, OR company_id, OR a\nfounder on this company (unrestricted superset) -- then\n`claim_trust` by card_id. lib/f05/trust.js's own\nscopeClaimsToApplication() applies route 3's company_id\nrestriction inside ROLLUP, not here.",
    "height": 240,
    "width": 460
   },
   "id": "2b3e099a-08e7-42d7-a592-505896bb09b3",
   "name": "Note: scope resolution",
   "type": "n8n-nodes-base.stickyNote",
   "typeVersion": 1,
   "position": [
    1160,
    -420
   ]
  },
  {
   "parameters": {
    "content": "### ZERO LLM -- THE ROLLUP IS A SELECT (design.md SS6.0b)\nROLLUP (`lib/f05/trust.js`, pasted verbatim) is pure\narithmetic over `score_formulas.config` -- coverage,\nvalue and confidence, all derived from claim_trust's\nalready-computed per-claim numbers. Below `min_coverage`:\nNO scores row, one `trust_rollup_insufficient_evidence`\nevent instead -- absence is not zero (design.md SS14).",
    "height": 260,
    "width": 1080
   },
   "id": "9d9f7db0-8022-41dc-8f71-8607bbd56471",
   "name": "Note: deterministic core, no LLM",
   "type": "n8n-nodes-base.stickyNote",
   "typeVersion": 1,
   "position": [
    1720,
    -420
   ]
  }
 ],
 "connections": {
  "Webhook Trigger": {
   "main": [
    [
     {
      "node": "Normalize Webhook Input",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Execute Workflow Trigger": {
   "main": [
    [
     {
      "node": "Normalize Sub-workflow Input",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Normalize Webhook Input": {
   "main": [
    [
     {
      "node": "Generate run_id",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Normalize Sub-workflow Input": {
   "main": [
    [
     {
      "node": "Generate run_id",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Generate run_id": {
   "main": [
    [
     {
      "node": "Load application + company",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Load application + company": {
   "main": [
    [
     {
      "node": "Load founder_ids for company",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Load founder_ids for company": {
   "main": [
    [
     {
      "node": "Load active trust_v1 formula",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Load active trust_v1 formula": {
   "main": [
    [
     {
      "node": "Load scope card ids",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Load scope card ids": {
   "main": [
    [
     {
      "node": "Load claim_trust rows (scoped)",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Load claim_trust rows (scoped)": {
   "main": [
    [
     {
      "node": "ROLLUP - trust.js (computeTrustRollup)",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "ROLLUP - trust.js (computeTrustRollup)": {
   "main": [
    [
     {
      "node": "IF: insufficient_evidence?",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "IF: insufficient_evidence?": {
   "main": [
    [
     {
      "node": "Write event (insufficient_evidence)",
      "type": "main",
      "index": 0
     }
    ],
    [
     {
      "node": "Write scores row (trust)",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Write event (insufficient_evidence)": {
   "main": [
    [
     {
      "node": "Build output contract",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Write scores row (trust)": {
   "main": [
    [
     {
      "node": "Build output contract",
      "type": "main",
      "index": 0
     }
    ]
   ]
  }
 },
 "active": false,
 "settings": {
  "executionOrder": "v1",
  "saveManualExecutions": true,
  "timezone": "UTC"
 },
 "pinData": {},
 "meta": {
  "templateCredsSetupCompleted": true
 }
}