n8n/workflows/f06-generate-memo.json
{
 "name": "f06-generate-memo",
 "nodes": [
  {
   "parameters": {
    "httpMethod": "POST",
    "path": "f06-generate-memo",
    "responseMode": "responseNode",
    "options": {}
   },
   "id": "24e05c10-6fdf-4721-b4da-aad0a2a946d4",
   "name": "Webhook Trigger",
   "type": "n8n-nodes-base.webhook",
   "typeVersion": 2.1,
   "position": [
    -700,
    0
   ],
   "webhookId": "0f4166fa-a46f-42ae-91ca-6ee35ed2ed64"
  },
  {
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "// Webhook body carries { application_id, thesis_id? } (design.md SS5's own trigger\n// shape). thesis_id is accepted but NOT currently consumed anywhere downstream --\n// design SS3.5: api_applications already resolves the live thesis evaluation (the\n// stale-thesis trap), \"use it -- do not re-derive from scores\"; no override mechanism\n// is specified anywhere in SS3-SS9. Accepted here only so a future caller-supplied\n// override has somewhere to land without a webhook-contract change.\nconst { randomUUID } = require('crypto');\nconst item = $input.first().json;\nconst body = item.body || {};\nconst application_id = body.application_id || item.application_id || null;\nconst thesis_id = body.thesis_id || item.thesis_id || null;\nreturn [{ json: { application_id, thesis_id, run_id: randomUUID() } }];\n"
   },
   "id": "b488c3ea-157e-4b1c-8b11-8efcca63ef64",
   "name": "Normalize Webhook Input",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    -420,
    0
   ]
  },
  {
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "const SB = String($env.SUPABASE_URL || '').replace(/\\/rest\\/v1\\/?$/, '');\nconst KEY = $env.SUPABASE_SERVICE_ROLE_KEY;\nconst self = this;\nasync function pg(method, path, body, prefer) {\n  const headers = { apikey: KEY, Authorization: 'Bearer ' + KEY, 'Content-Type': 'application/json' };\n  if (prefer) headers.Prefer = prefer;\n  return await self.helpers.httpRequest({ method, url: SB + '/rest/v1/' + path, headers, body, json: true });\n}\n\n// SOURCE OF TRUTH: lib/f06/context.js -- pasted verbatim below (module.exports stripped).\n// Edit there and re-run n8n/build-f06-workflow.py, not here.\n\n// SOURCE OF TRUTH: lib/f06/context.js\n//\n// Deterministic CONTEXT-PACK assembly for feature 06 (Investment Memo & $100K\n// Decision) -- docs/backlog/06-memo-decision/plan.md task T2, design.md \u00a73\n// (the read table), \u00a74.2 (the `gaps` shape). Zero-LLM: every field here is a\n// straight read or a pure resolution rule, never a model call. This is the\n// [A] node's logic (design \u00a75) -- the section-writers ([B1]-[B4]), the\n// decision node ([C], lib/f06/decision.js) and the assemble/write node ([D],\n// lib/f06/assemble.js) all consume the pack this file returns, never re-read\n// the DB themselves for the numbers.\n//\n// NO imports, NO requires -- this file's body is pasted verbatim into an n8n\n// Code node (plan.md's zero-imports rule, same as lib/f04/f05's precedent).\n// The ONE exception, per this task's own brief: `pg` arrives as a parameter,\n// not a module-level helper -- the Code node supplies it (n8n/workflow_defs.py's\n// `async function pg(method, path, body, prefer)` shape, called here with only\n// `method`/`path`; this module never writes, so `body`/`prefer` never apply).\n// `pg(method, path)` already resolves against `$env.SUPABASE_URL` (which\n// itself already ends in `/rest/v1` -- CLAUDE.md > Commands) and returns the\n// PARSED JSON body (an array for every `select` this file issues). Testable\n// with a mock of that exact 2-arg shape -- see context.test.js.\n//\n// ============================================================================\n// Design decisions this file had to resolve beyond design.md's literal text\n// (flagged back to the team lead in the T2 report, not silently assumed)\n// ============================================================================\n//\n// 1. `material_contradictions` / `fatal_contradictions` are COUNTS OF DISTINCT\n//    CLAIMS, not a sum of (event + claim-derived-status) signals. design.md\n//    \u00a73.9 states the two conditions (\"any derived_status='contradicted' OR any\n//    event severity='material'\" / \"an event nature='factual' AND\n//    severity='material'\") without saying whether a claim satisfying BOTH\n//    signals at once (the common case -- a f05/run.js `claim_contradicted`\n//    event fires alongside the `contradicts` evidence row that then drives\n//    claim_trust's own verdict to `contradicted`) counts once or twice.\n//    Counting by distinct claim_id avoids double-counting one real-world\n//    contradiction as two, which double-weighting would otherwise do to\n//    decision.js's `> 0` gates (harmless there) and to `conditions.rationale`\n//    prose (not harmless -- \"2 material contradictions\" reads worse than \"1\"\n//    for the identical underlying fact).\n// 2. `gaps.contradictions` (\u00a74.2) is likewise deduped by claim_id, preferring\n//    the EVENT's severity/nature (richer) over a claim-only entry when a claim\n//    has both; a claim-only entry (documented/discovered contradiction with no\n//    event, e.g. every live app today -- events are fixture-only per\n//    data-contracts.md \u00a713) gets `severity: null, nature: null` rather than a\n//    fabricated guess -- honest-unknown beats invented, per I4.\n// 3. `not_disclosed`'s fixed trigger set (design \u00a74.2: \"at minimum financials\n//    and revenue; extended by any thesis_missing_fields / founder_score_gaps\n//    topic that maps to a disclosure gap\") names no canonical topic strings\n//    beyond `round.cap_table` (docs/backlog/01-memory-data-model/design.md\n//    \u00a74.4's own worked example). No topic registry documents a canonical\n//    \"revenue\" claim topic. Resolved conservatively: `financials` matches any\n//    claim topic starting with `round.` (the one documented financial-topic\n//    namespace) or `company.financials`; `revenue` matches any topic\n//    containing the substring `revenue` (covers `traction.revenue*` without\n//    inventing an exact slug this repo has not fixed). The thesis-missing-\n//    fields extension is limited to the two gateable fields\n//    (docs/backlog/09-investor-dashboard/data-contracts.md \u00a77) that are\n//    genuinely founder-DISCLOSURE gaps rather than derived/inferred fields --\n//    `stage_evidence`, `business_model` -- deliberately NOT extended to\n//    `geography_country`/`geography_region`/`stage` (those are read off the\n//    company row, not a founder disclosure) or to founder_score_gaps\n//    criteria (no confirmed criterion_id vocabulary to map safely without\n//    fabricating a disclosure claim the founder was never asked to make).\n// 4. `decision_inputs.founder_score` snapshots the FIRST row of `founders`\n//    (i.e. `founders[0]`), not an average or a max computed here. This is\n//    free, not a choice with a hidden tradeoff: `api_founders` is filtered by\n//    `application_id=eq.<id>` with its OWN default order baked into the view\n//    (`founder_score DESC NULLS LAST, full_name, founder_id` --\n//    data-contracts.md \u00a71), so `founders[0]` already IS the team's\n//    highest-scored (or, if none assessed, first-alphabetically) founder,\n//    with no re-sort needed here. `founder_score` is narrative/traceability\n//    only (design \u00a78) -- this snapshot never feeds the decision cascade.\n// 5. `competitors` (\u00a73.10) reads `value.name` for the competitor's display\n//    name, confirmed against `per_competitor_record`\n//    (docs/backlog/04-market-trend-competition/design.md \u00a73.3) -- the design\n//    table for THIS feature names only `value.company_mentioned \u2192\n//    named_by_founder` and leaves the name field unstated.\n//\n// ============================================================================\n\n// ----------------------------------------------------------------------------\n// Small shared helpers (independent copy, no shared import across lib/f0*\n// modules by this repo's own convention -- see lib/f05/trust.js's header).\n// ----------------------------------------------------------------------------\n\nfunction asArray(rows) {\n  return Array.isArray(rows) ? rows : [];\n}\n\nfunction asPlainObject(value) {\n  return value && typeof value === 'object' && !Array.isArray(value) ? value : {};\n}\n\n// PostgREST `in.(...)` filter value -- comma-joined, no quoting (every id\n// here is a uuid, which contains no comma/paren to escape). Callers must\n// still guard the empty-list case themselves: `in.()` is invalid PostgREST\n// syntax, so an empty id set means \"skip the read, the answer is []\", never\n// \"issue the request anyway.\"\nfunction inFilter(ids) {\n  return ids.join(',');\n}\n\n// design.md \u00a77's \"resolvable router_class\" -- qualitative/forecast/\n// unverifiable are PINNED to `unverified` forever by claim_trust's own verdict\n// CASE (data-contracts.md \u00a74, step 2: \"pinned forever\"), so a claim in one of\n// those three classes can never become an \"ambiguous, worth a deep-dive\n// question\" ask -- asking about it would never resolve. Only the three\n// classes that actually transition through later CASE branches are\n// resolvable.\nconst RESOLVABLE_ROUTER_CLASSES = new Set(['factual_static', 'factual_dynamic', 'precomputed']);\n\nfunction isResolvableRouterClass(routerClass) {\n  return RESOLVABLE_ROUTER_CLASSES.has(routerClass);\n}\n\n// \u00a73.10's three competition topics.\nconst COMPETITION_TOPICS = Object.freeze([\n  'competition.competitor',\n  'competition.status_quo_alternative',\n  'competition.founder_claim_mismatch',\n]);\n\n// \u00a74.2's fixed not-disclosed trigger set -- see header note 3. `matches` is a\n// predicate over one claim's topic string; a trigger fires (emits its line)\n// when NO claim in the pack's corpus matches it at all.\nconst NOT_DISCLOSED_TRIGGERS = Object.freeze([\n  {\n    topic: 'financials',\n    text: 'Cap table: not disclosed.',\n    matches: (topic) => topic.startsWith('round.') || topic.startsWith('company.financials'),\n  },\n  {\n    topic: 'revenue',\n    text: 'Revenue: not disclosed.',\n    matches: (topic) => topic.indexOf('revenue') !== -1,\n  },\n]);\n\n// \u00a74.2's `thesis_missing_fields` extension -- see header note 3. Keyed by the\n// exact gateable-field string thesis_missing_fields carries\n// (data-contracts.md \u00a77).\nconst DISCLOSURE_FIELD_MAP = Object.freeze({\n  stage_evidence: { topic: 'stage_evidence', text: 'Company stage evidence: not disclosed.' },\n  business_model: { topic: 'business_model', text: 'Business model: not disclosed.' },\n});\n\n// ----------------------------------------------------------------------------\n// \u00a73.2 -- three screening axes. `assessed` is read VERBATIM off the jsonb the\n// view already built; this function never coerces `value` to 0 and never\n// derives `assessed` from `value`'s presence (I2 -- absent \u2260 zero).\n// ----------------------------------------------------------------------------\n\nfunction normalizeAxis(raw) {\n  const axis = asPlainObject(raw);\n  return {\n    value: 'value' in axis ? axis.value : null,\n    trend: 'trend' in axis ? axis.trend : null,\n    confidence: 'confidence' in axis ? axis.confidence : null,\n    missing: Array.isArray(axis.missing) ? axis.missing : [],\n    assessed: axis.assessed === true,\n  };\n}\n\n// ----------------------------------------------------------------------------\n// \u00a73.4 -- trust axis. No row \u21d2 not assessed (never a 0 trust value). The\n// documented one exception to \"never parse missing_flags raw\" (design \u00a73.4) --\n// only `.coverage` is read off the raw object, nothing `_`-prefixed.\n// ----------------------------------------------------------------------------\n\nfunction buildTrustAxis(rows) {\n  const list = asArray(rows);\n  if (list.length === 0) {\n    return { value: null, confidence: null, coverage: null, assessed: false };\n  }\n  const row = list[0];\n  const missingFlags = asPlainObject(row.missing_flags);\n  return {\n    value: row.value ?? null,\n    confidence: row.confidence ?? null,\n    coverage: typeof missingFlags.coverage === 'number' ? missingFlags.coverage : null,\n    assessed: true,\n  };\n}\n\n// ----------------------------------------------------------------------------\n// \u00a73.10 -- competition. Only `competition.competitor` claims become\n// structured competitor rows (`per_competitor_record`,\n// docs/backlog/04-market-trend-competition/design.md \u00a73.3); the other two\n// topics stay in `competition_claims` for [B3]'s prose.\n// ----------------------------------------------------------------------------\n\nfunction buildCompetitors(claims) {\n  return claims\n    .filter((c) => c.topic === 'competition.competitor')\n    .map((c) => {\n      const value = asPlainObject(c.value);\n      return {\n        name: typeof value.name === 'string' ? value.name : null,\n        named_by_founder: value.company_mentioned === true,\n        claim_ids: [c.claim_id],\n      };\n    });\n}\n\n// ----------------------------------------------------------------------------\n// \u00a73.9 -- contradictions. `events` (\u00a73.9a) and claim-derived-status (\u00a73.9b)\n// are two INDEPENDENT signals over the same claim_id space; both helpers\n// below dedupe to \"one entry per claim\" (header note 1/2).\n// ----------------------------------------------------------------------------\n\nfunction eventClaimId(event) {\n  const payload = asPlainObject(event && event.payload);\n  return payload.claim_id || null;\n}\n\nfunction countMaterialAndFatal(contradictionEvents, claims) {\n  const materialIds = new Set();\n  const fatalIds = new Set();\n\n  for (const event of contradictionEvents) {\n    const payload = asPlainObject(event.payload);\n    const claimId = eventClaimId(event);\n    if (!claimId) continue;\n    if (payload.severity === 'material') materialIds.add(claimId);\n    if (payload.nature === 'factual' && payload.severity === 'material') fatalIds.add(claimId);\n  }\n  // \u00a73.9: \"material = any derived_status='contradicted' ... documented-tier\n  // by construction\" -- source (b) has no severity/nature, so it can only\n  // ever add to `material`, never to `fatal` (the conservative default).\n  for (const claim of claims) {\n    if (claim.derived_status === 'contradicted') materialIds.add(claim.claim_id);\n  }\n\n  return { material_contradictions: materialIds.size, fatal_contradictions: fatalIds.size };\n}\n\n// \u00a74.2 `gaps.contradictions` -- singular `claim_id` key per entry (design \u00a79\n// step 1 calls this out explicitly: the citation gate reads this exact key).\nfunction buildGapContradictions(contradictionEvents, claims) {\n  const byClaim = new Map();\n  const topicByClaimId = new Map(claims.map((c) => [c.claim_id, c.topic]));\n\n  for (const event of contradictionEvents) {\n    const claimId = eventClaimId(event);\n    if (!claimId || byClaim.has(claimId)) continue;\n    const payload = asPlainObject(event.payload);\n    byClaim.set(claimId, {\n      claim_id: claimId,\n      severity: payload.severity ?? null,\n      nature: payload.nature ?? null,\n      topic: topicByClaimId.get(claimId) ?? null,\n    });\n  }\n\n  for (const claim of claims) {\n    if (claim.derived_status !== 'contradicted' && claim.derived_status !== 'partially_supported') continue;\n    if (byClaim.has(claim.claim_id)) continue; // the event entry above is richer -- keep it\n    byClaim.set(claim.claim_id, {\n      claim_id: claim.claim_id,\n      severity: null,\n      nature: null,\n      topic: claim.topic ?? null,\n    });\n  }\n\n  return Array.from(byClaim.values());\n}\n\n// \u00a77's \"weakest assessed screening axis\" -- only the three SCREENING axes\n// (never trust, never founder_score -- both a different subject, \u00a73.3/\u00a73.4).\n// null when nothing is assessed (never fabricate a weakest-of-nothing).\nfunction weakestAssessedAxis(axes) {\n  let weakest = null;\n  for (const name of ['founder', 'market', 'idea_vs_market']) {\n    const axis = axes[name];\n    if (!axis.assessed || typeof axis.value !== 'number') continue;\n    if (weakest === null || axis.value < weakest.value) weakest = { axis: name, value: axis.value };\n  }\n  return weakest;\n}\n\n// ----------------------------------------------------------------------------\n// \u00a74.2 -- gaps. Pure function of an already-built pack; kept separate from\n// buildPack per this task's own exported-surface, and ALSO attached onto the\n// pack buildPack returns (`pack.gaps`) so [D]/[B]-nodes reading the pack as\n// one object see it without a second call -- design \u00a75's [A] node\n// \"assembles the pack + allowed_claim_ids + gaps\" as one unit.\n// ----------------------------------------------------------------------------\n\nfunction buildGaps(pack) {\n  const claimTopics = pack.claims.map((c) => (typeof c.topic === 'string' ? c.topic : ''));\n\n  const not_disclosed = [];\n  for (const trigger of NOT_DISCLOSED_TRIGGERS) {\n    if (!claimTopics.some((topic) => trigger.matches(topic))) {\n      not_disclosed.push({ topic: trigger.topic, text: trigger.text });\n    }\n  }\n  const thesisMissingSet = new Set(pack.thesis.thesis_missing_fields);\n  for (const field of Object.keys(DISCLOSURE_FIELD_MAP)) {\n    const entry = DISCLOSURE_FIELD_MAP[field];\n    if (thesisMissingSet.has(field) && !not_disclosed.some((n) => n.topic === entry.topic)) {\n      not_disclosed.push(entry);\n    }\n  }\n\n  const missing_axes = [];\n  if (!pack.axes.founder.assessed) missing_axes.push('founder');\n  if (!pack.axes.market.assessed) missing_axes.push('market');\n  if (!pack.axes.idea_vs_market.assessed) missing_axes.push('idea_vs_market');\n  if (!pack.trust.assessed) missing_axes.push('trust');\n\n  const missingFieldsSet = new Set(pack.thesis.thesis_missing_fields);\n  for (const founder of pack.founders) {\n    for (const gap of founder.founder_score_gaps) {\n      if (gap && typeof gap.criterion_id === 'string') missingFieldsSet.add(gap.criterion_id);\n    }\n  }\n\n  const low_coverage = {\n    trust: typeof pack.trust.coverage === 'number' ? pack.trust.coverage : null,\n    thesis: typeof pack.thesis.thesis_coverage === 'number' ? pack.thesis.thesis_coverage : null,\n  };\n\n  return {\n    not_disclosed,\n    missing_axes,\n    missing_fields: Array.from(missingFieldsSet),\n    low_coverage,\n    contradictions: buildGapContradictions(pack.contradiction_events, pack.claims),\n  };\n}\n\n// ============================================================================\n// buildPack -- the [A] node's full body, design.md \u00a73.1-\u00a73.10.\n// ============================================================================\n\nasync function buildPack(pg, application_id) {\n  // \u00a73.1 -- application + company. The ONLY hard error in this file; every\n  // other empty-select branch below is a normal path (design \u00a73's own framing).\n  const appRows = asArray(await pg('GET', 'api_applications?application_id=eq.' + application_id));\n  if (appRows.length === 0) {\n    throw new Error('lib/f06/context.js: application not found: ' + application_id);\n  }\n  const app = appRows[0];\n\n  // \u00a73.2 -- three screening axes, already embedded in the api_applications row.\n  const axes = {\n    founder: normalizeAxis(app.score_founder),\n    market: normalizeAxis(app.score_market),\n    idea_vs_market: normalizeAxis(app.score_idea_vs_market),\n  };\n\n  // \u00a73.3 -- person founder score(s). Teams have several rows for one\n  // application -- ALL are kept (used again at \u00a73.9's founder-scoped queries).\n  const founderRows = asArray(await pg('GET', 'api_founders?application_id=eq.' + application_id));\n  const founders = founderRows.map((f) => ({\n    founder_id: f.founder_id,\n    full_name: f.full_name ?? null,\n    founder_score: f.founder_score ?? null,\n    founder_score_trend: f.founder_score_trend ?? null,\n    founder_score_confidence: f.founder_score_confidence ?? null,\n    score_assessed: f.score_assessed === true,\n    founder_score_gaps: Array.isArray(f.founder_score_gaps) ? f.founder_score_gaps : [],\n  }));\n  const founder_ids = founders.map((f) => f.founder_id).filter(Boolean);\n\n  // \u00a73.4 -- trust axis. `scores` has no api_* view; read the raw table directly.\n  const trustRows = await pg(\n    'GET',\n    'scores?application_id=eq.' + application_id + '&axis=eq.trust&order=computed_at.desc,id.desc&limit=1'\n  );\n  const trust = buildTrustAxis(trustRows);\n\n  // \u00a73.5 -- thesis fit. api_applications already resolves the stale-thesis\n  // trap (latest eval; score_id IS NULL / insufficient_evidence \u21d2 NULL fit) --\n  // used verbatim, never re-derived from `scores` (data-contracts.md \u00a76).\n  const thesis = {\n    thesis_id: app.thesis_id ?? null,\n    thesis_name: app.thesis_name ?? null,\n    thesis_verdict: app.thesis_verdict ?? null,\n    thesis_fit: app.thesis_fit ?? null,\n    thesis_coverage: app.thesis_coverage ?? null,\n    thesis_missing_fields: Array.isArray(app.thesis_missing_fields) ? app.thesis_missing_fields : [],\n    thesis_fired_rules: Array.isArray(app.thesis_fired_rules) ? app.thesis_fired_rules : [],\n  };\n\n  // \u00a73.6 -- claims: application-scoped UNION founder-scoped, deduped by\n  // claim_id. The founder-scoped union is load-bearing (design \u00a73.6): a\n  // founder-provenance claim's card can have application_id NULL, so without\n  // this union a founder-scoped contradiction (\u00a73.9) would cite an id outside\n  // `allowed_claim_ids` and the \u00a79 citation gate would reject the whole memo.\n  const appClaimRows = asArray(\n    await pg('GET', 'api_claims?application_id=eq.' + application_id + '&order=created_at.desc')\n  );\n  const founderClaimRows = founder_ids.length\n    ? asArray(await pg('GET', 'api_claims?founder_id=in.(' + inFilter(founder_ids) + ')&order=created_at.desc'))\n    : [];\n\n  const claimRowById = new Map();\n  for (const row of appClaimRows.concat(founderClaimRows)) {\n    if (row && row.claim_id && !claimRowById.has(row.claim_id)) claimRowById.set(row.claim_id, row);\n  }\n  const claimIds = Array.from(claimRowById.keys());\n\n  // \u00a73.7 -- per-claim trust, joined by claim_id. `derived_status` is\n  // authoritative (never `claims.verification_status` -- that column is\n  // stored and stale, data-contracts.md \u00a73/\u00a74).\n  const claimTrustRows = claimIds.length\n    ? asArray(await pg('GET', 'claim_trust?claim_id=in.(' + inFilter(claimIds) + ')'))\n    : [];\n  const trustByClaimId = new Map(claimTrustRows.map((row) => [row.claim_id, row]));\n\n  const claims = claimIds.map((claimId) => {\n    const claimRow = claimRowById.get(claimId);\n    const trustRow = trustByClaimId.get(claimId) || null;\n    return {\n      claim_id: claimId,\n      founder_id: claimRow.founder_id ?? null,\n      company_id: claimRow.company_id ?? null,\n      application_id: claimRow.application_id ?? null,\n      topic: claimRow.topic,\n      axis: claimRow.axis ?? null,\n      text_verbatim: claimRow.text_verbatim,\n      value: claimRow.value ?? null,\n      source_kind: claimRow.source_kind,\n      evidence: Array.isArray(claimRow.evidence) ? claimRow.evidence : [],\n      derived_status: trustRow ? trustRow.derived_status : null,\n      router_class: trustRow ? trustRow.router_class : null,\n      trust: trustRow ? trustRow.trust : null,\n      n_contradicts: trustRow ? trustRow.n_contradicts : null,\n      n_independent: trustRow ? trustRow.n_independent : null,\n    };\n  });\n  // \u00a73.6: allowed_claim_ids is the SUPERSET -- everything \u00a73.9/\u00a78/deep-dive\n  // questions can ever cite, independent of whichever subset a section-writer\n  // actually used.\n  const allowed_claim_ids = claimIds.slice();\n\n  // \u00a73.9 -- contradictions. Query BOTH entity shapes (company claims are\n  // written under entity_type='founder' too -- data-contracts.md \u00a78's own\n  // warning), covering all co-founders.\n  const eventsFounderScoped = founder_ids.length\n    ? asArray(\n        await pg(\n          'GET',\n          'events?event_type=eq.claim_contradicted&entity_type=eq.founder&entity_id=in.(' + inFilter(founder_ids) + ')'\n        )\n      )\n    : [];\n  const eventsApplicationScoped = asArray(\n    await pg(\n      'GET',\n      'events?event_type=eq.claim_contradicted&entity_type=eq.application&entity_id=eq.' + application_id\n    )\n  );\n  const eventIds = new Set();\n  const contradiction_events = [];\n  for (const event of eventsFounderScoped.concat(eventsApplicationScoped)) {\n    if (!event || (event.id && eventIds.has(event.id))) continue;\n    if (event.id) eventIds.add(event.id);\n    contradiction_events.push(event);\n  }\n\n  const { material_contradictions, fatal_contradictions } = countMaterialAndFatal(contradiction_events, claims);\n\n  // \u00a73.10 -- competition.\n  const competition_claims = claims.filter((c) => COMPETITION_TOPICS.indexOf(c.topic) !== -1);\n  const competitors = buildCompetitors(competition_claims);\n\n  // \u00a77's per-agent slices -- ambiguous claims (deep-dive candidates) and the\n  // weakest assessed screening axis.\n  const ambiguous_claims = claims.filter(\n    (c) =>\n      (c.derived_status === 'unverified' || c.derived_status === 'partially_supported') &&\n      isResolvableRouterClass(c.router_class)\n  );\n  const weakest_assessed_axis = weakestAssessedAxis(axes);\n\n  // Trimmed slice for the LLM section-writers (design \u00a76's input list) --\n  // token-budget-conscious, never carries `evidence`/founder_id/company_id.\n  const claims_for_writers = claims.map((c) => ({\n    claim_id: c.claim_id,\n    topic: c.topic,\n    text_verbatim: c.text_verbatim,\n    value: c.value,\n    source_kind: c.source_kind,\n    derived_status: c.derived_status,\n    router_class: c.router_class,\n  }));\n\n  // \u00a78's decision-node input shape -- snapshotted here so [C] can read it off\n  // `$('Context pack')` without re-deriving anything (design \u00a75.1).\n  const decision_inputs = {\n    thesis_verdict: thesis.thesis_verdict,\n    thesis_fit: thesis.thesis_fit,\n    thesis_fired_rules: thesis.thesis_fired_rules,\n    axes: {\n      founder: { value: axes.founder.value, assessed: axes.founder.assessed },\n      market: { value: axes.market.value, assessed: axes.market.assessed },\n      idea_vs_market: { value: axes.idea_vs_market.value, assessed: axes.idea_vs_market.assessed },\n    },\n    trust: { value: trust.value, assessed: trust.assessed, coverage: trust.coverage, confidence: trust.confidence },\n    // Decision-inert, narrative/traceability only (design \u00a78) -- see header\n    // note 4 for why `founders[0]` alone is the correct snapshot.\n    founder_score: {\n      value: founders.length ? founders[0].founder_score : null,\n      assessed: founders.length ? founders[0].score_assessed : false,\n    },\n    material_contradictions,\n    fatal_contradictions,\n  };\n\n  const pack = {\n    application_id,\n    company_id: app.company_id ?? null,\n    company_name: app.company_name ?? null,\n    company_domain: app.company_domain ?? null,\n    stage: app.stage ?? null,\n    category: app.category ?? null,\n    kind: app.kind ?? null,\n    status: app.status ?? null,\n    submitted_at: app.submitted_at ?? null,\n    artifact_links: app.artifact_links && typeof app.artifact_links === 'object' ? app.artifact_links : {},\n    is_synthetic: app.is_synthetic === true,\n    memo_version: app.memo_version ?? null,\n    memo_available: app.memo_available === true,\n\n    axes,\n    founders,\n    founder_ids,\n    trust,\n    thesis,\n\n    claims,\n    allowed_claim_ids,\n    claims_for_writers,\n\n    contradiction_events,\n    material_contradictions,\n    fatal_contradictions,\n\n    competitors,\n    competition_claims,\n\n    ambiguous_claims,\n    weakest_assessed_axis,\n\n    decision_inputs,\n  };\n\n  // gaps is a pure function of the pack -- computed last, attached here so a\n  // caller reading `pack` whole (design \u00a75's [A] node contract) sees it\n  // without a second call, while buildGaps() stays independently callable\n  // (this task's own exported-surface requirement) and independently testable.\n  pack.gaps = buildGaps(pack);\n\n  return pack;\n}\n\n// ---- invocation ----\nconst inp = $input.first().json;\nconst application_id = inp.application_id;\nif (!application_id) {\n  return [{ json: { error: { code: 'bad_request', message: 'f06-generate-memo: application_id is required' } } }];\n}\n\nlet pack;\ntry {\n  // buildPack() already computes and attaches pack.gaps internally (context.js's own final\n  // step, \"gaps is a pure function of the pack -- computed last, attached here\") -- no\n  // separate buildGaps() call needed on top of it.\n  pack = await buildPack(pg, application_id);\n} catch (e) {\n  // design.md SS10 -- \"Application not found | Error envelope {error:{code,message}},\n  // 404-shaped. No row.\" buildPack()'s only own thrown error is the not-found case\n  // (context.js: \"the ONLY hard error in this file\"); anything else surfacing here would be\n  // an unexpected upstream failure, still reported honestly via the same envelope rather than\n  // crashing the whole n8n execution with no HTTP response at all.\n  const message = String((e && e.message) || e);\n  const notFound = message.indexOf('application not found') !== -1;\n  return [{ json: { error: { code: notFound ? 'not_found' : 'internal', message } } }];\n}\n\n// agents/README.md \"Shared input contract\" -- the common envelope every [B1]/[B2]/[B3] agent\n// gets. `claims` is pack.claims_for_writers -- context.js already trims it to exactly the\n// seven fields design SS6/agents/README.md's own envelope lists (claim_id, topic,\n// text_verbatim, value, source_kind, derived_status, router_class), never founder_id/\n// company_id/evidence.\nconst baseSlice = {\n  application_id: pack.application_id,\n  company: { name: pack.company_name, stage: pack.stage, category: pack.category, kind: pack.kind },\n  allowed_claim_ids: pack.allowed_claim_ids,\n  claims: pack.claims_for_writers,\n  gaps: pack.gaps,\n  axes: {\n    founder: { value: pack.axes.founder.value, assessed: pack.axes.founder.assessed },\n    market: { value: pack.axes.market.value, assessed: pack.axes.market.assessed },\n    idea_vs_market: { value: pack.axes.idea_vs_market.value, assessed: pack.axes.idea_vs_market.assessed },\n  },\n  founder_score: pack.decision_inputs.founder_score,\n  trust: { value: pack.trust.value, assessed: pack.trust.assessed, coverage: pack.trust.coverage },\n};\n\n// agents/README.md: \"B3 additionally gets competitors[] (topic competition.* claims) and the\n// contradiction list.\" competitors[] is context.js's own already-structured\n// {name, named_by_founder, claim_ids} rows (design SS3.10) -- handed over pre-built rather\n// than making the model re-derive `value.company_mentioned` itself. \"the contradiction\n// list\" is gaps.contradictions, already inside baseSlice.gaps -- not duplicated as a second\n// top-level key (the memo-optional prompt itself reads risk_matrix eligibility off\n// gaps.contradictions, never off a separate field).\nconst pack_slice_descriptive = baseSlice;\nconst pack_slice_analytical = baseSlice;\nconst pack_slice_optional = Object.assign({}, baseSlice, { competitors: pack.competitors });\n\n// agents/README.md: \"B4 gets gaps + contradictions + the ambiguous-claim subset + the\n// weakest assessed axis label.\" Same trimmed claim shape as claims_for_writers -- never\n// leaks founder_id/company_id/evidence to the model.\nconst pack_slice_questions = {\n  application_id: pack.application_id,\n  allowed_claim_ids: pack.allowed_claim_ids,\n  gaps: pack.gaps,\n  ambiguous_claims: pack.ambiguous_claims.map(function (c) {\n    return {\n      claim_id: c.claim_id, topic: c.topic, text_verbatim: c.text_verbatim,\n      value: c.value, source_kind: c.source_kind, derived_status: c.derived_status, router_class: c.router_class,\n    };\n  }),\n  weakest_axis: pack.weakest_assessed_axis,\n};\n\n// The full pack (application_id/allowed_claim_ids/gaps/decision_inputs/... -- design SS5.1)\n// PLUS the four pack_slice_* payloads, flattened onto ONE item: [C]/[D] read this node back\n// via $('Context pack').first().json for the pack fields; each [B] node's main input IS this\n// item directly (design SS5: \"each Bi main-input = [A]'s pack\"), so it reads\n// $input.first().json.pack_slice_<name> for its own slice.\nreturn [{ json: Object.assign({}, pack, {\n  run_id: inp.run_id, thesis_id: inp.thesis_id,\n  pack_slice_descriptive, pack_slice_analytical, pack_slice_optional, pack_slice_questions,\n} ) }];\n"
   },
   "id": "9464f7fe-d259-40ad-990e-17cac1ca0334",
   "name": "Context pack",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    -140,
    0
   ],
   "notes": "SOURCE OF TRUTH: lib/f06/context.js -- do not edit here, edit there and re-paste (via n8n/build-f06-workflow.py)."
  },
  {
   "parameters": {
    "conditions": {
     "options": {
      "caseSensitive": true,
      "leftValue": "",
      "typeValidation": "loose"
     },
     "conditions": [
      {
       "id": "f66d0945-2f94-44bd-8430-13190fb97316",
       "leftValue": "={{ $json.error ? 'error' : 'ok' }}",
       "rightValue": "error",
       "operator": {
        "type": "string",
        "operation": "equals"
       }
      }
     ],
     "combinator": "and"
    },
    "options": {}
   },
   "id": "4ed3fdb1-0d26-456b-9183-15c0772b9336",
   "name": "IF: pack error?",
   "type": "n8n-nodes-base.if",
   "typeVersion": 2,
   "position": [
    180,
    0
   ]
  },
  {
   "parameters": {
    "respondWith": "firstIncomingItem",
    "options": {
     "responseCode": 404
    }
   },
   "id": "ba3523d5-23bb-4899-9acf-3d259a123cae",
   "name": "Respond: pack error",
   "type": "n8n-nodes-base.respondToWebhook",
   "typeVersion": 1.1,
   "position": [
    460,
    -260
   ]
  },
  {
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "const SYS = \"<prompt>\\n<title>\\n# PRE-SEED INVESTMENT-MEMO DESCRIPTIVE SECTION WRITER\\n</title>\\n\\n<description>\\nYOU ARE A DISCIPLINED PRE-SEED INVESTMENT ANALYST WRITING THE FACTUAL, DESCRIPTIVE\\nSECTIONS OF AN INVESTMENT MEMO FOR A $100K CHECK. YOU WRITE ONLY WHAT THE EVIDENCE\\nSUPPORTS. EVERY FACTUAL SENTENCE IS TRACED TO A claim_id. YOU NEVER INVENT, NEVER\\nINFLATE, AND NEVER PAD. AT THIS STAGE, \\\"WE DON'T KNOW\\\" IS A VALID AND VALUABLE ANSWER.\\n</description>\\n\\n<instructions>\\n## INSTRUCTIONS\\n1. INPUT VALIDATION (always first). Read the JSON pack slice. Confirm `allowed_claim_ids`,\\n   `claims`, `company`, `gaps` exist. If `claims` is empty, you MUST still produce all three\\n   sections, each as a single honest `not_disclosed`/`structural` line \\u2014 never fail, never invent.\\n2. WRITE EXACTLY THREE SECTIONS: `snapshot`, `problem_product`, `traction`.\\n   - `snapshot`: what the company does, who it is for, where, and its stage. 2-4 statements.\\n     Neutral, no superlatives. WRITE NO CHECK-SIZE FIGURE \\u2014 do not put \\\"$100K\\\", \\\"$100,000\\\" or any\\n     dollar/check numeral in any statement; the check size lives in the decision's `conditions`,\\n     never in memo prose. If you frame the ask at all, word it \\\"the requested pre-seed check\\\"\\n     with no numeral, as a `kind:\\\"structural\\\"` line (which must contain no digit or \\\"$\\\" at all).\\n   - `problem_product`: the problem and what EXISTS TODAY vs what is merely claimed/roadmap.\\n     Cite what is built (a live URL, a repo, a shipped feature) separately from promises. Where a\\n     defensibility/moat claim exists, include it with its evidence; where none exists, say so.\\n   - `traction`: a HARD SPLIT between company-stated and independently-verified metrics. A metric\\n     whose backing claim is `derived_status` \\u2208 {unverified, partially_supported, contradicted} is\\n     written as company-stated and its status is surfaced, NEVER promoted to fact. If there is no\\n     verifiable traction, write exactly one honest line (e.g. \\\"No independently verified traction\\n     at this stage.\\\"). This is normal at pre-seed.\\n3. EVERY statement is an object {text, claim_ids, kind}. For kind:\\\"fact\\\", claim_ids has >=1 id and\\n   every id is in `allowed_claim_ids`. For an absence use kind:\\\"not_disclosed\\\" (claim_ids []).\\n   Use kind:\\\"structural\\\" ONLY for connective prose with no factual assertion (claim_ids []).\\n4. OUTPUT the JSON per the schema. No markdown, no preamble, no commentary.\\n</instructions>\\n\\n<output_format>\\n## OUTPUT FORMAT\\nReturn valid JSON only, matching memo-descriptive-json-schema.json:\\n{\\n  \\\"snapshot\\\":        { \\\"statements\\\": [ { \\\"text\\\": \\\"...\\\", \\\"claim_ids\\\": [\\\"<uuid>\\\"], \\\"kind\\\": \\\"fact\\\" } ] },\\n  \\\"problem_product\\\": { \\\"statements\\\": [ ... ] },\\n  \\\"traction\\\":        { \\\"statements\\\": [ ... ] }\\n}\\nEvery section MUST have a non-empty `statements` array (an empty section is one honest line, never []).\\n</output_format>\\n\\n<chain_of_thoughts>\\n## CHAIN OF THOUGHTS\\n1. Read the pack. Index claims by topic and by derived_status. Note which are verified vs stated.\\n2. Snapshot: assemble what/who-for/where/stage from `company` + the company.* and product claims.\\n   Optionally add ONE structural framing line about the requested pre-seed check \\u2014 with NO numeral,\\n   no \\\"$\\\". Stop \\u2014 do not editorialize.\\n3. Problem & product: separate EXISTS (verified/documented product claims, live artifacts) from\\n   CLAIMED (self_reported/forecast). Write existence first, claims second with their status.\\n4. Traction: list company-stated metrics; for each, check derived_status; verified \\u2192 present as\\n   verified; anything else \\u2192 present as company-stated + surface the status. If none, one honest line.\\n5. Verify every fact statement cites an allowed id. Drop any sentence you cannot cite (or convert to\\n   not_disclosed if it states an absence). Remove anything that is padding.\\n6. Emit JSON.\\n</chain_of_thoughts>\\n\\n<restrictions>\\n## WHAT NOT TO DO\\n- NEVER cite a claim_id that is not in `allowed_claim_ids` \\u2014 it fails the whole memo downstream.\\n- NEVER invent a number, a metric, a customer count, a revenue figure, or a date. Missing \\u2192 not_disclosed.\\n- NEVER promote an unverified/contradicted metric to a verified fact. Surface its status.\\n- NEVER put ANY figure \\u2014 a \\\"$\\\", a digit followed by a unit, OR the check size ($100K / $100,000) \\u2014\\n  inside a not_disclosed or structural statement. Those kinds are for stating absence / connective\\n  prose only and are rejected if they contain a number. The check size belongs in the decision's\\n  conditions, never in prose.\\n- Before you emit a `fact` statement, RE-CHECK that every claim_id you cite appears verbatim in the\\n  `allowed_claim_ids` list you were given. If you cannot find a real claim to back a sentence, make\\n  it `not_disclosed` or drop it \\u2014 NEVER cite an id that is not in that list.\\n- NEVER output the words proceed, proceed-with-conditions, pass, watchlist, \\\"invest\\\", or any\\n  recommendation/verdict. That is not your job.\\n- NEVER pad. If a section has little to say, say little. Length is not rigor.\\n- NEVER use superlatives (\\\"revolutionary\\\", \\\"world-class\\\") or accusatory framing.\\n</restrictions>\\n\\n<examples>\\n## FEW-SHOT EXAMPLES\\n\\nDesired Example 1: verified product + stated-only traction\\nInput (excerpt): claims=[{claim_id:\\\"a1\\\",topic:\\\"company.what_is_built\\\",text_verbatim:\\\"Live API at\\n  api.acme.example, open-source SDK on GitHub\\\",derived_status:\\\"verified\\\"},\\n  {claim_id:\\\"a2\\\",topic:\\\"founder.execution.traction\\\",text_verbatim:\\\"200 developers signed up\\\",\\n  source_kind:\\\"self_reported\\\",derived_status:\\\"unverified\\\"}]\\nOutput (excerpt):\\n  \\\"problem_product\\\": { \\\"statements\\\": [\\n    { \\\"text\\\": \\\"A live API (api.acme.example) with an open-source SDK is shipped and reachable.\\\",\\n      \\\"claim_ids\\\": [\\\"a1\\\"], \\\"kind\\\": \\\"fact\\\" } ] },\\n  \\\"traction\\\": { \\\"statements\\\": [\\n    { \\\"text\\\": \\\"The team states 200 developer sign-ups; this is company-reported and not\\n      independently verified.\\\", \\\"claim_ids\\\": [\\\"a2\\\"], \\\"kind\\\": \\\"fact\\\" } ] }\\nWhy: existence (verified) is stated as fact; the sign-up number keeps its unverified status and is\\nnever promoted.\\n\\nDesired Example 2: empty traction\\nInput (excerpt): no traction claims present.\\nOutput (excerpt):\\n  \\\"traction\\\": { \\\"statements\\\": [\\n    { \\\"text\\\": \\\"No independently verifiable traction disclosed at this pre-seed stage.\\\",\\n      \\\"claim_ids\\\": [], \\\"kind\\\": \\\"not_disclosed\\\" } ] }\\nWhy: honest absence in one line, no fabrication, no padding.\\n\\nUndesired Example 1: fabricated precision\\nInput (excerpt): claims mention \\\"growing fast\\\" but no numbers.\\nOutput (excerpt):\\n  \\\"traction\\\": { \\\"statements\\\": [ { \\\"text\\\": \\\"Revenue is approximately $2M ARR, growing 20% MoM.\\\",\\n    \\\"claim_ids\\\": [], \\\"kind\\\": \\\"fact\\\" } ] }\\nWhy this is wrong: invents numbers with no claim, marks them fact with empty claim_ids \\u2014 rejected by\\nthe citation gate and a direct violation of the no-fabrication invariant.\\n</examples>\\n</prompt>\";\nconst SCHEMA_NAME = \"memo_descriptive\";\nconst SCHEMA = {\"type\": \"object\", \"additionalProperties\": false, \"required\": [\"snapshot\", \"problem_product\", \"traction\"], \"properties\": {\"snapshot\": {\"$ref\": \"#/$defs/section\"}, \"problem_product\": {\"$ref\": \"#/$defs/section\"}, \"traction\": {\"$ref\": \"#/$defs/section\"}}, \"$defs\": {\"section\": {\"type\": \"object\", \"additionalProperties\": false, \"required\": [\"statements\"], \"properties\": {\"statements\": {\"type\": \"array\", \"items\": {\"$ref\": \"#/$defs/statement\"}}}}, \"statement\": {\"type\": \"object\", \"additionalProperties\": false, \"required\": [\"text\", \"claim_ids\", \"kind\"], \"properties\": {\"text\": {\"type\": \"string\"}, \"claim_ids\": {\"type\": \"array\", \"items\": {\"type\": \"string\"}}, \"kind\": {\"type\": \"string\", \"enum\": [\"fact\", \"not_disclosed\", \"benchmark\", \"structural\"]}}}}};\nconst MODEL_NAME = \"gpt-5.6-luna\";\n\nconst inp = $input.first().json;\nconst userPayload = inp.pack_slice_descriptive;\n\nlet parsed;\ntry {\n  const r = await this.helpers.httpRequest({\n    method: 'POST', url: 'https://api.openai.com/v1/chat/completions',\n    headers: { Authorization: 'Bearer ' + $env.OPENAI_API_KEY, 'Content-Type': 'application/json' },\n    body: {\n      // gpt-5.6-luna rejects an explicit temperature (HTTP 400, verified live building\n      // 03/04/05/08) -- omitted entirely, same convention every f0*-workflow LLM node in\n      // this repo already follows.\n      model: MODEL_NAME,\n      messages: [ { role: 'system', content: SYS }, { role: 'user', content: JSON.stringify(userPayload) } ],\n      response_format: { type: 'json_schema', json_schema: { name: SCHEMA_NAME, strict: true, schema: SCHEMA } },\n    },\n    json: true,\n  });\n  parsed = JSON.parse(r.choices[0].message.content);\n} catch (e) {\n  // Graceful degradation -- an LLM-node failure (network/schema/parse) must never\n  // hard-fail the whole memo. This mirrors exactly the posture spec-review should-fix #1\n  // put into lib/f06/assemble.js: this agent's keys are simply ABSENT from this item, and\n  // [D]'s mergeSectionsParts()/backfillRequiredSections() supply the honest structural\n  // fallback for any required section this agent would have written.\n  parsed = {};\n}\nreturn [{ json: parsed }];\n"
   },
   "id": "c74721ae-383e-499b-a360-757351384e30",
   "name": "LLM: memo-descriptive (B1)",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    460,
    -520
   ]
  },
  {
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "const SYS = \"<prompt>\\n<title>\\n# PRE-SEED INVESTMENT-MEMO ANALYTICAL SECTION WRITER (HYPOTHESES + SWOT)\\n</title>\\n\\n<description>\\nYOU ARE A PRE-SEED INVESTMENT ANALYST WRITING THE TWO INTERPRETIVE SECTIONS OF A $100K\\nINVESTMENT MEMO: THE INVESTMENT HYPOTHESES AND THE SWOT. YOUR INTERPRETATIONS ARE\\nALLOWED, BUT EVERY INTERPRETIVE BULLET MUST REST ON A CITED claim_id. A BULLET YOU\\nCANNOT TRACE TO EVIDENCE DOES NOT GET WRITTEN. YOU DRAW WEAKNESSES AND THREATS DIRECTLY\\nFROM THE EVIDENCE GAPS AND CONTRADICTIONS IN THE PACK, NOT FROM IMAGINATION.\\n</description>\\n\\n<instructions>\\n## INSTRUCTIONS\\n1. INPUT VALIDATION (always first). Confirm `allowed_claim_ids`, `claims`, `gaps`, `axes` exist.\\n   If `claims` is empty, still emit both sections with one honest structural line each.\\n2. WRITE `hypotheses` AS TWO KINDS OF STATEMENT, in order:\\n   - VALUE MECHANISM: how this becomes valuable if it works (what the product does for whom, why\\n     that is worth money). Each hypothesis cites the claim(s) it rests on.\\n   - WHY NOW: the timing thesis \\u2014 the specific catalyst/tailwind that makes this the right moment.\\n     Prefer a cited `market.why_now` / `market.tailwind` claim. If no why-now evidence exists, write\\n     ONE not_disclosed line (\\\"No specific why-now catalyst is evidenced.\\\") \\u2014 do NOT manufacture one.\\n   Label a hypothesis that rests on an unverified/forecast claim by surfacing that status honestly.\\n3. WRITE `swot` as four arrays of statements: strengths, weaknesses, opportunities, threats.\\n   - strengths / opportunities: from verified or documented positive claims + assessed axes that are\\n     strong. Each bullet cites its claim(s).\\n   - weaknesses / threats: DRAW FROM `gaps` (missing axes, missing fields, low coverage) AND from\\n     `gaps.contradictions` AND from claims whose derived_status \\u2208 {contradicted, partially_supported}.\\n     A weakness that names a contradiction cites the contradicted claim_id. Framing is neutral \\u2014\\n     \\\"unresolved provenance question\\\", never \\\"the founder lied\\\".\\n4. Every statement is {text, claim_ids, kind}. Interpretive bullets are kind:\\\"fact\\\" (they rest on a\\n   cited claim); use not_disclosed for an evidenced absence, structural for pure connective prose.\\n5. OUTPUT JSON per schema. No markdown, no preamble.\\n</instructions>\\n\\n<output_format>\\n## OUTPUT FORMAT\\nReturn valid JSON only, matching memo-analytical-json-schema.json:\\n{\\n  \\\"hypotheses\\\": { \\\"statements\\\": [ { \\\"text\\\": \\\"...\\\", \\\"claim_ids\\\": [\\\"<uuid>\\\"], \\\"kind\\\": \\\"fact\\\" } ] },\\n  \\\"swot\\\": {\\n    \\\"strengths\\\":     [ { \\\"text\\\": \\\"...\\\", \\\"claim_ids\\\": [\\\"<uuid>\\\"], \\\"kind\\\": \\\"fact\\\" } ],\\n    \\\"weaknesses\\\":    [ ... ],\\n    \\\"opportunities\\\": [ ... ],\\n    \\\"threats\\\":       [ ... ]\\n  }\\n}\\nEvery one of the five arrays MUST be non-empty (a section with nothing to say = one honest line).\\n</output_format>\\n\\n<chain_of_thoughts>\\n## CHAIN OF THOUGHTS\\n1. Read the pack. Separate verified/documented claims (strengths material) from gaps + contradictions\\n   (weaknesses/threats material). Note which axes are assessed and their values.\\n2. Hypotheses: write 1-3 value-mechanism statements, each citing the product/market claims it rests\\n   on. Then the why-now: cite a why-now/tailwind claim, or one honest not_disclosed line.\\n3. SWOT strengths: verified positives + strong assessed axes, cited. Opportunities: market\\n   tailwinds / expansion claims, cited.\\n4. SWOT weaknesses: for each material gap or missing axis, a neutral bullet. Threats: for each\\n   contradiction and each competitive/headwind claim, a neutral bullet citing the claim.\\n5. Verify every fact bullet cites an allowed id. Drop the uncitable. Remove padding.\\n6. Emit JSON.\\n</chain_of_thoughts>\\n\\n<restrictions>\\n## WHAT NOT TO DO\\n- NEVER cite a claim_id outside `allowed_claim_ids`. Before emitting any `fact` bullet, RE-CHECK\\n  that every id you cite appears verbatim in the `allowed_claim_ids` list; if none backs the bullet,\\n  drop it or make it not_disclosed \\u2014 never cite an id not in that list.\\n- NEVER put a check-size figure ($100K / $100,000) or any bare number in a structural/not_disclosed\\n  statement.\\n- NEVER write a SWOT bullet or hypothesis you cannot trace to a cited claim \\u2014 no imagined strengths,\\n  no generic \\\"large market\\\" without a cited size claim.\\n- NEVER manufacture a why-now catalyst. No evidence \\u2192 one honest not_disclosed line.\\n- NEVER accuse: contradictions are framed as unresolved questions, never as dishonesty.\\n- NEVER output proceed / proceed-with-conditions / pass / watchlist / invest or any verdict.\\n- NEVER pad SWOT to look balanced. A real 1-strength / 3-weakness picture is honest and stays as-is.\\n- NEVER put a company-specific figure inside a not_disclosed or structural statement.\\n</restrictions>\\n\\n<examples>\\n## FEW-SHOT EXAMPLES\\n\\nDesired Example 1: hypothesis + honest missing why-now\\nInput (excerpt): claims=[{claim_id:\\\"m1\\\",topic:\\\"market.category\\\",text_verbatim:\\\"AI eval tooling for\\n  enterprise LLM apps\\\",derived_status:\\\"verified\\\"}]; no why-now claim present.\\nOutput (excerpt):\\n  \\\"hypotheses\\\": { \\\"statements\\\": [\\n    { \\\"text\\\": \\\"If adopted, the product becomes the evaluation layer enterprises need before shipping\\n      LLM apps, making it infrastructure rather than a point tool.\\\", \\\"claim_ids\\\": [\\\"m1\\\"], \\\"kind\\\": \\\"fact\\\" },\\n    { \\\"text\\\": \\\"No specific why-now catalyst is evidenced in the material.\\\", \\\"claim_ids\\\": [],\\n      \\\"kind\\\": \\\"not_disclosed\\\" } ] }\\nWhy: the value mechanism rests on a cited category claim; the absent timing thesis is stated once, not invented.\\n\\nDesired Example 2: weakness drawn from a contradiction\\nInput (excerpt): gaps.contradictions=[{claim_id:\\\"f9\\\",severity:\\\"material\\\",nature:\\\"temporal\\\",\\n  topic:\\\"founder.execution.provenance\\\"}]\\nOutput (excerpt):\\n  \\\"swot\\\": { \\\"weaknesses\\\": [\\n    { \\\"text\\\": \\\"An unresolved provenance question: the stated retail-analytics work history is not\\n      consistent with the public record for the pre-2021 period.\\\", \\\"claim_ids\\\": [\\\"f9\\\"], \\\"kind\\\": \\\"fact\\\" } ] ... }\\nWhy: the weakness cites the contradicted claim and is framed neutrally.\\n\\nUndesired Example 1: uncited generic strength\\nOutput (excerpt):\\n  \\\"swot\\\": { \\\"strengths\\\": [ { \\\"text\\\": \\\"Strong, experienced founding team in a huge market.\\\",\\n    \\\"claim_ids\\\": [], \\\"kind\\\": \\\"fact\\\" } ] ... }\\nWhy this is wrong: \\\"strong team\\\", \\\"huge market\\\" cite nothing \\u2014 generic, uncitable, padding. Rejected.\\n</examples>\\n</prompt>\";\nconst SCHEMA_NAME = \"memo_analytical\";\nconst SCHEMA = {\"type\": \"object\", \"additionalProperties\": false, \"required\": [\"hypotheses\", \"swot\"], \"properties\": {\"hypotheses\": {\"type\": \"object\", \"additionalProperties\": false, \"required\": [\"statements\"], \"properties\": {\"statements\": {\"type\": \"array\", \"items\": {\"$ref\": \"#/$defs/statement\"}}}}, \"swot\": {\"type\": \"object\", \"additionalProperties\": false, \"required\": [\"strengths\", \"weaknesses\", \"opportunities\", \"threats\"], \"properties\": {\"strengths\": {\"type\": \"array\", \"items\": {\"$ref\": \"#/$defs/statement\"}}, \"weaknesses\": {\"type\": \"array\", \"items\": {\"$ref\": \"#/$defs/statement\"}}, \"opportunities\": {\"type\": \"array\", \"items\": {\"$ref\": \"#/$defs/statement\"}}, \"threats\": {\"type\": \"array\", \"items\": {\"$ref\": \"#/$defs/statement\"}}}}}, \"$defs\": {\"statement\": {\"type\": \"object\", \"additionalProperties\": false, \"required\": [\"text\", \"claim_ids\", \"kind\"], \"properties\": {\"text\": {\"type\": \"string\"}, \"claim_ids\": {\"type\": \"array\", \"items\": {\"type\": \"string\"}}, \"kind\": {\"type\": \"string\", \"enum\": [\"fact\", \"not_disclosed\", \"benchmark\", \"structural\"]}}}}};\nconst MODEL_NAME = \"gpt-5.6-luna\";\n\nconst inp = $input.first().json;\nconst userPayload = inp.pack_slice_analytical;\n\nlet parsed;\ntry {\n  const r = await this.helpers.httpRequest({\n    method: 'POST', url: 'https://api.openai.com/v1/chat/completions',\n    headers: { Authorization: 'Bearer ' + $env.OPENAI_API_KEY, 'Content-Type': 'application/json' },\n    body: {\n      // gpt-5.6-luna rejects an explicit temperature (HTTP 400, verified live building\n      // 03/04/05/08) -- omitted entirely, same convention every f0*-workflow LLM node in\n      // this repo already follows.\n      model: MODEL_NAME,\n      messages: [ { role: 'system', content: SYS }, { role: 'user', content: JSON.stringify(userPayload) } ],\n      response_format: { type: 'json_schema', json_schema: { name: SCHEMA_NAME, strict: true, schema: SCHEMA } },\n    },\n    json: true,\n  });\n  parsed = JSON.parse(r.choices[0].message.content);\n} catch (e) {\n  // Graceful degradation -- an LLM-node failure (network/schema/parse) must never\n  // hard-fail the whole memo. This mirrors exactly the posture spec-review should-fix #1\n  // put into lib/f06/assemble.js: this agent's keys are simply ABSENT from this item, and\n  // [D]'s mergeSectionsParts()/backfillRequiredSections() supply the honest structural\n  // fallback for any required section this agent would have written.\n  parsed = {};\n}\nreturn [{ json: parsed }];\n"
   },
   "id": "066f540c-3c61-47a0-8f34-2a967f7f4824",
   "name": "LLM: memo-analytical (B2)",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    460,
    -140
   ]
  },
  {
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "const SYS = \"<prompt>\\n<title>\\n# PRE-SEED INVESTMENT-MEMO OPTIONAL SECTION WRITER (RISK \\u00b7 COMPETITION \\u00b7 FINANCIALS-LITE)\\n</title>\\n\\n<description>\\nYOU WRITE THE OPTIONAL, EVIDENCE-CONDITIONAL SECTIONS OF A $100K PRE-SEED MEMO: A RISK\\nMATRIX, A COMPETITION SECTION, AND A FINANCIALS-LITE SECTION. YOU ONLY WRITE A SECTION\\nWHEN THE PACK GIVES YOU REAL MATERIAL FOR IT. FOR FINANCIALS YOU NEVER INVENT NUMBERS \\u2014\\nYOU STATE \\\"NOT DISCLOSED\\\" AND OFFER BENCHMARK COMPARABLES AS A LABELLED RANGE, NEVER A\\nVALUATION. WHEN A SECTION HAS NO INPUT, YOU OMIT IT.\\n</description>\\n\\n<instructions>\\n## INSTRUCTIONS\\n1. INPUT VALIDATION (always first). Read the pack. Determine which optional sections have input:\\n   - `risk_matrix` has input if `gaps.contradictions` is non-empty OR there is >=1 material gap.\\n   - `competition` has input if there is >=1 claim with topic starting `competition.`.\\n   - `financials_lite` has input if there is a not_disclosed financial topic OR a usable benchmark\\n     is warranted (there almost always is \\u2014 it is the honesty block).\\n   Set each section to `null` when it has no input, and `_sentinel: true` only when all three are\\n   null. ALL FOUR KEYS ARE ALWAYS EMITTED (strict mode) \\u2014 a section is null, never omitted. Do not\\n   invent content.\\n2. `risk_matrix`: an array of risks. Each risk = {text, severity, likelihood, claim_ids}. Severity\\n   \\u2208 minor|moderate|material, likelihood \\u2208 low|medium|high. Each risk traces to a contradiction or a\\n   gap claim. Neutral framing.\\n3. `competition`: `statements` + `competitors[]`. For each `competition.competitor` claim, one entry\\n   {name, named_by_founder, claim_ids} \\u2014 `named_by_founder` is the claim's `value.company_mentioned`\\n   (true = the founder named them; false = we surfaced them). A competitor the founder did NOT name\\n   is the highest-value item; include it. Use `competition.status_quo_alternative` claims as\\n   statements (\\\"the real alternative today is a spreadsheet\\\"). If no competition claims: set\\n   `competition` to `null` (never an empty competitors array).\\n   IMPORTANT: if you surface competitors, add one statement clarifying the list is what the evidence\\n   found, not necessarily exhaustive.\\n4. `financials_lite`: statements only.\\n   - Always include one not_disclosed statement for each absent financial topic (e.g.\\n     \\\"Cap table: not disclosed.\\\", \\\"Revenue: not disclosed.\\\").\\n   - Benchmark comparables (kind:\\\"benchmark\\\") ONLY as a labelled RANGE with the words\\n     \\\"range, not a valuation\\\" and a survivorship caveat. Never a point number, never tied to THIS\\n     company as if it were its real number.\\n5. Set any section with no input to `null` (all four keys always present). Emit JSON per schema.\\n</instructions>\\n\\n<output_format>\\n## OUTPUT FORMAT\\nReturn valid JSON only, matching memo-optional-json-schema.json. ALL FOUR KEYS ARE ALWAYS PRESENT\\n(strict mode). A section WITH input is an object; a section WITHOUT input is `null` (the assembler\\ndrops null keys). `_sentinel` is `true` only when all three optional sections are null.\\n{\\n  \\\"_sentinel\\\": false,\\n  \\\"risk_matrix\\\":     { \\\"risks\\\": [ { \\\"text\\\":\\\"...\\\", \\\"severity\\\":\\\"material\\\", \\\"likelihood\\\":\\\"high\\\", \\\"claim_ids\\\":[\\\"<uuid>\\\"] } ] },\\n  \\\"competition\\\":     { \\\"statements\\\": [ ... ], \\\"competitors\\\": [ { \\\"name\\\":\\\"...\\\", \\\"named_by_founder\\\": false, \\\"claim_ids\\\":[\\\"<uuid>\\\"] } ] },\\n  \\\"financials_lite\\\": { \\\"statements\\\": [ { \\\"text\\\":\\\"Cap table: not disclosed.\\\", \\\"claim_ids\\\":[], \\\"kind\\\":\\\"not_disclosed\\\" } ] }\\n}\\nExample with no optional input at all:\\n{ \\\"_sentinel\\\": true, \\\"risk_matrix\\\": null, \\\"competition\\\": null, \\\"financials_lite\\\": null }\\n</output_format>\\n\\n<chain_of_thoughts>\\n## CHAIN OF THOUGHTS\\n1. Read the pack. Check the three input conditions. If none hold, return {\\\"_sentinel\\\": true} and stop.\\n2. Risk matrix: turn each contradiction into a risk (severity = the contradiction's severity), and\\n   each material gap into a risk. Assign a plain likelihood. Cite the claim.\\n3. Competition: map each competition.competitor claim to a competitor entry, flag named_by_founder,\\n   put status_quo_alternative content into statements, add the non-exhaustive caveat.\\n4. Financials-lite: one not_disclosed line per absent money topic; then, if useful, one benchmark\\n   range statement with the mandatory caveat wording.\\n5. Drop uncitable facts; drop padding; ensure benchmark statements carry the caveat. Emit JSON.\\n</chain_of_thoughts>\\n\\n<restrictions>\\n## WHAT NOT TO DO\\n- NEVER cite a claim_id outside `allowed_claim_ids`.\\n- NEVER invent a financial figure, valuation, or cap-table entry. Absent \\u2192 not_disclosed.\\n- NEVER write a benchmark as a point number or without the \\\"range, not a valuation\\\" caveat.\\n- NEVER emit an empty section shell \\u2014 set the key to `null` instead. If nothing at all: `_sentinel:true` with all three sections null.\\n- NEVER imply a surfaced competitor list is exhaustive; NEVER frame a not-named competitor as a \\\"gotcha\\\".\\n- NEVER output proceed / proceed-with-conditions / pass / watchlist / invest or any verdict.\\n- NEVER put a company-specific figure inside a not_disclosed/structural statement (benchmark ranges excepted, with caveat).\\n</restrictions>\\n\\n<examples>\\n## FEW-SHOT EXAMPLES\\n\\nDesired Example 1: financials honesty + benchmark range\\nOutput (excerpt):\\n  \\\"financials_lite\\\": { \\\"statements\\\": [\\n    { \\\"text\\\": \\\"Cap table: not disclosed.\\\", \\\"claim_ids\\\": [], \\\"kind\\\": \\\"not_disclosed\\\" },\\n    { \\\"text\\\": \\\"Revenue and burn: not disclosed.\\\", \\\"claim_ids\\\": [], \\\"kind\\\": \\\"not_disclosed\\\" },\\n    { \\\"text\\\": \\\"For context only: comparable pre-seed AI-infra rounds in 2024-2025 closed in a\\n      ~$6-12M post-money range (range, not a valuation; survivorship-biased toward funded outcomes).\\\",\\n      \\\"claim_ids\\\": [], \\\"kind\\\": \\\"benchmark\\\" } ] }\\nWhy: absences stated plainly; the comparable is an explicitly caveated range, never THIS company's number.\\n\\nDesired Example 2: competitor the founder didn't name\\nInput (excerpt): claims=[{claim_id:\\\"c3\\\",topic:\\\"competition.competitor\\\",\\n  value:{company_mentioned:false,name:\\\"Braintrust\\\"},derived_status:\\\"discovered\\\"}]\\nOutput (excerpt):\\n  \\\"competition\\\": { \\\"statements\\\": [ { \\\"text\\\": \\\"Competitors below are what the evidence surfaced and\\n    may not be exhaustive.\\\", \\\"claim_ids\\\": [], \\\"kind\\\": \\\"structural\\\" } ],\\n    \\\"competitors\\\": [ { \\\"name\\\": \\\"Braintrust\\\", \\\"named_by_founder\\\": false, \\\"claim_ids\\\": [\\\"c3\\\"] } ] }\\nWhy: surfaces a non-founder-named competitor (high value), with a non-exhaustive caveat, neutrally.\\n\\nUndesired Example 1: empty shell\\nInput (excerpt): no competition claims.\\nOutput (excerpt): \\\"competition\\\": { \\\"statements\\\": [], \\\"competitors\\\": [] }\\nWhy this is wrong: an empty section must be `null` (e.g. \\\"competition\\\": null), never an empty shell.\\n</examples>\\n</prompt>\";\nconst SCHEMA_NAME = \"memo_optional\";\nconst SCHEMA = {\"type\": \"object\", \"additionalProperties\": false, \"required\": [\"_sentinel\", \"risk_matrix\", \"competition\", \"financials_lite\"], \"properties\": {\"_sentinel\": {\"type\": \"boolean\"}, \"risk_matrix\": {\"type\": [\"object\", \"null\"], \"additionalProperties\": false, \"required\": [\"risks\"], \"properties\": {\"risks\": {\"type\": \"array\", \"items\": {\"type\": \"object\", \"additionalProperties\": false, \"required\": [\"text\", \"severity\", \"likelihood\", \"claim_ids\"], \"properties\": {\"text\": {\"type\": \"string\"}, \"severity\": {\"type\": \"string\", \"enum\": [\"minor\", \"moderate\", \"material\"]}, \"likelihood\": {\"type\": \"string\", \"enum\": [\"low\", \"medium\", \"high\"]}, \"claim_ids\": {\"type\": \"array\", \"items\": {\"type\": \"string\"}}}}}}}, \"competition\": {\"type\": [\"object\", \"null\"], \"additionalProperties\": false, \"required\": [\"statements\", \"competitors\"], \"properties\": {\"statements\": {\"type\": \"array\", \"items\": {\"$ref\": \"#/$defs/statement\"}}, \"competitors\": {\"type\": \"array\", \"items\": {\"type\": \"object\", \"additionalProperties\": false, \"required\": [\"name\", \"named_by_founder\", \"claim_ids\"], \"properties\": {\"name\": {\"type\": \"string\"}, \"named_by_founder\": {\"type\": \"boolean\"}, \"claim_ids\": {\"type\": \"array\", \"items\": {\"type\": \"string\"}}}}}}}, \"financials_lite\": {\"type\": [\"object\", \"null\"], \"additionalProperties\": false, \"required\": [\"statements\"], \"properties\": {\"statements\": {\"type\": \"array\", \"items\": {\"$ref\": \"#/$defs/statement\"}}}}}, \"$defs\": {\"statement\": {\"type\": \"object\", \"additionalProperties\": false, \"required\": [\"text\", \"claim_ids\", \"kind\"], \"properties\": {\"text\": {\"type\": \"string\"}, \"claim_ids\": {\"type\": \"array\", \"items\": {\"type\": \"string\"}}, \"kind\": {\"type\": \"string\", \"enum\": [\"fact\", \"not_disclosed\", \"benchmark\", \"structural\"]}}}}};\nconst MODEL_NAME = \"gpt-5.6-luna\";\n\nconst inp = $input.first().json;\nconst userPayload = inp.pack_slice_optional;\n\nlet parsed;\ntry {\n  const r = await this.helpers.httpRequest({\n    method: 'POST', url: 'https://api.openai.com/v1/chat/completions',\n    headers: { Authorization: 'Bearer ' + $env.OPENAI_API_KEY, 'Content-Type': 'application/json' },\n    body: {\n      // gpt-5.6-luna rejects an explicit temperature (HTTP 400, verified live building\n      // 03/04/05/08) -- omitted entirely, same convention every f0*-workflow LLM node in\n      // this repo already follows.\n      model: MODEL_NAME,\n      messages: [ { role: 'system', content: SYS }, { role: 'user', content: JSON.stringify(userPayload) } ],\n      response_format: { type: 'json_schema', json_schema: { name: SCHEMA_NAME, strict: true, schema: SCHEMA } },\n    },\n    json: true,\n  });\n  parsed = JSON.parse(r.choices[0].message.content);\n} catch (e) {\n  // Graceful degradation -- an LLM-node failure (network/schema/parse) must never\n  // hard-fail the whole memo. This mirrors exactly the posture spec-review should-fix #1\n  // put into lib/f06/assemble.js: this agent's keys are simply ABSENT from this item, and\n  // [D]'s mergeSectionsParts()/backfillRequiredSections() supply the honest structural\n  // fallback for any required section this agent would have written.\n  parsed = { _sentinel: true, risk_matrix: null, competition: null, financials_lite: null };\n}\nreturn [{ json: parsed }];\n"
   },
   "id": "efcd69eb-ef02-42f9-b177-5dd04bd7fd52",
   "name": "LLM: memo-optional (B3)",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    460,
    220
   ]
  },
  {
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "const SYS = \"<prompt>\\n<title>\\n# PRE-SEED FOUNDER-CALL DEEP-DIVE QUESTION GENERATOR\\n</title>\\n\\n<description>\\nYOU PREPARE THE \\\"WHERE TO DIG\\\" QUESTIONS AN INVESTOR ASKS ON A FIRST 30-60 MINUTE\\nFOUNDER CALL. YOUR QUESTIONS COME STRICTLY FROM THE EVIDENCE GAPS, CONTRADICTIONS, AND\\nAMBIGUOUS CLAIMS IN THE PACK. EACH QUESTION NAMES THE GAP IT CLOSES. YOU DO NOT ASK\\nGENERIC PITCH QUESTIONS; YOU ASK THE SPECIFIC THINGS THIS PACK CANNOT ANSWER, SO THE\\nCALL IS SPENT CLOSING REAL UNCERTAINTY.\\n</description>\\n\\n<instructions>\\n## INSTRUCTIONS\\n1. INPUT VALIDATION (always first). Read the pack: `gaps` (not_disclosed, missing_axes,\\n   missing_fields, contradictions), the ambiguous claims (derived_status \\u2208 {unverified,\\n   partially_supported}), and `weakest_axis`. If everything is fully known (no gaps, no\\n   contradictions, no ambiguous claims \\u2014 rare), still produce 5 verification questions that would\\n   independently confirm the strongest claims.\\n2. PRODUCE 5 TO 7 QUESTIONS, ranked most-decision-relevant first. Source priority:\\n   (a) contradictions \\u2014 the highest priority; (b) material missing fields / missing axes;\\n   (c) ambiguous claims; (d) the weakest assessed screening axis.\\n3. Each item = {question, closes_gap, gap_kind, claim_ids}. `gap_kind` \\u2208 contradiction|missing|\\n   ambiguous. `claim_ids` = the claim(s) the gap sits on (may be [] for a missing-field gap that has\\n   no claim). Every non-empty claim_id must be in `allowed_claim_ids`.\\n4. DEDUP: keep a mental `covered` set \\u2014 do not ask two questions that close the same gap. If a claim\\n   already partially answers a question, ask the VERIFICATION follow-up (\\\"can you show / walk us\\n   through X\\\") rather than the raw question.\\n5. NEUTRAL, non-accusatory phrasing \\u2014 especially for contradiction-derived questions. Reuse the\\n   ready-made neutral `question` from a contradiction's payload when present. Cap at 7. Emit JSON.\\n</instructions>\\n\\n<output_format>\\n## OUTPUT FORMAT\\nReturn valid JSON only, matching deep-dive-questions-json-schema.json:\\n{\\n  \\\"deep_dive_questions\\\": [\\n    { \\\"question\\\": \\\"...\\\", \\\"closes_gap\\\": \\\"...\\\", \\\"gap_kind\\\": \\\"contradiction\\\", \\\"claim_ids\\\": [\\\"<uuid>\\\"] }\\n  ]\\n}\\nThe array MUST have between 5 and 7 items.\\n</output_format>\\n\\n<chain_of_thoughts>\\n## CHAIN OF THOUGHTS\\n1. Collect all gaps/contradictions/ambiguous claims. Rank by decision relevance (contradictions top).\\n2. For each, draft one specific question + the gap it closes + gap_kind + the claim_ids it sits on.\\n3. Dedup against the covered set; convert \\\"already partly answered\\\" into a verification follow-up.\\n4. Trim/extend to 5-7 items. Ensure neutral phrasing. Verify claim_ids are allowed.\\n5. Emit JSON.\\n</chain_of_thoughts>\\n\\n<restrictions>\\n## WHAT NOT TO DO\\n- NEVER ask a generic pitch question (\\\"what's your vision?\\\") \\u2014 every question closes a specific gap\\n  in THIS pack.\\n- NEVER exceed 7 or fall below 5 questions.\\n- NEVER phrase a contradiction question as an accusation. \\\"Help us reconcile X with Y\\\", never \\\"you lied about X\\\".\\n- NEVER cite a claim_id outside `allowed_claim_ids`.\\n- NEVER output proceed / proceed-with-conditions / pass / watchlist / invest or any verdict.\\n- NEVER ask two questions that close the same gap.\\n</restrictions>\\n\\n<examples>\\n## FEW-SHOT EXAMPLES\\n\\nDesired Example 1: contradiction-derived\\nInput (excerpt): gaps.contradictions=[{claim_id:\\\"f9\\\",nature:\\\"temporal\\\",severity:\\\"material\\\",\\n  topic:\\\"founder.execution.provenance\\\", question:\\\"Can you walk us through your work history in retail\\n  analytics prior to 2021?\\\"}]\\nOutput (excerpt):\\n  { \\\"question\\\": \\\"Can you walk us through your work history in retail analytics prior to 2021?\\\",\\n    \\\"closes_gap\\\": \\\"Reconciles the provenance discrepancy between the deck and the public record.\\\",\\n    \\\"gap_kind\\\": \\\"contradiction\\\", \\\"claim_ids\\\": [\\\"f9\\\"] }\\nWhy: reuses the neutral ready-made question, names the exact gap, cites the contradicted claim.\\n\\nDesired Example 2: missing field with no claim\\nInput (excerpt): gaps.missing_fields=[\\\"stage_evidence\\\"]\\nOutput (excerpt):\\n  { \\\"question\\\": \\\"What concrete evidence puts you at pre-seed rather than earlier \\u2014 first users,\\n    a shipped build, revenue?\\\", \\\"closes_gap\\\": \\\"No stage_evidence was extractable from the deck.\\\",\\n    \\\"gap_kind\\\": \\\"missing\\\", \\\"claim_ids\\\": [] }\\nWhy: a missing structural field, closed by a specific ask, with empty claim_ids (no claim exists).\\n\\nUndesired Example 1: generic pitch question\\nOutput (excerpt):\\n  { \\\"question\\\": \\\"What makes your team special?\\\", \\\"closes_gap\\\": \\\"General due diligence.\\\",\\n    \\\"gap_kind\\\": \\\"missing\\\", \\\"claim_ids\\\": [] }\\nWhy this is wrong: generic, closes no specific gap in the pack, wastes the call. Rejected.\\n</examples>\\n</prompt>\";\nconst SCHEMA_NAME = \"deep_dive_questions\";\nconst SCHEMA = {\"type\": \"object\", \"additionalProperties\": false, \"required\": [\"deep_dive_questions\"], \"properties\": {\"deep_dive_questions\": {\"type\": \"array\", \"items\": {\"type\": \"object\", \"additionalProperties\": false, \"required\": [\"question\", \"closes_gap\", \"gap_kind\", \"claim_ids\"], \"properties\": {\"question\": {\"type\": \"string\"}, \"closes_gap\": {\"type\": \"string\"}, \"gap_kind\": {\"type\": \"string\", \"enum\": [\"contradiction\", \"missing\", \"ambiguous\"]}, \"claim_ids\": {\"type\": \"array\", \"items\": {\"type\": \"string\"}}}}}}};\nconst MODEL_NAME = \"gpt-5.6-luna\";\n\nconst inp = $input.first().json;\nconst userPayload = inp.pack_slice_questions;\n\nlet parsed;\ntry {\n  const r = await this.helpers.httpRequest({\n    method: 'POST', url: 'https://api.openai.com/v1/chat/completions',\n    headers: { Authorization: 'Bearer ' + $env.OPENAI_API_KEY, 'Content-Type': 'application/json' },\n    body: {\n      // gpt-5.6-luna rejects an explicit temperature (HTTP 400, verified live building\n      // 03/04/05/08) -- omitted entirely, same convention every f0*-workflow LLM node in\n      // this repo already follows.\n      model: MODEL_NAME,\n      messages: [ { role: 'system', content: SYS }, { role: 'user', content: JSON.stringify(userPayload) } ],\n      response_format: { type: 'json_schema', json_schema: { name: SCHEMA_NAME, strict: true, schema: SCHEMA } },\n    },\n    json: true,\n  });\n  parsed = JSON.parse(r.choices[0].message.content);\n} catch (e) {\n  // Graceful degradation -- an LLM-node failure (network/schema/parse) must never\n  // hard-fail the whole memo. This mirrors exactly the posture spec-review should-fix #1\n  // put into lib/f06/assemble.js: this agent's keys are simply ABSENT from this item, and\n  // [D]'s mergeSectionsParts()/backfillRequiredSections() supply the honest structural\n  // fallback for any required section this agent would have written.\n  parsed = { deep_dive_questions: [] };\n}\nreturn [{ json: parsed }];\n"
   },
   "id": "352fd19b-0183-4106-b0a2-01eb9dffe6b1",
   "name": "LLM: deep-dive-questions (B4)",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    460,
    580
   ]
  },
  {
   "parameters": {
    "mode": "append",
    "numberInputs": 4
   },
   "id": "386d474f-7055-4ddc-9dc1-8d103296cd68",
   "name": "Merge",
   "type": "n8n-nodes-base.merge",
   "typeVersion": 3.2,
   "position": [
    780,
    0
   ]
  },
  {
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "// SOURCE OF TRUTH: lib/f06/decision.js -- pasted verbatim below (module.exports\n// stripped). Edit there and re-run n8n/build-f06-workflow.py, not here. Pure function,\n// zero I/O -- design.md SS8: \"No LLM. Pure total function of the pack's numbers.\"\n\n// lib/f06/decision.js\n// SOURCE OF TRUTH -- do not edit inside the n8n Code node, edit here and\n// re-paste. Deterministic $100K decision node for feature 06 (Investment\n// Memo & Decision), docs/backlog/06-memo-decision/design.md \u00a78, plan.md T1.\n//\n// Zero-import CommonJS -- pure function, NO require(), NO imports, no I/O, no\n// Date.now()/Math.random(), no top-level side effects. Pasted verbatim into\n// the [C] Decision Code node (\u00a75's `[A]->...->Merge->[C]->[D]` chain); the\n// n8n sandbox cannot `require()` from this repo (same rule as lib/f05/trust.js\n// and lib/f07/rules.js -- see those files' headers for the identical\n// precedent this module follows).\n//\n// I1 (never average axes) and I6 (deterministic recommendation, no LLM) are\n// the two invariants this file exists to guarantee. `founder_score` is read\n// only far enough to snapshot it into `decision_inputs` for traceability --\n// it never gates the recommendation (design \u00a78's \"decision-inert\" ruling,\n// I2's cold-start posture: founder_score is assessed on 14/164 founders\n// today, so gating on it would penalise unscored founders).\n//\n// ============================================================================\n// `decide(inputs, configOverrides?)` -- the module's one entry point\n// ============================================================================\n//\n// `inputs` shape (design \u00a78, \u00a73.2-\u00a73.9):\n//   {\n//     thesis_verdict:       'passed' | 'borderline' | 'failed' |\n//                            'insufficient_evidence' | null,\n//     thesis_fit:           number | null,\n//     thesis_fired_rules:   [ { id, label, kind, enforcement, outcome, ... } ],\n//     axes: {\n//       founder:            { value: number|null, assessed: boolean },\n//       market:              { value: number|null, assessed: boolean },\n//       idea_vs_market:      { value: number|null, assessed: boolean },\n//     },\n//     founder_score:        { value: number|null, assessed: boolean },\n//     trust: {\n//       value:               number|null, assessed: boolean,\n//       coverage:            number|null,  // 0..1\n//       confidence:          number|null,  // 0..1\n//     },\n//     material_contradictions: number,   // count, \u00a73.9\n//     fatal_contradictions:    number,   // count, \u00a73.9 (subset of material)\n//   }\n//\n// `configOverrides` -- optional, merged over DECISION_CONFIG (literal\n// fallback discipline, same convention as lib/f05/trust.js's\n// `computeTrustRollup(rows, config, ctx)`). Not part of the team-lead task\n// brief's one-line signature, but required to make the D1b\n// `ENABLE_FATAL_CONTRADICTION_PASS=false` acceptance case (plan.md T1)\n// testable without mutating the exported `DECISION_CONFIG` -- and it is the\n// literal mechanism design \u00a78 calls \"demo-tunable ... without reopening the\n// design.\" decision.test.js documents this call shape at its D1b-disabled\n// case.\n//\n// Returns `{ recommendation, conditions }`. `recommendation` is always one of\n// the four I8 strings -- the cascade below is total (D6 is an unconditional\n// catch-all), so this function never returns null/undefined for any input,\n// including malformed/partial ones (defensive coercion throughout, exercised\n// by the test file's fuzz case).\n\n// ----------------------------------------------------------------------------\n// Config -- named constants only, no threshold hardcoded inline below\n// (design \u00a78: \"Thresholds are named constants (DECISION_CONFIG ...),\n// demo-tuned -- the one editable place\").\n// ----------------------------------------------------------------------------\n\nconst DECISION_CONFIG = Object.freeze({\n  TRUST_FLOOR: 40,\n  STRONG_TRUST: 60,\n  AXIS_HIGH: 60,\n  AXIS_LOW: 40,\n  CONF_FLOOR: 0.45,\n  MIN_TRUST_COVERAGE: 0.25,\n  ENABLE_FATAL_CONTRADICTION_PASS: true,\n  thresholds_version: 'f06-2026.07',\n});\n\n// $100K figure has no schema column (design \u00a7F3/\u00a74.4) -- it lives in\n// `conditions.check_size_usd`, a fixed literal for this MVP (single-thesis,\n// single-check-size fund posture; not read from `inputs` because no upstream\n// stage exposes a per-application check size today).\nconst CHECK_SIZE_USD = 100000;\n\n// The three screening axes, in their canonical order (I1 -- never averaged,\n// but a stable order matters for reviewable, deterministic output).\nconst SCREENING_AXIS_KEYS = ['founder', 'market', 'idea_vs_market'];\n\n// D4 gates only the two STRUCTURAL axes -- design \u00a78 D4: \"The founder axis\n// is assessed=false on every app today (no value to gate on), so it never\n// triggers D4\". Kept as an explicit subset (not \"all screening axes minus\n// founder\") so a future structural axis addition is a one-line change here,\n// not an inferred exclusion.\nconst STRUCTURAL_AXIS_KEYS = ['market', 'idea_vs_market'];\n\n// Human labels for rationale/condition text -- `idea_vs_market`'s prose label\n// matches design \u00a78/\u00a74.4's own vocabulary (\"idea-market fit\"), not the raw\n// column name.\nconst AXIS_LABELS = { founder: 'founder', market: 'market', idea_vs_market: 'idea-market fit' };\n\n// ----------------------------------------------------------------------------\n// Small shared helpers (independent copies, no shared import across lib/f06\n// modules by design -- same precedent as lib/f05/trust.js's header note,\n// itself citing lib/f03/scoring.js and lib/f04/scoring.js).\n// ----------------------------------------------------------------------------\n\nfunction isPlainObject(v) {\n  return v !== null && typeof v === 'object' && !Array.isArray(v);\n}\n\nfunction isFiniteNumber(v) {\n  return typeof v === 'number' && Number.isFinite(v);\n}\n\nfunction mergeConfig(overrides) {\n  return Object.assign({}, DECISION_CONFIG, isPlainObject(overrides) ? overrides : {});\n}\n\n// Normalizes one axis entry to `{ assessed, value }`. `assessed` must be\n// exactly `true` AND carry a finite `value` -- an axis marked assessed with a\n// missing/non-numeric value is defensive-only (upstream's own contract\n// always pairs assessed=true with a concrete value), never trusted to\n// silently coerce toward 0 (I2: absent is never zero).\nfunction axisView(axesInput, key) {\n  const a = isPlainObject(axesInput) ? axesInput[key] : null;\n  if (!isPlainObject(a) || a.assessed !== true || !isFiniteNumber(a.value)) {\n    return { assessed: false, value: null };\n  }\n  return { assessed: true, value: a.value };\n}\n\nfunction scalarView(input) {\n  const v = isPlainObject(input) ? input : {};\n  const assessed = v.assessed === true && isFiniteNumber(v.value);\n  return { assessed, value: assessed ? v.value : null };\n}\n\nfunction trustView(trustInput) {\n  const t = isPlainObject(trustInput) ? trustInput : {};\n  const assessed = t.assessed === true && isFiniteNumber(t.value);\n  return {\n    assessed,\n    value: assessed ? t.value : null,\n    coverage: isFiniteNumber(t.coverage) ? t.coverage : null,\n    confidence: isFiniteNumber(t.confidence) ? t.confidence : null,\n  };\n}\n\n// ----------------------------------------------------------------------------\n// D3 -- decidability gate (design \u00a78): all three conditions must hold.\n// ----------------------------------------------------------------------------\n\nfunction isDecidable(thesisVerdict, trust, assessedAxisCount, config) {\n  if (thesisVerdict !== 'passed' && thesisVerdict !== 'borderline') return false;\n  if (!trust.assessed) return false;\n  if (!isFiniteNumber(trust.coverage) || trust.coverage < config.MIN_TRUST_COVERAGE) return false;\n  if (!isFiniteNumber(trust.confidence) || trust.confidence < config.CONF_FLOOR) return false;\n  if (assessedAxisCount < 2) return false;\n  return true;\n}\n\n// ----------------------------------------------------------------------------\n// conditions.items (design \u00a74.4/\u00a78 -- D6 only). Every other rule ships\n// items=[] (\"For pass/clean-proceed, items=[]\" -- design \u00a74.4's own example;\n// extended here to D2/D3 watchlist too, since \u00a78's item-construction recipe\n// is written under the D6 heading exclusively and nowhere else in the design\n// spells out a watchlist items shape. Flagged to the team lead as an\n// ambiguity resolution -- see decision.test.js's file header.)\n//\n// `claim_ids` is always `[]` on every item this function builds: `decide()`'s\n// input contract (design \u00a78's own inputs list) carries only axis/trust/\n// contradiction NUMBERS, never per-topic claim ids -- there is no claim-level\n// data in scope here for a topic like \"the two low-trust traction claims\" to\n// resolve against. If a future revision wants condition items cited to\n// specific claims, that enrichment belongs to [D] Assemble (which does hold\n// the claim corpus), not to this deterministic-numbers-only node.\n// ----------------------------------------------------------------------------\n\nfunction buildConditionItems(ruleFired, axes, trust, thesisFiredRules, config) {\n  if (ruleFired !== 'D6') return [];\n\n  const items = [];\n\n  // Each assessed screening axis below AXIS_HIGH -- design \u00a78 D6 bullet 1.\n  for (const key of SCREENING_AXIS_KEYS) {\n    const axis = axes[key];\n    if (axis.assessed && axis.value < config.AXIS_HIGH) {\n      items.push({\n        text: `Diligence ${AXIS_LABELS[key]}: currently ${axis.value}.`,\n        closes: `${key} below strong threshold`,\n        claim_ids: [],\n      });\n    }\n  }\n\n  // Each fired soft deal-breaker / borderline rule -- design \u00a78 D6 bullet 2.\n  // `thesis_fired_rules` follows lib/f07/rules.js's own `fired_rules[]` shape\n  // (`{ id, label, kind, enforcement, outcome, ... }`); a hard-enforcement\n  // rule never reaches here (thesis_verdict would already be 'failed' -> D1).\n  const rules = Array.isArray(thesisFiredRules) ? thesisFiredRules : [];\n  for (const rule of rules) {\n    if (!isPlainObject(rule)) continue;\n    if (rule.enforcement === 'soft' && (rule.outcome === 'missed' || rule.outcome === 'triggered')) {\n      const label = rule.label != null ? rule.label : rule.id;\n      items.push({\n        text: `Review fired thesis rule \"${label}\" (${rule.outcome}).`,\n        closes: `${rule.id} ${rule.outcome}`,\n        claim_ids: [],\n      });\n    }\n  }\n\n  // Trust in [TRUST_FLOOR, STRONG_TRUST) -- design \u00a78 D6 bullet 3.\n  if (trust.assessed && trust.value >= config.TRUST_FLOOR && trust.value < config.STRONG_TRUST) {\n    const coverageNote = isFiniteNumber(trust.coverage) ? ` (coverage ${trust.coverage})` : '';\n    items.push({\n      text: `Raise evidence coverage: trust currently ${trust.value}${coverageNote}.`,\n      closes: `trust ${trust.value}${isFiniteNumber(trust.coverage) ? `, coverage ${trust.coverage}` : ''}`,\n      claim_ids: [],\n    });\n  }\n\n  return items;\n}\n\n// ----------------------------------------------------------------------------\n// conditions.rationale -- the deterministic conflict-arbitration sentence\n// (design \u00a78, last section: \"renders the RULE'S OWN reasoning; no LLM\n// re-derives it\", I6). One templated builder per rule_fired branch; D6 gets\n// its own composer since it is the only branch that has to NAME disagreeing\n// axes (design \u00a74.4's worked example).\n// ----------------------------------------------------------------------------\n\nfunction buildD6Rationale(thesisVerdict, axes, trust, materialContradictions, config) {\n  const strong = [];\n  const thin = [];\n  for (const key of SCREENING_AXIS_KEYS) {\n    const axis = axes[key];\n    if (!axis.assessed) continue;\n    if (axis.value >= config.AXIS_HIGH) strong.push(`${AXIS_LABELS[key]} strong (${axis.value})`);\n    else thin.push(`${AXIS_LABELS[key]} thin (${axis.value})`);\n  }\n\n  let axisClause;\n  if (strong.length > 0 && thin.length > 0) {\n    axisClause = `${strong.join(', ')} but ${thin.join(', ')}`;\n  } else if (strong.length > 0 || thin.length > 0) {\n    axisClause = strong.concat(thin).join(', ');\n  } else {\n    axisClause = 'no screening axis assessed';\n  }\n\n  const trustClause = !trust.assessed\n    ? 'trust not assessed'\n    : trust.value >= config.STRONG_TRUST\n      ? `trust is strong (${trust.value})`\n      : `trust (${trust.value}) is below the strong threshold of ${config.STRONG_TRUST}`;\n\n  const contradictionClause =\n    materialContradictions === 0\n      ? 'no material contradiction stands'\n      : `${materialContradictions} material contradiction(s) noted`;\n\n  return (\n    `Thesis ${thesisVerdict}; ${axisClause}, ${trustClause}, and ${contradictionClause} -- ` +\n    `proceed, conditioned on closing what fell short.`\n  );\n}\n\nfunction buildRationale(ruleFired, ctx, config) {\n  const { thesisVerdict, axes, trust, materialContradictions, fatalContradictions, assessedScreeningAxes } = ctx;\n\n  if (ruleFired === 'D1') {\n    return (\n      `Thesis verdict is 'failed' -- a hard mandate deal-breaker fired. Not conditionable and not ` +\n      `rescued by any score; the thesis already rejected this deal.`\n    );\n  }\n\n  if (ruleFired === 'D1b') {\n    return (\n      `${fatalContradictions} objectively-confirmed material factual contradiction(s) stand -- a ` +\n      `proven false claim is a known no, not a dig-deeper.`\n    );\n  }\n\n  if (ruleFired === 'D2') {\n    const reasons = [];\n    if (materialContradictions > 0) reasons.push(`${materialContradictions} material contradiction(s) unresolved`);\n    if (trust.assessed && trust.value < config.TRUST_FLOOR) {\n      reasons.push(`trust at ${trust.value}, below the floor of ${config.TRUST_FLOOR}`);\n    }\n    const why = reasons.length > 0 ? reasons.join(' and ') : 'a documented contradiction or floor-level trust';\n    return `${why} -- dig first before any check moves; not a pass, not a proceed.`;\n  }\n\n  if (ruleFired === 'D3') {\n    const reasons = [];\n    if (thesisVerdict !== 'passed' && thesisVerdict !== 'borderline') {\n      reasons.push(`thesis verdict is ${thesisVerdict == null ? 'unresolved' : `'${thesisVerdict}'`}`);\n    }\n    if (!trust.assessed) {\n      reasons.push('trust not assessed');\n    } else {\n      if (!isFiniteNumber(trust.coverage) || trust.coverage < config.MIN_TRUST_COVERAGE) {\n        reasons.push(\n          `trust coverage ${trust.coverage == null ? 'unknown' : trust.coverage} below the ${config.MIN_TRUST_COVERAGE} floor`\n        );\n      }\n      if (!isFiniteNumber(trust.confidence) || trust.confidence < config.CONF_FLOOR) {\n        reasons.push(\n          `trust confidence ${trust.confidence == null ? 'unknown' : trust.confidence} below the ${config.CONF_FLOOR} floor`\n        );\n      }\n    }\n    if (assessedScreeningAxes.length < 2) {\n      reasons.push(`only ${assessedScreeningAxes.length} of 3 screening axes assessed`);\n    }\n    const why = reasons.length > 0 ? reasons.join('; ') : 'insufficient signal to decide responsibly';\n    return `Not enough is known to decide responsibly in 24h (${why}) -- an honest unknown, not a silent pass.`;\n  }\n\n  if (ruleFired === 'D4') {\n    const weak = STRUCTURAL_AXIS_KEYS.filter((k) => axes[k].assessed && axes[k].value < config.AXIS_LOW);\n    const parts = weak.map((k) => `${AXIS_LABELS[k]} measured at ${axes[k].value}`);\n    return (\n      `${parts.join(' and ')} -- below the structural floor of ${config.AXIS_LOW}. A measured ` +\n      `collapse, not thin data: a known no.`\n    );\n  }\n\n  if (ruleFired === 'D5') {\n    const parts = assessedScreeningAxes.map((k) => `${AXIS_LABELS[k]} strong (${axes[k].value})`);\n    return (\n      `Thesis passed and every assessed screening axis is strong (${parts.join(', ')}) with trust at ` +\n      `${trust.value}, at or above the ${config.STRONG_TRUST} strong-trust threshold, and no material ` +\n      `contradiction -- proceed.`\n    );\n  }\n\n  // D6\n  return buildD6Rationale(thesisVerdict, axes, trust, materialContradictions, config);\n}\n\n// ----------------------------------------------------------------------------\n// decide -- the cascade, design \u00a78, first match wins.\n// ----------------------------------------------------------------------------\n\nfunction decide(inputs, configOverrides) {\n  const config = mergeConfig(configOverrides);\n  const input = isPlainObject(inputs) ? inputs : {};\n\n  const thesisVerdict = input.thesis_verdict != null ? input.thesis_verdict : null;\n  const thesisFit = isFiniteNumber(input.thesis_fit) ? input.thesis_fit : null;\n  const thesisFiredRules = Array.isArray(input.thesis_fired_rules) ? input.thesis_fired_rules : [];\n\n  const axesInput = isPlainObject(input.axes) ? input.axes : {};\n  const axes = {\n    founder: axisView(axesInput, 'founder'),\n    market: axisView(axesInput, 'market'),\n    idea_vs_market: axisView(axesInput, 'idea_vs_market'),\n  };\n\n  const founderScore = scalarView(input.founder_score);\n  const trust = trustView(input.trust);\n\n  const materialContradictions = isFiniteNumber(input.material_contradictions) ? input.material_contradictions : 0;\n  const fatalContradictions = isFiniteNumber(input.fatal_contradictions) ? input.fatal_contradictions : 0;\n\n  const assessedScreeningAxes = SCREENING_AXIS_KEYS.filter((k) => axes[k].assessed);\n  const assessedAxisCount = assessedScreeningAxes.length;\n\n  let ruleFired;\n  let recommendation;\n\n  // D1 -- hard mandate-fatal deal-breaker; thesis already rejected the deal.\n  if (thesisVerdict === 'failed') {\n    ruleFired = 'D1';\n    recommendation = 'pass';\n\n    // D1b -- proven material factual fabrication; a known no, not a dig-deeper.\n    // Config-gated (default on); conservative on live data (events\n    // fixture-only today, design \u00a78 D1b).\n  } else if (config.ENABLE_FATAL_CONTRADICTION_PASS && fatalContradictions > 0) {\n    ruleFired = 'D1b';\n    recommendation = 'pass';\n\n    // D2 -- a live documented contradiction or floor-level trust is \"dig\n    // first\", never a pass and never a proceed.\n  } else if (materialContradictions > 0 || (trust.assessed && trust.value < config.TRUST_FLOOR)) {\n    ruleFired = 'D2';\n    recommendation = 'watchlist';\n\n    // D3 -- not decidable in 24h; the honest cold-start answer (I2), not a\n    // silent pass.\n  } else if (!isDecidable(thesisVerdict, trust, assessedAxisCount, config)) {\n    ruleFired = 'D3';\n    recommendation = 'watchlist';\n\n    // D4 -- a genuinely MEASURED structural collapse (market or idea-market\n    // fit only -- never founder) is a known no. Reached only when decidable,\n    // so this never pass-rejects on thin data.\n  } else if (STRUCTURAL_AXIS_KEYS.some((k) => axes[k].assessed && axes[k].value < config.AXIS_LOW)) {\n    ruleFired = 'D4';\n    recommendation = 'pass';\n\n    // D5 -- every signal strong; clean proceed.\n  } else if (\n    thesisVerdict === 'passed' &&\n    assessedScreeningAxes.every((k) => axes[k].value >= config.AXIS_HIGH) &&\n    trust.value >= config.STRONG_TRUST &&\n    materialContradictions === 0\n  ) {\n    ruleFired = 'D5';\n    recommendation = 'proceed';\n\n    // D6 -- decidable, mixed signal; proceed-with-conditions, catch-all so\n    // this cascade is total and never returns null (I8).\n  } else {\n    ruleFired = 'D6';\n    recommendation = 'proceed-with-conditions';\n  }\n\n  const items = buildConditionItems(ruleFired, axes, trust, thesisFiredRules, config);\n  const rationale = buildRationale(\n    ruleFired,\n    { thesisVerdict, axes, trust, materialContradictions, fatalContradictions, assessedScreeningAxes },\n    config\n  );\n\n  const conditions = {\n    check_size_usd: CHECK_SIZE_USD,\n    rationale,\n    items,\n    // Traceability snapshot -- the exact numbers the RULE saw (design \u00a74.4).\n    // `axes`/`founder_score`/`trust` here are raw VALUES (null when not\n    // assessed), not the {value,assessed} objects `decide()` was given --\n    // matches design \u00a74.4's own worked example verbatim\n    // (`\"axes\": {\"founder\": null, \"market\": 68.0, ...}`).\n    decision_inputs: {\n      thesis_verdict: thesisVerdict,\n      thesis_fit: thesisFit,\n      thesis_fired_rules: thesisFiredRules,\n      axes: {\n        founder: axes.founder.value,\n        market: axes.market.value,\n        idea_vs_market: axes.idea_vs_market.value,\n      },\n      founder_score: founderScore.value,\n      trust: trust.value,\n      trust_coverage: trust.coverage,\n      trust_confidence: trust.confidence,\n      material_contradictions: materialContradictions,\n      fatal_contradictions: fatalContradictions,\n      rule_fired: ruleFired,\n    },\n    thresholds_version: config.thresholds_version,\n  };\n\n  return { recommendation, conditions };\n}\n\n// ---- invocation ----\n// design.md SS5.1's own pack-propagation rule: [C]'s main input is the Merge node\n// (prose only), so the NUMBERS come back via the $('Context pack') node reference\n// instead (valid -- [A] is an ancestor of [C] via [A]->...->Merge->[C]).\nconst pack = $('Context pack').first().json;\nconst decisionResult = decide(pack.decision_inputs);\nreturn [{ json: { decision: decisionResult } }];\n"
   },
   "id": "75b6f7a2-d855-4614-9dfe-15f69f538a32",
   "name": "Decision",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    1060,
    0
   ],
   "notes": "SOURCE OF TRUTH: lib/f06/decision.js -- do not edit here, edit there and re-paste (via n8n/build-f06-workflow.py). No LLM call in this node."
  },
  {
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "const SB = String($env.SUPABASE_URL || '').replace(/\\/rest\\/v1\\/?$/, '');\nconst KEY = $env.SUPABASE_SERVICE_ROLE_KEY;\nconst self = this;\nasync function pg(method, path, body, prefer) {\n  const headers = { apikey: KEY, Authorization: 'Bearer ' + KEY, 'Content-Type': 'application/json' };\n  if (prefer) headers.Prefer = prefer;\n  return await self.helpers.httpRequest({ method, url: SB + '/rest/v1/' + path, headers, body, json: true });\n}\n\n// SOURCE OF TRUTH: lib/f06/assemble.js -- pasted verbatim below (module.exports\n// stripped). Edit there and re-run n8n/build-f06-workflow.py, not here.\n\n// lib/f06/assemble.js\n// SOURCE OF TRUTH: lib/f06/assemble.js\n//\n// Feature 06 (Investment Memo & $100K Decision) -- docs/backlog/\n// 06-memo-decision/design.md \u00a79 (validate, assemble, version, write) +\n// plan.md task T3. This module IS node [D] of the `f06-generate-memo`\n// workflow (design.md \u00a75), minus the DB read/write: it is the hard\n// guarantee behind I3 (\"Trust is per-claim\") that no uncited or smuggled\n// fact ever RENDERS. Self-contained CommonJS, ZERO imports/requires\n// (docs/backlog/TRACKER.md hard convention) -- this file's body is pasted\n// verbatim into an n8n Code node; the sandbox has no bind-mount of this\n// repo and cannot `require()` from it.\n//\n// This module does NOT talk to Postgres and does NOT compute `version` from\n// a live read -- design.md \u00a79.4 (\"next = COALESCE(MAX(version),0)+1 ...\n// alwaysOutputData -- empty at v1 is normal\") is a live `memos` SELECT the\n// n8n node (task T5) performs, then feeds through `computeVersion()` below.\n// `assembleMemo()`'s output `row.version` is therefore an explicit `null`\n// placeholder, not a guess -- the caller overwrites it before INSERT. This\n// module is likewise not the one that emits `memo_generated` (design \u00a79.7,\n// after a successful INSERT); it only builds the payload via\n// `buildMemoGeneratedEvent()` so the n8n node has a single, tested place to\n// get that shape from.\n//\n// ============================================================================\n// DROP + LOG revision (task T6b, design \u00a79's own \"revised after T6's live\n// finding\" text) -- READ THIS BEFORE THE REST OF THE FILE\n// ============================================================================\n//\n// T6's live smoke measured ~40% of runs hitting a whole-memo 422 (zero bad\n// writes, but a live-demo retry risk) from exactly two content slips: a\n// section-writer occasionally putting the $100K check-size figure in a\n// `structural` statement, or citing a rare hallucinated claim id. Both used\n// to REJECT THE WHOLE MEMO (design \u00a79.1/\u00a79.2's original text). Design \u00a79 was\n// revised: the citation gate and the typed-exception guard are now\n// **DROP + LOG**, not whole-memo reject -- the offending statement/item is\n// silently stripped from the row and recorded in `dropped_statements[]`\n// (never silent-silent: the count + details ride the `memo_generated` event\n// payload, \u00a79.7), and assembly continues. **I3 is preserved exactly** -- no\n// uncited fact and no smuggled figure ever reaches a rendered row -- but a\n// single LLM slip no longer nukes an otherwise-good memo. This matches the\n// product's existing absent\u2260zero / back-fill philosophy (spec-review\n// should-fix #1 already made the required-key gate a back-fill, never a\n// reject; this extends the same posture to the other two gates).\n//\n// Consequence: `assembleMemo()` NO LONGER returns `{error}` for a content\n// issue. The only remaining `{error}` path is genuinely malformed input --\n// `pack`/`decision` missing entirely -- which design guarantees never\n// happens from real [A]/[C] output; it exists purely so this pure function\n// fails loudly on a broken caller instead of assembling a memo from nothing.\n// \"The only hard errors that abort a write are structural (application not\n// found, DB failure) -- never a content slip\" (design \u00a79.2's closing line).\n//\n// ============================================================================\n// Input contract this module expects\n// ============================================================================\n//\n//   assembleMemo({ pack, sections_parts, decision })\n//     -> { row, dropped_statements } | { error }\n//\n//   pack   -- the [A] context-pack object (design \u00a73), read by [D] via\n//             `$('Context pack').first().json` (design \u00a75.1). Only three\n//             fields matter here:\n//               application_id      uuid\n//               allowed_claim_ids   uuid[]   -- design \u00a73.6's SUPERSET\n//                                               (application-scoped UNION\n//                                               founder-scoped claims)\n//               gaps                object   -- design \u00a74.2's shape,\n//                                               computed deterministically\n//                                               in [A]/[D] upstream of THIS\n//                                               module (I4's guarantee does\n//                                               not depend on the LLM)\n//\n//   sections_parts -- the FOUR raw JSON outputs of [B1]/[B2]/[B3]/[B4]\n//             (design \u00a75, \u00a75.2/\u00a75.3's Merge fan-in), already unwrapped from\n//             n8n's `{json:...}` item shape by the calling Code node (this\n//             module is pure and never touches n8n's item envelope):\n//               [B1] descriptive  { snapshot, problem_product, traction }\n//               [B2] analytical   { hypotheses, swot }\n//               [B3] optional     { _sentinel, risk_matrix, competition,\n//                                    financials_lite } -- each optional key\n//                                    is `null` (not omitted, design's\n//                                    memo-optional schema note: \"strict mode\n//                                    requires every key present\") when [B3]\n//                                    had no qualifying input; `_sentinel:\n//                                    true` marks the all-null case (\u00a75.3)\n//               [B4] questions    { deep_dive_questions: [...] }\n//             ORDER IS NOT GUARANTEED to match B1..B4 -- see\n//             `mergeSectionsParts()` below, which merges by KEY/CONTENT\n//             (plan.md T3, risk note \"index-merge is the tempting default\").\n//\n//   decision -- the [C] decision node's output (lib/f06/decision.js,\n//             design \u00a78): `{ recommendation, conditions }`, conditions\n//             matching design \u00a74.4 (`check_size_usd`, `rationale`, `items`,\n//             `decision_inputs`, `thresholds_version`).\n//\n// Returns `{ row, dropped_statements }` on success (the ready-to-INSERT\n// `memos` row payload, design \u00a74 frozen contract, `version` still a\n// placeholder -- see above; `dropped_statements` is the DROP+LOG accumulator,\n// `[]` on a clean run, never written to the `memos` table itself -- it rides\n// the `memo_generated` event, \u00a79.7) or `{ error: { code, message } }` on\n// malformed input -- NEVER for a content-gate/typed-exception slip any more\n// (see the revision note above).\n\n// ============================================================================\n// Section-shape vocabulary (design \u00a74.1)\n// ============================================================================\n\n// I7: exactly these five are guaranteed present; a required section with\n// nothing to say still ships (the empty-but-required rule fills one\n// `structural` line -- design \u00a79.3's back-fill, step 4 below -- runs AFTER\n// both drop steps so a section a drop just emptied still ships one line\n// rather than an empty array).\nconst REQUIRED_SECTION_KEYS = ['snapshot', 'hypotheses', 'swot', 'problem_product', 'traction'];\n\n// Present only when [B3] had a qualifying input (design \u00a75.3); absent key =>\n// 09 renders nothing (I7). Listed here only for documentation -- the merge\n// step below does not special-case optional vs required, it copies whatever\n// KNOWN_SECTION_KEYS key a part carries and is non-null.\nconst OPTIONAL_SECTION_KEYS = ['risk_matrix', 'competition', 'financials_lite'];\n\n// Every top-level key a section-writer's schema may emit (design \u00a74.1's\n// three JSON schemas, agents/memo-{descriptive,analytical,optional}).\nconst KNOWN_SECTION_KEYS = REQUIRED_SECTION_KEYS.concat(OPTIONAL_SECTION_KEYS);\n\n// swot's four parallel arrays (design \u00a74.1) -- these carry `statement`\n// objects directly, unlike every other section which wraps them in a single\n// `.statements` array.\nconst SWOT_ARRAYS = ['strengths', 'weaknesses', 'opportunities', 'threats'];\n\n// Defensive fallbacks for a SUB-field being absent on an otherwise-real pack\n// / decision object (design guarantees `pack.gaps` / `decision.conditions`\n// are always populated in real usage -- context.js/decision.js are total --\n// so these exist only so this pure function degrades predictably rather than\n// throwing when a test omits one). Distinct from the malformed-input guard\n// in `assembleMemo()` below, which rejects a missing `pack`/`decision`\n// TOP-LEVEL argument outright -- these two only ever paper over a missing\n// sub-field on a real argument.\nconst DEFAULT_GAPS = Object.freeze({\n  not_disclosed: [],\n  missing_axes: [],\n  missing_fields: [],\n  low_coverage: {},\n  contradictions: [],\n});\nconst DEFAULT_CONDITIONS = Object.freeze({\n  check_size_usd: null,\n  rationale: '',\n  items: [],\n  decision_inputs: {},\n  thresholds_version: null,\n});\n\nfunction asArray(value) {\n  return Array.isArray(value) ? value : [];\n}\n\n// Best-effort human-readable label for a dropped item's log entry -- the\n// five item shapes this module ever drops don't share one text field\n// (`statement.text`, `deep_dive_questions[].question`,\n// `competition.competitors[].name`), so this tries each in turn rather than\n// hard-coding one.\nfunction describeItem(item) {\n  if (item.text != null) return item.text;\n  if (item.question != null) return item.question;\n  if (item.name != null) return item.name;\n  return null;\n}\n\n// ============================================================================\n// Step 1 -- merge the four [B1]/[B2]/[B3]/[B4] outputs by KEY/CONTENT\n// ============================================================================\n//\n// design \u00a75.2/plan.md T3 risk note: the append-Merge node preserves input\n// order in this n8n build, but this module deliberately does NOT rely on\n// that -- it inspects each part's own keys instead. This is what makes the\n// [B3] sentinel harmless regardless of which Merge slot it landed in:\n// `{_sentinel:true, risk_matrix:null, competition:null, financials_lite:null}`\n// carries three KNOWN_SECTION_KEYS whose values are all `null`, so the loop\n// below skips all three (I7: null/absent optional => omit the key, never an\n// empty shell). `_sentinel` itself is bookkeeping, never copied into\n// `sections`.\nfunction mergeSectionsParts(sectionsParts) {\n  const parts = asArray(sectionsParts);\n  const sections = {};\n  let deep_dive_questions = [];\n\n  for (const part of parts) {\n    if (!part || typeof part !== 'object') continue;\n\n    // [B4]'s item is recognised by its one distinguishing key, not by\n    // position -- matches every other branch's content-based dispatch.\n    if (Array.isArray(part.deep_dive_questions)) {\n      deep_dive_questions = part.deep_dive_questions;\n      continue;\n    }\n\n    for (const key of KNOWN_SECTION_KEYS) {\n      if (!(key in part)) continue;\n      const value = part[key];\n      if (value === null || value === undefined) continue; // I7 / \u00a75.3 sentinel path\n      sections[key] = value;\n    }\n  }\n\n  return { sections, deep_dive_questions };\n}\n\n// ============================================================================\n// collectAllStatements / collectAllClaimIds -- read-only collectors, used\n// ONLY to compute `cited_claim_ids` (step 5) over the already-dropped,\n// already-back-filled row. `dropUncitedItems()` (step 2) and\n// `dropTypedExceptionOffenders()` (step 3) below CANNOT reuse these: they\n// need to WRITE a filtered array back per location, not just read ids, so\n// they walk the same locations with their own filtering loops instead.\n// ============================================================================\n\n// Every `{text, claim_ids, kind}` statement anywhere in `sections` (design\n// \u00a74.1): the five `.statements`-shaped sections (snapshot, hypotheses,\n// problem_product, traction, plus the optional competition/financials_lite,\n// which ALSO carry `.statements` alongside their own extra arrays) and\n// swot's four parallel arrays. `risk_matrix.risks[]` and\n// `competition.competitors[]` are NOT statements (no `kind`) -- collected\n// separately by `collectAllClaimIds()` below, never by this function.\nfunction collectAllStatements(sections) {\n  const sec = sections && typeof sections === 'object' ? sections : {};\n  const out = [];\n\n  for (const key of Object.keys(sec)) {\n    const section = sec[key];\n    if (!section || typeof section !== 'object') continue;\n    if (Array.isArray(section.statements)) {\n      for (const statement of section.statements) {\n        if (statement) out.push({ location: key, statement });\n      }\n    }\n  }\n\n  if (sec.swot && typeof sec.swot === 'object') {\n    for (const bucket of SWOT_ARRAYS) {\n      for (const statement of asArray(sec.swot[bucket])) {\n        if (statement) out.push({ location: 'swot.' + bucket, statement });\n      }\n    }\n  }\n\n  return out;\n}\n\nfunction addClaimIds(target, ids) {\n  for (const id of asArray(ids)) target.add(id);\n}\n\n// Collects EVERY claim id anywhere in the assembled row (design \u00a79's own\n// enumeration): sections (via collectAllStatements + risk_matrix.risks +\n// competition.competitors), deep_dive_questions[].claim_ids,\n// conditions.items[].claim_ids, and gaps.contradictions[].claim_id --\n// SINGULAR key, not `claim_ids` (design \u00a74.2's shape; easy to get wrong,\n// called out explicitly in the design and in plan.md T3). Called on the\n// POST-drop, POST-back-fill row (step 5) -- every id it finds already\n// belongs to a surviving statement/item, or to `gaps.contradictions`, which\n// is pack-sourced and never dropped (see `dropUncitedItems()` below).\nfunction collectAllClaimIds({ sections, deep_dive_questions, conditions, gaps }) {\n  const ids = new Set();\n  const sec = sections && typeof sections === 'object' ? sections : {};\n\n  for (const { statement } of collectAllStatements(sec)) {\n    addClaimIds(ids, statement.claim_ids);\n  }\n\n  if (sec.risk_matrix && Array.isArray(sec.risk_matrix.risks)) {\n    for (const risk of sec.risk_matrix.risks) {\n      if (risk) addClaimIds(ids, risk.claim_ids);\n    }\n  }\n\n  if (sec.competition && Array.isArray(sec.competition.competitors)) {\n    for (const competitor of sec.competition.competitors) {\n      if (competitor) addClaimIds(ids, competitor.claim_ids);\n    }\n  }\n\n  for (const question of asArray(deep_dive_questions)) {\n    if (question) addClaimIds(ids, question.claim_ids);\n  }\n\n  const items = conditions && Array.isArray(conditions.items) ? conditions.items : [];\n  for (const item of items) {\n    if (item) addClaimIds(ids, item.claim_ids);\n  }\n\n  const contradictions = gaps && Array.isArray(gaps.contradictions) ? gaps.contradictions : [];\n  for (const contradiction of contradictions) {\n    if (contradiction && contradiction.claim_id != null) ids.add(contradiction.claim_id);\n  }\n\n  return ids;\n}\n\n// ============================================================================\n// Step 2 -- citation gate, DROP + LOG (design \u00a79.1, revised per task T6b)\n// ============================================================================\n//\n// Any item citing an id NOT in `allowedClaimIds` is dropped from its own\n// array (never the whole memo) and recorded in the `dropped` accumulator.\n// `allowedClaimIds` is design \u00a73.6's superset (application-scoped UNION\n// founder-scoped claims), so this is safe for pack-sourced ids\n// (`gaps.contradictions`, `conditions.items` built by the deterministic\n// decision node from pack data) -- the gate's real target is a\n// HALLUCINATED id an LLM-authored block (`sections`, `deep_dive_questions`)\n// invents. `gaps.contradictions[].claim_id` is pack-sourced and therefore\n// ALWAYS valid by construction -- it is never walked here (leaving it\n// otherwise would be redundant work, not a safety gap).\nfunction filterByClaimIds(items, allowedClaimIds, location, dropped) {\n  const kept = [];\n  for (const item of asArray(items)) {\n    if (!item) continue;\n    const offending = asArray(item.claim_ids).filter(function (id) { return !allowedClaimIds.has(id); });\n    if (offending.length === 0) {\n      kept.push(item);\n    } else {\n      dropped.push({ location, text: describeItem(item), offending_ids: offending, reason: 'uncited_claim_id' });\n    }\n  }\n  return kept;\n}\n\n// Walks every documented citation location (design \u00a79.1's own enumeration,\n// mirrored from the old whole-list `collectAllClaimIds` walk, but rebuilding\n// each array with the offenders stripped rather than only reading ids):\n// the `.statements`-shaped sections (incl. the optional ones), swot's four\n// arrays, `risk_matrix.risks`, `competition.competitors`,\n// `deep_dive_questions`, and `conditions.items`.\nfunction dropUncitedItems({ sections, deep_dive_questions, conditions, allowedClaimIds }) {\n  const sec = sections && typeof sections === 'object' ? sections : {};\n  const dropped = [];\n  const outSections = {};\n\n  for (const key of Object.keys(sec)) {\n    const section = sec[key];\n    if (!section || typeof section !== 'object') {\n      outSections[key] = section;\n      continue;\n    }\n\n    if (key === 'swot') {\n      const swot = {};\n      for (const bucket of SWOT_ARRAYS) {\n        swot[bucket] = filterByClaimIds(section[bucket], allowedClaimIds, 'swot.' + bucket, dropped);\n      }\n      outSections.swot = swot;\n      continue;\n    }\n\n    const next = Object.assign({}, section);\n    if (Array.isArray(section.statements)) {\n      next.statements = filterByClaimIds(section.statements, allowedClaimIds, key, dropped);\n    }\n    if (key === 'risk_matrix' && Array.isArray(section.risks)) {\n      next.risks = filterByClaimIds(section.risks, allowedClaimIds, 'risk_matrix.risks', dropped);\n    }\n    if (key === 'competition' && Array.isArray(section.competitors)) {\n      next.competitors = filterByClaimIds(section.competitors, allowedClaimIds, 'competition.competitors', dropped);\n    }\n    outSections[key] = next;\n  }\n\n  const outQuestions = filterByClaimIds(deep_dive_questions, allowedClaimIds, 'deep_dive_questions', dropped);\n\n  const cond = conditions && typeof conditions === 'object' ? conditions : DEFAULT_CONDITIONS;\n  const outConditions = Object.assign({}, cond, {\n    items: filterByClaimIds(cond.items, allowedClaimIds, 'conditions.items', dropped),\n  });\n\n  return { sections: outSections, deep_dive_questions: outQuestions, conditions: outConditions, dropped };\n}\n\n// ============================================================================\n// Step 3 -- typed-exception guard, DROP + LOG (design \u00a79.2, closes the I3\n// loophole; same DROP+LOG revision as step 2)\n// ============================================================================\n//\n// `not_disclosed` and `structural` exist to state absence / connective\n// prose ONLY (design \u00a74.1) -- a company-specific number inside one of those\n// kinds is a smuggled fact with no claim_id backing it, exactly the hole I3\n// leaves open (\"the only claim-free statements are the explicitly typed\n// not_disclosed/benchmark/structural... and those are guarded against\n// smuggling facts\").\n//\n// Detection is a curated unit-token heuristic, NOT \"any digit\" (a bare year\n// in ordinary prose -- \"no revenue disclosed as of 2026\" -- must not trip\n// this) and NOT \"any letter after a digit\" (too permissive; would flag the\n// digit-then-next-word case on ordinary sentences). Residual, documented\n// per plan.md T3's own instruction: a WORDED number with no digit at all\n// (\"forty thousand dollars\") or a unit outside this list is NOT caught\n// here -- I3 is airtight only for `kind:'fact'` (which is claim-backed by\n// construction, checked below); this guard is the second, weaker line of\n// defence the design explicitly scopes to `$`/digit+unit, leaving anything\n// subtler to the \u00a76/QA prompt-level assertion (plan.md T8).\nconst FIGURE_UNIT_RE =\n  /\\d[\\d,.]*\\s?(k|m|b|%|x|percent|users?|customers?|employees?|founders?|months?|weeks?|years?|days?|prs?|repos?|repositories|stars?|followers?|dollars?|usd|mrr|arr|dau|mau)/i;\n\nfunction statementHasNumericFigure(text) {\n  const s = String(text == null ? '' : text);\n  if (s.indexOf('$') !== -1) return true;\n  return FIGURE_UNIT_RE.test(s);\n}\n\n// `benchmark` MAY carry numbers, but only inside the labelled-range template\n// (design \u00a74.1's own example: \"...closed at ~$8-12M post (range, not a\n// valuation; survivorship-biased).\"). The caveat substring is the one thing\n// this guard enforces literally -- the range wording itself is left to the\n// prompt.\nconst BENCHMARK_CAVEAT_RE = /not a valuation/i;\n\n// Single-statement verdict: `null` = keep, otherwise the drop `reason`\n// (reusing the same codes the old whole-memo `{error.code}` used, for\n// continuity with anyone already grepping logs for them). `fact` with zero\n// claim_ids is the same I3 loophole from the other direction -- an\n// assertion wearing the claim-backed kind label without actually citing\n// anything -- so it is dropped here too, same as the design's other two\n// checks: \"the only hard errors that abort a write are structural... never\n// a content slip\" (design \u00a79.2) applies to all three, not just the two the\n// task brief named explicitly.\nfunction typedExceptionDropReason(statement) {\n  const kind = statement.kind;\n  const text = statement.text;\n\n  if ((kind === 'not_disclosed' || kind === 'structural') && statementHasNumericFigure(text)) {\n    return 'typed_exception_numeric_smuggling';\n  }\n  if (kind === 'benchmark' && !BENCHMARK_CAVEAT_RE.test(String(text == null ? '' : text))) {\n    return 'benchmark_missing_caveat';\n  }\n  if (kind === 'fact' && asArray(statement.claim_ids).length === 0) {\n    return 'fact_missing_claim_id';\n  }\n  return null;\n}\n\n// Walks the same statement locations `collectAllStatements` reads (the\n// `.statements`-shaped sections + swot's four arrays) -- `risk_matrix.risks`\n// and `competition.competitors` are never walked here, same as before: they\n// have no `kind`, so the typed-exception vocabulary does not apply to them.\nfunction dropTypedExceptionOffenders(sections) {\n  const sec = sections && typeof sections === 'object' ? sections : {};\n  const dropped = [];\n\n  function filterStatements(statements, location) {\n    const kept = [];\n    for (const statement of asArray(statements)) {\n      if (!statement) continue;\n      const reason = typedExceptionDropReason(statement);\n      if (reason) {\n        dropped.push({ location, text: describeItem(statement), offending_ids: [], reason });\n      } else {\n        kept.push(statement);\n      }\n    }\n    return kept;\n  }\n\n  const outSections = {};\n  for (const key of Object.keys(sec)) {\n    const section = sec[key];\n    if (!section || typeof section !== 'object') {\n      outSections[key] = section;\n      continue;\n    }\n\n    if (key === 'swot') {\n      const swot = {};\n      for (const bucket of SWOT_ARRAYS) {\n        swot[bucket] = filterStatements(section[bucket], 'swot.' + bucket);\n      }\n      outSections.swot = swot;\n      continue;\n    }\n\n    outSections[key] = Array.isArray(section.statements)\n      ? Object.assign({}, section, { statements: filterStatements(section.statements, key) })\n      : section;\n  }\n\n  return { sections: outSections, dropped };\n}\n\n// ============================================================================\n// Step 4 -- required-section BACK-FILL, never reject (design \u00a79.3, spec-\n// review should-fix #1). Runs LAST of the three content steps -- AFTER both\n// drop steps -- so a required section a drop just emptied still ships one\n// line rather than an empty array (design \u00a79.1's closing sentence: \"If\n// dropping empties a required section, the back-fill covers it\").\n// ============================================================================\n//\n// A missing/empty required section (any of the five REQUIRED_SECTION_KEYS,\n// or any of swot's four parallel arrays) is deterministically BACK-FILLED\n// with one `structural` statement instead of failing the whole memo. This\n// step never returns an error -- it is total. Text is drawn from a fixed\n// table (never company-specific, never carries a `$`/digit), so a\n// back-filled line can never itself trip the typed-exception guard, and\n// never needs a claim_id (`claim_ids: []`, `kind: 'structural'` -- the\n// exact shape \u00a74.1 reserves for connective prose with no factual\n// assertion).\nconst STRUCTURAL_BACKFILL_TEXT = Object.freeze({\n  snapshot: 'Snapshot: nothing disclosed at this stage.',\n  hypotheses: 'Hypotheses: nothing disclosed at this stage.',\n  problem_product: 'Problem & product: nothing disclosed at this stage.',\n  traction: 'Traction: nothing verifiable disclosed at this stage.',\n  'swot.strengths': 'Strengths: nothing disclosed at this stage.',\n  'swot.weaknesses': 'Weaknesses: nothing disclosed at this stage.',\n  'swot.opportunities': 'Opportunities: nothing disclosed at this stage.',\n  'swot.threats': 'Threats: nothing disclosed at this stage.',\n});\n\nfunction backfillStatement(key) {\n  return { text: STRUCTURAL_BACKFILL_TEXT[key], claim_ids: [], kind: 'structural' };\n}\n\nfunction backfillRequiredSections(sections) {\n  const sec = sections && typeof sections === 'object' ? sections : {};\n  const filled = Object.assign({}, sec);\n\n  for (const key of ['snapshot', 'hypotheses', 'problem_product', 'traction']) {\n    const section = filled[key] && typeof filled[key] === 'object' ? filled[key] : {};\n    const statements = asArray(section.statements);\n    filled[key] = { statements: statements.length ? statements : [backfillStatement(key)] };\n  }\n\n  const swot = filled.swot && typeof filled.swot === 'object' ? filled.swot : {};\n  const filledSwot = {};\n  for (const bucket of SWOT_ARRAYS) {\n    const arr = asArray(swot[bucket]);\n    filledSwot[bucket] = arr.length ? arr : [backfillStatement('swot.' + bucket)];\n  }\n  filled.swot = filledSwot;\n\n  return filled;\n}\n\n// ============================================================================\n// computeVersion -- design \u00a79.4. `next = COALESCE(MAX(version),0)+1`. Pure:\n// the n8n node (task T5) performs the live `memos?application_id=eq.<id>&\n// select=version&order=version.desc&limit=1` read (alwaysOutputData -- empty\n// at v1 is normal, design \u00a73's own convention) and passes whatever it got\n// here, including `[]`.\n// ============================================================================\n\nfunction computeVersion(existingVersions) {\n  let max = 0;\n  for (const v of asArray(existingVersions)) {\n    const n = Number(v);\n    if (Number.isFinite(n) && n > max) max = n;\n  }\n  return max + 1;\n}\n\n// ============================================================================\n// buildMemoGeneratedEvent -- design \u00a79.7's payload shape, exposed so the\n// n8n node has one tested place to build it from after a successful INSERT\n// (this module never writes the event itself -- no I/O here at all).\n// `dropped_count`/`dropped_statements` are the DROP+LOG revision's own\n// addition (design \u00a79.1: \"the drop is logged, not silent... so a systematic\n// hallucination is still visible\") -- an EXPECTED, healthy field on most\n// runs (a handful of drops from an otherwise-good memo is the whole point\n// of this revision), not itself a failure signal.\n// ============================================================================\n\nfunction buildMemoGeneratedEvent({\n  memo_id,\n  application_id,\n  version,\n  recommendation,\n  rule_fired,\n  run_id,\n  n8n_execution_id,\n  dropped_statements,\n}) {\n  const dropped = asArray(dropped_statements);\n  return {\n    event_type: 'memo_generated',\n    entity_type: 'application',\n    entity_id: application_id,\n    payload: {\n      memo_id,\n      version,\n      recommendation,\n      rule_fired,\n      run_id,\n      n8n_execution_id,\n      dropped_count: dropped.length,\n      dropped_statements: dropped,\n    },\n  };\n}\n\n// ============================================================================\n// assembleMemo -- the entry point. Order follows design \u00a79's own numbering,\n// as revised by task T6b: 1 merge, 2 citation drop, 3 typed-exception drop,\n// 4 required-section back-fill, 5 cited_claim_ids. Back-fill runs AFTER both\n// drop steps (not before, unlike the pre-T6b ordering) -- a required section\n// a drop just emptied must still get its structural line, and a back-filled\n// line is fixed, claim-free, digit-free text that cannot itself be dropped\n// by either gate regardless of ordering. The malformed-input guard is the\n// ONLY remaining `{error}` path -- see the revision note at the top of this\n// file.\n// ============================================================================\n\nfunction assembleMemo({ pack, sections_parts, decision } = {}) {\n  if (!pack || typeof pack !== 'object') {\n    return { error: { code: 'malformed_input', message: 'assembleMemo requires a pack object.' } };\n  }\n  if (!decision || typeof decision !== 'object') {\n    return { error: { code: 'malformed_input', message: 'assembleMemo requires a decision object.' } };\n  }\n\n  const applicationId = pack.application_id != null ? pack.application_id : null;\n  const allowedClaimIds = new Set(asArray(pack.allowed_claim_ids));\n  const gaps = pack.gaps && typeof pack.gaps === 'object' ? pack.gaps : DEFAULT_GAPS;\n\n  const recommendation = decision.recommendation != null ? decision.recommendation : null;\n  const conditions =\n    decision.conditions && typeof decision.conditions === 'object' ? decision.conditions : DEFAULT_CONDITIONS;\n\n  // Step 1.\n  const merged = mergeSectionsParts(sections_parts);\n\n  // Step 2 -- citation drop (soft: strips offenders, never rejects).\n  const afterCitation = dropUncitedItems({\n    sections: merged.sections,\n    deep_dive_questions: merged.deep_dive_questions,\n    conditions,\n    allowedClaimIds,\n  });\n\n  // Step 3 -- typed-exception drop (soft, same revision). Runs over the\n  // POST-citation-drop sections -- a statement can only be dropped once, but\n  // ordering here is arbitrary either way since the two checks are disjoint\n  // (citation drop only inspects claim_ids, typed-exception only inspects\n  // kind/text).\n  const afterTypedException = dropTypedExceptionOffenders(afterCitation.sections);\n\n  const dropped_statements = afterCitation.dropped.concat(afterTypedException.dropped);\n\n  // Step 4 -- required-section back-fill. MUST run after both drops (see\n  // the header comment above).\n  const sections = backfillRequiredSections(afterTypedException.sections);\n\n  // Step 5 -- cited_claim_ids = union of what SURVIVED (sections/questions/\n  // conditions post-drop, plus gaps.contradictions, which is pack-sourced\n  // and was never walked by the drop steps).\n  const cited_claim_ids = Array.from(\n    collectAllClaimIds({\n      sections,\n      deep_dive_questions: afterCitation.deep_dive_questions,\n      conditions: afterCitation.conditions,\n      gaps,\n    })\n  );\n\n  const row = {\n    application_id: applicationId,\n    // Placeholder -- the n8n node (T5) overwrites this with\n    // computeVersion(<live memos?version read>) before INSERT (see header).\n    version: null,\n    sections,\n    gaps,\n    cited_claim_ids,\n    recommendation,\n    conditions: afterCitation.conditions,\n    deep_dive_questions: afterCitation.deep_dive_questions,\n  };\n\n  return { row, dropped_statements };\n}\n\n// ---- invocation ----\n// design.md SS5.1 -- pack via $('Context pack') node reference; sections via\n// $('Merge').all() (Merge carries only prose, MERGED BY KEY/CONTENT inside\n// mergeSectionsParts(), never by input index -- the [B3] sentinel contributes no keys\n// regardless of which Merge slot it landed in).\nconst pack = $('Context pack').first().json;\nconst decisionOut = $input.first().json.decision;\nconst sections_parts = $('Merge').all().map(function (item) { return item.json; });\n\nconst assembled = assembleMemo({ pack, sections_parts, decision: decisionOut });\nif (assembled.error) {\n  return [{ json: { error: assembled.error } }];\n}\nconst row = assembled.row;\n// task T6b (design SS9's DROP + LOG revision) -- a content slip (bad citation /\n// numeric-in-typed-exception) no longer reaches `assembled.error` at all; it is\n// dropped from `row` above and logged here instead, via the memo_generated event\n// payload below (never silent -- design SS9.1's own \"the drop is logged, not silent\").\nconst dropped_statements = assembled.dropped_statements || [];\n\n// design.md SS9.4 -- next = COALESCE(MAX(version),0)+1. This read happens inside a Code\n// node (this.helpers.httpRequest via pg()), never a dedicated PostgREST-typed n8n node,\n// so there is no separate alwaysOutputData toggle to set -- an empty `[]` result (v1, the\n// normal case) is just an empty JS array here, handled by computeVersion() below exactly\n// like every other empty-select branch in this workflow's own [A] node.\nasync function readNextVersion() {\n  const existing = await pg('GET', 'memos?application_id=eq.' + row.application_id + '&select=version&order=version.desc&limit=1');\n  return computeVersion((existing || []).map(function (r) { return r.version; }));\n}\n\nasync function insertMemo() {\n  return await pg('POST', 'memos', {\n    application_id: row.application_id, version: row.version, sections: row.sections,\n    gaps: row.gaps, cited_claim_ids: row.cited_claim_ids, recommendation: row.recommendation,\n    conditions: row.conditions, deep_dive_questions: row.deep_dive_questions,\n  }, 'return=representation');\n}\n\n// UNVERIFIED LIVE (flagged to @devops/@qa-engineer -- no deployed instance to trigger a\n// real (application_id, version) race against for this task): n8n's\n// this.helpers.httpRequest throws on PostgREST's non-2xx response; the exact shape of\n// the thrown error for a 23505 unique-violation (409) was not confirmed live. Best-effort\n// match against every shape PostgREST's own {code:'23505', ...} body has been seen to\n// surface as, plus a message-substring fallback -- confirm against a real concurrent\n// f06-generate-memo submit for the same application_id before relying on this in the demo.\nfunction isUniqueViolation(e) {\n  const body = (e && e.response && (e.response.data || e.response.body))\n    || (e && e.cause && e.cause.response && (e.cause.response.data || e.cause.response.body))\n    || null;\n  if (body && typeof body === 'object' && body.code === '23505') return true;\n  const text = (body && typeof body === 'string') ? body : String((e && e.message) || e);\n  return text.indexOf('23505') !== -1 || text.toLowerCase().indexOf('duplicate key') !== -1;\n}\n\nrow.version = await readNextVersion();\nlet insertedRows;\ntry {\n  insertedRows = await insertMemo();\n} catch (e) {\n  if (!isUniqueViolation(e)) throw e;\n  // design.md SS9.6 -- on the (application_id, version) unique race, retry ONCE with next+1.\n  row.version = await readNextVersion();\n  insertedRows = await insertMemo();\n}\nconst memo_id = insertedRows && insertedRows[0] && insertedRows[0].id;\n\n// design.md SS9.7 -- lights up api_applications.memo_available/memo_version.\nconst event = buildMemoGeneratedEvent({\n  memo_id: memo_id, application_id: row.application_id, version: row.version,\n  recommendation: row.recommendation,\n  rule_fired: (row.conditions && row.conditions.decision_inputs) ? row.conditions.decision_inputs.rule_fired : null,\n  run_id: pack.run_id || null, n8n_execution_id: $execution.id,\n  dropped_statements: dropped_statements,\n});\nawait pg('POST', 'events', {\n  event_type: event.event_type, entity_type: event.entity_type, entity_id: event.entity_id,\n  payload: event.payload, actor: 'f06-generate-memo',\n}, 'return=minimal');\n\nreturn [{ json: { memo_id: memo_id, application_id: row.application_id, version: row.version, recommendation: row.recommendation } }];\n"
   },
   "id": "c786ad57-f63e-4eda-9cd3-4ba6b6abb5d9",
   "name": "Assemble + write",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    1340,
    0
   ],
   "notes": "SOURCE OF TRUTH: lib/f06/assemble.js -- do not edit here, edit there and re-paste (via n8n/build-f06-workflow.py)."
  },
  {
   "parameters": {
    "conditions": {
     "options": {
      "caseSensitive": true,
      "leftValue": "",
      "typeValidation": "loose"
     },
     "conditions": [
      {
       "id": "bc0a4bde-5b89-46d4-a364-c60d31d10cfc",
       "leftValue": "={{ $json.error ? 'error' : 'ok' }}",
       "rightValue": "error",
       "operator": {
        "type": "string",
        "operation": "equals"
       }
      }
     ],
     "combinator": "and"
    },
    "options": {}
   },
   "id": "c629b05f-c496-49d6-9f1f-946ea9bacccc",
   "name": "IF: assemble error?",
   "type": "n8n-nodes-base.if",
   "typeVersion": 2,
   "position": [
    1620,
    0
   ]
  },
  {
   "parameters": {
    "respondWith": "firstIncomingItem",
    "options": {
     "responseCode": 422
    }
   },
   "id": "3e3627a7-f6cb-4043-bfc1-fa569301f5d8",
   "name": "Respond: assemble error",
   "type": "n8n-nodes-base.respondToWebhook",
   "typeVersion": 1.1,
   "position": [
    1900,
    -140
   ]
  },
  {
   "parameters": {
    "respondWith": "firstIncomingItem",
    "options": {
     "responseCode": 200
    }
   },
   "id": "b317692c-f46c-420f-8adb-55501004e8f2",
   "name": "Respond: success",
   "type": "n8n-nodes-base.respondToWebhook",
   "typeVersion": 1.1,
   "position": [
    1900,
    140
   ]
  },
  {
   "parameters": {
    "content": "### PACK PROPAGATION (design.md SS5.1)\nAn n8n node emits what it RETURNS, not its input. [C]/[D] need\n[A]'s pack numbers/ids -- reached via the $('Context pack') node\nreference (valid: [A] is an ancestor of both via\n[A]->...->Merge->[C]->[D]). [D] likewise reads the four section\ngroups with $('Merge').all(), merged by KEY/CONTENT inside\nmergeSectionsParts(), never by input index.",
    "height": 240,
    "width": 620
   },
   "id": "48919dfe-e7c6-47c9-b74a-dd4f0c707cf4",
   "name": "Note: pack propagation",
   "type": "n8n-nodes-base.stickyNote",
   "typeVersion": 1,
   "position": [
    -160,
    -820
   ]
  },
  {
   "parameters": {
    "content": "### ALL FOUR [B] NODES ALWAYS EXECUTE (design.md SS5.3)\n[B3] (memo-optional) is conditional in CONTENT, not in\nEXECUTION -- with no qualifying input it emits the sentinel\n{_sentinel:true, risk_matrix:null, competition:null,\nfinancials_lite:null}, so the numberInputs:4 append-Merge\nalways sees all four inputs and never stalls (real\nn8n-nodes-base.merge, branch i -> input i -- a plain multi-wire\nfan-in silently runs only 1-2 branches in this n8n build,\nTRACKER's own f03 finding).",
    "height": 240,
    "width": 700
   },
   "id": "bd47f084-9c06-4802-bb17-0e0a5daa5463",
   "name": "Note: all four B nodes always execute",
   "type": "n8n-nodes-base.stickyNote",
   "typeVersion": 1,
   "position": [
    440,
    -820
   ]
  },
  {
   "parameters": {
    "content": "### REQUIRED-SECTION BACK-FILL, NEVER REJECT (spec-review\nshould-fix #1, design.md SS9.3)\nlib/f06/assemble.js's checkRequiredSections() was replaced with\nbackfillRequiredSections(): a missing/empty required section (or\nSWOT array) gets ONE deterministic structural line instead of\nrejecting the memo. As of task T6b, the citation gate and the\ntyped-exception guard ALSO no longer return {error} -- they\nDROP + LOG the offending statement/item instead (dropped_count/\ndropped_statements ride the memo_generated event payload), and\nback-fill (this step) runs AFTER both drops so an emptied\nrequired section still ships one line. assembleMemo()'s only\nremaining {error} path is malformed input (pack/decision missing\nentirely) -- an LLM omission or citation slip can never hard-fail\nthe whole memo any more.",
    "height": 260,
    "width": 780
   },
   "id": "2e168d86-f162-44dd-8ea0-551c86cf7683",
   "name": "Note: required-section back-fill",
   "type": "n8n-nodes-base.stickyNote",
   "typeVersion": 1,
   "position": [
    1160,
    -820
   ]
  },
  {
   "parameters": {
    "content": "### STRICT-MODE SCHEMAS (agents/README.md)\nresponse_format uses strict:true for every [B] node -- every\nagent JSON schema is run through this generator's own\nstrictify() at embed time (strips oneOf/allOf/min*/max*/\npattern/format, forces every property into `required`).\ndeep-dive-questions has NO *-json-schema.json file in this repo\n-- its schema is reconstructed here from the prompt's own\nOUTPUT FORMAT block + design.md SS4.3 (see QUESTIONS_SCHEMA_RAW\nabove), flagged as a design-ambiguity resolution.",
    "height": 260,
    "width": 780
   },
   "id": "a77a4f44-d77a-4e61-84d5-bc67ff655b68",
   "name": "Note: strict-mode schemas",
   "type": "n8n-nodes-base.stickyNote",
   "typeVersion": 1,
   "position": [
    1160,
    460
   ]
  }
 ],
 "connections": {
  "Webhook Trigger": {
   "main": [
    [
     {
      "node": "Normalize Webhook Input",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Normalize Webhook Input": {
   "main": [
    [
     {
      "node": "Context pack",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Context pack": {
   "main": [
    [
     {
      "node": "IF: pack error?",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "IF: pack error?": {
   "main": [
    [
     {
      "node": "Respond: pack error",
      "type": "main",
      "index": 0
     }
    ],
    [
     {
      "node": "LLM: memo-descriptive (B1)",
      "type": "main",
      "index": 0
     },
     {
      "node": "LLM: memo-analytical (B2)",
      "type": "main",
      "index": 0
     },
     {
      "node": "LLM: memo-optional (B3)",
      "type": "main",
      "index": 0
     },
     {
      "node": "LLM: deep-dive-questions (B4)",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "LLM: memo-descriptive (B1)": {
   "main": [
    [
     {
      "node": "Merge",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "LLM: memo-analytical (B2)": {
   "main": [
    [
     {
      "node": "Merge",
      "type": "main",
      "index": 1
     }
    ]
   ]
  },
  "LLM: memo-optional (B3)": {
   "main": [
    [
     {
      "node": "Merge",
      "type": "main",
      "index": 2
     }
    ]
   ]
  },
  "LLM: deep-dive-questions (B4)": {
   "main": [
    [
     {
      "node": "Merge",
      "type": "main",
      "index": 3
     }
    ]
   ]
  },
  "Merge": {
   "main": [
    [
     {
      "node": "Decision",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Decision": {
   "main": [
    [
     {
      "node": "Assemble + write",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Assemble + write": {
   "main": [
    [
     {
      "node": "IF: assemble error?",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "IF: assemble error?": {
   "main": [
    [
     {
      "node": "Respond: assemble error",
      "type": "main",
      "index": 0
     }
    ],
    [
     {
      "node": "Respond: success",
      "type": "main",
      "index": 0
     }
    ]
   ]
  }
 },
 "active": false,
 "settings": {
  "executionOrder": "v1",
  "saveManualExecutions": true,
  "timezone": "UTC"
 },
 "pinData": {},
 "meta": {
  "templateCredsSetupCompleted": true
 }
}