n8n/workflows/f07-db-write.json
{
 "name": "f07-db-write",
 "nodes": [
  {
   "parameters": {},
   "id": "trigger",
   "name": "When Executed by Another Workflow",
   "type": "n8n-nodes-base.executeWorkflowTrigger",
   "typeVersion": 1,
   "position": [
    0,
    0
   ]
  },
  {
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "\nconst SB = String($env.SUPABASE_URL || '').replace(/\\/rest\\/v1\\/?$/, '');\nconst KEY = $env.SUPABASE_SERVICE_ROLE_KEY;\nasync function pg(method, path, body, prefer) {\n  const headers = { apikey: KEY, Authorization: 'Bearer ' + KEY, 'Content-Type': 'application/json' };\n  if (prefer) headers.Prefer = prefer;\n  return await this.helpers.httpRequest({ method, url: SB + '/rest/v1/' + path, headers, body, json: true });\n}\nasync function pgGet(path) { return await pg.call(this, 'GET', path); }\n\n// design.md SS5.4 \"Card preflight, reusing 04's resolution verbatim\" -- the ORDER BY is\n// load-bearing (a founder card can carry the same application_id too).\nconst inp = $input.first().json;\nconst appId = inp.application_id;\nif (!appId) throw new Error('f07-db-write: application_id is required');\nconst app = await pg.call(this, 'GET', `applications?id=eq.${appId}&select=id,company_id`);\nif (!app.length) throw new Error('f07-db-write: application not found: ' + appId);\nconst companyId = app[0].company_id;\nlet cards = await pg.call(this, 'GET',\n  `cards?application_id=eq.${appId}&card_type=eq.company&select=id&order=created_at.asc&limit=1`);\nlet cardId = cards.length ? cards[0].id : null;\nif (!cardId) {\n  const made = await pg.call(this, 'POST', 'cards',\n    { card_type: 'company', company_id: companyId, application_id: appId, status: 'draft' },\n    'return=representation');\n  cardId = made[0].id;\n}\nreturn [{ json: { ...inp, application_id: appId, company_id: companyId, card_id: cardId } }];\n"
   },
   "id": "73237735-64dc-429c-a8b8-3f768b47852a",
   "name": "Preflight: resolve card",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    220,
    0
   ]
  },
  {
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "\nconst SB = String($env.SUPABASE_URL || '').replace(/\\/rest\\/v1\\/?$/, '');\nconst KEY = $env.SUPABASE_SERVICE_ROLE_KEY;\nasync function pg(method, path, body, prefer) {\n  const headers = { apikey: KEY, Authorization: 'Bearer ' + KEY, 'Content-Type': 'application/json' };\n  if (prefer) headers.Prefer = prefer;\n  return await this.helpers.httpRequest({ method, url: SB + '/rest/v1/' + path, headers, body, json: true });\n}\nasync function pgGet(path) { return await pg.call(this, 'GET', path); }\n// ===== inlined lib/f07/hashes.js verbatim (generated by n8n/build-f07-workflow.py -- edit the source, not this) =====\n// lib/f07/hashes.js\n// SOURCE OF TRUTH -- do not edit inside the n8n Code node, edit here and re-paste.\n//\n// Content-hash and fingerprint recipes for feature 07 (Thesis Engine),\n// design.md \u00a75.4 (the claims write path) and \u00a75.1 (`thesis_evaluations.\n// input_fingerprint`). Mirrors lib/f04/provenance.js's `contentHash`\n// pattern -- sha256Hex + a small field-joining helper -- because that is\n// this repo's established shape for a NOT NULL UNIQUE content_hash column\n// and 07's own hashing layer was unowned in the first pass (plan re-review\n// finding). Pure functions only -- no I/O, no n8n imports, no network.\n//\n// docs/backlog/07-thesis-engine/plan.md, task B1c.\n\n'use strict';\n\nconst crypto = require('crypto');\n\n// ============================================================================\n// Small shared helpers\n// ============================================================================\n\n// design.md writes every recipe as `sha256(a \u2016 b \u2016 c)` -- concatenation, no\n// delimiter specified -- and leaves the exact byte-join an implementation\n// detail (04/provenance.js's own comment says the same about its recipes).\n// A delimiter IS required, or \"ab\"+\"c\" and \"a\"+\"bc\" collide. NUL (\u0000) is\n// used because none of this file's hashed fields (uuids, hex hashes, short\n// version slugs, enum-like `topic`/`relation` strings) can contain one --\n// unlike a free-text search `query`, which 04's fields include and a plain\n// space would not safely separate.\nconst HASH_FIELD_DELIMITER = '\u0000';\n\nfunction sha256Hex(input) {\n  return crypto.createHash('sha256').update(input, 'utf8').digest('hex');\n}\n\nfunction hashFields(...parts) {\n  return sha256Hex(parts.map((part) => (part === null || part === undefined ? '' : String(part))).join(HASH_FIELD_DELIMITER));\n}\n\n// ============================================================================\n// `ai_runs.prompt_version` -- never assigned a value anywhere in design.md;\n// pinned here per the team lead's 2026-07-19 correction, because\n// `ai_runs.input_hash`'s retry-stability depends on this being a fixed\n// string across every call, not something each caller invents locally.\n// ============================================================================\n\nconst PROMPT_VERSION = 'f07-extract-v1';\n\n// ============================================================================\n// input_text_hash -- also undefined anywhere in design.md until the same\n// correction. Normalizes `gate_text` before hashing so two retries of the\n// same underlying input (e.g. a deck re-extracted with a slightly different\n// line-wrap, or OCR noise reflowing whitespace) hash IDENTICALLY: trim the\n// ends, collapse every run of whitespace (spaces, tabs, newlines) to one\n// space. This is what makes `raw_signals.content_hash` (below) and\n// `ai_runs.input_hash` retry-stable rather than accidentally\n// input-formatting-stable.\n// ============================================================================\n\nfunction normalizeText(text) {\n  return String(text == null ? '' : text).trim().replace(/\\s+/g, ' ');\n}\n\nfunction inputTextHash(text) {\n  return sha256Hex(normalizeText(text));\n}\n\n// ============================================================================\n// Stable JSON stringify -- object keys sorted, array order preserved. Needed\n// because `thesis_config_snapshot` is a JS object built from `theses.config`\n// (jsonb), and JS object key ORDER is not guaranteed to be canonical across\n// two calls that construct the same logical config differently (e.g. a\n// PostgREST response vs. a hand-built test fixture) -- an unstable stringify\n// would make `input_fingerprint` (below) spuriously non-reproducible for the\n// identical config. design.md leaves the exact hash of \"thesis_config_snapshot\"\n// unspecified; this is this file's implementation choice, not a deviation\n// from a spelled-out recipe.\n// ============================================================================\n\nfunction stableStringify(value) {\n  if (Array.isArray(value)) {\n    return `[${value.map(stableStringify).join(',')}]`;\n  }\n  if (value !== null && typeof value === 'object') {\n    const keys = Object.keys(value).sort();\n    return `{${keys.map((k) => `${JSON.stringify(k)}:${stableStringify(value[k])}`).join(',')}}`;\n  }\n  return JSON.stringify(value);\n}\n\nfunction thesisConfigSnapshotHash(config) {\n  return sha256Hex(stableStringify(config == null ? {} : config));\n}\n\n// ============================================================================\n// \u00a75.4 -- the four content_hash recipes (plus ai_runs.input_hash, which\n// plays the identical \"select-by-hash-first\" role under a differently-named\n// column). Every recipe here is retry-stable: none of them takes an\n// `ai_run_id` as input, which is the exact property the design's own \u00a75.4\n// note calls out as the fix for a defect that shipped once already.\n// ============================================================================\n\nconst contentHash = {\n  // ai_runs.input_hash = sha256(application_id \u2016 input_text_hash \u2016\n  // prompt_version \u2016 model). Not literally a column named `content_hash`\n  // (\u00a75.4's table lists `ai_runs` as \"keyed by input_hash\", not by a\n  // `content_hash` column), but it serves the identical select-by-hash-\n  // first dedup role, so it lives in this namespace rather than as a lone\n  // export.\n  aiRun({ application_id, input_text_hash, prompt_version, model }) {\n    return hashFields(application_id, input_text_hash, prompt_version, model);\n  },\n\n  // raw_signals.content_hash = sha256(application_id \u2016 input_text_hash \u2016\n  // prompt_version) -- design.md \u00a75.4 row 3. No `ai_run_id`, no\n  // `observed_at`: two retries of the same gate call (same application,\n  // same normalized input text, same prompt version) resolve the SAME\n  // raw_signals row even if each attempt opened a fresh `ai_runs` row.\n  rawSignal({ application_id, input_text_hash, prompt_version }) {\n    return hashFields(application_id, input_text_hash, prompt_version);\n  },\n\n  // claims.content_hash = sha256(card_id \u2016 topic \u2016 raw_signal_id \u2016\n  // item_key) -- design.md \u00a75.4 row 4, ANCHORED ON raw_signal_id, NOT\n  // ai_run_id.\n  //\n  // This is a DELIBERATE divergence from lib/f04/provenance.js's\n  // `contentHash.claim`, which includes `ai_run_id` ON PURPOSE (04/design.md\n  // :240: to force new rows on every re-run so `scores.trend` has history).\n  // 07's gate has no trend to build and needs the opposite property:\n  // retry-safety. Since `ai_runs` opens a fresh row on every attempt\n  // (\u00a75.4's write path step 1) while `rawSignal` above never includes\n  // ai_run_id, `raw_signal_id` is retry-stable -- inheriting 04's recipe\n  // verbatim (swapping in `raw_signal_id` for `ai_run_id` in name only)\n  // would silently reintroduce 04's OWN chosen instability into a gate that\n  // needs the opposite guarantee: a retry would open a new `ai_runs` row,\n  // and if that id leaked into this hash, every retry would duplicate every\n  // `company.*` claim. Do NOT \"harmonise\" this back to match 04.\n  //\n  // `item_key` defaults to '_' for singleton topics (\u00a75.4: \"mandatory\n  // whenever a topic can hold N rows per run\" -- none of 07's five\n  // `company.*` topics do, but the parameter is accepted for consistency\n  // with 04's identical convention).\n  claim({ card_id, topic, raw_signal_id, item_key }) {\n    return hashFields(card_id, topic, raw_signal_id, item_key == null || item_key === '' ? '_' : item_key);\n  },\n\n  // evidence.content_hash = sha256(claim_id \u2016 relation) -- design.md \u00a75.4\n  // row 5. Simpler than 04's evidence recipe (which also discriminates on\n  // source_url/quote_verbatim/query to keep multiple tier='missing' rows\n  // apart): 07 writes exactly one supporting evidence row per claim, always\n  // `relation='supports'`, `tier='documented'` (\u00a75.4 table), so `(claim_id,\n  // relation)` is already unique -- there is no multi-row-per-claim case\n  // here that needs a third discriminator.\n  evidence({ claim_id, relation }) {\n    return hashFields(claim_id, relation);\n  },\n};\n\n// ============================================================================\n// input_fingerprint (\u00a75.1) = sha256(sorted contributing claim content_hashes\n// \u2016 thesis_config_snapshot hash). Sorting the claim hashes is what makes the\n// fingerprint independent of claim-collection order (the write path's\n// per-attribute loop has no meaningful order of its own); hashing the\n// STABLE-STRINGIFIED config, not the raw object, is what makes it\n// independent of key-insertion order for the identical config.\n// ============================================================================\n\nfunction inputFingerprint({ claimContentHashes, thesisConfigSnapshot }) {\n  const sortedHashes = (Array.isArray(claimContentHashes) ? claimContentHashes.slice() : []).sort();\n  return hashFields(...sortedHashes, thesisConfigSnapshotHash(thesisConfigSnapshot));\n}\n\n// design.md SS5.4 row 1: ai_runs IS select-by-input_hash-first, insert only if absent --\n// matching lib/f07/run.js's writeAiRun() exactly (the verified reference implementation;\n// this generator's earlier \"fresh row every attempt\" reading of the design's prose was\n// wrong and has been corrected against run.js, 2026-07-19).\nconst inp = $input.first().json;\nconst gateText = inp.gate_text || '';\nconst structuredHints = inp.structured_hints || {};\nconst inputTextHashVal = inputTextHash(gateText);\nconst inputHashVal = contentHash.aiRun({\n  application_id: inp.application_id, input_text_hash: inputTextHashVal,\n  prompt_version: inp.prompt_version, model: inp.model,\n});\nconst found = await pg.call(this, 'GET', `ai_runs?input_hash=eq.${inputHashVal}&select=id`);\nlet aiRunId;\nif (found.length) {\n  aiRunId = found[0].id;\n} else {\n  // Corollary (input-spec.md / SS8.3 test 13): the payload written here must contain no\n  // thesis field -- D0 never receives one, so this is structurally guaranteed. Recording\n  // {input, extraction} (not just extraction) makes that guarantee auditable directly off\n  // this row, matching run.js's writeAiRun() shape.\n  const rows = await pg.call(this, 'POST', 'ai_runs', {\n    task_type: 'thesis_extraction', company_id: inp.company_id, application_id: inp.application_id,\n    model: inp.model, prompt_version: inp.prompt_version, input_hash: inputHashVal,\n    output_json: { input: { gate_text: gateText || null, structured_hints: structuredHints },\n                   extraction: inp.extraction || {} },\n    n8n_execution_id: String($execution.id),\n  }, 'return=representation');\n  aiRunId = rows[0].id;\n}\nreturn [{ json: { ...inp, ai_run_id: aiRunId, input_text_hash: inputTextHashVal } }];\n"
   },
   "id": "3bf4fd79-68bd-4acc-9cb8-df2e75591dd8",
   "name": "Write ai_run",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    440,
    0
   ]
  },
  {
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "\nconst SB = String($env.SUPABASE_URL || '').replace(/\\/rest\\/v1\\/?$/, '');\nconst KEY = $env.SUPABASE_SERVICE_ROLE_KEY;\nasync function pg(method, path, body, prefer) {\n  const headers = { apikey: KEY, Authorization: 'Bearer ' + KEY, 'Content-Type': 'application/json' };\n  if (prefer) headers.Prefer = prefer;\n  return await this.helpers.httpRequest({ method, url: SB + '/rest/v1/' + path, headers, body, json: true });\n}\nasync function pgGet(path) { return await pg.call(this, 'GET', path); }\n// ===== inlined lib/f07/hashes.js verbatim (generated by n8n/build-f07-workflow.py -- edit the source, not this) =====\n// lib/f07/hashes.js\n// SOURCE OF TRUTH -- do not edit inside the n8n Code node, edit here and re-paste.\n//\n// Content-hash and fingerprint recipes for feature 07 (Thesis Engine),\n// design.md \u00a75.4 (the claims write path) and \u00a75.1 (`thesis_evaluations.\n// input_fingerprint`). Mirrors lib/f04/provenance.js's `contentHash`\n// pattern -- sha256Hex + a small field-joining helper -- because that is\n// this repo's established shape for a NOT NULL UNIQUE content_hash column\n// and 07's own hashing layer was unowned in the first pass (plan re-review\n// finding). Pure functions only -- no I/O, no n8n imports, no network.\n//\n// docs/backlog/07-thesis-engine/plan.md, task B1c.\n\n'use strict';\n\nconst crypto = require('crypto');\n\n// ============================================================================\n// Small shared helpers\n// ============================================================================\n\n// design.md writes every recipe as `sha256(a \u2016 b \u2016 c)` -- concatenation, no\n// delimiter specified -- and leaves the exact byte-join an implementation\n// detail (04/provenance.js's own comment says the same about its recipes).\n// A delimiter IS required, or \"ab\"+\"c\" and \"a\"+\"bc\" collide. NUL (\u0000) is\n// used because none of this file's hashed fields (uuids, hex hashes, short\n// version slugs, enum-like `topic`/`relation` strings) can contain one --\n// unlike a free-text search `query`, which 04's fields include and a plain\n// space would not safely separate.\nconst HASH_FIELD_DELIMITER = '\u0000';\n\nfunction sha256Hex(input) {\n  return crypto.createHash('sha256').update(input, 'utf8').digest('hex');\n}\n\nfunction hashFields(...parts) {\n  return sha256Hex(parts.map((part) => (part === null || part === undefined ? '' : String(part))).join(HASH_FIELD_DELIMITER));\n}\n\n// ============================================================================\n// `ai_runs.prompt_version` -- never assigned a value anywhere in design.md;\n// pinned here per the team lead's 2026-07-19 correction, because\n// `ai_runs.input_hash`'s retry-stability depends on this being a fixed\n// string across every call, not something each caller invents locally.\n// ============================================================================\n\nconst PROMPT_VERSION = 'f07-extract-v1';\n\n// ============================================================================\n// input_text_hash -- also undefined anywhere in design.md until the same\n// correction. Normalizes `gate_text` before hashing so two retries of the\n// same underlying input (e.g. a deck re-extracted with a slightly different\n// line-wrap, or OCR noise reflowing whitespace) hash IDENTICALLY: trim the\n// ends, collapse every run of whitespace (spaces, tabs, newlines) to one\n// space. This is what makes `raw_signals.content_hash` (below) and\n// `ai_runs.input_hash` retry-stable rather than accidentally\n// input-formatting-stable.\n// ============================================================================\n\nfunction normalizeText(text) {\n  return String(text == null ? '' : text).trim().replace(/\\s+/g, ' ');\n}\n\nfunction inputTextHash(text) {\n  return sha256Hex(normalizeText(text));\n}\n\n// ============================================================================\n// Stable JSON stringify -- object keys sorted, array order preserved. Needed\n// because `thesis_config_snapshot` is a JS object built from `theses.config`\n// (jsonb), and JS object key ORDER is not guaranteed to be canonical across\n// two calls that construct the same logical config differently (e.g. a\n// PostgREST response vs. a hand-built test fixture) -- an unstable stringify\n// would make `input_fingerprint` (below) spuriously non-reproducible for the\n// identical config. design.md leaves the exact hash of \"thesis_config_snapshot\"\n// unspecified; this is this file's implementation choice, not a deviation\n// from a spelled-out recipe.\n// ============================================================================\n\nfunction stableStringify(value) {\n  if (Array.isArray(value)) {\n    return `[${value.map(stableStringify).join(',')}]`;\n  }\n  if (value !== null && typeof value === 'object') {\n    const keys = Object.keys(value).sort();\n    return `{${keys.map((k) => `${JSON.stringify(k)}:${stableStringify(value[k])}`).join(',')}}`;\n  }\n  return JSON.stringify(value);\n}\n\nfunction thesisConfigSnapshotHash(config) {\n  return sha256Hex(stableStringify(config == null ? {} : config));\n}\n\n// ============================================================================\n// \u00a75.4 -- the four content_hash recipes (plus ai_runs.input_hash, which\n// plays the identical \"select-by-hash-first\" role under a differently-named\n// column). Every recipe here is retry-stable: none of them takes an\n// `ai_run_id` as input, which is the exact property the design's own \u00a75.4\n// note calls out as the fix for a defect that shipped once already.\n// ============================================================================\n\nconst contentHash = {\n  // ai_runs.input_hash = sha256(application_id \u2016 input_text_hash \u2016\n  // prompt_version \u2016 model). Not literally a column named `content_hash`\n  // (\u00a75.4's table lists `ai_runs` as \"keyed by input_hash\", not by a\n  // `content_hash` column), but it serves the identical select-by-hash-\n  // first dedup role, so it lives in this namespace rather than as a lone\n  // export.\n  aiRun({ application_id, input_text_hash, prompt_version, model }) {\n    return hashFields(application_id, input_text_hash, prompt_version, model);\n  },\n\n  // raw_signals.content_hash = sha256(application_id \u2016 input_text_hash \u2016\n  // prompt_version) -- design.md \u00a75.4 row 3. No `ai_run_id`, no\n  // `observed_at`: two retries of the same gate call (same application,\n  // same normalized input text, same prompt version) resolve the SAME\n  // raw_signals row even if each attempt opened a fresh `ai_runs` row.\n  rawSignal({ application_id, input_text_hash, prompt_version }) {\n    return hashFields(application_id, input_text_hash, prompt_version);\n  },\n\n  // claims.content_hash = sha256(card_id \u2016 topic \u2016 raw_signal_id \u2016\n  // item_key) -- design.md \u00a75.4 row 4, ANCHORED ON raw_signal_id, NOT\n  // ai_run_id.\n  //\n  // This is a DELIBERATE divergence from lib/f04/provenance.js's\n  // `contentHash.claim`, which includes `ai_run_id` ON PURPOSE (04/design.md\n  // :240: to force new rows on every re-run so `scores.trend` has history).\n  // 07's gate has no trend to build and needs the opposite property:\n  // retry-safety. Since `ai_runs` opens a fresh row on every attempt\n  // (\u00a75.4's write path step 1) while `rawSignal` above never includes\n  // ai_run_id, `raw_signal_id` is retry-stable -- inheriting 04's recipe\n  // verbatim (swapping in `raw_signal_id` for `ai_run_id` in name only)\n  // would silently reintroduce 04's OWN chosen instability into a gate that\n  // needs the opposite guarantee: a retry would open a new `ai_runs` row,\n  // and if that id leaked into this hash, every retry would duplicate every\n  // `company.*` claim. Do NOT \"harmonise\" this back to match 04.\n  //\n  // `item_key` defaults to '_' for singleton topics (\u00a75.4: \"mandatory\n  // whenever a topic can hold N rows per run\" -- none of 07's five\n  // `company.*` topics do, but the parameter is accepted for consistency\n  // with 04's identical convention).\n  claim({ card_id, topic, raw_signal_id, item_key }) {\n    return hashFields(card_id, topic, raw_signal_id, item_key == null || item_key === '' ? '_' : item_key);\n  },\n\n  // evidence.content_hash = sha256(claim_id \u2016 relation) -- design.md \u00a75.4\n  // row 5. Simpler than 04's evidence recipe (which also discriminates on\n  // source_url/quote_verbatim/query to keep multiple tier='missing' rows\n  // apart): 07 writes exactly one supporting evidence row per claim, always\n  // `relation='supports'`, `tier='documented'` (\u00a75.4 table), so `(claim_id,\n  // relation)` is already unique -- there is no multi-row-per-claim case\n  // here that needs a third discriminator.\n  evidence({ claim_id, relation }) {\n    return hashFields(claim_id, relation);\n  },\n};\n\n// ============================================================================\n// input_fingerprint (\u00a75.1) = sha256(sorted contributing claim content_hashes\n// \u2016 thesis_config_snapshot hash). Sorting the claim hashes is what makes the\n// fingerprint independent of claim-collection order (the write path's\n// per-attribute loop has no meaningful order of its own); hashing the\n// STABLE-STRINGIFIED config, not the raw object, is what makes it\n// independent of key-insertion order for the identical config.\n// ============================================================================\n\nfunction inputFingerprint({ claimContentHashes, thesisConfigSnapshot }) {\n  const sortedHashes = (Array.isArray(claimContentHashes) ? claimContentHashes.slice() : []).sort();\n  return hashFields(...sortedHashes, thesisConfigSnapshotHash(thesisConfigSnapshot));\n}\n\n// design.md SS5.4 row 3: select-by-content_hash first, insert only if absent -- NOT\n// ON CONFLICT DO NOTHING, which returns zero rows over PostgREST and would null\n// evidence.raw_signal_id (04/design.md :240, the precedent this note is borrowed from).\n// Anchored on (application_id, input_text_hash, prompt_version) -- retry-stable\n// independent of ai_run_id, per the hash-correction note above.\n//\n// payload carries BOTH `mode` (matching run.js's writeRawSignal() shape) AND `text`\n// (a deliberate divergence from run.js, which never re-reads this row -- run.js is\n// full-mode, one-shot, no re-evaluation). f07-thesis-reevaluate (D2) MUST resolve `_text`\n// from exactly this stored payload (design.md SS1.1: \"the original input is preserved\n// there by SS5.4 step 3\"), so `text` stays here even though run.js's own narrower scope\n// does not need it.\nconst inp = $input.first().json;\nconst hash = contentHash.rawSignal({\n  application_id: inp.application_id, input_text_hash: inp.input_text_hash,\n  prompt_version: inp.prompt_version,\n});\nlet found = await pg.call(this, 'GET', `raw_signals?content_hash=eq.${encodeURIComponent(hash)}&select=id`);\nlet rawSignalId;\nif (found.length) {\n  rawSignalId = found[0].id;\n} else {\n  const made = await pg.call(this, 'POST', 'raw_signals', {\n    source: 'deck_parse', source_url: null, payload: { mode: 'full', text: inp.gate_text || '' },\n    content_hash: hash, company_id: inp.company_id, founder_id: null,\n    observed_at: inp.observed_at, // the gate invocation timestamp, never now() (SS5.4)\n  }, 'return=representation');\n  rawSignalId = made[0].id;\n}\nreturn [{ json: { ...inp, raw_signal_id: rawSignalId } }];\n"
   },
   "id": "50f8da62-1d00-46f5-9c53-90d2afae3499",
   "name": "Write raw_signal",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    660,
    0
   ]
  },
  {
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "\nconst SB = String($env.SUPABASE_URL || '').replace(/\\/rest\\/v1\\/?$/, '');\nconst KEY = $env.SUPABASE_SERVICE_ROLE_KEY;\nasync function pg(method, path, body, prefer) {\n  const headers = { apikey: KEY, Authorization: 'Bearer ' + KEY, 'Content-Type': 'application/json' };\n  if (prefer) headers.Prefer = prefer;\n  return await this.helpers.httpRequest({ method, url: SB + '/rest/v1/' + path, headers, body, json: true });\n}\nasync function pgGet(path) { return await pg.call(this, 'GET', path); }\n// ===== inlined lib/f07/hashes.js verbatim (generated by n8n/build-f07-workflow.py -- edit the source, not this) =====\n// lib/f07/hashes.js\n// SOURCE OF TRUTH -- do not edit inside the n8n Code node, edit here and re-paste.\n//\n// Content-hash and fingerprint recipes for feature 07 (Thesis Engine),\n// design.md \u00a75.4 (the claims write path) and \u00a75.1 (`thesis_evaluations.\n// input_fingerprint`). Mirrors lib/f04/provenance.js's `contentHash`\n// pattern -- sha256Hex + a small field-joining helper -- because that is\n// this repo's established shape for a NOT NULL UNIQUE content_hash column\n// and 07's own hashing layer was unowned in the first pass (plan re-review\n// finding). Pure functions only -- no I/O, no n8n imports, no network.\n//\n// docs/backlog/07-thesis-engine/plan.md, task B1c.\n\n'use strict';\n\nconst crypto = require('crypto');\n\n// ============================================================================\n// Small shared helpers\n// ============================================================================\n\n// design.md writes every recipe as `sha256(a \u2016 b \u2016 c)` -- concatenation, no\n// delimiter specified -- and leaves the exact byte-join an implementation\n// detail (04/provenance.js's own comment says the same about its recipes).\n// A delimiter IS required, or \"ab\"+\"c\" and \"a\"+\"bc\" collide. NUL (\u0000) is\n// used because none of this file's hashed fields (uuids, hex hashes, short\n// version slugs, enum-like `topic`/`relation` strings) can contain one --\n// unlike a free-text search `query`, which 04's fields include and a plain\n// space would not safely separate.\nconst HASH_FIELD_DELIMITER = '\u0000';\n\nfunction sha256Hex(input) {\n  return crypto.createHash('sha256').update(input, 'utf8').digest('hex');\n}\n\nfunction hashFields(...parts) {\n  return sha256Hex(parts.map((part) => (part === null || part === undefined ? '' : String(part))).join(HASH_FIELD_DELIMITER));\n}\n\n// ============================================================================\n// `ai_runs.prompt_version` -- never assigned a value anywhere in design.md;\n// pinned here per the team lead's 2026-07-19 correction, because\n// `ai_runs.input_hash`'s retry-stability depends on this being a fixed\n// string across every call, not something each caller invents locally.\n// ============================================================================\n\nconst PROMPT_VERSION = 'f07-extract-v1';\n\n// ============================================================================\n// input_text_hash -- also undefined anywhere in design.md until the same\n// correction. Normalizes `gate_text` before hashing so two retries of the\n// same underlying input (e.g. a deck re-extracted with a slightly different\n// line-wrap, or OCR noise reflowing whitespace) hash IDENTICALLY: trim the\n// ends, collapse every run of whitespace (spaces, tabs, newlines) to one\n// space. This is what makes `raw_signals.content_hash` (below) and\n// `ai_runs.input_hash` retry-stable rather than accidentally\n// input-formatting-stable.\n// ============================================================================\n\nfunction normalizeText(text) {\n  return String(text == null ? '' : text).trim().replace(/\\s+/g, ' ');\n}\n\nfunction inputTextHash(text) {\n  return sha256Hex(normalizeText(text));\n}\n\n// ============================================================================\n// Stable JSON stringify -- object keys sorted, array order preserved. Needed\n// because `thesis_config_snapshot` is a JS object built from `theses.config`\n// (jsonb), and JS object key ORDER is not guaranteed to be canonical across\n// two calls that construct the same logical config differently (e.g. a\n// PostgREST response vs. a hand-built test fixture) -- an unstable stringify\n// would make `input_fingerprint` (below) spuriously non-reproducible for the\n// identical config. design.md leaves the exact hash of \"thesis_config_snapshot\"\n// unspecified; this is this file's implementation choice, not a deviation\n// from a spelled-out recipe.\n// ============================================================================\n\nfunction stableStringify(value) {\n  if (Array.isArray(value)) {\n    return `[${value.map(stableStringify).join(',')}]`;\n  }\n  if (value !== null && typeof value === 'object') {\n    const keys = Object.keys(value).sort();\n    return `{${keys.map((k) => `${JSON.stringify(k)}:${stableStringify(value[k])}`).join(',')}}`;\n  }\n  return JSON.stringify(value);\n}\n\nfunction thesisConfigSnapshotHash(config) {\n  return sha256Hex(stableStringify(config == null ? {} : config));\n}\n\n// ============================================================================\n// \u00a75.4 -- the four content_hash recipes (plus ai_runs.input_hash, which\n// plays the identical \"select-by-hash-first\" role under a differently-named\n// column). Every recipe here is retry-stable: none of them takes an\n// `ai_run_id` as input, which is the exact property the design's own \u00a75.4\n// note calls out as the fix for a defect that shipped once already.\n// ============================================================================\n\nconst contentHash = {\n  // ai_runs.input_hash = sha256(application_id \u2016 input_text_hash \u2016\n  // prompt_version \u2016 model). Not literally a column named `content_hash`\n  // (\u00a75.4's table lists `ai_runs` as \"keyed by input_hash\", not by a\n  // `content_hash` column), but it serves the identical select-by-hash-\n  // first dedup role, so it lives in this namespace rather than as a lone\n  // export.\n  aiRun({ application_id, input_text_hash, prompt_version, model }) {\n    return hashFields(application_id, input_text_hash, prompt_version, model);\n  },\n\n  // raw_signals.content_hash = sha256(application_id \u2016 input_text_hash \u2016\n  // prompt_version) -- design.md \u00a75.4 row 3. No `ai_run_id`, no\n  // `observed_at`: two retries of the same gate call (same application,\n  // same normalized input text, same prompt version) resolve the SAME\n  // raw_signals row even if each attempt opened a fresh `ai_runs` row.\n  rawSignal({ application_id, input_text_hash, prompt_version }) {\n    return hashFields(application_id, input_text_hash, prompt_version);\n  },\n\n  // claims.content_hash = sha256(card_id \u2016 topic \u2016 raw_signal_id \u2016\n  // item_key) -- design.md \u00a75.4 row 4, ANCHORED ON raw_signal_id, NOT\n  // ai_run_id.\n  //\n  // This is a DELIBERATE divergence from lib/f04/provenance.js's\n  // `contentHash.claim`, which includes `ai_run_id` ON PURPOSE (04/design.md\n  // :240: to force new rows on every re-run so `scores.trend` has history).\n  // 07's gate has no trend to build and needs the opposite property:\n  // retry-safety. Since `ai_runs` opens a fresh row on every attempt\n  // (\u00a75.4's write path step 1) while `rawSignal` above never includes\n  // ai_run_id, `raw_signal_id` is retry-stable -- inheriting 04's recipe\n  // verbatim (swapping in `raw_signal_id` for `ai_run_id` in name only)\n  // would silently reintroduce 04's OWN chosen instability into a gate that\n  // needs the opposite guarantee: a retry would open a new `ai_runs` row,\n  // and if that id leaked into this hash, every retry would duplicate every\n  // `company.*` claim. Do NOT \"harmonise\" this back to match 04.\n  //\n  // `item_key` defaults to '_' for singleton topics (\u00a75.4: \"mandatory\n  // whenever a topic can hold N rows per run\" -- none of 07's five\n  // `company.*` topics do, but the parameter is accepted for consistency\n  // with 04's identical convention).\n  claim({ card_id, topic, raw_signal_id, item_key }) {\n    return hashFields(card_id, topic, raw_signal_id, item_key == null || item_key === '' ? '_' : item_key);\n  },\n\n  // evidence.content_hash = sha256(claim_id \u2016 relation) -- design.md \u00a75.4\n  // row 5. Simpler than 04's evidence recipe (which also discriminates on\n  // source_url/quote_verbatim/query to keep multiple tier='missing' rows\n  // apart): 07 writes exactly one supporting evidence row per claim, always\n  // `relation='supports'`, `tier='documented'` (\u00a75.4 table), so `(claim_id,\n  // relation)` is already unique -- there is no multi-row-per-claim case\n  // here that needs a third discriminator.\n  evidence({ claim_id, relation }) {\n    return hashFields(claim_id, relation);\n  },\n};\n\n// ============================================================================\n// input_fingerprint (\u00a75.1) = sha256(sorted contributing claim content_hashes\n// \u2016 thesis_config_snapshot hash). Sorting the claim hashes is what makes the\n// fingerprint independent of claim-collection order (the write path's\n// per-attribute loop has no meaningful order of its own); hashing the\n// STABLE-STRINGIFIED config, not the raw object, is what makes it\n// independent of key-insertion order for the identical config.\n// ============================================================================\n\nfunction inputFingerprint({ claimContentHashes, thesisConfigSnapshot }) {\n  const sortedHashes = (Array.isArray(claimContentHashes) ? claimContentHashes.slice() : []).sort();\n  return hashFields(...sortedHashes, thesisConfigSnapshotHash(thesisConfigSnapshot));\n}\n\n// design.md SS5.4 row 4 + SS5.4.1 (the company.* prefix 07 owns). Real (non-null)\n// attributes: select-by-content_hash first (anchored on raw_signal_id, NOT ai_run_id --\n// the hash-correction note). Gaps: BASE topic `company.<field>` (NOT `.gap` suffix --\n// team-lead correction, 2026-07-19: design.md SS5.4.1's \"*.gap convention\" sentence is\n// stale; db/fixtures/07-thesis-engine.sql's actual Fogline fixture never used that suffix,\n// and lib/f07/run.js's buildClaimPlan()/writeClaimsAndEvidence() follow the fixture's\n// convention, which the orchestrator ruled authoritative). Since a gap and a present claim\n// can now share the identical topic string across different runs (a field extracted once,\n// missing on a later re-extraction, or vice versa), gap dedup is keyed on\n// (card_id, topic, source_kind='derived') -- matching run.js exactly -- not on\n// content_hash, which stays NULL for a gap (\"no underlying raw content to hash\",\n// schema.sql comment).\nconst GAP_LABELS = {\n  sector: 'Sector: not disclosed.',\n  business_model: 'Business model: not disclosed.',\n  geography_country: 'Headquarters location: not disclosed.',\n  stage_evidence: 'Product stage: not disclosed.',\n  what_is_built: 'Product description: not disclosed.',\n};\nconst inp = $input.first().json;\nconst ext = inp.extraction || {};\nconst quotes = ext.quotes || {};\nconst missing = new Set(ext.missing_fields || []);\nconst FIELDS = [\"sector\", \"business_model\", \"geography_country\", \"stage_evidence\", \"what_is_built\"];\nconst claims = {};\nfor (const f of FIELDS) {\n  const topic = 'company.' + f;\n  const isMissing = missing.has(f) || ext[f] === null || ext[f] === undefined;\n  if (isMissing) {\n    const existing = await pg.call(this, 'GET',\n      `claims?card_id=eq.${inp.card_id}&topic=eq.${encodeURIComponent(topic)}&source_kind=eq.derived` +\n      `&select=id&order=created_at.desc&limit=1`);\n    let gapId;\n    if (existing.length) {\n      gapId = existing[0].id;\n    } else {\n      const made = await pg.call(this, 'POST', 'claims', {\n        card_id: inp.card_id, topic, text_verbatim: GAP_LABELS[f],\n        value: null, axis: null, source_kind: 'derived', verification_status: 'missing',\n        content_hash: null,\n      }, 'return=representation');\n      gapId = made[0].id;\n    }\n    claims[f] = { id: gapId, content_hash: null, is_gap: true };\n    continue;\n  }\n  // design.md SS4 output schema table: text_verbatim = quotes.<f> (the verbatim span --\n  // claims.text_verbatim is NOT NULL and a normalized label is not a verbatim span);\n  // value = the normalized label, EXCEPT what_is_built, where value = the written summary\n  // itself (the one row where the two differ -- the summary is not \"word-for-word source\n  // text\" so it cannot be text_verbatim, but it is exactly what feature 06's memo needs).\n  const hash = contentHash.claim({ card_id: inp.card_id, topic, raw_signal_id: inp.raw_signal_id, item_key: '_' });\n  const found = await pg.call(this, 'GET', `claims?content_hash=eq.${encodeURIComponent(hash)}&select=id`);\n  let claimId;\n  if (found.length) {\n    claimId = found[0].id;\n  } else {\n    const made = await pg.call(this, 'POST', 'claims', {\n      // base_confidence 0.4: orchestrator ruling (tracker.md task B4) -- not specified in\n      // design.md itself, matches lib/f07/run.js's DEFAULT_BASE_CONFIDENCE exactly.\n      card_id: inp.card_id, topic, text_verbatim: quotes[f],\n      value: ext[f], axis: null, source_kind: 'self_reported', base_confidence: 0.4,\n      verification_status: 'unverified', content_hash: hash,\n    }, 'return=representation');\n    claimId = made[0].id;\n  }\n  claims[f] = { id: claimId, content_hash: hash, is_gap: false };\n}\nreturn [{ json: { ...inp, claims } }];\n"
   },
   "id": "5b53879d-93d8-4b77-9475-289d31cc17ff",
   "name": "Write claims + gaps",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    880,
    0
   ]
  },
  {
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "\nconst SB = String($env.SUPABASE_URL || '').replace(/\\/rest\\/v1\\/?$/, '');\nconst KEY = $env.SUPABASE_SERVICE_ROLE_KEY;\nasync function pg(method, path, body, prefer) {\n  const headers = { apikey: KEY, Authorization: 'Bearer ' + KEY, 'Content-Type': 'application/json' };\n  if (prefer) headers.Prefer = prefer;\n  return await this.helpers.httpRequest({ method, url: SB + '/rest/v1/' + path, headers, body, json: true });\n}\nasync function pgGet(path) { return await pg.call(this, 'GET', path); }\n// ===== inlined lib/f07/hashes.js verbatim (generated by n8n/build-f07-workflow.py -- edit the source, not this) =====\n// lib/f07/hashes.js\n// SOURCE OF TRUTH -- do not edit inside the n8n Code node, edit here and re-paste.\n//\n// Content-hash and fingerprint recipes for feature 07 (Thesis Engine),\n// design.md \u00a75.4 (the claims write path) and \u00a75.1 (`thesis_evaluations.\n// input_fingerprint`). Mirrors lib/f04/provenance.js's `contentHash`\n// pattern -- sha256Hex + a small field-joining helper -- because that is\n// this repo's established shape for a NOT NULL UNIQUE content_hash column\n// and 07's own hashing layer was unowned in the first pass (plan re-review\n// finding). Pure functions only -- no I/O, no n8n imports, no network.\n//\n// docs/backlog/07-thesis-engine/plan.md, task B1c.\n\n'use strict';\n\nconst crypto = require('crypto');\n\n// ============================================================================\n// Small shared helpers\n// ============================================================================\n\n// design.md writes every recipe as `sha256(a \u2016 b \u2016 c)` -- concatenation, no\n// delimiter specified -- and leaves the exact byte-join an implementation\n// detail (04/provenance.js's own comment says the same about its recipes).\n// A delimiter IS required, or \"ab\"+\"c\" and \"a\"+\"bc\" collide. NUL (\u0000) is\n// used because none of this file's hashed fields (uuids, hex hashes, short\n// version slugs, enum-like `topic`/`relation` strings) can contain one --\n// unlike a free-text search `query`, which 04's fields include and a plain\n// space would not safely separate.\nconst HASH_FIELD_DELIMITER = '\u0000';\n\nfunction sha256Hex(input) {\n  return crypto.createHash('sha256').update(input, 'utf8').digest('hex');\n}\n\nfunction hashFields(...parts) {\n  return sha256Hex(parts.map((part) => (part === null || part === undefined ? '' : String(part))).join(HASH_FIELD_DELIMITER));\n}\n\n// ============================================================================\n// `ai_runs.prompt_version` -- never assigned a value anywhere in design.md;\n// pinned here per the team lead's 2026-07-19 correction, because\n// `ai_runs.input_hash`'s retry-stability depends on this being a fixed\n// string across every call, not something each caller invents locally.\n// ============================================================================\n\nconst PROMPT_VERSION = 'f07-extract-v1';\n\n// ============================================================================\n// input_text_hash -- also undefined anywhere in design.md until the same\n// correction. Normalizes `gate_text` before hashing so two retries of the\n// same underlying input (e.g. a deck re-extracted with a slightly different\n// line-wrap, or OCR noise reflowing whitespace) hash IDENTICALLY: trim the\n// ends, collapse every run of whitespace (spaces, tabs, newlines) to one\n// space. This is what makes `raw_signals.content_hash` (below) and\n// `ai_runs.input_hash` retry-stable rather than accidentally\n// input-formatting-stable.\n// ============================================================================\n\nfunction normalizeText(text) {\n  return String(text == null ? '' : text).trim().replace(/\\s+/g, ' ');\n}\n\nfunction inputTextHash(text) {\n  return sha256Hex(normalizeText(text));\n}\n\n// ============================================================================\n// Stable JSON stringify -- object keys sorted, array order preserved. Needed\n// because `thesis_config_snapshot` is a JS object built from `theses.config`\n// (jsonb), and JS object key ORDER is not guaranteed to be canonical across\n// two calls that construct the same logical config differently (e.g. a\n// PostgREST response vs. a hand-built test fixture) -- an unstable stringify\n// would make `input_fingerprint` (below) spuriously non-reproducible for the\n// identical config. design.md leaves the exact hash of \"thesis_config_snapshot\"\n// unspecified; this is this file's implementation choice, not a deviation\n// from a spelled-out recipe.\n// ============================================================================\n\nfunction stableStringify(value) {\n  if (Array.isArray(value)) {\n    return `[${value.map(stableStringify).join(',')}]`;\n  }\n  if (value !== null && typeof value === 'object') {\n    const keys = Object.keys(value).sort();\n    return `{${keys.map((k) => `${JSON.stringify(k)}:${stableStringify(value[k])}`).join(',')}}`;\n  }\n  return JSON.stringify(value);\n}\n\nfunction thesisConfigSnapshotHash(config) {\n  return sha256Hex(stableStringify(config == null ? {} : config));\n}\n\n// ============================================================================\n// \u00a75.4 -- the four content_hash recipes (plus ai_runs.input_hash, which\n// plays the identical \"select-by-hash-first\" role under a differently-named\n// column). Every recipe here is retry-stable: none of them takes an\n// `ai_run_id` as input, which is the exact property the design's own \u00a75.4\n// note calls out as the fix for a defect that shipped once already.\n// ============================================================================\n\nconst contentHash = {\n  // ai_runs.input_hash = sha256(application_id \u2016 input_text_hash \u2016\n  // prompt_version \u2016 model). Not literally a column named `content_hash`\n  // (\u00a75.4's table lists `ai_runs` as \"keyed by input_hash\", not by a\n  // `content_hash` column), but it serves the identical select-by-hash-\n  // first dedup role, so it lives in this namespace rather than as a lone\n  // export.\n  aiRun({ application_id, input_text_hash, prompt_version, model }) {\n    return hashFields(application_id, input_text_hash, prompt_version, model);\n  },\n\n  // raw_signals.content_hash = sha256(application_id \u2016 input_text_hash \u2016\n  // prompt_version) -- design.md \u00a75.4 row 3. No `ai_run_id`, no\n  // `observed_at`: two retries of the same gate call (same application,\n  // same normalized input text, same prompt version) resolve the SAME\n  // raw_signals row even if each attempt opened a fresh `ai_runs` row.\n  rawSignal({ application_id, input_text_hash, prompt_version }) {\n    return hashFields(application_id, input_text_hash, prompt_version);\n  },\n\n  // claims.content_hash = sha256(card_id \u2016 topic \u2016 raw_signal_id \u2016\n  // item_key) -- design.md \u00a75.4 row 4, ANCHORED ON raw_signal_id, NOT\n  // ai_run_id.\n  //\n  // This is a DELIBERATE divergence from lib/f04/provenance.js's\n  // `contentHash.claim`, which includes `ai_run_id` ON PURPOSE (04/design.md\n  // :240: to force new rows on every re-run so `scores.trend` has history).\n  // 07's gate has no trend to build and needs the opposite property:\n  // retry-safety. Since `ai_runs` opens a fresh row on every attempt\n  // (\u00a75.4's write path step 1) while `rawSignal` above never includes\n  // ai_run_id, `raw_signal_id` is retry-stable -- inheriting 04's recipe\n  // verbatim (swapping in `raw_signal_id` for `ai_run_id` in name only)\n  // would silently reintroduce 04's OWN chosen instability into a gate that\n  // needs the opposite guarantee: a retry would open a new `ai_runs` row,\n  // and if that id leaked into this hash, every retry would duplicate every\n  // `company.*` claim. Do NOT \"harmonise\" this back to match 04.\n  //\n  // `item_key` defaults to '_' for singleton topics (\u00a75.4: \"mandatory\n  // whenever a topic can hold N rows per run\" -- none of 07's five\n  // `company.*` topics do, but the parameter is accepted for consistency\n  // with 04's identical convention).\n  claim({ card_id, topic, raw_signal_id, item_key }) {\n    return hashFields(card_id, topic, raw_signal_id, item_key == null || item_key === '' ? '_' : item_key);\n  },\n\n  // evidence.content_hash = sha256(claim_id \u2016 relation) -- design.md \u00a75.4\n  // row 5. Simpler than 04's evidence recipe (which also discriminates on\n  // source_url/quote_verbatim/query to keep multiple tier='missing' rows\n  // apart): 07 writes exactly one supporting evidence row per claim, always\n  // `relation='supports'`, `tier='documented'` (\u00a75.4 table), so `(claim_id,\n  // relation)` is already unique -- there is no multi-row-per-claim case\n  // here that needs a third discriminator.\n  evidence({ claim_id, relation }) {\n    return hashFields(claim_id, relation);\n  },\n};\n\n// ============================================================================\n// input_fingerprint (\u00a75.1) = sha256(sorted contributing claim content_hashes\n// \u2016 thesis_config_snapshot hash). Sorting the claim hashes is what makes the\n// fingerprint independent of claim-collection order (the write path's\n// per-attribute loop has no meaningful order of its own); hashing the\n// STABLE-STRINGIFIED config, not the raw object, is what makes it\n// independent of key-insertion order for the identical config.\n// ============================================================================\n\nfunction inputFingerprint({ claimContentHashes, thesisConfigSnapshot }) {\n  const sortedHashes = (Array.isArray(claimContentHashes) ? claimContentHashes.slice() : []).sort();\n  return hashFields(...sortedHashes, thesisConfigSnapshotHash(thesisConfigSnapshot));\n}\n\n// design.md SS5.4 row 5: one supporting evidence row per REAL (non-gap) claim --\n// (claim_id, relation) is already unique here (07 always writes relation='supports',\n// tier='documented', exactly one row per claim), unlike 04's evidence which also\n// discriminates on source_url/quote/query to keep multiple tier='missing' rows apart.\n// strength 0.9 for tier='documented' (f04's STRENGTH table convention, matched by\n// lib/f07/run.js's EVIDENCE_STRENGTH_DOCUMENTED) -- schema.sql's own comment: \"Feature 05's\n// rollup is f(tier, relation, strength); writing nulls here would degrade it silently\n// rather than loudly.\"\nconst inp = $input.first().json;\nconst quotes = (inp.extraction && inp.extraction.quotes) || {};\nconst FIELDS = [\"sector\", \"business_model\", \"geography_country\", \"stage_evidence\", \"what_is_built\"];\nlet n = 0;\nconst evidenceIds = {};\nfor (const f of FIELDS) {\n  const c = inp.claims[f];\n  if (!c || c.is_gap) continue;\n  const hash = contentHash.evidence({ claim_id: c.id, relation: 'supports' });\n  const existing = await pg.call(this, 'GET', `evidence?content_hash=eq.${encodeURIComponent(hash)}&select=id`);\n  let evId;\n  if (existing.length) {\n    evId = existing[0].id;\n  } else {\n    const made = await pg.call(this, 'POST', 'evidence', {\n      claim_id: c.id, relation: 'supports', tier: 'documented', strength: 0.9,\n      quote_verbatim: quotes[f] || null, source_url: null,\n      raw_signal_id: inp.raw_signal_id, content_hash: hash,\n    }, 'return=representation');\n    evId = made[0].id; n++;\n  }\n  evidenceIds[f] = evId;\n}\nreturn [{ json: { application_id: inp.application_id, company_id: inp.company_id, card_id: inp.card_id,\n  ai_run_id: inp.ai_run_id, raw_signal_id: inp.raw_signal_id, claims: inp.claims,\n  evidence_ids: evidenceIds, evidence_written: n, extraction: inp.extraction } }];\n"
   },
   "id": "5bdac00d-8c33-40b3-972f-599d896281b5",
   "name": "Write evidence",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    1100,
    0
   ]
  }
 ],
 "connections": {
  "When Executed by Another Workflow": {
   "main": [
    [
     {
      "node": "Preflight: resolve card",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Preflight: resolve card": {
   "main": [
    [
     {
      "node": "Write ai_run",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Write ai_run": {
   "main": [
    [
     {
      "node": "Write raw_signal",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Write raw_signal": {
   "main": [
    [
     {
      "node": "Write claims + gaps",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Write claims + gaps": {
   "main": [
    [
     {
      "node": "Write evidence",
      "type": "main",
      "index": 0
     }
    ]
   ]
  }
 },
 "active": false,
 "settings": {
  "executionOrder": "v1",
  "saveManualExecutions": true,
  "timezone": "UTC"
 },
 "pinData": {},
 "meta": {
  "templateCredsSetupCompleted": true
 }
}