n8n/workflows/f10-nl-search.json
{
 "name": "f10-nl-search",
 "nodes": [
  {
   "parameters": {
    "httpMethod": "POST",
    "path": "f10-nl-search",
    "responseMode": "lastNode",
    "options": {}
   },
   "id": "119289e4-bdf1-497d-a1e7-1090ad8c961f",
   "name": "Webhook Trigger",
   "type": "n8n-nodes-base.webhook",
   "typeVersion": 2.1,
   "position": [
    -1400,
    0
   ],
   "webhookId": "e1c38c7f-bdfc-4480-a935-80b975c02f87"
  },
  {
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "\n// design.md SS5: POST body { query, limit }. Webhook wraps the body under .body -- same\n// convention as f03/f04/f07's normalize-input nodes. `error` is threaded through every\n// downstream node as a single field; \"Build response\" is the one place that inspects it.\nconst item = $input.first().json;\nconst body = item.body || item || {};\nconst rawQuery = body.query;\nconst query = (typeof rawQuery === 'string' ? rawQuery : '').trim();\n\n// design.md SS5.4 rule 5: limit defaults to 10, hard-capped by PGRST_DB_MAX_ROWS (env, \"\n// 1000 if unset per the tooling changelog).\nconst CAP = Number($env.PGRST_DB_MAX_ROWS) > 0 ? Number($env.PGRST_DB_MAX_ROWS) : 1000;\n\nlet limit = 10;\nlet error = null;\n\nif (!query) {\n  // design.md SS5.7\n  error = { kind: 'empty_query', message: 'query was empty or whitespace only', hint: null, retryable: false };\n} else if (body.limit !== undefined && body.limit !== null && body.limit !== '') {\n  const n = Number(body.limit);\n  if (!Number.isFinite(n) || n <= 0) {\n    limit = 10; // defensive default, not a documented error kind\n  } else if (n > CAP) {\n    error = { kind: 'limit_exceeded', message: `limit ${n} exceeds the maximum of ${CAP}`, hint: `use limit <= ${CAP}`, retryable: false };\n  } else {\n    limit = Math.floor(n);\n  }\n}\n\nreturn [{ json: { query, limit, error } }];\n"
   },
   "id": "4f7b7fcb-e883-46d9-a9d9-012a6f9440f0",
   "name": "Normalize input",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    -1160,
    0
   ]
  },
  {
   "parameters": {
    "conditions": {
     "options": {
      "caseSensitive": true,
      "leftValue": "",
      "typeValidation": "loose"
     },
     "conditions": [
      {
       "id": "d7693df1-6718-445b-8b44-0e0a6f6958cf",
       "leftValue": "={{ !!$json.error }}",
       "rightValue": true,
       "operator": {
        "type": "boolean",
        "operation": "equals"
       }
      }
     ],
     "combinator": "and"
    },
    "options": {}
   },
   "id": "e1e5e4b6-503f-49f4-ac04-2d1e53c62f8f",
   "name": "IF: input error?",
   "type": "n8n-nodes-base.if",
   "typeVersion": 2,
   "position": [
    -920,
    0
   ]
  },
  {
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "\n// design.md SS5.3 / nl-search-resolver-agent-input-spec.md: \"the live corpus catalogue,\n// assembled fresh on every call\". Every PostgREST read is Code-node-wrapped\n// (this.helpers.httpRequest), matching f03/f04/f07's house convention -- see those\n// workflows' READMEs for why the standalone httpRequest node is not used for Supabase reads.\nconst SB = String($env.SUPABASE_URL || '').replace(/\\/rest\\/v1\\/?$/, '');\nconst KEY = $env.SUPABASE_SERVICE_ROLE_KEY;\nasync function pg(method, path, body, prefer) {\n  const headers = { apikey: KEY, Authorization: 'Bearer ' + KEY, 'Content-Type': 'application/json' };\n  if (prefer) headers.Prefer = prefer;\n  return await this.helpers.httpRequest({ method, url: SB + '/rest/v1/' + path, headers, body, json: true });\n}\nasync function pgGet(path) { return await pg.call(this, 'GET', path); }\nasync function pgCount(path) {\n  const headers = { apikey: KEY, Authorization: 'Bearer ' + KEY, Prefer: 'count=exact' };\n  const res = await this.helpers.httpRequest({ method: 'GET', url: SB + '/rest/v1/' + path, headers, json: true, returnFullResponse: true });\n  const cr = (res.headers && (res.headers['content-range'] || res.headers['Content-Range'])) || '';\n  const m = /\\/(\\d+)$/.exec(String(cr));\n  if (m) return Number(m[1]);\n  return Array.isArray(res.body) ? res.body.length : 0;\n}\n\nconst inp = $json;\n\n// claim_topics: exact-topic row counts, aggregated client-side over the raw `claims` table\n// (734 rows live, 2026-07-19 -- well under any PGRST_DB_MAX_ROWS default; a single fetch,\n// no pagination needed). plan.js's own familyRowCount()/topicRecognised() sum matching\n// prefixes at validation time, so the catalogue only needs EXACT topics, never\n// pre-aggregated families.\nconst claimRows = await pgGet.call(this, 'claims?select=topic&limit=5000');\nconst topicCounts = new Map();\nfor (const r of claimRows) {\n  if (!r || typeof r.topic !== 'string') continue;\n  topicCounts.set(r.topic, (topicCounts.get(r.topic) || 0) + 1);\n}\n\n// FILTER to the documented taxonomy ONLY (lib/f10/plan.js's PROVENANCE_TOPIC_PREFIXES /\n// STRUCTURAL_TOPICS -- mirrored here verbatim, not imported, since this node has no\n// visibility into the compiled plan yet). Live-discovered bug, fixed 2026-07-19: the\n// raw `claims` table also carries topics NO target in this build resolves against\n// (company.business_model, company.stage_evidence, market.*, competition.*, round.*,\n// traction.*, and every `.gap`-suffixed topic) -- 9-13 rows apiece, real and non-empty.\n// Feeding those to the resolver invites it to map a fragment onto a topic that EXISTS in\n// the corpus but that plan.js's validateTarget() will reject as `invalid_target` -- and\n// invalid_target is a WHOLE-PLAN rejection (plan.js's own doc comment), so one\n// out-of-taxonomy guess turns Q2's honest degradation into a hard error with zero items,\n// exactly the \"Q2 returning no rows is a bug\" case design.md SS5.8 forbids. Filtering the\n// catalogue to what is actually executable forces those fragments into `unresolvable`\n// (no_data_source / not_testable) instead, which is the correct, honest outcome.\nconst PROVENANCE_PREFIXES = ['founder.expertise.', 'founder.execution.', 'founder.leadership.'];\nconst STRUCTURAL_TOPICS = ['company.sector', 'company.geography_country'];\nconst claim_topics = [...topicCounts.entries()]\n  .filter(([topic]) => PROVENANCE_PREFIXES.some(p => topic.startsWith(p)) || STRUCTURAL_TOPICS.includes(topic))\n  .map(([topic, rows]) => ({ topic, rows }))\n  .sort((a, b) => b.rows - a.rows);\n\n// structural_fields: filled/total per column, via PostgREST's Prefer:count=exact +\n// Content-Range (server-side count, no row download). design.md SS4.0's own measured set,\n// re-measured live on every call rather than hard-coded -- the resolver's prompt (rule 5)\n// only proposes a `column` target when `filled > 0`, so listing the empty ones (hq_country,\n// location_*) is what lets it correctly steer AWAY from them.\nconst companiesTotal = await pgCount.call(this, 'companies?select=id');\nconst foundersTotal = await pgCount.call(this, 'founders?select=id');\nconst FIELD_SPECS = [\n  ['companies', 'hq_country', companiesTotal],\n  ['companies', 'category', companiesTotal],\n  ['companies', 'domain', companiesTotal],\n  ['companies', 'stage', companiesTotal],\n  ['founders', 'location_city', foundersTotal],\n  ['founders', 'location_country', foundersTotal],\n  ['founders', 'headline', foundersTotal],\n];\nconst structural_fields = [];\nfor (const [table, column, total] of FIELD_SPECS) {\n  const filled = await pgCount.call(this, `${table}?select=id&${column}=not.is.null`);\n  structural_fields.push({ field: `${table}.${column}`, filled, total });\n}\n\n// vocabularies / metric_kinds: static, from lib/f07/vocabulary.js (sector/geography_region/\n// stage/stage_evidence/business_model) and the input-spec's own metric_kinds example --\n// fixed taxonomy, not a corpus measurement, so not re-derived at runtime.\nconst vocabularies = {\n  sector: [\"b2b-software\",\"ai-infra\",\"devtools\",\"fintech\",\"healthtech\",\"consumer\",\"marketplace\",\"gambling\",\"adtech\",\"other\"],\n  geography_region: [\"EU\",\"US\",\"UK\",\"APAC\",\"LATAM\",\"MEA\",\"other\"],\n  stage: [\"pre_seed\",\"seed\"],\n  stage_evidence: [\"idea\",\"prototype\",\"early_revenue\",\"scaling\"],\n  business_model: [\"b2b\",\"b2c\",\"b2b2c\",\"marketplace\",\"open_source\",\"unknown\"],\n};\nconst metric_kinds = [\"gh_stars\",\"gh_commit_weeks\",\"gh_merged_prs\",\"hn_points\",\"site_updated\",\"gh_followers\",\"gh_notable_followers\",\"gh_forks\",\"gh_dependents\",\"hn_karma\",\"hn_comments\",\"hn_author_replies\"];\n\nconst catalogue = { claim_topics, structural_fields, vocabularies, metric_kinds };\nreturn [{ json: { ...inp, catalogue, resolverInput: { query: inp.query, catalogue } } }];\n"
   },
   "id": "dcd8cecf-0ae7-4de7-bf61-d8afd3e94d8b",
   "name": "Build catalogue",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    -680,
    -140
   ],
   "notes": "PostgREST reads (Code-node-wrapped this.helpers.httpRequest) + static vocabularies/metric_kinds. Assembled fresh on every call per nl-search-resolver-agent-input-spec.md."
  },
  {
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "// nl-search-resolver-agent-prompts.txt SYSTEM MESSAGE, pasted verbatim by n8n/build-f10-workflow.py -- edit the source, not this.\nconst SYS = \"<prompt>\\n<title>\\n# VC QUERY RESOLVER\\n</title>\\n\\n<description>\\nYOU ARE A QUERY RESOLVER FOR AN EARLY-STAGE VENTURE CAPITAL SEARCH SYSTEM. YOUR ONLY JOB IS TO\\nTRANSLATE ONE INVESTOR'S NATURAL-LANGUAGE QUERY INTO A STRUCTURED QUERY PLAN THAT A DETERMINISTIC\\nBACKEND WILL EXECUTE.\\n\\nYou are a CLASSIFIER, not a searcher and not a judge. You never see the database, you never write\\nSQL, you never rank anyone, and you never decide how important an attribute is. You decompose a\\nsentence into typed attributes and you say honestly which parts of it cannot be answered with the\\ndata that exists.\\n\\nThe people being searched are PRE-SEED FOUNDERS WITH NO TRACK RECORD. They have no funding history,\\nno revenue, no press coverage and usually no Crunchbase entry. Sparse data about them is the normal\\ncase, not an error, and absence of a record is NEVER evidence of a negative fact.\\n</description>\\n\\n<instructions>\\n## INSTRUCTIONS\\n\\n<validation>\\n1. VALIDATE the input first.\\n   1.1. If `query` is missing, empty or whitespace only, return the error shape with\\n        `error_code: \\\"empty_query\\\"` and stop.\\n   1.2. If `catalogue` is missing or has no `claim_topics`, return the error shape with\\n        `error_code: \\\"no_catalogue\\\"` and stop.\\n</validation>\\n\\n<decomposition>\\n2. DECOMPOSE the query into individual attributes. One idea = one attribute. \\\"technical founder in\\n   Berlin\\\" is TWO attributes, not one.\\n3. For EACH attribute, assign exactly one `kind`. THIS BUILD SUPPORTS TWO:\\n   - `provenance`  \\u2014 who the person is and what they have built or done before.\\n   - `structural`  \\u2014 geography, sector, business model, company stage.\\n   Anything that fits neither (traction/momentum/growth, or a free-text phrase) is NOT a kind in\\n   this build: put it in `unresolvable` with `reason: \\\"not_testable\\\"`.\\n4. For EACH attribute, assign `polarity`: `negative` when the investor requires an ABSENCE\\n   (\\\"no prior VC backing\\\", \\\"not backed by an accelerator\\\"), `positive` otherwise.\\n   `negative` IS NOT A KIND \\u2014 it is a polarity. A negative attribute still carries the `kind` of\\n   its subject matter (`structural` for \\\"no VC backing\\\", `provenance` for \\\"no big-tech\\n   background\\\"). Emitting `kind: \\\"negative\\\"` is an error.\\n</decomposition>\\n\\n<targeting>\\n5. MAP each attribute to a `target` the backend can execute, choosing ONLY from what the\\n   `catalogue` actually offers:\\n   - `{\\\"type\\\": \\\"claim_topic\\\", \\\"value\\\": \\\"<topic or topic prefix ending in .*>\\\"}` \\u2014 the topic MUST\\n     appear in `catalogue.claim_topics`, or be a `.*` prefix of at least one topic that does.\\n   - `{\\\"type\\\": \\\"column\\\", \\\"value\\\": \\\"<table.column>\\\"}` \\u2014 ONLY if that field appears in\\n     `catalogue.structural_fields` WITH `filled` GREATER THAN ZERO.\\n   (`metric` and `fts` targets are NOT available in this build.)\\n6. CHOOSE an `op`: `exists` \\u00b7 `eq` \\u00b7 `contains` \\u00b7 `gte` \\u00b7 `lte` \\u00b7 `not_exists`.\\n   Negative-polarity attributes MUST use `not_exists`.\\n7. For `eq`, the `value` MUST come from the matching closed vocabulary in `catalogue.vocabularies`\\n   (sector, geography_region, stage, stage_evidence, business_model). Country is ISO-3166-1\\n   alpha-2. Map the investor's words onto the vocabulary: \\\"Berlin\\\" -> country \\\"DE\\\";\\n   \\\"AI infra\\\" -> sector \\\"ai-infra\\\"; \\\"developer tools\\\" -> sector \\\"devtools\\\".\\n7b. WHENEVER that mapping makes the attribute BROADER than what the investor asked for, DECLARE IT.\\n   Add `broadening` (`city\\u2192country` | `country\\u2192region` | `specific\\u2192family`) and `resolved_as`\\n   describing what it actually became. \\\"Berlin\\\" has no city-level data anywhere in the corpus, so\\n   it can only become country DE \\u2014 which means a Munich founder would otherwise come back as a\\n   clean match for an attribute labelled \\\"Berlin\\\". Declaring it makes the backend render that hit\\n   as `matched_broadened` instead of `matched`, so the looseness is visible to the caller instead\\n   of hidden inside a confident answer.\\n</targeting>\\n\\n<unresolvable>\\n8. MOVE an attribute to `unresolvable` \\u2014 do NOT invent a target \\u2014 whenever ANY of these hold:\\n   - no topic, metric or filled column in the catalogue can carry it -> `reason: \\\"no_data_source\\\"`;\\n   - the only candidate column has `filled: 0` -> `reason: \\\"no_data_source\\\"`;\\n   - the phrase is too vague to test (\\\"great founder\\\", \\\"high potential\\\")\\n     -> `reason: \\\"not_testable\\\"`;\\n   - it asks about something outside this system's scope, e.g. cap tables, valuations, financials,\\n     personal or protected characteristics -> `reason: \\\"out_of_scope\\\"`.\\n9. BE ESPECIALLY STRICT WITH NEGATIVES. A negative attribute is legitimate ONLY when the catalogue\\n   contains a topic that would record the thing being denied. If nothing in the corpus ever records\\n   funding, then \\\"no prior VC backing\\\" is UNRESOLVABLE with `reason: \\\"no_data_source\\\"` \\u2014 it is NOT\\n   an attribute that everyone satisfies. Marking it resolvable would hand every founder in the\\n   database a free match for a fact nobody checked.\\n</unresolvable>\\n\\n<formatting>\\n10. RETURN the JSON object described in OUTPUT FORMAT. Nothing else \\u2014 no markdown, no prose, no\\n    code fences, no preamble.\\n</formatting>\\n</instructions>\\n\\n<output_format>\\n## OUTPUT FORMAT\\n\\nReturn valid JSON only.\\n\\nSuccess shape:\\n\\n{\\n  \\\"attributes\\\": [\\n    {\\n      \\\"id\\\": \\\"snake_case_stable_id\\\",\\n      \\\"label\\\": \\\"the investor's own words for this attribute\\\",\\n      \\\"kind\\\": \\\"provenance|structural\\\",\\n      \\\"polarity\\\": \\\"positive|negative\\\",\\n      \\\"target\\\": { \\\"type\\\": \\\"claim_topic|metric|column|fts\\\", \\\"value\\\": \\\"...\\\" },\\n      \\\"op\\\": \\\"exists|eq|contains|gte|lte|not_exists\\\",\\n      \\\"value\\\": \\\"optional, required for eq/contains/gte/lte\\\"\\n    }\\n  ],\\n  \\\"unresolvable\\\": [\\n    { \\\"label\\\": \\\"the investor's own words\\\",\\n      \\\"reason\\\": \\\"no_data_source|not_testable|out_of_scope\\\" }\\n  ]\\n}\\n\\nError shape:\\n\\n{ \\\"error_code\\\": \\\"empty_query|no_catalogue\\\", \\\"message\\\": \\\"short human-readable reason\\\" }\\n\\nYOU DO NOT EMIT WEIGHTS. Attribute importance is assigned by the backend from a fixed table so that\\nthe same query always ranks identically. A `weight` key in your output is an error.\\n\\nYOU DO NOT EMIT RESULTS, SCORES, RANKINGS OR FOUNDER NAMES. You have not seen any founder.\\n</output_format>\\n\\n<chain_of_thoughts>\\n## CHAIN OF THOUGHTS\\n\\nFollow in strict order:\\n\\n1. Validate input.\\n   1.1. Is `query` non-empty? Is `catalogue` present with `claim_topics`?\\n   1.2. If not, emit the error shape and stop.\\n2. Segment the query.\\n   2.1. Split on commas, conjunctions and clause boundaries.\\n   2.2. Restate each fragment as one testable idea.\\n   2.3. Detect negation words (\\\"no\\\", \\\"without\\\", \\\"never\\\", \\\"not\\\", \\\"un-\\\") and mark those fragments.\\n3. Type each fragment.\\n   3.1. Is it a place, sector, model or stage? -> kind `structural`.\\n   3.2. Is it about the person's history, skills or what they built? -> kind `provenance`.\\n   3.3. Is it a required absence? -> polarity `negative`, and the kind is still 3.1 or 3.2.\\n   3.4. Is it about growth, usage or activity, or a free-text phrase? -> NOT supported in this\\n        build -> `unresolvable`, `reason: \\\"not_testable\\\"`.\\n4. Find a target for each fragment.\\n   4.1. Scan `catalogue.claim_topics` for a topic whose meaning matches.\\n   4.2. If structural, check `catalogue.structural_fields` \\u2014 is `filled` greater than zero?\\n   4.4. If nothing fits, prepare to mark it unresolvable \\u2014 do not force a bad match.\\n5. Apply the negative test.\\n   5.1. For each negative fragment, ask: does the catalogue contain a topic that would RECORD the\\n        thing being denied?\\n   5.2. If no such topic exists, move it to `unresolvable` with `reason: \\\"no_data_source\\\"`.\\n6. Normalise values.\\n   6.1. Map free words onto the closed vocabularies.\\n   6.2. Cities become countries; country names become ISO alpha-2 codes.\\n7. Verify before emitting.\\n   7.1. Does every `target.value` really appear in the catalogue?\\n   7.2. Does every negative attribute use `not_exists`, with a real `kind` (never \\\"negative\\\")?\\n   7.3. Did I emit any `weight` key? Remove it.\\n   7.4. Is every fragment of the original query present in either `attributes` or `unresolvable`?\\n        Nothing may be silently dropped.\\n8. Emit the JSON.\\n</chain_of_thoughts>\\n\\n<restrictions>\\n## WHAT NOT TO DO\\n\\n- NEVER INVENT A TARGET that is absent from the catalogue. A plausible-looking topic name that does\\n  not exist produces a query matching nothing, which is indistinguishable from a genuine\\n  no-results answer and hides the failure.\\n- NEVER RESOLVE A NEGATIVE ATTRIBUTE WHOSE SUBJECT MATTER THE CORPUS NEVER RECORDS. This is the\\n  single most damaging error you can make: it awards every founder a match for an unverified fact.\\n- NEVER DROP PART OF THE QUERY SILENTLY. Every fragment appears in `attributes` or in\\n  `unresolvable`. Silence makes the system answer a different question than the one asked.\\n- NEVER EMIT A `weight` FIELD. Weights are the backend's, and a model-assigned weight makes the\\n  ranking non-reproducible.\\n- NEVER TREAT MISSING DATA AS A NEGATIVE FINDING. These founders are pre-seed and unrecorded by\\n  construction; \\\"we have no record\\\" is not \\\"it is not so\\\".\\n- NEVER MAP \\\"traction\\\" OR \\\"revenue\\\" ONTO A REVENUE FIELD. At pre-seed there is no revenue, and\\n  velocity proxies are not part of this build \\u2014 mark such fragments `unresolvable`\\n  (`reason: \\\"not_testable\\\"`).\\n- NEVER OUTPUT founder names, scores, rankings or any judgement of quality.\\n- NEVER OUTPUT markdown, code fences, comments or explanatory prose around the JSON.\\n- NEVER RESOLVE ATTRIBUTES ABOUT AGE, GENDER, ETHNICITY, HEALTH, RELIGION, OR ANY OTHER PROTECTED\\n  OR PERSONAL CHARACTERISTIC. Mark them `out_of_scope`. The system collects only signals about\\n  professional capability to build a product.\\n</restrictions>\\n\\n<examples>\\n## FEW-SHOT EXAMPLES\\n\\nDesired Example 1: compound query, mixed resolvability\\nInput query: \\\"technical founder, Berlin, AI infra, no prior VC backing\\\"\\nCatalogue: claim_topics includes founder.expertise.vertical_tenure (73),\\n           company.geography_country (8), company.sector (9); NO funding topic.\\nOutput:\\n{\\n  \\\"attributes\\\": [\\n    { \\\"id\\\": \\\"technical_founder\\\", \\\"label\\\": \\\"technical founder\\\", \\\"kind\\\": \\\"provenance\\\",\\n      \\\"polarity\\\": \\\"positive\\\",\\n      \\\"target\\\": { \\\"type\\\": \\\"claim_topic\\\", \\\"value\\\": \\\"founder.expertise.*\\\" }, \\\"op\\\": \\\"exists\\\" },\\n    { \\\"id\\\": \\\"geo_berlin\\\", \\\"label\\\": \\\"Berlin\\\", \\\"kind\\\": \\\"structural\\\", \\\"polarity\\\": \\\"positive\\\",\\n      \\\"target\\\": { \\\"type\\\": \\\"claim_topic\\\", \\\"value\\\": \\\"company.geography_country\\\" },\\n      \\\"op\\\": \\\"eq\\\", \\\"value\\\": \\\"DE\\\",\\n      \\\"broadening\\\": \\\"city\\u2192country\\\", \\\"resolved_as\\\": \\\"company.geography_country = DE\\\" },\\n    { \\\"id\\\": \\\"sector_ai_infra\\\", \\\"label\\\": \\\"AI infra\\\", \\\"kind\\\": \\\"structural\\\", \\\"polarity\\\": \\\"positive\\\",\\n      \\\"target\\\": { \\\"type\\\": \\\"claim_topic\\\", \\\"value\\\": \\\"company.sector\\\" },\\n      \\\"op\\\": \\\"eq\\\", \\\"value\\\": \\\"ai-infra\\\" }\\n  ],\\n  \\\"unresolvable\\\": [\\n    { \\\"label\\\": \\\"no prior VC backing\\\", \\\"reason\\\": \\\"no_data_source\\\" }\\n  ]\\n}\\nWhy: three fragments map to real topics. \\\"Berlin\\\" normalises to country DE and \\\"AI infra\\\" to the\\nclosed sector vocabulary. The funding negative has no topic that would ever record funding, so it\\nis reported as unresolvable rather than resolved into a NOT EXISTS that every founder satisfies.\\n\\nDesired Example 2: corpus-fitted query, all resolvable\\nInput query: \\\"founders who ship to production and whose code is used by others\\\"\\nCatalogue: claim_topics includes founder.execution.live_product (71),\\n           founder.execution.external_usage (34).\\nOutput:\\n{\\n  \\\"attributes\\\": [\\n    { \\\"id\\\": \\\"ships_to_production\\\", \\\"label\\\": \\\"ship to production\\\", \\\"kind\\\": \\\"provenance\\\",\\n      \\\"polarity\\\": \\\"positive\\\",\\n      \\\"target\\\": { \\\"type\\\": \\\"claim_topic\\\", \\\"value\\\": \\\"founder.execution.live_product\\\" },\\n      \\\"op\\\": \\\"exists\\\" },\\n    { \\\"id\\\": \\\"external_code_usage\\\", \\\"label\\\": \\\"code is used by others\\\", \\\"kind\\\": \\\"provenance\\\",\\n      \\\"polarity\\\": \\\"positive\\\",\\n      \\\"target\\\": { \\\"type\\\": \\\"claim_topic\\\", \\\"value\\\": \\\"founder.execution.external_usage\\\" },\\n      \\\"op\\\": \\\"exists\\\" }\\n  ],\\n  \\\"unresolvable\\\": []\\n}\\nWhy: both fragments map cleanly onto populated topics. No forcing, no leftovers.\\n\\nDesired Example 3: vague and out-of-scope fragments\\nInput query: \\\"great young founders with a clean cap table\\\"\\nOutput:\\n{\\n  \\\"attributes\\\": [],\\n  \\\"unresolvable\\\": [\\n    { \\\"label\\\": \\\"great\\\", \\\"reason\\\": \\\"not_testable\\\" },\\n    { \\\"label\\\": \\\"young\\\", \\\"reason\\\": \\\"out_of_scope\\\" },\\n    { \\\"label\\\": \\\"clean cap table\\\", \\\"reason\\\": \\\"out_of_scope\\\" }\\n  ]\\n}\\nWhy: \\\"great\\\" is not testable; age is a protected characteristic the system does not collect; cap\\ntables are outside scope. Every fragment is still accounted for.\\n\\nUndesired Example 1: resolving a negative with no data source\\nInput query: \\\"no prior VC backing\\\"\\nOutput:\\n{ \\\"attributes\\\": [ { \\\"id\\\": \\\"no_prior_vc\\\", \\\"label\\\": \\\"no prior VC backing\\\", \\\"kind\\\": \\\"negative\\\",\\n    \\\"polarity\\\": \\\"negative\\\",\\n    \\\"target\\\": { \\\"type\\\": \\\"claim_topic\\\", \\\"value\\\": \\\"company.funding.*\\\" }, \\\"op\\\": \\\"not_exists\\\" } ],\\n  \\\"unresolvable\\\": [] }\\nWhy this is wrong: two errors. `company.funding.*` is not in the catalogue \\u2014 the backend would run\\na NOT EXISTS that is true for every founder in the database, and all 122 would receive a fabricated\\nmatch on a fact nobody verified. And `kind: \\\"negative\\\"` is not a kind; negation belongs in\\n`polarity`, and the kind would have been `structural`. The correct output puts this fragment in\\n`unresolvable` with `no_data_source` and emits no attribute at all.\\n\\nUndesired Example 2: inventing a target and emitting a weight\\nInput query: \\\"founders in fintech with strong growth\\\"\\nOutput:\\n{ \\\"attributes\\\": [\\n    { \\\"id\\\": \\\"sector_fintech\\\", \\\"label\\\": \\\"fintech\\\", \\\"kind\\\": \\\"structural\\\", \\\"polarity\\\": \\\"positive\\\",\\n      \\\"target\\\": { \\\"type\\\": \\\"column\\\", \\\"value\\\": \\\"companies.industry\\\" }, \\\"op\\\": \\\"eq\\\",\\n      \\\"value\\\": \\\"fintech\\\", \\\"weight\\\": 30 } ],\\n  \\\"unresolvable\\\": [] }\\nWhy this is wrong: three errors at once. `companies.industry` does not exist (the catalogue offers\\n`company.sector` as a claim topic). A `weight` key was emitted, which is the backend's to assign.\\nAnd \\\"strong growth\\\" was silently dropped instead of being marked `unresolvable` \\u2014 growth is not a\\nsupported kind in this build, so it belongs in `unresolvable` with `reason: \\\"not_testable\\\"`.\\n</examples>\\n</prompt>\";\n\n// Wire schema -- the plan-only, strict-mode-compatible transform of nl-search-resolver-agent-json-schema.json. See this file's module docstring (n8n/build-f10-workflow.py) for the full rationale.\nconst SCHEMA = {\"type\": \"object\", \"additionalProperties\": false, \"required\": [\"attributes\", \"unresolvable\"], \"properties\": {\"attributes\": {\"type\": \"array\", \"minItems\": 0, \"description\": \"Typed, executable attributes. May be empty when nothing in the query is resolvable \\u2014 the executor then falls back to an explained default list rather than returning nothing.\", \"items\": {\"type\": \"object\", \"additionalProperties\": false, \"required\": [\"id\", \"label\", \"kind\", \"polarity\", \"target\", \"op\", \"value\", \"broadening\", \"resolved_as\"], \"properties\": {\"id\": {\"type\": \"string\", \"description\": \"Stable snake_case identifier, unique within the plan. Echoed back to the caller in the response so an agent can correlate attribute states across queries.\"}, \"label\": {\"type\": \"string\", \"description\": \"The investor's own words for this attribute, preserved verbatim. Shown to the human so they can see how their phrasing was interpreted.\"}, \"kind\": {\"type\": \"string\", \"enum\": [\"provenance\", \"structural\"], \"description\": \"Determines the executor's weight. THIS BUILD SUPPORTS TWO KINDS: provenance=who the person is and what they built (weight 25); structural=geography/sector/business model/stage (weight 20). 'negative' is NOT a kind - it is a polarity; a negative attribute carries the kind of its subject matter. 'velocity' and 'text' are cut from this build; fragments needing them go to unresolvable with reason 'not_testable'.\"}, \"polarity\": {\"type\": \"string\", \"enum\": [\"positive\", \"negative\"], \"description\": \"'negative' when the investor requires an absence, 'positive' otherwise. Polarity is the SOLE negation marker. Only positive attributes generate candidates; negatives are scorers only, and a matched negative takes tier_credit 1.0 since there is no claim to read a tier from.\"}, \"target\": {\"type\": \"object\", \"additionalProperties\": false, \"required\": [\"type\", \"value\"], \"properties\": {\"type\": {\"type\": \"string\", \"enum\": [\"claim_topic\", \"metric\", \"column\", \"fts\"], \"description\": \"claim_topic must exist in catalogue.claim_topics (or be a '.*' prefix of one); metric must exist in catalogue.metric_kinds; column is permitted only when catalogue.structural_fields reports filled > 0; fts is the free-text fallback and is never valid for a negative attribute.\"}, \"value\": {\"type\": \"string\"}}}, \"op\": {\"type\": \"string\", \"enum\": [\"exists\", \"eq\", \"contains\", \"gte\", \"lte\", \"not_exists\"], \"description\": \"A negative-polarity attribute must use not_exists.\"}, \"value\": {\"type\": [\"string\", \"number\", \"null\"], \"description\": \"Required for eq / contains / gte / lte. For eq on a closed-vocabulary target the value must come from catalogue.vocabularies; country values are ISO-3166-1 alpha-2.\"}, \"broadening\": {\"type\": [\"string\", \"null\"], \"enum\": [\"city\\u2192country\", \"country\\u2192region\", \"specific\\u2192family\", null], \"description\": \"Set ONLY when the attribute had to be widened to be answerable at all \\u2014 e.g. the investor asked for a city and the corpus records only countries. Any attribute carrying this renders as state 'matched_broadened' rather than 'matched', so the caller sees that the match is looser than the words they used. Omitting it when broadening occurred is silent scope drift: a Munich founder returned as a match for 'Berlin'.\"}, \"resolved_as\": {\"type\": [\"string\", \"null\"], \"description\": \"Human-readable statement of what the attribute actually became, e.g. 'company.geography_country = DE'. Required whenever `broadening` is present.\"}}}}, \"unresolvable\": {\"type\": \"array\", \"minItems\": 0, \"description\": \"Fragments of the query that cannot be answered with the data that exists. First-class output: reporting these is what stops the search from silently answering a different question.\", \"items\": {\"type\": \"object\", \"additionalProperties\": false, \"required\": [\"label\", \"reason\"], \"properties\": {\"label\": {\"type\": \"string\", \"description\": \"The investor's own words for the fragment that could not be resolved.\"}, \"reason\": {\"type\": \"string\", \"enum\": [\"no_data_source\", \"not_testable\", \"out_of_scope\"], \"description\": \"no_data_source = nothing in the corpus records this, including the load-bearing case of a negative whose subject matter is never recorded. not_testable = too vague to evaluate. out_of_scope = outside what this system collects, including cap tables, financials, and every protected or personal characteristic.\"}}}}}};\n\nconst inp = $json;\nconst user = JSON.stringify(inp.resolverInput);\nconst body = {\n  model: \"gpt-5.6-luna\",\n  input: [ { role: 'system', content: SYS }, { role: 'user', content: user } ],\n  reasoning: { effort: 'low' },\n  text: { verbosity: 'low', format: { type: 'json_schema',\n    name: 'nl_search_resolver_output', strict: true, schema: SCHEMA } },\n  max_output_tokens: 1200,\n};\nreturn [{ json: { ...inp, __resolver_request_body: body } }];\n"
   },
   "id": "4080cfea-de59-4e45-9c64-2933deddb686",
   "name": "Build resolver request",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    -440,
    -140
   ],
   "notes": "SOURCE OF TRUTH: nl-search-resolver-agent-prompts.txt (SYSTEM MESSAGE) + nl-search-resolver-agent-json-schema.json (wire-schema transform -- see n8n/build-f10-workflow.py docstring)."
  },
  {
   "parameters": {
    "method": "POST",
    "url": "https://api.openai.com/v1/responses",
    "sendHeaders": true,
    "headerParameters": {
     "parameters": [
      {
       "name": "Authorization",
       "value": "=Bearer {{ $env.OPENAI_API_KEY }}"
      },
      {
       "name": "Content-Type",
       "value": "application/json"
      }
     ]
    },
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={{ JSON.stringify($json.__resolver_request_body) }}",
    "options": {
     "timeout": 60000
    }
   },
   "id": "6bdb8652-475e-47f3-bbf0-311349a18b6c",
   "name": "OpenAI: nl-search-resolver (luna)",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.1,
   "position": [
    -200,
    -140
   ],
   "retryOnFail": true,
   "maxTries": 2,
   "waitBetweenTries": 3000,
   "notes": "gpt-5.6-luna rejects an explicit temperature parameter (HTTP 400) -- omitted entirely, per model-recommendations.md. jsonBody stays a SHORT expression referencing a Code-node-built object (n8n's {{ }} parser truncates on the first '}}' it finds, and this schema's nested objects contain several -- same defect f07's build script found live)."
  },
  {
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "\n// design.md SS5.3/SS5.7: parse the /v1/responses payload. `ctx` is the state from BEFORE the\n// HTTP call (query/limit/catalogue/resolverInput) -- $json at this point is the httpRequest\n// node's own output, so cross-node reference is required (same technique f07's \"Parse\n// extractor response\" uses via $('Init run context')).\nconst ctx = $('Build resolver request').first().json;\nconst resp = $input.first().json;\n\nlet rawPlan = null;\nlet parseOk = false;\ntry {\n  const msg = (resp.output || []).find(o => o.type === 'message');\n  const text = (msg && msg.content && msg.content[0]) ? msg.content[0].text : '';\n  rawPlan = JSON.parse(text);\n  parseOk = resp.status === 'completed' && rawPlan !== null && typeof rawPlan === 'object';\n} catch (e) {\n  parseOk = false;\n}\n\nif (!parseOk) {\n  return [{ json: { ...ctx, rawPlan: null,\n    error: { kind: 'resolver_failed', message: 'resolver returned malformed or incomplete output', hint: null, retryable: true } } }];\n}\n\n// Strict-mode forces value/broadening/resolved_as to be emitted as literal null when not\n// applicable (every property must be `required` under OpenAI's strict schema rules -- see\n// n8n/build-f10-workflow.py's module docstring). lib/f10/plan.js's validateAttributeShape()\n// was written expecting those keys to be ABSENT, not null, when not applicable -- normalise\n// back to \"key absent\" here, in this workflow-layer adapter, so the pasted-verbatim module\n// below sees exactly the shape it was designed against.\nif (Array.isArray(rawPlan.attributes)) {\n  for (const a of rawPlan.attributes) {\n    if (a && typeof a === 'object') {\n      if (a.value === null) delete a.value;\n      if (a.broadening === null) delete a.broadening;\n      if (a.resolved_as === null) delete a.resolved_as;\n    }\n  }\n}\n\nreturn [{ json: { ...ctx, rawPlan, error: null } }];\n"
   },
   "id": "f8d27869-eb99-49ee-9df0-909d0cb49e14",
   "name": "Parse resolver response",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    40,
    -140
   ]
  },
  {
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "// ===== SOURCE OF TRUTH: lib/f10/constants.js (verbatim, module.exports stripped -- generated by n8n/build-f10-workflow.py, edit the source, not this) =====\n// lib/f10/constants.js\n// SOURCE OF TRUTH -- do not edit inside the n8n Code node, edit here and re-paste.\n//\n// Shared constants for feature 10's deterministic query-plan executor\n// (lib/f10/plan.js, lib/f10/score.js). Authoritative source: docs/backlog/\n// 10-api-cli-skill/design.md rev.4 \u00a75.4 (constants block), \u00a75.5 (formulas),\n// \u00a75.3 (attribute taxonomy). Every number here is quoted verbatim from that\n// constants block -- do not recompute or \"improve\" any of them without a\n// design.md change first (rev.2's review B4: weights come from a fixed\n// table, never from the LLM, so the same query ranks identically on every\n// run).\n//\n// Self-contained CommonJS, zero imports -- matches lib/f02/normalize.js and\n// lib/f07/vocabulary.js's zero-dependency convention.\n//\n// docs/backlog/10-api-cli-skill/plan.md, task B1.\n\n'use strict';\n\n// ============================================================================\n// \u00a75.4 -- fixed weight table, keyed by attribute `kind`. THIS BUILD SUPPORTS\n// TWO KINDS ONLY (rev.4 -- velocity/text cut; nl-search-resolver-agent-json-\n// schema.json's `kind` enum has exactly these two members). `negative` is a\n// `polarity`, not a `kind` -- a negative attribute is weighted by its\n// subject-matter kind (\u00a75.3: \"negative is NOT a kind... weighted by its\n// subject kind\").\n// ============================================================================\n\nconst WEIGHTS = Object.freeze({\n  provenance: 25,\n  structural: 20,\n});\n\n// \u00a75.5 tier table. `missing` is deliberately ABSENT from this map -- a\n// `missing`-tier claim is never a match (it resolves to the display state\n// `unknown_searched`, scorer-invisible, \u00a75.5); looking it up here would\n// silently coerce \"we looked and found nothing\" into a numeric credit if a\n// caller ever slipped up and used TIER_CREDIT[tier] without the\n// missing-tier guard score.js applies before every lookup.\nconst TIER_CREDIT = Object.freeze({\n  documented: 1.0,\n  discovered: 0.7,\n  inferred: 0.4,\n});\n\n// \u00a75.3 / \u00a75.5 -- a widened match (city asked for, country answered) costs\n// something real in the ranking, not only in the label. Applied as a\n// multiplier on top of TIER_CREDIT, never in place of it.\nconst BROADENING_CREDIT = 0.75;\n\n// \u00a75.5 -- candidates with confidence below this land in the low_confidence[]\n// bucket, never interleaved with the ranked list. Mirrors 07's\n// `min_coverage` / 03's 0.25 threshold (house convention, not a coincidence\n// per design.md's own citation).\nconst CONFIDENCE_FLOOR = 0.25;\n\n// \u00a75.4 rule 5 -- the candidate-gathering cap. NOT a page-size limit (that is\n// the caller's `limit` parameter, applied by the n8n workflow / CLI on top\n// of what this module returns) -- this is \"how many candidates get scored\n// at all\" before the ranked list is even built. `total` reports the\n// post-cap size of the scored set; `truncated` is true only when the\n// pre-cap union exceeded this number (\u00a75.4 rule 5, \u00a75.6).\nconst CANDIDATE_CAP = 200;\n\n// \u00a75.4 rule 6, rev.5 (spec delta, review round 4) -- primary sort key.\n// `rank_score` alone put the LEAST-known founders at the head of the list:\n// one matched attribute at `documented` scores 100, while a founder who\n// satisfies every attribute in a 4-attribute query scores 92.5 (his\n// evidence merely averages 0.93, not 1.0), and the confidence floor does\n// not catch the sparse case -- 1-of-4 assessed lands confidence EXACTLY at\n// the 0.25 floor, which is not `< 0.25`. `coverage` fixes this by counting\n// ASSESSED ATTRIBUTES, never weight -- weight-based bucketing sits exactly\n// on the achievable lattice for equal-weight queries and diverges from its\n// own meaning the moment weights differ by kind (three `provenance` + one\n// `structural` assessed buckets `high` or `mid` depending on WHICH three,\n// if weighted). `confidence` is unchanged, still published, still the\n// floor -- `coverage`/`confidence_bucket` are a NEW, separate, count-based\n// axis, sorted lexicographically ahead of `rank_score` rather than fused\n// into it (invariant #1: independent signals are never collapsed).\n//\n// Sort the ORDINAL INTEGER, never the bucket string -- alphabetically\n// 'high' < 'low' < 'mid', so a naive `DESC` string sort yields\n// mid -> low -> high, the exact inversion of intent, silently.\nconst COVERAGE_BUCKET_ORDINAL = Object.freeze({ high: 3, mid: 2, low: 1 });\n\n// coverage >= 0.75 -> 'high' ; >= 0.5 -> 'mid' ; else 'low'. Thresholds are\n// design.md's own, not tuned here.\nconst COVERAGE_BUCKET_THRESHOLDS = Object.freeze({ high: 0.75, mid: 0.5 });\n\n// \u00a75.5 -- the three-state matching vocabulary, plus the two display-only\n// states carved out by rev.3/rev.4 (`matched_broadened`, `unknown_searched`).\n// Exported as a frozen object so both plan.js and score.js reference the\n// same literal strings rather than each hand-typing them.\nconst STATES = Object.freeze({\n  MATCHED: 'matched',\n  MATCHED_BROADENED: 'matched_broadened',\n  MISMATCH: 'mismatch',\n  UNKNOWN: 'unknown',\n  UNKNOWN_SEARCHED: 'unknown_searched',\n});\n\n// \u00a75.5 -- states that count toward `assessed` (the rank_score denominator).\n// `unknown` and `unknown_searched` are deliberately absent -- both are\n// \"genuinely free\": they lower `confidence` only, never `rank_score`\n// (design.md's own words, twice, for exactly this reason).\nconst ASSESSED_STATES = Object.freeze([STATES.MATCHED, STATES.MATCHED_BROADENED, STATES.MISMATCH]);\n\n// States that contribute to the rank_score NUMERATOR (rev.4 F2 fix:\n// `matched_broadened` belongs here too -- rev.3 left it in `assessed` only,\n// which scored a widened match identically to a mismatch).\nconst CREDITED_STATES = Object.freeze([STATES.MATCHED, STATES.MATCHED_BROADENED]);\n\n// ===== SOURCE OF TRUTH: lib/f10/plan.js (verbatim, require()/module.exports stripped) =====\n// lib/f10/plan.js\n// SOURCE OF TRUTH -- do not edit inside the n8n Code node, edit here and re-paste.\n//\n// Stage 2 (first half) of feature 10's NL-search: validates the query plan\n// emitted by the resolver LLM (docs/backlog/10-api-cli-skill/agents/\n// nl-search-resolver/nl-search-resolver-agent-json-schema.json) and maps\n// every attribute the plan keeps to a PostgREST query DESCRIPTOR -- data\n// describing a read (resource + filters + order), never a fetch. Zero\n// dependency, zero I/O, zero network -- matches lib/f07/rules.js's shape\n// (\"the model classifies, the backend decides\", design.md \u00a75.1) and\n// lib/f02/normalize.js's zero-import convention.\n//\n// Authoritative source for every rule below: docs/backlog/10-api-cli-skill/\n// design.md rev.4, sections cited inline. This file does not restate the\n// resolver's own output contract -- see the JSON schema above for that.\n//\n// \"The resolver is trusted to be helpful, never to be correct\" (tbd-items.md\n// D-07): every field this module receives is re-validated against the\n// documented taxonomy (\u00a75.3) and, when supplied, the live catalogue\n// (nl-search-resolver-agent-input-spec.md) -- an attribute this module\n// cannot place inside that taxonomy is REJECTED (`invalid_target`), never\n// guessed into the nearest-looking descriptor.\n//\n// docs/backlog/10-api-cli-skill/plan.md, task B1.\n\n'use strict';\n\n\n// ============================================================================\n// Small shared helpers (same shape as lib/f07/rules.js's isPlainObject/numOr)\n// ============================================================================\n\nfunction isPlainObject(v) {\n  return v !== null && typeof v === 'object' && !Array.isArray(v);\n}\n\nfunction isNonEmptyString(v) {\n  return typeof v === 'string' && v.length > 0;\n}\n\nconst ATTRIBUTE_ID_RE = /^[a-z][a-z0-9_]{1,47}$/;\nconst ISO_ALPHA2_RE = /^[A-Za-z]{2}$/;\n\nconst KIND_VALUES = Object.freeze(['provenance', 'structural']);\nconst POLARITY_VALUES = Object.freeze(['positive', 'negative']);\nconst TARGET_TYPE_VALUES = Object.freeze(['claim_topic', 'metric', 'column', 'fts']);\nconst OP_VALUES = Object.freeze(['exists', 'eq', 'contains', 'gte', 'lte', 'not_exists']);\nconst BROADENING_VALUES = Object.freeze(['city\u2192country', 'country\u2192region', 'specific\u2192family']);\nconst UNRESOLVABLE_REASON_VALUES = Object.freeze(['no_data_source', 'not_testable', 'out_of_scope']);\nconst VALUE_REQUIRED_OPS = Object.freeze(['eq', 'contains', 'gte', 'lte']);\n\n// ============================================================================\n// \u00a75.3 -- the documented target taxonomy, kind by kind. THIS BUILD SUPPORTS\n// TWO KINDS ONLY (constants.js). Table straight from \u00a75.3's \"resolves\n// against\" column:\n//\n//   provenance -> claims.topic under founder.expertise.* / founder.execution.*\n//                 / founder.leadership.*\n//   structural -> company.sector / company.geography_country claims +\n//                 companies.stage column; NOT hq_country/location_*, which\n//                 are empty (\u00a74.0)\n//\n// `metric` (velocity's target type) and `fts` (text's) have NO descriptor\n// branch in this build -- both attribute kinds that would have used them are\n// cut (rev.4). A plan that emits `target.type: \"metric\"` or `\"fts\"` for a\n// `provenance`/`structural` attribute is outside the documented taxonomy\n// exactly as much as an unrecognised claim topic would be -- `invalid_target`,\n// never a silent no-op descriptor.\n// ============================================================================\n\nconst PROVENANCE_TOPIC_PREFIXES = Object.freeze([\n  'founder.expertise.',\n  'founder.execution.',\n  'founder.leadership.',\n]);\n\n// The two structural claim topics the corpus actually carries (\u00a74.0) --\n// deliberately an exact allow-list, not a prefix: unlike provenance's three\n// families, structural has no sub-topic fan-out to glob over.\nconst STRUCTURAL_TOPICS = Object.freeze(['company.sector', 'company.geography_country']);\n\n// companies.stage is the one structural COLUMN target this build documents\n// (\u00a75.3's \"resolves against\" cell). hq_country / location_* are explicitly\n// EXCLUDED even though they are syntactically columns too -- \u00a74.0 measured\n// them at 0 filled, and the JSON schema's own note (\"column is permitted\n// only when catalogue.structural_fields reports filled > 0\") would reject\n// them anyway once a catalogue is supplied; naming them here up front means\n// the deny is documented, not merely incidental to a live measurement.\nconst STRUCTURAL_COLUMNS = Object.freeze(['companies.stage']);\n\n// Closed-vocabulary claim topics whose `value` (on `eq`) must come from a\n// fixed set (lib/f07/vocabulary.js, per the JSON schema's \"eq on a\n// closed-vocabulary target\" note). `company.geography_country` is\n// deliberately absent -- vocabulary.js documents it as open-ended\n// (ISO-3166-1 alpha-2), checked by shape instead, below.\nconst CLOSED_VOCAB_TOPICS = Object.freeze({\n  'company.sector': 'sector',\n});\n\n// ============================================================================\n// Catalogue normalisation -- accepts the EXACT shape\n// nl-search-resolver-agent-input-spec.md documents (arrays of\n// `{topic, rows}` / `{field, filled, total}`), which is what the n8n\n// workflow's \"build resolver input\" Code node actually produces and what\n// this executor receives verbatim (the same catalogue object, not a\n// re-derived one -- D-07: \"executor re-validates every target against the\n// SAME catalogue\"). Catalogue is OPTIONAL here: when omitted, taxonomy\n// checks (above) still run, but existence/zero-row checks that need live\n// counts are skipped -- callers that omit it get the documented-taxonomy\n// guarantee without the live-corpus guarantee, which is enough for a unit\n// test fixture and not enough for production (the n8n workflow always\n// supplies one).\n// ============================================================================\n\nfunction normalizeCatalogue(catalogue) {\n  if (!isPlainObject(catalogue)) return null;\n\n  const topics = new Map(); // topic string -> rows (number)\n  if (Array.isArray(catalogue.claim_topics)) {\n    for (const entry of catalogue.claim_topics) {\n      if (isPlainObject(entry) && isNonEmptyString(entry.topic) && typeof entry.rows === 'number') {\n        topics.set(entry.topic, entry.rows);\n      }\n    }\n  }\n\n  const fields = new Map(); // field string -> { filled, total }\n  if (Array.isArray(catalogue.structural_fields)) {\n    for (const entry of catalogue.structural_fields) {\n      if (isPlainObject(entry) && isNonEmptyString(entry.field)) {\n        fields.set(entry.field, {\n          filled: typeof entry.filled === 'number' ? entry.filled : 0,\n          total: typeof entry.total === 'number' ? entry.total : 0,\n        });\n      }\n    }\n  }\n\n  const vocabularies = isPlainObject(catalogue.vocabularies) ? catalogue.vocabularies : {};\n\n  return { topics, fields, vocabularies };\n}\n\n// rows in `topic family` -- exact topic: its own row count (0 if the\n// catalogue does not carry it at all -- see `topicKnown` below for the\n// separate \"is this a recognised topic\" question). Family glob (ends in\n// `.*`): sum of every catalogue topic sharing the prefix.\nfunction familyRowCount(cat, topicValue) {\n  if (!cat) return null; // \"unknown\" -- caller must not treat this as zero\n  if (topicValue.endsWith('.*')) {\n    const prefix = topicValue.slice(0, -1); // keep the trailing dot\n    let sum = 0;\n    let sawAny = false;\n    for (const [topic, rows] of cat.topics) {\n      if (topic.startsWith(prefix)) {\n        sum += rows;\n        sawAny = true;\n      }\n    }\n    return sawAny ? sum : 0;\n  }\n  return cat.topics.has(topicValue) ? cat.topics.get(topicValue) : 0;\n}\n\n// \"Recognised\" is deliberately SEPARATE from \"has rows right now\" (D-03 /\n// \u00a75.4 rule 3): a topic the catalogue lists with `rows: 0` is a KNOWN part\n// of the taxonomy that currently has no data (-> the global short-circuit,\n// `unresolvable`/`no_data_source`, handled by the caller of this function);\n// a topic the catalogue never mentions at all is not part of the taxonomy\n// this executor recognises (-> `invalid_target`). When no catalogue was\n// supplied, every taxonomy-shaped topic is treated as recognised (permissive\n// mode, documented at the top of this section).\nfunction topicRecognised(cat, topicValue) {\n  if (!cat) return true;\n  if (topicValue.endsWith('.*')) {\n    const prefix = topicValue.slice(0, -1);\n    for (const topic of cat.topics.keys()) {\n      if (topic.startsWith(prefix)) return true;\n    }\n    return false;\n  }\n  return cat.topics.has(topicValue);\n}\n\n// ============================================================================\n// Target-taxonomy validation. Returns `{ ok: true, family: bool }` or\n// `{ ok: false, reason: '<human-readable, names the attribute>' }`. Never\n// throws -- callers turn a `{ ok: false }` into the `invalid_target` error\n// envelope.\n// ============================================================================\n\nfunction validateTarget(attr, cat) {\n  const { kind, target } = attr;\n  const type = target.type;\n  const value = target.value;\n\n  if (kind === 'provenance') {\n    if (type !== 'claim_topic') {\n      return { ok: false, reason: `attribute \"${attr.id}\": kind \"provenance\" only resolves against claim_topic targets in this build (got \"${type}\")` };\n    }\n    const isFamily = value.endsWith('.*');\n    // Family form: base (the value with its trailing '*' stripped, dot kept,\n    // e.g. \"founder.expertise.\") must EQUAL one of the declared prefixes\n    // exactly -- \"founder.expertise.\" IS the family root, there is nothing\n    // \"after\" it to require. Exact form: value must extend PAST one of the\n    // prefixes (a real sub-topic, e.g. \"founder.execution.live_product\"),\n    // not equal the bare prefix itself.\n    const base = isFamily ? value.slice(0, -1) : value;\n    const prefixOk = isFamily\n      ? PROVENANCE_TOPIC_PREFIXES.includes(base)\n      : PROVENANCE_TOPIC_PREFIXES.some((p) => base.startsWith(p) && base.length > p.length);\n    if (!prefixOk) {\n      return { ok: false, reason: `attribute \"${attr.id}\": claim_topic \"${value}\" is not under founder.expertise.* / founder.execution.* / founder.leadership.*` };\n    }\n    if (!topicRecognised(cat, value)) {\n      return { ok: false, reason: `attribute \"${attr.id}\": claim_topic \"${value}\" is not in the live catalogue` };\n    }\n    return { ok: true, family: isFamily };\n  }\n\n  // kind === 'structural'\n  if (type === 'claim_topic') {\n    if (!STRUCTURAL_TOPICS.includes(value)) {\n      return { ok: false, reason: `attribute \"${attr.id}\": claim_topic \"${value}\" is not a documented structural topic (only ${STRUCTURAL_TOPICS.join(', ')})` };\n    }\n    if (!topicRecognised(cat, value)) {\n      return { ok: false, reason: `attribute \"${attr.id}\": claim_topic \"${value}\" is not in the live catalogue` };\n    }\n    const vocabKey = CLOSED_VOCAB_TOPICS[value];\n    if (vocabKey && attr.op === 'eq') {\n      const allowed = cat && Array.isArray(cat.vocabularies[vocabKey]) ? cat.vocabularies[vocabKey] : null;\n      if (allowed && !allowed.includes(attr.value)) {\n        return { ok: false, reason: `attribute \"${attr.id}\": value \"${attr.value}\" is not in catalogue.vocabularies.${vocabKey}` };\n      }\n    }\n    if (value === 'company.geography_country' && attr.op === 'eq' && !ISO_ALPHA2_RE.test(String(attr.value))) {\n      return { ok: false, reason: `attribute \"${attr.id}\": geography_country value \"${attr.value}\" is not an ISO-3166-1 alpha-2 code` };\n    }\n    return { ok: true, family: false };\n  }\n\n  if (type === 'column') {\n    if (!STRUCTURAL_COLUMNS.includes(value)) {\n      return { ok: false, reason: `attribute \"${attr.id}\": column \"${value}\" is not a documented structural column (only ${STRUCTURAL_COLUMNS.join(', ')})` };\n    }\n    if (cat) {\n      const field = cat.fields.get(value);\n      const filled = field ? field.filled : 0;\n      if (!(filled > 0)) {\n        return { ok: false, reason: `attribute \"${attr.id}\": column \"${value}\" has 0 filled rows in the live catalogue -- not a viable target` };\n      }\n    }\n    return { ok: true, family: false };\n  }\n\n  // type === 'metric' | 'fts' -- both cut from this build (\u00a75.3 changelog:\n  // \"velocity and text kinds CUT\"); metric/fts descriptors do not exist here.\n  return { ok: false, reason: `attribute \"${attr.id}\": target.type \"${type}\" has no descriptor in this build (velocity/text kinds are cut)` };\n}\n\n// ============================================================================\n// Descriptor construction. A descriptor is DATA -- { resource, select,\n// filters, order } -- consumed by the n8n workflow's HTTP Request nodes\n// (\u00a75.1: \"n8n Code nodes cannot require() from this repo\"; the workflow\n// itself does the fetching). This module never issues a request.\n//\n// `topic` filters ride PostgREST's `like` operator UNCHANGED for a family\n// value: PostgREST's `like.<pattern>` already treats `*` as SQL `%`, and a\n// family value already ends in literal `.*` (e.g. \"founder.expertise.*\"),\n// so \"founder.expertise.*\" is *already* a valid `like` pattern with no\n// translation needed -- documented here so a future reader does not \"fix\"\n// it into a regex.\n// ============================================================================\n\nconst CLAIM_SELECT = 'claim_id,card_id,founder_id,company_id,application_id,topic,axis,text_verbatim,value,source_kind,base_confidence,verification_status,created_at,evidence';\n\nfunction buildDescriptor(attr, isFamily) {\n  const { target } = attr;\n\n  if (target.type === 'claim_topic') {\n    return {\n      resource: 'api_claims',\n      select: CLAIM_SELECT,\n      filters: [{ column: 'topic', op: isFamily ? 'like' : 'eq', value: target.value }],\n      order: [{ column: 'founder_id', dir: 'asc' }],\n    };\n  }\n\n  // target.type === 'column' (companies.stage today). The n8n workflow is\n  // responsible for the founder_company join back to a founder-subject row\n  // (\u00a75.2: results are founder-subject) -- not fully specified by design.md\n  // for this path (flagged in the B1 report: no worked example ever uses\n  // target.type:'column', Q1/Q2 do not exercise it, so the founder-linkage\n  // step has no measured shape to copy). The descriptor still names the\n  // source table plainly rather than guessing a join.\n  const [table, column] = target.value.split('.');\n  return {\n    resource: table, // 'companies' -- raw table, no api_* view carries a bare column-only read for this\n    select: `id,${column}`,\n    filters: [{ column, op: attr.op === 'eq' ? 'eq' : attr.op, value: attr.value }],\n    order: [{ column: 'id', dir: 'asc' }],\n  };\n}\n\n// ============================================================================\n// Attribute shape validation -- the JSON schema's structural rules\n// (nl-search-resolver-agent-json-schema.json `definitions.attribute`),\n// re-checked here because \"the resolver is trusted to be helpful, never to\n// be correct\" (D-07) covers shape, not only target semantics.\n// ============================================================================\n\nfunction validateAttributeShape(attr, seenIds) {\n  if (!isPlainObject(attr)) return 'attribute is not an object';\n  if (!ATTRIBUTE_ID_RE.test(attr.id)) return `attribute id \"${attr.id}\" does not match ^[a-z][a-z0-9_]{1,47}$`;\n  if (seenIds.has(attr.id)) return `attribute id \"${attr.id}\" is duplicated -- ids must be unique within the plan`;\n  if (!isNonEmptyString(attr.label) || attr.label.length > 120) return `attribute \"${attr.id}\": label must be 1-120 chars`;\n  if (!KIND_VALUES.includes(attr.kind)) return `attribute \"${attr.id}\": kind \"${attr.kind}\" is not one of ${KIND_VALUES.join(', ')}`;\n  if (!POLARITY_VALUES.includes(attr.polarity)) return `attribute \"${attr.id}\": polarity \"${attr.polarity}\" is not one of ${POLARITY_VALUES.join(', ')}`;\n  if (!isPlainObject(attr.target) || !TARGET_TYPE_VALUES.includes(attr.target.type) || !isNonEmptyString(attr.target.value) || attr.target.value.length > 120) {\n    return `attribute \"${attr.id}\": target is malformed`;\n  }\n  if (!OP_VALUES.includes(attr.op)) return `attribute \"${attr.id}\": op \"${attr.op}\" is not one of ${OP_VALUES.join(', ')}`;\n  if (attr.polarity === 'negative' && attr.op !== 'not_exists') {\n    return `attribute \"${attr.id}\": polarity \"negative\" requires op \"not_exists\" (got \"${attr.op}\")`;\n  }\n  if (VALUE_REQUIRED_OPS.includes(attr.op) && (attr.value === undefined || attr.value === null)) {\n    return `attribute \"${attr.id}\": op \"${attr.op}\" requires a value`;\n  }\n  if (attr.value !== undefined && !['string', 'number'].includes(typeof attr.value)) {\n    return `attribute \"${attr.id}\": value must be a string or number`;\n  }\n  if (attr.broadening !== undefined) {\n    if (!BROADENING_VALUES.includes(attr.broadening)) {\n      return `attribute \"${attr.id}\": broadening \"${attr.broadening}\" is not one of the documented widenings`;\n    }\n    if (!isNonEmptyString(attr.resolved_as)) {\n      return `attribute \"${attr.id}\": broadening is set but resolved_as is missing (required whenever broadening is present)`;\n    }\n  }\n  if (attr.resolved_as !== undefined && (typeof attr.resolved_as !== 'string' || attr.resolved_as.length > 160)) {\n    return `attribute \"${attr.id}\": resolved_as must be a string of at most 160 chars`;\n  }\n  // target.type === 'fts' is never valid for a negative attribute (JSON\n  // schema note, restated in D-03/\u00a75.4 rule 2 -- negatives never touch FTS).\n  // NOT re-checked here: `fts` has no descriptor at ALL in this build,\n  // positive or negative (velocity/text kinds are cut, \u00a75.3), so\n  // validateTarget() below rejects every fts target uniformly with\n  // `invalid_target` -- a single rejection path is a stronger guarantee\n  // than a shape-only special case for the negative subset, and this is\n  // the literal test case \u00a79 asks for (\"negative never reaches FTS\").\n  return null; // shape OK\n}\n\nfunction validateUnresolvableShape(item) {\n  if (!isPlainObject(item)) return 'unresolvable item is not an object';\n  if (!isNonEmptyString(item.label) || item.label.length > 120) return 'unresolvable item: label must be 1-120 chars';\n  if (!UNRESOLVABLE_REASON_VALUES.includes(item.reason)) return `unresolvable item \"${item.label}\": reason \"${item.reason}\" is not one of ${UNRESOLVABLE_REASON_VALUES.join(', ')}`;\n  return null;\n}\n\n// ============================================================================\n// Error envelope -- \u00a75.7's shape, reused here rather than invented fresh\n// (the webhook, the CLI and this module all speak the same envelope).\n// ============================================================================\n\nfunction errorEnvelope(kind, message, opts) {\n  const o = opts || {};\n  return {\n    ok: false,\n    error: {\n      kind,\n      message,\n      hint: o.hint || null,\n      retryable: o.retryable === true,\n    },\n  };\n}\n\n// ============================================================================\n// validatePlan(rawPlan, catalogue) -- the module's one entry point.\n//\n// Returns EITHER:\n//   { ok: true, plan: { attributes: [...compiled...], unresolvable: [...] } }\n// OR:\n//   { ok: false, error: { kind, message, hint, retryable } }\n//\n// Design note on granularity (flagged in the B1 report as an interpretation\n// call design.md leaves implicit): `invalid_target` and the other structural\n// error kinds are WHOLE-PLAN rejections, not a per-attribute soft-degrade.\n// \u00a75.7 defines the error envelope at the webhook/request level\n// (`{ \"error\": { \"kind\", ... } }`), and `unresolvable[]` is the plan's OWN,\n// separate, always-succeeding channel for \"the resolver correctly declined\n// to map this fragment\" (D-04). An attribute the resolver DID try to map,\n// but to something outside the taxonomy, is a stronger signal that the\n// resolver mis-fired -- rejecting the whole plan (retryable: true is NOT set\n// for invalid_target -- \u00a75.7's table marks it non-retryable, since retrying\n// without changing the prompt/catalogue would reproduce the same mistake)\n// surfaces that rather than silently dropping one attribute and returning a\n// plan the caller never asked for.\n// ============================================================================\n\nfunction validatePlan(rawPlan, catalogue) {\n  if (!isPlainObject(rawPlan)) {\n    return errorEnvelope('resolver_failed', 'resolver output is not a JSON object', { retryable: true });\n  }\n\n  // The resolver's error-shape branch (JSON schema `definitions.error`).\n  if (rawPlan.error_code !== undefined) {\n    if (rawPlan.error_code === 'empty_query') {\n      return errorEnvelope('empty_query', rawPlan.message || 'query was empty or whitespace only', { retryable: false });\n    }\n    // 'no_catalogue' is the schema's other declared error_code. \u00a75.7's table\n    // has no dedicated kind for it (a documented gap -- flagged in the B1\n    // report); 'resolver_failed' is the closest existing kind and is\n    // retryable (a fresh catalogue build on the next call may succeed).\n    return errorEnvelope('resolver_failed', rawPlan.message || `resolver reported error_code \"${rawPlan.error_code}\"`, { retryable: true });\n  }\n\n  if (!Array.isArray(rawPlan.attributes) || !Array.isArray(rawPlan.unresolvable)) {\n    return errorEnvelope('resolver_failed', 'plan is missing attributes[] or unresolvable[]', { retryable: true });\n  }\n  if (rawPlan.attributes.length > 12 || rawPlan.unresolvable.length > 12) {\n    return errorEnvelope('resolver_failed', 'plan exceeds the 12-item cap on attributes[] or unresolvable[]', { retryable: true });\n  }\n\n  const cat = normalizeCatalogue(catalogue);\n  const seenIds = new Set();\n  const compiledAttributes = [];\n  const unresolvable = [];\n\n  for (const item of rawPlan.unresolvable) {\n    const shapeError = validateUnresolvableShape(item);\n    if (shapeError) return errorEnvelope('resolver_failed', shapeError, { retryable: true });\n    unresolvable.push({ label: item.label, reason: item.reason });\n  }\n\n  for (const attr of rawPlan.attributes) {\n    const shapeError = validateAttributeShape(attr, seenIds);\n    if (shapeError) return errorEnvelope('resolver_failed', shapeError, { retryable: true });\n    seenIds.add(attr.id);\n\n    const targetCheck = validateTarget(attr, cat);\n    if (!targetCheck.ok) {\n      return errorEnvelope('invalid_target', targetCheck.reason, { retryable: false });\n    }\n\n    // \u00a75.4 rule 3, global short-circuit -- negative-only, catalogue-only\n    // (permissive/skipped when no catalogue was supplied, documented above\n    // normalizeCatalogue()). A topic the catalogue KNOWS about but that\n    // currently has zero rows anywhere in the corpus can never produce a\n    // trustworthy NOT EXISTS -- promote to unresolvable instead of\n    // fabricating a match for every candidate (D-03; the exact defect this\n    // build exists to avoid).\n    if (attr.polarity === 'negative' && cat) {\n      const rows = familyRowCount(cat, attr.target.value);\n      if (rows === 0) {\n        unresolvable.push({ label: attr.label, reason: 'no_data_source' });\n        continue; // NOT added to compiledAttributes -- promoted, not kept\n      }\n    }\n\n    const descriptor = buildDescriptor(attr, targetCheck.family);\n    compiledAttributes.push({\n      id: attr.id,\n      label: attr.label,\n      kind: attr.kind,\n      polarity: attr.polarity,\n      target: { type: attr.target.type, value: attr.target.value },\n      op: attr.op,\n      value: attr.value !== undefined ? attr.value : null,\n      broadening: attr.broadening || null,\n      resolved_as: attr.resolved_as || null,\n      weight: WEIGHTS[attr.kind],\n      descriptor,\n    });\n  }\n\n  return { ok: true, plan: { attributes: compiledAttributes, unresolvable } };\n}\n\n\n// validatePlan() is lib/f10/plan.js's one entry point -- pasted verbatim above.\nconst inp = $json;\nconst result = validatePlan(inp.rawPlan, inp.catalogue);\nif (!result.ok) {\n  return [{ json: { ...inp, plan: null, error: result.error } }];\n}\nreturn [{ json: { ...inp, plan: result.plan, error: null } }];\n"
   },
   "id": "ee3215d0-01cd-4448-a1cb-1bd6fb53929f",
   "name": "Validate plan",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    280,
    -140
   ],
   "notes": "SOURCE OF TRUTH: lib/f10/plan.js + lib/f10/constants.js -- do not edit here, edit there and re-run n8n/build-f10-workflow.py."
  },
  {
   "parameters": {
    "conditions": {
     "options": {
      "caseSensitive": true,
      "leftValue": "",
      "typeValidation": "loose"
     },
     "conditions": [
      {
       "id": "e586192c-8d57-42ff-8017-61650ff89d9e",
       "leftValue": "={{ !!$json.error }}",
       "rightValue": true,
       "operator": {
        "type": "boolean",
        "operation": "equals"
       }
      }
     ],
     "combinator": "and"
    },
    "options": {}
   },
   "id": "041aaa88-0177-4ad8-af2d-7c5ca35aeaf7",
   "name": "IF: plan error?",
   "type": "n8n-nodes-base.if",
   "typeVersion": 2,
   "position": [
    520,
    -140
   ]
  },
  {
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "\n// design.md SS5.1/SS5.4: the n8n workflow issues the PostgREST reads a compiled plan's\n// descriptors describe (lib/f10/plan.js builds the descriptor DATA; this node is the\n// \"responsible for... the founder_company join\" workflow half plan.js's own comment names).\nconst SB = String($env.SUPABASE_URL || '').replace(/\\/rest\\/v1\\/?$/, '');\nconst KEY = $env.SUPABASE_SERVICE_ROLE_KEY;\nasync function pg(method, path, body, prefer) {\n  const headers = { apikey: KEY, Authorization: 'Bearer ' + KEY, 'Content-Type': 'application/json' };\n  if (prefer) headers.Prefer = prefer;\n  return await this.helpers.httpRequest({ method, url: SB + '/rest/v1/' + path, headers, body, json: true });\n}\nasync function pgGet(path) { return await pg.call(this, 'GET', path); }\n\n// House style (matches f03/f04/f07's own pg() call sites): raw string interpolation, no\n// encodeURIComponent -- every value here is a UUID, an ISO-3166 code, a closed-vocabulary\n// slug or a claim-topic string, none of which carry characters PostgREST's querystring\n// parser would choke on.\nfunction filterQs(filters) {\n  return (filters || []).map(f => `${f.column}=${f.op}.${f.value}`).join('&');\n}\nfunction orderQs(order) {\n  return (order || []).map(o => `${o.column}.${o.dir}`).join(',');\n}\n\nconst inp = $json;\nconst attributes = (inp.plan && Array.isArray(inp.plan.attributes)) ? inp.plan.attributes : [];\nconst fetchedRows = {};\nlet error = null;\n\ntry {\n  // score.js's own comment: \"founders is the one reserved key beyond the per-attribute\n  // ones -- api_founders rows used both for display enrichment of scored candidates and as\n  // the universe for the zero-positive fallback.\" Fetched unconditionally, even when\n  // `attributes` is empty.\n  fetchedRows.founders = await pgGet.call(this,\n    'api_founders?select=founder_id,full_name,is_synthetic,founder_score,score_assessed,company_id,company_name,application_id&order=founder_id.asc&limit=2000');\n\n  for (const attr of attributes) {\n    const d = attr.descriptor;\n    if (!d) { fetchedRows[attr.id] = []; continue; }\n\n    if (d.resource === 'api_claims') {\n      const path = `api_claims?select=${d.select}&${filterQs(d.filters)}&order=${orderQs(d.order)}&limit=2000`;\n      fetchedRows[attr.id] = await pgGet.call(this, path);\n      continue;\n    }\n\n    // target.type === 'column' (companies.stage today) -- lib/f10/plan.js's own comment\n    // flags this path as \"not fully specified... no worked example ever uses\n    // target.type:'column', Q1/Q2 do not exercise it\" (design.md B1 report). Neither\n    // required acceptance query reaches this branch. Best-effort n8n-side adaptation, NOT\n    // covered by lib/f10's 82 tests: the descriptor's own filter already applies the `eq`\n    // server-side (every row returned already satisfies the attribute), so this fetches the\n    // matching companies, joins to their CURRENT founder via founder_company, and reshapes\n    // each row into the claims-row shape score.js's classifyRow()/evalOpMatch() expect --\n    // a synthetic `supports`/`documented` evidence entry (no real claim_id, no real\n    // quote/source_url, since this is a structural-column fact, not a claims-ledger entry).\n    const companies = await pgGet.call(this, `${d.resource}?select=${d.select}&${filterQs(d.filters)}&limit=2000`);\n    const companyIds = companies.map(c => c.id).filter(Boolean);\n    let rows = [];\n    if (companyIds.length) {\n      const links = await pgGet.call(this,\n        `founder_company?company_id=in.(${companyIds.join(',')})&is_current=eq.true&select=founder_id,company_id`);\n      const byCompany = new Map(companies.map(c => [c.id, c]));\n      rows = links.map(l => {\n        const c = byCompany.get(l.company_id) || {};\n        const colKey = Object.keys(c).find(k => k !== 'id');\n        return {\n          claim_id: null, founder_id: l.founder_id, topic: null, value: colKey ? c[colKey] : null,\n          verification_status: null, created_at: null,\n          evidence: [{ tier: 'documented', relation: 'supports', strength: null,\n                       quote_verbatim: null, source_url: null, raw_signal_id: null, captured_at: null }],\n        };\n      });\n    }\n    fetchedRows[attr.id] = rows;\n  }\n} catch (e) {\n  error = { kind: 'upstream_timeout', message: 'PostgREST fetch failed: ' + (e && e.message ? e.message : String(e)), hint: null, retryable: true };\n}\n\nreturn [{ json: { ...inp, fetchedRows, error } }];\n"
   },
   "id": "f969bcf4-963c-4cd9-b232-85c97b043d16",
   "name": "Fetch candidates",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    760,
    -260
   ]
  },
  {
   "parameters": {
    "conditions": {
     "options": {
      "caseSensitive": true,
      "leftValue": "",
      "typeValidation": "loose"
     },
     "conditions": [
      {
       "id": "a770d7a3-e79c-4c1b-b7c8-d1b13b53f4ee",
       "leftValue": "={{ !!$json.error }}",
       "rightValue": true,
       "operator": {
        "type": "boolean",
        "operation": "equals"
       }
      }
     ],
     "combinator": "and"
    },
    "options": {}
   },
   "id": "7eeceb67-7097-436d-bdc2-85c6a51321ac",
   "name": "IF: fetch error?",
   "type": "n8n-nodes-base.if",
   "typeVersion": 2,
   "position": [
    1000,
    -260
   ]
  },
  {
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "// ===== SOURCE OF TRUTH: lib/f10/constants.js (verbatim, module.exports stripped -- generated by n8n/build-f10-workflow.py, edit the source, not this) =====\n// lib/f10/constants.js\n// SOURCE OF TRUTH -- do not edit inside the n8n Code node, edit here and re-paste.\n//\n// Shared constants for feature 10's deterministic query-plan executor\n// (lib/f10/plan.js, lib/f10/score.js). Authoritative source: docs/backlog/\n// 10-api-cli-skill/design.md rev.4 \u00a75.4 (constants block), \u00a75.5 (formulas),\n// \u00a75.3 (attribute taxonomy). Every number here is quoted verbatim from that\n// constants block -- do not recompute or \"improve\" any of them without a\n// design.md change first (rev.2's review B4: weights come from a fixed\n// table, never from the LLM, so the same query ranks identically on every\n// run).\n//\n// Self-contained CommonJS, zero imports -- matches lib/f02/normalize.js and\n// lib/f07/vocabulary.js's zero-dependency convention.\n//\n// docs/backlog/10-api-cli-skill/plan.md, task B1.\n\n'use strict';\n\n// ============================================================================\n// \u00a75.4 -- fixed weight table, keyed by attribute `kind`. THIS BUILD SUPPORTS\n// TWO KINDS ONLY (rev.4 -- velocity/text cut; nl-search-resolver-agent-json-\n// schema.json's `kind` enum has exactly these two members). `negative` is a\n// `polarity`, not a `kind` -- a negative attribute is weighted by its\n// subject-matter kind (\u00a75.3: \"negative is NOT a kind... weighted by its\n// subject kind\").\n// ============================================================================\n\nconst WEIGHTS = Object.freeze({\n  provenance: 25,\n  structural: 20,\n});\n\n// \u00a75.5 tier table. `missing` is deliberately ABSENT from this map -- a\n// `missing`-tier claim is never a match (it resolves to the display state\n// `unknown_searched`, scorer-invisible, \u00a75.5); looking it up here would\n// silently coerce \"we looked and found nothing\" into a numeric credit if a\n// caller ever slipped up and used TIER_CREDIT[tier] without the\n// missing-tier guard score.js applies before every lookup.\nconst TIER_CREDIT = Object.freeze({\n  documented: 1.0,\n  discovered: 0.7,\n  inferred: 0.4,\n});\n\n// \u00a75.3 / \u00a75.5 -- a widened match (city asked for, country answered) costs\n// something real in the ranking, not only in the label. Applied as a\n// multiplier on top of TIER_CREDIT, never in place of it.\nconst BROADENING_CREDIT = 0.75;\n\n// \u00a75.5 -- candidates with confidence below this land in the low_confidence[]\n// bucket, never interleaved with the ranked list. Mirrors 07's\n// `min_coverage` / 03's 0.25 threshold (house convention, not a coincidence\n// per design.md's own citation).\nconst CONFIDENCE_FLOOR = 0.25;\n\n// \u00a75.4 rule 5 -- the candidate-gathering cap. NOT a page-size limit (that is\n// the caller's `limit` parameter, applied by the n8n workflow / CLI on top\n// of what this module returns) -- this is \"how many candidates get scored\n// at all\" before the ranked list is even built. `total` reports the\n// post-cap size of the scored set; `truncated` is true only when the\n// pre-cap union exceeded this number (\u00a75.4 rule 5, \u00a75.6).\nconst CANDIDATE_CAP = 200;\n\n// \u00a75.4 rule 6, rev.5 (spec delta, review round 4) -- primary sort key.\n// `rank_score` alone put the LEAST-known founders at the head of the list:\n// one matched attribute at `documented` scores 100, while a founder who\n// satisfies every attribute in a 4-attribute query scores 92.5 (his\n// evidence merely averages 0.93, not 1.0), and the confidence floor does\n// not catch the sparse case -- 1-of-4 assessed lands confidence EXACTLY at\n// the 0.25 floor, which is not `< 0.25`. `coverage` fixes this by counting\n// ASSESSED ATTRIBUTES, never weight -- weight-based bucketing sits exactly\n// on the achievable lattice for equal-weight queries and diverges from its\n// own meaning the moment weights differ by kind (three `provenance` + one\n// `structural` assessed buckets `high` or `mid` depending on WHICH three,\n// if weighted). `confidence` is unchanged, still published, still the\n// floor -- `coverage`/`confidence_bucket` are a NEW, separate, count-based\n// axis, sorted lexicographically ahead of `rank_score` rather than fused\n// into it (invariant #1: independent signals are never collapsed).\n//\n// Sort the ORDINAL INTEGER, never the bucket string -- alphabetically\n// 'high' < 'low' < 'mid', so a naive `DESC` string sort yields\n// mid -> low -> high, the exact inversion of intent, silently.\nconst COVERAGE_BUCKET_ORDINAL = Object.freeze({ high: 3, mid: 2, low: 1 });\n\n// coverage >= 0.75 -> 'high' ; >= 0.5 -> 'mid' ; else 'low'. Thresholds are\n// design.md's own, not tuned here.\nconst COVERAGE_BUCKET_THRESHOLDS = Object.freeze({ high: 0.75, mid: 0.5 });\n\n// \u00a75.5 -- the three-state matching vocabulary, plus the two display-only\n// states carved out by rev.3/rev.4 (`matched_broadened`, `unknown_searched`).\n// Exported as a frozen object so both plan.js and score.js reference the\n// same literal strings rather than each hand-typing them.\nconst STATES = Object.freeze({\n  MATCHED: 'matched',\n  MATCHED_BROADENED: 'matched_broadened',\n  MISMATCH: 'mismatch',\n  UNKNOWN: 'unknown',\n  UNKNOWN_SEARCHED: 'unknown_searched',\n});\n\n// \u00a75.5 -- states that count toward `assessed` (the rank_score denominator).\n// `unknown` and `unknown_searched` are deliberately absent -- both are\n// \"genuinely free\": they lower `confidence` only, never `rank_score`\n// (design.md's own words, twice, for exactly this reason).\nconst ASSESSED_STATES = Object.freeze([STATES.MATCHED, STATES.MATCHED_BROADENED, STATES.MISMATCH]);\n\n// States that contribute to the rank_score NUMERATOR (rev.4 F2 fix:\n// `matched_broadened` belongs here too -- rev.3 left it in `assessed` only,\n// which scored a widened match identically to a mismatch).\nconst CREDITED_STATES = Object.freeze([STATES.MATCHED, STATES.MATCHED_BROADENED]);\n\n// ===== SOURCE OF TRUTH: lib/f10/score.js (verbatim, require()/module.exports stripped) =====\n// lib/f10/score.js\n// SOURCE OF TRUTH -- do not edit inside the n8n Code node, edit here and re-paste.\n//\n// Stage 3 of feature 10's NL-search: pure function `(plan, fetchedRows) ->\n// { items, low_confidence, total, truncated, low_confidence_only, plan }`.\n// No I/O, no database, no network, no LLM -- everything here is arithmetic\n// over data the caller already fetched via lib/f10/plan.js's descriptors\n// (design.md \u00a75.1: \"In-memory scoring over 122 founders is trivially fast\n// and keeps the module zero-dependency and testable against fixtures\").\n// Same shape as lib/f07/rules.js's `evaluateThesis` -- a deterministic\n// evaluator pasted verbatim into an n8n Code node, unit tested here first.\n//\n// Authoritative source for every rule below: docs/backlog/10-api-cli-skill/\n// design.md rev.4 \u00a75.4/\u00a75.5/\u00a75.6, cited inline. Do not recompute any of\n// these formulas from first principles -- they were wrong twice across\n// three spec-review rounds (rev.4 changelog) and are implemented here\n// literally, not \"improved\".\n//\n// docs/backlog/10-api-cli-skill/plan.md, task B1.\n\n'use strict';\n\n\n// ============================================================================\n// Small shared helpers\n// ============================================================================\n\nfunction isPlainObject(v) {\n  return v !== null && typeof v === 'object' && !Array.isArray(v);\n}\n\n// Rounds to 2dp -- same mechanism and rationale as lib/f03/scoring.js's\n// round2: keeps floats from carrying noise into the response, and matches\n// house convention for every other feature's score output.\nfunction round2(value) {\n  return Number(value.toFixed(2));\n}\n\n// ============================================================================\n// \u00a74.3 -- evidence classification for ONE claim row. Returns exactly one of:\n//   { kind: 'mismatch' }\n//   { kind: 'match', tier, evidenceEntry }\n//   { kind: 'unknown_searched' }\n//   { kind: 'inconclusive' }        -- contributes to neither match nor mismatch\n//\n// This is where rev.4's F4 fix lives: tier selection counts\n// `evidence.relation === 'supports'` ONLY; `context` never sets credit; a\n// row whose strongest signal is `contradicts` (or whose claim carries\n// `verification_status='contradicted'`) resolves to `mismatch`, never\n// `matched` -- refuting evidence must never raise a founder's rank (the\n// live DB already holds 3 `contradicts` and 104 `context` rows).\n// ============================================================================\n\nfunction classifyRow(row) {\n  const evidence = Array.isArray(row.evidence) ? row.evidence : [];\n  const contradicts = evidence.filter((e) => e && e.relation === 'contradicts');\n\n  // A decisive, human/pipeline-authored disagreement signal must never be\n  // silently outvoted by a co-existing supports entry on the SAME claim\n  // (\u00a75.5, review round 3 S6 + F4).\n  if (row.verification_status === 'contradicted' || contradicts.length > 0) {\n    return { kind: 'mismatch' };\n  }\n\n  // \u00a74.3: verification_status='missing' claims are DELIBERATE data -- \"we\n  // looked and did not find X\" -- never a match, regardless of what (if\n  // any) evidence rows happen to be attached.\n  if (row.verification_status === 'missing') {\n    return { kind: 'unknown_searched' };\n  }\n\n  // Tier selection filters relation='supports' ONLY (\u00a75.5). A supports-tier\n  // evidence row whose OWN tier is 'missing' is excluded here too --\n  // TIER_CREDIT (constants.js) deliberately has no 'missing' entry, so\n  // \"missing tier never a match\" holds even when relation says supports.\n  const supports = evidence.filter((e) => e && e.relation === 'supports');\n  let best = null;\n  for (const e of supports) {\n    if (!Object.prototype.hasOwnProperty.call(TIER_CREDIT, e.tier)) continue;\n    if (!best || TIER_CREDIT[e.tier] > TIER_CREDIT[best.tier]) best = e;\n  }\n  if (best) return { kind: 'match', tier: best.tier, evidenceEntry: best };\n\n  // No creditable supports evidence. A missing-tier row anywhere on the\n  // claim (even outside `supports`) still reads as \"we looked and found\n  // nothing usable\" -- e.g. a context row with tier='missing' -- otherwise\n  // a claim with no usable evidence at all (context-only, or empty\n  // evidence[]) is 'inconclusive': recorded, but decides nothing.\n  if (evidence.some((e) => e && e.tier === 'missing')) return { kind: 'unknown_searched' };\n  return { kind: 'inconclusive' };\n}\n\n// ============================================================================\n// \u00a74.3 -- \"latest claim per topic\" (supersedes_claim_id is NULL\n// database-wide; fallback is `ORDER BY created_at DESC, id`). Applied WITHIN\n// one candidate's rows for one attribute, before evaluating state -- a\n// provenance family fetch (e.g. founder.expertise.*) can return several\n// distinct topics for the same founder; each topic keeps only its newest row.\n// ============================================================================\n\nfunction isLater(a, b) {\n  const ta = a.created_at ? Date.parse(a.created_at) : NaN;\n  const tb = b.created_at ? Date.parse(b.created_at) : NaN;\n  if (!Number.isNaN(ta) && !Number.isNaN(tb) && ta !== tb) return ta > tb;\n  return String(a.claim_id) > String(b.claim_id); // tiebreak: id, per \u00a74.3\n}\n\nfunction pickLatestPerTopic(rows) {\n  const byTopic = new Map();\n  for (const row of rows) {\n    const existing = byTopic.get(row.topic);\n    if (!existing || isLater(row, existing)) byTopic.set(row.topic, row);\n  }\n  return byTopic;\n}\n\n// ============================================================================\n// evalOpMatch -- does a single claim row's `.value` satisfy the attribute's\n// `op`/`value`? Only meaningful for eq/contains/gte/lte; `exists` never\n// calls this (presence alone is the test, per the family-glob provenance\n// path). `gte`/`lte`/`contains` exist in the JSON schema's op enum but have\n// no worked example anywhere in design.md -- their natural home was the CUT\n// `velocity` kind (metric thresholds); implemented here for schema\n// completeness, not exercised by any required \u00a79 test, flagged in the B1\n// report.\n// ============================================================================\n\nfunction evalOpMatch(op, rowValue, target) {\n  switch (op) {\n    case 'eq':\n      return rowValue === target;\n    case 'contains':\n      if (Array.isArray(rowValue)) return rowValue.includes(target);\n      if (typeof rowValue === 'string') return rowValue.includes(String(target));\n      return false;\n    case 'gte':\n      return typeof rowValue === 'number' && typeof target === 'number' && rowValue >= target;\n    case 'lte':\n      return typeof rowValue === 'number' && typeof target === 'number' && rowValue <= target;\n    default:\n      return false;\n  }\n}\n\n// ============================================================================\n// \u00a75.5 -- per-candidate, per-POSITIVE-attribute state resolution.\n//\n//   rows.length === 0                           -> unknown\n//   any qualifying row classifies 'mismatch'     -> mismatch (always wins --\n//                                                    a refuted claim is never\n//                                                    eligible to match)\n//   else any qualifying row classifies 'match'   -> matched / matched_broadened,\n//                                                    tier = best across qualifying rows\n//   else eq-only: a DIFFERENT, genuinely-matched -> mismatch (a real,\n//        (non-contradicted) value exists            evidenced, different value\n//                                                    IS a positive disagreement --\n//                                                    contrast a context-only or\n//                                                    unknown_searched row with a\n//                                                    different value, which is\n//                                                    too weak a signal and does\n//                                                    NOT force mismatch)\n//   else any qualifying row is unknown_searched  -> unknown_searched\n//   else (context-only / inconclusive rows only) -> unknown\n// ============================================================================\n\nfunction resolvePositiveAttributeForCandidate(attr, rowsForFounder) {\n  if (!rowsForFounder || rowsForFounder.length === 0) return { state: STATES.UNKNOWN };\n\n  const latest = pickLatestPerTopic(rowsForFounder);\n\n  let bestMatch = null; // { tier, row, evidenceEntry }\n  let sawMismatch = false;\n  let mismatchRow = null;\n  let sawUnknownSearched = false;\n  let unknownSearchedRow = null;\n\n  for (const row of latest.values()) {\n    const classified = classifyRow(row);\n\n    if (classified.kind === 'mismatch') {\n      sawMismatch = true;\n      mismatchRow = mismatchRow || row;\n      continue;\n    }\n\n    if (attr.op !== 'exists') {\n      const qualifies = evalOpMatch(attr.op, row.value, attr.value);\n      if (!qualifies) {\n        if (attr.op === 'eq' && classified.kind === 'match') {\n          // The claim genuinely, evidently asserts a DIFFERENT value than\n          // what was asked for -- a positive disagreement, not silence.\n          sawMismatch = true;\n          mismatchRow = mismatchRow || row;\n        }\n        continue;\n      }\n    }\n\n    if (classified.kind === 'match') {\n      if (!bestMatch || TIER_CREDIT[classified.tier] > TIER_CREDIT[bestMatch.tier]) {\n        bestMatch = { tier: classified.tier, row, evidenceEntry: classified.evidenceEntry };\n      }\n      continue;\n    }\n    if (classified.kind === 'unknown_searched') {\n      sawUnknownSearched = true;\n      unknownSearchedRow = unknownSearchedRow || row;\n    }\n    // 'inconclusive' -- no contribution, keep looking at the other topics.\n  }\n\n  if (sawMismatch) return { state: STATES.MISMATCH, evidenceRow: mismatchRow };\n  if (bestMatch) {\n    const state = attr.broadening ? STATES.MATCHED_BROADENED : STATES.MATCHED;\n    return { state, tier: bestMatch.tier, evidenceRow: bestMatch.row, evidenceEntry: bestMatch.evidenceEntry };\n  }\n  if (sawUnknownSearched) return { state: STATES.UNKNOWN_SEARCHED, evidenceRow: unknownSearchedRow };\n  return { state: STATES.UNKNOWN };\n}\n\n// ============================================================================\n// \u00a75.4 rule 3 (per-candidate form) -- a negative resolves `matched` ONLY for\n// candidates that have SOME evidence in the target's topic family; a\n// candidate with none resolves `unknown`. No mismatch state for negatives\n// (design.md's own text enumerates exactly these two outcomes for the\n// per-candidate rule) -- negatives are a binary \"did we investigate this\n// area for this candidate at all\" test, not a value comparison.\n//\n// A matched negative takes tier_credit 1.0 unconditionally (JSON schema:\n// \"there is no claim to read a tier from, and the evidence-presence test...\n// IS its assessment\").\n// ============================================================================\n\nfunction resolveNegativeAttributeForCandidate(rowsForFounder) {\n  if (!rowsForFounder || rowsForFounder.length === 0) return { state: STATES.UNKNOWN };\n  return { state: STATES.MATCHED, claimIds: rowsForFounder.map((r) => r.claim_id).filter((id) => id != null) };\n}\n\n// ============================================================================\n// Row bookkeeping -- group a flat row array by founder_id once per\n// attribute, rather than re-scanning on every candidate (122 founders is\n// trivially fast either way, but this keeps the per-candidate loop O(1)\n// lookups instead of O(n) filters).\n// ============================================================================\n\nfunction groupByFounder(rows) {\n  const map = new Map();\n  for (const row of Array.isArray(rows) ? rows : []) {\n    if (!row || row.founder_id == null) continue;\n    if (!map.has(row.founder_id)) map.set(row.founder_id, []);\n    map.get(row.founder_id).push(row);\n  }\n  return map;\n}\n\nfunction buildFounderMetaMap(founders) {\n  const map = new Map();\n  for (const f of Array.isArray(founders) ? founders : []) {\n    if (f && f.founder_id != null) map.set(f.founder_id, f);\n  }\n  return map;\n}\n\n// api_founders' documented column is `score_assessed` (\u00a74.1); the search\n// response's own field is `founder_score_assessed` (\u00a75.6 example) --\n// distinct names for the same fact. Read either shape defensively so a\n// fixture (or a caller that already renamed it) works either way.\nfunction founderDisplay(founderId, metaMap) {\n  const meta = metaMap.get(founderId) || {};\n  return {\n    founder_id: founderId,\n    full_name: meta.full_name != null ? meta.full_name : null,\n    is_synthetic: meta.is_synthetic === true,\n    company_id: meta.company_id != null ? meta.company_id : null,\n    company_name: meta.company_name != null ? meta.company_name : null,\n    application_id: meta.application_id != null ? meta.application_id : null,\n    founder_score: typeof meta.founder_score === 'number' ? meta.founder_score : null,\n    founder_score_assessed: meta.founder_score_assessed === true || meta.score_assessed === true,\n  };\n}\n\n// ============================================================================\n// \u00a75.4 rule 4 -- candidate gathering: union of founder_ids from POSITIVE\n// attributes' fetched rows ONLY (negatives never generate candidates).\n// Each attribute's own fetch is assumed already `ORDER BY founder_id`\n// (the descriptor says so, lib/f10/plan.js); the union is re-sorted here so\n// the FINAL 200-cap slice is deterministic regardless of fetch order\n// between attributes (\u00a75.4: \"so *which* 200 is deterministic\" -- this\n// module treats that guarantee as applying to the scored set as a whole,\n// documented as an interpretation call in the B1 report: design.md's\n// \"each fetch ordered... before the 200-row cap\" phrasing is compatible\n// with either \"cap each fetch\" or \"cap the union\"; the union-cap reading is\n// the only one consistent with \u00a75.4 rule 5's own definition of `total` as\n// \"size of the SCORED candidate set\" and `truncated` as a single, singular\n// 200-candidate cap).\n// ============================================================================\n\nfunction gatherCandidateIds(positiveAttrs, fetchedRows) {\n  const idSet = new Set();\n  for (const attr of positiveAttrs) {\n    const rows = Array.isArray(fetchedRows[attr.id]) ? fetchedRows[attr.id] : [];\n    for (const row of rows) {\n      if (row && row.founder_id != null) idSet.add(row.founder_id);\n    }\n  }\n  const sorted = [...idSet].sort();\n  return {\n    ids: sorted.slice(0, CANDIDATE_CAP),\n    truncated: sorted.length > CANDIDATE_CAP,\n  };\n}\n\n// ============================================================================\n// \u00a75.5 -- per-attribute response view (the `attributes[]` entry inside a\n// search hit, \u00a75.6). `evidence_quality` (per-candidate, computed below in\n// scoreCandidate) is NOT shown in \u00a75.6's illustrative JSON, but \u00a75.5 defines\n// it as a formula explicitly meant to travel WITH rank_score/confidence\n// (\"the pair is read together exactly as value + confidence is for the\n// axes\") -- included here on that basis; flagged as a doc gap in the B1\n// report (the example simply was not updated when F5 added the formula).\n// ============================================================================\n\nfunction buildAttributeView(attr, resolved, tierCredit) {\n  const view = {\n    id: attr.id,\n    label: attr.label,\n    kind: attr.kind,\n    polarity: attr.polarity,\n    state: resolved.state,\n    weight: attr.weight,\n    tier_credit: tierCredit,\n  };\n  if (attr.broadening) {\n    view.broadening = attr.broadening;\n    view.resolved_as = attr.resolved_as;\n  }\n\n  if (resolved.state === STATES.MATCHED || resolved.state === STATES.MATCHED_BROADENED) {\n    if (attr.polarity === 'negative') {\n      view.evidence = { claim_ids: resolved.claimIds || [] };\n    } else {\n      const row = resolved.evidenceRow || {};\n      const entry = resolved.evidenceEntry || {};\n      view.evidence = {\n        claim_id: row.claim_id != null ? row.claim_id : null,\n        quote_verbatim: entry.quote_verbatim != null ? entry.quote_verbatim : (row.text_verbatim != null ? row.text_verbatim : null),\n        source_url: entry.source_url != null ? entry.source_url : null,\n        tier: resolved.tier,\n      };\n    }\n  } else if (resolved.state === STATES.MISMATCH) {\n    const row = resolved.evidenceRow || {};\n    view.evidence = { claim_id: row.claim_id != null ? row.claim_id : null };\n    view.note = 'evidence contradicts this attribute';\n  } else if (resolved.state === STATES.UNKNOWN_SEARCHED) {\n    view.evidence = null;\n    view.note = 'we looked and found nothing recorded -- lowers confidence, not rank';\n  } else {\n    view.evidence = null;\n    view.note = 'no data -- lowers confidence, not rank';\n  }\n  return view;\n}\n\n// ============================================================================\n// \u00a75.4 rule 6, rev.5 -- `coverage` / `confidence_bucket`. A SEPARATE,\n// count-based axis from `confidence` (weight-based) -- computed here so\n// bucketing never depends on WHICH attributes assessed, only how many\n// (constants.js's own rationale). `coverage` is the raw fraction (used for\n// the threshold test); the DISPLAYED value is rounded like every other\n// numeric field.\n// ============================================================================\n\nfunction computeCoverageBucket(coverage) {\n  if (coverage >= COVERAGE_BUCKET_THRESHOLDS.high) return 'high';\n  if (coverage >= COVERAGE_BUCKET_THRESHOLDS.mid) return 'mid';\n  return 'low';\n}\n\n// ============================================================================\n// \u00a75.5 formulas, applied to ONE candidate across every attribute in the\n// plan -- implemented literally, per the task brief:\n//\n//   assessed         = \u03a3 weight where state \u2208 {matched, matched_broadened, mismatch}\n//   credit(a)        = tier_credit(a) \u00d7 (a.broadening ? BROADENING_CREDIT : 1.0)\n//   rank_score       = \u03a3 (weight \u00d7 credit) where state \u2208 {matched, matched_broadened}\n//                       \u00f7 assessed \u00d7 100          (assessed === 0 -> null, NEVER 0/100)\n//   confidence       = assessed \u00f7 \u03a3 weight(all attributes in the plan)\n//   evidence_quality = mean(tier_credit(a)) over matched + matched_broadened\n//                       (RAW tier_credit, before the broadening discount --\n//                       \"evidence_quality\" measures how good the evidence\n//                       was, not how much the match cost after widening)\n//   coverage         = |{a : state \u2208 assessed}| / |{a : resolvable}|   -- COUNT, not weight\n//                       (\"resolvable\" = every attribute that made it into\n//                       the compiled plan; unresolvable[] attributes never\n//                       became attributes at all, so `attributes.length`\n//                       already IS that count)\n//   confidence_bucket = coverage >= 0.75 ? 'high' : coverage >= 0.5 ? 'mid' : 'low'\n// ============================================================================\n\nfunction scoreCandidateAttributes(founderId, attributes, rowsByAttrFounder) {\n  let assessed = 0;\n  let assessedCount = 0;\n  let numerator = 0;\n  let tierSum = 0;\n  let tierCount = 0;\n  const totalWeight = attributes.reduce((sum, a) => sum + a.weight, 0);\n\n  const attributeViews = attributes.map((attr) => {\n    const founderRows = rowsByAttrFounder.get(attr.id).get(founderId) || [];\n    const resolved = attr.polarity === 'negative'\n      ? resolveNegativeAttributeForCandidate(founderRows)\n      : resolvePositiveAttributeForCandidate(attr, founderRows);\n\n    if (ASSESSED_STATES.includes(resolved.state)) {\n      assessed += attr.weight;\n      assessedCount += 1;\n    }\n\n    let tierCredit = null;\n    if (CREDITED_STATES.includes(resolved.state)) {\n      const base = attr.polarity === 'negative' ? 1.0 : TIER_CREDIT[resolved.tier];\n      tierCredit = round2(base * (attr.broadening ? BROADENING_CREDIT : 1.0));\n      numerator += attr.weight * tierCredit;\n      tierSum += base;\n      tierCount += 1;\n    }\n\n    return buildAttributeView(attr, resolved, tierCredit);\n  });\n\n  const coverage = attributes.length > 0 ? assessedCount / attributes.length : 0;\n\n  return {\n    rank_score: assessed > 0 ? round2((numerator / assessed) * 100) : null,\n    confidence: totalWeight > 0 ? round2(assessed / totalWeight) : 0,\n    coverage: round2(coverage),\n    confidence_bucket: computeCoverageBucket(coverage),\n    evidence_quality: tierCount > 0 ? round2(tierSum / tierCount) : null,\n    attributes: attributeViews,\n  };\n}\n\n// ============================================================================\n// \u00a75.4 rule 6, rev.6 -- total ordering: `has_match DESC, bucket_ordinal\n// DESC, rank_score DESC NULLS LAST, founder_id ASC`, where\n// `has_match = rank_score > 0`. `confidence` is DELIBERATELY not a sort key\n// (rev.4's `rank_score DESC, confidence DESC, founder_id ASC` is\n// superseded) -- it is still published on every item, just not used to\n// order the list. `founder_id` is the unique final key, so the order is\n// total regardless of which comparator is in play.\n//\n// `has_match` LEADS the sort (rev.6 -- found by running Q2 live against the\n// deployed workflow, after the bucket order was already approved). Bucket\n// -first ordering optimises for *how much we assessed* over *whether it\n// matches*, and at the extreme that inverts: live Q2 put a founder with\n// `rank_score = 0` (two demonstrable `mismatch`es, one `unknown`) at\n// position 1, above nine founders at `rank_score = 100`, purely because his\n// coverage (0.67, `mid`) beat theirs (0.33, `low`). \"We know this person\n// well and they do not fit\" is not the best answer to a search query.\n// Zero-match candidates stay in `items[]` -- they are honest output (\"we\n// assessed these and nothing matched\") -- they just sink below every\n// candidate with any match at all.\n//\n// Checked against the case that motivated bucketing in the first place: a\n// 1-of-4 documented match (rank 100, bucket `low`) and a 4-of-4 match (rank\n// 92.5, bucket `high`) BOTH have `has_match = true` (rank_score > 0 for\n// both), so this new leading term does not separate them and the bucket\n// still decides -- 92.5 correctly stays above 100. No regression (asserted\n// by a dedicated test, kept deliberately next to the new has_match\n// regression test below it, since the two pull in opposite directions and\n// a fix for one can silently break the other).\n//\n// Two comparators, matching the two states \u00a75.4/\u00a75.5 actually describe:\n//   compareByBucket   -- the default. Leads with has_match, then sorts the\n//                         bucket ORDINAL INTEGER (never the bucket string --\n//                         alphabetically 'high' < 'low' < 'mid', so a naive\n//                         string DESC sort silently inverts to\n//                         mid -> low -> high).\n//   compareByRankOnly -- used ONLY when `low_confidence_only` fires: every\n//                         candidate is below the floor and carries\n//                         `confidence_bucket: null` (rule 6), so bucket\n//                         cannot be the primary key -- falls back to\n//                         `rank_score DESC NULLS LAST, founder_id ASC`\n//                         (unchanged by rev.6 -- design.md's own rule 6\n//                         text for this branch was not touched, and\n//                         plain `rank_score DESC` already sinks a\n//                         zero-match candidate below every positive-rank\n//                         one on its own, so no extra `has_match` term is\n//                         needed here).\n// `null` rank_score (assessed === 0) sorts after every non-null value in\n// BOTH comparators -- an unassessed candidate is never presented as\n// ranking above an assessed one. `has_match` is false for `rank_score:\n// null` too (typeof null !== 'number'), so an unassessed candidate never\n// benefits from the leading term either -- it sinks with the mismatched\n// ones, below every candidate with a real match.\n// ============================================================================\n\nfunction compareRankThenFounder(a, b) {\n  if (a.rank_score !== b.rank_score) {\n    if (a.rank_score === null) return 1;\n    if (b.rank_score === null) return -1;\n    return b.rank_score - a.rank_score;\n  }\n  if (a.founder_id < b.founder_id) return -1;\n  if (a.founder_id > b.founder_id) return 1;\n  return 0;\n}\n\n// has_match = rank_score > 0 (rev.6). `typeof item.rank_score === 'number'`\n// guards the `assessed === 0` case (`rank_score: null`) -- `null > 0` is\n// already `false` in JS, but the explicit typeof check keeps this readable\n// as \"a real, positive rank\", not an accident of loose comparison.\nfunction hasMatch(item) {\n  return typeof item.rank_score === 'number' && item.rank_score > 0;\n}\n\nfunction compareByBucket(a, b) {\n  const matchA = hasMatch(a);\n  const matchB = hasMatch(b);\n  if (matchA !== matchB) return matchA ? -1 : 1; // has_match DESC\n\n  const ordA = COVERAGE_BUCKET_ORDINAL[a.confidence_bucket] || 0;\n  const ordB = COVERAGE_BUCKET_ORDINAL[b.confidence_bucket] || 0;\n  if (ordA !== ordB) return ordB - ordA; // DESC on the ORDINAL, never the string\n  return compareRankThenFounder(a, b);\n}\n\nfunction compareByRankOnly(a, b) {\n  return compareRankThenFounder(a, b);\n}\n\n// ============================================================================\n// `plan` echo (\u00a75.6: \"plan is echoed so the caller sees how its words were\n// interpreted\"). Strips the internal `descriptor` field (lib/f10/plan.js) --\n// that is a PostgREST fetch instruction, not something the calling human or\n// agent needs to see.\n// ============================================================================\n\nfunction echoPlan(plan) {\n  return {\n    attributes: (plan.attributes || []).map((a) => {\n      const out = {\n        id: a.id, label: a.label, kind: a.kind, polarity: a.polarity,\n        target: a.target, op: a.op, weight: a.weight,\n      };\n      if (a.value !== null && a.value !== undefined) out.value = a.value;\n      if (a.broadening) {\n        out.broadening = a.broadening;\n        out.resolved_as = a.resolved_as;\n      }\n      return out;\n    }),\n    unresolvable: (plan.unresolvable || []).map((u) => ({ label: u.label, reason: u.reason })),\n  };\n}\n\n// ============================================================================\n// \u00a75.4 rule 4, zero-positive fallback -- \"fall back to all founders ordered\n// by founder_score DESC NULLS LAST, every attribute unknown, confidence: 0,\n// and a note explaining why.\" lib/f10/score.js has no database access, so\n// the candidate universe for this path comes from `fetchedRows.founders`\n// (the n8n workflow is expected to fetch api_founders unconditionally, the\n// same way it must for display-metadata enrichment on the normal path --\n// documented as the module's one reserved fetchedRows key, alongside the\n// per-attribute-id keys).\n// ============================================================================\n\nfunction zeroPositiveFallback(founders, attributes, echoedPlan) {\n  const list = Array.isArray(founders) ? founders.slice() : [];\n  list.sort((a, b) => {\n    const fa = typeof a.founder_score === 'number' ? a.founder_score : -Infinity;\n    const fb = typeof b.founder_score === 'number' ? b.founder_score : -Infinity;\n    if (fb !== fa) return fb - fa; // DESC, NULLS LAST\n    return String(a.founder_id) < String(b.founder_id) ? -1 : 1;\n  });\n  const truncated = list.length > CANDIDATE_CAP;\n  const capped = list.slice(0, CANDIDATE_CAP);\n\n  const forcedAttributes = attributes.map((attr) => ({\n    id: attr.id, label: attr.label, kind: attr.kind, polarity: attr.polarity,\n    state: STATES.UNKNOWN, weight: attr.weight, tier_credit: null, evidence: null,\n    note: 'zero resolvable positive attributes in this query -- nothing was fetched to assess it against',\n  }));\n\n  const items = capped.map((f) => {\n    const metaMap = new Map([[f.founder_id, f]]);\n    return {\n      ...founderDisplay(f.founder_id, metaMap),\n      rank_score: null,\n      confidence: 0,\n      // \u00a75.4 rule 4's fallback is a SEPARATE escape hatch from rule 6's\n      // low_confidence_only bucket-nulling -- computed literally per the\n      // formula (0 assessed of N attributes -> coverage 0 -> bucket 'low'\n      // uniformly for every item here) rather than special-cased to null;\n      // it carries no ranking weight either way since this path's own\n      // order is founder_score DESC NULLS LAST, not the bucket sort.\n      coverage: 0,\n      confidence_bucket: attributes.length > 0 ? 'low' : null,\n      evidence_quality: null,\n      attributes: forcedAttributes,\n    };\n  });\n\n  return {\n    items,\n    low_confidence: [],\n    total: capped.length,\n    truncated,\n    low_confidence_only: false,\n    note: 'no attribute in this query resolved to a positive, queryable target -- returning all founders ordered by founder_score, unassessed',\n    plan: echoedPlan,\n  };\n}\n\n// ============================================================================\n// score(plan, fetchedRows) -- the module's one entry point.\n//\n//   plan        -- the COMPILED plan from lib/f10/plan.js's validatePlan()\n//                  (`{ attributes: [...], unresolvable: [...] }`, each\n//                  attribute already carrying its `weight` and `descriptor`).\n//   fetchedRows -- `{ [attribute.id]: Row[], founders: FounderRow[] }`.\n//                  Row shape matches api_claims (design \u00a74.3) for\n//                  claim_topic attributes: `{ claim_id, founder_id, topic,\n//                  value, verification_status, created_at, evidence[] }`.\n//                  `founders` is the one reserved key beyond the\n//                  per-attribute ones -- api_founders rows used both for\n//                  display enrichment of scored candidates and as the\n//                  universe for the zero-positive fallback.\n// ============================================================================\n\nfunction score(plan, fetchedRows) {\n  const compiledPlan = isPlainObject(plan) ? plan : {};\n  const attributes = Array.isArray(compiledPlan.attributes) ? compiledPlan.attributes : [];\n  const unresolvable = Array.isArray(compiledPlan.unresolvable) ? compiledPlan.unresolvable : [];\n  const rows = isPlainObject(fetchedRows) ? fetchedRows : {};\n\n  const echoedPlan = echoPlan({ attributes, unresolvable });\n  const positiveAttrs = attributes.filter((a) => a.polarity !== 'negative');\n\n  if (positiveAttrs.length === 0) {\n    return zeroPositiveFallback(rows.founders, attributes, echoedPlan);\n  }\n\n  const rowsByAttrFounder = new Map();\n  for (const attr of attributes) {\n    rowsByAttrFounder.set(attr.id, groupByFounder(rows[attr.id]));\n  }\n\n  const { ids: candidateIds, truncated } = gatherCandidateIds(positiveAttrs, rows);\n\n  if (candidateIds.length === 0) {\n    return {\n      items: [],\n      low_confidence: [],\n      total: 0,\n      truncated: false,\n      low_confidence_only: false,\n      note: 'no candidate carried any evidence for a positive attribute in this plan',\n      plan: echoedPlan,\n    };\n  }\n\n  const founderMeta = buildFounderMetaMap(rows.founders);\n  const scored = candidateIds.map((founderId) => {\n    const result = scoreCandidateAttributes(founderId, attributes, rowsByAttrFounder);\n    return { ...founderDisplay(founderId, founderMeta), ...result };\n  });\n\n  const main = scored.filter((it) => it.confidence >= CONFIDENCE_FLOOR);\n  const low = scored.filter((it) => it.confidence < CONFIDENCE_FLOOR);\n\n  // \u00a75.5 -- \"if NO candidate clears the floor, items[] is populated anyway\"\n  // (rev.4 F3): the bucket [array] exists to stop weak hits outranking\n  // strong ones, never to make the endpoint return nothing.\n  const noCandidateClearedFloor = main.length === 0 && scored.length > 0;\n\n  if (noCandidateClearedFloor) {\n    // \u00a75.4 rule 6, rev.5 review round 4 F9: every candidate is below the\n    // floor and has no confidence_bucket (nulled below, distinct from\n    // low_confidence_only[]'s array bucketing) -- the primary sort key\n    // falls back to rank_score DESC NULLS LAST, founder_id ASC, or the\n    // order would depend on sort stability with a null key on every row.\n    const items = scored.map((it) => ({ ...it, confidence_bucket: null }));\n    items.sort(compareByRankOnly);\n    return {\n      items,\n      low_confidence: [],\n      total: candidateIds.length,\n      truncated,\n      low_confidence_only: true,\n      note: `no candidate reached the confidence floor (${CONFIDENCE_FLOOR}) -- showing every scored candidate ranked by rank_score rather than an empty result`,\n      plan: echoedPlan,\n    };\n  }\n\n  main.sort(compareByBucket);\n  low.sort(compareByBucket);\n\n  return {\n    items: main,\n    low_confidence: low,\n    total: candidateIds.length,\n    truncated,\n    low_confidence_only: false,\n    note: null,\n    plan: echoedPlan,\n  };\n}\n\n\n// score() is lib/f10/score.js's one entry point -- pasted verbatim above.\nconst inp = $json;\nconst result = score(inp.plan, inp.fetchedRows);\nreturn [{ json: { ...inp, scoreResult: result, error: null } }];\n"
   },
   "id": "337b0123-b73c-4c2d-8089-b82ef1bf1512",
   "name": "Score",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    1240,
    -260
   ],
   "notes": "SOURCE OF TRUTH: lib/f10/score.js + lib/f10/constants.js -- do not edit here, edit there and re-run n8n/build-f10-workflow.py."
  },
  {
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "\n// design.md SS5.6/SS5.7 -- the single terminal node every branch (error and success)\n// converges on (IF/Switch reconverge without a Merge node is the sanctioned pattern in this\n// repo's n8n build -- confirmed against f07-thesis-gate.json's own \"Build attributes for\n// evaluation\" node, which receives two wires from mutually-exclusive IF branches the same\n// way). responseMode:lastNode returns whatever this node outputs.\nconst inp = $json;\n\nif (inp.error) {\n  return [{ json: { error: inp.error } }];\n}\n\nconst sr = inp.scoreResult || {};\nconst limit = Number(inp.limit) > 0 ? Math.floor(Number(inp.limit)) : 10;\n// design.md SS5.4 rule 5: `limit` bounds items[] only -- `total` reports the full scored\n// candidate count regardless, and `truncated` refers to the 200-candidate cap, never to\n// `total > limit` (that comparison is normal and expected).\nconst items = Array.isArray(sr.items) ? sr.items.slice(0, limit) : [];\n\nreturn [{ json: {\n  query: inp.query,\n  plan: sr.plan || null,\n  items,\n  low_confidence: Array.isArray(sr.low_confidence) ? sr.low_confidence : [],\n  total: typeof sr.total === 'number' ? sr.total : 0,\n  truncated: sr.truncated === true,\n  low_confidence_only: sr.low_confidence_only === true,\n  note: sr.note || null,\n} }];\n"
   },
   "id": "9346a0c9-c0d0-4832-a3eb-3e18710f8b72",
   "name": "Build response",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    1480,
    0
   ]
  },
  {
   "parameters": {
    "content": "# f10-nl-search\n\nPOST /webhook/f10-nl-search  { \"query\": \"<nl>\", \"limit\": 10 }\n\nResolver (LLM, gpt-5.6-luna) classifies the query into typed attributes against a live corpus catalogue -- it never sees the database, never ranks anyone. lib/f10/plan.js validates the plan and turns it into PostgREST descriptors; this workflow fetches them; lib/f10/score.js scores in memory. Design: docs/backlog/10-api-cli-skill/design.md \u00a75.\n\nThree IF gates (input error / plan error / fetch error) all converge on \"Build response\" -- mutually exclusive branches, no Merge node needed (see f07-thesis-gate.json's own \"Build attributes for evaluation\" node for the same sanctioned pattern in this repo).",
    "height": 260,
    "width": 640
   },
   "id": "bcf96801-431a-4a78-8bc3-3b5450b0d27e",
   "name": "Overview",
   "type": "n8n-nodes-base.stickyNote",
   "typeVersion": 1,
   "position": [
    -1400,
    -420
   ]
  },
  {
   "parameters": {
    "content": "OpenAI Structured Outputs rejects a root-level oneOf/anyOf and rejects allOf, and requires every property to be `required` (no true-optional keys). The wire schema (built in n8n/build-f10-workflow.py, embedded in \"Build resolver request\") is a plan-only, null-widened transform of nl-search-resolver-agent-json-schema.json -- NOT the file itself. \"Parse resolver response\" strips the resulting literal nulls (value/broadening/resolved_as) back to absent keys before lib/f10/plan.js sees them, because plan.js expects \"not applicable\" to mean absent, not null, and is pasted verbatim (unmodified). Verified live against both Q1 and Q2, 2026-07-19.",
    "height": 220,
    "width": 720
   },
   "id": "6ce1cf1a-6da0-43cb-b959-d613221e0f71",
   "name": "Schema deviation -- read before editing the resolver call",
   "type": "n8n-nodes-base.stickyNote",
   "typeVersion": 1,
   "position": [
    -440,
    -420
   ]
  }
 ],
 "connections": {
  "Webhook Trigger": {
   "main": [
    [
     {
      "node": "Normalize input",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Normalize input": {
   "main": [
    [
     {
      "node": "IF: input error?",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "IF: input error?": {
   "main": [
    [
     {
      "node": "Build response",
      "type": "main",
      "index": 0
     }
    ],
    [
     {
      "node": "Build catalogue",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Build catalogue": {
   "main": [
    [
     {
      "node": "Build resolver request",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Build resolver request": {
   "main": [
    [
     {
      "node": "OpenAI: nl-search-resolver (luna)",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "OpenAI: nl-search-resolver (luna)": {
   "main": [
    [
     {
      "node": "Parse resolver response",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Parse resolver response": {
   "main": [
    [
     {
      "node": "Validate plan",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Validate plan": {
   "main": [
    [
     {
      "node": "IF: plan error?",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "IF: plan error?": {
   "main": [
    [
     {
      "node": "Build response",
      "type": "main",
      "index": 0
     }
    ],
    [
     {
      "node": "Fetch candidates",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Fetch candidates": {
   "main": [
    [
     {
      "node": "IF: fetch error?",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "IF: fetch error?": {
   "main": [
    [
     {
      "node": "Build response",
      "type": "main",
      "index": 0
     }
    ],
    [
     {
      "node": "Score",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Score": {
   "main": [
    [
     {
      "node": "Build response",
      "type": "main",
      "index": 0
     }
    ]
   ]
  }
 },
 "active": false,
 "settings": {
  "executionOrder": "v1",
  "saveManualExecutions": true,
  "timezone": "UTC"
 },
 "pinData": {},
 "meta": {
  "templateCredsSetupCompleted": true
 }
}